

.seslangtranslator_nav_btns{
	float:right;
	margin-top:-50px;
}
.seslangtranslator_nav_btns a,
.seslangtranslator_nav_btns span{
	display:inline-block;
	vertical-align:middle;
	margin:0 0px 0 6px;
	font-weight:bold;
}
.seslangtranslator_nav_btns a.request-btn{
	background-color:#3BB6CE;
	color:#fff !important;
	padding:10px 15px;
	border-radius:3px;
	background-position:7px;
	text-decoration:none !important;
}
.seslangtranslator_nav_btns a.request-btn:hover{
	opacity:.9;
}
.fa-language:before{
  content:"\\f1ab";
}
.sesbasic_waiting_msg_box_cont a.close{
  background-color:#5ba1cd;
  color:#fff;
  padding:10px;
  position:absolute;
  bottom:10px;
  font-size:17px;
  left:50%;
  transform:translateX(-50%);
  border-radius:5px;
}
.sesbasic_waiting_msg_box_cont a.close:hover{
  text-decoration:none;
  opacity:.8;
}