/*Social Icons*/
.sesbusinessteam-social-icon a{
	border:1px solid #ccc;
	border-radius:5px;
	display:inline-block;
	height:25px;
	margin:2px;
	text-align:center;
	text-decoration:none;
	vertical-align:middle;
	float:left;
	width:26px;
}
[dir="rtl"] .sesbusinessteam-social-icon a{
	float:right;
}
.sesbusinessteam-social-icon.bordernone a{
  border-width:0;
}
.sesbusinessteam-social-icon a i{
  line-height:20px;
  margin:2px 0;
}
/*Social Icons Hover Effect*/
.sesbusinessteam-social-icon a:hover i.fa-facebook:before{
  color:#4f62af;
}
.sesbusinessteam-social-icon a:hover i.fa-twitter:before{
  color:#55acee;
}
.sesbusinessteam-social-icon a:hover i.fa-google-plus:before{
  color:#e02f2f;
}
.sesbusinessteam-social-icon a:hover i.fa-linkedin:before{
  color:#0083be;
}
.sesbusinessteam-social-icon a:hover i.fa-link:before{
  color:#111;
}
.sesbusinessteam-social-icon a:hover i.fa-globe:before{
  color:#82b9d7;
}
.sesbusinessteam-social-icon a:hover i.fa-envelope:before{
  color:#82b9d7;
}
/*SEARCH RESULT MESSAGE*/
.sesbusinessteam_result_tip{
  border-bottom-width:1px;
  margin-bottom:15px;
  padding:10px 0;
}

/*Manage Team*/
.sesbusiness_dashboard_team_content h4{
	font-weight: bold;
	border-width: 0;
	margin-top: 0;
	font-size: 17px;
	padding: 0;
}
.sesbusinessteam_dashboard_team_desination_section{
	background-image:url(../images/transprant-bg.png);
	margin: 0 -20px;
	padding: 20px;
}
.sesbusiness_dashboard_team_desinations li{
	padding:5px 0;
}
.sesbusiness_dashboard_team_desinations li + li{
	border-top-width:1px;
}
.sesbusiness_dashboard_team_desinations li ._title{
	float:left;
	font-weight:bold;
	line-height:30px;
}
.sesbusiness_dashboard_team_desinations li ._btns{
	float:right;
}
.sesbusiness_dashboard_team_desinations li ._btns a{
	float:left;
	margin-left:5px;
	height:30px;
	width:30px;
	text-align:center;
	line-height:30px;
	padding:0;
}
.sesbusiness_dashboard_team_desinations li ._btns a i{
	margin:0;
}
.sesbusinessteam_dashboard_team_section{
	margin-top:20px;
}
.sesbusinessteam_dashboard_member{
	padding:15px 0;
	border-top-width:1px;
	display:flex;
	flex-wrap:wrap;
}
.sesbusinessteam_dashboard_member:nth-child(1){
	padding-top:0;
	border-top-width:0;
}
.sesbusinessteam_dashboard_member ._map{
	width:30%;
	min-height:250px;
	background-color:#CCC;
	order:1;
}
.sesbusinessteam_dashboard_member ._cont{
	order:2;
	width:70%;
	padding-left:15px;
}
.sesbusinessteam_dashboard_member ._cont ._title{
	background-image:url(../images/transprant-bg.png);
	font-size:17px;
	padding:10px 15px;
}
.sesbusinessteam_dashboard_member ._cont ._title span{
	float:right;
}
.sesbusinessteam_dashboard_member ._cont ._title span a{
	margin-left:10px;
	text-decoration:none !important;
}
.sesbusinessteam_dashboard_member ._cont ._info{
	padding:10px 15px;
}
.sesbusinessteam_dashboard_member ._cont ._infof{
	margin-bottom:5px;
	overflow:hidden;
}
.sesbusinessteam_dashboard_member ._cont ._infof p{
	width:50%;
	float:left;
}
.sesbusinessteam_dashboard_member ._cont ._infof span:nth-child(1){
	width:150px;
	float:left;
}
.sesbusinessteam_dashboard_member ._cont ._infof span + span{
	display:block;
	overflow:hidden;
}
/*MEMBER PROFILE BUSINESS CSS START HERE*/
.sesbusinessteam_member_profile_left{
	float:left;
	margin:0 20px 0 0;
	width:250px;
}
[dir="rtl"] .sesbusinessteam_member_profile_left{
	float:right;
	margin:0 0 0 20px;
}
.sesbusinessteam_member_profile_photo{
	text-align:center;
	margin-bottom:15px;
	position:relative;
	width:100%;
}
.sesbusinessteam_member_profile_photo img{
	max-width:100%;
}
.sesbusinessteam_member_profile_photo .sesbusinessteam_labels_container{
	bottom:10px;
	left:0;
	position:absolute;
	text-align:center;
	width:100%;
}
.sesbusinessteam_member_profile_contact_info{
	margin-bottom:10px;
}
.sesbusinessteam_member_profile_contact_info > span{
	display:block;
	word-break:break-all;
	font-size: 90%;
}
.sesbusinessteam_member_profile_contact_info > span + span {
    margin-top: 10px;
    border-top-width: 1px;
    border-top-style: dashed;
    padding-top: 10px;
}
.sesbusinessteam_member_profile_contact_info > span i.fa {
    width: 30px;
    font-size: 20px;
    text-align: center;
    margin-right: 8px;
}
[dir="rtl"] .sesbusinessteam_member_profile_contact_info > span i.fa{
	text-align:center;
	margin-right:0;
	margin-left:8px;
}
.sesbusinessteam_member_profile_social_icon{

}
[dir="rtl"] .sesbusinessteam_member_profile_social_icon{
	text-align:center;
}
.sesbusinessteam_member_profile_social_icon a, [dir="rtl"] .sesbusinessteam_member_profile_social_icon a{
	float:none;
}
.sesbusinessteam_member_profile_social_icon a + a{
  margin:2px 2px 2px -2px;
}
[dir="rtl"] .sesbusinessteam_member_profile_social_icon a + a{
  margin:2px -2px 2px 2px;
}
.sesbusinessteam_member_profile_social_icon a{
	width: 30px;
	height:30px;
	line-height: 30px;
	border:0;
}
.sesbusinessteam_member_profile_social_icon a i{
  font-size:16px;
  line-height:20px;
}
.sesbusinessteam_member_profile_right{
	overflow:hidden;
}
.sesbusinessteam_member_profile_title{
	font-size:20px;
	font-weight:bold;
	margin:5px 0 10px 0;
}
.sesbusinessteam_member_profile_designation{
	font-style:italic;
	margin-bottom:10px;
}
.sesbusinessteam_member_short_desc {
    margin-bottom: 10px;
    font-weight: lighter;
    padding: 10px;
    font-size: 90%;
    border-width: 1px;
    border-style: dashed;
    background-image: url(../images/transprant-bg.png);
}
.sesbusinessteam_member_profile_heading{
  	font-size:16px;
  	font-weight:bold;
	margin-bottom:10px;
}
.sesbusinessteam_member_profile_sitemember .sesbusinessteam_member_profile_social_icon,
[dir="rtl"].sesbusinessteam_member_profile_sitemember .sesbusinessteam_member_profile_social_icon{
	text-align:left;
}
.sesbusinessteam_member_profile_sitemember{
	border-width:1px;
	padding:10px;
	margin-bottom:10px;
}
.sesbusinessteam_member_profile_sitemember span{display:inline-block;margin:0 15px 0 0;}
[dir="rtl"] .sesbusinessteam_member_profile_sitemember span{margin:0 0 0 15px;}
/*MEMBER PROFILE BUSINESS CSS END HERE*/
