/* $Id:print.css 2016-07-26 00:00:00 SocialEngineSolutions $*/

body{
	font-family:Arial, Helvetica, sans-serif;
	color:#111;
}
a{
	text-decoration:none;
	color:#000;
}
.sesbasic_bxs{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#global_content_simple{
	display:block;
}
/*Print Invoice*/
.sesgroup_orderview_popup_close{display:none;}
.sesgroup_invoice_container{
	overflow:hidden;
	margin:0 auto;
	width:800px;
}
.sesgroup_invoice_header{
	margin-bottom:10px;
	overflow:hidden;
}
.sesgroup_invoice_header div{
	font-size:20px;
}
.sesgroup_invoice_header .floatL{
	float:left;
}
[dir="rtl"] .sesgroup_invoice_header .floatL{
	float:right;
}
.sesgroup_invoice_header .floatR{
	float:right;
}
[dir="rtl"] .sesgroup_invoice_header .floatR{
	float:left;
}
.sesgroup_invoice_content_wrap{
	border:1px solid #eaeaea;
	display:table;
	margin-bottom:15px;
	width:798px;
	overflow:hidden;
}
.sesgroup_invoice_content_left,
.sesgroup_invoice_content_right{
	display:table-cell;
	width:398px;
}
.sesgroup_invoice_content_left{
	border-right:1px solid #eaeaea;
}
.sesgroup_invoice_content_box{
	padding:10px;
}
.sesgroup_invoice_content_box + .sesgroup_invoice_content_box{
	border-top:1px solid #eaeaea;
}
.sesgroup_invoice_content_box b.bold{
	display:block;
	margin-bottom:5px;
}
.sesgroup_invoice_content_detail > span{
	display:block;
}
.sesgroup_invoice_content_qr{
	margin:5px;
	text-align:center;
}
/*Order Table*/
.sesgroup_table table{
	margin-bottom:15px;
	width:798px;
}
.sesgroup_table table th,
.sesgroup_table table td{
	border-style:solid;
	border:1px solid #eaeaea;
	padding:10px;
	vertical-align:top;
}
.sesgroup_table table th{
	background-image:url(../images/t-img-light.png);
}
.sesgroup_invoice_total_price_box{
	border-style:solid;
	border:1px solid #eaeaea;
	max-width:inherit;
	padding:5px;
	width:100%;
}
.sesgroup_invoice_total_price_box > div{
	clear:both;
	overflow:hidden;
}
.sesgroup_invoice_total_price_box > div span{
	float:left;
	padding:5px;
	text-align:left;
	width:auto;
}
.sesgroup_invoice_total_price_box > div span + span{
	float:right;
	width:auto;
}
[dir="rtl"] .sesgroup_invoice_total_price_box > div span + span{
	text-align:left;
}
.sesgroup_invoice_total_price_box_total span{
	font-weight:bold;
}
