
/*Icons*/
.cescf_pr_icon:before{content:"\f0d6";}
.cescf_photo_icon:before{content:"\f03e";}
/*Create Crowdfunding*/
.sescf_create_form .global_form > div{
	float:none;
}
.sescf_create_form .global_form * + div.form-wrapper{
	margin-top:15px;
}
.sescf_create_form .global_form div.form-element{
	margin-bottom:0;
}
.sescf_create_form .global_form div.form-element * + p.description{
	margin-bottom:0;
	font-size:12px;
}
.sescf_create_form .global_form div.form-element input[type=text],
.sescf_create_form .global_form div.form-element textarea,
.sescf_create_form .global_form div.form-element select{
	width:500px;
	max-width:100%;
	padding:6px;
}
.sescf_create_form .global_form div#price-element input{
	margin-right:10px;
}
.sescf_create_form #custom_url_crowdfunding-element input{
	margin-right:10px;
	width:342px;
}
.sescf_create_form #custom_url_crowdfunding-element > i{
	vertical-align:middle;
	margin-right:10px;
	font-size:18px;
}
.sescf_create_form #custom_url_crowdfunding-element > i#sescrowdfunding_custom_url_correct{
	color:#2fc33a;
}
.sescf_create_form #custom_url_crowdfunding-element > i#sescrowdfunding_custom_url_wrong{
	color:#f00;
}
.sescf_availability_btn button{
	font-size:12px;
	padding:7px 10px;
}
.sescf_create_form #custom_url_crowdfunding-element p.check_tooltip {
	position:absolute;
	background:#000;
	color:#fff;
	padding:10px;
	margin-top:10px;
}
.sescf_create_form #custom_url_crowdfunding-element p.check_tooltip:before {
	content:'';
	width:0;
	height:0;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-bottom:8px solid #000;
	position:absolute;
	top:-6px;
	left:10px;
	z-index:1;
}
.sescf_create_form .form-options-wrapper li{
	overflow:hidden;
}
.sescf_create_form #pagestyle-element .form-options-wrapper li{
	overflow:hidden;
	position: relative;
  height: 180px;
  width: 140px;
  margin-bottom: 10px;
  border-width: 1px;
  padding: 5px;
  display: inline-block;
  margin-right: 5px;
  text-align: center;
}
.sescf_create_form #pagestyle-element .form-options-wrapper li input[type=radio] {
  display: inline-block;
  float: none;
  vertical-align: sub;
}
.sescf_create_form #pagestyle-element .form-options-wrapper li label {
  display: inline-block;
  float: none;
}
.sescf_create_form #pagestyle-element .form-options-wrapper li label span {
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0px;
}
.sescf_create_form #pagestyle-element .form-options-wrapper li label span img {
  width: 100%;
}
.sescf_create_form .form-options-wrapper li + li{
	margin-top:5px;
}
.sescf_create_form #map-canvas{
	border-width:4px;
}
/*Top Section*/
.sesbasic_dashboard_top_section{
	border-bottom-width:1px;
	margin-bottom:15px;
}
.sescf_dashboard_manage_btn{
	border-bottom-width:1px;
	padding-bottom:10px;
	margin-bottom:15px;
}
/*Tabs*/
.sesbasic_dashboard_tabs > ul > li > a{
	padding:12px 10px;
}
.sesbasic_dashboard_tabs > ul > li > a > i{
	text-align:center;
	position:relative;
	width:20px;
}
.sescf_db_payment_request_icon.fa-money:before,
.sescf_db_payment_received_icon.fa-money:before{
	-ms-transform:rotate(-10deg);
	-webkit-transform:rotate(-10deg);
	transform:rotate(-10deg);
	position:absolute;
	left:3px;
	top:-12px;
}
.sescf_db_payment_request_icon:after,
.sescf_db_payment_received_icon:after{
	font-size:10px;
	position:absolute;
	left:10px;
	top:-5px;
}
.sescf_db_payment_request_icon:after{
	content:"\f0a9";
}
.sescf_db_payment_received_icon:after{
	content:"\f0a8";
}
/*Info Section*/
.sescf_dashboard_info{
	border-width:1px;
	margin:10px 10px 0 0;
	position:relative;
}
.sescf_dashboard_info img{
	width:100%;
}
.sescf_dashboard_info_cont{
	padding:10px;
}
.sescf_dashboard_info_title{
	font-weight:bold;
	margin-bottom:5px;
	font-size:15px;
}
.sescf_dashboard_info_stat{
	margin-bottom:5px;
}
.sescf_dashboard_info_stat > i{
	float:left;
	width:18px;
	text-align:center;
}
.sescf_dashboard_info_stat > span{
	display:block;
	overflow:hidden;
}
/*Manage Photos*/
.sescf_dashboard_manage_photos_list{
	margin:0 -5px;
}
.sescf_dashboard_manage_photos_list > li{
	float:left;
	padding:5px;
	width:25%;
}
.sescf_dashboard_manage_photos_list > li > div{
	border-width:1px;
}
.sescf_dashboard_manage_photos_list_photo{
	height:160px;
	width:100%;
}
.sescf_dashboard_manage_photos_list_photo img{
	border-width:0;
	height:100%;
	object-fit:cover;
	max-width:inherit;
	max-height:inherit;
	width:100%;
}
.sescf_dashboard_manage_photos_list_info{
  padding-bottom:10px;
  overflow:hidden;
}
.sescf_dashboard_manage_photos_list_info > [id*='-title-label'],
.sescf_dashboard_manage_photos_list_info > [id*='-description-label']{
  display:none;
}
.sescf_dashboard_manage_photos_list_info input[type="text"],
.sescf_dashboard_manage_photos_list_info textarea{
	background-color:transparent !important;
  border-width:0;
	border-bottom-style:solid;
  border-bottom-width:1px;
  border-radius:0;
  padding:10px;
  max-width:100%;
  width:100%;
}
.sescf_dashboard_manage_photos_list_info .photo-delete-wrapper{
  float:left;
  padding:5px 5px;
  width:100%;
}
[dir="rtl"] .sescf_dashboard_manage_photos_list_info .photo-delete-wrapper,
[dir="rtl"] .sescf_dashboard_manage_photos_list_info .sescf_editphotos_cover{
  float:right;
}

/*Add Photos*/
.sescf_dashboard_album_upload .form-label{
	display:none;
}
.sescf_dashboard_album_upload div.form-element{
	max-width:100% !important;
	width:100%;
}
.sescf_dashboard_album_upload div.sesbasic_uploader_status{
	width:100% !important;
}
/*Edit Location*/
.sescf_edit_location_form .global_form .form-elements{
	max-width:600px;
}
.sescf_edit_location_form .global_form div.form-wrapper{
	clear:none;
	float:left;
	padding-right:10px;
	margin-bottom:15px;
	width:50%;
}
[dir="rtl"] .sescf_edit_location_form .global_form div.form-wrapper{
	float:right;
	padding-left:10px;
	padding-right:0;
}
.sescf_edit_location_form .global_form div#ses_edit_location-wrapper,
.sescf_edit_location_form .global_form div#mapcanvasdiv-wrapper{
	width:100%;
}
.sescf_edit_location_form .global_form div.form-label,
.sescf_edit_location_form .global_form div.form-element{
	margin-bottom:0;
	width:100%;
}
.sescf_edit_location_form .global_form div.form-label{
	margin:0 0 5px;
	padding:0;
}
.sescf_edit_location_form .global_form div.form-element input[type="text"]{
	width:100%;
}
.sescf_edit_location_form .global_form div#mapcanvasdiv-element{
	border-width:4px;
}
.sescf_edit_location_form #mapcanvasdiv-label,
.sescf_edit_location_form #submit-label{
	display:none;
}
/*Add Announcements*/
.sescf_announcement_form .global_form div.form-label,
.sescf_announcement_form .global_form div.form-element{
	width:100%;
	max-width:100%;
}
.sescf_announcement_form .global_form div.form-element input{
	max-width:100%;
	width:500px;
	padding:8px;
	height:auto;
}
/*Manage Announcements*/
.sescf_dashboard_announcements_list > li{
	padding:0 0 15px;
}
.sescf_dashboard_announcements_list > li + li{
	border-top-width:1px;
	padding-top:15px;
}
.sescf_dashboard_announcements_list_title{
	font-size:17px;
	font-weight:bold;
	margin-bottom:10px;
}
.sescf_dashboard_announcements_list_link{
	margin-bottom:10px;
}
.sescf_dashboard_announcements_list_options{
	float:right;
}
[dir="rtl"] .sescf_dashboard_announcements_list_options{
	float:right;
}
.sescf_dashboard_announcements_list_options a{
	margin-left:10px;
	font-weight:bold;
	text-decoration:none !important;
}
.sescf_dashboard_announcements_list_options a:before{
	margin-right:3px;
}
/*Donors List*/
.sescf_dashboard_donors_list{

}
.sescf_dashboard_donors_list li{
	padding-left:10px;
	padding-right:10px;
}
.sescf_dashboard_donors_list li + li{
	padding-top:15px;
	margin-top:15px;
	border-top-width:1px;
}
.sescf_dashboard_donors_list_photo{
	float:left;
	margin-right:15px;
	height:80px;
	width:80px;
}
.sescf_dashboard_donors_list_photo img{
	display:block;
	height:100%;
	object-fit:cover;
	width:100%;
}
.sescf_dashboard_donors_list_cont{
	overflow:hidden;
}
.sescf_dashboard_donors_list_name{
	font-weight:bold;
	font-size:17px;
	margin-bottom:5px;
}
.sescf_dashboard_donors_list_name span a{
	font-size:12px;
	padding:5px 10px;
	display:block;
}
.sescf_dashboard_donors_list_date{
	margin-bottom:5px;
}
.sescf_dashboard_donors_list_msg{
	font-style:italic;
}
/*Statics*/
.sescf_dashboard_btn{
	margin-bottom:15px;
}
.sescf_donations_stats_container{
	margin:0 -5px;
}
.sescf_donations_stats{
	float:left;
	padding:5px;
	width:25%;
	margin-bottom:15px;
}
.sescf_donations_stats > div{
	background-image:url(../images/t-img-light.png);
	text-align:center;
	border-width:1px;
	margin:0 1% 1%;
	padding:10px;
	min-height:100px;
}
.sescf_donations_stats span:first-child{
	display:block;
	font-weight:bold;
}
.sescf_donations_stats span:nth-child(2){
	display:block;
	font-size:17px;
	margin-top:20px;
}
.sescf_payment_request_stats .sescf_donations_stats{
	width:33%;
}
/*Payment Details Popup*/
.sescf_payment_details_popup{
	padding:15px;
	position:relative;
}
.sescf_payment_details_popup h3{
	margin-bottom:10px;
	font-weight:bold;
	font-size:20px;
	border-bottom-width:1px;
	padding-bottom:10px;
}
.sescf_payment_details_popup table tr + tr{
	border-top-width:1px;
}
.sescf_payment_details_popup table td{
	padding:10px 0;
	vertical-align:top;
}
.sescf_payment_details_popup table td:nth-child(1){
	white-space:nowrap;
	padding-right:20px;
}
.sescf_payment_details_popup button{
	border-radius:0;
	height:25px;
	width:25px;
	position:absolute;
	top:10px;
	right:15px;
	padding:0;
	text-align:center;
	font-size:17px;
}

/*Announcement*/
.sescrowdfunding_add_announcement_popup{
	width:600px;
}

/*CONTENT*/
.sescrowdfunding_dashboard_content{
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	padding:20px;
}
html .sescrowdfunding_dashboard_form {
	position:relative;
}
html .sescrowdfunding_dashboard_form .global_form,
html .sescrowdfunding_dashboard_form .global_form > div,
html .sescrowdfunding_dashboard_form .global_form > div > div{
	background:none !important;
	border-width:0 !important;
	border-radius:0;
	float:none;
	padding:0 !important;
}
.sescrowdfunding_dashboard_form .global_form > div > div > h3 + div{
	margin:0;
}
.sescrowdfunding_dashboard_form .global_form div.form-label{
	text-align:left;
}
[dir="rtl"] .sescrowdfunding_dashboard_form .global_form div.form-label{
	text-align:right;
}
.sescrowdfunding_dashboard_form .global_form > div > div > p{
	max-width:100%;
	padding:0;
	margin:0;
}
.sescrowdfunding_dashboard_form .global_form .form-elements{
	padding:0;
}
.sescrowdfunding_dashboard_content_header{
	margin:0 0 10px !important;
	padding:10px 0;
}
.sescrowdfunding_dashboard_content_header h3,
.sescrowdfunding_dashboard_form .global_form > div > div > h3{
	background-image:url(../images/transprant-bg.png);
	font-size:17px;
	font-weight:bold;
	letter-spacing:normal;
	margin:0 0 10px;
	padding:9px;
}
.sescrowdfunding_dashboard_content_header .sescrowdfunding_link_btn{
	font-size:11px;
	font-weight:normal;
	margin-top:-3px;
	height:28px;
	line-height:28px;
	padding:0 15px;
}
.sescrowdfunding_dashboard_content_header .sescrowdfunding_link_btn:before{
	margin-right:5px;
}
.sescrowdfunding_dashboard_content_top{
	margin:0 0 10px !important;
	position:relative;
}
.sescrowdfunding_dashboard_content_top ._left{
	float:left;
	width:60%;
}
.sescrowdfunding_dashboard_content_top h3{
	font-size:17px;
	font-weight:bold;
	letter-spacing:normal;
	margin:0 0 5px;
}
.sescrowdfunding_dashboard_content_top p{
	line-height:150%;
}
.sescrowdfunding_dashboard_content_top ._img{
	float:left;
	width:40%;
}
.sescrowdfunding_dashboard_content_top ._img img{
	max-width:70%;
	max-height:130px;
}
.sescrowdfunding_dashboard_content_btns{
	margin-bottom:15px;
}
.sescrowdfunding_dashboard_content_btns a{
	display:inline-block;
}
.sescrowdfunding_dashboard_results{
	margin-bottom:10px;
	font-weight:bold;
}
.sescrowdfunding_dashboard_content .form-options-wrapper li{
	display:inline-block;
	width:150px;
}
.sescrowdfunding_dashboard_content div.event_calendar_container button{
	padding:0;
}
.sescrowdfunding_dashboard_content div.event_calendar_container + select,
.sescrowdfunding_dashboard_content div.event_calendar_container + select + select,
.sescrowdfunding_dashboard_content div.event_calendar_container + select + select + select{
	margin-left:5px;
}
.sescrowdfunding_dashboard_search_form{
	margin-bottom:15px;
}
.sescrowdfunding_dashboard_search_form .form-wrapper{
	margin-right:7px !important;
}
.sescrowdfunding_dashboard_search_form .form-label{
	height:16px;
	margin-bottom:5px;
}
.sescrowdfunding_dashboard_search_form .global_form_box .form-element input[type="text"],
.sescrowdfunding_dashboard_search_form .global_form_box .form-element select,
.sescrowdfunding_dashboard_search_form  form.filters input[type="text"],
.sescrowdfunding_dashboard_search_form form.filters select{
	width:100%;
	height:35px;
	padding:0 10px;
	box-sizing:border-box;
}
.sescrowdfunding_dashboard_search_form #integer-wrapper .form-wrapper .form-label{
	display:none;
}
.sescrowdfunding_dashboard_search_form #integer-wrapper .form-wrapper{
	margin-top:2px !important;
}
.sescrowdfunding_dashboard_search_form #integer-wrapper .form-wrapper input{
	width:80px;
}
.sescrowdfunding_dashboard_search_result{
	font-weight:bold;
	margin-bottom:5px;
	clear:both;
}
.sescrowdfunding_dashboard_content .global_form_box{
	background-image:url(../images/transprant-bg.png);
}
