/* $Id:main.css 2016-05-25 00:00:00 SocialEngineSolutions $*/

/*Icons*/
.sesmember_compliments:before{
	content:"\\f118";
}
.notification_type_sesmember_follow_create:before,
.notification_type_sesmember_follow:before,
.activity_icon_sesmember_follow:before,
.notification_type_sesmember_follow_requestaccept:before,
.notification_type_sesmember_follow_request:before{
	content:"\\f00c";
}
.item_icon_sesmember_review:before,
.notification_type_sesmember_reviewpost:before{
	content:"\\f044";
}
.sesmember_location_edit:before{
	content:"\\f041";
}
.notification_type_sesmember_member_likes:before{
  content:"\\f087";
}
.sesmember_grid1 .sesmember_list_info{
	background-color:$theme_list_background_color;
}

/*Featured Photos Popup*/
.sesmember_photo_update_popup_container{
	background-color:$theme_list_background_color;
	border:5px solid #ccc;
	border-radius:5px;
}
.sesmember_photo_update_popup_header,
.sesmember_photo_update_popup_footer{
  background-image:url(~/application/modules/Sesbasic/externals/images/t-img-light.png);
  border-bottom:1px solid $theme_border_color;
  font-size:15px;
  font-weight:bold;
  line-height:40px;
  padding:0 10px;
}
.sesmember_photo_update_popup_header .fa{
  float:right;
	text-decoration:none !important;
}
[dir="rtl"] .sesmember_photo_update_popup_header .fa{
	float:left;
}
.sesmember_photo_update_popup_btns{margin-top:10px;}
.sesmember_thumb .sesmember_thumb_img > span{
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  display:block;
  height:100%;
  width:100%;
}
.sesmember_featured_photos_popup_blank_img a.fromExistingAlbumPhoto:hover{
	border-color:$theme_link_color_hover;
}
/*Search Form*/
.sesmember_browse_search > form,
.sesmember_browse_toprated_search > form{
	background: $theme_form_background_color;
	padding: 12px !important;
  border: 1px solid $theme_form_border_color;
	border-radius:3px;
	overflow:hidden;
}
/*Review Stats*/
.sesmemeber_review_stat_label,
.sesmemeber_review_stat_gr a span,
.sesmemeber_review_stat_gr_line span,
.sesmember_rating_list_block .rating_list_right_inner,
.sesmember_rating_list_block .rating_list_left{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
}
[dir="rtl"] .sesmember_browse_search .global_form input[type=checkbox]{
	margin-left:0px !important;
	margin-right:167px;
}
.sesmember_sidebar_information_block .sesmember_list_stats > span > i{color:$theme_font_color_light;}
.sesmember_profile_comp_info .comp_info_contant{
	border-color:$theme_button_background_color;
	background-color:$theme_list_background_color_hover;
}
[dir="rtl"] .sesbasic_btn span i{
	right:10px;
	left:inherit;
}