
/*Landing Page*/
.sm_lp_members_carousel .owl-buttons > div,.sm_features_block_item > ._img{background-color:$theme_button_background_color;}
.sm_lp_members_carousel .owl-buttons > div:hover{background-color:$theme_button_background_color_hover;}
.sm_lp_members_carousel .owl-buttons > div i:before{color:$theme_button_font_color;}
