
.sesmdimp_hiw > div h3{
	color:$theme_button_background_color;
}
.sesmdimp_main_apps_list_inner{
	background-color:$theme_list_background_color;
}
.sesmdimp_main_top h2:after{
	background-color:$theme_button_background_color;
}
.sesmdimp_main_apps_btn button{
	border-color:$theme_button_background_color;
	color:$theme_button_background_color;
}
.sesmdimp_photos_list_photo_input input[type="checkbox"]:checked + label:before,
.sesmdimp_albums_list_photo_input input[type="checkbox"]:checked + label:before{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
}
.sesmdimp_photos_list_photo_inner,
.sesmdimp_albums_list_photo_inner,
.sesmdimp_albums_list_photo_inner:after,
.sesmdimp_albums_list_photo_inner:before{
	border-color:$theme_border_color;
}
.sesmdimp_photos_list_thumb:hover .sesmdimp_photos_list_photo_inner,
.sesmdimp_albums_list_photo:hover .sesmdimp_albums_list_photo_inner,
.sesmdimp_albums_list_photo:hover .sesmdimp_albums_list_photo_inner:after,
.sesmdimp_albums_list_photo:hover .sesmdimp_albums_list_photo_inner:before{
	border-color:$theme_border_dark_color;
}
.sesmdimp_zip_upload_form{
	background-color:$theme_list_background_color_hover;
}
.sesmdimp_zip_upload_form_field input{
	background-color:$theme_list_background_color;
}
/*Create Album Form Popup*/
#global_content_simple .sesalbum_album_form{
	width:500px;
	padding:10px;
	box-sizing:border-box;
}
#global_content_simple .sesalbum_album_form #mapcanvas-label,
#global_content_simple .sesalbum_album_form #search-label,
#global_content_simple .sesalbum_album_form #adult-label,
#global_content_simple .sesalbum_album_form #uploadFileContainer-wrapper,
#global_content_simple .sesalbum_album_form #submit-label{
	display:none;
}
#global_content_simple .sesalbum_album_form #map-canvas-list{
	width:100%;
}
#global_content_simple .sesalbum_album_form .global_form div.form-label,
#global_content_simple .sesalbum_album_form .global_form div.form-element{
	width:100%;
	max-width:inherit;
	min-width:inherit;
}
