

/*Login Form*/
.otp_member_search_form div input,
.otp_member_search_form div.search div select{
	max-width:146px;
	height:32px;
	box-sizing:border-box;
}
.otpsms_icon_sms{
	background-image:url(~/application/modules/Otpsms/externals/images/sms.png);
}

/*Send SMS*/
.otpsms_sendsms_filter_form *{
	box-sizing:border-box;
}
.otpsms_sendsms_filter_form .search{
	float:none;
}
.otpsms_sendsms_filter_form .search form {
	display:flex;
	flex-wrap:wrap;
}
.otpsms_sendsms_filter_form .search form > div{
	margin:5px !important;
}
.otpsms_sendsms_filter_form input[type="text"],
.otpsms_sendsms_filter_form select{
	height:30px;
}
.otpsms_sendsms_filter_form #starttime-element,
.otpsms_sendsms_filter_form #endtime-element{
	margin-top:8px;
}
