
/*Show Details*/
.sesgroup_view_stats_popup {
	padding: 20px;
	width:600px;
}
.sesgroup_view_popup_con .sesgroup_popup_img_group{
	overflow: hidden;
	display: block;
	margin-bottom:10px;
	border-bottom-width: 1px;
	padding-bottom: 10px;
}
.sesgroup_view_popup_con .sesgroup_popup_img_group p.popup_img img{
	margin-right: 15px;
	float: left;
	width: 130px;
}
.sesgroup_view_popup_con .sesgroup_popup_img_group p.popup_title{
	font-size: 15px;
	font-weight: bold;
	margin-bottom:8px;
}
.sesgroup_view_popup_con .sesgroup_popup_img_group p.owner_title{
		margin-bottom:8px;
}
.sesgroup_view_popup_con .sesgroup_popup_img_group p.owner_title b{
	font-weight:bold;
	min-width:100px;
	display:inline-block;
}
.sesgroup_view_popup_con .sesgroup_popup_owner_group p.owner_title{
	margin-bottom:8px;;
}
.sesgroup_view_popup_con .sesgroup_popup_owner_group p.owner_title b{
	font-weight:bold;
}
.sesgroup_view_popup_con .sesgroup_popup_owner_group p.owner_des{
	text-align:justify;
}
/*Clain Request Status Form*/
.sesgroup_claim_approve_form{
	padding:15px;
}
.sesgroup_claim_approve_form #approve_decline-wrapper{
	margin:10px 0;
}
.sesgroup_claim_approve_form #approve_decline-label{
	margin-bottom:5px;
}

/*Hide Elements*/
#global_page_sesgroup-admin-settings-level #gp_attribution-wrapper,
#global_page_sesgroup-admin-settings-level #auth_defattribut-wrapper,
#global_page_sesgroup-admin-settings-level #auth_contSwitch-wrapper,
#global_page_sesgroup-admin-settings-manage-dashboards .admin_table tr:nth-child(9){
	display:none;
}