/*ADMIN CSS*/

.global_form_emailtemplates{
  padding:20px;
  overflow:hidden;
  font-size:.9em;
}
.emailtemplates_create_form .form-wrapper{
	padding:10px 15px !important;
}
.emailtemplates_create_form #dummy1-wrapper,
.emailtemplates_create_form #dummy2-wrapper,
.emailtemplates_create_form #dummy3-wrapper,
.emailtemplates_create_form #dummy4-wrapper{
	background-color:#f1f1f1;
	margin:15px 0 10px;
}
.emailtemplates_create_form #dummy1-wrapper{
	margin-top:0;
}
.emailtemplates_create_form #dummy1-label,
.emailtemplates_create_form #dummy2-label,
.emailtemplates_create_form #dummy3-label,
.emailtemplates_create_form #dummy4-label{
	display:none;
}
.emailtemplates_create_form #dummy1-wrapper h2,
.emailtemplates_create_form #dummy2-wrapper h2,
.emailtemplates_create_form #dummy3-wrapper h2,
.emailtemplates_create_form #dummy4-wrapper h2{
	font-size:17px;
}
.tip.advanced {
  color: #222;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 15px;
  width: auto;
  font-weight: bold;
  box-shadow: 5px 5px 0px #bedceb;
  font-size: 13px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 5px;
}