#global_page_core-index-index{
	position:relative;
}
#global_page_core-index-index #global_content .layout_main .layout_middle div.generic_layout_container {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	box-shadow: none;
	float: left;
	width: 100%;
}
.sesmaterial_landing_box_bg {
	background-image: url("../images/bg.jpg");
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	filter: blur(2px);
	background-position:bottom;
}
.sesmaterial_landing_box_bg:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
}
.sesmaterial_landing_box{
	position:relative;
	margin: 0 auto;
	margin-top: 15px;
	border-radius: 10px;
	overflow: hidden;
}
.sesmaterial_box_main{
	display:flex;
	overflow:hidden;
}
.sesmaterial_landing_bnr{
	min-height:600px;
	background-image: url("../images/bg.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	flex: 1;
	overflow: hidden;
}
.sesmaterial_landing_loginsignup {
  width: 350px;
	padding: 30px 20px;
}
.sesmaterial_landing_login h2 {
}
.sesmaterial_landing_login .global_form .form-label {
  display: none;
}
.sesmaterial_landing_login .global_form input[type=email],.sesmaterial_landing_login .global_form input[type=password]{
	height: 40px;
	border-radius: 4px;
	padding: 8px 12px;
	margin-bottom: 10px;
	width:100%;
}
.sesmaterial_landing_login #forgot-wrapper {
	margin-bottom: 20px;
}
.sesmaterial_landing_login .global_form div.form-element {
  min-width: 100%;
}
.sesmaterial_landing_loginsignup h2:before {
	content: "";
	position: absolute;
	height: 2px;
	width: 35%;
	bottom: 0px;
}
.sesmaterial_landing_loginsignup h2 {
	position: relative;
	display: inline-block;
	padding: 0 14px;
	padding-bottom: 8px;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 0;
}
.sesmaterial_landing_signup div#submit-label {
  display: none;
}
.sesmaterial_landing_signup div#terms-element {
  margin: 10px 0 20px;
}
#global_page_core-index-index .global_form #submit-element {
  padding-top: 15px;
}
.sesmaterial_landing_signup h3 {
	display: none;
}
.sesmaterial_landing_signup .global_form input + label {
	float: none;
}
.sesmaterial_landing_login {
	display: none;
}
.sesmaterial_landing_loginsignup .form_btm_text{
	padding: 0 20px;
	font-size: 15px;
}
.sesmaterial_landing_loginsignup p a {
	font-weight: 600;
}
.sesmaterial_landing_signup .global_form div.form-element {
  margin-bottom: 0;
}
.sesmaterial_landing_signup .global_form > div > div {
  padding-top: 0;
}
.sesmaterial_landing_loginsignup .sesmaterial_quick_popup_social_btns {
	overflow: visible;
	padding: 10px;
}
.sesmaterial_landing_signup div#terms-element label {
  font-size: 13px;
}
/* footer overrides */
#global_page_core-index-index #global_footer .layout_main {
  margin: 60px auto;
}
#global_page_core-index-index .layout_page_footer a, #global_page_core-index-index .sesmaterial_footer_mini_links > span, #global_page_core-index-index .sesmaterial_footer_social_icons > a i:before, #global_page_core-index-index .sesmaterial_footer_social_icons > a:hover i:before{
	color:white;
}
#global_page_core-index-index #global_footer {
  background: transparent;
}
.sesmaterial_footer_mini_links .sesmaterial_footer_language {
	position: absolute;
	margin-top: 10px;
}
/* footer overrides */

/* responsive css */
@media (max-width:767px){
.sesmaterial_landing_box{
	width:100% !important;
}
.sesmaterial_landing_bnr{
	display:none;
}
.sesmaterial_landing_loginsignup {
	width: 90%;
	margin: auto;
	border-radius: 10px;
}
#global_page_core-index-index #global_footer .layout_main {
  margin: 0 auto 20px;
}
.sesmaterial_landing_loginsignup h2, .sesmaterial_landing_loginsignup .form_btm_text{
	padding:0 10px;
	padding-bottom: 8px;
}
.sesmaterial_footer_mini_links form{
	position:relative !important;
}
}
@media (min-width:768px) and (max-width:1024px){
.sesmaterial_landing_box{
	width:90% !important;
}
.sesmaterial_header_4 .header_search{
	width:250px !important;
}
.sesmaterial_header_main_menu{
	height:auto;
}
}



