
/*Landing Page*/
.sesmaterial_lp_members_carousel .owl-buttons > div{background-color:$theme_button_background_color;}
.sesmaterial_lp_members_carousel .owl-buttons > div:hover{background-color:$theme_button_background_color_hover;}
.sesmaterial_lp_members_carousel .owl-buttons > div i:before{color:$theme_button_font_color;}

