/* $Id:main.css 2016-05-25 00:00:00 SocialEngineSolutions $*/


/*Review Add Parameter Popup*/
.sesmember_parameter_popup{
  width:450px;
}
.sesmember_parameter_popup .settings .form-wrapper{
  padding: 0;
}
.sesmember_parameter_popup .form-label{
  display:none;
}
.sesmember_parameter_popup .reviewparameter{
  margin:0 10px 10px 0;
}
.sesmember_parameter_popup .sesmember_added_parameter{
  margin-right: 10px;
}
.sesmember_parameter_popup .fa:before{
  margin-right:5px;
}
.sesmember_parameter_popup a.fa:hover{
  text-decoration:none;
}

