/* $Id:main.css 2016-07-23 00:00:00 SocialEngineSolutions $*/

/*Review Add Parameter Popup*/
.sesarticle_review_parameter_popup {
	width:450px;
}
.sesarticle_review_parameter_popup .settings .form-wrapper {
	padding:0;
}
.sesarticle_review_parameter_popup .form-label {
	display:none;
}
.sesarticle_review_parameter_popup .reviewparameter {
	margin:0 10px 10px 0;
}
.sesarticle_review_parameter_popup .sesmember_added_parameter {
	margin-right:10px;
}
.sesarticle_review_parameter_popup .fa:before {
	margin-right:5px;
}
.sesarticle_review_parameter_popup a.fa:hover {
	text-decoration:none;
}
.sesarticle_view_stats_popup {
	padding:20px;
	width:600px;
}
.sesarticle_view_popup_con .sesarticle_popup_img_article {
	overflow:hidden;
	display:block;
	margin-bottom:10px;
	border-bottom-width:1px;
	padding-bottom:10px;
}
.sesarticle_view_popup_con .sesarticle_popup_img_article p.popup_img img {
	margin-right:15px;
	float:left;
	width:130px;
}
.sesarticle_view_popup_con .sesarticle_popup_img_article p.popup_title {
	font-size:15px;
	font-weight:bold;
	margin-bottom:8px;
}
.sesarticle_view_popup_con .sesarticle_popup_img_article p.owner_title {
	margin-bottom:8px;
}
.sesarticle_view_popup_con .sesarticle_popup_img_article p.owner_title b {
	font-weight:bold;
	min-width:100px;
	display:inline-block;
}
.sesarticle_view_popup_con .sesarticle_popup_owner_article p.owner_title {
	margin-bottom:8px;
}
.sesarticle_view_popup_con .sesarticle_popup_owner_article p.owner_title b {
	font-weight:bold;
}
.sesarticle_view_popup_con .sesarticle_popup_owner_article p.owner_des {
	text-align:justify;
}
/*Clain Request Status Form*/
.sesarticle_claim_approve_form {
	padding:15px;
}
.sesarticle_claim_approve_form #admin_comment-wrapper #admin_comment-label {
	margin-bottom:5px;
}
.sesarticle_claim_approve_form #approve-wrapper #approve-label {
	display:none;
}
.sesarticle_claim_approve_form #approve-wrapper #approve-element {
	margin-top:5px;
}
/*Import Music*/
button.sesarticle_import_button {
	background-color:#83b64e;
	background-image:url(~/application/modules/Sesarticle/externals/images/admin/import.png);
	background-position:5px center;
	background-repeat:no-repeat;
	border:medium none;
	border-radius:0;
	font-size:17px;
	font-weight:normal;
	padding:10px 10px 10px 35px;
	text-shadow:inherit;
}
button.sesarticle_import_button:hover {
	background-color:#78a946;
}
.sesarticle_import_msg span {
	background-position:5px center;
	background-repeat:no-repeat;
	border-radius:0;
	color:#fff;
	display:inline-block;
	font-size:17px;
	padding:10px 10px 10px 35px;
}
.sesarticle_import_loading span {
	background-color:#6fbbde;
	background-image:url(~/application/modules/Sesarticle/externals/images/admin/loading.GIF);
}
.sesarticle_import_success span {
	background-color:#83b64e;
	background-image:url(~/application/modules/Sesarticle/externals/images/admin/success.png);
}
.sesarticle_import_error span {
	background-color:#c12e2a;
	background-image:url(~/application/modules/Sesarticle/externals/images/admin/error.png);
}

