

.icon_photos_new{background-image:url(~/application/modules/Core/externals/images/admin/file_upload.png);}

/*Create Page Form*/
.sespagebuilder_custompage_form #error{
	color:#f00;
	font-size:11px;
	margin:3px 0 0 195px;
}
.sespagebuilder_custompage_form #pagebuilder_url-element p {
  background-color:#fff;
  border:1px solid #ddd;
	box-shadow:1px 1px 5px rgba(0, 0, 0, .1);
  margin:-34px 0 0 225px;
  max-width:150px;
  min-width:50px;
	overflow:visible;
	padding:10px;
  position:absolute;
	opacity:0;
  transition: opacity .40s ease-in-out;
   -moz-transition: opacity .40s ease-in-out;
   -webkit-transition: opacity .40s ease-in-out;
}
.sespagebuilder_custompage_form #pagebuilder_url-element p:before,
.sespagebuilder_custompage_form #pagebuilder_url-element p:after{
  border-top:8px solid transparent;
  border-bottom:8px solid transparent;
  border-right:8px solid #ddd;
  content:'';
  height:0;
	position:absolute;  
  left:-8px;
  top:9px;
  width:0;
}
.sespagebuilder_custompage_form #pagebuilder_url-element p:after{
  border-right-color:#fff;
	left:-7px;
}
.sespagebuilder_custompage_form #pagebuilder_url-element input:focus ~ p{
	opacity:1;
}
.sespagebuilder_custompage_form #pagebuilder_url-element #error + p{
	margin-top:-40px;
}
/*Tab Container*/
.sespagebuilder_tabs_content_form div[id*='_tabshowhide-wrapper'],
.sespagebuilder_tabs_content_form #icon_upload-wrapper{
	padding:0;
}
.sespagebuilder_tabs_content_form div[id*='_tabshowhide-wrapper'] .form-label,
.sespagebuilder_tabs_content_form #icon_upload-wrapper .form-label{
	display:none;
}
.sespagebuilder_tabs_content_form div[id*='_tabshowhide-wrapper'] .form-element p,
.sespagebuilder_tabs_content_form #icon_upload-wrapper .form-element p{
	margin:0;
	width:inherit;
	max-width:inherit;
}
.sespagebuilder_tabs_content_form div[id*='_tabshowhide-wrapper'] .form-element p a,
.sespagebuilder_tabs_content_form #icon_upload-wrapper .form-element p a{
	display:block;
	font-size:14px;
	padding:10px 0;
	text-decoration:none;
}
.sespagebuilder_tabs_content_form div[id*='_tabshowhide-wrapper'] .form-element p a:before,
.sespagebuilder_tabs_content_form #icon_upload-wrapper .form-element p a:before{
  font-family:FontAwesome;
	content:"\\f0da";
	color:#999;
	margin-right:5px;
}
.sespagebuilder_tabs_content_form div[id*='_tabshowhide-wrapper'].collapse .form-element p a:before,
.sespagebuilder_tabs_content_form #icon_upload-wrapper.collapse .form-element p a:before{
	content:"\\f0d7";
}
/*Expend collapse Button*/
.sespagebuilder_tabs_content_form #expand_all-wrapper p a{
	font-size:14px;
	padding:10px 0;
	text-decoration:none;
}
.sespagebuilder_tabs_content_form #expand_all-wrapper p a:after{
  font-family:FontAwesome;
	content:"\\f0fe";
	color:#999;
	margin-left:8px;
}
.sespagebuilder_tabs_content_form #expand_all-wrapper p.collapse a:after{
	content:"\\f146";
}
/*Progressbar Chooser*/
#global_page_core-admin-content-widget #progressbar-element ul li{
  display:inline-block;
  background-repeat:no-repeat;
  height:130px;
  margin:5px 0;
  width:200px;
  background-size:contain;
  box-sizing:border-box;
  padding-top:105px;
}
#global_page_core-admin-content-widget #progressbar-element ul li:nth-child(1){
	background-image:url(~/application/modules/Sespagebuilder/externals/images/progress-bar/minimal.png);
}
#global_page_core-admin-content-widget #progressbar-element ul li:nth-child(2){
	background-image:url(~/application/modules/Sespagebuilder/externals/images/progress-bar/bigcounter.png);
}
#global_page_core-admin-content-widget #progressbar-element ul li:nth-child(3){
	background-image:url(~/application/modules/Sespagebuilder/externals/images/progress-bar/bounce.png);
}
#global_page_core-admin-content-widget #progressbar-element ul li:nth-child(4){
	background-image:url(~/application/modules/Sespagebuilder/externals/images/progress-bar/centeratom.png);
}
#global_page_core-admin-content-widget #progressbar-element ul li:nth-child(5){
	background-image:url(~/application/modules/Sespagebuilder/externals/images/progress-bar/centercircle.png);
}
#global_page_core-admin-content-widget #progressbar-element ul li:nth-child(6){
	background-image:url(~/application/modules/Sespagebuilder/externals/images/progress-bar/centerradar.png);
}
#global_page_core-admin-content-widget #progressbar-element ul li:nth-child(7){
	background-image:url(~/application/modules/Sespagebuilder/externals/images/progress-bar/centersimple.png);
}
#global_page_core-admin-content-widget #progressbar-element ul li:nth-child(8){
	background-image:url(~/application/modules/Sespagebuilder/externals/images/progress-bar/cornerindicator.png);
}
#global_page_core-admin-content-widget #progressbar-element ul li:nth-child(9){
	background-image:url(~/application/modules/Sespagebuilder/externals/images/progress-bar/flash.png);
}
#global_page_core-admin-content-widget #progressbar-element ul li:nth-child(10){
	background-image:url(~/application/modules/Sespagebuilder/externals/images/progress-bar/flattop.png);
}
#global_page_core-admin-content-widget #progressbar-element ul li:nth-child(11){
	background-image:url(~/application/modules/Sespagebuilder/externals/images/progress-bar/loadingbar.png);
}

/*Popup*/
.sespagebuilder_popup{
	margin:10px;
	width:500px;
}
.sespagebuilder_getcode_popup{
	margin:10px 10px 0;
	width:400px;
}
.sespagebuilder_getcode_popup input[type="text"]{
	background-color:#fcf8e3;
	margin:10px 0;
	padding:5px;
	width:50%;
}
.sespagebuilder_getcode_popup #buttons-wrapper{margin-top:10px;}
/*Manage Columns*/
.sespagebuilder_manage_columns{
	width:100%;
}
.sespagebuilder_manage_columns *{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.sespagebuilder_manage_columns_head{
	background-color: #f5f5f5;
	border-bottom: 1px solid #aaa;
	overflow:hidden;
}
.sespagebuilder_manage_columns_head > div{
	padding: 10px;
	float:left;
	font-weight: bold;
	padding-top: 7px;
	padding-bottom: 7px;
	white-space: nowrap;
}
.sespagebuilder_manage_columns_list{
	margin-bottom:10px;
	width:100% !important;
}
.sespagebuilder_manage_columns_list li{
	border-bottom: 1px solid #eee;
	cursor:move;
	clear:both;
	overflow:hidden;
}
.sespagebuilder_manage_columns_list li:nth-child(odd){
	background-color:#fff;
}
.sespagebuilder_manage_columns_list li:nth-child(even) {
	background-color: #f8f8f8;
}
.sespagebuilder_manage_columns_list li > div{
	padding: 10px;
	font-size: .9em;
	float:left;
	padding-top: 7px;
	padding-bottom: 7px;
	vertical-align: top;
	white-space: normal;
}
#popupstyle-element a{
background-color: #619dbe;
    border: 1px solid #50809b;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 5px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    text-decoration:none;
}
#popupstyle-element a:hover {
 background-color:#7eb6d5;
}

#coulmn_header-wrapper, #coulmn_header-wrapper {
    border-color: #ccc;
    border-bottom-width: 1px;
    padding: 20px 0 10px;
}

#coulmn_header-wrapper .form-label, #coulmn_header-wrapper .form-label {
    font-size: 20px;
    width: auto;
}

#row_content-wrapper, #row_content-wrapper {
    border-color: #ccc;
    border-bottom-width: 1px;
    padding: 20px 0 10px;
}

#row_content-wrapper .form-label, #row_content-wrapper .form-label {
    font-size: 20px;
    width: auto;
}

#column_footer-wrapper, #column_footer-wrapper {
    border-color: #ccc;
    border-bottom-width: 1px;
    padding: 20px 0 10px;
}

#column_footer-wrapper .form-label, #column_footer-wrapper .form-label {
    font-size: 20px;
    width: auto;
}