
/*LANDING PAGE CSS*/
.layout_sesfbstyle_landing_page{
	background:none !important;
	border-width:0 !important;
	padding:0 !important;
	margin:0 !important;
}
.landing_page_sign_up_main{
	margin:0 auto;
	clear:both;
	overflow:hidden;
}
.signup_left_section{
	float:left;
	width:60%;
	padding:50px 0px;
	text-align:center;
}
[dir="rtl"] .signup_left_section{
	float:right;
}
.signup_left_section > img{
	max-width:100%;
	margin-bottom:20px;
}
.signup_left_content .left_heading p{
	font-weight:bold;
	font-size:20px;
	text-align:center;
	margin-bottom:5px;
}
.signup_left_content .left_pragraph p{
	text-align:center;
}
.signup_right_section{
	float:right;
	width:40%;
	padding:20px 0px;
}
[dir="rtl"] .signup_right_section{
	float:left;
}
.signup_right_section .signup_form{
	padding-left:40px;
}
[dir="rtl"] .signup_right_section .signup_form{
	padding-left:0px;
	padding-right:40px;
}
.signup_right_section .signup_form h2.signup_headeing{
	font-weight:bold;
	font-size:35px;
}
.signup_right_section .signup_form p.signup_dis{
	font-size:18px;
}
.signup_right_section .global_form > div > div{
	background-color:transparent;
	border:none;
	padding:0px;
}
.signup_right_section .form-wrapper-heading > span{
	background:transparent !important;
}
.signup_right_section .global_form > div > div h3{
	display:none;
}
.signup_right_section .global_form .form-elements{
	padding:10px 0px;
}
.signup_right_section .global_form div.form-label{
	display:none !important;
}
.signup_right_section .global_form div.form-element{
	min-width:auto;
	max-width:none;
	width:100%;
}
.signup_right_section .global_form div.form-element p.hint{
	display:none;
}
.signup_right_section .global_form input[type=text], 
.signup_right_section .global_form input[type=email], 
.signup_right_section .global_form input[type=password],.signup_right_section .global_form select{
	width:100%;
	max-width:100%;
	padding:8px 10px;
	border-radius:5px;
	font-size:16px;
}
.signup_right_section .global_form div#timezone-label,
.signup_right_section .global_form div#language-label{
	display:block;
	text-align:left;
	font-size:16px;
	padding-left:0px;
}
[dir="rtl"] .signup_right_section .global_form div#timezone-label,
[dir="rtl"] .signup_right_section .global_form div#language-label{
	text-align:right;
}
.signup_right_section .global_form div#submit-element button{
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
	font-size:19px;
	padding:7px 20px;
	text-transform:capitalize;
	margin-top:15px;
}
.signup_right_section .global_form #password-wrapper{
	padding-right:12px;
}
.signup_right_section .global_form #passconf-wrapper,
.signup_right_section .global_form #password-wrapper{
	width:50%;
	float:left;
	clear:none;
	overflow:inherit;
}
.signup_right_section .global_form #timezone-wrapper{
	width:60%;
	padding-right:15px;
	clear:none;
	overflow:inherit;
	float:left;
}
.signup_right_section .global_form #timezone-element select,
.signup_right_section .global_form #language-element select{
	width:100%;
	max-width:100%;
	padding:8px 10px;
}
.signup_right_section .global_form #language-wrapper{
	width:40%;
	clear:none;
}
.signup_right_section .global_form #profile_type-element select{
	width:100%;
	max-width:100%;
	padding:8px 10px;
}
.signup_right_section .global_form #terms-wrapper{
	margin-top:10px;
}
.signup_right_section .sociallogin_buttons{
	margin-top:15px;
	margin-left:40px;
	padding:10px;
	border-radius:5px;
	border-width:1px;
}
.signup_right_section .sociallogin_buttons > p{
	text-align:center;
	font-weight:bold;
	font-size:17px;
	margin-bottom:10px;
}
.signup_right_section #signup_account_form #country_code-wrapper{
	width:24% !important;
	margin:0;
}
.signup_right_section #signup_account_form #country_code-wrapper select{
	padding:8px 10px;
  width: 100% !important;
}
.signup_right_section #signup_account_form #phone_number-wrapper{
	width: 76% !important;
	padding-left:10px;
  margin-right: 0;
}
.signup_right_section #signup_account_form #phone_number-wrapper input{
	width: 100% !important;
}
/*responsive css*/
@media (max-width:767px){
	#global_content{min-height:inherit !important;}
	.signup_left_section{
		width:100%;
		padding:20px 0;
	}	
	.signup_right_section{
		width:100%;
	}
	.signup_right_section .signup_form{
		display:none;
	}
	.signup_right_section .sociallogin_buttons{
		margin:0;
	}
}
@media (max-width:599px){
	#sesfbstyle_form_login > div > div > .form-elements,.recent_login_section{
		width:100%;
	}
	.signup_left_section{
		padding:50px 0px;
	}
	.signup_left_content .left_heading p{
		font-size:18px;
	}
	.signup_left_content .left_pragraph p{
		font-size:14px;
	}
	.recent_members_data > div {
    margin: 15px 10px 0 0;
    width: calc(50% - 10px)
  }
	.members_tab_item > ._img {
    width: 100%;
	}
}