/* $Id:slideshow.css 2016-07-23 00:00:00 SocialEngineSolutions $*/

.layout_edocument_featured_sponsored_verified_category_slideshow{
	padding:0px !important;
	border:0px !important;
	background-color:transparent !important;
	box-shadow:none !important;
}
.edocument_slideshow_document_wrapper.isbulletnav{
	margin-bottom:35px;
}
.edocument_slideshow_document{
	height:100%;
}
.edocument_slideshow_document .edocument_slideshow_thumb a.edocument_slideshow_thumb_img{
	display: block;
	height: 100%;
}
.edocument_slideshow_document .edocument_slideshow_thumb a.edocument_slideshow_thumb_img > span{
	background-position: center;
	background-size: cover;
	display: block;
	height: 100%;
	width: 100%;
}
.edocument_slideshow_document .edocument_slideshow_thumb .edocument_list_labels{
	top:0px;
	bottom:inherit;
}
.edocument_slideshow_document .edocument_slideshow_thumb .edocument_verified_label{
	position: absolute;
	bottom: 0px;
	right: 0px;
	background: #93C33C;
	padding: 3px 5px;
	color: #fff;
}
.edocument_slideshow_document .edocument_slideshow_thumb.edocument_thumb:hover .edocument_list_labels, .edocument_slideshow_document .edocument_slideshow_thumb.edocument_thumb:hover .edocument_verified_label{
	display:none;
}
.edocument_slideshow_document .edocument_slideshow_thumb .edocument_list_grid_thumb_btns{
	top:-20px;
	-webkit-transition:all 800ms ease 0s;
	-moz-transition:all 800ms ease 0s;
	-o-transition:all 800ms ease 0s;
	transition:all 800ms ease 0s;
	text-align:right;
	right:10px;
}
.edocument_slideshow_document .edocument_slideshow_thumb.edocument_thumb:hover .edocument_list_grid_thumb_btns{
	top:25px;
	-webkit-transition:all 800ms ease 0s;
	-moz-transition:all 800ms ease 0s;
	-o-transition:all 800ms ease 0s;
	transition:all 800ms ease 0s;
}
.edocument_slideshow_document .edocument_slideshow_inner_view .edocument_slideshow_inside{
	position: relative;
	overflow: hidden;
	width:60%;
	float:left;
}
.edocument_slideshow_document .edocument_slideshow_inner_view .edocument_slideshow_info{
	bottom: 0;
	padding: 0px;
	left: 0;
	z-index: 2;
	margin:15% 4%;
}
.edocument_slideshow_document .edocument_slideshow_info *, .edocument_slideshow_document .edocument_slideshow_info a{
	color:#F5F5F5;
}
.edocument_slideshow_document .edocument_slideshow_info .edocument_slideshow_info_title{
	font-size:22px;
	font-weight:bold;
	display:block;
	margin-bottom:0px;
}
.edocument_slideshow_document .edocument_slideshow_info .edocument_list_rating{
	margin-top:5px;
}
.edocument_slideshow_document .edocument_slideshow_info .edocument_list_stats {
	margin-top: 5px;
	margin-right: 4px;
	padding-right:0px;
	height:30px;
	display:inline-block;
}
.edocument_slideshow_document .edocument_slideshow_info .edocument_list_stats span, .edocument_slideshow_document .edocument_slideshow_info .edocument_list_stats span i, .edocument_slideshow_document .edocument_slideshow_info .edocument_list_stats span a{
	color:#adadad;
}
.edocument_slideshow_document .edocument_slideshow_info .category_tag{
	display:inline-block;
	position:absolute;
	bottom:20px;
	right:35px;
}
.edocument_slideshow_document .edocument_slideshow_info .category_tag span a {
	padding: 0px 15px;
	height: 25px;
	display:block;
	margin: 0px;
	line-height:25px;
	text-decoration:none;
}
.edocument_slideshow_document .edocument_slideshow_info .category_tag span a:before{
	content: "";
    border-style: solid;
    border-width: 25px 10px 21px;
    border-color: transparent;
    left: -10px;
    top: -0px;
    position: absolute;
}
.edocument_slideshow_document .edocument_slideshow_info .category_tag span a:after {
    content: "";
    border-style: solid;
    border-width: 21px 10px 25px;
    border-color: transparent;
    right: -10px;
    bottom: -0px;
    position: absolute;
}
.edocument_slideshow_document .edocument_slideshow_info .category_tag span a:hover{
	opacity:0.8;
}
.edocument_slideshow_document .edocument_slideshow_info .edocument_list_stats:last-child{
	border:none;
}
.edocument_slideshow_document .edocument_slideshow_info .edocument_list_stats span,
.edocument_slideshow_info .edocument_list_stats span i{
	margin-right:5px;
}
.edocument_slideshow_document .edocument_slideshow_info .edocument_list_stats span{
	margin-top:5px;
	display:inline;
}
.edocument_slideshow_document .bjqs-controls li a{
	font-size:20px;
	padding:15px 10px;
}
.edocument_slideshow_document .bjqs-controls li a:before{
	content:'';
	font-family:'FontAwesome';
	float:right;
}
.edocument_slideshow_document .bjqs-controls li.bjqs-next a:before{
	content:'\f105';
}
.edocument_slideshow_document .bjqs-controls li.bjqs-prev a:before{
	content:'\f104';
}
.edocument_slideshow_document .layout_edocument_featured_sponsored_verified_category_slideshow{
	padding:15px 15px 30px 15px !important;
}
.edocument_slideshow_document .bjqs-markers li{
	margin-right:5px;
}
.edocument_slideshow_document .bjqs-markers li a{
	font-size:0px;
	border-width:1px;
	border-color:#ccc;
	padding:5px;
	border-radius:50%;
}
.edocument_slideshow_inside_contant .admin_teg a img{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	float: left;
	margin-right: 5px;
}
.edocument_slideshow_inside_contant {
	overflow: hidden;
	background: #444444;
	height: 100%;
	width: 40%;
}
.edocument_slideshow-des{
	margin-top:15px;
	line-height:25px;
}
/*layout right slideshow css*/
.layout_right .edocument_slideshow_document .edocument_slideshow_inner_view .edocument_slideshow_info,
.layout_left .edocument_slideshow_document .edocument_slideshow_inner_view .edocument_slideshow_info{
	padding:10px;
}
.layout_right .edocument_slideshow_document .edocument_slideshow_info .edocument_slideshow_info_title,
.layout_left .edocument_slideshow_document .edocument_slideshow_info .edocument_slideshow_info_title{
	font-size:14px;
}
.layout_right .edocument_slideshow_document .edocument_slideshow_info .edocument_list_stats,
.layout_left .edocument_slideshow_document .edocument_slideshow_info .edocument_list_stats{
	font-size:10px;
}

/*Full Width Slideshow*/
.edocument_slideshow_document_wrapper.isfull_width .edocument_slideshow_document_container{
	background:#444;
	left:0;
	right:0;
	position:absolute;
	overflow:hidden;
}
.edocument_slideshow_document_wrapper.isfull_width .edocument_slideshow_document{
	position:inherit !important;
}

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{
	right:-29px;
	-webkit-transition: all 800ms ease 0s;
	-moz-transition: all 800ms ease 0s;
	-o-transition: all 800ms ease 0s;
	transition: all 800ms ease 0s;
}
.edocument_slideshow_document_container:hover ul.bjqs-controls.v-centered li.bjqs-next a{right:0px;}
.edocument_slideshow_document_container:hover ul.bjqs-controls.v-centered li.bjqs-prev a{left:0px;}
ul.bjqs-controls.v-centered li.bjqs-prev a{
	left:-29px;
	-webkit-transition: all 800ms ease 0s;
	-moz-transition: all 800ms ease 0s;
	-o-transition: all 800ms ease 0s;
	transition: all 800ms ease 0s;
}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

@media (max-width:600px){
  .edocument_slideshow_document, li.bjqs-slide, ul.bjqs, .bjqs-wrapper{height: 400px !important;}
  .edocument_slideshow_document .edocument_slideshow_inner_view .edocument_slideshow_inside,
  .edocument_slideshow_inside_contant{width:100%;}
  .edocument_slideshow_document .edocument_slideshow_inner_view .edocument_thumb{height:200px !important;}
  .edocument_slideshow_inside_contant{height: 200px; border-left:0px;}
  .edocument_slideshow_document .edocument_slideshow_inner_view .edocument_slideshow_info{margin:10px;}

  .edocument_slideshow_document .edocument_slideshow-des{display: none;}
}
