
.sesprofilefield_infoadd_btn ._mainbtn{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
}
.sesprofilefield_infoadd_options,.accomp_dropdown .dropdown_options ul{
	background-color:$theme_list_background_color;
}
#sesprofilefield_educations p.education_activities {
  line-height: 1.6;
}
#sesprofilefield_certifications .certifiction_details .certification_link a,.sesprofilefields_profile_information a.add_entries:hover,.project_url a{
	color:$theme_button_background_color !important;
}
.accomp_dropdown .dropdown_options ul:after {
	border-bottom: 10px $theme_list_background_color solid;
	z-index: 1000;
	margin-left: -25px;
}
.sesprofilefields_profile_information > section{
	background:$theme_box_background_color;
}
#sesprofilefield_skills .profile_skill_item_endorsers_container ul li img{
	border:3px solid $theme_box_background_color;
}