
/* ACTION TYPE ICONS */ 


/* ITEM TYPE ICONS */


/*Generic Layout Container*/
[class*='layout_epetition_'], 
[id^='global_page_epetition-'] .layout_core_content{
  clear:both;
  margin-bottom:15px;
}
[class*='layout_epetition_']:after, 
[id^='global_page_epetition-'] .layout_core_content:after{
	clear:both;
	content:'';
	display:block;
}
[class*='tab_layout_epetition_']{
  margin:0;
  clear:none;
}
.epetition_button_outline{
	border:1px solid $theme_button_background_color;
	color:$theme_button_background_color !important;
	border-radius:5px;
	display:block;
	height:40px;
	line-height:38px;
	padding:0 15px;
	text-align:center !important;
	text-transform:uppercase;
}
.epetition_button_outline:hover,
.epetition_dashboard_tabs > ul > li > a,
.epetition_profile_view_info .epetition_info_goal,
html .epetition_landing_link,
[id^='global_page_epetition-'] .sidebar_privew_next_btns a,
.epetition_social_share_button > button{
	background-color:$theme_button_background_color !important;
	color:$theme_button_font_color !important;
}
.epetition_signature_bar_container .epetition_signature_bar{
	border-radius:10px;
	background-color:#ccc;
	height:12px;
	width:100%;
	position:relative;
	margin-bottom:10px;
}
.epetition_signature_bar_container .epetition_signature_bar_filled{
	background-color:$theme_button_background_color;
	border-radius:10px;
	height:100%;
}
/*FEED ITEMS*/
.feed_attachment_epetition > div{
  border-width:1px;
  margin-bottom:5px;
  overflow:hidden;
}
.feed_attachment_epetition > div > a{
  display:block;
}
.feed_attachment_epetition > div > a > img{
  height:250px;
  margin:0;
  width:100%;
  max-height:inherit !important;
  max-width:inherit !important;
  object-fit:cover;
}
.feed_attachment_epetition > div > div{
  clear:both;
  padding:10px 15px;
}
.feed_attachment_epetition .feed_item_link_title{
  font-size:14px !important;
}
.feed_attachment_epetition .feed_item_link_desc{
  font-size:13px !important;
}
.feed_item_attachments .feed_attachment_sespage_album > div > a img{
	max-width: 100% !important;
	max-height: 400px !important;
	width: auto;
}
.feed_item_attachments .feed_attachment_sespage_album > div > a + div{
	display:none;
}
/*Create Form CSS Start*/
.epetition_upload_dragdrop_content{
	background-color:$theme_list_background_color_hover;
}
/*Create Form CSS End*/
/* Profile page css start */
.epetition_owner_photo_three .epetition_gutter_photo_circle,
.epetition_owner_photo_three .epetition_gutter_photo_square,
.epetition_grid_read_btn a{
	background-color:$theme_list_background_color;
	border:3px solid $theme_list_background_color;
}
.epetition_dashboard_tabs > ul,
.epetition_dashboard_top_section,
.epetition_sidebar_grid,
.epetition_statistics > li i,
.epetition_slideshow_inside_contant,
.epetition_sidebar_grid,
.epetition_tags_cloud_petition .epetition_tags_cloud_list li a,
.epetition_dashboard_menu_list .sesbasic_dashboard_content,
.epetition_dashboard_petition_info{
	background-color:$theme_list_background_color;
}
#global_page_epetition-index-welcome{
	background-color:$theme_list_background_color !important;
}
/* DASHOBOARD ADD DECISION MAKER */
.epetition_edit_location_popup label {
	margin-bottom: 10px;
	display: block;
}
.epetition_edit_location_popup {
  padding: 10px;
}
.epetition_edit_location_popup #buttons-wrapper{
  float: right;
  position: relative;
  top: -35px
}
.epetition_category_header{
	border-left-color:$theme_button_background_color;
}
.epetition_grid_read_btn a,
.epetition_list_readmore a{
	border:1px solid $theme_button_background_color !important;
	color:$theme_button_background_color !important;
}
.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:after{
	border-bottom: 11px solid $theme_button_background_color !important;
}
.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:before{
	border-bottom:3px solid $theme_button_background_color !important;
}
.epetition_slideshow_info .epetition_slideshow_info_title,
.epetition_profile_map_address_box b > a > i{
	color:$theme_button_background_color !important;
}
#epetition_fs_slideshow,.sp-mask{
	max-width:100% !important;
}
.sp-bottom-thumbnails,.sp-grab{
	width:100% !important;
}
.sp-next-arrow:after, .sp-next-arrow:before, .sp-previous-arrow:after, .sp-previous-arrow:before{
	background-color:$theme_button_background_color !important;
}
.epetition_petition_grid_item_mysign .epetition_item_info ul li a,
.epetition_category_petition .entry_meta .owner_name a{
	color:$theme_font_color_light !important;
}