
/*MAIN INFO CSS START*/
.epetition_profile_main_photo{
	height:400px;
}
.epetition_profile_main_photo img{
	height:100%;
	object-fit:cover;
	width:100%;
}
.epetition_profile_main_content{
	padding-top:15px;
}
.epetition_profile_main_content h1{
	font-size:25px;
	font-weight:700;
	margin-bottom:10px;
}
.epetition_profile_main_info{
	display:flex;
	align-items:center;
	margin:20px 0;
}
.epetition_profile_main_owner{
	flex:1;
	display:flex;
}
.epetition_profile_main_owner ._thumb{
	margin-right:20px;
}
.epetition_profile_main_owner ._thumb img{
	border-radius:50%;
	height:48px;
	width:48px;
}
.epetition_profile_main_owner ._info ._name{
	font-weight:bold;
	margin-bottom:5px;
}
.epetition_profile_main_owner ._info ._stats{
	font-size:90%;
}
.epetition_profile_main_owner ._info ._stats > p > span + span{
	margin-left:10px;
}
.epetition_profile_main_owner ._info ._stats > p > span i{
	margin-right:5px;
}
.epetition_profile_main_buttons{
	display:flex;
}
.epetition_profile_main_buttons > div{
	padding-left:10px;
}
.epetition_profile_main_buttons > div > .sesbasic_icon_btn{
	padding:0;
	border-radius:50%;
	height:40px;
	line-height:40px;
	width:40px;
	color:#fff;
}
.epetition_profile_main_buttons > div > .sesbasic_icon_btn i:before,
.epetition_profile_main_buttons > div > .sesbasic_icon_btn_count i:before,
.epetition_profile_main_buttons > div > .sesbasic_icon_btn_count span{
	line-height:40px;
}
.epetition_profile_main_buttons .epetition_listing_share_box {
	transform:none;
	left:auto;
	right:0;
}
.no_dm {
	border: 0;
	background: #ff7166;
	display: inline-block;
	color: #fff;
	border-radius: 6px;
	padding: 8px 20px;
}
/*MAIN INFO CSS END*/
/*SIDEBAR BUTTONS CSS START*/
html .layout_epetition_advance_share,
html .layout_epetition_like_button,
html .layout_epetition_favourite_button{
	padding:0 !important;
	border-width:0 !important;
	box-shadow:none !important;
	background:none !important;
}
.epetition_socila_share_button button {
	width:100%;
	padding:10px;
}
html .layout_epetition_like_button a,
html .layout_epetition_favourite_button a{
	display:block;
	padding:10px;
}
/*SIDEBAR BUTTONS CSS END*/
/*PROFILE LABELS CSS START*/
.epetition_profile_labels p{
	color:#fff;
	text-align:center !important;
	line-height:40px;
	font-weight:bold;
	letter-spacing:2px;
}
.epetition_profile_labels p + p{
	margin-top:10px;
}
/*PROFILE LABELS CSS END*/

/* PROFILE OWNER INFO CSS STARTS */
.epetition_owner_photo_three .epetition_gutter_photo_circle,
.epetition_owner_photo_three .epetition_gutter_photo_square{
	width:120px;
	height:120px;
	overflow:hidden;
	display:block;
  margin:auto;
	box-shadow:0 0 10px #e0e0e0;
}
.epetition_owner_photo_three .epetition_gutter_photo_circle,
.epetition_owner_photo_three .epetition_gutter_photo_circle img{
	border-radius:150px;
}
.epetition_owner_photo_three .epetition_gutter_photo_square,
.epetition_owner_photo_three .epetition_gutter_photo_square img{
	border-radius:4px;
}
.epetition_owner_photo_three a img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.epetition_owner_photo_three .epetition_gutter_name{
	display:block;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}
.epetition_owner_photo_three #totalpeition {
	text-align: center;
	margin: 10px 0 5px;
}
.epetition_owner_photo_three .about_title {
	text-align: center;
	display: block;
	font-weight: 600;
	margin-bottom: 20px;
}
/* PROFILE TAGS */
.epetition_tags_cloud_list > li {
  display:inline-block;
}
.epetition_tags_cloud_list > li > a {
	padding:4px 10px;
	border-radius:4px;
	display:inline-block;
	margin-bottom:5px;
	font-size:13px;
	color:#fff;
}
.epetition_tags_cloud_list > li:nth-child(5n+1) > a {
  background:#3F51B5;
}
.epetition_tags_cloud_list > li:nth-child(5n+2) > a {
  background:#e91e63;
}
.epetition_tags_cloud_list > li:nth-child(5n+3) > a {
  background:#009688;
}
.epetition_tags_cloud_list > li:nth-child(5n+4) > a {
  background:#ff5722;
}
.epetition_tags_cloud_list > li:nth-child(5n+5) > a {
  background:#2196f3;
}
.epetition_tags_cloud_list > li:nth-child(5n+6) > a {
  background:#607d8b;
}
.epetition_tags_cloud_list > li:nth-child(5n+7) > a {
  background:#f44336;
}
.epetition_tags_cloud_list > li:nth-child(5n+8) > a {
  background:#cddc39;
}
/* SIGN PETITION */
.epetition_signtaure_profile, 
.epetition_signtaure_profile > div {
  text-align: center;
}
.epetition_lets_get {
	font-weight: bold;
	color: #20cc3c;
	font-size: 110%;
}
.epetition_signtaure_profile .epetition_target{
	font-weight: bold;
	font-size: 110%;
}
.epetition_signtaure_profile a {
	font-weight: bold;
	color: #fff;
	background: #20cc3c;
	padding: 12px 10px;
	display: block;
	margin: 0 10px;
	border-radius: 6px;
}
.epetition_signtaure_profile .epetition_signature_bar_container {
  margin:25px 0;
}
.epetition_sign_petition_popup {
	width: 450px;
	padding: 20px;
}
.epetition_sign_petition_popup h3{
	margin-bottom:10px;
}
.epetition_sign_petition_popup label {
  font-weight: bold;
}
.epetition_sign_petition_popup input,
.epetition_sign_petition_popup textarea{
	max-width:90%;
	width:100%;
	margin:10px 0 15px;
}
/* GUTTER OPTIONS */
.epetition_gutter_options > li > a {
	display: block;
	padding: 10px 0;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	font-weight: bold;
	line-height: inherit;
}
.epetition_profile_main_content p {
  line-height: 160%;
}
.epetition-near-victory {
  font-weight: bold;
}
.epetion_profile_gutter .sesbasic_pulldown_options {
	width: 150px;
	margin-left: -100px;
	margin-top: 50px;
	padding: 0;
}
.epetion_profile_gutter .layout_epetition_gutter_menu{
	margin-bottom:0 !important;
}
.epetion_profile_gutter .epetition_gutter_options > li > a {
  padding: 10px;
}
.epetion_profile_gutter .epetition_gutter_options > li:last-child > a{
	border:0;
}
/* PROFILE UPDATES */
.layout_epetition_view_about .rich_content_body p{
	line-height:160%;
}
.epetition_owner_signature .epetition_signature_time {
	font-size: 95%;
	margin: 5px 0;
}
.epetition_signature_support_statement {
	font-size: 95%;
	line-height: 160%;
}
.epetition_owner_signature {
	border-width: 1px;
	margin-bottom: 15px;
	border-bottom-width: 3px;
}
.epetition_owner_signature > .epetition_signature_support_statement{
	padding:10px;
	background:url(../images/transprant-bg.png);
	margin-bottom: 5px;
}
.epetition_owner_signature > div {
  padding: 0 10px 10px;
}
.epetition_owner_signature .sign_options > a {
	display: inline-block;
	padding: 5px 10px;
	line-height: 15px;
	margin-top: 6px;
  margin-bottom: -5px;
}
/* PROFILE INFO */
.epetition_profile_view_info > li {
  margin-bottom: 10px;
}
.epetition_profile_view_info .epetition_info_goal{
	padding: 4px 12px;
	display: inline-block;
	font-weight: bold;
	border-radius: 4px;
}
/* DECISION MAKER */
.epetition_profile_decision_maker {
  display: flex;
}
.epetition_profile_decision_maker > li {
	width: 24%;
	padding: 10px;
	margin-right: 10px;
	font-weight:bold;
	text-align:center;
	background:url(../images/transprant-bg.png);
}
.epetition_profile_decision_maker > li img{
  width: 30px;
	height: 30px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 5px;
}
/* PROFILE STATISTICS */
.layout_epetition_petition_statistics ul li {
  margin-bottom: 10px;
}
/* SIDEBAR INFO */
.layout_epetition_sidebar_info ul li {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	display: flex;
}
.layout_epetition_sidebar_info ul li:last-child{
	margin-bottom:0;
	padding-bottom:0;
	border-bottom-width:0;
}
.layout_epetition_sidebar_info ul li i {
  min-width: 20px;
}
/* GUTTER MENU */
.epetition_gutter_dashboard:before {
  content: "\f044";
}
.epetition_gutter_decisionmaker:before {
	content: "\f140";
	font-family: 'FontAwesome';
	margin-right: 6px;
}
.epetition_gutter_report:before{
	margin-right: 6px;
}
.epetition_gutter_delete:before {
  content: "\f1f8";
}
/* PROFILE MAP */
.epetition_profile_map_address_box b > a {
	margin-bottom: 15px;
	display: inline-block;
}
.epetition_profile_map_address_box b > a > i {
  margin-right: 5px;
}