
/*LANDING PAGE CSS*/
#global_page_core-index-index {
  overflow:hidden;
}
#global_page_core-index-index #global_wrapper{
	padding:0 !important;
	height:100%;
}
#global_page_core-index-index #global_content{
	width:100% !important;
}
#global_page_core-index-index .layout_page_footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}
.layout_sestwitterclone_landing_page{
	background:none !important;
	border-width:0 !important;
	padding:0 !important;
	margin:0 !important;
}
.landing_page_main {
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
  height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}
.landing_page_inner {
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-moz-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.landing_page_inner > div{
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
}
.landing_page_left{
	overflow:hidden;
}
.landing_page_left:before{
	content:"";
	position:absolute;
	background:url("./images/bubble.png");
	width: 100%;
	height:100%;
	opacity: .1;
	top: 50px;
	right: -250px;
	background-size: 85%;
	background-repeat: no-repeat;
	background-position: top right;
}
.landing_page_left > ul{
	max-width:440px;
}
.landing_page_left > ul > li{
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	margin: 48px auto;
	position: relative;
	color:#fff;
}
.landing_page_left > ul > li > img{
	max-height: 30px;
	margin-right: 16px;
}
.landing_page_right .landing_page_right_inner {
  max-width: 350px;
}
.landing_page_right .layout_sestwitterclone_login_or_signup {
	position:absolute;
	top:20px;
	left:0;
	right:0;
	margin:auto;
	display:block;
}
.landing_page_right .sesbasic_login_form>div>div {
	padding: 0;
	border: none;
	background-color: transparent;
}
.landing_page_right .sesbasic_login_form div.form-wrapper {
	margin-right: 7px;
}
.landing_page_right .sesbasic_login_form div.form-label,
.landing_page_right .sesbasic_login_form #remember-wrapper,
.landing_page_right .sesbasic_login_form #showhide_password{
	display:none;
}
.landing_page_right .sesbasic_login_form input[type=text], 
.landing_page_right .sesbasic_login_form input[type=email],
.landing_page_right .sesbasic_login_form input[type=password] {
    padding: 12px 8px;
    border-radius: 2px;
    width: 160px !important;
}
.landing_page_right .sesbasic_login_form button{
	border-radius: 100px;
	font-weight: bold;
	line-height: 20px;
	padding:9px 10px;
	position: relative;
	text-align: center;
	white-space: nowrap;
	border:1px solid;
	background:none;
}
.landing_page_right .sesbasic_login_form > div > div > .form-elements {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.landing_page_right .sesbasic_login_form div.form-element {
  min-width: 100%;
}
.landing_page_right .sesbasic_login_form #forgot-wrapper {
	position: absolute;
	bottom: -25px;
	left: 44%;
	right: 0;
	margin: auto;
	display: block;
	text-align: center;
	width: 100%;
	font-size: 90%;
}
[dir="rtl"] .landing_page_right .sesbasic_login_form #forgot-wrapper {
  right: 45%;
}
.landing_page_right_inner > .lp_right_header {
	moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 16px auto;
}
.lp_right_header .lp_logo img {
  max-height:42px;
}
.landing_page_right_inner .lp_title{
	font-size: 26px;
	line-height: 32px;
	font-weight: bold;
}
.landing_page_right_inner .lp_subtitle{
	font-size: 17px;
	line-height: 23px;
	margin: 16px auto;
	margin-top:48px;
	font-weight: bold;
}
.landing_page_right_inner .lp_right_btm a{
	border-radius: 100px;
	box-shadow: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding: 6px 16px;
	position: relative;
	text-align: center;
	white-space: nowrap;
	display: block;
	margin-bottom: 16px;
	transition:all .5s ease;
}