/* CREATE POLL*/
.errror_dummy_h2{
	color:red;
	border:1px dashed;
	font-size:15px;
	padding:8px 10px;
	font-weight:600;
}
#addOptionLink{
  display:block;
  margin-top:3px;
}
.pollOptionInput .sesadvpoll_upload_img{
	position:relative;
	overflow:hidden;
	display:block;
	margin:4px 0;
}
.pollOptionInput .sesadvpoll_upload_img img{
	width:100% !important;
	height:200px !important;
	object-fit:cover;
	box-sizing:border-box;
}
.pollOptionInput .sesadvpoll_upload_img .remove-image{
	position:absolute;
	background:rgba(0, 0, 0, 0.3);
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.pollOptionInput .sesadvpoll_upload_img .remove-image:before{
	display:block;
	text-align:right;
	margin:10px;
	font-size:20px;
	color:white;
}
.pollOptionInput{
	position:relative;
}
.pollOptionInput input[type="text"]{
  padding-right:70px !important;
  width:100%;
	margin-bottom:0;
}
.pollOptionInput .sesadvpoll_add_photo input[type=file],
.pollOptionInput .sesadvpoll_add_gif input[type=file]{
	opacity:0;
	width:30px;
	cursor:pointer;
}
.pollOptionInput .sesadvpoll_add_photo{
	background:url(../images/add-photo.png);
	width:20px;
	height:34px;
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	cusor:pointer;
}
.sesact_poll_composer_option .pollOptionInput .sesadvpoll_add_photo{
	height:45px;
}
.pollOptionInput .sesadvpoll_add_gif{
	background:url(../images/add-gif.png);
	width:24px;
	height:35px;
	background-position:center;
	background-size:24px;
	background-repeat:no-repeat;
}
.pollOptionInput .sesadvpoll_uploadmedia{
	position:absolute;
	right:5px;
	top:0;
	display:flex;
}
#poll_edit_create .form-elements  #options-element{
	min-width:300px;
	max-width:300px;
	width:100%;
	overflow:visible;
}
.ses_gif_holder ._sesadvgif_gif_polloption{
	display:block;
	width:100%;
	height:250px;
}
.ses_gif_holder ._sesadvgif_gif_polloption img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.remove-sesadvpoll-option{
	color:#fb3f3f;
	margin-bottom:5px;
}
.remove-sesadvpoll-option i{
	font-size:16px;
	margin-right:5px;
}
.sesadvpoll_add_gif a:before{
  background:none !important;
}
p.remove{
 position:absolute;
 right:-24px;
 top:6px;
}
#global_page_sesadvpoll-index-create .sesact_post_tool_i.tool_i_gif > a:before,
#global_page_sesadvpoll-poll-edit .sesact_post_tool_i.tool_i_gif > a:before{
	background-position:4px 1px !important;
}
/*Edit Poll*/
.sesadvpoll_edit_img{
	position:relative;
	display:block;
}
.sesadvpoll_edit_img img{
	width:100%;
	height:200px;
	object-fit:cover;
	margin:20px 0;
	position:relative;
}
.sesadvpoll_edit_img .remove-image,.sesadvpoll_upload_img .remove-gif{
	position:absolute;
	background:rgba(0, 0, 0, 0.3);
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1;
}
.sesadvpoll_edit_img .remove-image:before,.sesadvpoll_upload_img .remove-gif:before{
	display:block;
	text-align:right;
	margin:10px;
	font-size:20px;
	color:white;
}
/* Browse Polls */
.sesadvpoll_twoitems{
	display:flex;
	flex-wrap:wrap;
}
.sesadvpoll_poll_listing > li{
	position:relative;
	display:flex;
  flex-wrap:nowrap;
	margin:10px;
	border-width:1px;
  border-style:dashed;
	padding:15px;
	border-radius:4px;
	overflow:hidden;
}
.sesadvpoll_poll_listing > li:before{
	content:"";
	position:absolute;
	left:0;
	right:0;
	width:3px;
	height:75%;
	top:.7rem;
}
.sesadvpoll_poll_listing li .sesadvpoll_browse_info{
	flex:1;
}
.sesadvpoll_poll_listing li .sesadvpoll_browse_info .stats{
	margin-top:5px;
}
.sesadvpoll_twoitems > li{
	width:calc(50% - 20px);
	display:block;
	text-align:center;
	border-left:0;
  border-radius:0;
}
.sesadvpoll_twoitems > li:before {
	height:100%;
	top:0;
}
.sesadvpoll_twoitems > li .sesadvpoll_stats a{
	float:none;
	display:inline-block;
}
.sesadvpoll_twoitems > li > .sesadvpoll_browse_info,.sesadvpoll_twoitems > li > .sesadvpoll_browse_info div{
	text-align:center;
}
.stats> span {
  margin-right: 4px;
}
.sesadvpoll_poll_listing .stats i{
  font-size:12px;
	margin-right:1px;
}
.sesadvpoll_poll_listing li h3 a{
  font-weight:600;
}
.sesbasic_icon_btn{
	margin-left:4px;
}
.sesadvpoll_poll_listing li h3{
	max-width:100%;
	font-size:16px;
	text-overflow:ellipsis;
	line-height:24px;
	font-weight:600;
	margin-bottom:0;
	padding:0;
	padding-right:20px;
}
.sesadvpoll_twoitems li h3{
	padding-right:0 !important;
}
.sesadvpoll_poll_listing li a img{
	border-radius:50px;
	margin-right:10px;
}
.sesadvpoll_poll_listing li .sesadvpoll_stats{
  margin:4px 0;
}
.sesadvpoll_poll_listing li .sesadvpoll_browse_info_desc{
  margin:8px 0;
}
/* My Polls */
#global_page_sesadvpoll-index-manage .sesadvpolls_browse li{
  width:100% !important;
}
.sesadvpolls_browse .sesadvpolls_browse_options{
	position:absolute;
	right:0;
}
.sesadvpolls_browse .sesadvpolls_browse_options a{
	font-size:13px;
	font-weight:500;
	margin-right:15px;
}
.sesadvpolls_browse .sesadvpolls_browse_options .icon_poll_close:before{
  content:"\f023";
}
.sesadvpolls_browse .sesadvpolls_browse_options .icon_poll_edit:before{
	content:"\f044";
}
.sesadvpolls_browse .sesadvpolls_browse_options .icon_poll_delete:before{
	content:"\f014";
}
.sesadvpolls_browse .sesadvpolls_browse_options .icon_poll_open:before{
	content:"\f13e";
}
.sesadvpoll_poll_listing .sesadvpolls_browse_info_desc{
	margin:5px 0;
}
.sesadvpoll_poll_listing .sesadvpolls_counts span{
	font-weight:bold;
	margin-right:3px;
}
.sesadvpoll_poll_listing .sesadvpoll_option_view{
	position:absolute;
	top:10px;
	right:10px;
	text-align:right;
}
.sesadvpoll_resultview .sesadvpoll_has_voted .sesadvpoll_percentage_bar,
.sesadvpoll_view_single .sesadvpoll_not_voted .sesadvpoll_optioncontent,
.sesadvpoll_with_img .sesadvpoll_has_voted .sesadvpoll_percent,.sesadvpoll_with_img .sesadvpoll_has_voted .sesadvpoll_optioncontent{
	background:url(../images/transprant-bg.png);
}
.sesadvpolls_view .sesadvpoll_img_box{
	width:calc(33% - 10px);
}
/* View Page */
.sesadvpoll_options .sesadvpoll_with_img{
  width:calc(25% - 10px);
}
.hide_not_voted{
	display:none !important;
}
.show_not_voted{
	display:flex !important;
}
.sesadvpoll_options .sesadvpoll_with_img .sesadvpoll_answer_total > div{
  padding:10px 2px;
}
#global_page_sesadvpoll-poll-view .sesbasic_breadcrumb{
	padding:5px 0;
	font-size:16px;
	letter-spacing:.5px;
}
#global_page_sesadvpoll-poll-view .sesbasic_breadcrumb a{
	margin:0 5px 0 1px;
	text-transform:capitalize;
	font-weight:700;
}
#global_page_sesadvpoll-poll-view .sesbasic_breadcrumb a:last-child{
	font-weight:normal;
}
.layout_page_sesadvpoll_poll_view .sesadvpoll_owner_name{
	font-size:15px;
	font-weight:bold;
	letter-spacing:.5px;
	margin-top:10px;
	text-transform:capitalize;
}
.sesadvpoll_view_single .sesadvpoll_stats{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.sesadvpoll_view_single .sesadvpoll_stats .sesadvpoll_icons{
	display:flex;
  align-items:center;
}
.sesadvpoll_imginfo{
	width:390px;
}
/* Manage Poll */
.sesadvpoll_poll_listing .sesadvpolls_browse_info_date,
.sesadvpoll_poll_listing .sesadvpolls_counts{
  font-size:13px;
}
.sesadvpolls_browse_options .sesbasic_pulldown_options{
	width:120px;
	padding:5px;
	position:absolute;
	right:-10px;
}
.sesadvpolls_browse_options .sesbasic_pulldown_options a{
	display:block;
	font-weight:normal;
	font-size:13px;
}
.sesadvpoll_poll_listing .sesadvpolls_browse_info_date > a{
	border-right-width:1px;
	padding-right:8px;
}
.sesadvpoll_poll_listing .sesadvpolls_browse_info_date span{
  padding-left:5px;
}
.sesadvpolls_browse_options .sesbasic_pulldown_options a:before{
	width:20px;
	text-align:center;
	margin-right:0;
}
.sesadvpolls_browse_options{
	position:absolute;
	right:10px;
}
.sesadvpolls_browse_options > a{
	font-size:16px;
}
.sesadvpoll_profile_addpoll a{
	padding:8px 10px;
	border-radius:4px;
}
.sesadvpoll_profile_addpoll a:before{
	font-family:"FontAwesome" !important;
}
/* Page profile tab */
.sesadvpoll_profile_tab_wrapper .sesadvpoll_poll_listing li h3{
	padding-right:120px;
}
/* Manage Polls */
.sesadvpoll_listing{
	position:relative;
	display:flex;
	flex-wrap:nowrap;
	margin:10px;
	border-width:1px;
	border-style:dashed;
	padding:15px;
	border-radius:4px;
	overflow:hidden;
}
.sesadvpoll_listing .sesadvpolls_browse_info_desc{
	margin:5px 0;
}
.sesadvpoll_listing a img{
	border-radius:50px;
	margin-right:10px;
}
.sesadvpoll_listing h3{
	max-width:100%;
	font-size:16px;
	text-overflow:ellipsis;
	line-height:24px;
	font-weight:600;
	margin-bottom:0;
	padding:0;
	padding-right:20px;
}
.sesadvpoll_listing ._btnsleft{
	margin:4px 0;
}
.sesadvpoll_listing .sesadvpoll_option_view{
	position:absolute;
	right:10px;
}
.sesadvpoll_listing:before{
	content:"";
	position:absolute;
	left:0;
	right:0;
	width:3px;
	height:75%;
	top:15px;
}
/*SIDE WIDGET START HERE*/
.sesadvpoll_sidebar_widget ul{
  padding:0;
}
.sesadvpoll_sidebar_widget ul li{
	padding:0;
	display:flex;
	margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom-width: 1px;
}
.sesadvpoll_sidebar_widget ul li:last-child{
	border-bottom:0;
}
.sesadvpoll_sidebar_widget ul li .photo{
  padding-right:10px;
}
.sesadvpoll_sidebar_widget .sesadvpoll_browse_info_title{
  font-weight:600;
}
.sesadvpoll_sidebar_widget  .stats{
	margin-top:2px;
}
.sesadvpoll_sidebar_widget  .stats > span{
	margin-right:2px;
}
.sesadvpoll_sidebar_widget  .stats > span i{
	margin-right:3px;
}
.sesadvpoll_sidebar_vertical .photo {
  float: none !important;
}
.sesadvpoll_sidebar_vertical .photo img {
  margin: auto;
}
.sesadvpoll_sidebar_vertical .sesadvpoll_browse_info_title,
.sesadvpoll_sidebar_vertical .stats{
  text-align: center;
}
.sesadvpoll_sidebar_vertical ul li{
	display:block;
}
/*SIDE WIDGET END HERE*/
@media(max-width:767px){
	.sesadvpoll_options .sesadvpoll_with_img{
		width:100% !important;
	}
}
@media(min-width:768px) and (max-width:900px){
	.sesadvpoll_options .sesadvpoll_with_img{
    width:calc(50% - 10px) !important;
	}
}
