/* Magnific Popup CSS */
.mfp-bg { top:0; left:0; width:100%; height:100%; z-index:1042; overflow:hidden; position:fixed; background:rgba(0, 0, 0, 0.4);}
.mfp-wrap { top:0; left:0; width:100%; height:100%; z-index:1043; position:fixed; outline:none !important; -webkit-backface-visibility:hidden; }
.mfp-container { text-align:center; position:absolute; width:100%; height:100%; left:0; top:0; padding:0 8px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.mfp-container:before { content:''; display:inline-block; height:100%; vertical-align:middle; }
.mfp-align-top .mfp-container:before { display:none; }
.mfp-content { position:relative; display:inline-block; vertical-align:middle; margin:0 auto; text-align:left; z-index:1045; }
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content { width:100%; cursor:auto; }
.mfp-ajax-cur { cursor:progress; }
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close { cursor:-moz-zoom-out; cursor:-webkit-zoom-out; cursor:zoom-out; }
.mfp-zoom { cursor:pointer; cursor:-webkit-zoom-in; cursor:-moz-zoom-in; cursor:zoom-in; }
.mfp-auto-cursor .mfp-content { cursor:auto; }
.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter { -webkit-user-select:none; -moz-user-select:none; user-select:none; }
.mfp-loading.mfp-figure { display:none; }
.mfp-hide { display:none !important; }
.mfp-preloader { color:#cccccc; position:absolute; top:50%; width:auto; text-align:center; margin-top:-0.8em; left:8px; right:8px; z-index:1044; }
.mfp-preloader a { color:#cccccc; }
.mfp-preloader a:hover { color:white; }
.mfp-s-ready .mfp-preloader { display:none; }
.mfp-s-error .mfp-content { display:none; }

button.mfp-close{
	background-color:#000;
	font-size:30px;
	height:36px;
	line-height:36px;
	position:fixed;
	right:25px;
	top:15px;
	width:36px;
	z-index:999;
	padding:0;
}
button::-moz-focus-inner {
 padding:0;
 border:0;
}
.mfp-close {
	width:44px;
	height:41px;
	line-height:41px;
	position:absolute;
	right:0;
	top:0;
	text-decoration:none;
	text-align:center;
	color:#fff;
	font-style:normal;
	font-size:28px;
	font-family:Arial, Baskerville, monospace;
}
 @media screen and (max-width:800px) and (orientation:landscape), screen and (max-height:300px) {
/* Remove all paddings around the image on small screen*/
.mfp-img-mobile .mfp-close { top:0; right:0; width:35px; height:35px; line-height:35px; background:rgba(0, 0, 0, 0.6); position:fixed; text-align:center; padding:0; }
}
 @media all and (max-width:900px) {
.mfp-arrow { -webkit-transform:scale(0.75); transform:scale(0.75); }
.mfp-arrow-left { -webkit-transform-origin:0; transform-origin:0; }
.mfp-arrow-right { -webkit-transform-origin:100%; transform-origin:100%; }
.mfp-container { padding-left:6px; padding-right:6px; }
}
.mfp-ie7 .mfp-img { padding:0; }
.mfp-ie7 .mfp-bottom-bar { width:600px; left:50%; margin-left:-300px; margin-top:5px; padding-bottom:5px; }
.mfp-ie7 .mfp-container { padding:0; }
.mfp-ie7 .mfp-content { padding-top:44px; }
.mfp-ie7 .mfp-close { top:0; right:0; padding-top:0; }
.my-mfp-zoom-in .zoom-anim-dialog { opacity:0; transform:scale(0.8); transition:all 0.2s ease-in-out 0s; }
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog { opacity:1; transform:scale(1); }
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog { opacity:0; transform:scale(0.8); }
.my-mfp-zoom-in.mfp-bg { opacity:0; transition:opacity 0.3s ease-out 0s; }
.my-mfp-zoom-in.mfp-ready.mfp-bg { opacity:0.8; }
.my-mfp-zoom-in.mfp-removing.mfp-bg { opacity:0; }
.my-mfp-slide-bottom .zoom-anim-dialog { opacity:0; /*transform:translateY(-20px) perspective(600px) rotateX(10deg);*/ transition:all 0.2s ease-out 0s; }
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog { opacity:1; /*transform:translateY(0px) perspective(600px) rotateX(0deg);*/ }
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog { opacity:0; transform:translateY(-10px) perspective(600px) rotateX(10deg); }
.my-mfp-slide-bottom.mfp-bg {transition:opacity 0.3s ease-out 0s; }
/*.my-mfp-slide-bottom.mfp-ready.mfp-bg { opacity:0.8; }
.my-mfp-slide-bottom.mfp-removing.mfp-bg { opacity:0; }*/

/*LOGIN AND SIGNUP POPUP*/
.sesytube_quick_popup{
	box-shadow:0 5px 5px rgba(0, 0, 0, 0.1);
	margin:40px auto;
	position:relative;
	overflow:hidden;
	border-radius:5px;
	width:500px;
}
.sesytube_popup_header{
	width:100%;
	display:table;
}
.sesytube_popup_header > div{
	display:table-cell;
	width:50%;
}
.sesytube_popup_header a{
	font-size:600;
	display:block;
	text-align:center;
	line-height:60px;
}
.sesytube_popup_content{
	background-size:cover;
	background-position:center bottom;
	padding:20px;
	display:table;
	width:100%;
}
.sesytube_popup_content button[type="submit"]{
	font-size:15px;
	margin:0;
	padding:7px 25px;
}
.sesytube_popup_login .global_form,
.sesytube_popup_login .global_form > div,
.sesytube_popup_login .global_form > div > div{
	border-width:0;
	background-color:transparent;
	padding:0;
	margin:0;
}
.sesytube_popup_login .form-label{
	display:none;
}
.sesytube_popup_login .form-element{
	min-width:inherit !important;
}
.sesytube_popup_login .form-elements > .form-wrapper:nth-child(1) .form-element,
.sesytube_popup_login .form-elements > .form-wrapper:nth-child(2) .form-element{
	position:relative;
	margin:10px 0;
	padding:5px 0 5px 40px;
	width:100%;
}
[dir="rtl"] .sesytube_popup_login .form-elements > .form-wrapper:nth-child(1) .form-element,
[dir="rtl"] .sesytube_popup_login .form-elements > .form-wrapper:nth-child(2) .form-element{
	padding:5px 40px 5px 0;
}
.sesytube_popup_login .form-elements > .form-wrapper:nth-child(1) .form-element{
	margin-top:0;
}
.sesytube_popup_login .form-element input[type="email"],
.sesytube_popup_login .form-element input[type="password"],
.sesytube_popup_login .form-element input[type="text"]{
	background-color:transparent;
	border-width:0 0 1px;
	border-radius:0;
	height:34px;
	line-height:34px;
	padding:5px;
	width:100%;
}
.sesytube_popup_login .form-elements > .form-wrapper:nth-child(1) .form-element:before,
.sesytube_popup_login .form-elements > .form-wrapper:nth-child(2) .form-element:before{
	border-radius:50%;
	display:block;
	font-family:FontAwesome;
	font-size:15px;
	position:absolute;
	left:0;
	top:10px;
	height:30px;
	line-height:30px;
	text-align:center;
	width:30px;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
[dir="rtl"] .sesytube_popup_login .form-elements > .form-wrapper:nth-child(1) .form-element:before,
[dir="rtl"] .sesytube_popup_login .form-elements > .form-wrapper:nth-child(2) .form-element:before{
	left:inherit;
	right:0;
}
.sesytube_popup_login .form-elements > .form-wrapper:first-child .form-element:before{content:"\f007";}
.sesytube_popup_login .form-elements > #password-wrapper .form-element:before{content:"\f023";}
.sesytube_popup_login #buttons-wrapper{
	padding:5px 0 0 40px;
}
[dir="rtl"] .sesytube_popup_login #buttons-wrapper{
	padding:5px 40px 0 0;
}
.sesytube_popup_login #buttons-wrapper .form-wrapper{
	clear:none;
}
.sesytube_popup_login #remember-wrapper{
	float:left;
}
[dir="rtl"] .sesytube_popup_login #remember-wrapper{
	float:right;
}
.sesytube_popup_login #remember-wrapper input + label{
	float:left;
}
.sesytube_popup_login #forgot-wrapper{
	float:right;
}
[dir="rtl"] .sesytube_popup_login #forgot-wrapper{
	float:left;
}
.sesytube_popup_login #submit-wrapper{
	float:right;
}
.sesytube_popup_login #captcha-element > .g-recaptcha,
.sesytube_popup_login #grecaptcha-element > .g-recaptcha{
	margin-left:40px;
}
[dir="rtl"] .sesytube_popup_login #captcha-element > .g-recaptcha,
[dir="rtl"] .sesytube_popup_login #grecaptcha-element > .g-recaptcha{
	margin-left:0;
	margin-right:40px;
}
.sesytube_popup_signup .global_form,
.sesytube_popup_signup .global_form > div,
.sesytube_popup_signup .global_form > div > div{
	background-color:transparent;
	padding:0;
	margin:0;
}
.sesytube_popup_signup .global_form > div > div h3{
	display:none;
}
.sesytube_popup_signup .global_form div.form-label,
.sesytube_popup_signup .global_form p.hint{
	display:none;
}
.sesytube_popup_signup .global_form .form-element input[type="text"],
.sesytube_popup_signup .global_form .form-element input[type="password"],
.sesytube_popup_signup .global_form .form-element input[type="email"],
.sesytube_popup_signup .global_form .form-element select{
	background-color:transparent;
	border-radius:0;
	border-width:0 0 1px;
	height:34px;
	line-height:34px;
	padding:5px;
	width:100%;
}
.sesytube_popup_signup .global_form .form-element select{
	border-width:1px;
}
.sesytube_popup_signup .global_form .form-elements{
	margin:0;
}
.sesytube_popup_signup .global_form .form-wrapper{
	margin:5px 0;
	float:left;
	width:100%;
}
.sesytube_popup_signup .global_form .form-wrapper:first-child{
	margin-top:0;
}
.sesytube_popup_signup .global_form .form-element{
	min-width:inherit;
	margin:0;
	width:100%;
}
.sesytube_popup_signup #password-wrapper,
.sesytube_popup_signup #passconf-wrapper,
.sesytube_popup_signup #timezone-wrapper,
.sesytube_popup_signup #language-wrapper{
	clear:none;
	width:49%;
}
.sesytube_popup_signup #passconf-wrapper,
.sesytube_popup_signup #language-wrapper{
	float:right;
}
[dir="rtl"] .sesytube_popup_signup #passconf-wrapper,
[dir="rtl"] .sesytube_popup_signup #language-wrapper{
	float:right;
}
.sesytube_popup_signup .global_form #submit-wrapper{
	margin:10px 0 0;
}
.sesytube_popup_signup .global_form #submit-element{
	text-align:right;
}
.sesytube_popup_content_social{
	overflow:hidden;
	margin-bottom:15px;
	border-bottom-width:1px;
	padding-bottom:15px;
}
.sesytube_popup_content_social > span{
	text-align:center;
	display:block;
	margin-bottom:10px;
}
.sesytube_popup_content_social_btns{
	display:flex;
}
.sesytube_popup_content_social_btns > div{
	flex-grow:1;
	-webkit-flex-grow:1;
	padding:0 5px;
}
.sesytube_popup_content_social_btns > div a{
	background-color:#000;
	color:#fff;
	display:block;
	padding:10px;
	border-radius:5px;
}
.sesytube_popup_content_social_btns > div a:hover{
	opacity:.8;
}
.sesytube_popup_content_social_btns > div a i{
	float:left;
	font-size:21px;
	border-right:1px solid rgba(255, 255, 255, .2);
	padding-right:10px;
}
.sesytube_popup_content_social_btns > div a span{
	text-align:center;
	overflow:hidden;
	display:block;
	font-weight:600;
}
.sesytube_popup_content_social_btns > div._fb a{
	background-color:#4267b2;
}
.sesytube_popup_content_social_btns > div._twr a{
	background-color:#1da1f2;
}
.pac-container{z-index:1100;}


