

/*Banner Widget CSS Start Here*/
.layout_sesytube_banner_slideshow{
	background-color: transparent !important;
	border-width: 0 !important;
	padding: 0 !important;
	margin: 0 0 15px !important;
}
.layout_sesspectromedia_banner + .generic_layout_container{
	margin-top: 15px !important;
}
.ytube_banner_container{
	position: relative;
}
.ytube_banner_container_wrapper.isfull .ytube_banner_container{
	position: absolute;
	left: 0;
	right: 0;
}
.ytube_banner_img_container{
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.ytube_banner_img_container img{
	height: 100%;
	position: absolute;
	object-fit: cover;
	width: 100%;
	z-index: 1;
}
.ytube_banner_content{
	background-color: rgba(0, 0, 0, .5);
	display: table;
	margin: 0 auto;
	height: 100%;
	padding: 0 200px;
	width: 100%;
	top: 0;
	position: absolute;
	z-index: 2;
}
.ytube_banner_content_inner{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
[dir="rtl"] .ytube_banner_content_inner{
	text-align: center;
}
.ytube_banner_title, .ytube_banner_des{
	margin: 10px 0;
	clear: both;
	text-shadow: 0 1px 3px rgba(255, 255, 255, 0.3);
}
.ytube_banner_title{
	font-size: 40px;
}
.ytube_banner_des{
	font-size: 17px;
}
.ytube_banner_btns{
	margin: 30px 0;
	text-align: center;
}
.ytube_banner_btns a{
	border-radius: 5px;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 1px;
	display: inline-block;
	margin: 0 5px;
	padding: 10px 20px;
	-webkit-transition: all 200ms ease 0s;
	-moz-transition: all 200ms ease 0s;
	-o-transition: all 200ms ease 0s;
	transition: all 200ms ease 0s;
}
.ytube_banner_btns a:hover{
	text-decoration: none;
}
@media only screen and (max-width:950px){
	.ytube_banner_content{
		padding: 0 50px;
	}
}
@media only screen and (max-width:768px){
	.ytube_banner_content{
		padding: 0 20px;
	}
	.ytube_banner_title{
		font-size: 20px;
	}
	.ytube_banner_des{
		font-size: 15px;
	}
}
/*Banner Widget CSS End Here*/
/*Menu Banner Widget CSS Start Here*/
.sesytube_menubanner #global_wrapper{
	padding-top: 0;
}
.layout_sesytube_custom_navigation_menu{
	padding: 0 !important;
	margin: 0 0 15px;
}
.sesytube_banner{
	width: 100%;
}
.sesytube_banner_inner{
	background-size: cover;
	background-color: #222;
	position: absolute;
	left: 0;
	right: 0;
}
.sesytube_banner_inner > div{
	height: 100%;
	margin: 0 auto;
	width: 1100px;
}
.sesytube_banner_inner > div h2{
	font-size: 30px !important;
	color: #fff !important;
	text-transform: uppercase;
	margin-bottom: 0px !important;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	letter-spacing: 2px;
}
.sesytube_banner_inner > div._txtcenter h2{
	text-align: center !important;
}
@media only screen and (max-width:1100px){
	.sesytube_banner_inner > div{
		margin: 0 auto;
		padding: 0 10px;
		width: 100%;
	}
}
/*Menu Banner Widget CSS Start Here*/
