
.sesavatar_packs_list{
	clear:both;
	overflow:hidden;
}
.sesavatar_packs_list > li{
	box-sizing:border-box;
	width:25%;
	float:left;
	padding:0 5px 10px;
}
.sesavatar_packs_list .sesavatar_packs_item{
	box-sizing:border-box;
	background-color: #f8f8f8;
	border-radius: 5px;
	padding: 10px;
	position: relative;
	overflow:hidden;
}
.sesavatar_packs_list_input{
	float:left;
} 
.sesavatar_packs_list_options{
	float:right;
}
.sesavatar_packs_list_options a{
	text-decoration:none !important;
	display:inline-block;
	vertical-align:middle;
	margin-left:5px;
	font-size:17px;
}
.sesavatar_packs_list_img{
	margin-top:10px;
	float:left;
	width:100%;
}
.sesavatar_packs_list_img img{
	height:150px;
	width:100%;
	object-fit:cover;
}
.sesavatar_icon_delete:before{
  content:"\\f1f8";
	color:#f00;
}
.sesavatar_icon_featured:before{
  content:"\\f005";
	color:#f36a33;
}
.sesavatar_icon_unfeatured:before{
  content:"\\f005";
	color:#999;
}
.sesavatar_icon_enabled:before{
  content:"\\f058";
	color:#2ecc71;
}
.sesavatar_icon_disabled:before{
  content:"\\f058";
	color:#999;
}
