/*Feature Request Button*/
.sessiteiframe_admin_plugin_title h2{
  overflow:hidden;
}
.sessiteiframe_nav_btns{
  float:right;
  margin-top:-45px;
}
.sessiteiframe_admin_plugin_title .sessiteiframe_nav_btns{
  margin:0 0 0 20px;
}
.sessiteiframe_nav_btns a{
  background-position:7px center;
  background-repeat:no-repeat;
  color:#fff;
  float:left;
  font-weight:bold;
  padding:5px 15px 5px 30px;
  margin-left:10px;
}
.sessiteiframe_nav_btns a:hover{
  text-decoration:none;
}
.sessiteiframe_nav_btns a.request-btn{
  background-color:#f36a33;
  background-image:url(~/application/modules/Sessiteiframe/externals/images/request.png);
  border-radius:3px;
}