

[class*='layout_seseventspeaker_']{
	clear: both;
	margin-bottom: 15px;
}
/*Speakers List*/
.sesspeaker_list_item:hover .sesspeaker_list_item_details{
	background-color:$theme_button_background_color;
}
.sesspeaker_list_item:hover .sesspeaker_list_item_details *{
	color:$theme_button_font_color !important;
}
.seseventspeaker_view_contact_info p i{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
}