
/*Add Speaker Popup CSS Start Here*/
.seseventspeaker_add_popup{
	margin:15px 0 0 15px;
	width:450px;
}
.seseventspeaker_add_popup .global_form,
.seseventspeaker_add_popup .global_form > div,
.seseventspeaker_add_popup .global_form > div > div{
  float:none !important;
}
.seseventspeaker_add_popup .global_form .form-label,
.seseventspeaker_add_popup .global_form .form-element{
	width:100%;
	text-align:left;
	clear:both;
}
.seseventspeaker_add_popup .global_form .form-element input[type="text"]{
	width:100%;
}
/*Add Speaker Popup CSS End Here*/

/*Speaker List Start Here*/
.sesspeaker_list{
	margin:0 -5px;
}
.sesspeaker_list_item{
	float:left;
	padding:0 5px 10px;
	width:25%;
}
.sesspeaker_list_item_inner{
	border-width:1px;
	display:block;
}
.sesspeaker_list_item_thumb{
	float:left;
	height:150px;
	width:100%;
}
.sesspeaker_list_item_thumb_img{
	background-position:center;
	background-size:cover;
	float:left;
	height:100%;
	width:100%;
}
.sesspeaker_list_item_thumb_overlay {
/*	background:-webkit-linear-gradient(top, rgba(22, 24, 27, 0), rgba(22, 24, 27, 0.0) 30px, rgba(22, 24, 27, 0.2));
	background:-moz-linear-gradient(top, rgba(22, 24, 27, 0), rgba(22, 24, 27, 0.0) 30px, rgba(22, 24, 27, 0.2));
	background:-o-linear-gradient(top, rgba(22, 24, 27, 0), rgba(22, 24, 27, 0.0) 30px, rgba(22, 24, 27, 0.2));
	background:-ms-linear-gradient(top, rgba(22, 24, 27, 0), rgba(22, 24, 27, 0.0) 30px, rgba(22, 24, 27, 0.2));
	background:linear-gradient(top, rgba(22, 24, 27, 0), rgba(22, 24, 27, 0.0) 30px, rgba(22, 24, 27, 0.2));*/
	position:absolute;
	bottom:0;
	top:0;
	left:0;
	right:0;
}
.sesspeaker_list_item_thumb .sesevent_labels{
	top:0;
	bottom:inherit;
}
.sesspeaker_list_item_inner:hover .sesevent_labels{
	opacity:0;
	visibility:hidden;
}
.sesspeaker_list_item_thumb .sesevent_labels span{
	position:absolute;
}
.sesspeaker_list_item_thumb .sesevent_labels .sesevent_label_featured{
	left:0;
}
.sesspeaker_list_item_thumb .sesevent_labels .sesevent_label_sponsored{
	right:0;
}
.sesspeaker_list_item_details{
	border-top-width:1px;
	clear:both;
	padding:10px;
	width:100%;
}
.sesspeaker_list_item_title{
	font-size:15px;
	font-weight:bold;
	margin-bottom:5px;
	text-align:center;
}
.sesspeaker_list_item_stats{
	text-align:center;
}
.sesspeaker_list_item_stats span{
	margin-right:5px;
	display:inline-block;
	font-size:12px;
} 
.sesspeaker_list_item_stats span i{
	margin-right:5px;
}
.sesbasic_sidebar_block .sesspeaker_list_item{
	margin-left:0;
	margin-right:0;
}
.sesbasic_sidebar_block .sesspeaker_list_item:nth-last-child(1){
	margin-bottom:0;
}
/*Speaker List Start Here*/

/*Speaker View Page CSS Start Here*/
.seseventspeaker_view_container{
}
.seseventspeaker_view_left{
	float:left;
	margin-right:20px;
	width:200px;
}
.seseventspeaker_view_photo{
	position:relative;
	margin-bottom:15px;
}
.seseventspeaker_view_photo img{
	float:left;
	width:100%;
}
.seseventspeaker_view_photo .sesevent_labels{
	bottom:0;
	width:100%;
}
.seseventspeaker_view_photo .sesevent_labels span{
	bottom:0;
	position:absolute;
}
.seseventspeaker_view_photo .sesevent_labels .sesevent_label_featured{left:0;}
.seseventspeaker_view_photo .sesevent_labels .sesevent_label_sponsored{right:0;}
/*.seseventspeaker_view_photo:hover .sesevent_labels{opacity:0;}*/
.seseventspeaker_view_contact_info p{
	clear:both;
	margin:5px 0;
}
.seseventspeaker_view_contact_info p i{
	border-radius: 3px;
	height: 22px;
	width: 22px;
	float: left;
	margin-right: 5px;
	text-align: center;
	line-height: 22px;
}
.seseventspeaker_view_contact_info p span{
	overflow:hidden;
	display:block;
	padding-top:3px;
	word-break: break-all;
}
.seseventspeaker_view_social_links{
	border-top-width:1px;
	margin-top:10px;
	padding-top:10px;
	text-align:center;
}
.seseventspeaker_view_social_links a{
	border-radius: 50%;
	background-color: #56ad89;
	color: #fff;
	display: inline-block;
	height: 30px;
	width: 30px;
	line-height: 29px;
	text-align: center;
	font-size: 15px;
	text-decoration:none !important;
	margin:0 2px;
}
.seseventspeaker_view_social_links a:hover{
	opacity:.9;
}
.seseventspeaker_view_social_links a.seseventspeaker_icon_facebook{background-color:#3a589b;}
.seseventspeaker_view_social_links a.seseventspeaker_icon_twitter{background-color:#598dca;}
.seseventspeaker_view_social_links a.seseventspeaker_icon_linkedin{background-color:#007ab9;}
.seseventspeaker_view_social_links a.seseventspeaker_icon_gplus{background-color:#d6492f;}

.seseventspeaker_view_middle{
	overflow:hidden;
	display:block;
}
.seseventspeaker_view_title{
	margin-bottom:10px;
}
.seseventspeaker_view_title h2{
	font-weight:normal;
	font-size:25px;
	letter-spacing:normal;
}
.seseventspeaker_view_btn{
	border-top-width:1px;
	margin-top:10px;
	padding-top:10px;
}
.seseventspeaker_view_stats > span{
	margin-right:10px;
	padding-left:1px;
}
.seseventspeaker_view_stats > span i{
	margin-right:5px;
}
.seseventspeaker_view_des > span{
	display:block;
	font-weight:bold;
	border-bottom-width:1px;
	padding-bottom:10px;
	margin-bottom:10px;
}
/*Speaker View Page CSS End Here*/