.sesmusicapp_playlist_grid_title a{
  color:$theme_button_font_color !important;  
}
.sesmusicapp_playlist_grid_stats{
  color:$theme_button_font_color;  
}
.sesmusicapp_playlist_grid_stats a{
  color:$theme_button_font_color !important;  
}
.sesmusicapp_tracks_list li{
  background-color: $theme_list_background_color_hover;
}
.sesmusicapp_tracks_list_name a{
  color:$theme_font_color;
}
.sesmusicapp_category_carousel_item_thumb ._catname span{
  color:$theme_button_font_color;
}