

.expose_member_block_thumb:hover{
	border-color:$theme_button_background_color !important;
}
.expose_banner_btns a.expose_banner_btn{
	background-color:$theme_button_background_color;
	border:1px solid $theme_button_border_color;
  color:$theme_button_font_color;
}
.expose_banner_btns a:hover{
	background-color:$theme_button_background_color_hover;
  cursor:pointer;
	color:$theme_button_font_hover_color;
	text-decoration:none;
}
.expose_quick_popup{
	background-color:$theme_box_background_color;
}
#sesexpose_form_login input:-webkit-autofill,
#sesexpose_form_login input:-webkit-autofill:hover, 
#sesexpose_form_login input:-webkit-autofill:focus
#sesexpose_form_login input:-webkit-autofill, 
#sesexpose_form_login textarea:-webkit-autofill,
#sesexpose_form_login textarea:-webkit-autofill:hover
#sesexpose_form_login textarea:-webkit-autofill:focus,
#sesexpose_form_login select:-webkit-autofill,
#sesexpose_form_login select:-webkit-autofill:hover,
#sesexpose_form_login select:-webkit-autofill:focus {
  -webkit-text-fill-color: $theme_input_font_color;
  -webkit-box-shadow: 0 0 0px 1000px $theme_box_background_color inset;
  transition: background-color 5000s ease-in-out 0s;
}
.expose_quick_popup button.mfp-close{
	color:$theme_font_color;
}