

/*Member Block*/
.expose_member_block{
	text-align:center;
}
.expose_member_block li{
	display:inline-block;
	overflow:hidden;
	position:relative;
	margin:0;
}
.expose_member_block_thumb{
	border:2px solid transparent;
	display:block;
	height:100px;
	overflow:hidden;
	width:100px;
	width:100%;
}
.expose_member_block_thumb a,
.expose_member_block_thumb img{
	border-width:0;
	display:block;
	height:100%;
	max-height:inherit;
	max-width:inherit;
	object-fit:cover;
	width:100%;
}
.expose_member_block li .member_info{
	clear: both;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
	position: absolute;
	bottom: 2px;
	left: 2px;
	padding: 10px;
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
	right: 2px;
}

.expose_home_content_block{
	width:100%;
}
.expose_home_content_block_inner{
	margin:0 auto; 
	text-align:center; 
	padding:60px 20px;
	overflow:hidden;
}
.expose_home_content_block_top{
	text-align:center;
}
.expose_home_content_block_title{
	font-size:30px;
}
.expose_home_content_block_des{
	font-size:17px;
	line-height:25px;
}
.expose_home_content_features{
	clear:both;
	margin-top:30px; 
	text-align:center;
}
.expose_home_content_feature_box{
	float:left;
	line-height:1.6;
	margin:0 0 20px;
	padding:0 30px;
	text-align:center;
	vertical-align:top;
	width:33.33%;
}
[dir="rtl"] .expose_home_content_feature_box{
	float:right;
	text-align:center;
}
.expose_home_content_feature_box img{
	display:block;
	margin:0 auto 15px;
	max-width:100%;
	width:200px;
}
.expose_home_content_feature_box:hover img{
	opacity:.8;
}
.expose_home_content_feature_head{
	display:block;
	font-size:17px;
	font-weight:bold;
	text-transform:uppercase;
}
.expose_home_content_feature_des{
	display:block;
}
.expose_home_content_feature_more{
	border-radius:20px;
	display:inline-block;
	font-weight:bold;
	margin-top:8px;
	padding:3px 15px;
	text-decoration:none !important;
}
[dir="rtl"] .expose_home_content_block_inner,
[dir="rtl"] .expose_home_content_block_top,
[dir="rtl"] .expose_home_content_features
[dir="rtl"] .expose_home_content_feature_box{
	text-align:center;
}
.expose_home_content_feature_box img, 
.expose_home_content_feature_more{
  -webkit-transition:all 200ms ease 0s;
  -moz-transition:all 200ms ease 0s;
  -o-transition:all 200ms ease 0s;
  transition:all 200ms ease 0s;
}
@media only screen and (max-width:768px){
	.expose_home_content_block_inner{padding:20px;}
}
@media only screen and (max-width:540px){
	.expose_home_content_block_des{font-size:14px;line-height:20px;}
	.expose_home_content_feature_box{margin:15p 0;width:100%;}
}
/*Banner Widget CSS Start Here*/
.layout_sesexpose_banner_slideshow{
	background-color:transparent !important;
	border-width:0  !important;
	padding:0 !important;
	margin:0 0 15px !important;
}
.layout_sesspectromedia_banner + .generic_layout_container{
	margin-top:15px !important;
}
.expose_banner_container{
	position:relative;
}
.expose_banner_container_wrapper.isfull .expose_banner_container{
	position:absolute;
	left:0;
	right:0;
}
.expose_banner_img_container{
	height:100%;
	overflow:hidden;
	position:relative;
	width:100%;
}
.expose_banner_img_container img{
	height:100%;
	position:absolute;
	object-fit:cover;
	width:100%;
	z-index:1;
}
.expose_banner_content{
	display:table;
	margin:0 auto;
	height:100%;
	width:100%;
	top:0;
	position:absolute;
	z-index:2;
}
.expose_banner_content_inner{
	display:table-cell;
	text-align:center;
	position:relative;
	vertical-align:middle;
}
[dir="rtl"] .expose_banner_content_inner{
	text-align:center;
}
.expose_banner_title, .expose_banner_des{
	margin:10px 0;
	clear:both;
	text-shadow:0 0 5px rgba(0, 0, 0, .5);
	max-width:860px;
	margin:0 auto;
}
.expose_banner_title{
	font-weight:bold;
	font-size:30px;
	margin-bottom:10px;
}
.expose_banner_des{font-size:18px;}
.expose_banner_btns{    
	margin:20px 0;
	text-align:center;
	position:absolute;
	width:100%;
	padding:0px 15px;
	bottom:0px;
}
.expose_banner_btns a{
	border-radius:2px;
	border:0px;
	font-weight:bold;
	display:inline-block;
	margin:0 5px;
	padding:10px 20px;
  -webkit-transition:all 200ms ease 0s;
	-moz-transition:all 200ms ease 0s;
	-o-transition:all 200ms ease 0s;
	transition:all 200ms ease 0s;
}
.expose_banner_btns a:hover{
	text-decoration:none;
	opacity:.8;
}
@media only screen and (max-width:950px){
	.expose_banner_content{padding:0 50px;}
}
@media only screen and (max-width:768px){
	.expose_banner_content{padding:0 20px;}
	.expose_banner_title{font-size:20px;}
	.expose_banner_des{font-size:15px;}
}