.seswishe_load_more_btn{
  background-color:$theme_button_background_color;
  color:$theme_button_font_color !important;
}
.seswishe_load_more_btn:hover{
  background-color:$theme_button_background_color_hover;
}
.item_icon_seswishe_wishe:before{
	font-family:fontawesome;
	content:"\\f10d";
}
.seswishes_list_item > section,
.seswishes_list_item ._content ._des .seswishe_expand:before,
.seswishes_list_item ._options_pulldown,
.seswishe_item_view_popup ._options_pulldown{
  background-color:$theme_list_background_color;
}
.seswishes_list_item ._options_pulldown a:hover{
  background-color:$theme_list_background_color_hover;
}
.seswishe_create_form #title-element:before{
	color:$theme_font_color_light;
}
.seswishe_create_form h3{
	background-color:$theme_headline_background_color;
	color:$theme_headline_color;
}
.seswishe_create_form li input:checked + label:before,
.seswishe_composer_media_wrapper li input:checked + label:before{
	color:$theme_button_background_color;
}
/*Wishe Text*/
.seswishe_img, .seswishe_video {
  margin-bottom:10px;
  text-align:center;
}
.seswishe_img img{
  max-width:100%;
  vertical-align:middle;
}
.seswishe_title{
	font-weight:bold;
	margin-bottom:5px;
	font-size:17px;
}
.seswishe_wishe{
	font-size:17px;
	line-height:25px;
}
.seswishe_wishe:before{
	font-family:fontawesome;
	content:"\\f10d";
	margin-right:5px;
	color:$theme_font_color_light;
}
/*.seswishe_wishe:after{
	font-family:fontawesome;
	content:"\\f10e";
	margin-left:5px;
	color:$theme_font_color_light;
}*/
.seswishe_wishe_src,
.seswishe_wishe_link{
	margin-top:10px;
	font-size:12px;
}
.seswishe_wishe_link{
	text-align:right;
}
.seswishes_other_listing .seswishe_title,
.seswishes_other_listing .seswishe_wishe{
	font-size:15px;
}
/*Generic Layout Container*/
[class*='layout_seswishe_'], [id^='global_page_seswishe-'] .layout_core_content{clear:both;margin-bottom:15px;}
[class*='layout_seswishe_']:after, [id^='global_page_seswishe-'] .layout_core_content:after{clear:both;content:'';display:block;}
[class*='tab_layout_seswishe_']{margin:0;clear:none;}