/* $Id: main.css 2014-10-31 00:00:00 SocialEngineSolutions $*/

/*Snow Image Preview*/
#global_page_seschristmas-admin-settings-index #seschristmas_snowimages-element img{
	background-color: #000;
	padding: 2px;
	vertical-align: middle;
}
#global_page_seschristmas-admin-settings-index #seschristmas_snowimages-element ul li{
	margin:0;
}