.sesmenu_main_menu{
	background:$theme_topbar_menu_background_color;
}
.sesmenu_main_menu_inner{
	max-width:$theme_content_width;
}
.sesmenu_sidenav{
	background:$theme_topbar_menu_background_color;
}
.sesmenu_main_menu_inner > ul > li > a,.sesmenu_mobile_menu ul li a,.sesmenu_sidenav .closebtn,.sesmenu_mobile_menu .change-icon{
	color:$theme_topbar_menu_link_color;
}
.sesmenu_main_menu_inner > ul > li > a:before{
	background:$theme_border_color;
}
.sesmenu_main_menu_inner > ul > li:hover > a,
.sesmenu_main_menu_inner > ul > li.active > a{
	color:$theme_topbar_menu_link_hover_color;
	background:$theme_topbar_menu_link_background_color_hover;
}
.sesmenu_submenu{
	background:$theme_list_background_color;
	border-bottom:4px solid $theme_topbar_menu_background_color;
}
.sesmenu_menu_four > li > a:hover,.sesmenu_menu_four > li.active_tab > a,.sesmenu_menu_six li a:hover,.sesmenu_menu_five > li > a:hover,.sesmenu_menu_five > li.active_tab > a,.sesmenu_menu_two > li > a:hover,.sesmenu_menu_six li a:hover, .sesmenu_menu_seventeen li a:hover{
	color:$theme_button_background_color;
	border-left:4px solid $theme_button_background_color;
}
.sesmenu_standard_menu_item ul li a:hover{
	border-left:4px solid $theme_button_font_color;
}
.sesmenu_menu_six > li > ul > li > ul a,.sesmenu_menu_twelve > li > ul > li > a {
	color:$theme_font_color_light !important;
}
.sesmenu_menu_seven ._left ._img_overlay  ._cat,.sesmenu_menu_seven ._right ._img_overlay  ._cat,.sesmenu_otd_item .product_cont .rating,.sesmenu_standard_menu_item ul li a:hover,.sesmenu_tabs > ul > li > a:hover, .sesmenu_tabs > ul > li.active > a, .sesmenu_tabs > ul > li > a.active,.sesmenu_categories_strip > ul > li > a:hover,.sesmenu_tabs > ul > li.active_tab > a{
	background:$theme_button_background_color;
	color:$theme_button_font_color;
}
.sesmenu_tabs > ul > li > a:hover:before,
.sesmenu_tabs > ul > li.active > a:before,
.sesmenu_tabs > ul > li > a.active:before,
.sesmenu_tabs > ul > li.active_tab > a:before{
	border-top:6px solid $theme_button_background_color;
}
.sesmenu_menu_seven ._right ._img_overlay ._title{
	color:$theme_font_color !important;
}
.sesmenu_items_carousel_inner .owl-nav > div{
	background:$theme_button_background_color;
}
.sesmenu_items_carousel_inner .owl-nav > div i:before,.sesmenu_standard_menu_item ul li a:hover i{
	color:$theme_button_font_color;
}
.sesmenu_three_items ._cont ._price,.sesmenu_otd_item .product_cont ._price{
	color:$theme_button_background_color;
}
.sesmenu_mobile_menu .mobile_second_level li:before,.sesmenu_mobile_menu .mobile_third_level li:before{
	border-left: 1px dashed $theme_topbar_menu_link_color;
}
.sesmenu_mobile_menu .mobile_second_level li:before,.sesmenu_mobile_menu .mobile_third_level li:before {
	border-right: 1px dashed $theme_topbar_menu_link_color;
}
.sesmenu_mobile_menu .mobile_second_level li:after,.sesmenu_mobile_menu .mobile_third_level li:after{
	border-bottom: 1px dashed $theme_topbar_menu_link_color;
}
.sesmenu_mobile_menu .mobile_second_level li a:before,.sesmenu_mobile_menu .mobile_third_level li a:before {
	background-color: $theme_topbar_menu_link_color;
}
.sesmenu_menu_four > li > a {
	border-bottom:1px solid $theme_button_font_color;
}
.sesmenu_menu_four > li.active_tab > a,.sesmenu_menu_four > li > a:hover,.sesmenu_menu_five > li.active_tab > a,.sesmenu_menu_five > li > a:hover,.sesmenu_menu_four > li > ul,.sesmenu_sidenav > ul > li > a:before,.sesmenu_panel_top_section_options ul li a:after{
	background:$theme_button_font_color;
}