

.booking_professional_list .booking_profile{
	white-space:nowrap;
}
.booking_professional_list .booking_profile img{
	margin-right:5px;
	vertical-align:top;
}
.booking_professional_list .booking_profile span{
	font-weight:bold;
}