.einstaclone_quick_popup,
.landing_page_right .landing_page_right_inner{
	background:$theme_box_background_color;
}
.landing_page_right_inner .lp_right_btm .lp_signup,
.einstaclone_member_item ._btn > a,
.einsta_profile_btns .einstaclone_button{
	background:$theme_button_background_color !important;
	color:$theme_button_font_color !important;
}
.einsta_profile_btns .msg{
	color:$theme_button_background_color;
	background:$theme_button_font_color;
	border:1px solid $theme_button_border_color;
}
.landing_page_right_inner .lp_right_btm a{
	border:1px solid $theme_button_border_color;
	color:$theme_button_background_color;
}
.landing_page_right_inner .lp_right_btm a:hover{
	background:$theme_button_background_color_hover;
	color:$theme_button_background_color;
}
.einstaclone_member_item ._btn > a:hover{
	background:$theme_button_background_color_hover;
}
.einstaclone_member_other_info div > ._count,
.landing_page_right .no_acc a,
.einstaclone_popup_footer a,
.einstaclone_cat_header a,
.einstaclone_category_carousel_item .follow_btn,
.einstaclone_member_item ._btn > .follow_btn{
	color:$theme_button_background_color !important;
}
.einstaclone_member_cover,
.einstaclone_popup_header{
	background:$theme_button_background_color;
}
.landing_page_right .einstaclonelogin_form #forgot-wrapper a,
.landing_page_right .einstaclonelogin_form #remember-wrapper label,
.einstaclone_member_info h4 a,
.einstaclone_member_profile_tabs ul li a{
	color:$theme_font_color_light;
}
.einstaclone_member_profile_tabs ul li a:before{
	background:$theme_border_color;
}
.einstaclone_member_profile_tabs ul li a.active,
.einstaclone_category_carousel_item h3 a,
.einstaclone_member_item ._btn > .request_btn{
	color:$theme_font_color !important;
}
.einstaclone_popup_header_title,
.einstaclone_quick_popup button.mfp-close{
	color:$theme_button_font_color;
}
