.layout_einstaclone_home_photo {
	background: none !important;
	border: 0 !important;
	padding:0 5px 15px !important;
}
.einstaclone_member_photo {
	float: left;
  margin-right: 15px;
}
[dir="rtl"] .einstaclone_member_photo {
	float:right;
  margin-left:15px;
	margin-right:0;
}
.einstaclone_member_photo a {
	height: 50px;
	width: 50px;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.einstaclone_member_photo a img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border-width:1px;
	object-fit: cover;
	object-position: center center;
}
.einstaclone_member_info h3 {
	font-weight:600;
	margin-left: 10px;
	font-size:110%;
	padding-bottom: 2px !important;
}
.einstaclone_member_info h4 {
	border-bottom: 0;
	margin: 0 !important;
	padding: 0 !important;
	font-size: 12px;
	font-weight: 400;
}
.einstaclone_member_other_info {
	display: flex;
	justify-content: space-between;
	padding: 16px 8px 0;
}
.einstaclone_member_other_info div > span {
  display: block;
	font-weight:600;
	font-size:90%;
}
.einstaclone_member_other_info div > ._count{
	font-size:110%;
	font-weight:bold;
}
/* SUGGESTED MEMBERS */
.layout_einstaclone_suggested_members {
	position: relative;
	overflow: hidden;
}
.einstaclone_suggested_members {
	max-height: 300px;
	overflow: auto;
}
.einstaclone_suggested_members::-webkit-scrollbar {
  width:6px;
}
.einstaclone_suggested_members::-webkit-scrollbar-track {
  background:#fff; 
}
.einstaclone_suggested_members::-webkit-scrollbar-thumb {
  background:#bfbfbf; 
  border-radius:20px;
}
.einstaclone_suggested_members::-webkit-scrollbar-thumb:hover {
  background:#888; 
}
.einstaclone_suggested_members .view_all {
	position: absolute;
	top: 5px;
	right: 15px;
	font-weight: 600;
	font-size: 20px;
}
[dir="rtl"] .einstaclone_suggested_members .view_all{
	left:15px;
	right:auto;
}
[dir="rtl"] .einstaclone_suggested_members .view_all i {
  transform: rotate(180deg);
}
.einstaclone_member_item {
  display: flex;
	align-items:center;
}
.einstaclone_member_item img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border-width: 1px;
	margin-right:10px;
}
[dir="rtl"] .einstaclone_member_item img{
	margin-left:10px;
	margin-right:0;
}
.einstaclone_member_item ._cont span{
	display:block;
}
.einstaclone_member_item ._cont ._username{
	font-weight:600;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width:130px;
}
.einstaclone_member_item ._cont ._name{
	font-size:12px;
}
.einstaclone_member_item .einstaclone_btn span {
	margin-top: -45px;
	right: 10px;
}
.einstaclone_member_item .einstaclone_btn span > i{
	display:none;
}
.einstaclone_member_item ._btn {
  flex: 1;
  text-align: right;
}
[dir="rtl"] .einstaclone_member_item ._btn{
	text-align:left;
}
.einstaclone_member_item ._btn > a {
	padding:2px;
	border-radius: 4px;
	font-size: 90%;
	transition:all .5s ease;
}
.einstaclone_member_item ._btn > .follow_btn,
.einstaclone_member_item ._btn > .request_btn{
	padding:0;
	background:none !important;
}
.einstaclone_member_item + .einstaclone_member_item {
  margin-top: 10px;
}
/* MEMBER PROFILE WIDGETS */
.layout_einstaclone_member_profile_user_info,
.layout_einstaclone_member_profile_tabbed_content{
	background:none !important;
	border:0 !important;
	padding:0 !important;
	margin:0 !important;
}
.einstaclone_member_profile_info{
	position:relative;
}
.einstaclone_member_profile_info * {
  text-align: center;
}
[dir="rtl"] .einstaclone_member_profile_info * {
  text-align: center !important;
}
.einstaclone_member_profile_info ._img img{
	border-radius:50%;
	height: 200px;
	width: 200px;
	object-fit: cover;
	overflow:hidden;
	margin-bottom: 15px;
}
.einstaclone_member_profile_info ._cont h2 {
  font-size: 25px;
}
.einstaclone_member_profile_info h3{
	font-weight: bold;
	font-size: 18px;
	padding-top: 0;
	margin-bottom: 5px;
}
.einstaclone_member_profile_info h4 {
	font-size: 18px;
	padding-top:5px;
	font-weight: 500;
	border-bottom: 0;
}
.einstaclone_member_profile_info ._cont ul {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 0 20px;
}
.einsta_profile_btns {
	display: flex;
	justify-content: center;
}
.einsta_profile_btns a {
	padding: 10px 15px;
	margin:0 5px;
	display: inline-block;
	margin-bottom: 10px;
	border-radius: 4px;
	font-size: 100% !important;
	transition:all .5s ease;
}
.einsta_profile_btns a:hover{
	opacity:.8;
}
.einsta_profile_btns a i{
	margin-right:4px;
}
.einstaclone_member_profile_info ._cont ul li {
	margin: 0 20px;
	font-size: 18px;
}
.einstaclone_member_profile_info ._cont ul li span {
	font-weight: bold;
	margin-right: 5px;
}
.einstaclone_member_profile_cont .post_grid {
	margin:0 -15px;
}
.einstaclone_member_profile_cont .post_grid img {
	max-width: 289px;
	max-height: 289px;
	object-fit: cover;
	object-position: top;
	height: 100%;
	margin: 0 15px;
	margin-top: 30px;
}
.einstaclone_member_profile_cont .post_grid ._img_block {
	max-width: 33.33%;
	width: 100%;
	float: left;
	position:relative;
}
.einstaclone_member_profile_cont .post_grid ._img_block:hover ._img_overlay {
	opacity:1;
}
.einstaclone_member_profile_cont .post_grid ._img_overlay {
	margin: 0 15px;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 3px;
	bottom: 4px;
	background: rgba(0, 0, 0, 0.3);
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	opacity: 0;
  transition: all .5s ease;
}
.einstaclone_member_profile_cont ._img_overlay span > i {
  margin-right:3px;
}
.einstaclone_member_profile_cont ._img_overlay span{
	margin:0 5px;
}
.einstaclone_member_profile_info .coverphoto_navigation ul {
	display: none;
	position: absolute;
	background-color: #fff;
	z-index: 99;
	font-size: 13px;
	min-width:200px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.5);
	padding:6px 0 0 0;
	border-radius: 3px;
	margin-top: 20px;
  right: 0;
}
.einstaclone_member_profile_info .coverphoto_navigation ul > li:first-child {
  margin-top: 0;
}
.einstaclone_member_profile_info .coverphoto_navigation ul > li {
	padding-bottom: 5px;
	margin-top: 5px;
	border-bottom: 1px solid #dfdfdf;
}
.einstaclone_member_profile_info .coverphoto_navigation ul > li > a {
	padding: 5px 10px;
	line-height: 20px;
	display: block;
	font-size: 13px;
	font-weight: normal;
	text-align: left;
}
.einstaclone_member_profile_info .coverphoto_navigation ul:before {
	border-color: transparent;
	border-style: solid;
	border-width: 10px;
	content: "";
	height: 0;
	right:5px;
	position: absolute;
	top: -20px;
	width: 0;
	border-bottom-color: #fff;
}
.einstaclone_member_profile_info .coverphoto_navigation:hover ul {
  display: block;
}
.einstaclone_member_profile_info .coverphoto_navigation {
	position: absolute;
	right: 0;
	padding: 5px 10px;
	border-width: 1px;
	border-radius: 4px;
}
#global_page_user-profile-index .layout_core_container_tabs .layout_einstaclone_member_profile_photos,
#global_page_user-profile-index .layout_core_container_tabs .layout_einstaclone_member_tagged_photos{
	padding:0 !important;
	background:none !important;
	border:0 !important;
}
.einstaclone_member_photos_inner > ul {
	display: flex;
	flex-wrap: wrap;
	margin:0 -15px;
}
.einstaclone_member_photos_inner > ul > li {
  width: 33.33%;
	box-sizing:border-box;
}
.einstaclone_member_photos_inner > ul > li > article {
	padding: 15px;
}
.einstaclone_member_photos_inner > ul > li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top center;
	position: absolute;
	left:0;
	top:0;
}
.einstaclone_member_photos_inner > ul > li  a {
	padding-bottom: 100%;
	display: block;
	position: relative;
}
.einstaclone_member_photos_inner ._stats {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background: rgba(0, 0, 0, 0.4);
	font-size: 16px;
	opacity:0;
}
.einstaclone_member_photos_inner article:hover ._stats {
	opacity:1;
}
.einstaclone_member_photos_inner ._stats > span {
  margin: 0 6px;
}
.einstaclone_member_photos_inner ._stats > span i {
  margin-right: 4px;
}
@media(max-width:767px){
	.einstaclone_member_profile_info ._cont ul li {
    margin: 0 5px 0 0;
    font-size: 15px;
}
.einstaclone_member_photos_inner > ul > li {
  width:33.33%;
}
.einstaclone_member_profile_info {
    display: flex;
		margin:10px 0 0;
}
.einstaclone_member_photos_inner > ul {
    margin: 0 -5px;
}
.einstaclone_member_photos_inner > ul > li > article {
    padding: 5px;
}
.einstaclone_member_profile_info * {
    text-align: left;
}
.einstaclone_member_profile_info ._cont h2 {
    font-size: 20px;
    margin-bottom: 2px;
}
.einstaclone_member_profile_info ._img img {
    max-width: 80px;
		max-height: 80px;
    margin-right: 15px;
}
.einstaclone_member_profile_info h4 {
    font-size: 15px;
    padding-bottom: 0;
}
.einstaclone_member_profile_info h3 {
    font-size: 14px;
    padding-bottom:0;
		margin-bottom: 0;
}
.einstaclone_member_profile_info ._cont ul li span {
    margin-right: 0;
}
.layout_page_user_profile_index .layout_middle{
	overflow:visible !important;
}
}
/* EXPLORE CATEGORY */
.layout_einstaclone_explore_people{
	background:none !important;
	border:0 !important;
	padding:0 !important;
}
.einstaclone_cat_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.einstaclone_cat_header h2{
	margin-bottom:0;
	font-size:105%;
	font-weight:600;
}
.einstaclone_cat_header a{
	font-weight:600;
}
.einstaclone_category_carousel_wrapper{
	position:relative;
}
.einstaclone_category_carousel_wrapper .owl-carousel .owl-wrapper:after{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}
.einstaclone_category_carousel_wrapper .owl-nav.disabled{
	display:none;
}
.einstaclone_category_carousel_wrapper .owl-carousel{
	position:relative;
	width:100%;
	padding:20px 0;
	-ms-touch-action:pan-y;
}
.einstaclone_category_carousel_wrapper .owl-carousel .owl-wrapper{
	position:relative;
	-webkit-transform:translate3d(0px, 0px, 0px);
}
.einstaclone_category_carousel_wrapper .owl-carousel .owl-wrapper-outer{
	overflow:hidden;
	position:relative;
	width:100%;
}
.einstaclone_category_carousel_wrapper .owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition:height 500ms ease-in-out;
	-moz-transition:height 500ms ease-in-out;
	-ms-transition:height 500ms ease-in-out;
	-o-transition:height 500ms ease-in-out;
	transition:height 500ms ease-in-out;
}
.einstaclone_category_carousel_wrapper .owl-carousel .owl-item{
	float:left;
}
.einstaclone_category_carousel_wrapper .owl-prev{
	left:5px;
} 
.einstaclone_category_carousel_wrapper .owl-nav > div {
	position: absolute;
	top:120px;
	background: rgba(0, 0, 0, 0.6);
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 50%;
	font-size: 16px;
	text-align: center;
	color: #fff;
	cursor:pointer;
}
.einstaclone_category_carousel_wrapper .owl-next{
	right:5px;
}
.einstaclone_category_carousel_item {
	padding: 25px 20px;
	border-width: 1px;
	text-align: center !important;
	border-radius: 4px;
	min-height: 228px;
}
.einstaclone_category_carousel_item h3 {
	font-weight: 600;
	font-size: 100%;
}
.einstaclone_category_carousel_item p{
	font-size:90%;
}
.einstaclone_category_carousel_item a{
	display:block;
	margin-top:10px;
}
.einstaclone_category_carousel_item .follow_btn,
.einstaclone_category_carousel_item .request_btn {
	text-align: center;
	font-size: 95%;
}
.einstaclone_category_carousel_item img{
	margin-top:10px;
}
.einstaclone_category_carousel_item > a {
  margin-top: 0;
}
.einstaclone_category_carousel_item h3 a {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.einstaclone_category_carousel_item .einstaclone_add_btn,
.einstaclone_category_carousel_item .einstaclone_cancel_request_btn,
.einstaclone_category_carousel_item .einstaclone_remove_friend_btn{
	margin:10px auto 0;
	border-radius: 4px;
}
html .einstaclone_category_carousel_item .einstaclone_cancel_request_btn {
	justify-content: left;
}
.einstaclone_category_carousel_item .einstaclone_btn > i{
	line-height:25px;
}
/* EXPLORE POSTS */
.layout_einstaclone_explore_posts{
	background:none !important;
	border:0 !important;
	padding:0 !important;
	margin:0 !important;
}
.einstaclone_explore_posts > h2{
	font-size: 105%;
	font-weight: 600;
	margin: 35px 0 15px;
}