/* $Id:styles.css 2015-7-1 00:00:00 SocialEngineSolutions $*/

.layout_sespoke_recent_top, 
.layout_sespoke_button, 
.layout_sespoke_back_button,
.layout_sespoke_suggestions{margin-bottom:15px;}

/*BUTTON CSS START HERE*/
.sespoke_button{
  background:#f6f7f8;
  background:-moz-linear-gradient(top, #ffffff 0%, #f6f7f8 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f6f7f8));
  background:-webkit-linear-gradient(top, #ffffff 0%, #f6f7f8 100%);
  background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f6f7f8));
  background:linear-gradient(to bottom, #ffffff 0%,#f6f7f8 100%);
  border-radius:3px;
  border:1px solid $theme_border_medium_color;
  color:#4e5665 !important;
  font-size:13px;
  display:block;
  padding:5px 10px;
  overflow:hidden;
}
.sespoke_button:hover{
  background:#efefef;
  background:-moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #efefef));
  background:-webkit-linear-gradient(top, #ffffff 0%, #efefef 100%);
  background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
  background:linear-gradient(to bottom, #ffffff 0%,#efefef 100%);
  text-decoration:none;
}
.sespoke_button:before{
  margin-right:5px;
}
.sespoke_button i{
	float:left;
  height:16px;
  margin:0 5px 0 0;
  width:16px;
}
[dir="rtl"] .sespoke_button i{
  float:right;
	margin:0 0 0 5px;
}
.sespoke_button i.right{
  float:right;
  margin:0 0 0 5px;
}
[dir="rtl"] .sespoke_button i.right{
  float:left;
  margin:0 5px 0 0;
}
.sespoke_button i.fa{
  width:auto;
}
/*SIDEBAR GRID VIEW START HERE*/
.sespoke_member_list_grid{
	text-align:center;
}
.sespoke_member_list_grid li{
	float:left;
	margin:1px;
}
[dir="rtl"] .sespoke_member_list_grid li{
	float:right;
}
.sespoke_member_list_grid_thumb img{
	height:48px;
	width:48px;
}
/*SIDEBAR GRID VIEW END HERE*/
/*SIDEBAR LIST VIEW START HERE*/
.sespoke_sidebar_list > li{
  clear:both;
  padding:5px 0;
}
.sespoke_sidebar_list_thumb{
  float:left;
  margin-right:6px;
}
[dir="rtl"] .sespoke_sidebar_list_thumb{
  float:right;
  margin-left:6px;
  margin-right:0;
}
.sespoke_sidebar_list_info{
  overflow:hidden;
}
.sespoke_sidebar_list_title{
  font-weight:bold;
	margin-bottom:5px;
}
.sespoke_sidebar_list_title a{
	overflow:hidden;
}
.sespoke_sidebar_list_stats{
  font-size:.8em;
  margin-bottom:3px;
}
.sespoke_sidebar_list_btn a{
	background-repeat:no-repeat;
	background-position:center left;
	font-size:11px;
	line-height:16px;
	padding-left:21px;
}
a.sespoke_close_btn{
	display:none;
	height:13px;
	float:right;
	overflow:hidden;
	width:13px;
}
[dir="rtl"] a.sespoke_close_btn{
	float:left;
}
a.sespoke_close_btn:before{
	font-size: 10px;
	float: left;
	margin: 1px 3px;
}
.sespoke_sidebar_list > li:hover a.sespoke_close_btn,
.sespoke_list > li:hover a.sespoke_close_btn{
	display:block;
}
/*SIDEBAR LIST VIEW END HERE*/
/*Horizantal List*/
.sespoke_list > li{
	float:left;
	padding:5px;
	width:50%;
}
.sespoke_list_thumb{
	border-width:1px;
	float:left;
	margin-right:10px;
	height:100px;
	overflow:hidden;
	width:100px;
}
[dir="rtl"] .sespoke_list_thumb{
	float:right;
	margin-left:10px;
	margin-right:10px;
}
.sespoke_list_thumb img{
	border-width:0;
	min-height:100%;
	max-height:inherit;
	max-width:inherit;
	width:100%;
}
.sespoke_list_info{
	overflow:hidden;
}
.sespoke_list_info_title{
	font-weight:bold;
	margin-bottom:5px;
}
.sespoke_list_info_stat{
  font-size:.8em;
  margin-bottom:5px;
}
.sespoke_list_info_btn .sespoke_button{
	display:inline-block;
}
/*ACTION POPUP CSS START HERE*/
#global_page_sespoke-index-poke > span{display:block;}
.sespoke_action_popup_title{
	padding:10px;
	font-weight:bold;
	border-bottom-width:1px;
}
.sespoke_action_popup_content{
	padding:10px;
}
.sespoke_action_popup_photo{
	margin-right:10px;
}
[dir="rtl"] .sespoke_action_popup_photo{
	margin-left:10px;
	margin-right:0;
}
.sespoke_action_popup_photo img{
	width:100px;
}
.sespoke_action_popup_des{
	overflow:hidden;
}
.sespoke_action_popup_des p{
	margin:5px 0;
}
/*ACTION POPUP CSS END HERE*/
/*ACTION BUTTONS WIDGET CSS START HERE*/
.sespoke_buttons_block a + a{
	margin-top:5px;
}
.sespoke_buttons_onlyicons{text-align:center;}
.sespoke_buttons_onlyicons a{display:inline-block;margin:2px !important;}
.sespoke_buttons_onlyicons a i{margin:0;}
.sespoke_buttons_onlytext a{text-align:center;}
/*ACTION BUTTONS WIDGET CSS END HERE*/
/*View More Link*/
.sespoke_link_btn{
	border-radius:20px;
  padding:5px;
	text-align:center;
  -webkit-transition:all 500ms ease 0s;
  -moz-transition:all 500ms ease 0s;
  -o-transition:all 500ms ease 0s;
  transition:all 500ms ease 0s;
}
.sespoke_link_btn:hover{
	cursor:pointer;
	text-decoration:none;
}
.sespoke_link_btn i{
	margin-right:5px;
}
[dir="rtl"] .sespoke_link_btn i{
  margin-left:5px;
  margin-right:0;
}
.sespoke_load_btn{
	clear:both;
	padding:10px;
	text-align:center !important;
	width:100%;
}
.sespoke_load_btn .sespoke_link_btn{
	border-radius:5px;
	display:inline-block;
	text-align:center !important;
	padding:10px 30px;
	font-weight:normal;
}
@media only screen and (max-width:480px){
	.sespoke_list > li{
		width:100%;
	}
}