

/*LOGIN & SIGNUP PAGE CSS START HERE*/
/*Login Page*/
#global_page_user-auth-login #global_content_simple,
#global_page_core-error-requireuser #global_content_simple{
	display:block;
}
#global_page_user-auth-login .layout_page_user_auth_login .layout_main,
#global_page_user-auth-login .layout_page_user_auth_login .layout_main *,
#global_page_core-error-requireuser .layout_page_user_auth_login .layout_main,
#global_page_core-error-requireuser .layout_page_user_auth_login .layout_main *{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#global_page_user-auth-login #global_content_simple .layout_main,
#global_page_core-error-requireuser #global_content_simple .layout_main{
	padding:0 50px;
	position:absolute; 
	width:450px;
	left:50%;
	top:50%;
	-webkit-transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-60%) translateY(-50%);
	-ms-transform:translateX(-50%) translateY(-50%);
	-o-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
}
#global_page_user-auth-login .layout_page_user_auth_login .layout_main,
#global_page_core-error-requireuser .layout_page_core_error_requireuser .layout_main{
	margin:0 auto;
	width:450px;
}
#global_page_user-auth-login .layout_main .layout_core_menu_logo,
#global_page_core-error-requireuser .layout_main .layout_core_menu_logo{
	font-size:25px;
	margin-bottom:50px;
	text-align:center;
}
#global_page_user-auth-login .layout_core_content,
#global_page_core-error-requireuser .layout_core_content{
	border-radius:10px !important;
	overflow:hidden;
}
#user_form_login,
#user_form_login > div,
#user_form_login > div > div{
	overflow:visible;
}
#user_form_login > div > div{
	border-width:0;
	background:none;
	padding:0;
}
#user_form_login > div > div > h3{
	border-width: 0;
	font-size: 25px;
	font-weight: normal;
	margin: -10px -10px 0;
	padding: 10px;
	text-align: center;
}
.global_form > div > div > h3 + p{
	margin: 0 10px;
	padding-top: 20px;
}
#user_form_login .form-elements{
	margin:20px 10px;
}

#user_form_login .form-wrapper{
	margin-bottom:20px;
}
#user_form_login div.form-label{
	display:none;
}
#user_form_login div.form-element{
	min-width:0;
	margin-bottom:0;
	width:100%;
}
#user_form_login input[type="email"],
#user_form_login input[type="password"]{
	background-color:transparent;
 	border-radius: 0;
	border-width:0 0 1px;
	font-size:14px;
	line-height:40px;
	padding:0;
	width:100% !important;
}
#user_form_login input:-webkit-autofill,
#user_form_login input:-webkit-autofill:hover,
#user_form_login input:-webkit-autofill:focus,
#user_form_logininput:-webkit-autofill:active {
	transition:all 10000s ease-in-out 0s;
}
#user_form_login #submit-wrapper{
	float:none !important;
	margin-bottom:10px;
}
#user_form_login #submit-element button{
	font-size: 17px;
	font-weight: normal;
	line-height: 40px;
	padding: 0;
	text-transform: uppercase;
	width: 100%;
}
#user_form_login #remember-wrapper{
	float: left;
	margin: 0;
	padding: 0;
}
[dir="rtl"] #user_form_login #remember-wrapper{
	float:right;
}
#user_form_login #forgot-wrapper{
	clear: none;
	float: right;
	margin: -45px 0 0;
}
[dir="rtl"] #user_form_login #forgot-wrapper{
	float: left;
}
#user_form_login #facebook-wrapper,
#user_form_login #twitter-wrapper{
	margin:10px 0 0;
	padding:0 5px;
}
#user_form_login #facebook-element,
#user_form_login #twitter-element{
	width:100%;
}
#user_form_login #facebook-element > a img,
#user_form_login #twitter-element > a img{
	display:none;
}
#user_form_login #facebook-element > a,
#user_form_login #twitter-element > a{
	background-color: #37a600;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size:14px;
	font-weight: normal;
	line-height: normal;
	padding:10px 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}
#user_form_login #facebook-element > a:hover,
#user_form_login #twitter-element > a:hover{
	opacity:.8;
}
#user_form_login #facebook-element > a:before,
#user_form_login #twitter-element > a:before{
	font-family: FontAwesome;
	font-size: 19px;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	margin-right: 6px;
	vertical-align: middle;
}
#user_form_login #facebook-element > a:after,
#user_form_login #twitter-element > a:after{
	vertical-align:middle;
}
#user_form_login #facebook-element > a{
	border: 1px solid #3b529c;
	background: #425CAF;
}
#user_form_login #facebook-element > a:before{
	content:"\f082";
}
#user_form_login #facebook-element > a:after{
	content:"Login With Facebook";
}
#user_form_login #twitter-element > a{
	border: 1px solid #64b7d5;
	background: #69c0df;
}
#user_form_login #twitter-element > a:before{
	content:"\f081";
}

#user_form_login #twitter-element > a:after{
	content:"Login With twitter";
}
#user_form_login #submit-element button,
#user_form_login #facebook-element > a,
#user_form_login #twitter-element > a{
	-webkit-transition: all 600ms ease 0s;
	-moz-transition: all 600ms ease 0s;
	transition: all 600ms ease 0s;
}
@media only screen and (max-height:500px) {
	#global_page_user-auth-login #global_content_simple .layout_main,
	#global_page_core-error-requireuser #global_content_simple .layout_main{
		margin: 0 auto;
		position: inherit;
		-webkit-transform:translate(0px);
		-moz-transform:translate(0px);
		-ms-transform:translate(0px);
		-o-transform:translate(0px);
		transform:translate(0px);
	}
}
@media only screen and (max-width:500px) {
	#global_page_user-auth-login .layout_page_user_auth_login .layout_main,
	#global_page_core-error-requireuser .layout_page_core_error_requireuser .layout_main{
		width:95%;
	}
	#global_page_user-auth-login #global_content_simple .layout_main,
	#global_page_core-error-requireuser #global_content_simple .layout_main{
		margin: 0 auto;
		padding:20px;
		position: inherit;
		width:95%;
		-webkit-transform:translate(0px);
		-moz-transform:translate(0px);
		-ms-transform:translate(0px);
		-o-transform:translate(0px);
		transform:translate(0px);
	}
}
/*Sign Up Page*/
#global_page_user-signup-index #global_content_simple{
	display:block;
}
#global_page_user-signup-index .layout_main,
#global_page_user-signup-index .layout_main *{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#global_page_user-signup-index #global_content_simple .layout_main,
#global_page_user-signup-index .layout_page_user_signup_index .layout_main{
	padding:20px;
	margin:0 auto;
	width:600px;
}
#global_page_user-signup-index #global_content_simple .layout_core_menu_logo{
	font-size:25px;
	margin-bottom:20px;
	text-align:center;
}
#global_page_user-signup-index .layout_core_content{
	border-radius:10px !important;
	overflow:hidden;
}
#global_page_user-signup-index .global_form,
#global_page_user-signup-index .global_form > div,
#global_page_user-signup-index .global_form > div > div{
	overflow:visible;
}
#global_page_user-signup-index .global_form > div > div{
	background-color:transparent;
	border-width:0;
	padding:0;
}
#global_page_user-signup-index h2{display:none;}
#global_page_user-signup-index .global_form > div > div > h3{
	border-width: 0;
	font-size: 25px;
	font-weight: normal;
	margin: -10px -10px 20px;
	padding: 10px;
	text-align: center;
}
#global_page_user-signup-index .global_form .form-elements{
	margin:10px;
}
#global_page_user-signup-index .global_form .form-wrapper{
	margin-bottom:20px;
}
#global_page_user-signup-index #birthdaylink-wrapper{
	margin-bottom:0;
}
#global_page_user-signup-index .global_form div.form-label{
	font-weight:600;
	margin-bottom:0;
	width:170px;
}
#global_page_user-signup-index .global_form div.form-element,
#global_page_user-signup-index .global_form div.form-element p{
	margin-bottom:0;
}
#global_page_user-signup-index .global_form div.form-element{
	float:none !important;
}
#global_page_user-signup-index .global_form div.form-element input[type="text"],
#global_page_user-signup-index .global_form div.form-element input[type="email"],
#global_page_user-signup-index .global_form div.form-element input[type="password"],
#global_page_user-signup-index .global_form div.form-element textarea,
#global_page_user-signup-index .global_form div.form-element select{
	background-color:transparent;
	height:35px;
	line-height:35px;
	width:100%;
}
#global_page_user-signup-index .global_form div.form-element select{
	max-width:100%;
	width:auto;
}
#global_page_user-signup-index .global_form input[type="radio"] + label{float:left;}
@media only screen and (max-width:768px) {
	#global_page_user-signup-index .global_form div.form-element{width:auto;}
}
@media only screen and (max-width:650px) {
	#global_page_user-signup-index #global_content_simple .layout_main,
	#global_page_user-signup-index .layout_page_user_signup_index .layout_main{
		padding:0;
		width:100%;
	}
	#global_page_user-signup-index .global_form > div > div{padding:0;}
}
@media only screen and (max-width:550px) {
	#global_page_user-signup-index .global_form div.form-label,
	#global_page_user-signup-index .global_form div.form-element{width:100%;}
	#global_page_user-signup-index .global_form div.form-label{margin-bottom:5px;}
	#global_page_user-signup-index #terms-label,
	#global_page_user-signup-index #birthdaylink-label,
	#global_page_user-signup-index #submit-label{display:none;}
	#global_page_user-signup-index .global_form div.form-element input[type="text"],
	#global_page_user-signup-index .global_form div.form-element input[type="email"],
	#global_page_user-signup-index .global_form div.form-element input[type="password"]{
		width:100% !important;
	}
	#global_page_user-signup-index .global_form button[type="submit"]{
		width:100%;
	}
}
@media only screen and (max-width:350px) {
	#global_page_user-signup-index .layout_main{
		padding:20px 10px;
	}
	#global_page_user-signup-index #gender-element li{
		clear:both;
	}
}
/*LOGIN & SIGNUP PAGE CSS END HERE*/