
/*Landing Page*/
.socialtube_lp_members_carousel .owl-buttons > div{background-color:$theme_button_background_color;}
.socialtube_lp_members_carousel .owl-buttons > div:hover{background-color:$theme_button_background_color_hover;}
.socialtube_lp_members_carousel .owl-buttons > div i:before{color:$theme_button_font_color;}
#user_form_login > div > div > h3, #global_page_user-signup-index .global_form > div > div > h3{background-color:$socialtube_theme_color;color:#fff;}

.socialtube_intro_title{color:$socialtube_theme_color;}