

/*Parallax*/
.socialtube_lp_parallax_block_wraper{margin:40px 0;}
.socialtube_lp_parallax_block{position:absolute;left:0;right:0;}
.socialtube_lp_parallax_background_container{position:absolute;height:100%;width:100%;top:0;left:0;overflow:hidden;}
.socialtube_lp_parallax_background_img{background-attachment:fixed;background-clip:border-box;background-origin:padding-box;background-position:50% 50%;background-repeat:no-repeat;background-size:cover;position:absolute;top:0;left:0;height:100%;width:100%;}
.socialtube_lp_parallax_foreground_container{background-color:rgba(0, 0, 0, .1);position:relative;height:400px;width:100%;z-index:1;}
.socialtube_lp_parallax_foreground_container *{color:#fff;}
.socialtube_lp_parallax_foreground_content{display:table;margin:0 auto;height:100%;padding:0 50px;}
.socialtube_lp_parallax_foreground_content > div{display:table-cell;text-align:center;vertical-align:middle;}
.socialtube_lp_parallax_foreground_content > div span{display:block;margin:15px 0;}
.socialtube_lp_parallax_content{text-align:center;}
.socialtube_lp_parallax_content *:after{border-width:0 !important;}
/*Members*/
.socialtube_lp_members_block{margin:40px 0;overflow:hidden;}
.socialtube_lp_members_block_content{margin:0 auto;}
.socialtube_lp_members_block_content h2{font-size:30px;font-weight:normal;margin-bottom:25px;text-align:center;}
.socialtube_lp_members_thumb{border-width:1px;float:left;height:150px;position:relative;width:148px;overflow:hidden;margin:1px;}
[dir="rtl"] .socialtube_lp_members_thumb{float:right;}
.socialtube_lp_members_thumb > a{float:left;height:100%;width:100%;}
.socialtube_lp_members_thumb span{background-position:center center;background-size:cover;height:100%;display:block;width:100%;-webkit-transition:all 500ms ease 0s;-moz-transition:all 500ms ease 0s;-o-transition:all 500ms ease 0s;transition:all 500ms ease 0s;}
.socialtube_lp_members_thumb:hover span{transform:scale(1.1);-webkit-filter: grayscale(1);filter: grayscale(1);filter:alpha(opacity=70);}
.socialtube_lp_members_thumb .member_info{background-color:rgba(0, 0, 0, 0.6);bottom:-50px;color:#ffffff;font-size:12px;padding:5px;position:absolute;text-align:center;width:100%;z-index:1;-webkit-transition:all 500ms ease 0s;-moz-transition:all 500ms ease 0s;-o-transition:all 500ms ease 0s;transition:all 500ms ease 0s;}
.socialtube_lp_members_thumb:hover .member_info{bottom:0;}

/*Members Carousel*/
.socialtube_lp_members_carousel{position:relative;margin:0 40px;}
.socialtube_lp_members_carousel .owl-wrapper-outer{overflow:hidden;}
.socialtube_lp_members_carousel .owl-item{float:left;height:110px;padding:0 3px;}
[dir="rtl"] .socialtube_lp_members_carousel .owl-item{float:right;}
.socialtube_lp_members_carousel .owl-item .socialtube_lp_members_thumb{height:100%;width:100%;}

.socialtube_lp_members_carousel .owl-buttons > div{cursor:pointer;height:30px;line-height:30px;margin-top:-15px;position:absolute;text-align:center;top:50%;width:30px;}
.socialtube_lp_members_carousel .owl-buttons > div i{display:block;height:20px;margin:5px;position:relative;width:20px;}
.socialtube_lp_members_carousel .owl-buttons > div i:before{float:left;margin:3px;font-size:15px;}
.socialtube_lp_members_carousel .owl-buttons > div.owl-next i:before{float:right;}
.socialtube_lp_members_carousel .owl-buttons .owl-prev {left:-40px;}
.socialtube_lp_members_carousel .owl-buttons .owl-next {right:-40px;}

/*Info Block*/
.layout_sessocialtube_landing_page_text > div{overflow:hidden;margin:40px 0;}
.socialtube_lp_text_block{position:relative;overflow:hidden;}
.socialtube_lp_text_block > div{margin:0 auto;text-align:center;}
.socialtube_lp_text_block > div > h2{font-size:30px;font-weight:normal;margin-bottom:20px;text-transform:uppercase;}
.socialtube_lp_text_block > div > h2 + p{padding:0 100px;font-size:20px;margin-bottom:20px;}
.socialtube_lp_text_block > div ul li{display:inline-block;width:30%;}
.socialtube_lp_text_block > div ul li > div{background-position:center center;background-repeat:no-repeat;display:block;margin:0 auto;height:200px;width:200px;}
.layout_sessocialtube_info > div ul li > p{font-size:20px;font-weight:bold;}

/*Banner Widget CSS Start Here*/
.layout_sessocialtube_banner_slideshow{
	background-color:transparent !important;
	border-width:0  !important;
	padding:0 !important;
	margin:0 0 15px !important;
}
.layout_sesspectromedia_banner + .generic_layout_container{
	margin-top:15px !important;
}
.socialtube_banner_container{
	position:relative;
}
.socialtube_banner_container_wrapper.isfull .socialtube_banner_container{
	position:absolute;
	left:0;
	right:0;
}
.socialtube_banner_img_container{
	height:100%;
	overflow:hidden;
	position:relative;
	width:100%;
}
.socialtube_banner_img_container img{
	height:100%;
	position:absolute;
	object-fit:cover;
	width:100%;
	z-index:1;
}
.socialtube_banner_content{
	background-color:rgba(0, 0, 0, .3);
	display:table;
	margin:0 auto;
	height:100%;
	padding:0 200px;
	width:100%;
	top:0;
	position:absolute;
	z-index:2;
}
.socialtube_banner_content_inner{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
[dir="rtl"] .socialtube_banner_content_inner{
	text-align:center;
}
.socialtube_banner_title, .socialtube_banner_des{
	margin:10px 0;
	clear:both;
	text-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
}
.socialtube_banner_title{
	font-weight:bold;
	font-size:30px;
}
.socialtube_banner_des{font-size:20px;}
.socialtube_banner_btns{margin:20px 0;text-align:center;}
.socialtube_banner_btns a{
	border:2px solid #fff;
	color:#fff !important;
	font-weight:bold;
	text-transform:uppercase;
	margin:0 5px;
	padding:5px 10px;
  -webkit-transition:all 200ms ease 0s;
	-moz-transition:all 200ms ease 0s;
	-o-transition:all 200ms ease 0s;
	transition:all 200ms ease 0s;
}
.socialtube_banner_btns a:hover{text-decoration:none;opacity:.8;}
@media only screen and (max-width:950px){
	.socialtube_banner_content{padding:0 50px;}
}
@media only screen and (max-width:768px){
	.socialtube_banner_content{padding:0 20px;}
	.socialtube_banner_title{font-size:20px;}
	.socialtube_banner_des{font-size:15px;}
}

/*Intro Widget*/
.socialtube_intro_container > div{
	margin:0 20px;
}
.socialtube_intro_media{
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	float: left;
	height: 250px;
	overflow: hidden;
	padding: 2px;
	width: 450px;
}
.socialtube_intro_media img{
	height: 100%;
	object-fit: cover;
	width: 100%;
}
.socialtube_intro_cont{
	padding:20px;
	overflow:hidden;
}
.socialtube_intro_title{
	font-size: 22px;
	margin-bottom: 15px;
}
.socialtube_intro_des{
	margin-bottom:20px;
}
.socialtube_intro_btn a{
	border-radius: 3px;
	box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.5) inset;
	display: inline-block;
	font-size: 17px;
	font-weight: normal;
	padding: 12px 30px;
}
@media only screen and (max-width:950px){
	.socialtube_banner_content{padding:0 50px;}
}
@media only screen and (max-width:768px){
	.socialtube_intro_media{float: none;margin: 0 auto 10px !important;}
	.socialtube_intro_container > div {margin: 0 10px;}
	.socialtube_intro_cont	{clear:both;}
	.socialtube_intro_btn{text-align:center;}
}
@media only screen and (max-width:540px){
	.socialtube_intro_media{width:95%;}
}

/*Poplular Video Widget*/
.socialtube_video_list{
	float:left;
	height:200px;
	padding:5px;
}
.socialtube_video_list_min{
	width:20%;
}
.socialtube_video_list_thumb{
	border-radius:5px;
	height: 100%;
	position: relative;
	overflow:hidden;
	width: 100%;
}
.socialtube_video_list_thumb_img{
	display: block;
	height: 100%;
	overflow: hidden;
	width: 100%;
}
.socialtube_video_list_thumb_img > img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	object-fit:cover;
	height: 100%;
	width: 100%;
}
.socialtube_video_list:hover .socialtube_video_list_thumb_img > img{
	transform: scale(1.1);
}
.socialtube_video_list_info{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 35px 20px 15px;
	white-space: normal;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.85)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);
	-webkit-transition: padding .2s ease-in-out;
	-o-transition: padding .2s ease-in-out;
	transition: padding .2s ease-in-out;
}
.socialtube_video_list:hover .socialtube_video_list_info{
	padding-top:50px;
}
.socialtube_video_list_cont_title{
	color: #fff;
	display:lock;
	font-size: 16px;
	line-height: 1.4;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}
.socialtube_video_list_cont_stats{
	color: #fff;
	display: block;
	font-size: 11px;
	list-style-type: none;
	margin-top: 5px;
	opacity: 0.7;
}
.socialtube_video_list_cont_stats > span + span{
	margin-left:5px;
}
.socialtube_video_list_cont_stats > span i{
	margin-right:3px;
}
.socialtube_videolist_column_big .sesvideo_cat_video_list_title{
	font-size:20px;
}
.socialtube_videolist_column_big .sesvideo_cat_video_list_stats{
	font-size:15px;
}
.socialtube_videolist_column_small{
  width:25%;
}
.socialtube_videolist_column_small .socialtube_video_list{
  width:100%;
}
.socialtube_videolist_column_big{
	height: 400px;
	width: 50%;
}
.socialtube_videolist_column_big .socialtube_video_list{
  height:100%;
  width:100%;
}
.socialtube_video_list_more,
.socialtube_video_list_loading{
	margin-top:30px;
	text-align:center;
}
.socialtube_video_list_more .sesbasic_link_btn,
.socialtube_video_list_loading .sesbasic_link_btn{
	border-radius: 5px;
	display: inline-block;
	font-size:17px;
	padding: 10px 15px;
}
.socialtube_video_list_more .sesbasic_link_btn:before{
	margin-right:5px;
}
@media only screen and (max-width:768px){
	.socialtube_video_list_min{width:50%;}
	.socialtube_videolist_column_big, .socialtube_videolist_column_small{
		width:100%;
	}
	.socialtube_videolist_column_big{height:200px;}
	.socialtube_videolist_column_small .socialtube_video_list{width:50%;} 
}

