/* $Id:main.css 2017-5-20 00:00:00 SocialEngineSolutions $*/

.mce-i-tweet:before{
	font-family:fontawesome;
	content:"\\f099";
	color:#1da1f2;
}
p:[title="sestweet_blockquote"]{
	height:10px;
	padding:10px;
}
.sestweet_tweet_popup{
	box-shadow:0 4px 10px rgba(0,0,0,0.25);
	background-color:rgb(240, 240, 240);
 	padding:15px;
	position:absolute;
	width:400px;
	max-width:100%;
	z-index:100;
}
.sestweet_tweet_popup textarea{
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	max-width:100%;
	min-height:70px;
	width:100%;
}
.sestweet_tweet_popup_btns{
	margin-top:5px;
}
.sestweet_tweet_popup_btns > span{
	float:left;
	margin-right:6px;
}
.sestweet_tweet_popup_btns span a{
	padding:5px 10px;
	color:#fff;
	display:block;
}
.sestweet_tweet_popup_btns span a:hover{
	opacity:.8;
	text-decoration:none;
}
.sestweet_tweet_popup_btns span a i,
.sestweet_tweet_popup_btns span a span{
	display:inline-block;
	vertical-align:middle;
}
.sestweet_tweet_popup_btns span a i{
	font-size:15px;
	margin-right:5px;
}
.sestweet_tweet_popup_btns span a span{
	font-size:13px;
}
.sestweet_tweet_popup_tweet_btn a{
	background-color:#1DA1F2;
}
.sestweet_tweet_popup_fb_btn a{
	background-color:#4c66a4;
}
.sestweet_twilighter_remaining{
	margin:7px 0px 0;
	font-weight:bold;
}
.sestweet_tweet_popup_ckbx{
	margin:10px 0 0 5px;
}
.sestweet_tweet_popup_ckbx input[type="checkbox"],
.sestweet_tweet_popup_ckbx span{
	display:inline-block;
	vertical-align:middle;
	float:none;	
}
.sestweet_tweet_popup_close{
	border-radius:50%;
	height:16px;
	width:16px;
	position:absolute;
	top:-3px;
	right:-3px;
	background-color:#000;
	color:#fff !important;
}
.sestweet_tweet_popup_close:before{
	font-size:12px;
	float:left;
	margin:2px 0 0 3px;
}