

/*Global Classes*/
.sesqa_tag{
	background:#ffdfa1;
  color:#000 !important;
	padding:6px 8px;
  border-radius:4px;
  line-height:1;
  display:inline-block;
	font-size:13px;
	margin:0 1px 4px 0;
}
.sesqa_labels li{
	display:inline-block;
}
.sesqa_labels li span{
  width:20px;
  height:20px;
	position:relative;
	display:block;
}
.sesqa_labels li span i{
  color:#fff;
  font-size:12px;
  position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
.sesqa_featured_label{background:#47c8e3;}
.sesqa_sponsored_label{background:#3f51b5;}
.sesqa_verified_label{background:#4CAF50;}
.sesqa_hot_label{background:#FF5722;}
.sesqa_new_label{background :#bf3f34;}
.sesqa_toggle_option{
	position:absolute;
	right:10px;
	top:10px;
	font-size:16px;
}
.sesqa_animation{
  -webkit-transition:all 500ms ease 0s;
  -moz-transition:all 500ms ease 0s;
  -o-transition:all 500ms ease 0s;
  transition:all 500ms ease 0s;
}
.sesqa_toggle_option .sesbasic_pulldown_options{
	right:-5px;
}
/*ITEM BUTTONS STARTS*/
.sesqa_social_btns > div{
	display:inline-block;
}
.sesqa_social_btns > div > a{
	border-radius:50%;
}
.sesqa_social_btns > div > a i:before{
	font-size:15px;
}
.sesqa_social_share_wrap{
	position:relative;
}
.sesqa_social_share_options{
	position:absolute;
	box-shadow:0 0 10px rgba(0, 0, 0, .2);
	padding:10px;
	text-align:center;
	border-radius:5px;
	bottom:80px;
	left:50%;
	transform:translateX(-50%);
	opacity:0;
	white-space:nowrap;
	visibility:hidden;
	-webkit-transition:all 300ms ease 0s;
	-moz-transition:all 300ms ease 0s;
	-o-transition:all 300ms ease 0s;
	transition:all 300ms ease 0s;
}
.sesqa_social_share_wrap .open + .sesqa_social_share_options{
	opacity:1;
	visibility:visible;
	bottom:40px;
}
.sesqa_social_share_options a{
	border-radius:50%;
	float:none;
	display:inline-block;
	padding:6px 0;
}
.sesqa_social_btns .sesqa_like_question:hover,
.sesqa_social_btns .sesqa_like_question.button_active{
  background:#03A9F4;
}
.sesqa_social_btns .sesqa_favourite_question:hover,
.sesqa_social_btns .sesqa_favourite_question.button_active{
  background:#ff4c4c;
}
.sesqa_social_btns .sesqa_follow_question:hover,
.sesqa_social_btns .sesqa_follow_question.button_active{
	background:#FF9800;
}
/*ITEM BUTTONS END*/
/*CREATE PAGE START HERE*/
.sesqa_question_form .global_form .sesqa_poll_main_container .form-element{
	min-width:inherit;
}
.sesqa_question_form .sesqa_poll_main_container .imgs .disable i{
  color:black;
  opacity:.3;
}
.sesqa_question_form .sesqa_poll_main_container .imgs a i{
  font-size:18px;
  margin:0 4px;
}
.sesqa_question_form .sesqa_poll_main_container .imgs a{
  background:transparent !important;
}
.sesqa_question_form .sesqa_poll_main_container .imgs{
  margin:10px;
	display:inline-block;
}
/*CREATE PAGE END HERE*/
/*TOTAL STATS STARTS*/
.sesqa_total_stats li{
	line-height:normal;
}
.sesqa_total_stats li + li{
	border-top-width:1px;
	border-top-style:dashed;
}
.sesqa_total_stats li a{
	display:block;
	padding:10px;
}
.sesqa_total_stats i{
  margin-right:10px;
	width:16px;
  font-size:1.2em;
	text-align:center;
}
/*TOTAL STATS ENDS*/
/*NO QUESTION TIP STARTS*/
.sesqa_noquestion_tip{
  text-align:center !important;
  padding:20px 0;
}
.sesqa_noquestion_tip img{
  margin-bottom:20px;
  max-width:128px;
}
.sesqa_noquestion_tip span{
  display:block;
  font-size:17px;
}
/*NO QUESTION TIP END*/
/*LISTINGS CSS START HERE*/
.sesqa_tabs{
	border-bottom-width:1px;
}
.sesqa_tabs ul{
	display:inline-block;
	text-align:right;
	padding:0 5px;
}
.sesqa_tabs ul li{
	display:inline-block;
	text-align:center;
	position:relative;
}
.sesqa_tabs ul li.active{
	border-width:2px 1px 0;
	bottom:-1px;
}
.sesqa_tabs ul li a{
	display:block;
	font-weight:bold;
	padding:10px;
}
.sesqa_poll_label{
  border-radius:4px;
  padding:0 8px;
  font-size:12px;
	display:inline-block;
}
.sesqa_poll_label:hover{
	text-decoration:none;
}
.sesqa_poll_label i{
  margin-right:5px;
}
/*List View 1*/
.sesqa_list1_item{
	padding:10px 0;
	clear:both;
}
.sesqa_list1_item + .sesqa_list1_item{
	border-top-width:1px;
}
.sesqa_list1_item article{
	padding:15px 0;
	position:relative;
}
.sesqa_list1_item article ._statsbox{
	float:left;
	margin-right:15px;
}
.sesqa_list1_item article ._statsbox li{
	float:left;
	text-align:center;
}
.sesqa_list1_item article ._statsbox li + li{
	margin-left:15px;
}
.sesqa_list1_item article ._statsbox li span._count{
	border-width:2px;
	border-radius:50%;
	display:block;
	margin:0 auto 5px;
	height:40px;
	width:40px;
	font-weight:bold;
	font-size:110%;
	line-height:36px;
}
.sesqa_list1_item article ._statsbox li span._txt{
	display:block;
}
.sesqa_list1_item_content{
	overflow:hidden;
}
.sesqa_list1_item_content ._right{
	float:right;
	position:relative;
}
.sesqa_list1_item_content ._right .sesqa_labels{
	float:left;
	margin-top:2px;
}
.sesqa_list1_item_content ._right .sesqa_labels li{
	float:left;
	margin-right:5px;
}
.sesqa_list1_item_content ._right .sesqa_poll_label{
	float:left;
	padding:0 8px;
}
.sesqa_list1_item_content ._title{
	font-size:17px;
	font-weight:bold;
	overflow:hidden;
}
.sesqa_list1_item_content ._info{
	margin-top:10px;
}
.sesqa_list1_item_content ._info > li{
	float:left;
	margin:2px 0;
	font-size:90%;
}
.sesqa_list1_item_content ._info > li + li{
	border-left-width:1px;
	margin-left:10px;
	padding-left:10px;
}
.sesqa_list1_item_content ._info > li span + span{
	margin-left:5px;
}
.sesqa_list1_item_content ._info > li i{
	margin-right:5px;
}
.sesqa_list1_item_content ._footer{
	margin-top:15px;
}
.sesqa_list1_item_content ._footer ._tags{
	float:left;
}
.sesqa_list1_item_content ._footer .sesqa_social_btns{
	float:right;
}
.sesqa_list1_item_content ._footer .sesqa_social_btns > div > a{
	padding:0;
	height:25px;
	width:25px;
	line-height:23px;
}
.sesqa_list1_item_content ._footer .sesqa_social_btns > div > a > i {
  line-height: 20px;
}
.sesqa_list1_item_content ._footer .sesqa_social_btns > div > a i:before{
	font-size:11px;
}
.sesqa_list1_item_content .sesqa_social_share_options{
	right:0;
	left:auto;
	transform:translateX(0);
}
.layout_sesqa_manage_tabbed_widget .sesqa_list1_item_content{
	padding-right:20px;
}
.layout_sesqa_manage_tabbed_widget .sesqa_list1_item .sesqa_toggle_option{
	top:15px;
	right:0;
}
/*List View 2*/
.sesqa_list2_item{
	padding:10px 0;
	clear:both;
}
.sesqa_list2_item + .sesqa_list2_item{
	border-top-width:1px;
}
.sesqa_list2_item article{
	padding:15px 0;
}
.sesqa_list2_item article ._header ._right{
	float:right;
}
.sesqa_list2_item article ._header ._right .sesqa_labels{
	float:left;
}
.sesqa_list2_item article ._header ._right .sesqa_labels li{
	float:left;
	margin-right:5px;
}
.sesqa_list2_item article ._header ._right .sesqa_poll_label{
	float:left;
}
.sesqa_list2_item article ._header ._title{
	font-size:17px;
	font-weight:bold;
	overflow:hidden;
}
.sesqa_list2_item article ._top{
	display:flex;
	margin:5px 0;
}
.sesqa_list2_item_content{
	flex:1;
}
.sesqa_list2_item_content ._info{
	margin-bottom:5px;
}
.sesqa_list2_item_content ._info > li{
	float:left;
	margin:2px 0;
	font-size:90%;
}
.sesqa_list2_item_content ._info > li + li{
	border-left-width:1px;
	margin-left:6px;
	padding-left:10px;
}
.sesqa_list2_item_content ._info > li > span{
	margin-right:5px;
}
.sesqa_list2_item_content ._info > li i{
	margin-right:5px;
}
.sesqa_list2_item article ._statsbox{
	margin-left:15px;
}
.sesqa_list2_item article ._statsbox li{
	border-width:1px;
	display:inline-block;
	height:55px;
	width:55px;
	text-align:center;
}
.sesqa_list2_item article ._statsbox li + li{
	margin-left:10px;
}
.sesqa_list2_item article ._statsbox li span._count{
	display:block;
	font-size:17px;
	font-weight:bold;
	margin-top:5px;
}
.sesqa_list2_item article ._statsbox li span._txt{
	display:block;
	font-size:11px;
}
.sesqa_list2_item article ._footer{
	margin-top:15px;
}
.sesqa_list2_item article ._footer ._tags{
	float:left;
}
.sesqa_list2_item article ._footer .sesqa_social_btns{
	float:right;
}
.sesqa_list2_item article ._footer .sesqa_social_btns > div > a{
	padding:0;
	height:25px;
	width:25px;
	line-height:24px;
}
.sesqa_list2_item article ._footer .sesqa_social_btns > div > a i:before{
	font-size:11px;
}
.sesqa_list2_item article .sesqa_social_share_options{
	right:0;
	left:auto;
	transform:translateX(0);
}
.layout_sesqa_manage_tabbed_widget .sesqa_list2_item ._header{
	padding-right:30px;
	position:relative;
}
.layout_sesqa_manage_tabbed_widget .sesqa_list2_item ._header .sesqa_toggle_option{
	top:0;
	right:-5px;
}
/*Grid View*/
.sesqa_gridview_listing{
	display:flex;
	flex-wrap:wrap;
}
.sesqa_gridview h2{
	border-bottom-width:1px;
  padding-bottom:10px;
}
.sesqa_gridview_item{
	width:calc(33.33% - 20px);
	text-align:center;
	padding:10px;
	margin:10px;
	box-shadow:0 4px 8px #d8d8d8;
	position:relative;
	border-width:1px;
}
.sesqa_gridview_item ._bestans_label{
	position:absolute;
	top:0;
	left:15px;
}
.sesqa_gridview_item .sesqa-user_img{
	width:54px;
	border-radius:50px;
	overflow:hidden;
	height:54px;
	border-width:2px;
	margin:20px auto 0;
}
.sesqa_gridview_item .sesqa-user_img img{
	width:100%;
	height:100%;
  object-fit:cover;
}
.sesqa_gridview_item ._title{
  margin-top:10px;
	font-size:120%;
	text-align:center;
}
.sesqa_gridview_item .sesqa_labels{
	margin-top:10px;
}
.sesqa_gridview_item .sesqa_tag{
	font-size:11px;
}
.sesqa_gridview_item p{
	font-size:90%;
	margin-top:10px;
}
.sesqa_gridview_item_stats{
	margin-top:10px;
	padding-top:10px;
	position:relative;
	text-align:center;
}
.sesqa_gridview_item_stats:before{
	content:"";
	position:absolute;
	width:70%;
	height:1px;
	margin:auto;
	display:block;
	left:0;
	right:0;
	top:0;
}
.sesqa_gridview_item_stats span{
	margin:0 2px;
}
.sesqa_gridview_item_stats span i{
	margin-right:5px;
}
.sesqa_gridview_item ._footer{
	transition:all .5s ease;
	position:absolute;
	bottom:-1px;
	left:0;
	right:0;
	padding:12px 0 8px;
	opacity:0;
	text-align:center;
}
.sesqa_gridview_item:hover ._footer{
	opacity:1;
	transition:all .5s ease;
}
.sesqa_gridview_item ._footer > div > a{
	border-width:1px;
	padding:6px 0;
	height:32px;
	width:32px;
}
/*Grid View 2 Additional CSS*/
.sesqa_gridview_item .sesqa_toggle_option{
	position:absolute;
	top:5px;
	right:15px;
	font-size:16px;
}
.sesqa_gridview_item.bottom-border .sesqa_views_box{
	margin-top:10px;
	text-align:center;
}
.sesqa_gridview_item.bottom-border .sesqa_views_box li{
	border-width:2px;
	border-radius:50%;
	display:inline-block;
	position:relative;
	text-align:center;
	margin:0 2px;
	height:60px;
	width:60px;
}
.sesqa_gridview_item.bottom-border .sesqa_views_box li p{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	width:100%;
	margin:0;
}
.sesqa_gridview_item.bottom-border .sesqa_views_box li span{
	display:block;
	line-height:15px;
	font-size:11px;
}
.sesqa_gridview_item.bottom-border .sesqa_views_box li span:nth-child(1){
	font-size:150%;
}
html .sesqa_noquestion_tip_wrapper{
	width:100%;
	border-width:0 !important;
	padding:20px 0 !important;
}
/*LISTINGS CSS END HERE*/

/*SIDEBAR LIST VIEW START*/
.sesqa_sidebar_list_item{
	border-bottom-width:1px;
	padding:10px 0;
	position:relative;
	overflow:hidden;
}
.sesqa_sidebar_list_item .sesqa_sidebar_right{
	overflow:hidden;
}
.sesqa_sidebar_list_item:last-child{
  border-bottom:0;
}
.sesqa_sidebar_list_item ._photo{
  float:left;
  margin-right:10px;
	width:40px;
	height:40px;
}
.sesqa_sidebar_list_item ._photo img{
  height:100%;
	width:100%;
}
.sesqa_sidebar_list_item ._title{
	font-weight:bold;
}
.sesqa_sidebar_list_item .sesqa_labels{
	margin-top:5px;
}
.sesqa_sidebar_list_item p{
	margin-top:5px;
	font-size:90%;
}
.sesqa_sidebar_list_item ._stats{
	margin-top:5px;
}
.sesqa_sidebar_list_item ._stats span{
	margin:0 2px;
}
.sesqa_sidebar_list_item ._stats span i{
	margin-right:5px;
}
.sesqa_sidebar_list_item ._footer{
	transition:all .5s ease;
	position:absolute;
	bottom:-100%;
	left:0;
	right:0;
	padding:5px 0;
	opacity:0;
	text-align:center;
}
.sesqa_sidebar_list_item:hover ._footer{
  bottom:0;
	opacity:1;
}
.sesqa_sidebar_list_item ._footer a{
	border-width:1px;
	height:32px;
	width:32px
}
.sesqa_sidebar_list_item .sesqa_social_share_options{
	right:0;
	left:inherit;
	transform:none;
}
.sesqa_sidebar_list_item ._answerphoto{
	float:left;
	margin-right:10px;
}
.sesqa_sidebar_list_item ._answerphoto img{
	border-width:0;
	border-radius:50%;
	height:40px;
	vertical-align:middle;
	width:40px;
}
.sesqa_sidebar_list_item ._answerinfo{
	overflow:hidden;
}
.sesqa_sidebar_list_item ._answerinfo ._answerdate{
	font-size:90%;
}
.sesqa_sidebar_list_item ._answerdes{
	margin-top:5px;
}
/*SIDEBAR LIST VIEW END*/

/*CATEGORY WIDGETS CSS START HERE*/
/*Social Share Buttons*/
.sesqa_icon_btn{
  background-color:#000;
  background-color:rgba(0,0,0,0.6);
  border-radius:3px;
  float:left;
  overflow:hidden;
	padding:7px 0;
  position:relative;
  text-align:center !important;
  -webkit-transition:all 0.1s ease-in-out;
  -moz-transition:all 0.1s ease-in-out;
  transition:all 0.1s ease-in-out;
	height:30px;
	width:30px;
}
[dir="rtl"] .sesqa_icon_btn{
	float:right;
}
.sesqa_icon_btn + .sesqa_icon_btn{
	margin-left:4px;
}
[dir="rtl"] .sesqa_icon_btn + .sesqa_icon_btn{
	margin-left:0;
	margin-right:4px;
}
.sesqa_icon_btn .fa{ transform:inherit !important;}
.sesqa_icon_btn i:before{color:#fff;font-size:17px;}
.sesqa_icon_btn:hover{background:rgba(0,0,0,0.9);}
.sesqa_icon_btn.sesqa_icon_facebook_btn:hover{background-color:#3b5998;}
.sesqa_icon_btn.sesqa_icon_twitter_btn:hover{background-color:#00aced;}
.sesqa_icon_btn.sesqa_icon_pintrest_btn:hover{background-color:#cc2127;}


/*Home Categories Grid*/
.sesqa_home_category_wrapper{
	clear:both;
}
.sesqa_home_category_content{
	margin:0 -10px;
	display:flex;
	flex-wrap:wrap;
}
.sesqa_home_category_section{
	padding:10px;
	width:225px;
	position:relative;
	margin-bottom:20px;
}
.sesqa_home_category_section .qa_social_btns{
	opacity:0;
	left:0;
	top:-30px;
	width:100%;
	position:absolute;
	text-align:center;
	-webkit-transition:all 500ms ease 0s;
	-moz-transition:all 500ms ease 0s;
	-o-transition:all 500ms ease 0s;
	transition:all 500ms ease 0s;
}
.sesqa_home_category_section:hover .qa_social_btns{
	opacity:1;
	top:20px;
}
.sesqa_home_category_section .qa_social_btns a{
	float:none;
	display:inline-block;
}
.sesqa_home_category_section > a{
	border-width:1px;
	padding:10px;
	text-decoration:none !important;
	display:block;
	height:100%;
}
.sesqa_home_category_section:hover > a{
	background-image:url(../images/transprant-bg.png);
}
.sesqa_home_category_section_img{
	text-align:center;
	margin:0 auto;
	width:100px;
	height:100px;
}
.sesqa_home_category_section_img img{
	max-height:100%;
	max-width:100%;
}
.sesqa_home_category_section_title{
	font-size:16px;
	font-weight:bold;
	text-align:center;
	margin:10px 0px;
}
.sesqa_home_category_section_des{
	text-align:center;
}
/*Home Categories List*/
.sesqa_home_category_list_view{
	display:flex;
	flex-wrap:wrap;
}
.sesqa_home_category_list_item{
	width:100%;
}
.sesqa_home_category_list_item > section{
	border-bottom-width:1px;
	padding:10px 0;
}
.sesqa_home_category_list_item_icon{
	float:left;
	margin-right:15px;
}
.sesqa_home_category_list_item_icon img{
  max-width:100% !important;
}
.sesqa_home_category_list_sub{
	padding-left:50px;
}
.sesqa_home_category_list_item_cont{
	display:block;
	overflow:hidden;
	line-height:50px;
	font-size:17px;
}
.sesqa_home_category_list_sub_item{
	padding:10px 0;
}
.sesqa_home_category_list_sub_item_icon{
	float:left;
	margin-right:15px;
}
.sesqa_home_category_list_sub_item_cont{
	display:block;
	overflow:hidden;
	line-height:50px;
	font-size:17px;
}
/*Categories Based Questions*/
.sesqa_category_listing_wrapper,
.sesqa_category_listing_wrapper > div{
	background-image:url(../images/transparent-bg.png);
}
.sesqa_category_question_section{
	display:inline-block;
	padding:25px 20px;
	vertical-align:top;
	width:50%;
}
.sesqa_category_question_section:nth-child(even){
	margin-left:-4px;
}
.sesqa_catview_list .sesqa_category_question_section{
	width:33%;
}
.sesqa_category_question_section_title{
	margin-bottom:15px;
	border-bottom-width:1px;
	padding-bottom:10px;
}
.sesqa_category_question_section_title p img{
	width:20px;
	margin-right:10px;
	margin-top:2px;
	height:20px;
	object-fit:contain;
	float:left;
}
.sesqa_category_question_section_title p > a{
	font-size:17px;
	text-decoration:none;
	text-transform:uppercase;
	display:block;
	overflow:hidden;
}
.sesqa_category_question_section_title span.seeall_link{
	float:right;
	font-size:12px;
}
.sesqa_category_question_section_title span.seeall_link a i{
	margin-left:3px;
}
.sesqa_category_question_section_list{
	padding:0 10px;
}
.sesqa_category_question_section_list ul li{
	margin-bottom:20px;
}
.sesqa_category_question_section_list ul li i{
	margin-right:8px;
	margin-top:3px;
	float:left;
}
.sesqa_category_question_section_list ul li span{
	overflow:hidden;
	display:block;
}
.sesqa_category_question_section_list .list_view_all{
	font-size:12px;
	font-weight:bold;
}

/*Sidebar Questions List*/
.sesqa_sidebar_list_item{
	margin-bottom:10px;
}
.sesqa_sidebar_list_item:last-child{
	margin-bottom:0px;
}
.sesqa_sidebar_list_title{
	font-weight:bold;
	margin-bottom:5px;
}
.sesqa_sidebar_list_title i{
	float:left;
	margin-right:5px;
}
.sesqa_sidebar_list_title span{
	display:block;
	overflow:hidden;
}
.sesqa_sidebar_list_stats{
	margin:0 0 5px 15px;
}
.sesqa_sidebar_list_stats p{
	display:inline-block;
	margin:0px 4px;
}
.sesqa_sidebar_list_discrtiption{
	margin-left:18px;
	border-left-width:4px;
	padding-left:8px;
}
.sesqa_sidebar_list_item.see_all{
	text-align:right;
	font-size:12px;
}
.sesqa_sidebar_list_item.see_all a i{
	margin-left:5px;
}

/*Questions List View*/
.sesqa_question_answer_list_content .sesqa_question_answer_section{
	clear:both;
	overflow:hidden;
	border-width:1px;
	padding:15px;
}
.sesqa_question_answer_list_content .sesqa_question_answer_section + .sesqa_question_answer_section{
	margin-top:15px;
}
.sesqa_question_answer_list_content .sesqa_question_answer_section:hover{
	background-image:url(../images/transparent-bg.png);
}
.sesqa_question_answer_list_content .sesqa_question_answer_img{
	float:left;
	width:105px;
	margin-right:15px;
}
.sesqa_question_answer_list_content .sesqa_question_answer_img img{
	border-radius:3px;
	width:100%;
}
.sesqa_question_answer_list_content .sesqa_question_answer_content_section{
	overflow:hidden;
}
.sesqa_question_answer_list_content .sesqa_question_answer_title{
	font-size:17px;
	overflow:hidden;
}
.sesqa_question_answer_list_content .sesqa_question_answer_expcol_btn{
	width:20px;
	float:left;
	font-size:15px;
	line-height:24px;
	cursor:pointer;
	padding:0 1px;
}
.sesqa_question_answer_list_content .sesqa_question_answer_cont{
	overflow:hidden;
}
.sesqa_question_answer_list_content ._isexpcol .sesqa_question_answer_cont{
	padding-left:20px;
}
.sesqa_question_answer_list_content .sesqa_question_answer_discription{
	margin-top:10px;
	margin-bottom:10px;
}
.sesqa_question_answer_list_content .sesqa_question_answer_stats ul{
	float:left;
	padding-left:2px;
}
.sesqa_question_answer_list_content .sesqa_question_answer_stats ul li{
	float:left;
	margin-right:15px;
}
.sesqa_question_answer_list_content p.read_more{
	text-align:right;
	overflow:hidden;
	font-weight:bold;
	font-size:13px;
}
.sesqa_question_answer_list_content p.read_more a i{
	margin-left:5px;
}
/*Questions Grid View*/
.sesqa_question_answer_grid_content{
	margin:0 -10px;
}
.sesqa_question_answer_grid_content .sesqa_question_answer_section{
	float:left;
	width:50%;
	padding:10px;
}
.sesqa_question_answer_grid_content .sesqa_question_answer_inner{
	border-width:1px;
	padding:15px;
	overflow:hidden;
}
.sesqa_question_answer_grid_content .sesqa_question_answer_inner:hover{
	background-image:url(../images/transparent-bg.png);
}
.sesqa_question_answer_grid_content .sesqa_question_answer_stats ul{
	padding-left:2px;
	clear:both;
	overflow:hidden;
}
.sesqa_question_answer_grid_content .sesqa_question_answer_stats ul li{
	float:left;
	margin-right:12px;
}
.sesqa_question_answer_grid_content .sesqa_question_answer_stats ul li:last-child{
	margin:0px;
}
.sesqa_question_answer_grid_content .sesqa_question_answer_img{
	width:100%;
	margin:15px 0px 0px 0pc;
}
.sesqa_question_answer_grid_content .sesqa_question_answer_img img{
	border-radius:3px;
	width:100%;
	height:150px;
	object-fit:cover;
}
.sesqa_question_answer_grid_content .sesqa_question_answer_content_section{
	overflow:hidden;
}
.sesqa_question_answer_grid_content .sesqa_question_answer_title{
	font-size:17px;
	margin-bottom:8px;
}
.sesqa_question_answer_grid_content .sesqa_question_answer_discription{
	margin:15px 0px;
	line-height:24px;
}
.sesqa_question_answer_grid_content p.read_more{
	text-align:right;
	overflow:hidden;
	font-weight:bold;
	font-size:14px;
	margin-top:10px;
}
/*CATEGORY PAGES CSS STARTS*/
.sesqa_category_banner{
	position:relative;
}
.sesqa_category_banner_img{
	background-position:center center;
	background-size:cover;
	display:block;
	height:250px;
	width:100%;
}
.sesqa_category_banner_cont{
	background-color:rgba(0, 0, 0, .3);
	position:absolute;
	height:100%;
	left:0;
	top:0;
	width:100%;
}
.sesqa_category_banner_cont > div{
	display:table;
	height:100%;
	width:100%;
}
.sesqa_category_banner_cont_inner{
	display:table-cell;
	padding:20px 50px;
	vertical-align:middle;
}
.sesqa_category_banner_cont_inner *{
	color:#fff;
	text-align:center;
	text-shadow:0 0 8px rgba(0, 0, 0, .5);
}
.sesqa_category_banner_title{
	font-size:40px;
	margin-bottom:15px;
}
.sesqa_category_banner_des{
	font-size:17px;
	line-height:25px;
}
.sesqa_category_qa_listing_head{
	border-bottom-width:1px;
	padding:10px 0;
	margin-bottom:15px;
}
.sesqa_category_qa_listing_head img{
	object-fit:contain;
	margin-right:10px;
	height:24px;
	width:24px;
	float:left;
}
.sesqa_category_qa_listing_head > a,
.sesqa_category_qa_listing_head > span:not(.seeall_link){
	text-transform:uppercase;
	font-size:17px;
	font-weight:bold;
}
.sesqa_category_qa_listing_head > span.seeall_link{
	float:right;
	font-size:12px;
}
.sesqa_category_qa_listing_head > span.seeall_link a i{
	margin-left:3px;
}
.sesqa_category_qa_listing_cont{
	margin-bottom:20px;
}
.layout_sesqa_category_view_page .sesqa_question_answer_list_content,
.layout_sesqa_category_view_page .sesqa_question_answer_grid_content{
	margin-bottom:20px;
}
/*category view block*/
.sesqa_category_view ul{
	text-align:center;
	clear:both;
	overflow:hidden;
	margin:0px -3px;
}
.sesqa_category_view ul li{
	float:left;
	padding:3px;
	padding:5px;
	width:184px;
}
.sesqa_category_view ul li .category_view_section{
	border-width:1px;
	background-image:url(../images/transprant-bg.png);
	text-align:center;
	position:relative;
	overflow:hidden;
	padding:5px;
}
.sesqa_category_view ul li .category_view_section:hover{
	opacity:.8;
}
.category_view_section .qa_social_btns{
	opacity:0;
	left:0;
	top:-30px;
	width:100%;
	position:absolute;
	text-align:center;
	-webkit-transition:all 500ms ease 0s;
	-moz-transition:all 500ms ease 0s;
	-o-transition:all 500ms ease 0s;
	transition:all 500ms ease 0s;
}
.category_view_section:hover .qa_social_btns{
	opacity:1;
	top:10px;
}
.category_view_section .qa_social_btns a{
	float:none;
	display:inline-block;
	line-height:32px;
}
.sesqa_category_view ul li .category_view_section > a{
	background-image:url(../images/transparent-bg.png);
	display:block;
	text-decoration:none;
	height:170px;
	padding:27px 10px;
	width:100%;
}
.sesqa_category_view ul li p.category_icon img{
	object-fit:contain;
}
.sesqa_category_view ul li p.category_title{
	margin-top:15px;
	font-weight:bold;
}
/*TAGS START HERE*/
.sesqa_tags_list{
	margin-top:10px;
}
.sesqa_tags_list li{
	display:inline-block;
	margin:0 2px 6px 0;
}
.sesqa_tags_more{
	text-align:right;
	font-size:12px;
	font-weight:bold;
}
/*TAGS END HERE*/
/*Category Sidebar Widget*/
.sesqa_sidebar_categories{
	padding:0;
}
.sesqa_sidebar_categories li{
  padding:10px 0;
}
.sesqa_sidebar_categories li + li{
  border-top-width:1px;
}
.sesqa_sidebar_categories li a.catlabel{
  background-image:url(../images/category.png);
	background-position:left 2px;
	background-repeat:no-repeat;
	background-size:16px auto;
	display:block;
	font-weight:bold;
	padding-left:22px;
	overflow:hidden;
}
[dir="rtl"] .sesqa_sidebar_categories > li a.catlabel{
  background-position:right center;
  padding-left:0;
  padding-right:22px;
}
.sesqa_sidebar_categories > li a.noicon{
  background-image:none;
  padding:0;
}
.sesqa_sidebar_categories a.cattoggel{
	font-size:17px;
	float:right;
	height:16px;
	width:16px;
	text-align:center;
	line-height:16px;
}
[dir="rtl"] .sesqa_sidebar_categories a.cattoggel{
	float:left;
}
.sesqa_sidebar_categories a.cattoggelright:before{
  content:"\f0da";
}
.sesqa_sidebar_categories a.cattoggeldown:before{
  content:"\f0d7";
}
.sesqa_sidebar_categories > li ul{
	margin-left:10px;
}
[dir="rtl"] .sesqa_sidebar_categories > li ul{
	margin-left:0;
	margin-right:10px;
}
.sesqa_sidebar_categories > li ul li{
	border-width:0;
	padding:5px 0;
} 
.sesqa_home_category_list_item:last-child > section{
  border-bottom-width:0;
}
/*CATEGORY PAGES CSS ENDS*/
/*BANNER SEARCH STARTS HERE*/
.sesqa_search_banner_full #global_wrapper,
.sesqa_search_banner_full #global_content{
	padding-top:0;
	margin-top:0;
}
.sesqa_search_banner_full #global_wrapper,
.sesqa_search_banner_full #global_content{
	padding-top:0;
}
.layout_sesqa_banner_search{
	padding:0 !important;
	border-width:0 !important;
	box-shadow:none !important;
}
.sesqa_search_banner_container{
	height:350px;
}
.sesqa_search_banner{
	height:350px;
	width:100%;
	position:relative;
}
.search_banner_bg_full .sesqa_search_banner{
	position:absolute;
	left:0px;
	right:0px;
}
.sesqa_search_banner_inner{
	background-repeat:no-repeat;
	background-size:cover;
	position:absolute;
	left:0px;
	top:0px;
	height:100%;
	width:100%;
}
/*Type 1*/
.sesqa_search_banner.type1 .sesqa_search_banner_content{
	background:rgba(55, 91, 116, 0.05);
	margin:0 auto;
	padding:50px 20px;
	display:table;
	height:100%;
	width:100%;
}
.sesqa_search_banner.type1 .sesqa_search_banner_content_left{
	max-width:1200px;
	margin:0 auto;
	padding:50px;
	display:table;
	height:100%;
	width:100%;
}
.search_banner_bg_full .sesqa_search_banner.type1 .sesqa_search_banner_content_left{
	padding:40px 0;
}
.sesqa_search_banner.type1 .sesqa_search_banner_heading h2{
	font-size:30px;
  display:inline-block;
  color:white;
  position:relative;
}
.sesqa_search_banner.type1 .sesqa_search_banner_heading h2 img{
	max-height:40px;
	margin-right:10px;
	vertical-align:middle;
	float:left;
}
.sesqa_search_banner.type1 .sesqa_search_banner_heading h2 span{
	overflow:hidden;
	color:white;
}
.sesqa_search_banner.type1 .sesqa_search_banner_des{
	margin-top:15px;
	font-size:16px;
  color:white;
  position:relative;
}
.layout_sesqa_banner_search{
  margin-bottom:25px;
}
.sesqa_search_banner.type1 .sesqa_search_banner_ques{
	margin-top:5px;
	position:relative;
}
.sesqa_search_banner.type1 .sesqa_search_banner_ques > div{
	margin-top:10px;
}
.sesqa_search_banner.type1 .sesqa_search_banner_form{
	border-width:1px;
	background-color:#fff;
	border-radius:40px;
	margin-top:15px;
	position:relative;
	padding:0 40px 0 20px;
	width:60%;
}
.sesqa_search_banner.type1 .sesqa_search_banner_form input[type="text"]{
	background:none !important;
	color:#555;
	height:50px;
	line-height:40px;
	padding:0;
	width:100%;
	outline:none;
	border:0;
}
.sesqa_search_banner.type1 .sesqa_search_banner_form button{
	position:absolute;
	right:0;
	top:0;
	padding:0;
	height:50px;
	width:40px;
	background:none;
	color:#555;
	border-radius:50px;
	font-size:17px;
	border:0;
}
.sesqa_search_banner_inner:before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:black;
  opacity:.4;
}
/*Type 2*/
.sesqa_search_banner.type2 .sesqa_search_banner_content{
	background:rgba(55,91,116,0.25);
	margin:0 auto;
	padding:50px 20px;
	display:table;
	height:100%;
	width:100%;
	position:relative;
}
.sesqa_search_banner.type2 .sesqa_search_banner_content > div{
	display:table-cell;
	vertical-align:middle;
}
.sesqa_search_banner.type2 .sesqa_search_banner_heading,
.sesqa_search_banner.type2 .sesqa_search_banner_des{
	text-align:center;
}
.sesqa_search_banner.type2 .sesqa_search_banner_heading h2{
	color:#fff !important;
	font-size:40px;
	margin:0;
	padding:0;
}
.sesqa_search_banner.type2 .sesqa_search_banner_heading h2,
.sesqa_search_banner.type2 .sesqa_search_banner_heading h2 span{
	color:#fff !important;
}
.sesqa_search_banner.type2 .sesqa_search_banner_heading h2 img{
	max-height:40px;
	margin-right:10px;
	vertical-align:middle;
}
.sesqa_search_banner.type2 .sesqa_search_banner_des p{
	color:#fff;
	font-size:20px;
	margin-top:5px;
}
.sesqa_search_banner.type2 .sesqa_search_banner_form{
	border:5px solid rgba(0, 0, 0, .2);
	margin:15px auto 0;
	border-radius:40px;	
	width:600px;
}
.sesqa_search_banner.type2 .sesqa_search_banner_form > div{
	background-color:#fff;
	border-radius:40px;
	position:relative;
	padding:0 40px 0 20px;
}
.sesqa_search_banner.type2 .sesqa_search_banner_form input[type="text"]{
	border-width:0;
	background:none !important;
	border-radius:40px;
	height:44px;
	line-height:44px;
	padding:0;
	width:100%;
	outline:none;
}
.sesqa_search_banner.type2 .sesqa_search_banner_form button{
	position:absolute;
	right:0;
	top:0;
	padding:0;
	height:44px;
	width:44px;
	background:none;
	color:#555;
	border-radius:50px;
	font-size:17px;
}
.sesqa_search_banner.type2 .sesqa_search_banner_ques{
	max-width:600px;
	margin:10px auto 0;
	text-align:center;
}
.sesqa_search_banner.type2 .sesqa_search_banner_ques a{
	background-color:rgba(0,0,0,0.2);
	color:#fff;
	padding:5px 10px;
	margin:4px 4px;
	display:inline-block;
	font-size:12px;
	border-radius:5px;
}
.sesqa_search_banner.type2 .sesqa_search_banner_ques a:hover{
	background-color:rgba(0,0,0,0.4);
	text-decoration:none;
}
/*Type 3*/
.sesqa_search_banner.type3 .sesqa_search_banner_content{
	background:rgba(55,91,116,0.25);
	margin:0 auto;
	padding:50px 20px;
	display:table;
	height:100%;
	width:100%;
}
.sesqa_search_banner.type3 .sesqa_search_banner_content > div{
	display:table-cell;
	vertical-align:middle;
}
.sesqa_search_banner.type3 .sesqa_search_banner_heading,
.sesqa_search_banner.type3 .sesqa_search_banner_des{
	text-align:center;
}
.sesqa_search_banner.type3 .sesqa_search_banner_heading h2{
	font-size:40px;
	margin:0 0 15px;
	padding:0;
}
.sesqa_search_banner.type3 .sesqa_search_banner_heading h2,
.sesqa_search_banner.type3 .sesqa_search_banner_heading h2 span{
	color:#fff !important;
}
.sesqa_search_banner.type3 .sesqa_search_banner_heading h2 img{
	max-height:40px;
	margin-right:10px;
	vertical-align:middle;
}
.sesqa_search_banner.type3 .sesqa_search_banner_des p{
	color:#fff;
	font-size:20px;
}
.sesqa_search_banner.type3 .sesqa_search_banner_form{
	padding-top:20px;
}
.sesqa_search_banner.type3 .sesqa_search_banner_form > div{
	background-color:#fff;
	border-radius:40px;
	position:relative;
	width:500px;
	margin:0 auto;
	padding:0 60px 0 30px;
}
.sesqa_search_banner.type3 .sesqa_search_banner_form input[type="text"]{
	border-width:0;
	background:none !important;
	height:60px;
	line-height:60px;
	width:100%;
	padding:0;
	outline:none;
}
.sesqa_search_banner.type3 .sesqa_search_banner_form button{
	position:absolute;
	right:10px;
	top:10px;
	padding:0;
	height:40px;
	width:40px;
	background:none;
	color:#555;
	border-radius:50px;
	font-size:17px;
}
.sesqa_search_banner.type3 .sesqa_search_banner_ques{
	max-width:600px;
	margin:20px auto 0;
	text-align:center;
}
.sesqa_search_banner.type3 .sesqa_search_banner_ques a{
	background-color:rgba(0,0,0,0.2);
	color:#fff;
	padding:5px 10px;
	margin:4px 4px;
	display:inline-block;
	font-size:12px;
	border-radius:5px;
}
.sesqa_search_banner.type3 .sesqa_search_banner_ques a:hover{
	background-color:rgba(0,0,0,0.4);
	text-decoration:none;
}
.sesqa_search_banner_form ul.tag-autosuggest > li.autocompleter-choices .autocompleter-choice{
	padding:0 10px;
}
@media (max-width:767px){
	.sesqa_search_banner.type2 .sesqa_search_banner_heading h2{
		font-size:32px;
	}
	.sesqa_search_banner.type2 .sesqa_search_banner_des p{
		font-size:14px;
	}
	.sesqa_search_banner.type2 .sesqa_search_banner_form{
		width:500px;
	}
	.sesqa_search_banner.type1  .sesqa_search_banner_heading,.sesqa_search_banner.type1  .sesqa_search_banner_des,.sesqa_search_banner.type1  .sesqa_search_banner_ques > div{
		text-align:center;
	}
	.sesqa_search_banner.type1 .sesqa_search_banner_form{
		margin:auto;
	}
}
@media (max-width:599px){
	.sesqa_search_banner.type2 .sesqa_search_banner_heading h2{
		font-size:30px;
	}
	.sesqa_search_banner.type2 .sesqa_search_banner_form{
		width:100%;
	}
	.sesqa_category_view ul li{
		width:50% !important;
	}
	.sesqa_search_banner.type1 .sesqa_search_banner_content_left{
		padding:15px;
	}
	.sesqa_search_banner.type1 .sesqa_search_banner_ques a{
		padding:10px 15px;
		border-radius:5px;
	}
	.sesqa_search_banner.type1 .sesqa_search_banner_heading h2{
		text-align:center;
	}
	.sesqa_search_banner.type1 .sesqa_search_banner_heading h2 img{
		display:none;
	}
	.sesqa_home_category_section{
		width:50% !important;
	}
}
@media (max-width:479px){
	.sesqa_search_banner.type2 .sesqa_search_banner_content{
		padding:5px;
	}
	.sesqa_search_banner_container,.sesqa_search_banner{
		height:400px !important;
	}
	.sesqa_search_banner.type3 .sesqa_search_banner_content,.sesqa_search_banner.type3 .sesqa_search_banner_content > div{
		display:block;
	}
	.search_banner_bg_full .sesqa_search_banner.type1 .sesqa_search_banner_content_left {
    padding:25px 20px;
	}
	.sesqa_search_banner.type1 .sesqa_search_banner_heading h2,.sesqa_search_banner.type3 .sesqa_search_banner_heading h2 {
    font-size:22px !important;
	}
	.sesqa_search_banner.type1  .sesqa_search_banner_des,.sesqa_search_banner.type3  .sesqa_search_banner_des{
		margin-top:0 !important;
	}
	.sesqa_search_banner.type1  .sesqa_search_banner_des p,.sesqa_search_banner.type3 .sesqa_search_banner_des p{
    display:-webkit-box;
    text-overflow:ellipsis;
    overflow:hidden;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
  }
	.sesqa_search_banner.type1 .sesqa_search_banner_form,.sesqa_search_banner.type3 .sesqa_search_banner_form > div{
		width:100% !important;
	}
	.sesqa_search_banner.type1 .sesqa_search_banner_ques > div,.sesqa_search_banner.type3 .sesqa_search_banner_ques > a{
		display:none;
	}
	.sesqa_search_banner.type1 .sesqa_search_banner_ques > div:nth-child(1),.sesqa_search_banner.type1 .sesqa_search_banner_ques > div:nth-child(2),.sesqa_search_banner.type1 .sesqa_search_banner_ques > div:nth-child(3),.sesqa_search_banner.type3 .sesqa_search_banner_ques > a:nth-child(1),.sesqa_search_banner.type3 .sesqa_search_banner_ques > a:nth-child(2),.sesqa_search_banner.type3 .sesqa_search_banner_ques > a:nth-child(3){
		display:block;
	}
}
/*BANNER SEARCH ENDS HERE*/
/*FIND CATEGORIES CSS START HERE*/
.sesqa_find_qa_block ._dayswrapper{
	margin:0 -3px;
}
.sesqa_find_qa_block ._dayswrapper ._day{
	float:left;
	width:50%;
	padding:3px;
	height:90px;
	position:relative;
}
.sesqa_find_qa_block ._dayswrapper ._day a{
	border-radius:5px;
	position:relative;
	height:100%;
	display:block;
}
.sesqa_find_qa_block ._dayswrapper ._day a:hover{
	opacity:.9;
	text-decoration:none !important;
}
.sesqa_find_qa_block ._dayswrapper ._day a > img,
.sesqa_find_qa_block ._dayswrapper ._day a > span{
	position:absolute;
	left:10px;
}
.sesqa_find_qa_block ._dayswrapper ._day a > img{
	top:10px;
}
.sesqa_find_qa_block ._dayswrapper ._day a > span{
	bottom:10px;
	color:#fff;
	font-weight:bold;
}
.sesqa_find_qa_block ._dayswrapper ._day input.choose_date_input{
	cursor:pointer;
	position:absolute;
	left:3px;
	right:3px;
	top:3px;
	bottom:3px;
	opacity:0;
	z-index:1;
	max-width:100%;
	padding:0 !important;
	border-width:0 !important;
	height:100%;
}
.sesqa_find_qa_block ._categories{
	margin-top:10px;
	border-top-width:1px;
	padding-top:5px;
}
.sesqa_find_qa_block ._categories li{
	padding:5px 0;
}
.sesqa_find_qa_block ._categories li._cat a{
	display:block;
	text-decoration:none !important;
}
.sesqa_find_qa_block ._categories li._cat a i{
	float:left;
	margin-right:8px;
	margin-top:2px;
}
.sesqa_find_qa_block ._categories li._cat a i img{
	max-height:16px;
}
.sesqa_find_qa_block ._categories li._cat a span{
	display:block;
	overflow:hidden;
}
.sesqa_find_qa_block ._categories li.more a{
	font-size:12px;
}
.sesqa_find_qa_block ._categories li.more a i{
	margin-left:3px;
}
/*FIND CATEGORIES CSS END HERE*/

/* browse categories */
.sesqa_pagging{
  width:100%;
}
/* browse categories */
button.post_question{
  width:100%;
  padding:10px;
  font-weight:bold;
  letter-spacing:.5px;
  text-transform:uppercase;
}
.datepicker{
	background:white;
}
/*QUESTION VIEW PAGE START HERE*/
/*About User Widget*/
.sesqa_about_user ._photo{
	overflow:hidden;
	border-radius:50%;
	width:100px;
	height:100px;
	margin:10px auto;
}
.sesqa_about_user ._photo img{
	height:100%;
	width:100%;
	vertical-align:middle;
}
.sesqa_about_user ._name{
	font-weight:bold;
	font-size:120%;
}
.sesqa_about_user ._info p:nth-child(1),
.sesqa_about_user ._stats{
	border-top-width:1px;
	border-top-style:dashed;
	margin-top:10px;
	padding-top:10px;
}
.sesqa_about_user ._info p + p{
	margin-top:10px;
}
.sesqa_about_user ._info p span:nth-child(1){
	float:left;
}
.sesqa_about_user ._info p span:nth-child(2){
	float:right;
	font-weight:bold;
}
.sesqa_about_user ._stats{
	text-align:center;
}
.sesqa_about_user ._stats span{
	display:inline-block;
	margin:0 5px;
}
.sesqa_about_user ._stats span i{
	margin-right:3px;
}
/*User Acted Widget*/
.sesqa_users_acted section{
	padding:5px 0;
}
.sesqa_users_acted ._head{
	border-bottom-width:1px;
	padding-bottom:5px;
	font-size:90%;
	font-weight:bold;
	margin-bottom:10px;
}
.sesqa_users_acted .sesqa_user_listing li{
	padding:2px;
	float:left;
	height:48px;
	width:48px;
}
.sesqa_users_acted .sesqa_user_more a{
	line-height:48px;
	text-align:center;
	display:block;
	border-radius:50%;
}
/*Question Status*/
.sesqa_qstatus{
  background:#ffe599;
  font-weight:bold;
  color:black;
  padding:10px;
  display:block;
  text-align:center;
  text-transform:uppercase;
}
.layout_sesqa_question_similar > .post_similar_question{
  width:100%;
  font-weight:bold;
}
/*Main Content*/
.sesqa_viewpage{
	padding:10px;
	position:relative;
}
.sesqa_view_header{
	border-bottom-width:1px;
	margin-bottom:15px;
	position:relative;
}
.sesqa_view_header ._right{
	float:right;
}
.sesqa_view_header ._right .sesqa_labels{
	float:left;
}
.sesqa_viewpage_options{
	float:right;
	margin-left:10px;
}
.sesqa_viewpage_options > a{
	height:20px;
	padding:0 5px;
	display:block;
	line-height:20px;
}
.sesqa_viewpage_options .sesbasic_pulldown_options{
	right:-7px;
	margin-top:5px;
}
.sesqa_view_header ._title{
	overflow:hidden;
	padding-right:20px;
}
.sesqa_view_header ._title h2{
	font-size:150%;
}
.sesqa_viewpage_main > ._votebtns{
	float:left;
	width:50px;
	margin-right:10px;
	text-align:center;
}
.sesqa_vote{
	display:inline-block;
	text-align:center;
	margin-right:4px;
	position:relative;
	width:30px;
}
.sesqa_vote > .sesqa_upvote_btn:before{
	content:"";
	border-bottom-width:15px;
	border-bottom-style:solid;
	border-left:15px solid transparent;
	border-right:15px solid transparent;
	margin:auto;
	display:block;
}
.sesqa_vote > .sesqa_downvote_btn:before{
	content:"";
	border-top-width:15px;
	border-top-style:solid;
	border-left:15px solid transparent;
	border-right:15px solid transparent;
	margin:auto;
	display:block;
}
.sesqa_vote a{
  display:block;
}
.sesqa_vote a i{
	font-size:30px;
}
.sesqa_vote span{
	font-size:22px;
  margin:5px 0;
  display:block;
}
.sesqa_vote a.markbestsesqa i{
	font-size:20px;
}
.sesqa_vote a.sesqa_vote_btn i:before{
	content:"\f005";
	font-weight:400;
}
.sesqa_vote a.sesqa_vote_btn.vote_checked i:before{
	content:"\f005";
	font-weight:600;
}
.sesqa_viewpage_main_container{
	overflow:hidden;
	position:relative;
}
.sesqa_viewpage_footer{
	display:flex;
	flex-wrap:wrap;
	margin-top:15px;
}
.sesqa_viewpage_footer > div._left{
	width:60%;
}
.sesqa_viewpage_footer ._left > div + div{
	margin-top:10px;
}
.sesqa_viewpage_footer ._left ._stats > span{
	margin-right:10px;
}
.sesqa_viewpage_footer ._left ._stats > span > i{
	margin-right:5px;
}
.sesqa_viewpage_footer ._left .sesqa_social_btns > div{
	margin-right:7px;
}
.sesqa_viewpage_footer ._left .sesqa_social_btns > div > a{
	padding:6px 0;
}
.sesqa_viewpage_footer > div._right{
	background-image:url(../images/transprant-bg.png);
	padding:10px;
	width:40%;
}
.sesqa_viewpage_footer .sesqa_view_question_info > div + div{
	margin-top:5px;
}
.sesqa_viewpage_footer .sesqa_view_question_info > div i{
	float:left;
	width:16px;
	text-align:center;
	margin-right:5px;
	margin-top:3px;
}
.sesqa_viewpage_footer .sesqa_view_question_info > div i + span{
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
/*Question Answers*/
.sesqa_view_ans_container{
	margin-top:20px;
	border-top-width:1px;
	padding-top:20px;
}
.sesqa_view_ans_container ._head{
	font-size:17px;
	font-weight:bold;
	margin-bottom:20px;
}
.sesqa_view_ans_item{
	border-top-width:1px;
	border-top-style:dashed;
	display:flex;
	flex-wrap:wrap;
	padding:20px 0;
}
.sesqa_view_ans_item > ._votebtns{
	width:50px;
	margin-right:10px;
	text-align:center;
}
.sesqa_view_ans_item_content{
	position:relative;
	flex:1;
}
.sesqa_view_ans_owner_info{
	text-align:right;
}
.sesqa_view_ans_owner_info > a{
	display:inline-block;
	vertical-align:middle;
	margin-left:10px;
}
.sesqa_view_ans_owner_info > a img{
	vertical-align:middle;
	height:25px;
	width:25px;
}
.sesqa_view_ans_owner_info > a img,
.sesqa_view_ans_owner_info > a i{
	margin-right:5px;
}
.sesqa_view_ans_item_content .sesqa_toggle_option{
	right:0;
	top:0;
}
.sesqa_view_ans_item_content .sesqa_toggle_option .sesbasic_pulldown_options{
	right:-5px;
}
.sesqa_view_ans_item_content .question_description{
  overflow:hidden;
	padding-right:40px;
}
.sesqa_view_ans_item_content .question_description .sesqa_cnt_comment{
	margin-top:15px;
}
.sesqa_view_ans_item_content .question_description .sesadvcmt_comments{
	border-width:0 1px 1px;
}
.sesqa_view_ans_item_content .question_description .sesadvcmt_options{
	display:none;
}
.sesqa_view_ans_item_content .edit_btns li{
	float:left;
}
.sesqa_view_ans_item_content .edit_btns li a{
	padding:10px 15px;
	display:block;
	margin:10px;
	margin-left:0;
}
.sesqa_view_ans_item_content .edit_btns li a i{
	margin-right:5px;
}
.sesqa_view_ansbox{
	clear:both;
}
.sesqa_view_ansbox ._textbox{
	margin-bottom:10px;
}
.sesqa_view_ansbox .sesqa_button{
	height:40px;
	padding:0 15px;
	font-weight:bold;
	cursor:pointer;
}
/*QUESTION VIEW PAGE END HERE*/

/* RESPONSIVE */
@media(max-width:479px){
	.sesqa_list1_item article ._statsbox,.sesqa_list1_item article ._statsbox li{
    float:none;
	}
	.sesqa_list1_item article ._statsbox li{
		display:inline-block;
	}
	.sesqa_list1_item_content ._right,
	.sesqa_list2_item_content ._right,
	.sesqa_list2_item article ._header ._right{
    float:none;
    display:block;
    margin:10px 0 15px;
  }
	.sesqa_list1_item_content ._right .sesqa_labels,
	.sesqa_list2_item article ._header ._right .sesqa_labels {
    float:none;
  }
	.sesqa_list1_item_content ._right .sesqa_poll_label,
	.sesqa_list2_item article ._header ._right .sesqa_poll_label{
    float:right;
  }
	.sesqa_list1_item_content ._title,
	.sesqa_list2_item article ._header ._title{
    overflow:visible;
    display:inline-block;
		margin-top:5px;
  }
	.sesqa_list2_item article ._top{
		display:block;
	}
	.sesqa_gridview_item,.sesqa_viewpage_footer > div._left,
	.sesqa_viewpage_footer > div._right{
    width:100%;
	}
	.sesqa_viewpage_footer > div._right{
		margin-top:10px;
	}
	.sesqa_view_header ._title {
    overflow:visible;
    display:inline-block;
	}
	.sesqa_view_header ._right {
    float:none;
  }
}
@media(max-width:768px){
	.sesqa_tabs{
		overflow:auto;
		white-space:nowrap;
	}
}
/* DASHBOARD CSS */
.sesqa_dashboard_menu_list {
	clear: both;
	overflow: hidden;
}
.sesqa_dashboard_menu_list .sesbasic_dashboard_top_section {
	border-width: 1px;
	margin-bottom: 10px;
	background-image:none !important;
}
.sesqa_dashboard_menu_list .sesbasic_dashboard_tabs {
	margin-right: 10px;
}
.sesqa_dashboard_menu_list .sesbasic_dashboard_top_section_left {
	width: 70%;
	display: flex;
	align-items: center;
}
.sesqa_dashboard_menu_list .sesbasic_dashboard_top_section_btns {
	margin-top: 0;
}
.sesqa_dashboard_menu_list .sesbasic_dashboard_tabs > ul.sesbm ul {
	border-top: 0;
	padding: 0;
}
.sesqa_dashboard_menu_list .sesbasic_dashboard_tabs > ul.sesbm ul li {
  margin: 0;
}
.sesqa_dashboard_menu_list .sesbasic_dashboard_tabs > ul.sesbm ul li a {
	padding: 15px;
	font-size: 95%;
}
.sesqa_dashboard_menu_list .sesbasic_dashboard_tabs > ul ul a {
  font-weight: normal;
}
.sesqa_dashboard_menu_list .sesbasic_dashboard_tabs ul.sesbm li a i {
	width: 25px;
	text-align: center;
}
.sesqa_dashboard_menu_list .sesbasic_dashboard_tabs > ul.sesbm ul li + li {
  border-top-width: 1px;
}
.sesqa_dashboard_menu_list .sesqa_dashboard_listing_info {
	margin-top: 10px;
	margin-bottom: 10px;
}
.sesqa_dashboard_menu_list .sesqa_dashboard_listing_info .sesqa_dashboard_listing_photo {
	position: inherit;
	height: auto;
	border-width: 1px 1px 1px 1px;
	padding: 10px;
}
.sesqa_dashboard_menu_list .sesqa_dashboard_listing_info .sesqa_deshboard_img_listing {
	position: relative;
	height: 200px;
	overflow: hidden;
	width: 100%;
}
.sesqa_dashboard_menu_list .sesqa_dashboard_listing_title {
  margin-top: 6px;
}
.sesqa_dashboard_menu_list .sesqa_dashboard_listing_info .sesqa_deshboard_img_listing img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.sesqa_deshboard_img_listing .sesqa_labels {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	text-align: center;
}
.sesqa_dashboard_listing_details span {
	display: inline-block;
	margin: 5px 0 0;
}
.sesqa_dashboard_menu_list .sesqa_social_share_wrap > a {
	text-align: center;
	display: block;
	padding: 10px;
	border-radius: 4px;
}
.sesqa_dashboard_menu_list .sesqa_dashboard_listing_title > a{
	display:block;
}
/* BROWSE SEARCH */
.layout_sesqa_browse_search #loadingimgsesqa-label{
	display:none;
}
.layout_sesqa_browse_search #loadingimgsesqa-element{
  height: 20px;
}
.layout_sesqa_browse_search #search-element{
  margin-top: 5px;
}
.layout_sesqa_browse_search #search-element button img{
	margin-top:2px;
}
