.sesdocument_gutter_main > ._img{
	border-color:$theme_list_background_color;
}
.sesdocument_button .button_active {
	background:$theme_button_background_color;
	color:$theme_button_font_color !important;
}
/* ACTIVITY FEED */
.feed_attachment_sesdocument > div {
	border-width: 1px;
	margin-bottom: 5px;
	overflow: hidden;
}
.feed_attachment_sesdocument > div > a > img {
	height: 250px;
	margin: 0;
	width: 100%;
	max-height: inherit !important;
	max-width: inherit !important;
	object-fit: cover;
}
.feed_attachment_sesdocument > div > div {
	clear: both;
	padding: 10px 15px;
}
.feed_attachment_sesdocument .feed_item_link_title {
  font-size: 14px !important;
}
.feed_attachment_sesdocument .feed_item_link_desc {
  font-size: 13px !important;
}
.item_icon_sesdocument:before{
	content:"\\f0f6";
}