.sesdocument_animation{
  -webkit-transition:all 800ms ease 0s;
  -moz-transition:all 800ms ease 0s;
  -o-transition:all 800ms ease 0s;
  transition:all 800ms ease 0s;
}
/* CREATE DOCUMENT */
.sesdocument_create .global_form .form-label, .sesdocument_create .global_form .form-element {
	clear:both;
	max-width:100%;
	padding:0;
	text-align:left;
	padding:0 15px 0 0;
	margin:0;
	width:100% !important;
}
.sesdocument_create .global_form .form-label{
	margin-bottom:10px;
	font-weight:bold;
}
.sesdocument_create .global_form .form-wrapper {
  margin-bottom:15px;
}
.sesdocument_create input[type="text"],.sesdocument_create textarea,.sesdocument_create select {
	border-radius:0;
	height:35px;
	max-width:inherit;
	padding:7px;
	width:100%;
}
.sesdocument_create #check_custom_url_availability{
	margin-top:10px;
}
/* GRID VIEW */
.sesdocument_document_listing {
	display: flex;
	flex-wrap: wrap;
}
.sesdocument_document_listing > li{
	list-style-type:none;
}
.sesdocument_grid {
  float: left;
  margin: 0 0 15px;
  padding:10px;
  width: 33.33%;
  position: relative;
  overflow: hidden;
}
.sesdocument_grid_info_title {
	font-weight: bold;
	padding: 15px 0 10px;
	border-bottom-width: 1px;
	margin-bottom: 10px;
	display:inline-block;
}
.sesdocument_grid_info_desc > p {
	line-height: 22px;
	font-size: 95%;
}
.sesdocument_grid_owner{
	padding: 10px;
	margin: 10px 0;
	background:url(../images/transprant-bg.png);
}
.sesdocument_grid_owner > div{
  text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 95%;
}
.sesdocument_grid .sesdocument_list_stats a img {
	width:20px;
	height:20px;
	border-radius:50%;
	vertical-align:middle;
}
.sesdocument_grid_thumb {
  position: relative;
}
.sesdocument_grid_thumb:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: .4;
}
.sesdocument_grid_inner{
	position:relative;
}
.sesdocument_grid_hover_block{
	position: absolute;
	top:35%;
	left: 0;
	right: 0;
	opacity:0;
  z-index:99;
	transition:all .5s ease;
}
.sesdocument_list_labels p {
	color: #fff;
	font-size: 9px;
	letter-spacing: 1px;
	font-weight: 700;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 50%;
	display: inline-block;
}
.sesdocument_label_featured{
	background-color:#47c8e3;
}
.sesdocument_label_sponsored{
	background-color:#53dc10;
}
.sesdocument_label_verified{
	background-color:#673AB7;
}
.sesdocument_grid:hover .sesdocument_grid_hover_block{
	opacity:1;
}
.sesdocument_grid:hover .sesdocument_list_labels{
	opacity:0;
}
.sesdocument_grid .sesdocument_list_labels{
	opacity:1;
	transition:all .5s ease;
}
.sesdocument_grid_meta_block > div > div{
	text-align:center;
}
.sesdocument_grid_meta_block span i {
  margin-right: 4px;
}
.sesdocument_grid_meta_block span {
	color: #fff;
	font-size: 95%;
	margin-right: 5px;
}
.sesdocument_list_grid_thumb_btns{
	text-align:center;
}
.sesdocument_list_grid_thumb_btns > a {
	float: none;
	display: inline-block;
	margin-top: 10px;
}
.sesdocument_document_type {
	position: absolute;
	left: 5px;
	bottom: 5px;
}
.sesdocument_document_type > img {
	width: 40px;
	height: 40px;
}
.sesdocument_grid_category {
	position: absolute;
	bottom:5px;
	z-index: 9999;
	right:10px;
}
.sesdocument_grid_category a{
	color:#fff;
	font-weight: bold;
}
.sesdocument_grid_info_desc {
    padding: 5px 0;
}
.sesdocument_grid_info_desc {
    padding: 5px 0;
}
.sesdocument_pagging {
    width: 100%;
}
/* LIST VIEW */
.sesdocument_list_document_view {
	margin: 0 15px 0;
	position: relative;
	width: 100%;
	transition: all .5s ease;
}
.sesdocument_list_document_view .sesdocument_list_thumb {
	float:left;
	height:200px;
	margin:0 15px 0 0;
	overflow:hidden;
	width:300px;
	border-radius:6px;
	position:relative;
}
.sesdocument_list_info_title {
	font-weight: bold;
	padding:0 0 10px;
	border-bottom-width: 1px;
	margin-bottom: 10px;
	display: inline-block;
}
.sesdocument_admin_list{
	padding: 10px;
	margin: 10px 0 0;
	background: url(../images/transprant-bg.png);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sesdocument_list_document_view .sesdocument_list_info {
	display: block;
	position: relative;
	flex: 1;
}
.sesdocument_admin_list .sesdocument_stats_list a img{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	vertical-align: middle;
}
.sesdocument_list_thumb_over .sesdocument_grid_btns{
	top:40%;
	right:19%;
}
.sesdocument_grid_btns .sesdocument_list_stats > span > i {
  margin-right:3px;
}
.sesdocument_list_document_view .sesdocument_list_thumb:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: .4;
}
.sesdocument_grid_btns .sesdocument_list_stats > span {
  margin-right:5px;
}
.sesdocument_grid_btns .sesdocument_list_stats {
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
}
.sesdocument_list_document_view:hover .sesdocument_grid_btns{
	opacity:1;
}
.sesdocument_list_document_view .sesdocument_list_document_main {
	padding:20px 0;
	display:flex;
	border-top-width:1px;
  border-top-style:dashed;
}
.sesdocument_list_document_view:first-child .sesdocument_list_document_main{
	border-top:0;
}
.sesdocument_list_labels {
	position: absolute;
	text-align: center !important;
	bottom: 0;
	left: 0;
	top: 5px;
	right: 0;
	transition:all .5s ease;
}
.sesdocument_list_document_view:hover .sesdocument_list_labels{
	opacity:0;
}
.sesdoc_view .sesdoc_list_item {
	width: 100%;
	padding: 10px;
	padding-bottom: 20px;
	margin: 5px 0 10px;
	border-bottom-width: 1px;
}
.sesdoc_view .sesdoc_list_item:last-child{
	border:0;
}
.sesdoc_view .sesdoc_list_item article{
  display: flex;
}
.sesdoc_list_item .sesdoc_top {
	border-radius: 8px;
	border-width: 4px;
	width: 250px;
	margin-right: 20px;
}
.sesdoc_list_item .sesdoc_bottom {
	flex:1;
	padding:0;
}
.sesdoc_list_item .sesdoc_user_stats{
	padding-bottom: 10px;
	border-bottom-width: 1px;
	margin: 5px 0 10px;
}
.sesdoc_list_item .sesdoc_user_stats > span {
  margin-right: 10px;
}
.sesdoc_list_item .sesdoc_bottom .title a {
  font-size: 18px;
}
.sesdoc_list_item .sesdoc_user_stats > span i {
  margin-right: 2px;
}
.sesdoc_list_item .title{
  display: flex;
  justify-content: space-between;
}
.layout_left .sesdoc_list_item article,
.layout_right .sesdoc_list_item article{
	background:transparent !important;
	border-bottom-width: 1px;
}
.layout_left .sesdoc_list_item .sesdoc_top,
.layout_right .sesdoc_list_item .sesdoc_top{
	float:left;
	width:60px !important;
	height: 60px !important;
	margin-right: 10px;
}
.layout_left .sesdoc_list_item .sesdoc_top > a,
.layout_right .sesdoc_list_item .sesdoc_top > a,
.layout_left .sesdoc_list_item .sesdoc_top > a > span,
.layout_right .sesdoc_list_item .sesdoc_top > a > span{
	height:60px;
}
.layout_left .sesdoc_list_item .sesdoc_icon img,
.layout_right .sesdoc_list_item .sesdoc_icon img {
  width: 20px;
}
.layout_left .sesdoc_list_item .title,
.layout_right .sesdoc_list_item .title {
  display: block;
}
.layout_left .sesdoc_list_item .sesdoc_bottom,
.layout_right .sesdoc_list_item .sesdoc_bottom{
	overflow:hidden;
}
.layout_left .sesdoc_view .sesdoc_list_item,
.layout_right .sesdoc_view .sesdoc_list_item{
	padding:0;
}
.layout_left .sesdoc_list_item .sesdoc_user_stats > span,
.layout_right .sesdoc_list_item .sesdoc_user_stats > span {
	display: block;
	margin-right: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size:12px;
}
.layout_left .sesdoc_list_item .sesdoc_user_stats >.owner i,
.layout_right .sesdoc_list_item .sesdoc_user_stats >.owner i {
  margin-right: 7px;
}
.layout_left .sesdoc_list_item .sesdoc_user_stats,
.layout_right .sesdoc_list_item .sesdoc_user_stats{
	border-bottom:0;
	padding-bottom: 0;
}
.layout_left .sesdoc_list_item .stats,
.layout_right .sesdoc_list_item .stats{
	margin-top: 10px;
	padding-top: 5px;
	border-top-width: 1px;
}
.layout_left .sesdoc_list_item .sesdoc_labels,
.layout_right .sesdoc_list_item .sesdoc_labels{
	top:5px;
}
/* VIEW PAGE */
.sesdoc_view_page .title{
	display: flex;
  justify-content: space-between;
}
.sesdoc_view_page .title a {
	font-weight: 600;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 20px;
	margin-bottom: 5px;
	display: block;
}
.sesdoc_view_page .sesbasic_rating_star > span.fa:before {
  font-size: 20px;
}
.sesdoc_view_page .sesdoc_user_stats > span {
  margin-right: 10px;
	font-size: 95%;
}
.sesdoc_view_page .sesdoc_user_stats > span > i {
  margin-right: 2px;
}
.sesdoc_view_page .desc{
  margin: 10px 0;
}
/* Gutter Photo */
.sesdocument_gutter_main > ._img {
	width: 90%;
	height: 200px;
	margin: auto;
	border-width: 6px;
	border-radius: 100%;
	overflow: hidden;
	box-sizing: border-box;
}
.sesdocument_gutter_main > ._img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.sesdocument_gutter_main  ._name {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
}
/* View Labels */
.sesdoc_view_labels > span {
	display: block;
	padding: 10px;
	color: #fff;
	margin-bottom: 10px;
	text-align: center;
}
.sesdoc_label_featured{
	background-color:#47c8e3;
}
.sesdoc_label_hot{
	background-color:#FF5722;
}
.sesdoc_label_new{
	background-color:#53dc10;
}

/**************CATEGORY PAGES CSS START HERE**************/
/*CATEGORY COVER*/
.layout_sesdocument_banner_category > h3{
  display:none;
}
.sesdocument_category_cover{
  border-style:solid;
  border-width:1px;
  margin-bottom:15px;
  padding:2px;
  width:100%;
}
.sesdocument_category_cover_inner{
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
  width:100%;
}
.sesdocument_category_cover_content{
  background-color:rgba(0, 0, 0, .7);
  padding:30px;
  width:100%;
}
.sesdocument_category_cover_breadcrumb{
  margin-bottom:15px;
}
.sesdocument_category_cover_breadcrumb,
.sesdocument_category_cover_breadcrumb a{
  color:#fff !important;
  font-size:17px;
}
.sesdocument_category_cover_breadcrumb a{
  font-weight:bold;
}
.sesdocument_category_cover_blocks{
  background-color:rgba(0, 0, 0, .5);
  border:1px solid #111;
  height:250px;
  width:100%;
}
.sesdocument_category_cover_block_img{
  border-right:1px solid #111;
  float:left;
  height:100%;
  width:50%;
}
[dir="rtl"] .sesdocument_category_cover_block_img{
  float:right;
}
.sesdocument_category_cover_block_img span{
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  display:block;
  height:100%;
  width:100%;
}
.sesdocument_category_cover_block_info{
  overflow:hidden;
  padding:20px;
}
.sesdocument_category_cover_title{
  font-size:20px;
  font-weight:bold;
  color:#fff;
  margin-bottom:10px;
}
.sesdocument_category_cover_des{
  height:38px;
  overflow:hidden;
}
.sesdocument_category_cover_des p{
  font-size:15px;
  color:#fff;
  text-align:justify;
}
.sesdocument_category_cover_des.mCustomScrollbar{
  padding-right:10px;
}
.sesdocument_category_cover_des.mCustomScrollbar .mCSB_dragger_bar{
  background-color:rgba(204, 204, 204, .5) !important;
}
.sesdocument_category_cover_documents{
  margin-top:10px;
}
.sesdocument_category_cover_documents_head{
  font-weight:bold;
  font-size:15px;
  margin-bottom:10px;
  color:#fff;
}
.sesdocument_category_cover_documents .sesdocument_thumb{
  border-width:0;
  float:left;
  margin-right:.5%;
  overflow:hidden;
  padding:0;
  position:relative;
  width: 19%;
  height: 110px;
}
[dir="rtl"] .sesdocument_category_cover_documents .sesdocument_thumb{
  float:right;
  margin-left:.5%;
  margin-right:0;
}
.sesdocument_category_cover_documents .sesdocument_thumb:nth-last-child(1){
  margin-right:0;
}
[dir="rtl"] .sesdocument_category_cover_documents .sesdocument_thumb:nth-last-child(1){
  margin-left:0;
  margin-right:0;
}
.sesdocument_category_cover_documents .sesdocument_thumb:hover{
  box-shadow:0 0 10px rgba(255, 255, 255, .8);
}
.sesdocument_category_cover_documents .sesdocument_thumb a{text-decoration:none !important;}
.sesdocument_category_cover_documents .sesdocument_thumb a span{height:80px;display:block;background-repeat:no-repeat;background-size: 100% 100%;}

.sesdocument_category_cover_documents_item_info{
  padding: 5px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}
.sesdocument_category_cover_documents .sesdocument_thumb:hover .sesdocument_category_cover_documents_item_info{
  bottom:0;
}
.sesdocument_category_cover_documents_item_info .sesdocument_list_title{
  font-size:13px;
  margin:0;
  color:#fff;
  text-align: center;
}
.sesdocument_category_top_documents {margin-bottom:20px;}
.sesdocument_category_top_documents  .sesdocument_thumb a span{
  height: 100%;
  width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/*Category Header*/
.sesdocument_browse_cat_top{
  border-bottom-style:solid;
  border-bottom-width:1px;
  padding:5px;
  margin-bottom:15px;
}
.sesdocument_catview_title{
  font-size:30px;
  font-weight:bold;
}
.sesdocument_catview_title, .sesdocument_catview_des{
  margin-bottom:10px;
  text-align:center;
}
[dir="rtl"] .sesdocument_catview_title, [dir="rtl"] .sesdocument_catview_des{
  text-align:center;
}
/*CATEGORY GRID LISTING*/
.sesdocument_category_grid_listing, [dir="rtl"].sesdocument_category_grid_listing{
  text-align:center;
}
.sesdocument_category_grid_listing.gridleft{
  text-align:left;
}
[dir="rtl"] .sesdocument_category_grid_listing.gridleft{
  text-align:right;
}
.sesdocument_category_grid_listing.gridright{
  text-align:right;
}
[dir="rtl"] .sesdocument_category_grid_listing.gridright{
  text-align:left;
}
.sesdocument_category_grid{
  border-style:solid;
  border-width:1px;
  display:inline-block;
  height:100px;
  margin:0 1px 10px 5px;
  padding:2px;
  position:relative;
  width:227px;
}
[dir="rtl"] .sesdocument_category_grid{
  float:right;
}
.sesdocument_category_grid_img{
  display:block;
  height:100%;
  overflow:hidden;
  width:100%;
}
.sesdocument_category_grid_img span{
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  display:block;
  height:100%;
  width:100%;
}
.sesdocument_category_grid_overlay,
.sesdocument_category_grid_info{
  bottom:0;
  display:block;
  left:0;
  margin:2px;
  position:absolute;
  right:0;
  top:0;
}
.sesdocument_category_grid_overlay{
  background-color:#000;
  opacity:0.5;
  filter:alpha(opacity=50); /* For IE8 and earlier */
}
.sesdocument_category_grid:hover .sesdocument_category_grid_overlay{
  opacity:0.8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
}
.sesdocument_category_grid_info > div{
  display:table;
  height:100%;
  text-align:center;
  vertical-align:middle;
  width:100%;
}
.sesdocument_category_grid_details{
  color:#fff;
  display:table-cell;
  font-size:17px;
  font-weight:bold;
  text-align:center;
  padding:5px;
  vertical-align:middle;
}
[dir="rtl"] .sesdocument_category_grid_info > div,
[dir="rtl"] .sesdocument_category_grid_details{
  text-align:center;
}
.sesdocument_category_grid_details img{
  max-height:40px;
  max-width:40px;
}
.sesdocument_category_grid_details span{
  display:block;
}
.sesdocument_category_grid_stats{
  font-size:13px;
}
.sesdocument_catbase_list_head{
  border-bottom-style:solid;
  border-bottom-width:1px;
  font-weight:bold;
  margin-bottom:10px;
  padding:10px 5px;
}
.sesdocument_catbase_list_head > a{
  font-size:17px;
  margin:0 10px 0 0;
}
[dir="rtl"] .sesdocument_catbase_list_head > a{
  margin:0 0 0 10px;
}
/*CATEGORY documents LIST*/
.sesdocument_cat_event_listing{
  position:relative;
}
.sesdocument_cat_event_list{
  float:left;
  height:170px;
  padding:0 5px 10px;
  width:200px;
}
[dir="rtl"] .sesdocument_cat_event_list{
  float:right;
}
.sesdocument_cat_event_list .sesdocument_thumb{
  height:100%;
  position:relative;
  width:100%;
}
.sesdocument_cat_event_list .sesdocument_thumb > a {
  overflow:hidden;
  height:100%;
  width:100%;
  display:block;
}
.sesdocument_cat_event_list .sesdocument_thumb > a > span {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	display:block;
	height:100%;
	width:100%;
}
.sesdocument_cat_event_list_info{
  background-color:rgba(0, 0, 0, .5);
  bottom:0;
  position:absolute;
  top:0;
  left:0;
  margin:2px;
  opacity:0;
  filter:alpha(opacity=0);
  padding:10px;
  right:0;
}
.sesdocument_cat_event_list:hover .sesdocument_cat_event_list_info{
  opacity:1;
  filter:alpha(opacity=100);
}
.sesdocument_cat_event_list_info *{
  color:#fff !important;
  text-align:center;
}
[dir="rtl"] .sesdocument_cat_event_list_info *{
  text-align:center;
}
.sesdocument_cat_event_list_info > div{
  display:table;
  height:100%;
  width:100%;
}
.sesdocument_cat_event_list_info > div > div{
  display:table-cell;
  height:100%;
  vertical-align:middle;
  width:100%;
}
.sesdocument_cat_event_list_title{
  display:block;
  font-weight:bold;
  font-size:15px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  width:200px;
}
.sesdocument_cat_event_list_stats{
  margin-top:5px;
}
.sesdocument_cat_event_list_stats > span{
	float:none;
}
.sesdocument_cat_event_list_stats > span > i,
.sesdocument_cat_event_list_stats > span > span{
	float:none;
	display:inline-block;
	vertical-align:top;
}
.sesdocument_cat_event_list_stats > span > span > span{
	display:block;
}
.sesdocument_eventlist_column_small{
  width:25%;
}
.sesdocument_eventlist_column_small .sesdocument_cat_event_list{
  width:100%;
}
.sesdocument_eventlist_column_big{
  width:50%;
}
.sesdocument_eventlist_column_big .sesdocument_cat_event_list{
  height:340px;
  width:100%;
}
.sesdocument_cat_event_listing .sesbasic_paging{
  float:left;
}
[dir="rtl"] .sesdocument_cat_event_listing .sesbasic_paging{
  float:right;
}
/*SLIDESHOW VIEW*/
.sesdocument_categories_documents_listing_container{
	position:relative;
}
.sesdocument_categories_documents_listing + div{
	margin-top:20px;
}
.sesdocument_categories_documents_listing_title{
	margin:15px 0;
}
.sesdocument_categories_documents_listing_title > .sesdocument_category_title,
.sesdocument_categories_documents_listing_title > a{
	font-size:20px;
	font-weight:bold;
	margin:0 10px 0 0;
}
[dir="rtl"] .sesdocument_categories_documents_listing_title > .sesdocument_category_title,
[dir="rtl"] .sesdocument_categories_documents_listing_title > a{
	margin:0 0 0 10px;
}
.sesdocument_categories_documents_listing_thumbnails{
	margin-bottom:10px;
}
.sesdocument_categories_documents_listing_thumbnails > div{
	display:inline-block;
	opacity:.3;
	filter:alpha(opacity=50);
}
.sesdocument_categories_documents_listing_thumbnails > div:hover,
.sesdocument_categories_documents_listing_thumbnails > div.thumbnail_active{
	opacity:1;
	filter:alpha(opacity=100);
}
.sesdocument_categories_documents_conatiner{
	border-style:solid;
	border-width:1px;
	height:232px;
	position:relative;
	width:100%;
}
.sesdocument_categories_documents_items_photo{
	height:230px;
	float:left;
	position:relative;
	width:200px;
}
[dir="rtl"] .sesdocument_categories_documents_items_photo{
	float:right;
}
.sesdocument_categories_documents_items_photo a > span{
	background-position:center center;
	background-size:cover;
	display:block;
	height:100%;
	width:100%;
}
.sesdocument_categories_documents_items_cont{
	overflow:hidden !important;
	padding:20px;
	height:230px;
}
.sesdocument_categories_documents_items_title{
	font-weight:bold;
	font-size:17px;
}
.sesdocument_categories_documents_item_stat{
	margin-top:10px;
}
.sesdocument_categories_documents_item_cont_btm{
	height:140px;
}
.sesdocument_categories_documents_item_cont_btm .sesdocument_list_des{
	margin-bottom:10px;
}
.sesdocument_categories_documents_btns{
	height:0;
	display:none;
}
.sesdocument_categories_documents_conatiner:hover .sesdocument_categories_documents_btns{
	display:block;
}
.sesdocument_categories_documents_btns a{
	background-color:rgba(255, 255, 255, 0.5);
	box-shadow:0 0 5px rgba(0, 0, 0, 0.1);
	cursor:pointer;
	margin-top:-30px;
	position:absolute;
	text-align:center;
	top:50%;
	width:40px;
}
.sesdocument_categories_documents_btns a:hover{
	box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
}
[dir="rtl"] .sesdocument_categories_documents_btns a{
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
	-webkit-transform:scale(-1, 1);
	-ms-transform:scale(-1, 1);
	transform:scale(-1, 1);
}
.sesdocument_categories_documents_btns i:before{
	font-size:60px;
	line-height:60px;
}
.sesdocument_categories_documents_btns .prevbtn{
	left:0;
}
[dir="rtl"] .sesdocument_categories_documents_btns .prevbtn{
	left:auto;
	right:0;
}
.sesdocument_categories_documents_btns .nxtbtn{
	right:0;
}
[dir="rtl"] .sesdocument_categories_documents_btns .nxtbtn{
	left:0;
	right:auto;
}
/**************CATEGORY PAGES CSS END HERE**************/

/**************ALL LISTING CSS START HERE**************/
.sesdocument_event_all_events{
  position:relative;
}
/*All Listings Commomn Classes*/
.sesdocument_list_title{
	font-size:17px;
	margin-bottom:5px;
  font-weight:bold;
}
.sesdocument_list_host{
	margin-bottom:5px;
}
.sesdocument_list_host_img,
.sesdocument_list_host_info{
	display:table-cell;
	vertical-align:middle;
}
.sesdocument_list_host_img{
	width:30px;
}
.sesdocument_list_host_img img{
	float:left;
	height:25px;
	width:25px;
}
[dir="rtl"] .sesdocument_list_host_img img{
	float:right;
}
.sesdocument_list_host_info{
	overflow:hidden;
}
.sesdocument_list_host_title{
	font-weight:bold;
}
.sesdocument_list_location > span span{
	text-overflow:ellipsis;
	white-space:nowrap;
}
.sesdocument_list_des{
	display:block;
	margin-top:5px;
	clear:both;
	float:left;
}
/*Grid Layout 1*/
.sesdocument_grid1{
	border-style:solid;
	border-width:1px;
	float:left;
	margin:0 0 15px 10px;
	overflow:hidden;
	position:relative;
	width:233px;
}
.sesdocument_grid1 .sesdocument_list_thumb{
  float:left;
  height:150px;
	position:relative;
  width:100%;
}
.sesdocument_grid1 .sesdocument_list_thumb > a.sesdocument_list_thumb_img{
	display:block;
	height:100%;
}
.sesdocument_grid1 .sesdocument_list_thumb > a.sesdocument_list_thumb_img > span{
	background-position:center;
	background-size:cover;
	display:block;
	height:100%;
	width:100%;
}
.sesdocument_grid1 .sesdocument_list_info{
	box-shadow:0 0 5px rgba(0, 0, 0, 0.4);
	float:left;
	height:200px;
	margin-bottom:4px;
	overflow:visible;
	padding:10px;
	position:relative;
	top:0;
	width:100%;
	z-index:1;
	-webkit-transition:all 0.85s ease 0s;
	-moz-transition:all 0.85s ease 0s;
	-o-transition:all 0.85s ease 0s;
	transition:all 0.85s ease 0s;
}
.sesdocument_grid1:hover .sesdocument_list_info{
	top:-36px;
}
.sesdocument_grid1 .sesdocument_list_footer{
	bottom:0;
	height:40px;
	position:absolute;
	width:100%;
	z-index:0;
}
.sesdocument_grid1 .sesdocument_list_footer a{
	background-color:#990066;
	color:#fff;
	display:block;
	font-size:17px;
	font-weight:normal;
	line-height:40px;
	text-align:center;
}
.sesdocument_grid1 .sesdocument_list_footer a:hover{
	background-color:#000 !important;
	text-decoration:none;
}
.sesdocument_grid_bubble {
	border-radius:3px 3px 0 0;
	background-color:#990066;
	bottom:100%;
	position:absolute;
	z-index:2;
}
.sesdocument_grid_bubble > span,
.sesdocument_grid_bubble > a{
	color:#fff;
	font-size:12px;
	padding:5px;
	float:left;
	position:relative;
}
.sesdocument_grid_bubble > span a{
	color:#fff !important;
	text-decoration:none !important;
}
.sesdocument_grid_bubble > a{
	background-color:#ececec;
	border-radius:3px 3px 0 0 !important;
	color:#000 !important;
	border-width:0;
	font-weight:normal;
}
.sesdocument_grid_bubble > a:hover{
	background-color:#000;
	color:#fff !important;
}
.sesdocument_grid_bubble > span + a{
	border-radius:0 3px 0 0 !important;
}
.sesdocument_grid_bubble > span:after {
	border:6px solid transparent;
	border-top-color:#990066;
	bottom:-6px;
	content:"";
	height:0;
	left:50%;
	margin:-6px;
	pointer-events:none;
	position:absolute;
	width:0;
	z-index:999;
}
/*Grid Social share Buttons*/
.sesdocument_grid_btns{
  position:absolute;
  opacity:0;
  top:-10px;
  right:5px;
  z-index:2;
  -webkit-transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
}
[dir="rtl"] .sesdocument_grid_btns{
  left:5px;
  right:auto;
}
.sesdocument_grid_btns_wrap:hover .sesdocument_grid_btns{
	opacity:1;
	top:5px;
}
.sesdocument_grid_btns .sesbasic_icon_btn_more:hover + .sesbasic_option_box,
.sesdocument_grid_btns .sesbasic_option_box:hover {
	display: block;
	right: 0px;
	margin-top: 30px;
	width: 130px;
}
/* Css for sesdocument masonry view */
.sesdocument_list_flex_wrapper{
  overflow:hidden;
	position:relative;
}
.sesdocument_list_flex_wrapper .sesdocument_list_flex{
  float:left;
  margin:3px;
  overflow:hidden;
  position:relative;
	width:200px;
}
[dir="rtl"] .sesdocument_list_flex_wrapper .sesdocument_list_flex{
  float:right;
}
.sesdocument_list_flex_wrapper .sesdocument_list_flex img{
  width:100%;
  height:100%;
}
/*Grid Layout inside content*/
.sesdocument_grid_in{
  float:left;
	margin:5px;
	position:relative;
  overflow:hidden;
	width:250px;
}
[dir="rtl"] .sesdocument_grid_in{
  float:right;
}
.sesdocument_grid_in .sesdocument_list_thumb{
  float:left;
  height:150px;
	position:relative;
  width:100%;
}
.sesdocument_grid_in .sesdocument_list_thumb > a.sesdocument_list_thumb_img{
	display:block;
	height:100%;
}
.sesdocument_grid_in .sesdocument_list_thumb > a.sesdocument_list_thumb_img > span{
	background-position:center;
	background-size:cover;
	display:block;
	height:100%;
	width:100%;
}
.sesdocument_grid_in .sesdocument_list_info{
	background:#000;
	background:rgba(0,0,0,0.6);
	background:-moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 40%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(40%, rgba(0,0,0,0.8)));
	background:-webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 40%);
	background:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.8)));
	background:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 40%);
	bottom:0;
	padding:10px;
	position:absolute;
	left:0;
	width:100%;
}
.sesdocument_grid_in .sesdocument_list_info > span{
	display:block;
	margin-bottom:5px;
}
.sesdocument_grid_in .sesdocument_list_info *{
	color:#fff;
	text-shadow:1px 1px 1px #000;
}
.sesdocument_grid_in .sesdocument_list_title{
	font-size:17px;
	margin-bottom:0;
}
.sesdocument_grid_in .sesdocument_verified_label{
  z-index:1;
}
.sesdocument_grid_in .sesdocument_labels{
  top:10px;
}
.sesdocument_grid_in:hover .sesdocument_labels{
  opacity:0;
  -webkit-transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
}
.sesdocument_grid_in_title_show{
	background-color:rgba(0, 0, 0, .7);
	display:none;
  position:absolute;
	bottom:20px;
	max-width:90%;
	right:0;
	padding:8px;
}
[dir="rtl"] .sesdocument_grid_in_title_show{
	left:0;
	right:inherit;
}
.sesdocument_grid_in.sesae-i-over .sesdocument_grid_in_title_show{display:block;}
.sesdocument_grid_in.sesae-i-over:hover .sesdocument_grid_in_title_show{
	opacity:0;
}
.sesdocument_grid_in_title_show a{
	color:#fff;
	text-shadow:0 2px 2px rgba(0, 0, 0, 0.4);
}
/*Place On Sidebar*/
.layout_left .sesdocument_grid_in,
.layout_right .sesdocument_grid_in{
	margin:0 0 10px;
	width:100% !important;
}
.layout_left .sesdocument_grid_in:last-child,
.layout_right .sesdocument_grid_in:last-child{
	margin:0;
}
/*Place On Carousel Widget*/
.sesbasic_carousel_h_wrapper .sesdocument_grid_in{
	margin:0 5px 0 0;
}
[dir="rtl"] .sesbasic_carousel_h_wrapper .sesdocument_grid_in{
	margin:0 0 0 5px;
}
.sesbasic_carousel_v_wrapper .sesdocument_grid_in{
	margin:0 0 5px 0;
}
/*Show Content On Hover*/
.sesdocument_grid_in.sesae-i-over .sesdocument_list_info{
  -webkit-transition:all 500ms ease 0s;
  -moz-transition:all 500ms ease 0s;
  -o-transition:all 500ms ease 0s;
  transition:all 500ms ease 0s;
}
.sesdocument_grid_in.sesae-i-over:hover .sesdocument_list_info{
	opacity:1;
	bottom:0;
}
/*Grid Layout outside content*/
.sesdocument_grid_out{
  display:inline-block;
	margin:5px 1px 5px 5px;
	position:relative;
  overflow:hidden;
  vertical-align:top;
	width:250px;
}
[dir="rtl"] .sesdocument_grid_out{
  margin:5px 5px 5px 1px;
}
.sesdocument_grid_out .sesdocument_list_thumb{
  float:left;
  height:150px;
	position:relative;
  width:100%;
}
.sesdocument_grid_out .sesdocument_list_thumb > a.sesdocument_list_thumb_img{
	display:block;
	height:100%;
}
.sesdocument_grid_out .sesdocument_list_thumb > a.sesdocument_list_thumb_img > span{
	background-position:center;
	background-size:cover;
	display:block;
	height:100%;
	width:100%;
}
.sesdocument_grid_out .sesdocument_list_info{
  clear:both;
  padding-top:10px;
	width:100%;
}
.sesdocument_grid_out .sesdocument_list_info > span{
	display:block;
	margin-bottom:5px;
}
.sesdocument_grid_out .sesdocument_list_title{
	font-size:15px;
	font-weight:bold;
	padding-bottom:10px;
	display:inline-block;
	border-bottom-width:1px;
}
.sesdocument_grid_out .sesdocument_verified_label{
  z-index:1;
}
.sesdocument_featured_carousel .sesdocument_list_stats span{
	font-size:95%;
	margin-bottom:5px;
}
.sesdocument_featured_carousel .sesdocument_grid_btns{
	left:0;
	right:0;
	margin:auto;
	display:block;
}
.sesdocument_featured_carousel .sesdocument_grid_out .sesdocument_grid_btns{
	left:10px;
}
/*Place On Sidebar*/
.layout_left .sesdocument_grid_out,
.layout_right .sesdocument_grid_out{
	margin:0 0 10px;
	width:100% !important;
}
.layout_left .sesdocument_grid_out:last-child,
.layout_right .sesdocument_grid_out:last-child{
	margin:0;
}
/*Place On Carousel Widget*/
.sesbasic_carousel_h_wrapper .sesdocument_grid_out{
  float:left;
	margin:0 5px 0 0;
}
[dir="rtl"] .sesbasic_carousel_h_wrapper .sesdocument_grid_out{
	float:right;
  margin:0 0 0 5px;
}
.sesbasic_carousel_v_wrapper .sesdocument_grid_out{
  float:left;
	margin:0 0 10px 0;
}
.sesdoc_user_stats img {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    vertical-align: middle;
}
/* Featured Sponsored Slideshow */
.sesdocument_slideshow .sesdocument_ss_cont {
	width: 450px;
	margin: auto;
	padding: 20px 30px;
	background: rgba(255, 255, 255, 0.85);
}
.sesdocument_slideshow .sesdoc_labels{
	left:0;
}
.sesdocument_slideshow:hover .sesdoc_labels{
	opacity:0;
}
.sesdocument_slideshow:hover .social_share{
	opacity:1;
}
.sesdocument_slideshow .social_share {
	position: absolute;
	top: 45%;
	left: 45%;
	opacity:0;
}
.sesdocument_ss_cont .title{
	display: flex;
}
.sesdocument_ss_cont .title p{
	margin-left:5px;
}
.sesdocument_ss_cont .title p i{
	margin-right:2px;
}
.sesdocument_ss_cont .desc {
  line-height: 25px;
}
.sesdocument_ss_cont .sesdoc_user_stats{
	margin: 4px 0;
}
/* VIEW PAGE */
.sesdocument_view_page .title{
	position:relative;
}
.sesdocument_view_page .title h3{
	font-weight: bold;
	padding: 15px 0 10px;
	border-bottom-width: 1px;
	margin-bottom: 10px;
	display:inline-block;
	max-width: 85%;
  word-break: break-all;
}
.sesdocument_view_page .desc{
	padding:20px 0;
}
.sesdocument_view_page .title > p{
	position:absolute;
	right:0;
	top:20px;
}
.sesdocument_user_stats > span {
  margin-right:10px;
}
.sesdocument_user_stats > span i{
  margin-right:5px;
}
.sesdocument_user_stats .stats > span{
	margin-right:4px;
}
.layout_sesdocument_document_profile_like,.layout_sesdocument_document_profile_favourite{
	background:none !important;
	padding:0 !important;
}
.sesdocument_button > a {
	display:block;
	padding:8px 15px;
}
.sesdocument_edit_options > a {
	padding:10px;
	display:inline-block;
	margin-top:10px;
}
.sesdocument_edit_options > a {
	padding: 10px 0;
	display: inline-block;
	margin-top: 10px;
	margin-right: 20px;
}
.sesdocument_edit_options .edit_doc:before {
	content: "\f044";
	font-family: "FontAwesome";
	margin-right: 3px;
	vertical-align: middle;
}
.sesdocument_edit_options .delete_doc:before {
	content: "\f014";
	font-family: "FontAwesome";
	margin-right: 3px;
}
/* SIDEBAR */
.sesdocument_sidebar_list .sesdocument_list_stats span img{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	vertical-align: middle;
}
.sesdocument_sidebar_list_info span {
  font-size: 90%;
}
.sesdocument_sidebar_stats span{
	margin-right: 3px;
}
.sesdocument_sidebar_stats span i {
  margin-right: 3px;
}
.sesdocument_sidebar_list {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	margin-bottom: 10px;
	position:relative;
}
.sesdocument_sidebar_list:last-child{
	border:0;
}
.sesdocument_sidebar_list_title{
  padding:0 0 7px;
	border-bottom-width: 1px;
	margin-bottom:7px;
	display: inline-block;
}
.sesdocument_sidebar_list .sesdocument_list_labels{
	width:60px;
	right:auto;
}
.sesdocument_grid_in .sesdocument_grid_btns{
	right:auto;
	 left: 10px;
}
.sesdocument_grid_in:hover .sesdocument_grid_btns{
  top: 20px;
}
.sesdocument_grid_in:hover .sesdocument_list_labels{
	opacity:0;
}
.sesdocument_featured_carousel {
	padding:10px;
	margin-bottom:30px;
}
.layout_left .sesdocument_featured_carousel .sesdocument_grid_in .sesdocument_grid_btns,
.layout_right .sesdocument_featured_carousel .sesdocument_grid_in .sesdocument_grid_btns {
  left: 18%;
}
.layout_left .sesdocument_featured_carousel .sesdocument_grid_out .sesdocument_grid_btns,
.layout_right .sesdocument_featured_carousel .sesdocument_grid_out .sesdocument_grid_btns {
  left: 10%;
}
.sesdocument_featured_carousel .sesdocument_list_stats i {
  margin-right: 5px;
}
.sesdocument_featured_carousel .sesbasic_carousel_nav_pre,.sesdocument_featured_carousel .sesbasic_carousel_nav_nxt{
	opacity:0 !important;
	transition:all .5s ease;
}
.sesdocument_featured_carousel:hover .sesbasic_carousel_nav_pre,.sesdocument_featured_carousel:hover .sesbasic_carousel_nav_nxt{
	opacity:1 !important;
}
.sesbasic_sidebar_list_info .sesdocument_list_stats span i {
  width: 15px;
}
/* CATEGORY VIEW */
.sesdocument_cat_document_listing {
	display: flex;
	flex-wrap: wrap;
}
.sesdocument_cat_document_list {
	border-width: 1px;
	padding: 10px;
	margin-right: 20px;
	margin-bottom:20px;
	position: relative;
}
.sesdocument_cat_document_list_title{
	font-weight: bold;
	padding: 15px 0 10px;
	border-bottom-width: 1px;
	margin-bottom: 10px;
	display: inline-block;
}
.sesdocument_cat_document_list .sesdocument_list_labels{
	top:15px;
}
.sesdocument_cat_document_list:hover .sesdocument_list_labels{
	opacity:0;
}
.sesdocument_cat_document_list .sesdocument_thumb > a{
	height:100px;
	display: block;
}
.sesdocument_cat_document_list_stats span,.sesdocument_cat_document_list_stats span i {
  margin-right: 3px;
}
.sesdocument_cat_document_list_stats {
	font-size: 95%;
	margin-bottom: 5px;
}
.sesdocument_cat_document_list .sesdocument_list_grid_thumb_btns {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 30px;
	opacity:0;
	transition:all .5s ease;
}
.sesdocument_cat_document_list:hover  .sesdocument_list_grid_thumb_btns{
	opacity:1;
}
/* Tag Documents css */
.sesdocument_tags a{
	margin:5px 0px 10px 5px;
}
.sesdocument_tags a{
	color:#fff;
	text-decoration:none;
	font-size:12px;
	padding:2px 8px;
	border-radius:4px;
	background:#000;
	display:inline-block;
}
.sesdocument_tags a:hover{
	opacity:0.8;
}
.sesdocument_tags a:nth-child(1), .sesdocument_tags a:nth-child(1n+10){
	background:#F17074;
}
.sesdocument_tags a:nth-child(2), .sesdocument_tags a:nth-child(2n+10){
	background:#8377B7;
}
.sesdocument_tags a:nth-child(3), .sesdocument_tags a:nth-child(3n+10){
	background:#51A2CF;
}
.sesdocument_tags a:nth-child(4),.sesdocument_tags a:nth-child(4n+10){
	background:#49CCC4;
}
.sesdocument_tags a:nth-child(5), .sesdocument_tags a:nth-child(5n+10){
	background:#FFBF05;
}
.sesdocument_tags a:nth-child(6), .sesdocument_tags a:nth-child(6n+10){
	background:#9C28B1;
}
.sesdocument_tags a:nth-child(7), .sesdocument_tags a:nth-child(7n+10){
	background:#247ECA;
}
.sesdocument_tags a:nth-child(8), .sesdocument_tags a:nth-child(8n+10){
	background:#03A9F5;
}
.sesdocument_tags a:nth-child(9), .sesdocument_tags a:nth-child(9n+10){
	background:#F23B37;
}
.sesdocument_tags a:nth-child(10), .sesdocument_tags a:nth-child(10n+10){
	background:#B7DC7C;
}
/*sesdocument list cloud */
.sesdocument_tags_cloud_document .sesdocument_tags_cloud_list{
	text-align:left
}
.sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li{
	display:inline-block;
	margin:5px 5px 10px 0px;
}
[dir="rtl"] .sesdocument_tags_cloud_document .sesdocument_tags_cloud_list{
	text-align:right;
}
[dir="rtl"] .sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li{
	margin:5px 0px 10px 5px;
}
.sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li a{
	color:#fff;
	text-decoration:none;
	font-size:12px;
	padding:3px 7px;
	border-radius:4px;
	background:#000;
}
.sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li a:hover{
	opacity:0.8;
}
.sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li:nth-child(1) a, .sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li:nth-child(1n+10) a{
	background:#F17074;
}
.sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li:nth-child(2) a, .sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li:nth-child(2n+10) a{
	background:#8377B7;
}
.sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li:nth-child(3) a, .sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li:nth-child(3n+10) a{
	background:#51A2CF;
}
.sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li:nth-child(4) a, .sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li:nth-child(4n+10) a{
	background:#49CCC4;
}
.sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li:nth-child(5) a, .sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li:nth-child(5n+10) a{
	background:#FFBF05;
}
.sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li:nth-child(6) a, .sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li:nth-child(6n+10) a{
	background:#9C28B1;
}
.sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li:nth-child(7) a, .sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li:nth-child(7n+10) a{
	background:#247ECA;
}
.sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li:nth-child(8) a, .sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li:nth-child(8n+10) a{
	background:#03A9F5;
}
.sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li:nth-child(9) a, .sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li:nth-child(9n+10) a{
	background:#F23B37;
}
.sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li:nth-child(10) a, .sesdocument_tags_cloud_document .sesdocument_tags_cloud_list li:nth-child(10n+10) a{
	background:#B7DC7C;
}
.sesdocument_social_share_button > button {
    width: 100%;
}