/* $Id: style_banner.css 2014-10-31 00:00:00 SocialEngineSolutions $*/

/*Google Web Font*/
@import url(http://fonts.googleapis.com/css?family=Stint+Ultra+Condensed);

/*Christmas Banner Widget*/
/*Style 1*/
.layout_seschristmas_banner_template1{
	margin-bottom:15px;
  padding: 0 !important;
}
.seschristmas_banner1_container{
	position: relative;
	z-index: 1;
	max-width: 980px;
	min-height: 300px;
	margin: 0 auto;
	overflow: hidden;
	border-top: 4px solid #b6312e;
	border-bottom: 4px solid #b6312e;
	text-align: center;
	text-transform: uppercase;
	color: #b6312e;
	background-color: #fcf8de;
}
.seschristmas_banner1_container,
.seschristmas_banner1_container *,
.seschristmas_banner1_container *:before,
.seschristmas_banner1_container *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.seschristmas_banner1_container .seschristmas_banner_block {
	float: left;
	min-height: 300px;
	position:relative;
	width: 50%;
}
[dir="rtl"] .seschristmas_banner1_container .seschristmas_banner_block{
	float:right;
}
.seschristmas_banner1_container_vertical .seschristmas_banner_block{
	width:100%;
}
/* Christmas tree */
.seschristmas_banner1_container .seschristmas_banner_tree {
	margin: 17px 0 0;
}
.seschristmas_banner1_container .seschristmas_banner_tree img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}
.seschristmas_banner1_container .seschristmas_banner_tree_row {
	text-align:center;
	margin-bottom: -16px;
}
[dir="rtl"] .seschristmas_banner1_container .seschristmas_banner_tree_row{
	text-align:center;
}
.seschristmas_banner1_container .seschristmas_banner_item {
	background: url(../images/banner-elements/polygon.png) no-repeat;
	color: #fcf8de;
	display: inline-block;
	font-size: 14px;
	height: 76px;
	line-height: 13px;
	margin: 0 0 0 1px;
	overflow: hidden;
	padding: 12px;
	position: relative;
	vertical-align: top;
	width: 66px;
}
[dir="rtl"] .seschristmas_banner1_container .seschristmas_banner_item{
	margin: 0 1px 0 0;
}
.seschristmas_banner1_container .seschristmas_banner_tree_countdown_row .seschristmas_banner_item{
	margin: 0 2px 0 1px;
}
[dir="rtl"] .seschristmas_banner1_container .seschristmas_banner_tree_countdown_row .seschristmas_banner_item{
	margin: 0 1px 0 2px;
}
.seschristmas_banner1_container .seschristmas_banner_tree_item_img {
	line-height: 76px;
	padding: 0;
}
.seschristmas_banner1_container .seschristmas_banner_tree_countdown_row{
	margin-bottom:0;
}
.seschristmas_banner1_container .seschristmas_banner_countdown_amount {
	font-size: 32px;
	line-height: 30px;
}
/*Style 2*/
.seschristmas_banner2_container{
	position: relative;
	z-index: 1;
	max-width: 980px;
	min-height: 300px;
	margin: 0 auto;
	overflow: hidden;
	border-top: 4px solid #9eba62;
	border-bottom: 4px solid #9eba62;
	text-align: center;
	text-transform: uppercase;
	color: #9eba62;
	background-color: #fcf8de;
}
[dir="rtl"] .seschristmas_banner2_container{
	text-align:center;
}
.seschristmas_banner2_container,
.seschristmas_banner2_container *,
.seschristmas_banner2_container *:before,
.seschristmas_banner2_container *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.seschristmas_banner2_container .seschristmas_banner_block {
	float: left;
	min-height: 300px;
	position:relative;
	width: 50%;
}
[dir="rtl"] .seschristmas_banner2_container .seschristmas_banner_block{
	float:right;
}
.seschristmas_banner2_container_vertical .seschristmas_banner_block{
	width:100%;
}
.seschristmas_banner2_container .seschristmas_banner_wreath {
	background: url(../images/banner-elements/banner-wreath.png) no-repeat;
	color:#9eba62;
	font-size: 18px;
	height: 164px;
	line-height: 16px;
	margin: 20px auto 10px;
	padding: 83px 35px 15px;
	position: relative;
	text-align:center;
	width: 149px;
}
.seschristmas_banner2_container .seschristmas_banner_circel_row {
	clear:both;
	display: block;
	text-align:center;
}
.seschristmas_banner2_container .seschristmas_banner_item {
	background-color: #9eba62;
	color: #fcf8de;
	display: inline-block;
	height: 60px;
	margin: 6px;
	padding-top: 6px;
	font-size: 14px;
	line-height: 16px;
	position: relative;
	vertical-align: top;
	text-align:center;
	width: 60px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
[dir="rtl"] .seschristmas_banner2_container .seschristmas_banner_wreath,
[dir="rtl"] .seschristmas_banner2_container .seschristmas_banner_circel_row,
[dir="rtl"] .seschristmas_banner2_container .seschristmas_banner_item{
	text-align:center;
}
.seschristmas_banner2_container .seschristmas_banner_countdown_amount {
	font-size: 32px;
	line-height: 30px;
}
.seschristmas_banner_msgbox {
	background-color: #fbfbfb;
	border: 10px solid #fff;
	border-radius: 50%;
	box-shadow: 0 2px 0 #ccc;
	box-sizing: inherit;
	display: table;
	height: 220px;
	left: 50%;
	margin: -100px 0 0 -110px;
	padding: 20px;
	position: absolute;
	top: 50%;
	width: 220px;
}
.seschristmas_banner_msgbox:before {
	background: url(../images/msgbox-cap.png) no-repeat center center;
	content: "";
	height: 33px;
	left: 0;
	position: absolute;
	top: -28px;
	width: 100%;
}
.seschristmas_banner_msgbox:after {
	border-left: 1px solid #3c4c5b;
	box-shadow: -2px -2px 0 #ccc;
	content: "";
	height: 50px;
	left: 50%;
	position: absolute;
	top: -67px;
	width: 0;
}
.seschristmas_banner_msgbox div {
	display: table-cell;
	font-family: "Times New Roman",Georgia, Times, serif !important;
	font-size: 15px;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
.seschristmas_banner1_container .seschristmas_banner_msgbox div{
	color:#b6312e;
}
.seschristmas_banner2_container .seschristmas_banner_msgbox div{
	color:#9eba62;
}
/*Font Family*/
.seschristmas_banner1_container *,
.seschristmas_banner2_container *{
	font-family:'Stint Ultra Condensed', Arial, Tahoma, sans-serif !important;
}