
.notification_type_booking_adminserapl:before,
.notification_type_booking_adminprofapl:before,
.notification_type_booking_adminserapd:before{
	content:"\\f058";
}
.notification_type_booking_adminprofapd:before{
	content:"\\f2bb";
}
.notification_type_booking_userfollowpro:before{
	content:"\\f00c";
}
.notification_type_booking_userfavpro:before{
	content:"\\f004";
}
.notification_type_booking_adminserdapd:before,
.notification_type_booking_adminprofdapd:before{
	content:"\\f05e";
}
.notification_type_booking_profbookservforuser:before{
	content:"\\f046";
}
.notification_type_booking_userbookserv:before{
	content:"\\f274";
}
.activity_icon_booking_pro_serv_cre:before{
	content:"\\f085";
}
.notification_type_booking_useracceptprofreq:before{
	content:"\\f058";
}
.notification_type_booking_profpaymentrequest:before{
	content:"\\f0d6";
}
.notification_type_booking_servautoapl:before{
	content:"\\f085";
}
.sesapmt_myappointments_filters ._left a.selected{
	color:$theme_font_color !important;
	pointer-events:none;
}
.sesapmt_btn{
	+rounded;
	background-color:$theme_button_background_color;
	border-color:$theme_button_background_color;
	color:$theme_button_font_color !important;
	display:block;
	padding:10px;
}
.sesapmt_btn_alt{
	+rounded;
	border:2px solid $theme_button_background_color;
	color:$theme_button_background_color !important;
	display:block;
	padding:10px;
}
.sesapmt_btn i + span,
.sesapmt_btn_alt + span{
	margin-left:5px;
}
.sesapmt_btn:hover,
.sesapmt_btn_alt:hover{
	background-color:$theme_button_background_color_hover !important;
	color:$theme_button_font_color !important;	
	text-decoration:none;
}
.sesapmt_professionals_grid article:hover{
	border-color:$theme_button_background_color;
}
.sesapmt_professionals_grid_hover{
	background-color:$theme_list_background_color;
}
.sesapmt_profile_portfolio_item_cont{
	background-color:$theme_button_background_color;
}
.sesapmt_profile_portfolio_item_cont *{
	color:$theme_button_font_color;
}
.sesapmt_db_services_list_item_title,
.sesapmt_db_services_list_item_options a.edit{
	color:$theme_button_background_color !important;
}
/*Calendar*/
.sesapmt_mini_calendar{
	background-color:$theme_list_background_color;
}
.sesapmt_mini_booking_calendar{
	background-color:$theme_button_background_color;
}
.sesapmt_mini_booking_calendar *{
	color:$theme_button_font_color !important;
}
.sesapmt_mini_calendar_main table td.disabled,
.sesapmt_mini_calendar_main table td.holiday,
.sesapmt_mini_calendar_main table td.booked{
	opacity:.3;
}
.sesapmt_myappointments_calendar table th,
.sesapmt_myappointments_calendar table td.isbooked{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
}
.sesapmt_myappointments_calendar table td.isbooked a{
	color:$theme_button_font_color !important;
}
.sesapmt_mini_holiday_calendar table td.ismarked a{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
}
/*Booking Popup*/
.sesapmt_booking_popup,
.sesapmt_booking_popup_slot_item a{
	background-color:$theme_list_background_color;
}
.sesapmt_booking_popup_cont_left > p,
.sesapmt_booking_popup_cont_right > p{
	color:$theme_button_background_color;
}
.sesapmt_booking_popup_slot_item._isavailable a:hover{
	border-color:$theme_button_background_color;
	color:$theme_button_background_color;
}
/*Tabs*/
.sesapmt_tabs li:hover a,
.sesapmt_tabs li.selected a,
.sesapmt_panel_tabs li:hover a,
.sesapmt_panel_tabs li.selected a{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
}
.calander_days #timeslots-element label{
  border: 2px solid $theme_button_background_color !important;
}
.sesapmt_duration label{
	color:$theme_button_background_color;
	background:$theme_button_font_color;
}
.stp-duration input[type="radio"]:checked + label:before,
.calander_days input[type="checkbox"]:checked + label:before{
	color:$theme_button_background_color;
}
/* Browse Services */
.sesapmt_service_list_item .info ._price{
	color:$theme_button_background_color;
}
.sesapmt_service_list_item .info ._book a{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
}
/*Book Service*/
.sesapmt_booking_step_choose_service .form-options-wrapper{
	background-color:$theme_list_background_color;
}
.sesapmt_booking_step_choose_service #totalestimate > div{
	border-color:$theme_button_background_color;
}
