

/*Body*/
html body{
	background-color:#19191b;
}
html div,
html td,
html h2,
html h3,
html h4{
	color:#fff;
}
html a:link, 
html a:visited{
	color:#fff;
}
html *{
	border-color: #2b2c33;
}
/*Background Color*/
#global_wrapper .layout_left > div,
#global_wrapper .layout_right > div,
#global_wrapper .layout_middle > div,
.layout_core_container_tabs > div.generic_layout_container,
.sesbasic_pulldown_options,
.sesgroup_options_dropdown_links,
.sesact_feed ul.feed > li,
.sesgroupvideo_listing_options_pulldown{
	background:#202023 !important;
	border-color:#2b2c33 !important;
}
.sesbasic_pulldown_options:before{
	border-bottom-color:#2b2c33 !important;
}
.sesgroup_tags_cloud_group .sesgroup_tags_cloud_list li a,
div.sesact_feed ul.feed .feed_item_body,
.sesact_feed_filters, .sesact_post_container,
.sesact_tabs_wrapper, div.sesact_tip_box{
	background-color:#202023 !important;
}
.generic_layout_container .sesbasic_sidebar_block,
.generic_layout_container .sesbasic_cloud_widget,
.layout_sesadvancedactivity_feed{
	background:none !important;
}
/*Block Heading*/
html .generic_layout_container > h3{
	background:#2b2c33;
	border-color:#2b2c33;
	color:#fff;
}
/*Links*/
.layout_user_home_links .quicklinks li a,
#profile_options li a,
.blogs_gutter_options li a{
	color:#fff;
}
