
.sesgroup_dashboard_container,
.sesgroup_dashboard_wrapper{
	border-width:0 !important;
	clear:both;
	background-color:transparent !important;
	padding:0 !important;
}
.sesgroup_dashboard_container *{outline:none !important;}
.sesgroup_dashboard_top_section{
	border-width:1px;
	border-style:solid;
	clear:both;
	margin-right:1px;
	padding:10px;
	margin-bottom:15px;
}
.sesgroup_dashboard_top_section_left{
	float:left;
	width:50%;
}
[dir="rtl"] .sesgroup_dashboard_top_section_left{
	float:right;
}
.sesgroup_dashboard_top_section_item_photo,
.sesgroup_dashboard_top_section_item_title{
	vertical-align:middle;
}
.sesgroup_dashboard_top_section_item_photo img{
	border-width:0;
	float:left;
	height:35px;
	width:35px;
}
[dir="rtl"] .sesgroup_dashboard_top_section_item_photo img{
	float:right;
}
.sesgroup_dashboard_top_section_item_title{
	padding-left:10px;
	padding-top:8px;
	font-weight:bold;
	overflow:hidden;
}
[dir="rtl"] .sesgroup_dashboard_top_section_item_title{
	padding-left:0px;
	padding-right:10px;
}
.sesgroup_dashboard_top_section_btns{
	float:right;
}
.sesgroup_dashboard_top_section_btns a{
	padding:0 20px;
	font-size:12px;
	margin-left:5px;
	display:inline-block;
	height:33px;
	line-height:33px;
}
[dir="rtl"] .sesgroup_dashboard_top_section_btns a{
	margin-left:0;
	margin-right:5px;
}
/*TABS*/
.sesgroup_dashboard_tabs{
	float:left;
	width:230px;
	margin-right:15px;
}
[dir="rtl"] .sesgroup_dashboard_tabs{
	float:right;
	margin-left:15px;
	margin-left:0;
}
.sesgroup_dashboard_tabs > ul{
	border-style:solid;
	border-width:1px;
	list-style:none;
	margin:0;
}
.sesgroup_dashboard_tabs > ul{
	display:block;
	position:relative;
}
.sesgroup_dashboard_tabs > ul > li{
	position:relative;
}
.sesgroup_dashboard_tabs > ul > li + li{
	border-top-style:solid;
	border-top-width:1px;
}
.sesgroup_dashboard_tabs > ul > li > a{
	font-weight:bold;
	display:block;
	padding:10px;
}
.sesgroup_dashboard_tabs > ul > li:hover > a,
.sesgroup_dashboard_tabs > ul > li.active > a{
	background-image:url(../images/transprant-bg.png);
	text-decoration:none;
}
.sesgroup_dashboard_tabs > ul > li > a i.tab-arrow{
	float:right;
	margin-top:3px;
}
.sesgroup_dashboard_tabs > ul > li > a span{
	display:block;
	overflow:hidden;
	padding-top:3px;
}
.sesgroup_dashboard_tabs > ul ul{
	border-top-style:solid;
	border-top-width:1px;
	margin:0;
}
.sesgroup_dashboard_tabs > ul ul li + li{
	border-top-width:1px;
}
.sesgroup_dashboard_tabs > ul ul a{
	display:block;
	font-weight:bold;
	padding:10px 13px;
	font-size:.9em;
}
.sesgroup_dashboard_tabs > ul ul a:hover,
.sesgroup_dashboard_tabs > ul ul li.active a{
	background-image:url(../images/transprant-bg.png);
	text-decoration:none;
}
.sesgroup_dashboard_tabs > ul ul a i{
	margin-right:10px;
	float:left;
	margin-top:1px;
	font-size:15px;
	font-weight:normal;
}
.sesgroup_dashboard_tabs > ul ul a span{
	overflow:hidden;
	display:block;
}
/*CONTENT*/
.sesgroup_dashboard_content{
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	padding:20px;
}
html .sesgroup_dashboard_form {
	position:relative;
}
html .sesgroup_dashboard_form .global_form,
html .sesgroup_dashboard_form .global_form > div,
html .sesgroup_dashboard_form .global_form > div > div{
	background:none !important;
	border-width:0 !important;
	border-radius:0;
	float:none;
	padding:0 !important;	
}
.sesgroup_dashboard_form .global_form > div > div > h3 + div{
	margin:0;
}
.sesgroup_dashboard_form .global_form div.form-label{
	text-align:left;
}
[dir="rtl"] .sesgroup_dashboard_form .global_form div.form-label{
	text-align:right;
}
.sesgroup_dashboard_form .global_form > div > div > p{
	max-width:100%;
	padding:0;
	margin:0;
}
.sesgroup_dashboard_form .global_form .form-elements{
	padding:0;
}
.sesgroup_dashboard_content_header{
	margin:0 0 10px !important;
	padding:10px 0;
}
.sesgroup_dashboard_content_header h3,
.sesgroup_dashboard_form .global_form > div > div > h3{
	background-image:url(../images/transprant-bg.png);
	font-size:17px;
	font-weight:bold;
	letter-spacing:normal;
	margin:0 0 10px;
	padding:9px;
}
.sesgroup_dashboard_content_header .sesgroup_link_btn{
	font-size:11px;
	font-weight:normal;
	margin-top:-3px;
	height:28px;
	line-height:28px;
	padding:0 15px;
}
.sesgroup_dashboard_content_header .sesgroup_link_btn:before{
	margin-right:5px;
}
.sesgroup_dashboard_content_top{
	margin:0 0 10px !important;
	position:relative;
}
.sesgroup_dashboard_content_top ._left{
	float:left;
	width:60%;
} 
.sesgroup_dashboard_content_top h3{
	font-size:17px;
	font-weight:bold;
	letter-spacing:normal;
	margin:0 0 5px;
}
.sesgroup_dashboard_content_top p{
	line-height:150%;
} 
.sesgroup_dashboard_content_top ._img{
	float:left;
	width:40%;
} 
.sesgroup_dashboard_content_top ._img img{
	max-width:70%;
	max-height:130px;
}
.sesgroup_dashboard_content_btns{
	margin-bottom:15px;
}
.sesgroup_dashboard_content_btns a{
	display:inline-block;
}
.sesgroup_dashboard_results{
	margin-bottom:10px;
	font-weight:bold;
}
.sesgroup_dashboard_content .form-options-wrapper li{
	display:inline-block;
	width:150px;
}
.sesgroup_dashboard_content div.event_calendar_container button{
	padding:0;
}
.sesgroup_dashboard_content div.event_calendar_container + select,
.sesgroup_dashboard_content div.event_calendar_container + select + select,
.sesgroup_dashboard_content div.event_calendar_container + select + select + select{
	margin-left:5px;
}
.sesgroup_dashboard_search_form{
	margin-bottom:15px;
}
.sesgroup_dashboard_search_form .form-wrapper{
	margin-right:7px !important;
}
.sesgroup_dashboard_search_form .form-label{
	height:16px;
	margin-bottom:5px;
}
.sesgroup_dashboard_search_form .global_form_box .form-element input[type="text"],
.sesgroup_dashboard_search_form .global_form_box .form-element select,
.sesgroup_dashboard_search_form  form.filters input[type="text"],
.sesgroup_dashboard_search_form form.filters select{
	width:100%;
	height:35px;
	padding:0 10px;
	box-sizing:border-box;
}
.sesgroup_dashboard_search_form #integer-wrapper .form-wrapper .form-label{
	display:none;
}
.sesgroup_dashboard_search_form #integer-wrapper .form-wrapper{
	margin-top:2px !important;
}
.sesgroup_dashboard_search_form #integer-wrapper .form-wrapper input{
	width:80px;
}
.sesgroup_dashboard_search_result{
	font-weight:bold;
	margin-bottom:5px;
	clear:both;
}
.sesgroup_dashboard_content .global_form_box{
	background-image:url(../images/transprant-bg.png);
}

/*Information Block*/
.sesgroup_dashboard_group_info{
	border-width:1px;
	margin:10px 0 0 0;
	padding:10px;
}
.sesgroup_dashboard_group_info_cover{
	background-color:#ccc;
	display:block;
	height:120px;
	overflow:hidden;
	width:100%;
	position:relative;
}
.sesgroup_dashboard_group_main_photo{
	border-radius:5px;
	border-width:1px;
	border-style:solid;
	height:60px;
	width:60px;
	position:absolute;
	bottom:10px;
	left:10px;
	overflow:hidden;
}
[dir="rtl"] .sesgroup_dashboard_group_main_photo{
	left:inherit;
	right:10px;
}
.sesgroup_dashboard_group_photo{
	height:200px;
	position:relative;
	overflow:hidden;
	width:100%;
}
.sesgroup_dashboard_group_info_cover img,
.sesgroup_dashboard_group_main_photo img,
.sesgroup_dashboard_group_photo img{
	height:100%;
	object-fit:cover;
	width:100%;
}
.sesgroup_dashboard_group_info_content{
	padding:10px 0 0;
}
.sesgroup_dashboard_group_info_title{
	font-size:17px;
	font-weight:bold;
}
.sesgroup_dashboard_group_info_dates > span,
.sesgroup_dashboard_group_info_stat{
	display:block;
	border-top-width:1px;
	border-top-style:dashed;
	padding-top:5px;
	margin-top:5px;
	font-size:12px;
}
.sesgroup_dashboard_group_info_dates span > b{
	display:block;
	margin-bottom:3px;
}
.sesgroup_dashboard_group_info_dates > span i{
	margin:0 5px;
}
.sesgroup_dashboard_group_info_stat_label{
	display:block;
	font-weight:bold;
	font-size:12px;
	margin-bottom:3px;
}
.sesgroup_dashboard_group_info .sesgroup_group_status{
	margin:10px 0 0;
	width:100%;
	padding:10px 5px;
}
.sesgroup_dashboard_group_info .sesgroup_group_status span{
	text-align:center;
	line-height:normal;
	display:block;
}
.sesgroup_dashboard_group_info .layout_sesgroup_advance_share{
	margin:10px 0 0;
	float:left;
	width:100%;
}
.sesgroup_dashboard_group_info .layout_sesgroup_advance_share a{
	display:block;
}
/*Information Block*/
.sesgroup_dashboard_group_info{
	border-width:1px;
	margin:10px 0 0 0;
	padding:10px;
}
.sesgroup_dashboard_group_info_cover{
	background-color:#ccc;
	display:block;
	height:120px;
	overflow:hidden;
	width:100%;
	position:relative;
}
.sesgroup_dashboard_group_main_photo{
	border-radius:5px;
	border-width:1px;
	border-style:solid;
	height:60px;
	width:60px;
	position:absolute;
	bottom:10px;
	left:10px;
	overflow:hidden;
}
[dir="rtl"] .sesgroup_dashboard_group_main_photo{
	left:inherit;
	right:10px;
}
.sesgroup_dashboard_group_photo{
	height:200px;
	position:relative;
	overflow:hidden;
	width:100%;
}
.sesgroup_dashboard_group_info_cover img,
.sesgroup_dashboard_group_main_photo img,
.sesgroup_dashboard_group_photo img{
	height:100%;
	object-fit:cover;
	width:100%;
}
.sesgroup_dashboard_group_info_content{
	padding:10px 0 0;
}
.sesgroup_dashboard_group_info_title{
	font-size:17px;
	font-weight:bold;
}
.sesgroup_dashboard_group_info_dates > span,
.sesgroup_dashboard_group_info_stat{
	display:block;
	border-top-width:1px;
	border-top-style:dashed;
	padding-top:5px;
	margin-top:5px;
	font-size:12px;
}
.sesgroup_dashboard_group_info_dates span > b{
	display:block;
	margin-bottom:3px;
}
.sesgroup_dashboard_group_info_dates > span i{
	margin:0 5px;
}
.sesgroup_dashboard_group_info_stat_label{
	display:block;
	font-weight:bold;
	font-size:12px;
	margin-bottom:3px;
}
.sesgroup_dashboard_group_info .sesgroup_group_status{
	margin:10px 0 0;
	width:100%;
	padding:10px 5px;
}
.sesgroup_dashboard_group_info .sesgroup_group_status span{
	text-align:center;
	line-height:normal;
}
.sesgroup_dashboard_group_info .layout_sesgroup_advance_share{
	margin:10px 0 0;
	float:left;
	width:100%;
}
/*Edit Group*/
.sesgroup_dashboard_form.sesgroup_create_form input[type="text"],
.sesgroup_dashboard_form.sesgroup_create_form textarea,
.sesgroup_dashboard_form.sesgroup_create_form select,
.sesgroup_dashboard_form.sesgroup_create_form #sesgroup_location_data-wrapper,
.sesgroup_dashboard_form.sesgroup_create_form .sesgroup_choose_date,
.sesgroup_dashboard_form.sesgroup_create_form #cancel_new_host-element{
	width:80%;
}
.sesgroup_dashboard_form.sesgroup_create_form .form-element .mce-tinymce{
	max-width:80%;
}
.sesgroup_dashboard_form .form-options-wrapper li{
	display:block;
	width:auto;
}
.sesgroup-error input{
	border:2px solid #dc2f2f !important;
}
/*Content Create Popup*/
.sesgroup_dashboard_create_popup{
	width:600px;
	position:relative;
}
.sesgroup_dashboard_create_popup > *,
.sesgroup_dashboard_create_popup > .global_form{
	margin:10px;
}
.sesgroup_dashboard_create_popup .global_form > div,
.sesgroup_dashboard_create_popup .global_form > div > div{
	float:none;
	padding:0 !important;
	margin:0 !important
}
.sesgroup_dashboard_create_popup .global_form > div > div h3{
	margin:0 0 10px;
}
.sesgroup_dashboard_create_popup .global_form > div > div > h3 + p{
	margin:0 10px 10px !important;
	padding:0 !important;
}
.sesgroup_dashboard_create_popup .global_form > div > div .form-elements{
	padding:0 10px !important;
	margin:0 !important;
}
.sesgroup_dashboard_create_popup .global_form .form-label,
.sesgroup_dashboard_create_popup .global_form .form-element{
	clear:both;
	text-align:left;
	min-width:inherit;
	width:100% !important;
}
.sesgroup_dashboard_create_popup .global_form .form-element input[type="text"],
.sesgroup_dashboard_create_popup .global_form .form-element textarea{
	padding:7px 10px;
	max-width:100%;
	width:100%;
}
.sesgroup_dashboard_create_popup #buttons-label{
	display:none;
}
/*Table*/
.sesgroup_dashboard_table{
	overflow-x:auto;
	margin-bottom:15px;
}
.sesgroup_dashboard_table table{
	width:100%;
}
.sesgroup_dashboard_table table th,
.sesgroup_dashboard_table table td{
	border-style:solid;
	border-bottom-width:1px;
	vertical-align:top;
  white-space:nowrap;
}
.sesgroup_dashboard_table table th{
	background-image:url(../images/transprant-bg.png);
}
.sesgroup_dashboard_table table th,
.sesgroup_dashboard_table table td{
	padding:12px 10px;
}
/*Add Location Popup*/
.sesgroup_add_location_popup{
	width:600px;
}
.sesgroup_add_location_popup div input[type="text"],
.sesgroup_add_location_popup div#sesgroup_location_data-wrapper{
	max-width:100% !important;
	width:100% !important;
}
.sesgroup_add_location_popup #is_default-label{
	display:none;
}
/*Add Location Photos Popup*/
.sesgroup_addlocation_photos_popup{
	width:570px;
}
.sesgroup_addlocation_photos_popup > div{
	padding:10px;
}
.advact_compose_photo_container #show_photo{
	float:left;
	height:105px;
	overflow:hidden;
}
.grouplocation_compose_photo_uploader{
	background-color:rgba(0, 0, 0, .02);
	cursor:pointer;
	border-style:dashed;
	border-width:2px;
	position:relative;
	height:105px;
	padding-top:20px;
	text-align:center !important;
}
.grouplocation_compose_photo_uploader i{
	font-size:35px;
}
.grouplocation_compose_photo_uploader span{
	font-size:17px;
	display:block;
}
.grouplocation_compose_photo_item{
	float:left;
	position:relative;
	margin:0 5px 5px 0;
	height:105px;
	text-align:center !important;
	width:105px;
}
.grouplocation_compose_photo_item:nth-last-child(1){
	margin-bottom:10px;
}
.grouplocation_compose_photo_item_photo,
.grouplocation_compose_photo_item_photo img{
	height:100%;
	object-fit:cover;
	width:100%;
}
.grouplocation_compose_photo_item_photo:after{
	content:"";
	display:none;
	background-color:rgba(0, 0, 0, .1);
	bottom:0;
	left:0;
	right:0;
	top:0;
	position:absolute;
	z-index:1;
}
.grouplocation_compose_photo_item:hover .grouplocation_compose_photo_item_photo:after{
	display:block;
}
.grouplocation_compose_photo_item_overlay{
	background:rgba(0, 0, 0, .1) url(../images/ajax_loading.gif) no-repeat center center;
	bottom:0;
	left:0;
	right:0;
	top:0;
	position:absolute;
	z-index:1;
}
.grouplocation_compose_photo_item .progressBar{
	position:absolute;
	bottom:0;
	width:100%;
	z-index:2;
}
.grouplocation_compose_photo_item .progressBar > div{
	background-color:#c9302c;
	height:4px;
	font-size:0;
}
.grouplocation_compose_photo_item .sesgroup_upload_item_abort{
	position:absolute;
	bottom:10px;
	top:inherit;
	text-align:center;
	width:100%;
	z-index:3;
}
.grouplocation_compose_photo_item .sesgroup_upload_item_abort span{
	background-color:#d9534f;
	border:1px solid #d43f3a;
	border-radius:3px;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	font-size:11px;
	padding:3px 5px;
}
.grouplocation_compose_photo_item .sesgroup_upload_item_abort span:hover{
	background-color:#c9302c;
}
[dir="rtl"] .grouplocation_compose_photo_item .sesgroup_upload_item_abort{
	text-align:center;
}
.grouplocation_compose_photo_item .sesgroup_upload_item_options{
	position:absolute;
	right:0;
	top:0;
	background-color:rgba(0, 0, 0, .6);
	height:20px;
	width:20px;
	text-align:center;
	line-height:20px;
	z-index:2;
}
.grouplocation_compose_photo_item .sesalbum_upload_item_options a{
	height:16px;
	line-height:16px;
	float:left;
	text-align:center;
	margin:0 2px !important;
	width:16px;
}
.grouplocation_compose_photo_item .sesgroup_upload_item_options a i:before{
	color:#fff;
	font-size:15px;
	text-shadow:0 0 2px rgba(0, 0, 0, .5);
}
.grouplocation_compose_photo_item_info{
	display:none;
}
/*Manage Opning Hours*/
.sesgroup_choose_day_wrapper .global_form div.form-element{
	float:none;
	display:block;
	overflow:hidden;
	margin:20px;
}
.sesgroup_choose_day_wrapper .global_form .form-wrapper:nth-last-child(1) div.form-element
.sesgroup_choose_day_wrapper ._day{
	margin-bottom:0;
}
.sesgroup_choose_day_wrapper ._day input[type="checkbox"]{
	float:left;
	margin:9px 5px 0 0;
}
.sesgroup_choose_day_wrapper ._day label{
	float:left;
	width:120px;
	line-height:30px;
	padding:0;
	margin:0;
}
.sesgroup_choose_day_wrapper ._timeslot{
	float:left;
}
.sesgroup_choose_day_wrapper ._timeslot input{
	float:left;
	width:80px;
	height:30px;
	line-height:30px;
	padding:0 10px;
}
.sesgroup_choose_day_wrapper ._timeslot span{
	float:left;
	padding:0 10px;
	line-height:30px;
}
.sesgroup_choose_day_wrapper ._timeslot a{
	float:left;
	margin-left:10px;
	height:30px;
	width:30px;
	padding:0;
	line-height:30px;
	text-align:center;
}
.sesgroup_choose_day_wrapper ._timeslot a:before{
	margin:0;
}
/*Announcement*/
.sesgroup_add_announcement_popup{
	width:600px;
}
/*Post Attribution Form*/
.sesgroup_dashboard_post_attribution .global_form div.form-element{
	max-width:100%;
}
.sesgroup_dashboard_post_attribution .global_form div.form-element .form-options-wrapper li + li{
	margin-top:10px;
}
.sesgroup_dashboard_post_attribution .global_form .form-label{
	display:none;
}
.sesgroup_dashboard_post_attribution .global_form input[type=radio] + label{
	float:none;
	overflow:hidden;
}
/*Style Tabs*/
.sesgroup_edit_style_group #submit-label{
	display:none;
}
/*Advertise Group*/
.sesgroup_dashboard_advertise li{
	border-bottom-width:1px;
	padding:0 0 20px;
	margin-bottom:20px;
}
.sesgroup_dashboard_advertise li:nth-last-child(1){
	margin-bottom:0;
	border-bottom-width:0;
}
.sesgroup_dashboard_advertise li ._icon{
	float:left;
	margin-right:15px;
	width:80px;
	text-align:center;
	padding-top:5px;
}
.sesgroup_dashboard_advertise li ._cont{
	overflow:hidden;
	display:block;
}
.sesgroup_dashboard_advertise li ._cont h3{
	margin-bottom:10px;
	font-size:17px;
}
.sesgroup_dashboard_advertise li ._cont ._buttons{
	margin-top:10px;
}
.sesgroup_dashboard_advertise li ._cont ._buttons a{
	display:inline-block;
}

/*Group Role*/
.sesgroup_dashboard_manage_role h4 {
	font-weight:bold;
	border-width:0;
	margin-top:0;
	font-size:17px;
	padding:0;
}
.sesgroup_dashboard_manage_role ._topsection{
	background-image:url(../images/transprant-bg.png);
	margin:0 -20px;
	padding:20px;
}
.sesgroup_dashboard_manage_role ._topsection ._sechead{font-weight:bold;}
.sesgroup_dashboard_manage_role ._topsection ._secitem{
	border-top-width:1px;
	margin-top:10px;
	padding-top:10px;
}
.sesgroup_dashboard_manage_role ._topsection ._secitem > span:nth-child(1){
	font-weight:bold;
}
.sesgroup_dashboard_manage_role ._assignsection{
	padding:20px 0 0;
}
.sesgroup_dashboard_manage_role ._assignform > div{
	float:left;
	margin-right:10px;
}
.sesgroup_dashboard_manage_role ._assignform input[type="text"],
.sesgroup_dashboard_manage_role ._assignform select{
	width:100%;
}
.sesgroup_dashboard_manage_role ._assignform ._input{
	position:relative;
	width:30%;
}
.sesgroup_dashboard_manage_role ._assignform ._input a{
	position:absolute;
	right:7px;
	top:10px;
}
.sesgroup_dashboard_manage_role ._assignsection ._des{
	margin-top:10px;
	line-height:150%;
}
.sesgroup_dashboard_manage_role ._currentmembers{
	margin-top:40px;
}
.sesgroup_dashboard_manage_role ._currentmembers ._currentmembers_header{
	margin-bottom:10px;
	margin-top:20px;
	clear:both;
	float:left;
	width:100%;
}
.sesgroup_dashboard_manage_role ._currentmembers div + ._currentmembers_header{
	margin-top:20px;
}
.sesgroup_dashboard_manage_role ._currentmembers ._currentmembers_header b{font-weight:bold;display:block;}
.sesgroup_dashboard_manage_role ._currentmembers ._currentmembers_header p{
	font-size:90%;
	margin-top:5px;
	line-height:150%;
}
.sesgroup_dashboard_manage_role ._currentmembers_item{
	padding:5px 20px 5px 0;
	width:50%;
	float:left;
}
.sesgroup_dashboard_manage_role ._currentmembers_item ._thumb{
	float:left;
	margin-right:15px;	
}
.sesgroup_dashboard_manage_role ._currentmembers_item ._option{
	float:right;
	margin-left:15px;	
}
.sesgroup_dashboard_manage_role ._currentmembers_item ._option select{
	margin-top:10px;
}
.sesgroup_dashboard_manage_role ._currentmembers_item ._cont{
	overflow:hidden;
	display:block;
}
.sesgroup_dashboard_manage_role ._currentmembers_item ._cont span{
	display:block;
	font-size:.9em;
	margin-top:5px;
}
.sesgroup_dashboard_remove_member_popup h3{
	margin-bottom:10px;
}
.sesgroup_dashboard_remove_member_popup button{
	margin-right:10px;
}
/*Manage Crossposting*/
.sesgroup_dashboard_manage_crossposting ._addgroup_form{
	margin-bottom:15px;
}
.sesgroup_dashboard_manage_crossposting ._addgroup_form > span{
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
}
.sesgroup_dashboard_manage_crossposting ._addgroup_form > span._label{
	font-weight:bold;
}
.sesgroup_dashboard_manage_crossposting ._addgroup_form > span._input input{
	width:300px;
	padding:0 10px;
}

.sesgroup_dashboard_crossposting_item{
	padding:10px 0;
	-ms-box-orient:horizontal;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-moz-flex;
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:space-around;
	justify-content:space-around;
	-webkit-flex-flow:row wrap;
	flex-flow:row wrap;
	-webkit-align-items:stretch;
	align-items:stretch;
	align-items:center;
	border-top-width:1px;
}
.sesgroup_dashboard_crossposting_item ._thumb{
	width:60px;
}
.sesgroup_dashboard_crossposting_item ._thumb img{
	width:48px;
	height:48px;
}
.sesgroup_dashboard_crossposting_item ._cont {
	flex-grow:2;
}
.sesgroup_dashboard_crossposting_item ._cont ._title{
	font-weight:bold;
	margin-bottom:5px;
}
.sesgroup_dashboard_crossposting_item ._options div{
	float:left;
	margin-left:10px;
}
.sesgroup_dashboard_crossposting_item ._options ._msg span,
.sesgroup_dashboard_crossposting_item ._options ._msg a{
	display:inline-block;
	vertical-align:middle;
	margin-left:10px;
}	
.sesgroup_dashboard_manage_crossposting_popup{
	background-color:rgba(0, 0, 0, 0.4);
	position:fixed !important;
	left:0;
	top:0;
	height:100%;
	width:100%;
	display:none;
}
.sesgroup_dashboard_manage_crossposting_popup ._maincont{
	border-radius:5px;
	position:absolute;
	top:180px;
	left:50%;
	transform:translateX(-50%);
	width:500px;
}
.sesgroup_dashboard_manage_crossposting_popup  ._header {
	background-image:url(../images/transprant-bg.png);
	padding:10px 15px;
	font-weight:bold;
	border-bottom-width:1px;
}
.sesgroup_dashboard_manage_crossposting_popup ._field{
	padding:20px;
}
.sesgroup_dashboard_manage_crossposting_popup ._field textarea{
	width:100% !important;
}
.sesgroup_dashboard_manage_crossposting_popup ._field a.sesbasic_button{
	display:inline-block;
	margin-top:10px;
}
.sesgroup_dashboard_manage_crossposting_popup .sesgroup_dashboard_crossposting_item {
	border-width:0;
	padding:0;
}
.sesgroup_dashboard_manage_crossposting_popup ._footer{
	border-top-width:1px;
	padding:10px 15px;
}
.sesgroup_dashboard_manage_crossposting_popup ._footer ._btns a {
	float:left;
	margin-left:5px;
	height:35px;
	padding:0 25px;
	line-height:35px;
	border-radius:3px;
	background-image:none;
}
/*Manage Members*/
.sesgroup_dashboard_manage_members ul{
	margin:0 -5px;
}
.sesgroup_dashboard_manage_members_item{
	width:50%;
	float:left;
	padding:5px;
}
.sesgroup_dashboard_manage_members_item article{
	-ms-box-orient:horizontal;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-moz-flex;
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:space-around;
	justify-content:space-around;
	-webkit-flex-flow:row wrap;
	flex-flow:row wrap;
	-webkit-align-items:stretch;
	align-items:stretch;
	align-items:center;
	border-width:1px;
	padding:10px;
}
.sesgroup_dashboard_manage_members_item ._thumb{
	margin-right:10px;
	width:60px;
	height:60px;
}
.sesgroup_dashboard_manage_members_item ._thumb > a,
.sesgroup_dashboard_manage_members_item ._thumb > a span{
	border-width:0;
	display:block;
	width:100%;
	height:100%;
}
.sesgroup_dashboard_manage_members_item ._btns{
	margin-left:10px;
}
.sesgroup_dashboard_manage_members_item ._btns > div{
	float:left;
}
.sesgroup_dashboard_manage_members_item ._btns > div > a{
	margin-left:5px;
	height:30px;
	line-height:28px;
	padding:0 10px;
}
.sesgroup_dashboard_manage_members_item ._btns ._option > a{
	height:30px;
	width:30px;
	text-align:center;
	padding:0;
}
.sesgroup_dashboard_manage_members_item ._btns ._option > a i{
	margin:0;
	float:none;
}
.sesgroup_dashboard_manage_members_item ._btns .sesbasic_pulldown_options{
	width:160px;
	margin-left:-120px;
}
.sesgroup_dashboard_manage_members_item ._cont{
	flex-grow:2;
}
.sesgroup_dashboard_manage_members_item ._cont ._name a,
.sesgroup_dashboard_manage_members_item ._cont ._role{
	font-weight:bold;
}
.sesgroup_dashboard_manage_members_item ._cont ._role,
.sesgroup_dashboard_manage_members_item ._cont ._date{
	margin-top:5px;
	font-size:.9em;
}
@media (max-width:768px){
	.sesgroup_dashboard_manage_members_item{width:100%;}	
}
/*Reports & Insides*/
.sesgroup_dashboard_graph{
	overflow:hidden;
	position:relative;
	background-image:url(../images/transprant-bg.png);
	padding:10px;
}
.sesgroup_dashboard_graph .sesbasic_filter_tabs{
	border-width:0;
	background:none;
	float:right;
	padding:0;
}
.sesgroup_dashboard_graph .sesbasic_filter_tabs ul li a{
	font-size:12px;
}
.sesgroup_dashboard_graph .sesgroup_dashboard_graph_box{
	border-width:1px;
	display:block;
	height:300px;
	margin-top:10px;
	margin:0 auto;
	width:100%;
	padding-top:5px;
	background-color:#fff;
}
/*Design Views Tab*/
.sesgroup_dashboard_designs_form{

}
.sesgroup_dashboard_designs_form .global_form div.form-label{
	display:none;
}
.sesgroup_dashboard_designs_form .global_form div.form-element{
	width:100%;
	max-width:100%;
	clear:both;
}
.sesgroup_dashboard_designs_form #groupstyle-element .form-options-wrapper li{
	position:relative;
	height:210px;
	width:180px;
	margin-bottom:10px;
	border-width:1px;
	padding:5px;
	display:inline-block;
	margin-right:10px;
	text-align:center;
}
.sesgroup_dashboard_designs_form #groupstyle-element .form-options-wrapper li label span{
	width:100%;
	position:absolute;
	top:30px;
	left:0px;
}
.sesgroup_dashboard_designs_form #groupstyle-element .form-options-wrapper li label span img{
	width:100%;
}
.sesgroup_dashboard_designs_form #groupstyle-element .form-options-wrapper li input[type=radio]{
	display:inline-block;
	float:none;
	vertical-align:sub;
}
.sesgroup_dashboard_designs_form #groupstyle-element .form-options-wrapper li label{
	display:inline-block;
	float:none;
}
/*Manage Apps*/
.sesgroup_dashboard_manage_apps_section{
	background-image: url(../images/transprant-bg.png);
	margin: 0 -20px;
	padding: 20px;
}
.sesgroup_dashboard_manage_apps_section ._appitem{
	display: flex;
	padding: 15px;
	border-width: 1px;
	border-radius: 5px;
	align-items: center;
	margin-bottom:15px;
}
.sesgroup_dashboard_manage_apps_section ._appitem:nth-last-child(1){
	margin-bottom:0;
}
.sesgroup_dashboard_manage_apps_section ._appitem ._appitem_icon,
.sesgroup_dashboard_manage_apps_section ._appitem ._appitem_btn{
	width:64px;
}
.sesgroup_dashboard_manage_apps_section ._appitem ._appitem_cont{
	padding:0 15px;
	flex-grow:1;
}
.sesgroup_dashboard_manage_apps_section ._title{
	font-size:17px;
	font-weight:bold;
	margin-bottom:5px;
}
.sesgroup_switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.sesgroup_switch input{
	opacity:0;
	visibility:hidden;
}
.sesgroup_switch ._appitem_btn_switch_h {
	border-radius:34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.sesgroup_switch ._appitem_btn_switch_h:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.sesgroup_switch input:checked + ._appitem_btn_switch_h {
  background-color: #2196F3;
}
.sesgroup_switch input:focus + ._appitem_btn_switch_h {
  box-shadow: 0 0 1px #2196F3;
}
.sesgroup_switch input:checked + ._appitem_btn_switch_h:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/*Services*/
.sesgroup_add_service_popup .form-elements{
	padding:0 10px 10px !important;
}
.sesgroup_add_service_popup input[type="text"],
.sesgroup_add_service_popup select,
.sesgroup_add_service_popup textarea{
	padding: 0 10px;
	height: 40px;
	min-width: inherit;
	width: 100%;
}
.sesgroup_add_service_popup textarea{
	height:auto;
}
.sesgroup_add_service_popup #duration-wrapper{
	float:left;
	width:70% !important;
}
.sesgroup_add_service_popup #duration_type-wrapper{
	float:right;
	width:calc(30% - 10px) !important;
	clear:none;
}
.sesgroup_dashboard_services{
	background-image: url(../images/transprant-bg.png);
	margin: 0 -20px;
	padding: 20px;
}
.sesgroup_dashboard_services_listing ._services{
	padding: 15px;
	border-width: 1px;
	border-radius: 5px;
	align-items: center;
	margin-bottom: 15px;
}
.sesgroup_dashboard_services_listing ._services ._thumb{
	float:right;
	margin-left:15px;
	width:100px;
}
.sesgroup_dashboard_services_listing ._services ._thumb img{
	width:100%;
}
.sesgroup_dashboard_services_listing ._services ._cont{
	overflow:hidden;
	display:block;
	position:relative;
	min-height:110px;
}
.sesgroup_dashboard_services_listing ._services ._title {
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 10px;
}
.sesgroup_dashboard_services_listing ._services ._option{
	position:absolute;
	right:10px;
	top:0;
}
.sesgroup_dashboard_services_listing ._services ._option > a{
	height:30px;
	width:30px;
	line-height:30px;
	padding:0;
	text-align:center;
	margin-right:4px;
}
.sesgroup_dashboard_services_listing ._services .sesbasic_pulldown_options{
	right:0;
}
.sesgroup_dashboard_services_listing ._services ._pd{
	margin-bottom:10px;
}
.sesgroup_dashboard_services_listing ._services ._des{
	line-height:150%;
}
/* responsive css */
@media (max-width:767px){
	.sesgroup_dashboard_tabs {
		float: none;
		width: 100%;
	}
	.sesgroup_dashboard_form.sesgroup_create_form .form-element .mce-tinymce {
		max-width: 100%;
	}
	.sesgroup_create_form .global_form div.form-label, .sesgroup_create_form .global_form div.form-element{
		padding:0;
	}
	#sesgroup_create_form #groupstyle-element .form-options-wrapper li{
		width: 45% !important;
	}
}