/*@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

[class*="layout_seslandingpage_"] *{

	font-family:'Poppins', sans-serif;

	text-decoration:none !important;

}

/*Common CSS*/
html .is_landingpage  #global_content,
html .is_landingpage #global_wrapper .layout_main{
	padding: 0 !important;
	margin: 0;
	width: 100%;
	max-width: 100% !important;
}
#global_page_core-index-index #global_wrapper .layout_middle .generic_layout_container {
	padding: 0;
	margin: 0;
	border: 0px;
}
.seslp_blocks_wrapper {
	width: 100%;
}
.seslp_blocks_container{
	max-width: $theme_content_width;
	margin: 0 auto;
}
.seslp_animation {
	-webkit-transition: all 800ms ease 0s;
	-moz-transition: all 800ms ease 0s;
	-o-transition: all 800ms ease 0s;
	transition: all 800ms ease 0s;
}
.is_landingpage #global_wrapper .layout_left > div, .is_landingpage #global_wrapper .layout_right > div, .is_landingpage #global_wrapper .layout_middle > div, .is_landingpage .browsemembers_criteria, .notifications_layout {
	padding: 0 !important;
	margin: 0 !important;
	box-shadow: none;
	border: 0;
}
.is_landingpage #global_content {
	width: 100%;
}
@media (max-width: $theme_content_width) {
	.seslp_blocks_container {
		width: 100%;
		padding: 0 10px;
	}
}
@media (max-width: 767px) {
	.seslp_blocks_container{
		padding: 0 10px;
	}
}
/*Intro Block*/
.seslp_intro_d1 .seslp_intro_left_col article{
	border-color:$theme_list_background_color;
}
.seslp_intro_d1 .seslp_intro_right_item article .count-number,
.seslp_intro_d1 .seslp_intro_right_item article h3:after,
.seslp_intro_d1 .seslp_intro_left_col .seslp_intro_left_col_bg{
	background-color:$theme_button_background_color;
}
.seslp_filled_btn{
	background-color:$theme_button_background_color !important;
	color:$theme_button_font_color !important;
}
.seslp_filled_btn:hover{
	background-color:$theme_button_background_color_hover !important;
	color:$theme_button_font_color !important;
}
.seslp_intro_d2 .seslp_intro_right_col ul li article .icon{
	border:2px solid $theme_button_background_color;
}
.seslp_language_wrapper{
	background-color:$theme_button_background_color;
}
/*Template 1*/
.seslp_des1wid2_feature_item_icon i:before {
 color:$theme_button_background_color !important;
}
.seslp_des1wid3_listing_item_stats p {
 background-color:$theme_button_background_color;
 color:$theme_button_font_color;
}
.seslp_des1wid2_wrapper:after {
 background-image: linear-gradient(315deg, $theme_list_background_color 25%, transparent 25%), linear-gradient(45deg, $theme_list_background_color 25%, transparent 25%);
}
.seslp_des1wid4_listing_item_category a,  .seslp_des1wid3_listing_item_thumb:hover,  .seslp_des1wid5_listing_item_thumb_overlay span {
 background-color:$theme_button_background_color !important;
}
.seslp_des1wid2_img,  .seslp_des1wid3_wrapper h2:after,  .seslp_des1wid5_wrapper h2:after,  .seslp_des1wid2_wrapper h2::after,  .seslp_des1wid4_wrapper h2:after {
 border-color:$theme_button_background_color !important;
}
.seslp_des1wid2_feature_item_icon {
 border:1px solid $theme_border_color;
}
.seslp_des1wid2_feature_item:before {
 border-color:$theme_border_color !important;
}
/*Template 2*/
.seslp_des2wid2_column.seslp_des2wid2_column_left,  .seslp_des2wid2_listing_item_overlay:hover,  .seslp_des2wid4_list_item_cont,  .seslp_des2wid5_listing_item_thumb_overlay i,  .seslp_des2wid6_container {
 background-color:$theme_button_background_color !important;
}
.seslp_des2wid3_feature_list_icon,  .seslp_des2wid3_wrapper h2:after,  .seslp_des2wid3_features_list_item:before,  .seslp_des2wid5_wrapper h2:after {
 border-color:$theme_button_background_color !important;
}
.seslp_des2wid3_feature_list_icon i,  .seslp_des2wid2_column_btns .seslp_des2wid2_column_btn:hover,  .seslp_des2wid6_content .seslp_des2wid6_btns a:hover {
 color:$theme_button_background_color !important;
}
.seslp_des2wid3_features_list_icon,  .seslp_des2wid5_listing_item_info {
 background-color:$theme_list_background_color !important;
}
/*Template 3*/
.seslp_des3wid2_item_thumb .corners > span,  .seslp_des3wid7_member_list_item_thumb:hover {
 border-color:$theme_button_background_color !important;
}
.seslp_des3wid3_wrapper h2:before, .seslp_des3wid3_wrapper h2:after,  .seslp_des3wid5_wrapper h2:before, .seslp_des3wid5_wrapper h2:after,  .seslp_des3wid7_wrapper h2:before, .seslp_des3wid7_wrapper h2:after,  .seslp_des3wid7_tabs a:hover, .seslp_des3wid7_tabs a.active, .seslp_des3wid5_list_item_cat {
 background-color:$theme_button_background_color !important;
	transition: all .5s ease;
}
.seslp_des3wid5_list_item_cont:before {
 background:$theme_list_background_color;
}
.seslp_des3wid3_feature_item_icon i,  .seslp_des3wid4_left .seslp_des3wid4_btn:hover,  .seslp_des3wid6_cont .seslp_des3wid6_btn:hover {
 color:$theme_button_background_color !important;
}
.seslp_des3wid3_feature_item article {
 border:1px solid $theme_border_color;
}
.seslp_des3wid3_feature_item_title:after, .seslp_des3wid3_feature_item_title:before {
 background:$theme_button_background_color;
}
/*Template 4*/
.seslp_des4wid2_feature_item_icon,  .seslp_des4wid2_feature_item article,  .seslp_des4wid4_column_l h2,  .seslp_des4wid6_wrapper h2:after {
 border-color:$theme_border_color !important;
}
.seslp_des4wid2_feature_item_icon,  .seslp_des4wid4_column_l_btn a {
 background-color:$theme_border_color !important;
 color:$theme_link_color !important;
}
.seslp_des4wid6_listing_item_thumb_overlay i {
 background-color:$theme_button_background_color !important;
}
.seslp_des4wid6_listing_item_info {
 background-color:$theme_list_background_color !important;
}
.seslp_des4wid2_feature_item article:hover .seslp_des4wid2_feature_item_icon {
 color:$theme_button_background_color !important;
}
.seslp_des4wid2_feature_item_icon {
 border:1px solid $theme_border_color;
}
.seslp_des4wid2_feature_item:hover .seslp_des4wid2_feature_item_icon {
 background:$theme_list_background_color !important;
}
.seslp_des4wid2_head h2 {
 border-bottom:1px dotted $theme_button_background_color;
}
/*Template 5*/
.seslp_des5wid_head_btn a,  .seslp_des5wid3_list_item_date {
 background-color:$theme_button_background_color !important;
 color:$theme_button_font_color !important;
}
div.seslp_des5wid3_list_item_cont a:hover {
 color:$theme_button_background_color !important;
}
.seslp_des5wid4_list_item_cont {
 background-color:$theme_list_background_color !important;
}
.seslp_des5wid2_list_item_overlay:before {
 border-color:$theme_border_color !important;
}
/*Template 6*/
.seslp_des6_head:after,  .seslp_des6_more_btn,  .seslp_des6_listings .owl-nav div,  .seslp_des6_list_item_icon, .seslp_des6wid2_feature_item_cont:hover h3:after {
 background-color:$theme_button_background_color !important;
}
.seslp_des6wid2_feature_item_icon i {
 color:$theme_button_background_color !important;
}
.seslp_des6wid2_feature_item_cont h3:before {
 background-color:$theme_font_color;
}
/*Template 7*/
.seslp_des7wid2_feature_item article,  .seslp_des7wid2_feature_item_icon {
 background-color:$theme_list_background_color !important;
}
.seslp_des7wid4_left a._seeall {
 border-color:$theme_button_background_color !important;
 color:$theme_button_background_color !important;
}
.seslp_des7wid4_left a._seeall:hover {
 background-color:$theme_button_background_color !important;
 color:$theme_button_font_color !important;
}
/*Template 8*/
.seslp_des8_head h2:before, .seslp_des8_head h2:after {
 background-color:$theme_button_background_color !important;
}
.seslp_des8wid2_feature_item article:hover, .seslp_des8wid4_sin_item_thumb_icon {
 background-color:$theme_button_background_color !important;
}
.seslp_des8wid2_feature_item article {
 border:1px solid $theme_border_color;
}
.seslp_des8wid2_feature_item article:hover .seslp_des8wid2_feature_item_img {
 border-color: $theme_button_background_color;
}
.seslp_des8wid5_item_btn a {
 background-color:$theme_button_background_color !important;
 color:$theme_button_font_color !important;
}
.seslp_des8wid3_listing .slick-arrow.slick-prev:hover:before, .seslp_des8wid3_listing .slick-arrow.slick-next:hover:before {
 color:$theme_button_background_color !important;
}
.seslp_des8wid2_feature_item_icon {
 background-color:$theme_list_background_color;
 border-color:$theme_list_background_color;
}
/*Template 9*/
.seslp_des9_head h2:after,  .seslp_des9wid2_feature_item:hover .seslp_des9wid2_feature_item_icon:before,  .seslp_des9wid4_list_item_thumb_date,  .seslp_des9wid3_cont_list_item a:hover .seslp_des9wid3_cont_list_item_icon i, .seslp_des9wid3_bg:after {
 background-color:$theme_button_background_color !important;
}
.seslp_des9wid2_wrapper .seslp_blocks_container,  .seslp_des9wid4_list_item_cont,  .seslp_des9wid5_list_item_cont {
 background-color:$theme_list_background_color !important;
}
.seslp_des9wid2_feature_item_icon,  .seslp_des9wid4_list_item_thumb_date ._month,  .seslp_des9wid4_list_item_btn a,  .seslp_des9wid3_cont_more a:hover {
 color:$theme_button_background_color !important;
}
.seslp_des9wid2_feature_item:hover .seslp_des9wid2_feature_item_icon,  .seslp_des9wid4_list_item_btn a {
 border-color:$theme_button_background_color !important;
}
.seslp_des9wid4_list_item_btn a:hover {
 background-color:$theme_button_background_color !important;
 color:$theme_button_font_color !important;
}
/*Template 10*/
.seslp_des10wid3_list_item_thumb:hover .seslp_des10wid3_list_item_thumb_btn i {
 color:$theme_button_background_color !important;
}
.seslp_des10wid4_list_item:hover {
 background-color:$theme_button_background_color !important;
}
.seslp_des10wid6_list_item_owner_photo {
 border-color:$theme_list_background_color !important;
}
.seslp_des10wid4_list_item_cont,  .seslp_des10wid5_wrapper {
 background-color:$theme_list_background_color !important;
}
/* Landing Page */
.seslandingpage_intro:before, .seslandingpage_about .about_content, .seslandingpage_demo .view_button a:hover {
 background-color:$theme_button_background_color;
}
.seslandingpage_temp .seslandingpage_temp_inner h3, .seslandingpage_features .seslandingpage_features_inner h3, .seslandingpage_about .about_content a, .seslandingpage_features .features_main .features_box h4, .seslandingpage_parallax .seslandingpage_parallax_inner ul li .small_icon, .seslandingpage_demo .view_button a, .seslandingpage_intro .seslandingpage_intro_inner a:hover {
 color:$theme_button_background_color;
}
.seslandingpage_features, .seslandingpage_about .about_content a, .seslandingpage_intro .seslandingpage_intro_inner a:hover {
	background: $theme_list_background_color;
}
.seslandingpage_demo .view_button a {
	border: 1px solid $theme_button_background_color;
}
