/*Font Family

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

*{

	font-family:'Poppins', sans-serif;

}



/*Common CSS*/
html #global_wrapper,  html #global_content,
html #global_wrapper .layout_main{
	padding:0 !important;
	margin:0 !important;
	width:100% !important;
}
.seslp_section_spacing{
	padding:50px 0;
}
/*SECTION HEADINGS CSS START HERE*/
.seslp_head_d1{
	position:relative;
	text-align:center;
	margin-bottom:20px;
}
.seslp_head_d1 h2{
	font-size:35px;
	font-weight:700;
	margin-bottom:10px;
}
.seslp_head_d1 p{
	line-height:25px;
	font-size:15px;
}
.seslp_head_d1._left{
	text-align:left;
}
/*SECTION HEADINGS CSS END HERE*/
.seslp_filled_btn{
	display:inline-block;
	line-height:50px;
	padding:0 35px;
	border-radius:5px;
	font-weight:600;
	font-size:14px;
	text-transform:uppercase;
	letter-spacing:2px;
}
/*INTRO SECTION CSS START HERE*/
/*Design 1*/
.seslp_intro_container{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
.seslp_intro_d1 .seslp_intro_left_col{
	width:40%;
	padding-right:30px;
}
.seslp_intro_d1 .seslp_intro_left_col article{
	box-shadow:0 20px 25px 0 rgba(0,0,0,.08);
	border-radius:5px;
	overflow:hidden;
	position:relative;
	padding:40px;
}
.seslp_intro_d1 .seslp_intro_left_col .seslp_intro_left_col_bg{
	position:absolute;
	background-position:center;
	background-size:cover;
	left:0;
	top:0;
	height:100%;
	width:100%;
}
.seslp_intro_d1 .seslp_intro_left_col .seslp_intro_left_col_cont{
	background-color:rgba(0,0,0,.5);
	position:relative;
	padding:25px 40px 40px;
}
.seslp_intro_d1 .seslp_intro_left_col article *{
	color:#fff;
}
.seslp_intro_d1 .seslp_intro_left_col article p{
	text-align:justify;
}
.seslp_intro_d1 .seslp_intro_left_col ._btn{
	margin-top:40px;
}
.seslp_intro_d1 .seslp_intro_right_col{
	width:60%;
}
.seslp_intro_d1 .seslp_intro_right_col ul{
	display:flex;
	flex-wrap:wrap;
	margin:0 -10px;
}
.seslp_intro_d1 .seslp_intro_right_item{
	width:50%;
	padding:10px;
}
.seslp_intro_d1 .seslp_intro_right_item article{
	padding:40px 45px 40px 40px;
	box-shadow:0 20px 25px 0 rgba(0,0,0,.08);
	border-radius:5px;
	overflow:hidden;
	position:relative;
	height:100%;
	transition:all .3s ease;
}
.seslp_intro_d1 .seslp_intro_right_item article:hover{
	transform:translateY(-5px);
	background-color:#fff;
	box-shadow:0 25px 25px 0 rgba(0,0,0,.09);
}
.seslp_intro_d1 .seslp_intro_right_item article i{
	position:absolute;
	right:-10px;
	top:20px;
	font-size:55px;
}
.seslp_intro_d1 .seslp_intro_right_item article i img{
	max-height:55px;
	max-width:55px;
}
.seslp_intro_d1 .seslp_intro_right_item article h3{
	margin-bottom:15px;
	font-weight:500;
	font-size:24px;
	padding-bottom:15px;
	position:relative;
}
.seslp_intro_d1 .seslp_intro_right_item article h3:after{
	content:"";
	height:2px;
	width:50px;
	left:0;
	bottom:0;
	position:absolute;
}
.seslp_intro_d1 .seslp_intro_right_item article p{
	font-size:15px;
	line-height:25px;
}
.seslp_intro_d1 .seslp_intro_right_item article .count-number{
	position:absolute;
	right:-55px;
	bottom:-55px;
	width:120px;
	height:120px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	color:#fff;
	display:block;
	text-align:left;
	font-size:16px;
	font-weight:700;
	padding:30px 35px;
}
@media (max-width:767px){
	.seslp_intro_d1 .seslp_intro_left_col,
	.seslp_intro_d1 .seslp_intro_right_col{
		width:100%;
	}
	.seslp_intro_d1 .seslp_intro_left_col{
		padding:0 0 30px;
	}
	.seslp_head_d1 h2{
		font-size:25px;
	}
	.seslp_intro_d1 .seslp_intro_right_item article{
    padding:20px 45px 20px 20px;
	}
}
@media (max-width:540px){
	.seslp_intro_d1 .seslp_intro_right_item{
		width:100%;
	}
}
/*Design 2*/
.seslp_intro_d2 .seslp_head_d1{
	margin-bottom:40px;
}
.seslp_intro_d2 .seslp_intro_left_col{
	width:60%;
	padding-right:20px;
}
.seslp_intro_d2 .seslp_intro_left_col img{
	max-width:100%;
	vertical-align:middle;
}
.seslp_intro_d2 .seslp_intro_right_col{
	width:40%;
}
.seslp_intro_d2 .seslp_intro_right_col ul li{
	position:relative;
	padding-left:50px;
	padding-bottom:50px;
}
.seslp_intro_d2 .seslp_intro_right_col ul li:nth-child(even){
	padding-left:100px;
}
.seslp_intro_d2 .seslp_intro_right_col ul li:last-child{
	padding-bottom:0;
}
.seslp_intro_d2 .seslp_intro_right_col ul li article .icon{
	float:left;
	width:70px;
	height:70px;
	margin-right:20px;
	border-radius:50%;
	font-size:0;
	text-align:center;
}
.seslp_intro_d2 .seslp_intro_right_col ul li article .icon_inner{
	height:100%;
	width:100%;
	position:relative;
	display:block;
}
.seslp_intro_d2 .seslp_intro_right_col ul li article .icon i{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}
.seslp_intro_d2 .seslp_intro_right_col ul li article .icon img{
	max-width:40px;
	vertical-align:middle;
}
.seslp_intro_d2 .seslp_intro_right_col ul li article .icon i.fa{
	font-size:25px;
}
.seslp_intro_d2 .seslp_intro_right_col ul li article .info{
	overflow:hidden;
}
.seslp_intro_d2 .seslp_intro_right_col ul li article .info h3{
	font-size:20px;
	margin-bottom:10px;
}
.seslp_intro_d2 .seslp_intro_right_col ul li article .info p{
	line-height:24px;
}
@media (min-width:768px){
	.seslp_intro_d2 .seslp_intro_right_col ul li article .icon:before{
		content:" ";
		position:absolute;
		top:35px;
		left:0;
		width:30px;
		height:1px;
		background-color:#ccc;
	}
	.seslp_intro_d2 .seslp_intro_right_col ul li:nth-child(even) article .icon:before{
		width:80px;
	}
	.seslp_intro_d2 .seslp_intro_right_col ul li article .icon:after{
		content:" ";
		position:absolute;
		top:35px;
		left:0;
		width:1px;
		height:100%;
		background-color:#ccc;
	}
	.seslp_intro_d2 .seslp_intro_right_col ul li:last-child article .icon:after{
		height:35px;
	}
	.seslp_intro_d2 .seslp_intro_right_col ul li + li article .icon:after{
		top:0;
	}
}
@media (max-width:767px){
	.seslp_intro_d2 .seslp_intro_left_col,
	.seslp_intro_d2 .seslp_intro_right_col{
		padding:0;
		width:100%;
	}
	.seslp_intro_d2 .seslp_intro_right_col{
		padding-top:30px;
	}
	.seslp_intro_d2 .seslp_intro_right_col ul li{
		padding:0 !important;
	}
	.seslp_intro_d2 .seslp_intro_right_col ul li + li{
		padding-top:30px !important;
	}
}
@media (max-width:540px){

}
/*INTRO SECTION CSS END HERE*/
/*FEATURES SECTION CSS START HERE*/
.seslp_features_content ul{
	display:flex;
	flex-wrap:wrap;
	margin:0 -15px;
}
.seslp_features_item{
	padding:25px;
	width:50%;
}
.seslp_features_item article{
	display:flex;
}
.seslp_features_item .icon{
	margin-right:10px;
	text-align:center;
	height:60px;
	width:60px;
	position:relative;
}
.seslp_features_item .icon i{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	font-size:30px;
}
.seslp_features_item .icon1 i{
	color:#50a1ff ;
}
.seslp_features_item .icon2 i{
	color:#3cd458;
}
.seslp_features_item .icon3 i{
	color:#ff4954;
}
.seslp_features_item .icon4 i{
	color:#926dde;
}
.seslp_features_item .icon i img{
	max-width:45px;
}
.seslp_features_item .info{
	flex:1;
}
.seslp_features_item .info h3{
	font-size:20px;
	margin-bottom:10px;
}
.seslp_features_item .info p{
	line-height:25px;
}
@media (max-width:767px){
	.seslp_features_item{
		width:100%;
	}
}
/*FEATURES SECTION CSS END HERE*/
/*LANGUAGE SECTION START HERE*/
.seslp_language_wrapper{
	background-size:cover;
	background-attachment:fixed;
	background-position:center;
	position:relative;
}
.seslp_language_wrapper:before {
	content:"";
	/*background-color:rgba(0,0,0,.8);*/
	background-attachment:fixed;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.seslp_language_content *{
	color:#fff;
}
.seslp_language_content_items{
	font-size:20px;
	text-align:center;
}
/*LANGUAGE SECTION END HERE*/
/*APP SECTION START HERE*/
.seslp_mobileapp_section_wrapper{
	position:relative;
}
.seslp_mobileapp_section_bg{
	background-size:cover;
	background-attachment:fixed;
	position:absolute;
	height:100%;
	width:100%;
	left:0;
	top:0;
}
.seslp_mobileapp_section{
	background-color:rgba(0, 0, 0, .8);
	position:relative;
	z-index:1;
}
.seslp_mobileapp_section section{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
.seslp_mobileapp_section section > div{
	width:50%;
}
.seslp_mobileapp_section_content *{
	color:#fff;
}
.seslp_mobileapp_section_content h2{
	font-weight:bold;
	font-size:35px;
	margin-bottom:25px;	
}
.seslp_mobileapp_section_content p{
	line-height:25px;
	font-size:15px;
}
.seslp_mobileapp_section_img{
	text-align:center;
}
.seslp_mobileapp_section_img img{
	vertical-align:middle;
	max-width:100%;
}
.seslp_mobileapp_section_content .sec_buttons{
	margin-top:30px;
	overflow:hidden;
}
.seslp_mobileapp_section_content .app_download_btn{
	display:inline-block;
}
.seslp_mobileapp_section_content .app_download_btn + .app_download_btn{
	margin-left:20px;
}
@media (max-width:767px){
	.seslp_mobileapp_section section > div,
	.seslp_mobileapp_section_content .sec_buttons{
		width:100%;
		text-align:center;
	}
	.seslp_mobileapp_section_img img{
		margin-bottom:30px;
		max-height:300px;
	}
	.seslp_mobileapp_section_content h2{
		font-size:25px;
	}
}
/*APP SECTION END HERE*/
/*COUNTERS SECTION CSS START HERE*/
.seslp_counters_container{
	position:relative;
	background-position:center center;
	background-attachment:fixed;
	background-size:cover;
}
.seslp_counters_container:before{
	content:"";
	background:rgb(255,0,122);
	background:linear-gradient(138deg, rgba(255,0,122,0.6) 0%, rgba(96,29,161,0.6) 100%);
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.seslp_counters_section{
	position:relative;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.seslp_counters_section .counter_item{
	background-image:url(../images/wave.png);
	background-position:left bottom;
	background-repeat:no-repeat;
	width:25%;
	color:#fff;
	padding:0 120px 25px 0;
	position:relative;
}
.seslp_counters_section .counter_item > span._value{
	display:flex;
	align-items:center;
}
.seslp_counters_section .counter_item .counter{
	font-size:65px;
	font-weight:bold;
}
.seslp_counters_section .counter_item .counterplus{
	font-size:35px;
	margin-left:10px;
}
.seslp_counters_section .counter_item ._title{
	font-size:21px;
	display:block;
	font-weight:600;
}
@media (max-width:767px){
	.seslp_counters_container{
		margin:10px 0;
	}
	.seslp_counters_section .counter_item{
		width:50%;
		padding:0 40px 25px 0;
		margin:10px 0;
	}
	.seslp_counters_section .counter_item .counter{
		font-size:40px;
	}
	.seslp_counters_section .counter_item ._title{
		font-size:16px;
	}
}
/*COUNTERS SECTION CSS END HERE*/

