/*DESIGN 3 STARTS HERE*/
/*Design3 Widget2 Start*/
.seslp_des3wid2_wrapper{
	padding:50px 0px 0px;
}
.seslp_des3wid2_item{
	float:left;
	position:relative;
	width:33.33%;
}
.seslp_des3wid2_item_thumb{
	height:250px;
	position:relative;
}
.seslp_des3wid2_item_thumb_img,
.seslp_des3wid2_item_thumb_img span{
	background-position:center;
	background-size:cover;
	display:block;
	height:100%;
	width:100%;
	overflow:hidden;
}
.seslp_des3wid2_item:hover .seslp_des3wid2_item_thumb_img span{
	transform:scale(1.1);
}
.seslp_des3wid2_item_thumb ._overlay{
	background-color:rgba(0,0,0,.2);
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
}
.seslp_des3wid2_item:hover ._overlay{
	background-color:rgba(0,0,0,.5);
}
.seslp_des3wid2_item_thumb .corners > span{
	position:absolute;
	border-color:#0070ba;
	height:50px;
	width:50px;
	opacity:0;
	visibility:hidden;
}
.seslp_des3wid2_item_thumb .corners > .corner-1{
	border-width:2px 0 0 2px;
	top:0;
	left:0;
	transform:translate(10px,10px);
}
.seslp_des3wid2_item_thumb .corners > .corner-2{
	border-width:2px 2px 0 0;
	top:0;
	right:0;
	transform:translate(-10px,10px);
}
.seslp_des3wid2_item_thumb .corners > .corner-3{
	border-width:0 0 2px 2px;
	bottom:0;
	left:0;
	transform:translate(10px,-10px);
}
.seslp_des3wid2_item_thumb .corners > .corner-4{
	border-width:0 2px 2px 0;
	bottom:0;
	right:0;
	transform:translate(-10px,-10px);
}
.seslp_des3wid2_item:hover .corners > span{
	transform:translate(0,0);
	opacity:1;
	visibility:visible;
}
.seslp_des3wid2_item_category{
	position:absolute;
	right:10px;
	top:10px;
	opacity:0;
}
.seslp_des3wid2_item:hover .seslp_des3wid2_item_category{
	opacity:1;
}
.seslp_des3wid2_item_category a{
	background-color:#0070ba;
	color:#fff !important;
	display:block;
	font-size:12px;
	font-weight:600;
	padding:2px 10px;
	text-decoration:none !important;
	text-transform:uppercase;
}
.seslp_des3wid2_item_cont{
	padding:20px;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}
.seslp_des3wid2_item_title{
	text-transform:uppercase;
	white-space:nowrap;
	font-size:22px;
	overflow:hidden;
	font-weight:600;
	text-overflow:ellipsis;
}
.seslp_des3wid2_item_title a{
	color:#fff;
}
.seslp_des3wid2_item_date{
	color:#fff;
}
.seslp_des3wid2_item_date span + span{
	margin-left:8px;
}
.seslp_des3wid2_item_date span i{
	margin-right:5px;
}
.seslp_des3wid2_item_btn a{
	background-color:#0070ba;
	color:#fff !important;
	display:inline-block;
	font-size:15px;
	font-weight:600;
	margin-left:25px;
	margin-top:20px;
	padding:5px 25px 5px 39px;
	position:relative;
	text-decoration:none;
	text-transform:uppercase;
}
.seslp_des3wid2_item_btn a:before{
	content:'';
	position:absolute;
	top:50%;
	left:-20px;
	background-color:#fff;
	width:45px;
	height:1px;
	margin-top:-1px;
	transform:translateY(-50%);
	transition:left 300ms ease;
}
.seslp_des3wid2_item_btn a:hover:before{
	left:-25px;
}
.seslp_des3wid2_item_btn a:after{
	content:"\f0da";
	font-family:'FontAwesome';
	margin-left:70px;
	color:#fff;
	position:absolute;
	top:50%;
	left:-45px;
	transform:translateY(-50%);
	transition:left 300ms ease;
}
.seslp_des3wid2_item_btn a:hover:after{
	left:-50px;
}
/*Design3 Widget2 Ends*/

/*Design3 Widget3 Start*/
.seslp_des3wid3_wrapper{
	padding:50px 0;
}
.seslp_des3wid3_wrapper h2{
	font-size:34px;
	position:relative;
	text-align:center;
	margin-bottom:20px;
	padding-bottom:10px;
}
.seslp_des3wid3_wrapper h2:before,
.seslp_des3wid3_wrapper h2:after{
	content:"";
	position:absolute;
	background-color:#0070ba;
}
.seslp_des3wid3_wrapper h2:before{
	bottom:4px;
	height:2px;
	width:100px;
	left:50%;
	margin-left:-50px;
}
.seslp_des3wid3_wrapper h2:after{
	border-radius:50%;
	bottom:-3px;
	height:10px;
	width:10px;
	left:0;
	right:0;
	margin:auto;
  border:3px solid white;
}
.seslp_des3wid3_des{
	font-size:14px;
	margin-bottom:30px;
	text-align:center;
}
.seslp_des3wid3_features{
	display:flex;
	flex-wrap:wrap;
}
.seslp_des3wid3_feature_item{
	width:calc(25% - 20px);
	margin:10px;
}
.seslp_des3wid3_feature_item article{
	padding:10px;
	box-shadow:0 6px 10px -4px #dbdbdb;
  transition:all .5s ease;
}
.seslp_des3wid3_feature_item article:hover {
	transform:translateY(-5px);
	transition:all .5s ease;
}
.seslp_des3wid3_feature_item_icon{
	border-radius:50%;
	background-color:#fff;
	width:100px;
	height:100px;
	margin:0 auto 0;
	position:relative;
	transition:all .5s ease;
}
.seslp_des3wid3_feature_item_icon i{
	position:absolute;
	font-size:40px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color:#0070ba;
	width:60px;
	height:100%;
	background-size:100%;
	background-repeat:no-repeat;
  background-position:center;
}
.seslp_des3wid3_feature_item:hover .seslp_des3wid3_feature_item_icon{
	transform:scale(1.05);
	transition:all .5s ease;
}
.seslp_des3wid3_feature_item:hover .seslp_des3wid3_feature_item_icon i{
	color:#fff;
}
.seslp_des3wid3_feature_item_title{
	text-align:center;
	font-size:20px;
	font-weight:600;
	margin-bottom:10px;
	position:relative;
	padding-bottom:5px;
}
.seslp_des3wid3_feature_item_title:after{
	content: "";
	position: absolute;
	height: 1px;
	width: 15%;
	left: 10px;
	right: 0;
	margin: auto;
	bottom: -3px;
}
.seslp_des3wid3_feature_item_title:before{
	content: "";
	position: absolute;
	height: 1px;
	width: 15%;
	left: -10px;
	right: 0;
	margin: auto;
	bottom: 0;
}
.seslp_des3wid3_feature_item_des{
	font-size:14px;
	text-align:center;
	margin-bottom:10px;
}
.seslp_des3wid3_feature_item article:hover {
	transform:translateY(-5px);
	transition:all .5s ease;
	box-shadow:0 6px 10px -4px #dbdbdb;
}
/*Design3 Widget3 Ends*/
/*Design3 Widget4 Start*/
.seslp_des3wid4_wrapper{
	padding:50px 0;
	position:relative;
	overflow:hidden;
}
.seslp_des3wid4_bg{
	background-position:center;
	background-attachment:fixed;
	position:absolute;
	height:100%;
	left:0;
	top:0;
	width:100%;
}
.seslp_des3wid4_wrapper .seslp_blocks_container{
	position:relative;
}
.seslp_des3wid4_left{
	float:left;
	padding-right:50px;
	width:45%;
}
.seslp_des3wid4_left h2{
	font-size:40px;
	color:#fff;
	font-weight:600;
	margin:0;
}
.seslp_des3wid4_des{
	color:#fff;
	font-size:15px;
}
.seslp_des3wid4_btn{
	border-radius:30px;
	border:2px solid #fff;
	color:#fff !important;
	text-decoration:none !important;
	display:inline-block;
	font-size:14px;
	padding:5px 30px;
	margin-top:30px;
}
.seslp_des3wid4_btn:hover{
	background-color:#fff;
	color:#0070ba !important;
}
.seslp_des3wid4_right{
	float:left;
	width:55%;
}
.seslp_des3wid4_listing{
	margin:0 -15px;
}
.seslp_des3wid4_list_item{
	float:left;
	margin-bottom:30px;
	padding:0 15px;
	width:33.33%;
}
.seslp_des3wid4_list_item article{
	position:relative;
	border-radius: 5px;
  overflow: hidden;
}
.seslp_des3wid4_list_item_thumb{
	height:180px;
	width:100%;
	position:relative;
	overflow:hidden;
}
.seslp_des3wid4_list_item_thumb_img,
.seslp_des3wid4_list_item_thumb_img span{
	background-position:center;
	background-size:cover;
	display:block;
	height:100%;
	width:100%;
}
.seslp_des3wid4_list_item ._overlay{
	position:absolute;
	left:0;
	top:0;
	opacity:.5;
	background:black;
}
.seslp_des3wid4_list_item_thumb i.fa{
	font-size:30px;
	color:#fff;
	position:absolute;
	left:10px;
	top:6px;
	opacity:.7;
}
.seslp_des3wid4_list_item_cont{
	position:absolute;
	width:100%;
	padding:10px;
	bottom:0;
	opacity:0;
	visibility:hidden;
}
.seslp_des3wid4_list_item_cont *{
	color:#fff !important;
}
.seslp_des3wid4_list_item_title{
	font-weight:bold;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.seslp_des3wid4_list_item_date{
	font-size:11px;
}
.seslp_des3wid4_list_item_date span + span{
	margin-left:3px;
}
.seslp_des3wid4_list_item_date span i{
	margin-right:3px;
}
.seslp_des3wid4_list_item article:hover .seslp_des3wid4_list_item_thumb_img span{
	transform:scale(1.1);
}
.seslp_des3wid4_list_item article:hover ._overlay{
	background-color:rgba(0, 112, 186, .5);
}
.seslp_des3wid4_list_item article:hover .seslp_des3wid4_list_item_thumb i.fa{
	opacity:0;
}
.seslp_des3wid4_list_item article:hover .seslp_des3wid4_list_item_cont{
	opacity:1;
	visibility:visible;
}
/*Design3 Widget4 Ends*/
/*Design3 Widget5 Start*/
.seslp_des3wid5_wrapper{
	padding:50px 0;
}
.seslp_des3wid5_wrapper h2{
	font-size:28px;
	position:relative;
	text-align:center;
	margin-bottom:30px;
	padding-bottom:15px;
}
.seslp_des3wid5_wrapper h2:before,
.seslp_des3wid5_wrapper h2:after{
	content:"";
	position:absolute;
	background-color:#0070ba;
}
.seslp_des3wid5_wrapper h2:before{
	bottom:4px;
	height:2px;
	width:100px;
	left:50%;
	margin-left:-50px;
}
.seslp_des3wid5_wrapper h2:after{
	border-radius:50%;
	bottom:0;
	height:10px;
	width:10px;
	left:50%;
	margin-left:-50px;

}
.seslp_des3wid5_listing{
	margin:0 -15px;
	display:flex;
  flex-wrap:wrap;
}
.seslp_des3wid5_list_item{
	width:calc(33.33% - 20px);
	position:relative;
	border-radius:5px;
	overflow:hidden;
	margin:0 10px;
	transition: all .5s ease;
}
.seslp_des3wid5_list_item:hover {
	transform: translateX(10px);
	transition: all .5s ease;
}
.seslp_des3wid5_list_item_thumb{
	height:250px;
	position:relative;
	overflow:hidden;
}
.seslp_des3wid5_list_item_cont{
	position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:20px;
}
.seslp_des3wid5_list_item_cont:before{
	content:"";
	position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
	opacity:.8;
}
.seslp_des3wid5_list_item_img,
.seslp_des3wid5_list_item_img span{
	background-position:center;
	background-size:cover;
	display:block;
	height:100%;
	width:100%;
}
.seslp_des3wid5_list_item_cat{
	color:#fff !important;
	bottom:15px;
	font-size:15px;
	font-weight:600;
	left:15px;
	line-height:30px;
	padding:0 15px;
	position:absolute;
	text-transform:uppercase;
	text-decoration:none !important;
	z-index:9;
	border-radius:4px;
}
.seslp_des3wid5_list_item_cat:hover{
	opacity:.8;
}
.seslp_des3wid5_list_item_title{
	font-size:20px;
	margin-top:10px;
	text-transform:capitalize;
	position:relative;
}
.seslp_des3wid5_list_item_date{
	margin-top:5px;
	position:relative;
}
.seslp_des3wid5_list_item_date span + span{
	margin-left:8px;
}
.seslp_des3wid5_list_item_date span i{
	margin-right:5px;
}
.seslp_des3wid5_list_item_des{
	margin-top:10px;
	position:relative;
}
.seslp_des3wid5_list_item_thumb:hover .seslp_des3wid5_list_item_img span{
	transform:scale(1.1);
}
/*Design3 Widget5 End*/

/*Design3 Widget6 Start*/
.seslp_des3wid6_wrapper{
	position:relative;
}
.seslp_des3wid6_container{
	top:50%;
	position:absolute;
	width:100%;
	max-width:1200px;
	z-index:1;
	left:50%;
	transform:translate(-50%,-50%);
}
.seslp_des3wid6_icon{
	border-radius:50%;
	border:2px solid #fff;
	display:inline-block;
	height:90px;
	width:90px;
	position:relative;
}
.seslp_des3wid6_icon:before{
	color:#fff;
	font-size:40px;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	position:absolute;
}
.seslp_des3wid6_cont{
	padding-right:40%;
	position:relative;
}
.seslp_des3wid6_cont h2{
	color:#fff;
	font-size:40px;
	font-weight:600;
	line-height:60px;
	margin-bottom:0;
}
.seslp_des3wid6_btn{
	border:2px solid #fff;
	border-radius:30px;
	color:#fff !important;
	font-size:16px;
	padding:7px 35px;
	position:absolute;
	right:0;
	top:30px;
}
.seslp_des3wid6_btn:hover{
	background-color:#fff;
	color:#0070ba !important;
	text-decoration:none;
}
.seslp_des3wid6_cont p{
	font-size:15px;
	color:#fff;
}
.seslp_des3wid6_listing{
	background-color:#000;
}
.seslp_des3wid6_list_item{
	float:left;
	width:20%;
}
.seslp_des3wid6_list_item_thumb{
	height:290px;
	width:100%;
}
.seslp_des3wid6_list_item_thumb_img{
	opacity:.5;
	position:relative;
}
.seslp_des3wid6_list_item_thumb_img,
.seslp_des3wid6_list_item_thumb_img > span{
	background-size:cover;
	background-position:center;
	height:100%;
	display:block;
	width:100%;
}
.seslp_des3wid6_list_item_thumb_img:hover{
	box-shadow:0 0 15px rgba(0, 0, 0, 0.5);
	opacity:1;
	object-fit:cover;
	transform:scale(1.1);
	z-index:2;
}
.seslp_des3wid6_list_item_thumb_img:after{
	content:"";
	background-color:rgba(0, 0, 0,.4);
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	z-index:1;
}
.seslp_des3wid6_list_item_cont{
	position:absolute;
	bottom:0;
	width:100%;
	left:0;
	padding:20px;
	z-index:2;
}
.seslp_des3wid6_list_item_thumb_img:after,
.seslp_des3wid6_list_item_cont{
	opacity:0;
	filter:alpha(opacity=0);
	transition:all 800ms ease 0s;
}
.seslp_des3wid6_list_item_thumb_img:hover:after,
.seslp_des3wid6_list_item_thumb_img:hover .seslp_des3wid6_list_item_cont{
	opacity:1;
	filter:alpha(opacity=100);
}
.seslp_des3wid6_list_item_cont *{
	color:#fff;
}
.seslp_des3wid6_list_item_title{
	font-size:21px;
	font-weight:600;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.seslp_des3wid6_list_item_date span + span{
	margin-left:8px;
}
.seslp_des3wid6_list_item_date span i{
	margin-right:5px;
}
.seslp_des3wid6_list_item_date{
	font-size:12px;
}
/*Design3 Widget6 End*/
/*Design3 Widget7 Start*/
.seslp_des3wid7_wrapper{
	padding:50px 0;
}
.seslp_des3wid7_wrapper h2{
	font-size:38px;
	position:relative;
	text-align:center;
	margin-bottom:30px;
	padding-bottom:30px;

}
.seslp_des3wid7_wrapper h2:before,
.seslp_des3wid7_wrapper h2:after{
	content:"";
	position:absolute;
	background-color:#0070ba;
}
.seslp_des3wid7_wrapper h2:before{
	bottom:4px;
	height:2px;
	width:100px;
	left:50%;
	margin-left:-50px;
}
.seslp_des3wid7_wrapper h2:after{
	border-radius:50%;
	bottom:0;
	height:10px;
	width:10px;
	left:50%;
	margin-left:-50px;
}
.seslp_des3wid7_member_list{
	text-align:center;
}
.seslp_des3wid7_member_list_item{
	display:inline-block;
	padding:0 14px;
}
.seslp_des3wid7_member_list_item_thumb{
	border:3px solid transparent;
	border-radius:50%;
	overflow:hidden;
	display:block;
	height:100px;
	width:100px;
	transition:all 800ms ease 0s;
}
.seslp_des3wid7_member_list_item_thumb img{
	object-fit:cover;
	display:block;
	height:100%;
	width:100%;
	transition:all 800ms ease 0s;
}
.seslp_des3wid7_member_list_item_thumb:hover{
	border:3px solid #0070ba;
}
.seslp_des3wid7_member_list_item_thumb:hover img{
	transform:scale(1.05);
}
.seslp_des3wid7_member_list{
	display:none;
	-webkit-animation:fadeEffect 1s;
	animation:fadeEffect 1s; /* Fading effect takes 1 second */
}
@-webkit-keyframes fadeEffect {
	from {opacity:0;}
	to {opacity:1;}
}

@keyframes fadeEffect {
	from {opacity:0;}
	to {opacity:1;}
}
.seslp_des3wid7_tabs {
	text-align:center;
	padding-top:30px;
}
.seslp_des3wid7_tabs a{
	background-color:#000;
	border-radius:5px;
	color:#fff;
	display:inline-block;
	margin:0 5px;
	padding:6px 24px;
	border-radius: 20px;
	text-transform: uppercase;
}
.seslp_des3wid7_tabs a:hover,
.seslp_des3wid7_tabs a.active{
	background-color:#0070ba;
	text-decoration:none;
}
/*Design3 Widget7 End*/

@media (min-width:980px) and (max-width:1050px){
	.seslp_des3wid6_list_item_thumb{
		height:220px;
	}
	.seslp_des3wid3_wrapper{
		padding:0px 0px 50px 0px;
	}
}
@media (min-width:768px) and (max-width:979px){
	.seslp_des3wid3_wrapper{
		padding:0px 0px 50px 0px;
	}
	.seslp_des3wid6_list_item{
		width:25%;
	}
	.seslp_des3wid6_list_item_thumb{
		height:200px;
	}
	.seslp_des3wid6_container{
		padding:0px 15px;
	}
	.seslp_des3wid6_cont h2{
		font-size:34px;
	}
}
@media (max-width:767px){
	.seslp_des3wid3_wrapper{
		padding:0px 0px 50px 0px;
	}
	.seslp_des3wid2_wrapper{
		padding:30px 0px;
	}
	.seslp_des3wid2_item{
		width:100%;
		padding:15px;
	}
	.seslp_des3wid3_wrapper h2{
		font-size:32px;
	}
	.seslp_des3wid3_des{
		font-size:16px;
		margin-bottom:0px;
	}
	.seslp_des3wid3_feature_item{
		width:100%;
		padding:15px;
	}
	.seslp_des3wid3_wrapper{
		padding:0px 0px 30px;
	}
	.seslp_des3wid4_left{
		width:100%;
		padding-bottom:30px;
	}
	.seslp_des3wid4_right{
		width:100%;
	}
	.seslp_des3wid5_wrapper{
		padding:30px 0px;
	}
	.seslp_des3wid5_list_item{
		width:100%;
		padding:15px;
	}
	.seslp_des3wid6_list_item{
		width:33%;
	}
	.seslp_des3wid6_list_item_thumb{
		height:180px;
	}
	.seslp_des3wid6_cont{
		padding:0px;
	}
	.seslp_des3wid6_container{
		padding:0px 15px;
	}
	.seslp_des3wid6_cont h2{
		font-size:32px;
	}
	.seslp_des3wid6_cont p{
		font-size:16px;
	}
	.seslp_des3wid6_btn{
		position:relative;
	}
	.seslp_des3wid7_wrapper{
		padding:30px 0px;
	}
}
@media (max-width:599px){

}
@media (max-width:479px){
	.seslp_des3wid3_wrapper h2{
		font-size:28px;
	}
	.seslp_des3wid3_des{
		font-size:14px;
		text-align:center;
	}
	.seslp_des3wid3_feature_item_des{
		font-size:14px;
	}
	.seslp_des3wid4_left{
		padding:0px;
	}
	.seslp_des3wid4_left{
		font-size:28px;
	}
	.seslp_des3wid4_des{
		font-size:15px;
	}
	.seslp_des3wid4_btn{
		font-size:14px;
		margin-top:20px;
		padding:5px 20px;
	}
	.seslp_des3wid4_list_item{
		width:50%;
		margin:0px;
		padding:15px;
	}
	.seslp_des3wid7_wrapper{
		padding:30px 0px;
	}
	.seslp_des3wid5_wrapper h2{
		font-size:28px;
		margin-bottom:20px;
	}
	.seslp_des3wid6_list_item{
		width:50%;
	}
	.seslp_des3wid6_list_item_thumb{
		height:120px;
	}
	.seslp_des3wid6_icon:before{
		content:'';
		font-size:30px;
	}
	.seslp_des3wid6_icon{
		height:70px;
		width:70px;
	}
	.seslp_des3wid6_icon{
		font-size:26px;
	}
	.seslp_des3wid6_cont p{
		font-size:14px;
	}
	.seslp_des3wid6_btn{
		font-size:16px;
		padding:7px 25px;
	}
	.seslp_des3wid7_wrapper h2{
		font-size:28px;
	}
}

/*DESIGN 3 ENDS HERE*/