/*DESIGN 7 START HERE*/
/*Design7 Widget2 End*/
.seslp_des7wid2_wrapper{
	padding:0 0 60px;
	position:relative;
}
.layout_seshtmlbackground_slideshow + .layout_seslandingpage_design7_widget2 .seslp_des7wid2_wrapper{
	padding:0px 0 50px;
}
.layout_seshtmlbackground_slideshow + .layout_seslandingpage_design7_widget2 .seslp_des7wid2_wrapper .seslp_blocks_container{
	margin-top:-40px;
}
.seslp_des7wid2_features{
	margin:0 -15px;
	display:flex;
	flex-wrap:wrap;
}
.seslp_des7wid2_feature_item{
	margin:0 30px;
	width:calc(30% - 20px);
	transition: all .5s ease;
}
.seslp_des7wid2_feature_item:hover {
	transform: translateY(10px);
	transition: all .5s ease;
}
.seslp_des7wid2_feature_item article{
	padding:20px;
	box-shadow:0 3px 3px rgba(0, 0, 0, .1);
	position:relative;
	z-index:3;
}
.seslp_des7wid2_feature_item_icon{
	border-radius:50%;
	margin: -60px auto 0;
  height: 90px;
  width: 90px;
	text-align:center;
	position: relative;
}
.seslp_des7wid2_feature_item_icon i{
	line-height:128px;
	font-size:40px;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 40px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-position: center center;
}
.seslp_des7wid2_feature_item_cont{
	text-align:center;
}
.seslp_des7wid2_feature_item_cont h3{
	background:none;
	border-width:0;
	font-size:17px;
	letter-spacing:normal;
	padding:0;
	margin:0;
}
.seslp_des7wid2_feature_item_cont p{
	color:#9a9a9a;
	font-size:13px;
}
/*Design7 Widget2 End*/

/*Design7 Widget3 Start*/
.seslp_des7wid3_wrapper{
	padding:50px 0;
	position:relative;
}
.seslp_des7wid3_bg{
	position:absolute;
	display:block;
	background-position:center;
	background-size:cover;
	height:100%;
	width:100%;
	left:0;
	top:0;
}
.seslp_des7wid3_bg:after,
.seslp_des7wid3_col_l_item_thumb a:after,
.seslp_des7wid3_list_item_thumb a:after{
	content:"";
	background-color:#162028;
	position:absolute;
	height:100%;
	width:100%;
	left:0;
	top:0;
	opacity:.4;
	filter:alpha(opacity=40);
}
.seslp_des7wid3_wrapper .seslp_blocks_container{
	position:relative;
}
.seslp_des7wid3_wrapper h2{
	position:relative;
	text-align:center;
	color:#fff;
	font-size:35px;
	letter-spacing:normal;
	padding:0 0 10px;
	margin:0 0 40px;
}
.seslp_des7wid3_wrapper h2:after{
	content:"";
	background-color:#fff;
	position:absolute;
	height: 1px;
	width: 5%;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}
.seslp_des7wid3_col_l{
	padding-right:15px;
	float:left;
	width:50%;
}
.seslp_des7wid3_col_l_item{
	padding:0 15px;
	margin:0 -15px;
	position:relative;
}
.seslp_des7wid3_col_l_item_thumb{
	position:relative;
	height:550px;
	overflow:hidden;
}
.seslp_des7wid3_col_l_item_thumb a{
	display:block;
	height:100%;
	width:100%;
}
.seslp_des7wid3_col_l_item_thumb_img{
	background-size:cover;
	background-position:center;
	display:block;
	height:100%;
	width:100%;
}
.seslp_des7wid3_col_l_item_cont{
	position:absolute;
	padding:30px;
	bottom:0;
	left:0;
	width:100%;
}
.seslp_des7wid3_col_l_item_cont *{
	color:#fff !important;
}
.seslp_des7wid3_col_l_item_date{
	font-size:18px;
	font-weight:600;
}
.seslp_des7wid3_col_l_item_cont h3{
	background:none;
	font-size:25px;
	letter-spacing:normal;
	line-height:40px;
	margin:7px 0;
	padding:0;
}
.seslp_des7wid3_col_l_item_cont h3 a:hover{
	text-decoration:none;
}
.seslp_des7wid3_col_l_item_stats{
	font-size:15px;
	font-weight:600;
}
.seslp_des7wid3_col_l_item_stats > span + span{
	margin-left:10px;
}
.seslp_des7wid3_col_l_item_stats > span i{
	margin-right:5px;
}
.seslp_des7wid3_col_l_item_des{
	border-top:1px solid #83a8c2;
	font-size:18px;
	font-weight:600;
	margin-top:15px;
	padding-top:15px;
}
.seslp_des7wid3_col_r{
	padding-left:15px;
	float:left;
	width:50%;
}
.seslp_des7wid3_listings{
	margin:0 -15px;
}
.seslp_des7wid3_list_item{
	float:left;
	padding:0 15px;
	margin-bottom:20px;
	width:50%;
}
.seslp_des7wid3_list_item_thumb{
	position:relative;
	height:200px;
	overflow:hidden;
}
.seslp_des7wid3_list_item_thumb a{
	display:block;
	height:100%;
	width:100%;	
}
.seslp_des7wid3_list_item_thumb_img{
	background-position:center;
	background-size:cover;
	display:block;
	height:100%;
	width:100%;
}
.seslp_des7wid3_list_item_thumb_cont{
	position:absolute;
	padding:15px;
	position:absolute;
	bottom:0;
	width:100%;
}
.seslp_des7wid3_list_item_thumb_cont p{
	color:#fff;
	font-weight:600;
}
.seslp_des7wid3_list_item_thumb_cont p > span + span{
	margin-left:10px;
}
.seslp_des7wid3_list_item_thumb_cont p > span i{
	margin-right:5px;
}
.seslp_des7wid3_list_item_title h3{
	background:none;
	font-weight:600;
	padding:0;
	margin:10px 0 0;
	height:55px;
}
.seslp_des7wid3_list_item_title a{
	color:#fff;
	font-size: 18px;
	line-height: 20px;
	text-decoration: none !important;
	letter-spacing: .5px;
}
.seslp_des7wid3_col_l_item:hover .seslp_des7wid3_col_l_item_thumb_img,
.seslp_des7wid3_list_item_thumb:hover .seslp_des7wid3_list_item_thumb_img{
	transform:scale(1.05);
}
/*Design7 Widget3 End*/

/*Design7 Widget4 Start*/
.seslp_des7wid4_wrapper{
	padding:30px 0 50px;
}
.seslp_des7wid4_left{
	float:left;
	padding-right:20px;
	width:40%;
}
.seslp_des7wid4_left h2{
	background:none;
	font-size:32px;
	letter-spacing:normal;
	margin-bottom:0;
	padding:0;
	line-height:50px;
}
.seslp_des7wid4_left p{
	font-size:14px;
	margin-bottom:15px;
}
.seslp_des7wid4_left a._seeall{
	border:1px solid #5e7587;
	color:#5e7587;
	display:inline-block;
	padding:8px 20px;
	text-decoration:none;
	font-size:15px;
	font-weight:600;
}
.seslp_des7wid4_left a._seeall:hover{
	background-color:#5e7587;
	color:#fff;
}
.seslp_des7wid4_right{
	float:right;
	width:60%;
}
.seslp_des7wid4_listing{
	margin:0 -15px;
	display:flex;
	flex-wrap:wrap;
}
.seslp_des7wid4_list_item{
	margin:0 10px;
	width:calc(50% - 20px);
	margin-bottom: 30px;
  letter-spacing: .5px;
}
.seslp_des7wid4_list_item_thumb{
	height:230px;
	overflow: hidden;
  position: relative;
}
.seslp_des7wid4_list_item_thumb a{
	display:block;
	height:100%;
	width:100%;
}
.seslp_des7wid4_list_item_thumb a span{
	background-size:cover;
	background-position:center;
	display:block;
	height:100%;
	width:100%;
}
.seslp_des7wid4_list_item_cont{
	padding-top:10px;
}
.seslp_des7wid4_list_item_cont h3{
	background:none;
	font-weight:600;
	font-size:20px;
	line-height:27px;
	padding:0;
	margin:0 0 10px;
	letter-spacing:normal;
}
.seslp_des7wid4_list_item_cont h3 a{
	text-decoration:none !important;
}
.seslp_des7wid4_list_item_stat{
	margin-bottom:10px;
}
.seslp_des7wid4_list_item_stat span + span{
	margin-left:5px;
}
.seslp_des7wid4_list_item_stat span i{
	margin-right:3px;
}
.seslp_des7wid4_list_item_thumb:hover a span{
	transform:scale(1.05);
}
/*Design7 Widget4 End*/

/*Design7 Widget5 Start*/
.seslp_des7wid5_wrapper{
	padding:80px 0;
	position:relative;
}
.seslp_des7wid5_wrapper .seslp_blocks_container{
	position:relative;
}
.seslp_des7wid5_bg{
	position:absolute;
	display:block;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	height:100%;
	width:100%;
	left:0;
	top:0;
}
.seslp_des7wid5_bg:after{
	content:"";
	background-color:#162028;
	position:absolute;
	height:100%;
	width:100%;
	left:0;
	top:0;
	opacity:.4;
	filter:alpha(opacity=40);
}
.seslp_des7wid5_row{
	margin:0 -15px;
}
.seslp_des7wid5_column{
	float:left;
	padding:0 15px;
	width:33.33%;
}
.seslp_des7wid5_video{
	height:360px;
	position:relative;
	overflow:hidden;
}
.seslp_des7wid5_video a{
	display:block;
	height:100%;
	width:100%;
}
.seslp_des7wid5_video_img{
	background-size:cover;
	background-position:center;
	display:block;
	height:100%;
	width:100%;
}
.seslp_des7wid5_video_btn{
	border-radius:50%;
	background-color:rgba(255, 255, 255, .8);
	height:80px;
	width:80px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-40px 0 0 -40px;
	text-align:center;
}
.seslp_des7wid5_video_btn i{
	line-height:80px;
	font-size:34px;
	color:#000;
	position:relative;
	left:3px;
	top:2px;
}
.seslp_des7wid5_video:hover .seslp_des7wid5_video_img{
	transform:scale(1.05);
}
.seslp_des7wid5_video:hover .seslp_des7wid5_video_btn{
	background-color:rgba(255, 255, 255, .9);
}
.seslp_des7wid5_column h2{
	font-size:30px;
	color:#fff;
	padding:0;
	margin:0;
	letter-spacing:normal;
	margin-bottom: 10px;
}
.seslp_des7wid5_list_item{
	background-color:rgba(35, 47, 61, .8);
	padding:10px;
	width:100%;
}
.seslp_des7wid5_list_item_img{
	float:left;
	height:60px;
	width:60px;
	margin-right:10px;
}
.seslp_des7wid5_list_item_img a,
.seslp_des7wid5_list_item_img a span{
	background-size:cover;
	background-position:center;
	display:block;
	height:100%;
	width:100%;
}
.seslp_des7wid5_list_item_cont{
	overflow:hidden;
	display:block;
}
.seslp_des7wid5_list_item_cont h3{
	background:none;
	padding:0;
	margin:0;
	letter-spacing:normal;
	font-weight:600;
	font-size:18px;
}
.seslp_des7wid5_list_item_cont a{
	color:#fff !important;
}
.seslp_des7wid5_list_item_cont p{
	color:#7d8c9d;
	font-size:16px;
}
.seslp_des7wid5_list_item_cont p a{
	color:#7d8c9d !important;
}
.seslp_des7wid5_list_item_icon{
	float:right;
	background-color:#101a24;
	height:40px;
	width:40px;
	margin-left:10px;
	text-align:center;
	margin-top:8px;
}
.seslp_des7wid5_list_item_icon i{
	color:#fff;
	line-height:40px;
	font-size:23px;
	position:relative;
	left:-2px;
}
.seslp_des7wid5_right > div + div{
	margin-top:30px;
}
/*Design7 Widget5 End*/

/*Design7 Widget6 Start*/
.seslp_des7wid6_wrapper{
	background-color:#162028;
	position:relative;
	min-height:330px;
}
.seslp_des7wid6_cont{
	position:absolute;
	background-color:#162028;
	height:165px;
	top:165px;
	left:12.5%;
	padding:20px;
	width:50%;
	z-index:1;
}
.seslp_des7wid6_cont h2{
	letter-spacing:normal;
	color:#fff;
	font-size:36px;
	font-weight:600;
}
.seslp_des7wid6_cont_btns a{
	border:1px solid #fff;
	font-size:18px;
	display:inline-block;
	margin-right:15px;
	color:#fff;
	padding:6px 20px;
}
.seslp_des7wid6_cont_btns a:hover{
	background-color:#fff;
	color:#162028;
	text-decoration:none;
}
.seslp_des7wid6_list_item{
	float:left;
	height:165px;
	width:12.5%;
	position:relative;	
}
.seslp_des7wid6_list_item a,
.seslp_des7wid6_list_item_img,
.seslp_des7wid6_list_item_thumb_overlay{
	display:block;
	height:100%;
	width:100%;
}
.seslp_des7wid6_list_item_img{
	background-size:cover;
	background-position:center;
}
.seslp_des7wid6_list_item_thumb_overlay{
	background-color:#000;
	position:absolute;
	top:0;
	opacity:.4;
	filter:Alpha(Opacity=40);
}
.seslp_des7wid6_list_item:hover .seslp_des7wid6_list_item_thumb_overlay{
	opacity:0;
	filter:Alpha(Opacity=0);
}
/*Design7 Widget6 End*/
@media (min-width: 980px) and (max-width:1050px){
	
}
@media (min-width: 768px) and (max-width:979px){
	.seslp_des7wid3_col_l{
		padding:15px 0px;
		width:100%;
	}
	.seslp_des7wid3_wrapper{
		padding:30px 0px;
	}
	.seslp_des7wid3_wrapper h2{
		font-size:38px;
		margin:0px 0px 20px;
	}
	.seslp_des7wid3_col_l_item_thumb{
		height:350px;
	}
	.seslp_des7wid3_col_r{
		padding:0px;
	}
	.seslp_des7wid3_list_item_title h3{
		height:auto;
	}
	.seslp_des7wid4_left{
		width:100%;
		margin-bottom:20px;
	}
	.seslp_des7wid4_right{
		width:100%;
	}
	.seslp_des7wid5_wrapper{
		padding:30px 0px;
	}
	.seslp_des7wid5_column{
		width:100%;
		padding:15px;
	}
	.seslp_des7wid6_cont h2{
		font-size:28px;
	}
}
@media (max-width:767px){
	.seslp_des7wid2_wrapper .seslp_blocks_container{
		margin-top:80px;
	}
	.seslp_des7wid2_feature_item{
		width:100%;
		margin-bottom:100px;
	}
	.seslp_des7wid2_feature_item:last-child{
		margin-bottom:0px;
	}
	.seslp_des7wid3_col_l{
		padding:15px 0px;
		width:100%;
	}
	.seslp_des7wid3_wrapper{
		padding:30px 0px;
	}
	.seslp_des7wid3_wrapper h2{
		font-size:38px;
		margin:0px 0px 20px;
	}
	.seslp_des7wid3_col_l_item_thumb{
		height:330px;
	}
	.seslp_des7wid3_col_r{
		padding:0px;
		width:100%;
	}
	.seslp_des7wid3_list_item_title h3{
		height:auto;
	}
	.seslp_des7wid4_left{
		width:100%;
		margin-bottom:20px;
		padding:0px;
	}
	.seslp_des7wid4_left h2{
		font-size:28px;
	}
	.seslp_des7wid4_left p{
		font-size:14px;
	}
	.seslp_des7wid4_left a._seeall{
		font-size:14px;
	}
	.seslp_des7wid4_right{
		width:100%;
	}
	.seslp_des7wid4_list_item{
		width:100%;
		padding:15px;
	}
	.seslp_des7wid5_wrapper{
		padding:30px 0px;
	}
	.seslp_des7wid5_column{
		width:100%;
		padding:15px;
	}
	.seslp_des7wid6_cont h2{
		font-size:28px;
	}
	.seslp_des7wid6_cont{
		position:initial;
		height:auto;
		width:100%;
	}
	.seslp_des7wid6_list_item{
		width:25%;
	}
}
@media (max-width:599px){

}
@media (max-width:479px){
	.seslp_des7wid2_feature_item_icon i{
		line-height:110px;
		font-size:38px;
	}
	.seslp_des7wid2_feature_item_icon{
		height:108px;
		width:108px;
	}
	.seslp_des7wid2_feature_item_cont p{
		font-size:14px;
	}
	.seslp_des7wid3_col_l_item_date,
	.seslp_des7wid3_col_l_item_stats{
		font-size:14px;
	}
	.seslp_des7wid3_col_l_item_cont h3{
		font-size:28px;
	}
	.seslp_des7wid3_list_item{
		width:100%;
	}
	.seslp_des7wid3_list_item:last-child{
		margin-bottom:0px;
	}
	.seslp_des7wid6_cont h2{
		font-size:24px;
	}
	.seslp_des7wid6_list_item{
		width:33%;
		height:90px;
	}
}
/*DESIGN 7 ENDS HERE*/
