/*DESIGN 6 START HERE*/
.seslp_des6_head{
	font-size: 28px;
	letter-spacing: 0px;
	padding: 0 0 15px;
	margin: 0 0 15px;
	text-align: center;
	font-weight: 500;
	position:relative;
}
.seslp_des6_head:after{
	content:"";
	position:absolute;
	bottom:0;
	left:0;
	right: 0;
	height: 2px;
	width: 10%;
	margin: auto;
}
.seslp_des6_more_btn{
	background-color:#6fbe4a;
	border-radius:3px;
	display:inline-block;
	color:#fff !important;
	padding:8px 20px;
	font-size:18px;
}
.seslp_des6_more_btn i{
	margin-left:2px;
}
.seslp_des6_more_btn:hover{
	text-decoration:none;
	opacity:.8;
}
/*Design6 Widget2 End*/
.seslp_des6wid2_wrapper{
	padding:20px 0 50px;
}
.seslp_des6wid2_des{
	font-size:14px;
	margin-bottom:30px;
	text-align:center;
}
.seslp_des6wid2_features{
	margin:0 -15px;
}
.seslp_des6wid2_features ul {
	display: flex;
	flex-wrap: wrap;
}
.seslp_des6wid2_feature_item{
	width: calc(33% - 10px);
  margin: 5px;
}
.seslp_des6wid2_feature_item article {
	display: flex;
	flex-wrap: nowrap;
}
.seslp_des6wid2_feature_item_icon{
	margin-right:10px;
	margin-bottom:20px;
	position:relative;
	width:60px;
	height:60px;
}
.seslp_des6wid2_feature_item_icon i{
	font-size:45px;
  text-align:center;
	float:left;
	width:100%;
	height:60px;
	background-repeat: no-repeat;
	background-size: 100%;
}
.seslp_des6wid2_feature_item_icon span{
	border-bottom:1px solid #b2b2b2;
	bottom:20px;
	position:absolute;
	right:0;
	height:1px;
	left:100px;
}
.seslp_des6wid2_feature_item_cont h3{
	padding:0;
	margin:0 0 10px;
	font-size:18px;
	font-weight:500;
	letter-spacing:normal;
	position:relative;
}
.seslp_des6wid2_feature_item_cont h3:before {
	content: "";
	position: absolute;
	width: 10%;
	bottom: -6px;
	left: 0;
	right: 0;
	height: 2px;
	transition: all .5s ease;
}
.seslp_des6wid2_feature_item_cont h3:after {
	content: "";
	position: absolute;
	bottom: -6px;
	left: 0;
	right: 0;
	height: 2px;
	transition: all .5s ease;
	width:0;
}
.seslp_des6wid2_feature_item_cont:hover h3:before{
	width:0;
	transition: all .5s ease;
}
.seslp_des6wid2_feature_item_cont:hover h3:after{
	width:10%;
	transition: all .5s ease;
}
.seslp_des6wid2_feature_item_cont p{
	font-size:14px;
}
/*Design6 Widget2 End*/

/*Design6 Widget3 Start*/
.seslp_des6wid3_wrapper{
	padding:50px 0;
	position:relative;
}
.seslp_des6wid3_bg{
	background-size:cover;
	background-position:center;
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%
}
.seslp_des6wid3_bg:before{
	content:'';
	background:rgba(0, 0, 0, 0.19);
	position:absolute;
	top:0px;
	height:100%;
	width:100%;
}
.seslp_des6wid3_wrapper .seslp_blocks_container{
	position:relative;
}
.seslp_des6wid3_row{
	margin:0 -15px;
}
.seslp_des6wid3_col{
	float:left;
	padding:0 15px;
	width:50%;
}
.seslp_des6wid3_more_btn{
	margin-top:50px;
	text-align:right;
}
.seslp_des6wid3_left_listing{
	margin:0 -15px;
}
.seslp_des6wid3_left_list_item{
	float:left;
	padding:15px;
	width:33.33%;
}
.seslp_des6wid3_left_list_item_thumb{
	height:160px;
}
.seslp_des6wid3_left_list_item_thumb_img,
.seslp_des6wid3_left_list_item_thumb_img > span{
	background-position:center;
	background-size:cover;
	height:100%;
	position:relative;
	display:block;
	width:100%;
	overflow:hidden;
}
.seslp_des6wid3_left_list_item_thumb_img:after{
	content:"";
	background-color:rgba(0, 0, 0, .1);
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.seslp_des6wid3_left_list_item_thumb_img i{
	border-radius:50%;
	border:2px solid #fff;
	height:60px;
	position:absolute;
	left:50%;
	top:50%;
	text-align:center;
	transform:translate(-50%,-50%);
	width:60px;
	z-index:1;
}
.seslp_des6wid3_left_list_item_cont{
	padding-top:10px;
}
.seslp_des6wid3_left_list_item_cont h3{
	font-size:18px;
	font-weight:600;
	letter-spacing:normal;
}
.seslp_des6wid3_left_list_item_big{
	width:100%;
}
.seslp_des6wid3_left_list_item_big .seslp_des6wid3_left_list_item_thumb{
	height:350px;
}
.seslp_des6wid3_left_list_item_thumb_img i:before{
	color:#fff;
	font-size:30px;
	line-height:56px;
}
.seslp_des6wid3_left_list_item_thumb:hover .seslp_des6wid3_left_list_item_thumb_img span{
	transform:scale(1.05);
}

.seslp_des6wid3_right_list_item{
	padding:15px 0;
}
.seslp_des6wid3_right_list_item article{
	background-color:#fff;
}
.seslp_des6wid3_right_list_item_thumb{
	float:left;
	position:relative;
	width:150px;
	height:130px;
}
.seslp_des6wid3_right_list_item_thumb a,
.seslp_des6wid3_right_list_item_thumb a span{
	background-position:center;
	background-size:cover;
	display:block;
	overflow:hidden;
	height:100%;
	width:100%;
}
.seslp_des6wid3_right_list_item_thumb a:after{
	content:"";
	background-color:rgba(0, 0, 0, .2);
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
}
.seslp_des6wid3_right_list_item_thumb p{
	color:#fff;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	width:100%;
	z-index:1;
}
.seslp_des6wid3_right_list_item_thumb p span{
	display:block;
	text-align:center;
	font-size:40px;
}
.seslp_des6wid3_right_list_item_thumb p span + span{
	font-size:24px;
}
.seslp_des6wid3_right_list_item_cont{
	padding:15px 20px;
	overflow:hidden;
	display:block;
}
.seslp_des6wid3_right_list_item_cont h3{
	background:none;
	border-width:0;
	font-weight:600;
	padding:0;
	margin:0;
	font-size:24px;
	letter-spacing:normal;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.seslp_des6wid3_right_list_item_cont h3 a{
	color:#000;
}
.seslp_des6wid3_right_list_item_stats{
	font-size:16px;
}
.seslp_des6wid3_right_list_item_stats span + span{
	margin-left:10px;
}
.seslp_des6wid3_right_list_item_stats span i{
	margin-right:5px;
}
.seslp_des6wid3_right_list_item article:hover .seslp_des6wid3_right_list_item_thumb a > span{
	transform:scale(1.05);
}
/*Design6 Widget3 End*/

/*Design6 Widget4 Start*/
.seslp_des6wid4_wrapper{
	padding:50px 0;
	position:relative;
}
.seslp_des6wid4_listings{
	margin:40px -15px 0;
}
.seslp_des6wid4_list_item{
	float:left;
	padding:0 15px;
	width:33.33%;
}
.seslp_des6wid4_list_item_thumb{
	height:260px;
	overflow:hidden;
	position:relative;
	border-radius:5px;
}
.seslp_des6wid4_list_item_thumb a,
.seslp_des6wid4_list_item_thumb a span{
	background-position:center;
	background-size:cover;
	display:block;
	height:100%;
	width:100%;
}
.seslp_des6wid4_list_item_cat{
	position:absolute;
	bottom:0;
	left:0;
}
.seslp_des6wid4_list_item_cat a{
	background-color:#000;
	color:#fff !important;
	display:block;
	padding:5px 15px;
	font-weight:600;
	text-decoration:none !important;
}
.seslp_des6wid4_list_item_cont{
	padding-top:15px;
}
.seslp_des6wid4_list_item_cont h3{
	font-size:20px;
	font-weight:600;
	line-height:30px;
}
.seslp_des6wid4_list_item_stats{
	font-size:16px;
	margin-bottom:5px;
}
.seslp_des6wid4_list_item_stats span + span{
	margin-left:10px;
}
.seslp_des6wid4_list_item_stats span i{
	margin-right:5px;
}
.seslp_des6wid4_list_item_des{
	font-size:16px;
}
.seslp_des6wid4_list_item article:hover .seslp_des6wid4_list_item_thumb a span{
	transform:scale(1.05);
}
/*Design6 Widget4 End*/
/*Design6 Widget5 Start*/
.seslp_des6wid5_wrapper{
	padding:50px 0;
	position:relative;
}
.seslp_des6wid5_bg{
	background-size:cover;
	background-attachment:fixed;
	position:absolute;
	height:100%;
	width:100%;
	left:0;
	top:0;
}
.seslp_des6wid5_wrapper .seslp_des6_head{
	color:#fff;
	margin-bottom:40px;
}
.seslp_des6_listings{
	margin:0 -15px;
	position:relative;
}
.seslp_des6_listings .owl-stage-outer{
	overflow:hidden;
}
.seslp_des6_listings .owl-item{
	float:left;
}
.seslp_des6_listings .owl-nav{
	position:absolute;
	right:15px;
	top:-70px;
}
.seslp_des6_listings .owl-nav div{
	background-color:#6fbe4a;
	float:left;
	height:40px;
	width:40px;
	margin-left:10px;
	cursor:pointer;
}
.seslp_des6_listings .owl-nav div i{
	width:100%;
	line-height:40px;
	color:#fff;
	font-size:30px;
	text-align:center;
}
.seslp_des6_listings .owl-nav div.owl-prev i:before{
	top:-1px;
	position:relative;
	left:-2px;
}
.seslp_des6_listings .owl-nav div.owl-next i:before{
	top:-1px;
	position:relative;
	right:-2px;
}
.seslp_des6_list_item{
	padding:0 15px;
}
.seslp_des6_list_item_thumb{
	position:relative;
	height:235px;
}
.seslp_des6_list_item_thumb > a{
	display:block;
	overflow:hidden;
	height:100%;
	width:100%;
}
.seslp_des6_list_item_thumb > a:after{
	content:"";
	background-color:#000;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	opacity:.4;
	filter:Alpha(Opacity=40);
}
.seslp_des6_list_item_thumb_img{
	background-position:center center;
	background-size:cover;
	display:block;
	height:100%;
	width:100%;
}
.seslp_des6_list_item_icon{
	background-color:#6fbe4a;
	height: 40px;
	width: 40px;
	position:absolute;
	bottom:0;
	right: 0;
	text-align:center;
	z-index:1;
}
.seslp_des6_list_item_icon i{
	font-size: 20px;
	color:#fff;
	line-height: 40px;
}
.seslp_des6_list_item_title{
	color:#fff;
	font-size: 22px;
	font-weight:600;
	top:50%;
	transform:translateY(-50%);
	position:absolute;
	text-align:center;
	padding:0 15px;
	width:100%;
	z-index:1;
}
.seslp_des6_list_item_thumb:hover .seslp_des6_list_item_thumb_img{
	transform:scale(1.05);
}
.seslp_des6wid5_bg:before {
	content: "";
	position: absolute;
	background: black;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .6;
}
/*Design6 Widget5 End*/

/*Design6 Widget6 Start*/
.seslp_des6wid6_wrapper{
	padding:50px 0;
}
.seslp_des6wid6_wrapper .seslp_des6_head{
	margin-bottom:40px;
}
.seslp_des6wid6_list_item{
	float:left;
	height:165px;
	width:14.28%;
	position:relative;	
}
.seslp_des6wid6_list_item a,
.seslp_des6wid6_list_item_img,
.seslp_des6wid6_list_item_thumb_overlay{
	display:block;
	height:100%;
	width:100%;
}
.seslp_des6wid6_list_item_img{
	background-size:cover;
	background-position:center;
}
.seslp_des6wid6_list_item_thumb_overlay{
	background-color:#000;
	position:absolute;
	top:0;
	opacity:.4;
	filter:Alpha(Opacity=40);
}
.seslp_des6wid6_list_item:hover .seslp_des6wid6_list_item_thumb_overlay{
	opacity:0;
	filter:Alpha(Opacity=0);
}
/*Design6 Widget6 End*/

@media (min-width: 980px) and (max-width:1050px){
	
}
@media (min-width: 768px) and (max-width:979px){
	.seslp_des6_head{
		font-size:28px;
	}
	.seslp_des6wid2_des{
		font-size:16px;
	}
	.seslp_des6wid2_feature_item_icon i{
		font-size:60px;
	}
	.seslp_des6wid2_feature_item_icon span{
		left:90px;
	}
	.seslp_des6wid2_feature_item_cont h3{
		font-size:18px;
	}
	.seslp_des6wid3_right_list_item_thumb p span{
		font-size:30px;
	}
	.seslp_des6wid3_left_list_item_thumb{
		height:90px;
	}
	.seslp_des6wid3_left_list_item_cont h3{
		font-size:16px;
	}
	.seslp_des6_list_item_title{
		font-size:24px;
	}
	.seslp_des6wid6_list_item{
		width:20%;
	}
}
@media (max-width:767px){
	.seslp_des6_head{
		font-size:28px;
	}
	.seslp_des6wid2_des{
		font-size:14px;
	}
	.seslp_des6wid2_feature_item{
		width:100%;
		padding:15px;
	}
	.seslp_des6wid2_feature_item_icon i{
		font-size:40px;
	}
	.seslp_des6wid2_feature_item_icon span{
		left:60px;
	}
	.seslp_des6wid2_feature_item_cont h3{
		font-size:18px;
	}
	.seslp_des6wid2_feature_item_cont p{
		font-size:14px;
	}
	.seslp_des6wid3_wrapper{
		padding:30px 0px;
	}
	.seslp_des6wid3_right_list_item_thumb p span{
		font-size:30px;
	}
	.seslp_des6wid3_col{
		width:100%;
		padding:15px 0px;
	}
	.seslp_des6wid3_left_list_item_big .seslp_des6wid3_left_list_item_thumb{
		height:310px;
	}
	.seslp_des6wid3_left_list_item{
		padding:10px;
	}
	.seslp_des6wid3_more_btn{
		margin-top:10px;
	}
	.seslp_des6_more_btn{
		font-size:16;
		padding:6px 15px;
	}
	.seslp_des6wid3_left_list_item_thumb{
		height:90px;
	}
	.seslp_des6wid3_left_list_item_cont h3{
		font-size:16px;
	}
	.seslp_des6wid4_wrapper,
	.seslp_des6wid5_wrapper,
	.seslp_des6wid6_wrapper{
		width:30px 0px;
	}
	.seslp_des6_list_item_thumb{
		height:180px;
	}
	.seslp_des6_list_item_title{
		font-size:18px;
	}
	.seslp_des6wid6_list_item{
		width:20%;
		height:100px;
	}
	.seslp_des6wid4_list_item{
		width:100%;
		padding:10px 15px;
	}
	
}
@media (max-width:599px){

}
@media (max-width:479px){
	.seslp_des6_head{
		font-size:24px;
	}
	.seslp_des6wid3_left_list_item_big .seslp_des6wid3_left_list_item_thumb{
		height:240px;
	}
	.seslp_des6wid3_left_list_item{
		width:100%;
	}
	.seslp_des6wid3_left_list_item_thumb{
		height:160px;
	}
	.seslp_des6wid3_right_list_item_thumb{
		width:100%;
	}
	.seslp_des6wid3_right_list_item_cont h3{
		font-size:18;
	}
	.seslp_des6wid3_right_list_item_stats{
		font-size:14px;
	}
	.seslp_des6wid4_listings{
		margin:10px -15px 0;
	}
	.seslp_des6wid4_list_item_thumb{
		height:200px;
	}
	.seslp_des6wid4_list_item_cont h3{
		margin-bottom:0px;
		font-size:18px;
	}
	.seslp_des6wid6_list_item {
    width: 33%;
    height: 80px;
	}
}
/*DESIGN 6 ENDS HERE*/