/*DESIGN 2 START HERE*/
/*Design2 Widget2 Starts*/
.seslp_des2wid2_column{
	background-color:#eb1b34;
	float:left;
	width:50%;
}
.seslp_des2wid2_column_cont{
	padding:30px;
}
.seslp_des2wid2_column_title{
	color:#fff;
	font-size:30px;
	font-weight:600;
}
.seslp_des2wid2_column_des{
	color:#fff;
	font-size:15px;
}
.seslp_des2wid2_column_btns{
	margin-top:30px;
}
.seslp_des2wid2_column_icon{
	border-radius:50%;
	border:2px solid #fff;
	position:relative;
	float:left;
	height:80px;
	width:80px;
	top:-15px;
}
.seslp_des2wid2_column_icon i{
	color:#fff;
	font-size:30px;
	left:50%;
	position:absolute;
	top:50%;
	transform:translate(-50%, -50%);
}
.seslp_des2wid2_column_btn{
	float:right;
	border-radius:5px;
	border:2px solid #fff;
	line-height:35px;
	padding:0 15px;
	color:#fff !important;
	font-size:14px;
	font-weight:600;
}
.seslp_des2wid2_column_btn:hover{
	background-color:#fff;
	color:#eb1b34 !important;
	text-decoration:none;
}
.seslp_des2wid2_listing_item{
	float:left;
	height:180px;
	position:relative;
	width:25%;
	overflow:hidden;
}
.seslp_des2wid2_listing_item a,
.seslp_des2wid2_listing_item_img{
	display:block;
	height:100%;
	width:100%;
}
.seslp_des2wid2_listing_item_img{
	background-position:center;
	background-size:cover;
}
.seslp_des2wid2_listing_item_overlay{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	opacity:.6;
	transition:all .5s ease;
}
.seslp_des2wid2_listing_item_overlay:hover{
	transition:all .5s ease;
}
.seslp_des2wid2_listing_item_icon{
	border-radius:50%;
	border:2px solid #fff;
	position:relative;
	float:left;
	height:50px;
	width:50px;
	left:50%;
	position:absolute;
	top:50%;
	transform:translate(-50%, -50%);
	text-align:center;
	opacity:0;
}
.seslp_des2wid2_listing_item_icon i{
	line-height:46px;
	color:#fff;
	font-size:23px;
}
.seslp_des2wid2_listing_item:hover .seslp_des2wid2_listing_item_img{
	transform:scale(1.1);
}
.seslp_des2wid2_listing_item:hover .seslp_des2wid2_listing_item_icon{
	opacity:1;
}
.seslp_des2wid2_column_left .seslp_des2wid2_column_title,
.seslp_des2wid2_column_left .seslp_des2wid2_column_des{
	text-align:right;
}
.seslp_des2wid2_column_left .seslp_des2wid2_column_icon{
	float:right;
}
.seslp_des2wid2_column_left .seslp_des2wid2_column_btn{
	float:left;
}
.seslp_des2wid2_column_right,
.seslp_des2wid2_column_right .seslp_des2wid2_listing_item_overlay{
	background-color:#281a35;
}
.seslp_des2wid2_column_right .seslp_des2wid2_column_btn:hover{
	color:#281a35;
}
/*Design2 Widget1 Ends*/
/*Design2 Widget3 Starts*/
.seslp_des2wid3_wrapper{
	padding:0 0 50px;
}
.seslp_des2wid3_wrapper h2{
	font-size:30px;
	letter-spacing:normal;
	text-align:center;
	font-weight: 500;
	position:relative;
	padding:15px 0 5px;
	margin:0 0 15px;
}
.seslp_des2wid3_wrapper h2:after{
	border-bottom:2px solid #eb1b34;
	bottom:0;
	content:"";
	left:50%;
	margin-left:-50px;
	position:absolute;
	width:100px;
}
.seslp_des2wid3_des{
	margin:0 0 40px;
	font-size:14px;
	text-align:center;
}
.seslp_des2wid3_cont{
	display:table;
	width:100%;
}
.seslp_des2wid3_cont > div{
	display:table-cell;
	vertical-align:top;
}
.seslp_des2wid3_cont_left{
	width:40%;
}
.seslp_des2wid3_video{
	width:100%;
	height:100%;
	display:block;
	height:360px;
	position:relative;
	box-shadow:0 15px 20px -6px #6b6b6b;
}
.seslp_des2wid3_video a,
.seslp_des2wid3_video_img{
	display:block;
	height:100%;
	width:100%;
	overflow:hidden;
}
.seslp_des2wid3_video_img{
	background-size:cover;
	background-position:center;
}
.seslp_des2wid3_video_btn{
	background-color:rgba(0, 0, 0, .3);
	left:0;
	right:0;
	bottom:0;
	top:0;
	position:absolute;
}
.seslp_des2wid3_video_btn i{
	border:1px solid #fff;
	border-radius:50%;
	color:#fff;
	font-size:35px;
	height:100px;
	left:50%;
	line-height:98px;
	margin:-50px 0 0 -50px;
	position:absolute;
	text-align:center;
	top:50%;
	width:100px;
}
.seslp_des2wid3_video a:hover .seslp_des2wid3_video_img{
	transform:scale(1.1);
}
.seslp_des2wid3_cont_right{
	padding:0 50px;
	width:60%;
}
.seslp_des2wid3_features_list_item{
	padding-bottom:30px;
	position:relative;
}
.seslp_des2wid3_features_list_item:before{
	content:"";
	border-left:1px dashed #eb1b34;
	position:absolute;
	left:50px;
	height:100%;	
}
.seslp_des2wid3_features_list_item:nth-last-child(1){
	padding-bottom:0;
}
.seslp_des2wid3_features_list_item:nth-last-child(1):before{
	display:none;
}
.seslp_des2wid3_feature_list_icon{
	background-color:#fff;
	border-radius:50%;
	border:1px dashed #eb1b34;
	height:100px;
	width:100px;
	float:left;
	margin-right:25px;
	text-align:center;
	position:relative;
	z-index:1;
}
.seslp_des2wid3_feature_list_icon i{
	color:#eb1b34;
	font-size:40px;
	line-height:98px;
}
.seslp_des2wid3_features_list_cont{
	overflow:hidden;
	display:block;
}
.seslp_des2wid3_features_list_cont h3{
	font-size:20px;
	margin:0 0 5px;
	background:none !important;
	padding:0 !important;
	font-weight:500;
}
.seslp_des2wid3_features_list_cont p{
	font-size:13px;
}
/*Design2 Widget3 Ends*/
/*Design2 Widget4 Start*/
.seslp_des2wid4_wrapper{
	position:relative;
	padding:50px 0 0;
	margin-bottom:90px;
}
.seslp_des2wid4_bg{
	position:absolute;
	display:block;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	height:100%;
	width:100%;
	left:0;
	top:0;
}
.seslp_des2wid4_bg:after{
	content:"";
	background-color:rgba(0, 0, 0, .6);
	height:100%;
	width:100%;
	left:0;
	top:0;
	position:absolute;
}
.seslp_des2wid4_wrapper .seslp_blocks_container{
	position:relative;
}
.seslp_des2wid4_wrapper h2.seslp_des2wid4_head{
	border:1px solid #fff;
	display:inline-block;
	font-size:20px;
	font-weight:600;
	color:#fff;
	padding:10px 20px;
	margin-bottom:30px;
}
.seslp_des2wid4_wrapper h3.seslp_des2wid4_subhead{
	background:none !important;
	border-width:0 !important;
	color:#fff;
	font-size:40px;
	padding:0;
	margin:0;
}
.seslp_des2wid4_wrapper .seslp_des2wid4_des{
	font-size:15px;
	color:#fff;
}
.seslp_des2wid4_listing{
	clear:both;
	position:relative;
	margin:-50px -15px 0;
	bottom:-90px;
}
.seslp_des2wid4_list_item{
	width:33.33%;
	float:left;
	padding:0 15px;
}
.seslp_des2wid4_list_item article{
	display:block;
}
.seslp_des2wid4_list_item_thumb{
	height:250px;
	overflow:hidden;
	width:100%;
}
.seslp_des2wid4_list_item_img,
.seslp_des2wid4_list_item_img span{
	background-position:center;
	background-size:cover;
	display:block;
	height:100%;
	width:100%;
}
.seslp_des2wid4_list_item_thumb:hover .seslp_des2wid4_list_item_img span{
	transform:scale(1.1);
}
.seslp_des2wid4_list_item_cont{
	background-color:#eb1b34;
	padding:15px;
}
.seslp_des2wid4_list_item_date{
	float:left;
	text-align:center;
}
.seslp_des2wid4_list_item_date span{
	display:block;
	color:#fff;
	width:80px;
}
.seslp_des2wid4_list_item_date span._month{
	font-size:20px;
}
.seslp_des2wid4_list_item_date span._day{
	font-size:35px;
	font-weight:600;
	line-height:35px;
}
.seslp_des2wid4_list_item_date + div{
	border-left:1px solid #fff;
	padding-left:15px;
}
.seslp_des2wid4_list_item_info{
	display:block;
	overflow:hidden;
}
.seslp_des2wid4_list_item_title{
	padding:0 !important;
	margin:0 !important;
	font-size:20px;
	font-weight:600;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.seslp_des2wid4_list_item_title a{
	color:#fff !important;
	text-decoration:none;
}
.seslp_des2wid4_list_item_stat,
.seslp_des2wid4_list_item_stat a{
	color:#fff !important;
	font-size:15px;
}
.seslp_des2wid4_list_item_stat > span + span{
	margin-left:5px;
}
.seslp_des2wid4_list_item_stat i{
	margin-right:3px;
	width:16px;
}
/*Design2 Widget4 Ends*/
/*Design2 Widget5 Starts*/
.seslp_des2wid5_wrapper{
	padding:50px 0;
}
.seslp_des2wid5_wrapper h2{
	font-size:34px;
	letter-spacing:normal;
	text-align:center;
	position:relative;
	padding:15px 0 10px;
	margin:0 0 20px;
}
.seslp_des2wid5_wrapper h2:after{
	border-bottom:1px solid #eb1b34;
	bottom:0;
	content:"";
	left:50%;
	margin-left:-50px;
	position:absolute;
	width:100px;
}
.seslp_des2wid5_listings{
	float:left;
	margin-top:30px;
	width:100%;
}
.seslp_des2wid5_listing_item{
	float:left;
	padding:0 15px;
	width:33.33%;
}
.seslp_des2wid5_listing_item_thumb{
	height:250px;
	overflow:hidden;
	position:relative;
	width:100%;
}
.seslp_des2wid5_listing_item_thumb a,
.seslp_des2wid5_listing_item_thumb_img{
	background-position:center;
	background-size:cover;
	display:block;
	width:100%;
	height:100%;
}
.seslp_des2wid5_listing_item_thumb:hover .seslp_des2wid5_listing_item_thumb_img{
	transform:scale(1.1);
}
.seslp_des2wid5_listing_item_thumb_overlay{
	background-color:rgba(0, 0, 0, .6);
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	opacity:0;
}
.seslp_des2wid5_listing_item_thumb:hover .seslp_des2wid5_listing_item_thumb_overlay{
	opacity:1;
	right:20px;
	left:20px;
	bottom:20px;
	top:20px;
}
.seslp_des2wid5_listing_item_thumb_overlay i{
	border-radius:50%;
	background-color:#eb1b34;
	height:50px;
	width:50px;
	text-align:center;
	font-size:20px;
	position:absolute;
	top:50%;
	left:50%;
	color:#fff;
	margin:-25px 0 0 -25px;
}
.seslp_des2wid5_listing_item_thumb_overlay i:before{
	line-height:48px;
}
.seslp_des2wid5_listing_item_info{
	background-color:#f7f7f7;
	padding:15px;
}
.seslp_des2wid5_listing_item_title{
	font-size:20px;
	font-weight:600;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.seslp_des2wid5_listing_item_date{
	font-size:15px;
	margin-bottom:10px;
}
.seslp_des2wid5_listing_item_date p i{
	margin-right:5px;
}
.seslp_des2wid5_listing_item_date span + span{
	margin-left:8px;
}
.seslp_des2wid5_listing_item_des{
	font-size:15px;
}
/*Design2 Widget5 Ends*/
/*Design2 Widget6 Starts*/
.seslp_des2wid6_container{
	background-color:#eb1b34;
	height:300px;
	text-align:center;
	position:relative;
	overflow:hidden;
	width:100%;
}
.seslp_des2wid6_members_listings{
	position:absolute;
	display:flex;
	flex-wrap:wrap;
	overflow-wrap:break-word;
}
.seslp_des2wid6_members_listings > a,
.seslp_des2wid6_members_listings > img{
	height:150px;
	width:150px;
	flex-grow:1;
	opacity:.4;
}
.seslp_des2wid6_members_listings > a:hover,
.seslp_des2wid6_members_listings > img:hover{
	opacity:1;
	object-fit:cover;
	transform:scale(1.1);
	z-index:2;
}
.seslp_des2wid6_members_listings > a > img{
	height:100%;
	object-fit:cover;
	width:100%;
}
.seslp_des2wid6_content{
	letter-spacing:2px;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	text-align:center;
	width:100%;
	z-index:9;
}
.seslp_des2wid6_content h2{
	color:#fff;
	font-size:34px;
	font-weight:600;
}
.seslp_des2wid6_btns a{
	border:2px solid #fff;
	border-radius:5px;
	color:#fff !important;
	display:inline-block;
	font-size:20px;
	font-weight:600;
	margin:0 5px;
	padding:5px 30px;
	text-decoration:none !important;
}
.seslp_des2wid6_btns a:hover{
	background-color:#fff;
	color:#eb1b34 !important;
}
/*Design2 Widget6 Ends*/
/*DESIGN 2 ENDS HERE*/

@media (min-width: 980px) and (max-width:1050px){

}
@media (min-width: 768px) and (max-width:979px){
	.seslp_des2wid2_column_title{
		font-size:27px;
	}
	.seslp_des2wid2_listing_item{
		height:120px;
	}
}
@media (max-width:767px){
	.seslp_des2wid2_column{
		width:100%;
	}
	.seslp_des2wid2_column_left .seslp_des2wid2_column_title, 
	.seslp_des2wid2_column_left .seslp_des2wid2_column_des{
		text-align:center;
	}
	.seslp_des2wid2_column_icon{
		float:none !important;
		margin:0 auto;
		display:block;
	}
	.seslp_des2wid2_column_listing,
	.seslp_des2wid2_column_title,
	.seslp_des2wid2_column_des{
		text-align:center;
	}
	.seslp_des2wid2_listing_item{
		float:none;
		display:inline-block;
		margin:-8px -4px;
	}
	.seslp_des2wid3_wrapper{
		padding:30px 0px;
	}
	.seslp_des2wid3_wrapper h2{
		padding:0px 0 15px 0px;
		margin:0 0 20px;
	}
	.seslp_des2wid3_cont{
		display:block;
	}
	.seslp_des2wid3_cont_left{
		margin-bottom:25px;
	}
	.seslp_des2wid3_cont_left,
	.seslp_des2wid3_cont_right{
		width:100%;
		display:block !important;
	}
	.seslp_des2wid3_cont_right{
		padding:0px;
	}
	.seslp_des2wid3_cont_right{
		font-size:32px;
	}
	.seslp_des2wid4_list_item{
		width:100%;
		margin-bottom:25px;
	}
	.seslp_des2wid4_wrapper h3.seslp_des2wid4_subhead{
		font-size:30px;
	}
	.seslp_des2wid5_wrapper{
		padding:30px 0px;
	}
	.seslp_des2wid5_wrapper h2{
		padding:0px 0px 15px 0px;
		margin:0px 0px 10px;
	}
	.seslp_des2wid5_listing_item{
		width:100%;
		margin-bottom:25px;
	}
	.seslp_des2wid5_listing_item:last-child{
		margin-bottom:0px;
	}	
}
@media (max-width:599px){
	.seslp_des2wid2_column_btns{
		text-align:center;
	}
	.seslp_des2wid2_column_left .seslp_des2wid2_column_btn,
	.seslp_des2wid2_column_right .seslp_des2wid2_column_btn{
		float:none;
		display:inline-block;
	}
	.seslp_des2wid2_listing_item{
		height:100px;
	}
}
@media (max-width:479px){
	.seslp_des2wid2_column_title{
		font-size:24px;
	}
	.seslp_des2wid2_column_des{
		font-size:14px;
	}
	.seslp_des2wid2_column_cont{
		padding:18px;
	}
	.seslp_des2wid2_listing_item{
		height:100px;
		width:50%;
	}
	.seslp_des2wid2_column_btns{
		text-align:center;
	}
	.seslp_des2wid2_column_left .seslp_des2wid2_column_btn,
	.seslp_des2wid2_column_right .seslp_des2wid2_column_btn{
		float:none;
		display:inline-block;
	}
	.seslp_des2wid3_wrapper h2{
		font-size:28px;
	}
	.seslp_des2wid3_des{
		font-size:14px;
		margin:0px 0px 20px;
		text-align:center;
	}
	.seslp_des2wid3_video{
		height:280px;
	}
	.seslp_des2wid3_video_btn i{
		height:80px;
		width:80px;
		line-height:80px;
	}
	.seslp_des2wid3_features_list_cont h3{
		font-size:20px;
	}
	.seslp_des2wid3_features_list_cont p{
		font-size:14px;
	}
	.seslp_des2wid4_wrapper h2.seslp_des2wid4_head{
		font-size:24px;
		margin-bottom:20px;
	}
	.seslp_des2wid4_wrapper h3.seslp_des2wid4_subhead{
		font-size:24px;
	}
	.seslp_des2wid4_wrapper .seslp_des2wid4_des{
		font-size:16px;
	}
	.seslp_des2wid4_listing{
		margin:-70px -15px 0;
	}
	.seslp_des2wid4_list_item_title{
		font-size:18px;
	}
	.seslp_des2wid5_wrapper{
		padding:10px 0px;
	}
	.seslp_des2wid5_wrapper h2{
		font-size:26px;
	}
	.seslp_des2wid5_listing_item{
		padding:0px;
	}
	.seslp_des2wid5_listings{
		margin:20px 0px;
	}
	.seslp_des2wid6_members_listings > a, .seslp_des2wid6_members_listings > img{
		height:80px;
		width:80px;
	}
	.seslp_des2wid6_content h2{
		font-size:24px;
	}
	.seslp_des2wid6_btns a{
		font-size:16px;
	}
}
/*DESIGN 2 ENDS HERE*/