

/*Generic Layout Container*/
[class*='layout_sesgroupforum_'], [id^='global_page_sesgroupforum-'] .layout_core_content{clear:both;margin-bottom:15px;}
[class*='layout_sesgroupforum_']:after, [id^='global_page_sesgroupforum-'] .layout_core_content:after{clear:both;content:'';display:block;}
[class*='tab_layout_sesgroupforum_']{margin:0;clear:none;}

/* ACTION TYPE ICONS */
.feed .activity_icon_sesgroupforum_topic_create:before,
.feed .activity_icon_sesgroupforum_topic_reply:before,
.feed .activity_icon_sesgroupforum_promote:before{
   content: "\\f0e5";
}
/* NOTIFICATION TYPE ICONS */
.notification_type_sesgroupforum_topic_response:before,
.notification_type_sesgroupforum_topic_reply:before{
   content: "\\f0e5";
}
.notification_type_sesgroupforum_promote{
  position:relative;
}
.notification_type_sesgroupforum_promote:before{
  content: "\\f27b";
}
.notification_type_sesgroupforum_promote:after{
  content: "\\f055";
}
.notification_type_sesgroupforum_post_thanks:before{
	content:"\\f118";
}
.notification_type_sesgroupforum_rating:before{
	content:"\\f005";
}
.notification_type_sesgroupforum_forum_moderator:before{
	content:"\\f007";
}
.notification_type_sesgroupforum_like_topic:before{
  content: "\\f087";
}
.notification_type_sesgroupforum_topicsubs:before{
	content:"\\f09e";
}
.notification_type_sesgroupforum_post_reputation:before{
	content:"\\f091";
}
/* ITEM TYPE ICONS */
.item_icon_sesgroupforum_category:before,
.item_icon_sesgroupforum:before,
.item_icon_sesgroupforum_topic:before,
.item_icon_sesgroupforum_post:before{
   content: "\\f07b";
}
.sesgroupforum_main_category_item_header,
.sesgroupforum_topic_view .sesgroupforum_topic_options,
.sesgroupforum_profile_post_item .sesgroupforum_profile_post_header{
	background-color:$theme_list_background_color_hover;
}
.sesgroupforum_profile_post_item .sesgroupforum_profile_post_header:after{
	border-top:10px solid $theme_list_background_color_hover;
}
.sesgroupforum_main_category_forums .sesgroupforum_icon i svg{
	fill:$theme_button_background_color;
}
.sesgroupforum_topic_view_post_footer > div > a{
	color:$theme_font_color;
}
.sesgroupforum_topic_view_post_footer > div > a:before{
	color:$theme_font_color_light;
}
.sesgroupforum_topic_view .sesgroupforum_topic_options_right a.active:before,
.sesgroupforum_topic_view_post_footer > div > a.active:before,
.sesgroupforum_statistics li ._count{
	color:$theme_button_background_color !important;
}
.sesgroupforum_topic_view_post_item .sesgroupforum_topic_view_post_header span  ._label{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color
}
.sesgroupforum_quick_navigation_content:before{
	border-bottom-color:$theme_list_background_color;
}
.sesgroupforum_quick_navigation_content:after{
	border-bottom-color:$theme_list_background_color_hover;
}
.sesgroupforum_quick_navigation > a,
.sesgroupforum_user_dashboard_tabs li a{
	color:$theme_font_color !important;
}
.sesgroupforum_user_dashboard_tabs li._selected a{
	color:$theme_button_background_color !important;	
}
.sesgroupforum_topic_view_post_item .sesgroupforum_topic_view_post_body blockquote{
	background-color:$theme_list_background_color_hover;
}
.sesgroupforum_main_category_layout_item_main{
	border-color:$theme_button_background_color;
}
.sesgroupforum_main_category_layout_item .forum_category_item_footer ul li._iconrounded a i{
	background-color:$theme_list_background_color_hover;
}
.sesgroupforum_button,
.sesgroupforum_sidebar_tags ul li > a ._count{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color !important;
}
.sesgroupforum_button:hover{
	opacity:.8;
}
.sesgroupforum_sidebar_list_stats a{
	color:$theme_font_color_light !important;
}
.sesgroupforum_sidebar_list_stats a:hover{
	color:$theme_link_hover_color !important;
}
