
.layout_sesusercoverphoto_sesusercoverphoto_cover{
	border-width:0 !important;
	box-shadow:none !important;
	padding:0 !important;
	margin:0 0 15px !important;
}
.sesusercoverphoto_cover_container{
	height:300px;
	margin-bottom:15px;
	position:relative;
	width:100%;
}
.sesusercoverphoto_cover_image{
	background-position:center center;
	background-size:cover !important;
	display:inline-block;
	height:100%;
	position:relative;
	width:100%;
	overflow:hidden;
}
.sesusercoverphoto_cover_image img{
	min-height:100%;
	min-width:100%;
	width:100%;
	position:absolute;
}
.sesusercoverphoto_cover_fade{
  background:rgba(0,0,0,0.1);
  bottom:0;
	left:0;
  position:absolute;
  top:0;
	right:0;
}
.sesusercoverphoto_cover_inner{
	bottom:0;
	padding:20px;
	position:absolute;
	width:100%;
}
.sesusercoverphoto_cover_tabs_wrap .sesusercoverphoto_cover_inner{
	padding:20px 20px 50px;
}
/*LABELS*/
.sesusercover_cover_labels{
	position:absolute;
	right:0;
	top:0;
	text-align:center;
}
[dir="rtl"] .sesusercover_cover_labels{
	left:0;
	right:auto;
	text-align:center;
}
.sesusercover_cover_labels p{
	color:#fff;
	padding:5px;
	font-size:12px;
}
.sesusercover_cover_labels .sesmember_vip_label{
	position:relative;
	margin:0 auto;
	left:inherit;
	right:5px;
	clear:both;
	display:inherit;
}
[dir="rtl"] .sesusercover_cover_labels .sesmember_vip_label{
	right:inherit;
	left:5px;
}
.sesusercover_cover_labels p + i.sesmember_vip_label{
	right:inherit;
}
[dir="rtl"] .sesusercover_cover_labels p + i.sesmember_vip_label{
	left:inherit;
	right
} 
/*Main Photo*/
.sesusercoverphoto_cover_main_photo{
	border:2px solid #fff;
	border-radius:3px;
	bottom:20px;
	height:200px;
	margin-right:20px;
	overflow:hidden;
	position:absolute;
	width:200px;
	z-index:1;
}
[dir="rtl"] .sesusercoverphoto_cover_main_photo{
	float:right;
	margin-left:20px;
	margin-right:0;
}
.sesusercoverphoto_cover_tabs_wrap .sesusercoverphoto_cover_main_photo{
	bottom:10px;
}
.sesusercoverphoto_cover_main_photo a{
	display:block !important;
	height:100%;
	width:100%;
}
.sesusercoverphoto_cover_main_photo img{
	border-width:0;
	height:100%;
	max-height:none;
	max-width:none;
	object-fit:cover;
	width:100%;
}
.sesusercoverphoto_cover_info{
	overflow:hidden;
	padding:0 0 0 220px;
	max-width:700px;
}
[dir="rtl"] .sesusercoverphoto_cover_info{
	overflow:hidden;
	padding:0 220px 0 0;
}
.sesusercoverphoto_cover_title{
	background-color:transparent;
	border-width:0;
	color:#fff;
	font-size:25px;
	line-height:normal;
	margin:5px 0;
	padding:0;
	text-shadow:0 1px 1px #000000;
	font-weight:bold;
}
.sesusercoverphoto_cover_title .sesbasic_verify_tip{
	margin-left:5px;
}
.sesusercoverphoto_cover_title .sesbasic_verify_tip svg{
	fill:#fff;
}
.sesusercoverphoto_cover_rating{
  margin-top:10px;
}
.sesusercoverphoto_cover_rating .sesbasic_rating_star{
	overflow:visible;
}
.sesusercoverphoto_cover_rating > a{
	font-size:11px;
	color:#fff !important;
	margin:5px;
	float:left;
	border-left:1px solid #ddd;
	padding-left:5px;
}
.sesusercoverphoto_cover_rating span.fa p{
	background-color:#000;
	position:absolute;
	color:#fff;
	margin:-55px 0 0;
	padding:5px 10px;
	border-radius:5px;
	z-index:1;
	font-size:12px;
	font-weight:bold;
	min-width:80px;
	text-align:center;
	transform:translate(-50%);
	margin-left:10px;
	display:none;
}
.sesusercoverphoto_cover_rating span.fa:hover p{
	display:block;
}

.sesusercoverphoto_cover_field{
	margin-bottom:8px;
	float:left;
	width:100%;
  text-shadow:0 1px 1px #000000;
}
.sesusercoverphoto_cover_field > i{
	float:left;
	margin-right:5px;
}
[dir="rtl"] .sesusercoverphoto_cover_field > i{
	float:right:
	margin-left:5px;
	margin-right:0;
}
.sesusercoverphoto_cover_field > span{
	overflow:hidden;
	display:block;
}
.sesusercoverphoto_cover_stats div{
	display:block;
	float:left;
	margin-right:10px;
}
[dir="rtl"] .sesusercoverphoto_cover_stats div{
	float:right;
	margin-left:10px;
	margin-right:0;
}
.sesusercoverphoto_cover_stats div:after{
	content:"-";
	margin-left:5px;
}
[dir="rtl"] .sesusercoverphoto_cover_stats div:after{
	margin-left:0;
	margin-right:5px;
}
.sesusercoverphoto_cover_stats div:nth-last-child(1):after{
	display:none;
}
.sesusercoverphoto_cover_stats .sesusercoverphoto_cover_stat_count{
	font-weight:bold;
}
.sesusercoverphoto_cover_stats .sesusercoverphoto_cover_stat_text{
	font-size:13px;
}
.sesusercoverphoto_cover_field, 
.sesusercoverphoto_cover_field a,  
.sesusercoverphoto_cover_stats div{
	color:#fff;
}
/*Cover Options*/
.sesusercoverphoto_cover_buttons{
	position:absolute;
	right:20px;
	bottom:20px;
}
[dir="rtl"] .sesusercoverphoto_cover_buttons{
	left:20px;
	right:auto;
}
.sesusercoverphoto_cover_tabs_wrap .sesusercoverphoto_cover_buttons{
	bottom:55px;
}
.sesusercoverphoto_cover_buttons > div{
	border-radius:0;
	float:left;
	padding:0;
	margin:0 2px;
}
[dir="rtl"] .sesusercoverphoto_cover_buttons > div{
	float:left;
}
.sesusercoverphoto_cover_buttons > div a.sesbasic_btn{
	height:35px;
	width:35px;
}
.sesusercoverphoto_cover_buttons > div a.sesbasic_btn:before, 
.sesusercoverphoto_cover_buttons > div a.sesbasic_btn > i{
	font-size:17px;
	line-height:23px;
}
.sesusercoverphoto_cover_buttons > div a.sesbasic_btn span{
	margin-top:-60px;
}
.sesusercoverphoto_cover_buttons > div a.sesbasic_btn span i{
	left:13px;
}
[dir="rtl"] .sesusercoverphoto_cover_buttons > div a.sesbasic_btn span i{
	right:13px;
	left:auto;
}
.sesusercoverphoto_cover_buttons .sesbasic_button.sesusercover_option_btn{
	padding:7px 10px;
}
.sesusercoverphoto_cover_buttons .sesbasic_button.sesusercover_option_btn i:before{
	margin:0;
}
/*Recent Visitor*/
.sesusercover_users{
	position:absolute;
	bottom:60px;
	right:20px;
}
[dir="rtl"] .sesusercover_users{
	left:20px;
	right:auto;
}
.sesusercoverphoto_cover_tabs_wrap .sesusercover_users{
	bottom:100px;
}
.sesusercover_users > span{
	color:#fff;
	text-shadow:0 0 1px rgba(0, 0, 0, 0.5);
	font-size:12px;
	margin-right:20px;
	font-weight:bold;
}
[dir="rtl"] .sesusercover_users > span{
	margin-left:20px;
	margin-right:0;
}
.sesusercover_users > a{
	display:inline-block;
	vertical-align:middle;
	margin:0 0 0 -13px;
}
[dir="rtl"] .sesusercover_users > a{
	margin:0 -13px 0 0;
}
.sesusercover_users > a img{
	border-width:0;
	border-radius:100%;
	border:2px solid #fff;
	height:40px;
	width:40px;
}
/*Cover Footer*/
.sesusercoverphoto_cover_footer{
	background-color:rgba(0, 0, 0, 0.3);
	border-top:1px solid rgba(255, 255, 255, 0.1);
	bottom:0;
	position:absolute;
	right:0;
}
[dir="rtl"] .sesusercoverphoto_cover_footer{
	left:0;
	right:inherit;
}
.sesusercoverphoto_cover_tabs_wrap .sesusercoverphoto_cover_footer{
	left:0;
	right:0;
}
/*Cover Tabs*/
.sesusercoverphoto_cover_tabs{
	margin:0 0 0 240px;
}
[dir="rtl"] .sesusercoverphoto_cover_tabs{
	margin:0 240px 0 0;
}
.sesusercoverphoto_cover_tabs > div,
.sesusercoverphoto_cover_tabs > div > ul{
	border:0;
	background:none !important;
	margin:0 !important;
	padding:0 !important;
}
.sesusercoverphoto_cover_tabs > div > ul > li{
	border-left:1px solid rgba(255, 255, 255, 0.1);
	float:left;
	margin:0;
}
[dir="rtl"] .sesusercoverphoto_cover_tabs > div > ul > li{
	border-left-width:0;
	border-right:1px solid rgba(255, 255, 255, 0.1);
	float:right;
}
.sesusercoverphoto_cover_tabs > div > ul > li:last-child{
	border-right:1px solid rgba(255, 255, 255, 0.1);
}
[dir="rtl"] .sesusercoverphoto_cover_tabs > div > ul > li:last-child{
	border-left:1px solid rgba(255, 255, 255, 0.1);
}
.sesusercoverphoto_cover_tabs > div > ul > li > a{
	border-radius:0 !important;
	border-width:0 !important;
  color:#fff;
	display:block;
	font-size:13px;
	font-weight:bold;
	line-height:40px;
	height:40px;
	padding:0 20px !important;
	text-decoration:none;
	outline:none;
	margin:0;
}
.sesusercoverphoto_cover_tabs > div > ul > li > a:hover{
	text-decoration:none;
}
.sesusercoverphoto_cover_tabs > div > ul > li.more_tab > a span{
	display:none;
}
.sesusercoverphoto_cover_tabs > div > ul > li > a:hover,
.sesusercoverphoto_cover_tabs > div > ul > li > a:active,
.sesusercoverphoto_cover_tabs > div > ul > li.active > a,
.sesusercoverphoto_cover_tabs > div > ul > li.active > a:hover,
.sesusercoverphoto_cover_tabs > div > ul > li.tab_open > a{
	background-color:rgba(0, 0, 0, 0.9);
	color:#fff;
	top:0;
}
.sesusercoverphoto_cover_tabs .tab_pulldown_contents_wrapper{
	margin-top:40px;
}
/*Change Cover Buttons*/
.sesusercoverphoto_cover_change_cover{
	position:absolute;
	left:20px;
	top:20px;
	z-index:2;
}
[dir="rtl"] .sesusercoverphoto_cover_change_cover{
	left:inherit;
	right:20px;
}
.sesusercoverphoto_cover_change_cover > a{
	border-radius:3px;
	display:block;
	overflow:hidden;
	padding:3px 5px;
}
.sesusercoverphoto_cover_change_cover:hover > a,
.sesusercoverphoto_cover_change_cover.active > a{
	background-color:rgba(0, 0, 0, 0.8);
	border:1px solid rgba(255, 255, 255, 0.8);
  -webkit-transition:all 300ms ease 0s;
  -moz-transition:all 300ms ease 0s;
  -o-transition:all 300ms ease 0s;
	transition:all 300ms ease 0s;
}
.sesusercoverphoto_cover_change_cover > a i{
	float:left;
	height:25px;
	margin-right:5px;
	text-align:center;
	width:25px;
}
[dir="rtl"] .sesusercoverphoto_cover_change_cover > a i{
	float:right;
	margin-left:5px;
	margin-right:0;
}
.sesusercoverphoto_cover_change_cover > a i:before{
	color:#f1f1f1;
	display:block;
	font-size:22px;
	margin-top:2px;
	text-shadow:0 0 5px rgba(0, 0, 0, 0.8);
}
.sesusercoverphoto_cover_change_cover.active > a i:before,
.sesusercoverphoto_cover_change_cover:hover > a i:before{
	color:#f1f1f1;
	display:block;
	font-size:22px;
	margin-top:1px;
	-ms-transform:scale(.7); /* IE 9 */
	-webkit-transform:scale(.7); /* Safari */
	transform:scale(.7);
  -webkit-transition:all 300ms ease 0s;
  -moz-transition:all 300ms ease 0s;
  -o-transition:all 300ms ease 0s;
	transition:all 300ms ease 0s;
}
.sesusercoverphoto_cover_change_cover > a span{
	color:#fff;
	display:none;
	font-size:12px;
	float:left;
	margin-top:3px;
}
[dir="rtl"] .sesusercoverphoto_cover_change_cover > a span{
	float:right;
}
.sesusercoverphoto_cover_change_cover:hover > a span,
.sesusercoverphoto_cover_change_cover.active > a span{
	display:block;
}
.sesusercoverphoto_change_cover_options_main_arrow{
	border-bottom:10px solid #fff;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	height:0;
	left:7px;
	position:absolute;
	top:-10px;
	width:0;
}
[dir="rtl"] .sesusercoverphoto_change_cover_options_main_arrow{
	right:7px;
	left:inherit;
}
.sesusercoverphoto_option_box{
  position:absolute;
  display:none;
  width:170px;
}
.sesusercoverphoto_option_box a{
  font-size:11px;
  display:block;
  padding:5px 10px;
}
.sesusercoverphoto_option_box a:hover{
  text-decoration:none;
}
.sesusercoverphoto_option_box a.fa:before,
.sesusercoverphoto_option_box a i{
	margin-right:5px;
	text-align:center;
	width:16px;
}
[dir="rtl"] .sesusercoverphoto_option_box a.fa:before,
[dir="rtl"] .sesusercoverphoto_option_box a i{
	margin-left:5px;
	margin-right:0;
}
.sesusercoverphoto_option_box a.fa:before,
.sesusercoverphoto_option_box a i:before{
	font-size:11px;
}
.sesusercoverphoto_cover_change_cover.active .sesusercoverphoto_change_cover_options{
	left:0;
	top:45px;
	display:block;
}
[dir="rtl"] .sesusercoverphoto_cover_change_cover.active .sesusercoverphoto_change_cover_options{
	left:inherit;
	right:0;
}
.sesusercoverphoto_cover_reposition_btn{
	position:absolute;
	right:20px;
	bottom:20px;
}
.sesusercoverphoto_cover_reposition_btn a{
	display:inline-block;	
}
/*Full Cover Photo*/
.sesusercoverphoto_cover_wrapper_full .sesusercoverphoto_cover_container{
  left:0;
  right:0;
  position:absolute;
}
.sesusercoverphoto_cover_wrapper_full .sesusercoverphoto_cover_fade{
  background-image:none;
  background-color:rgba(0, 0, 0, .3);
}
.sesusercoverphoto_cover_wrapper_full .sesusercoverphoto_cover_inner{
  display:table;
  height:100%;
  padding:0;
  width:100%;
}
.sesusercoverphoto_cover_wrapper_full .sesusercoverphoto_cover_cont{
  display:table-cell;
  padding:20px 50px 40px;
  vertical-align:middle;
}
.sesusercoverphoto_cover_wrapper_full .sesusercoverphoto_cover_main_photo {
  border-radius:50%;
  height:150px;
	float:none !important;
  margin:0 auto 10px;
  position:inherit;
  width:150px;
  bottom:inherit;
  left:inherit;
  right:inherit;
}
.sesusercoverphoto_cover_wrapper_full .sesusercoverphoto_cover_main_photo img{
  border-radius:50%;
}
.sesusercoverphoto_cover_wrapper_full .sesusercoverphoto_cover_main_photo .sesusercoverphoto_cover_change_cover_main{left:inherit;margin-top:-36px;right:inherit !important;top:inherit;}
.sesusercoverphoto_cover_wrapper_full .sesusercoverphoto_cover_info {
	background-color:transparent;
	float:none;
	margin:0;
	max-width:none;
	padding:0;
	text-align:center !important;
	width:100%;
}
.sesusercoverphoto_cover_wrapper_full .sesusercoverphoto_cover_info .sesusercoverphoto_cover_title{
  font-size:30px;
  font-weight:bold;
  text-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
.sesusercoverphoto_cover_wrapper_full .sesusercoverphoto_cover_field {
	margin:2px 0;
	text-align:center !important;
  color:#fff;
	width:100%;
}
.sesusercoverphoto_cover_wrapper_full .sesusercoverphoto_cover_field > i,
.sesusercoverphoto_cover_wrapper_full .sesusercoverphoto_cover_field > span{
	display:inline-block;
	float:none !important;
	vertical-align:middle;
}
.sesusercoverphoto_cover_wrapper_full .sesusercoverphoto_cover_rating{
	text-align:center;
	float:none !important;
	margin-top:5px;
}
.sesusercoverphoto_cover_wrapper_full .sesusercoverphoto_cover_rating > div,
.sesusercoverphoto_cover_wrapper_full .sesusercoverphoto_cover_rating > a{
	float:none !important;
	display:inline-block;
	vertical-align:middle;
}
.sesusercoverphoto_cover_wrapper_full  .sesusercoverphoto_cover_field a,
.sesusercoverphoto_cover_wrapper_full  .sesusercoverphoto_cover_rating .sesbasic_rating_text,
.sesusercoverphoto_cover_wrapper_full  .sesusercoverphoto_cover_stats div{
  color:#fff;
  text-shadow:0 1px 1px #000000;
}
.sesusercoverphoto_cover_wrapper_full  .sesusercoverphoto_cover_stats{
	position:inherit;
	text-align:center;
}
.sesusercoverphoto_cover_wrapper_full  .sesusercoverphoto_cover_stats div{
	display:inline-block;
	float:none !important;
	margin:5px !important;
}
.sesusercoverphoto_cover_wrapper_full  .sesusercoverphoto_cover_tabs_wrap .sesusercover_users{
	bottom:50px;
	left:20px;
	right:inherit;
}
[dir="rtl"] .sesusercoverphoto_cover_wrapper_full  .sesusercoverphoto_cover_tabs_wrap .sesusercover_users{
	left:inherit;
	right:20px;
}
.sesusercoverphoto_cover_wrapper_full  .sesusercover_users > span{
	display:block;
	margin-bottom:5px;
}
/*RESPONSIVE CSS START HERE*/
@media only screen and (max-width:950px){
	.sesusercoverphoto_cover_info{max-width:inherit;}
	.sesusercoverphoto_cover_buttons{position:inherit;margin-top:10px;}
	.sesusercover_users{bottom:20px;}
	.sesusercoverphoto_cover_tabs_wrap .sesusercover_users{bottom:50px;}
}
@media only screen and (max-width:767px){
	/*.sesusercoverphoto_cover_change_cover, .sesusercoverphoto_cover_change_cover_main{display:none;}*/
	.sesusercoverphoto_cover_wrapper, .sesusercoverphoto_cover_container{
		height:320px !important;
	}
	.sesusercoverphoto_cover_image img{
		height:100%;
    object-fit:cover;
    position:inherit;
    top:inherit !important;
    width:100%;
	}
	.sesusercoverphoto_cover_inner{
		display:table;
		height:100%;
		padding:10px !important;
		width:100%;
	}
	.sesusercoverphoto_cover_cont{
		display:table-cell;
		padding:0 !important;
		vertical-align:middle;
	}
	.sesusercoverphoto_cover_main_photo{
		bottom:inherit;
		height:100px;
		left:inherit !important;
		right:inherit !important;
		margin:0 auto 10px;
		position:inherit;
		width:100px;
	}
	.sesusercoverphoto_cover_info{
		padding:0 !important;
		max-width:100%;
		text-align:center;
	}
	.sesusercoverphoto_cover_field{
		margin-bottom:3px;
		text-align:center;
		width:100%;
	}
	.sesusercoverphoto_cover_field > i, .sesusercoverphoto_cover_field > span{float:none !important;display:inline-block;vertical-align:middle;}
	.sesusercoverphoto_cover_buttons{float:right;}
	[dir="rtl"] .sesusercoverphoto_cover_buttons{float:left;}
	.sesusercoverphoto_cover_change_cover{left:5px;top:5px;}
	[dir="rtl"] .sesusercoverphoto_cover_change_cover{left:inherit;right:5px;}
	.sesusercoverphoto_cover_main_photo .sesusercoverphoto_cover_change_cover_main{left:inherit;margin-top:-36px;right:inherit !important;top:inherit;}
	/*Hide Elements*/
	.sesusercoverphoto_cover_main_photo .sesusercoverphoto_cover_change_cover_main > a span,
	.sesusercover_users,
	.sesusercoverphoto_cover_rating,
	.sesusercoverphoto_cover_stats,
	.sesbasic_option_box a#sesusercoverphoto_main_photo_reposition{display:none;}
	/*Full Width*/
	.sesusercoverphoto_cover_wrapper_full  .sesusercoverphoto_cover_main_photo{height:100px;width:100px;}
}
@media only screen and (max-width:480px){
	.sesusercoverphoto_cover_title{font-size:20px !important;}
	.sesusercoverphoto_cover_field, .sesusercoverphoto_cover_stats{font-size:12px;}
}
@media only screen and (max-width:400px){
	.sesusercoverphoto_cover_stats{display:none;}
}
/*RESPONSIVE CSS END HERE*/
/*Change Cover Buttons*/
.sesusercoverphoto_cover_change_cover_main{
	position:absolute;
	left:20px;
	top:20px;
	z-index:1;
}
[dir="rtl"] .sesusercoverphoto_cover_change_cover_main{
	left:inherit;
	right:20px;
}
.sesusercoverphoto_cover_main_photo .sesusercoverphoto_cover_change_cover_main{
	left:0;
	right:0;
	top:0;
}
.sesusercoverphoto_cover_change_cover_main > a{
	border-radius:3px;
	display:block;
	overflow:hidden;
	padding:3px 5px;
}
.sesusercoverphoto_cover_change_cover_main:hover > a,
.sesusercoverphoto_cover_change_cover_main.active > a{
	background-color:rgba(0, 0, 0, 0.8);
	border:1px solid rgba(255, 255, 255, 0.8);
  -webkit-transition:all 300ms ease 0s;
  -moz-transition:all 300ms ease 0s;
  -o-transition:all 300ms ease 0s;
	transition:all 300ms ease 0s;
  text-decoration:none;
}
.sesusercoverphoto_cover_change_cover_main > a i{
	float:left;
	height:25px;
	margin-right:5px;
	text-align:center;
	width:25px;
}
[dir="rtl"] .sesusercoverphoto_cover_change_cover_main > a i{
	float:right;
	margin-left:5px;
	margin-right:0;
}
.sesusercoverphoto_cover_change_cover_main > a i:before{
	color:#f1f1f1;
	display:block;
	font-size:22px;
	margin-top:2px;
	text-shadow:0 0 5px rgba(0, 0, 0, 0.8);
}
.sesusercoverphoto_cover_change_cover_main.active > a i:before,
.sesusercoverphoto_cover_change_cover_main:hover > a i:before{
	color:#f1f1f1;
	display:block;
	font-size:22px;
	margin-top:1px;
	-ms-transform:scale(.7); /* IE 9 */
	-webkit-transform:scale(.7); /* Safari */
	transform:scale(.7);
  -webkit-transition:all 300ms ease 0s;
  -moz-transition:all 300ms ease 0s;
  -o-transition:all 300ms ease 0s;
	transition:all 300ms ease 0s;
}
.sesusercoverphoto_cover_change_cover_main > a span{
	color:#fff;
	display:none;
	font-size:12px;
	float:left;
	margin-top:3px;
}
[dir="rtl"] .sesusercoverphoto_cover_change_cover_main > a span{
	float:right;
}
.sesusercoverphoto_cover_change_cover_main:hover > a span,
.sesusercoverphoto_cover_change_cover_main.active > a span{
	display:block;
}
.sesusercoverphoto_change_cover_options_main_arrow{
	border-bottom:10px solid #fff;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	height:0;
	left:7px;
	position:absolute;
	top:-10px;
	width:0;
}
[dir="rtl"] .sesusercoverphoto_change_cover_options_main_arrow{
	right:7px;
	left:inherit;
}
.sesusercoverphoto_cover_change_cover_main.active .sesusercoverphoto_change_cover_options_main{
	left:0;
	top:45px;
	display:block;
}
[dir="rtl"] .sesusercoverphoto_cover_change_cover_main.active .sesusercoverphoto_change_cover_options_main{
	left:inherit;
	right:0;
}