/* $Id:main.css 2015-12-12 00:00:00 SocialEngineSolutions $*/

.sesfooter_nav_btns{
	float:right;
	margin-top:-45px;
}
.sesfooter_nav_btns a{
	background-color:#f36a33;
	color:#fff;
	float:left;
	font-weight:bold;
	padding:8px 15px;
	margin-left:10px;
}
.sesfooter_nav_btns a:hover{
	text-decoration:none;
}
/*Glabal Settings*/
div .sesfooter_admin_form .form-description {
	max-width:inherit;
}
div .sesfooter_admin_form .form-element .description {
	max-width:650px;
}
.sesfooter_global_setting #footer_settings-wrapper{
	border-bottom-width:1px;
	margin-top:10px;
	padding:10px 0;
}
.sesfooter_global_setting #footer_settings-wrapper .form-label{
	font-size:15px;
	width:auto;
}
.sesfooter_global_setting #footer_settings_group > fieldset > div{
  margin-right:3%;
	display:inline-block;
	width:30%;
}
.sesfooter_global_setting #footer_settings_group > fieldset > div > div{
  margin-bottom:5px;
	width:100%;
}
/*Footer Setting Form*/
.sesfooter_elements_form #ses_footer_design-wrapper{
	border-bottom-width:1px;
}
.sesfooter_elements_form #ses_footer_design-label{
  font-size:20px;
  margin-bottom:10px;
  text-align:center;
  width:100%;
}
.sesfooter_elements_form #ses_footer_design-element{
  clear:both;
}
#ses_footer_design-element p{
  max-width:inherit;
  text-align:center;
  width:100%;
}
.sesfooter_elements_form #ses_footer_design-element ul li {
	display:inline-block;
  vertical-align:top;
	margin:10px 0;
  text-align:center;
  width:33%;
}
.sesfooter_elements_form #ses_footer_design-element .form-options-wrapper input[type="radio"]{
  float:none;
  margin-bottom:5px;
}
.sesfooter_elements_form #ses_footer_design-element .form-options-wrapper label{
  background-color:#eaeaea;
  clear:both;
  display:table-cell;
  height:140px;
  vertical-align:middle;
}
.sesfooter_elements_form #ses_footer_design-element .form-options-wrapper label img{
  max-height:100%;
  width:100%;
}
/*Manage Table*/
.sesfooter_manage_table{
	width:100%;
}
.sesfooter_manage_table *{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.sesfooter_manage_table_head{
	background-color:#f5f5f5;
	border-bottom:1px solid #aaa;
	display:block;
	overflow:hidden;
}
.sesfooter_manage_table_head > div{
	padding:10px;
	float:left;
	font-weight:bold;
	padding-top:7px;
	padding-bottom:7px;
	white-space:nowrap;
}
.sesfooter_manage_table_list{
	margin-bottom:10px;
	width:100% !important;
}
.sesfooter_manage_table_list li{
	border-bottom:1px solid #eee;
	cursor:move;
	clear:both;
	overflow:hidden;
}
.sesfooter_manage_table_list li:nth-child(odd){
	background-color:#fff;
}
.sesfooter_manage_table_list li:nth-child(even) {
	background-color:#f8f8f8;
}
.sesfooter_manage_table_list li > div{
	padding:10px;
	font-size:.9em;
	float:left;
	padding-top:7px;
	padding-bottom:7px;
	vertical-align:top;
	white-space:normal;
}