/* ACTIVITY FEED */
.feed_attachment_pageoffer > div {
	border-width:1px;
	margin-bottom:5px;
	overflow:hidden;
}
.feed_attachment_pageoffer > div > div {
	clear:both;
	padding:10px 15px;
}
.feed_attachment_pageoffer > div > a > img {
	height:250px;
	margin:0;
	width:100%;
	max-height:inherit !important;
	max-width:inherit !important;
	object-fit:cover;
}
.feed_attachment_pageoffer .feed_item_link_title {
  font-size:14px !important;
}
.feed_attachment_pageoffer .feed_item_link_desc {
  font-size:13px !important;
}
/* CREATE OFFER */
#offers_create div.form-label {
	float: none;
	text-align: left;
	margin: 0px;
	padding: 0px 0px 5px 0px;
}
#offers_create input[type="text"], #offers_create textarea, #offers_create select{
	border-radius: 0;
	height: 35px;
	max-width: inherit;
	padding: 7px;
	width: 60%;
}
#offers_create div.form-label, #offers_create div.form-element {
	clear: both;
	max-width: inherit;
	padding: 0;
	text-align: left;
	padding: 0 15px 0 0;
	margin: 0;
	width: 100%;
}
#offers_create div.form-label {
	margin-bottom: 10px;
	font-weight: bold;
}
#offers_create div.form-wrapper {
  margin-bottom: 15px;
}
#offers_create .mce-tinymce {
	max-width: 60%;
	padding-right: 1px;
}
#offers_create div.form-element {
  float: none;
}
.sespageoffer_pagename > a,.sespageoffer_profile_body > ._owner a{
	color:$theme_font_color_light !important;
}
.sespageoffer_profile_body > ._name > a:before,.sespageoffer_view_page h2:before{
	background:$theme_button_background_color;
}
.sespageoffer_profile_body > ._owner > span:before {
	background:$theme_font_color_light;
}
.sespageoffer_type,.sespageoffer_link > a,.sespageoffer_slideshow .owl-nav > div,.sespageoffers_gutter_name,.layout_sespageoffer_browse_offer_button a{
	background:$theme_button_background_color;
	color:$theme_button_font_color !important;
}
.sespageoffer_type:before,.sespageoffer_type:after{
	border-right: 15px solid $theme_button_background_color;
}
.sespageoffer_claim ._num, .sespageoffer_get_offer > a:hover,.sespageoffer_claim .sespageoffer_get_offer a{
	color:$theme_button_background_color !important;
}
.sespageoffer_gutter_main{
	background:$theme_list_background_color;
}
.sespageoffer_claim > span:before {
	background:$theme_border_color;
}