

.sesadvancedbanner_icon_add{background-image:url(~/application/modules/Sesadvancedbanner/externals/images/add.png);}
.sesadvancedbanner_icon_back{background-image:url(~/application/modules/Sesadvancedbanner/externals/images/back.png);}

.sesadvancedbanner_search_reasult{
	font-weight:bold;
	margin-bottom:10px;
}
div .sesadvancedbanner_admin_form .form-description{
	max-width:inherit;
}
div .sesadvancedbanner_admin_form .form-element .description{
	max-width:650px;
}
.sesadvancedbanner_admin_form #overlay_pettern-element ul{
	display:flex;
	flex-wrap:wrap;
}
.sesadvancedbanner_admin_form #overlay_pettern-element ul li{
	margin:0 5px 10px;
}
/*Manage Table*/
.sesadvancedbanner_manage_table{
	width:100%;
}
.sesadvancedbanner_manage_table *{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.sesadvancedbanner_manage_table_head{
	background-color:#f5f5f5;
	border-bottom:1px solid #aaa;
	display:block;
	overflow:hidden;
}
.sesadvancedbanner_manage_table_head > div{
	padding:10px;
	float:left;
	font-weight:bold;
	padding-top:7px;
	padding-bottom:7px;
	white-space:nowrap;
}
.sesadvancedbanner_manage_table_list{
	margin-bottom:10px;
	width:100% !important;
}
.sesadvancedbanner_manage_table_list li{
	border-bottom:1px solid #eee;
	cursor:move;
	clear:both;
	overflow:hidden;
}
.sesadvancedbanner_manage_table_list li:nth-child(odd){
	background-color:#fff;
}
.sesadvancedbanner_manage_table_list li:nth-child(even) {
	background-color:#f8f8f8;
}
.sesadvancedbanner_manage_table_list li > div{
	padding:10px;
	font-size:.9em;
	float:left;
	padding-top:7px;
	padding-bottom:7px;
	vertical-align:top;
	white-space:normal;
}