.header_top {
	width: 90%;
	margin: 0 auto;
}
.header_left {
	float: left;
}
.mini_menu_section > ul {
	text-align: right;
	padding: 15px 0px;
}
.mini_menu_section > ul > li {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.mini_menu_section > ul > li + li {
	margin-left: 10px;
}
.mini_menu_section > ul > li.user_profile_link a {
	display: inline-block;
}
.mini_menu_section > ul > li.user_profile_link {
	line-height: 0px;
}
.mini_menu_section > ul > li.user_profile_link a img {
	width: 20px;
	height: 20px;
	object-fit: cover;
	border-radius: 100%;
}
.mini_menu_section > ul > li > a, .mini_menu_section > ul > li > span > a {
	font-size: 16px;
	text-decoration: none;
	border-radius: 100%;
	height: 32px;
	width: 32px;
	position: relative;
}
.mini_menu_section > ul > li > a:before, .mini_menu_section > ul > li > span > a:before, .sesadvheader_minimenu_setting span a#show_settings_img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.mini_menu_section > ul > li > a:hover, .mini_menu_section > ul > li > span > a:hover {
	border-radius: 100%;
}
.mini_menu_section > ul > li > a.sesprofilelock_mini_admin {
	display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
}
.mini_menu_section > ul > li > a#show_settings_img, .mini_menu_section > ul > li > span > a#show_settings_img {
	display: block;
	line-height: 0px;
}
.mini_menu_section > ul > li span.settings_pulldown, .mini_menu_section > ul > li span.settings_pulldown_active {
	display: inline-block !important;
}
.mini_menu_section > ul > li a #updates_toggle {
	display: none;
}
.mini_menu_section > ul > li .sesadvheader_minimenu_count {
	position: absolute;
	top: -7px;
	color: #fff;
	background-color: #fa3e3e;
	padding: 2px 4px;
	border-radius: 2px;
	right: -7px;
	font-size: 11px;
	z-index: 1;
}
.mini_menu_section .pulldown_options {
	margin: 5px 0px 0px 0;
	text-align: center;
	padding: 5px 0px;
	border-top-width: 1px;
}
.mini_menu_section .pulldown_options a {
 color:$theme_link_color;
	opacity: 1;
}
.mini_menu_section .pulldown_options a:hover {
	opacity: 1;
	text-decoration: underline;
}
.mini_menu_section > ul > li.sesadvheader_minimenu_signup a, .mini_menu_section > ul > li.sesadvheader_minimenu_login a {
	font-size: 14px;
	background-color: transparent;
	display: block;
	padding: 5px 10px;
	height: auto;
	width: auto;
	border-radius:0 !important;
}
.sesadvheader_minimenu_message .sesadvheader_pulldown_contents_wrapper {
	right: inherit !important;
	left: 0px;
}
.sesadvheader_minimenu_message .dropdown_caret {
	right: inherit !important;
	left: 14px !important;
}
.header_right {
	float: right;
	text-align: center;
}
.header_main_menu ul li {
	float: left;
	position: relative;
}
.header_main_menu ul li + li {
	margin-left: 25px;
}
.sesadvheader_main_menu > ul > li > a {
	display: block;
	padding: 15px 0px;
	text-decoration: none;
}
.sesadvheader_main_menu > ul > li > a span {
	display: inline-block;
	vertical-align: middle;
}
.header_main_menu ul li a i {
	margin-right: 5px;
	background-size: contain;
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: middle;
}
.header_main_menu ul li ul {
	width: 180px;
	position: absolute;
	z-index: 9;
	display: none;
	box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.17);
}
.header_main_menu ul li.more_tab ul {
	right:0px;
	top:60px;
}
.header_main_menu ul li ul:before {
	content: '';
	display: block;
	position: absolute;
	top: -10px;
	left: 7px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
.header_main_menu ul li.more_tab ul:before {
	right: 12px;
	left: inherit;
}
.header_main_menu ul li:hover ul {
	display: block;
}
.header_main_menu ul li ul li {
	display: block;
	float: none;
	margin: 0px;
}
.header_main_menu ul li ul li a {
	padding: 10px 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	display: block;
	text-decoration: none;
}
.header_bottom {
	width: 100%;
	float: left;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.header_bottom_inner {
	width: 90%;
	margin: 0 auto;
}
.header_logo {
	float: left;
}
.header_google_ads {
	overflow: hidden;
	background-color: #ebebeb;
	width: 400px;
	height: 48px;
	text-align: center;
	line-height: 60px;
	font-weight: bold;
	margin: 16px auto;
}
.layout_sesadvancedheader_header .header_google_ads img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.header_searchbox,.layout_advancedsearch_search {
	float: right;
	min-width: 280px;
	position: relative;
	border-radius: 0px;
	margin: 10px 0px;
}
.header_searchbox input[type=text],.advancedsearch_box input[type=text] {
	width: 100%;
	max-width: 100%;
	background: transparent !important;
	border: none;
	padding: 0px;
	outline: none;
}
.header_three .header_searchbox{
	border-radius:0;
  margin:10px 0;
}
.header_searchbox .header_searchbox_button {
	float: right;
}
.header_searchbox button {
	background-image: none !important;
}
.header_searchbox button:hover {
	background-image: none !important;
}
.header_searchbox .header_searchbox_selectbox {
	float: right;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 0px;
}
.header_searchbox_button button, .header_searchbox_input input, .header_searchbox_selectbox .exp_select span,.advancedsearch_box input {
	height: 35px !important;
	line-height: 34px;
	padding: 0 15px !important;
	border: 0px !important;
	border-radius: 0 !important;
	display: block;
}
.advancedsearch_box_wrapper{
	width:100%;
}
.header_searchbox_selectbox .exp_select_option {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	z-index:99;
}
.header_searchbox_selectbox .exp_select span i {
	margin: 0 5px;
	float: right;
	line-height: 35px;
}
.header_searchbox_selectbox .exp_select .show-options {
	display: block;
}
.header_searchbox_selectbox .exp_select_option li {
	padding: 5px 10px;
	cursor: pointer;
}
.header_searchbox_selectbox .exp_select_option li img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	height: 16px;
	width: 16px;
	object-fit: contain;
}
.header_searchbox .header_searchbox_input {
	overflow: hidden;
}
.header_fix {
	width: 90%;
	margin: 0 auto;
}
.header_fixed_scroll .header_normal, .header_fix {
	display: none;
}
.header_fixed_scroll .header_fix {
	display: block;
}
.header_fixed_scroll .header_logo_bottom, .header_fixed_scroll .header_top .header_right, .header_fixed_scroll .header_main_menu {
	float: left;
	width: auto;
	margin-right: 15px;
}
.header_fixed_scroll .header_logo_bottom a {
	font-size: 24px;
	text-decoration: none;
	display: block;
	padding: 4px 0px;
}
.header_fixed_scroll .header_scroll_serchbox {
	float: right;
	position: relative;
}
.header_scroll_serchbox a {
	padding: 18px;
	display: block;
	text-decoration: none !important;
}
.header_scroll_serchbox .header_bottom_searchbox {
	position: absolute;
	right: 0px;
	display: none;
	top: 50px;
}
.header_scroll_serchbox .header_searchbox {
	min-width: 400px;
	border: 0px;
	box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.11);
	margin: 0px;
}
.minimenu_transparent .mini_menu_section > ul > li > a, .minimenu_transparent .mini_menu_section > ul > li > span > a {
	background-color: transparent;
	width: 22px;
	height: 29px;
}
.minimenu_transparent .mini_menu_section > ul > li.sesadvheader_minimenu_link a {
	padding: 8px 0px;
	height: auto;
	width: auto;
}
.sesadvheader_minimenu_updates .sesadvheader_pulldown_contents_wrapper, .sesadvheader_minimenu_request .sesadvheader_pulldown_contents_wrapper {
	left: -5px !important;
	transform: none !important;
}
.sesadvheader_minimenu_updates .dropdown_caret, .sesadvheader_minimenu_request .dropdown_caret {
	left: 15px !important;
	transform: none !important;
}
.sesadvheader_minimenu_setting div.sesadvheader_pulldown_contents_wrapper {
	right: 0px;
	transform: translate(50%);
}
.sesadvheader_minimenu_setting .dropdown_caret {
	right: 52% !important;
}
.header_fixed_only_banner .advance_header_main, .header_fixed_only_banner .mini_menu_section:before, .header_transparency .mini_menu_section:before, .header_transparency .advance_header_main {
	background-color: transparent;
	border: none;
}
@media (min-width: 980px) and (max-width:1050px) {
.header_main_menu .sesadvheader_main_menu,  .header_fixed_scroll .header_fix {
	display: none;
}
.header_main_menu .sesadvheader_mobile_nav_toggle,  .header_main_menu .sesadvheader_mobile_nav.sesadvheader_mobile_nav {
	display: block !important;
}
.sesadvheader_mobile_nav_toggle {
	top: 14px;
}
.header_google_ads {
	display: none;
}
.sesadvheader_mobile_nav_toggle {
	top: 6px !important;
	right: 50px !important;
}
}
@media (min-width: 768px) and (max-width:979px) {
.header_main_menu .sesadvheader_main_menu,  .header_fixed_scroll .header_fix {
	display: none;
}
.header_main_menu .sesadvheader_mobile_nav_toggle,  .header_main_menu .sesadvheader_mobile_nav.sesadvheader_mobile_nav {
	display: block !important;
}
.sesadvheader_mobile_nav_toggle {
	top: 14px !important;
}
.layout_sesadvancedheader_header .header_right > ul > li.mobile_search {
	display: inline-block !important;
}
.mobile_search .header_searchbox {
	top: 51px !important;
}
.header_google_ads {
	display: none;
}
.sesadvheader_mobile_nav_toggle {
	top: 6px !important;
	right: 50px !important;
}
}
@media (max-width:767px) {
.header_main_menu .sesadvheader_main_menu,  .header_fixed_scroll .header_fix {
	display: none;
}
.header_main_menu .sesadvheader_mobile_nav_toggle,  .header_main_menu .sesadvheader_mobile_nav.sesadvheader_mobile_nav {
	display: block !important;
}
.sesadvheader_mobile_nav_toggle {
	top: 14px;
}
.layout_sesadvancedheader_header .header_right > ul > li.mobile_search {
	display: inline-block !important;
}
.mobile_search .header_searchbox {
	top: 51px !important;
}
.sesadvheader_mobile_nav_toggle {
	top: 15px !important;
}
.header_google_ads {
	display: none;
}
.sesadvheader_mobile_nav_toggle {
	top: 6px !important;
	right: 50px !important;
}
}
@media (max-width:599px) {
.header_logo a img {
	height: 48px !important;
	margin-top: 5px !important;
}
.sesadvheader_mobile_nav_toggle {
	right: 20px !important;
}
.header_bottom .header_searchbox {
	min-width: 250px;
	width: 250px;
}
}
@media (max-width:479px) {
.header_right {
	float: left;
	margin: 0px;
}
.header_middle {
	float: none;
	width: 100%;
}
.header_bottom .header_searchbox {
	display: none;
}
.header_logo {
	float: none;
	width: 100%;
	text-align: center;
}
.layout_sesadvancedheader_header .mini_menu_section > ul > li.mobile_search {
	display: inline-block !important;
}
#global_page_core-index-index .layout_sesadvancedheader_header .mini_menu_section > ul > li.mobile_search {
	display: none !important;
}
}

/* SESMENU OVERRIDES */
.header_three .sesmenu_main_menu{
	background:transparent;
}
.header_three .sesmenu_main_menu_inner > ul {
  display: block !important;
	padding:10px 0;
}
.header_three .sesmenu_main_menu_inner{
	max-width:100% !important;
}
.header_three .sesmenu_main_menu_inner > ul > li > a {
  text-transform: inherit;
}
.header_three .sesmenu_main_menu_inner > ul > li > a:before{
	display:none;
}
.header_three .sesmenu_submenu{
	z-index:99;
}
