.header_top ,.header_fix{
	width:100%;
	margin: 0 auto;
	position: relative;
}
.header_left {
	float: left;
}
.header_logo {
	float: left;
	margin-right: 20px;
}
.header_left .header_logo a {
	font-size: 24px;
}
.header_logo a img {
	display: block;
}
.header_searchbox,.layout_advancedsearch_search{
	float: left;
	min-width: 400px;
	border-radius: 3px;
	position: relative;
	margin: 10px 0px;
}
.header_searchbox input[type=text],.advancedsearch_box input[type=text] {
	width: 100%;
	max-width: 100%;
	background-color: transparent !important;
	outline: none;
}
.advancedsearch_box button{
	border-radius:0 !important;
	padding: 0 !important;
}
.header_searchbox_button {
	float: right;
}
.header_searchbox button {
	border-radius: 0px 3px 3px 0px !important;
	background-image: none !important;
}
.header_searchbox .header_searchbox_selectbox {
	float: right;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0px;
}
.header_searchbox_button button, .header_searchbox_input input, .header_searchbox_selectbox .exp_select span,.advancedsearch_box input,.advancedsearch_box button{
	height: 35px !important;
	line-height: 34px;
	padding: 0 15px !important;
	border: 0px !important;
	display: block;
}
.advancedsearch_box_wrapper{
	display: block;
}
.header_left > div:last-child{
	float:left;
}
.header_searchbox_selectbox .exp_select_option {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	z-index: 3;
}
.header_searchbox_selectbox .exp_select span i {
	margin: 0 5px;
	float: right;
	line-height: 35px;
}
.header_searchbox_selectbox .exp_select .show-options {
	display: block;
}
.header_searchbox_selectbox .exp_select_option li {
	padding: 5px 10px;
	cursor: pointer;
}
.header_searchbox_selectbox .exp_select_option li img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	height: 16px;
	width: 16px;
	object-fit: contain;
}
.header_searchbox .header_searchbox_input {
	overflow: hidden;
}
.header_right {
	float: right;
	text-align: center;
	margin: 10px 0px 10px 15px;
}
.mini_menu_section {
	float: right;
}
.mini_menu_section ul {
	position: relative;
	padding-left: 15px;
}
.mini_menu_section > ul > li {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.mini_menu_section > ul > li + li {
	margin-left: 10px;
}
.mini_menu_section ul li.user_profile_link a {
	display: inline-block;
}
.mini_menu_section ul li.user_profile_link {
	line-height: 0px;
}
.mini_menu_section ul li.user_profile_link a img {
	width: 20px;
	height: 20px;
	object-fit: cover;
	border-radius: 100%;
}
.mini_menu_section > ul > li > a, .mini_menu_section > ul > li > span > a {
	font-size: 16px;
	display: block;
	border-radius: 100%;
	text-decoration: none;
	height: 32px;
	width: 32px;
	position: relative;
}
.mini_menu_section ul li a:before, .mini_menu_section ul li span a:before, .sesadvheader_minimenu_setting span a#show_settings_img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.mini_menu_section ul li a:hover, .mini_menu_section ul li span a:hover {
	border-radius: 100%;
}
.sesadvheader_minimenu_link .sesprofilelock_mini_admin {
	padding: 8px 12px;
}
.mini_menu_section ul li a#show_settings_img, .mini_menu_section ul li span a#show_settings_img {
	display: block;
	line-height: 0px;
}
.mini_menu_section ul li span.settings_pulldown, .mini_menu_section ul li span.settings_pulldown_active {
	display: inline-block !important;
	vertical-align: middle;
}
.mini_menu_section ul li a #updates_toggle {
	display: none;
}
.mini_menu_section ul li .sesadvheader_minimenu_count {
	position: absolute;
	top: -7px;
	color: #fff;
	background-color: #fa3e3e;
	padding: 2px 4px;
	border-radius: 2px;
	right: -7px;
	font-size: 11px;
	z-index: 1;
}
.mini_menu_section .pulldown_options {
	margin: 5px 0px 0px 0;
	text-align: center;
	padding: 5px 0px;
	border-top-width: 1px;
}
.mini_menu_section .pulldown_options a {
 color:$theme_link_color;
	opacity: 1;
}
.mini_menu_section .pulldown_options a:hover {
	opacity: 1;
	text-decoration: underline;
}
.mini_menu_section ul li.sesadvheader_minimenu_link {
	line-height: 1;
}
.mini_menu_section ul li.sesadvheader_minimenu_signup a, .mini_menu_section ul li.sesadvheader_minimenu_login a {
	font-size: 16px;
	background-color: transparent;
	padding: 10px 3px !important;
	display: block;
	width: auto;
	height: auto;
	border-radius:0 !important;
}
.header_middle {
	float: left;
}
.header_middle a.main_menu_toggle {
	font-size: 20px;
	color: rgba(0, 0, 0, 0.46);
	padding: 17px 7px;
	display: block;
	margin-right: 15px;
}
.menu_left_panel_nav_container {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center left;
}
/* menu overlay effacts css*/
.menu_overlay .header_main_menu {
	text-align: left;
	position: fixed;
	height: 100%;
	top: 0px;
	width: 220px;
	left: -220px;
	z-index: 99;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.14);
}
.menu_overlay .header_main_menu.header_sidebar_panel {
	left: 0px;
}
/* menu pusher effacts css*/
#global_wrapper, #global_footer {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	left: 0px;
}
.globle_pusher_panle #global_wrapper, .globle_pusher_panle #global_footer {
	left: 220px;
	position: relative;
	overflow: hidden;
}
.menu_pusher .close_sidebar_panel, .menu_pusher_rotate .close_sidebar_panel {
	display: none;
}
.menu_pusher .header_main_menu, .menu_pusher_rotate .header_main_menu {
	text-align: left;
	position: fixed;
	height: 100%;
	top: 57px;
	width: 220px;
	left: -220px;
	z-index: 99;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.14);
}
.menu_pusher_rotate .header_main_menu {
	height: 70%;
	overflow: hidden;
	-webkit-transform: translate3d(0%, 7%, 0) rotateY(110deg);
	transform: translate3d(0%, 7%, 0) rotateY(110deg);
}
.menu_pusher .header_main_menu.header_sidebar_panel {
	left: 0px;
}
.menu_pusher_rotate .header_main_menu.header_sidebar_panel {
	left: 0px;
	height: 100%;
	overflow: inherit;
	-webkit-transform: translate3d(0%, 0, 0) rotateY(0deg);
	transform: translate3d(0%, 0, 0) rotateY(0deg);
}
/* menu slide effacts css*/
.menu_slide_showhide #global_wrapper, .menu_slide_showhide #global_footer {
	margin-left: 220px;
	position: relative;
	-webkit-transition: margin-left .3s;
	-moz-transition: margin-left .3s;
	-o-transition: margin-left .3s;
	transition: margin-left .3s;
}
.menu_slide_showhide #global_content, .menu_slide_showhide .layout_page_footer {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
}
.menu_slide_alwayshow #global_wrapper, .menu_slide_alwayshow #global_footer {
	margin-left: 220px;
	position: relative;
}
.menu_slide_alwayshow #global_content, .menu_slide_alwayshow #global_footer, .menu_slide_expand #global_content, .menu_slide_expand #global_footer {
	width: auto;
	padding: 0px 15px;
}
.menu_slide_alwayshow .menu_alwayshow .header_main_menu {
	left: 0px !important;
}
.menu_alwayshow a.main_menu_toggle {
	display: none;
}
.menu_slide_showhide .menu_alwayhide .header_main_menu {
	left: 0px !important;
}
.menu_slide_expand #global_wrapper, .menu_slide_expand .layout_page_footer {
	margin-left: 220px;
	position: relative;
	-webkit-transition: margin-left .3s;
	-moz-transition: margin-left .3s;
	-o-transition: margin-left .3s;
	transition: margin-left .3s;
}
.menu_slide_collaps #global_wrapper, .menu_slide_collaps .layout_page_footer {
	margin-left: 60px;
	position: relative;
	-webkit-transition: margin-left .3s;
	-moz-transition: margin-left .3s;
	-o-transition: margin-left .3s;
	transition: margin-left .3s;
}
.menu_expand .header_main_menu {
	text-align: left;
	position: fixed;
	height: 100%;
	top: 57px;
	width: 60px;
	left: 0;
	z-index: 99;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.14);
}
.menu_collaps .header_main_menu {
	text-align: left;
	position: fixed;
	height: 100%;
	top: 57px;
	width: 60px;
	left: -60px;
	z-index: 99;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.14);
}
.menu_slide_collaps .menu_collaps .header_main_menu {
	left: 0px;
}
.menu_expand .header_main_menu ul li.close_sidebar_panel, .menu_collaps .header_main_menu ul li.close_sidebar_panel, .menu_collaps .menu_left_panel_top_section {
	display: none;
}
.menu_expand .header_main_menu ul li a, .menu_collaps .header_main_menu ul li a {
	padding: 15px;
}
.menu_expand .header_main_menu ul li a span, .menu_collaps .header_main_menu ul li a span, .menu_expand .header_main_menu ul li a i.expcoll-icon, .menu_collaps .header_main_menu ul li a i.expcoll-icon {
	font-size: 0px;
}
.menu_expand .header_main_menu ul li a i, .menu_collaps .header_main_menu ul li a i {
	height: 20px;
	width: 20px;
	background-size: cover;
	margin-right: 0px;
	text-align: center;
}
.menu_slide_expand .menu_expand .header_main_menu {
	width: 220px;
}
.menu_expand .header_main_menu.header_sidebar_panel ul li a {
	text-align: left;
	padding: 15px;
}
.menu_slide_expand .menu_expand .header_main_menu ul li a span {
	font-size: 13px;
}
.menu_slide_expand .menu_expand .header_main_menu ul li a i.expcoll-icon {
	font-size: 20px;
}
.menu_expand .header_main_menu.header_sidebar_panel ul li a i {
	margin-right: 5px;
}
.menu_slide_along .header_main_menu, .menu_slide_scaleup .header_main_menu, .menu_alwayshow .header_main_menu, .menu_alwayhide .header_main_menu {
	text-align: left;
	position: fixed;
	height: 100%;
	top: 57px;
	width: 220px;
	left: -220px;
	z-index: 99;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.14);
}
.menu_slide_along .header_main_menu.header_sidebar_panel, .menu_slide_falldown .header_main_menu.header_sidebar_panel {
	left: 0px;
}
.menu_slide_scaleup .header_main_menu {
	height: 80%;
	overflow: hidden;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}
.menu_slide_scaleup .header_main_menu.header_sidebar_panel {
	left: 0px;
	height: 100%;
	overflow: inherit;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.menu_slide_falldown .header_main_menu {
	text-align: left;
	position: fixed;
	height: 100%;
	top: 57px;
	width: 220px;
	left: -220px;
	z-index: 99;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.14);
}
.menu_slide_falldown .header_main_menu {
	height: 0px;
	overflow: hidden;
}
.menu_slide_falldown .header_main_menu.header_sidebar_panel {
	height: 100%;
	overflow: inherit;
}
.menu_slide_3drotate_in .header_main_menu {
	text-align: left;
	position: fixed;
	top: 57px;
	width: 220px;
	left: 0;
	z-index: 99;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.14);
	height: 70%;
	overflow: hidden;
	-webkit-transform: translate3d(0%, 7%, 0) rotateY(90deg);
	transform: translate3d(0%, 7%, 0) rotateY(90deg);
}
.menu_slide_3drotate_in .header_main_menu.header_sidebar_panel {
	left: 0px;
	height: 100%;
	overflow: inherit;
	-webkit-transform: translate3d(0%, 0, 0) rotateY(0deg);
	transform: translate3d(0%, 0, 0) rotateY(0deg);
}
.menu_slide_reveal .header_main_menu {
	text-align: left;
	position: fixed;
	height: 100%;
	top: 57px;
	width: 0;
	overflow: hidden;
	left: 0;
	z-index: 99;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.14);
}
.menu_slide_reveal .header_main_menu.header_sidebar_panel {
	width: 220px;
	overflow: hidden;
}
.menu_left_panel_top_section {
	background-size: cover;
	padding: 10px;
	position: relative;
}
.menu_left_panel_top_section:before {
	background-color: rgba(0,0,0,.2);
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.menu_left_panel_top_section_img {
	margin-bottom: 10px;
}
.menu_left_panel_top_section_img, .menu_left_panel_top_section_name, .menu_left_panel_top_section_btn {
	position: relative;
}
.menu_left_panel_top_section_img img {
	border-radius: 50%;
	height: 60px;
	object-fit: cover;
	width: 60px;
}
img.thumb_profile {
	max-width: 200px;
	max-height: 400px;
}
.menu_expand .menu_left_panel_top_section {
	display: none;
}
.menu_slide_expand .menu_expand .menu_left_panel_top_section {
	display: block;
}
.menu_left_panel_top_section_name {
	font-size: 15px;
	overflow: hidden;
	text-shadow: 0 0 2px rgba(0,0,0,.5);
}
.menu_left_panel_top_section_btn {
	float: right;
	text-decoration: none !important;
}
.menu_left_panel_top_section_btn i {
 color:$sesadvheader_font_color;
	font-size: 12px;
}
.menu_left_panel_top_section_options {
	box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	position: absolute;
	left: 0;
	right: 0;
	float: left;
	margin-top: 10px;
	width: 100%;
	padding: 10px;
	z-index: 1;
}
.dropdown_caret {
	height: 10px;
	left: 50%;
	margin-left: -10px;
	position: absolute;
	top: -10px;
	width: 18px;
}
.menu_left_panel_top_section_options .dropdown_caret {
	left: auto;
	right: 8px;
}
.dropdown_caret .caret_outer, .dropdown_caret .caret_inner {
	border-bottom: 10px solid #EBECEE;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: auto;
	left: 0;
	top: 0;
	position: absolute;
	width: auto;
}
.dropdown_caret .caret_inner {
	border-bottom: 10px solid #FFF;
	top: 1px;
}
.menu_left_panel_top_section_options ul {
	padding: 0;
}
.menu_left_panel_top_section_options ul li {
	padding: 5px 0 !important;
}
.menu_left_panel_top_section_options ul li a {
	margin: 0;
	padding: 0px !important;
}
.header_main_menu ul li {
	display: block;
	position: relative;
}
.menu_left_panel_nav_container ul li a {
	display: block;
	padding: 10px 13px;
	text-decoration: none;
	white-space: nowrap;
}
.menu_left_panel_nav_container ul li a i.menuicon {
	margin-right: 5px;
	display: inline-block;
	height: 16px;
	width: 16px;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
}
.expcoll-icon {
	float: right;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	width: 25px;
	font-style: normal;
}
.expcoll-icon:before {
	content: '+';
	display: block;
}
.open_toggled_menu .expcoll-icon:before {
	content: '-';
	display: block;
}
.menu_left_panel_nav_container ul li a span {
	display: inline-block;
	vertical-align: middle;
}
.menu_left_panel_nav_container ul li ul li a {
	display: block;
	padding: 10px 13px 10px 37px;
	text-decoration: none;
	white-space: nowrap;
}
.header_fixed_only_banner .header_middle a.main_menu_toggle, .header_transparency .header_middle a.main_menu_toggle {
	color: #fff;
}
.close_sidebar_panel {
	text-align: right;
	display: block;
	position: absolute !important;
	top: 0px;
	right: 0px;
	z-index: 99;
}
.close_sidebar_panel a {
	padding: 0px !important;
	font-size: 17px;
}
.close_sidebar_panel a i {
	padding: 5px 8px;
}
.close_sidebar_panel a:hover {
	background-color: transparent !important;
}
.header_fixed_only_banner .header_bottom, .header_transparency .header_bottom {
	padding: 0px;
}
.minimenu_transparent .mini_menu_section ul li a, .minimenu_transparent .mini_menu_section ul li a:hover {
	background-color: transparent;
}
.header_fixed_only_banner .header_searchbox, .header_transparency .header_searchbox {
	border-color: transparent;
}
.minimenu_transparent .mini_menu_section ul li a, .minimenu_transparent .mini_menu_section ul li span a {
	padding: 8px 3px;
	width: 26px;
}
.minimenu_transparent .mini_menu_section ul li.sesadvheader_minimenu_link a {
	width: auto;
	height: auto;
}
.header_scroll_serchbox {
	display: none;
}
.header_fixed_scroll .header_main_menu {
	float: left;
}
.header_fixed_scroll .header_scroll_serchbox {
	display: block;
	float: right;
	position: relative;
}
.header_fixed_scroll .header_left {
	float: none;
}
.header_fixed_scroll .header_searchbox {
	float: right;
}
.header_fixed_scroll .header_right {
	display: none;
}
.header_scroll_serchbox .header_bottom_searchbox {
	position: absolute;
	right: 0px;
	display: none;
	top: 50px;
}
.header_fixed_scroll .header_top{
	display: none;
}
.header_fixed_scroll .header_fix {
	display: block;
	width: 90%;
	margin: 0px auto;
}
@media (min-width:980px) and (max-width:1050px) {
.header_fixed_scroll .header_top,  .header_fixed_scroll .header_background_opacity {
	display: none;
}
}
@media (min-width:768px) and (max-width:979px) {
.header_fixed_scroll .header_top,  .header_fixed_scroll .header_background_opacity {
	display: none;
}
.header_left .header_logo a img {
	height: 45px !important;
	margin-top: 3px !important;
}
.header_left .header_searchbox {
	min-width: 280px;
	width: 280px;
}
.header_right {
	margin: 10px 0px 10px 0px;
}
.mini_menu_section ul li + li {
	margin-left: 5px;
}
}
@media (max-width:767px) {
.header_fixed_scroll .header_top,  .header_fixed_scroll .header_background_opacity,  .header_left .header_searchbox {
	display: none;
}
.header_left .header_logo a img {
	height: 45px !important;
	margin-top: 3px !important;
}
.layout_sesadvancedheader_header .mini_menu_section ul li.mobile_search {
	display: inline-block !important;
}
.header_left .header_searchbox {
	min-width: 280px;
	width: 280px;
}
.header_right {
	margin: 12px 0px;
}
.mini_menu_section ul li + li {
	margin-left: 5px;
}
.menu_alwayshow a.main_menu_toggle {
	display: block;
}
}
@media (max-width:479px) {
.header_middle {
	float: right;
}
.header_middle a.main_menu_toggle {
	margin: 0px;
}
.header_right {
	width: 100%;
	float: none;
	display: inline-block;
	margin: 5px 0px 12px;
}
.header_right .mini_menu_section {
	float: none;
	text-align: center;
}
}
