.header_top {
	width: 90%;
	margin: 0 auto;
	position: relative;
}
.header_left {
	float: left;
}
.header_logo {
	float: left;
	margin-right: 20px;
}
.header_left .header_logo a {
	font-size: 24px;
}
.header_logo a img {
	display: block;
}
.header_searchbox,.layout_advancedsearch_search{
	float: left;
	min-width: 400px;
	border-radius: 3px;
	position: relative;
	margin: 15px 0px;
}
.header_searchbox input[type=text],.advancedsearch_box input[type=text]{
	width: 100%;
	max-width: 100%;
	background-color: transparent !important;
	outline: none;
}
.advancedsearch_box_wrapper{
	display:block;
}
.header_left > div:last-child{
	display:inline-block;
}
.header_searchbox_button {
	float: right;
}
.header_searchbox button,.advancedsearch_box button{
	border-radius: 0px 3px 3px 0px !important;
	background-image: none !important;
}
.header_searchbox button:hover {
	background-image: none !important;
}
.header_searchbox .header_searchbox_selectbox {
	float: right;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0px;
}
.header_searchbox_button button, .header_searchbox_input input, .header_searchbox_selectbox .exp_select span,.advancedsearch_box input{
	height: 35px !important;
	line-height: 34px;
	padding: 0 15px !important;
	border: 0px !important;
	display: block;
}
.header_searchbox_selectbox .exp_select_option {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	z-index: 3;
}
.header_searchbox_selectbox .exp_select span i {
	margin: 0 5px;
	float: right;
	line-height: 35px;
}
.header_searchbox_selectbox .exp_select .show-options {
	display: block;
}
.header_searchbox_selectbox .exp_select_option li {
	padding: 5px 10px;
	cursor: pointer;
}
.header_searchbox_selectbox .exp_select_option li img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	height: 16px;
	width: 16px;
	object-fit: contain;
}
.header_searchbox .header_searchbox_input {
	overflow: hidden;
}
.header_right {
	float: right;
	text-align: center;
	margin: 10px 15px 10px 0px
}
.mini_menu_section {
	float: right;
}
.mini_menu_section > ul {
	position: relative;
	padding-left: 15px;
}
.mini_menu_section > ul > li {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.mini_menu_section > ul > li + li {
	margin-left: 10px;
}
.mini_menu_section > ul > li.user_profile_link a {
	display: inline-block;
}
.mini_menu_section > ul > li.user_profile_link {
	line-height: 0px;
}
.mini_menu_section > ul > li.user_profile_link a img {
	width: 20px;
	height: 20px;
	object-fit: cover;
	border-radius: 100%;
}
.mini_menu_section > ul > li > a, .mini_menu_section > ul > li > span > a {
	font-size: 16px;
	display: block;
	border-radius: 100%;
	text-decoration: none;
	height: 34px;
	width: 34px;
	position: relative;
}
.mini_menu_section > ul > li a:before, .mini_menu_section > ul > li span a:before, .sesadvheader_minimenu_setting span a#show_settings_img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.mini_menu_section > ul > li a:hover, .mini_menu_section > ul > li span a:hover {
	border-radius: 100%;
}
.sesadvheader_minimenu_link .sesprofilelock_mini_admin {
	padding: 8px 12px;
}
.mini_menu_section > ul > li a#show_settings_img, .mini_menu_section > ul > li span a#show_settings_img {
	display: block;
	line-height: 0px;
}
.mini_menu_section > ul > li span.settings_p> ulldown, .mini_menu_section > ul > li span.settings_p> ulldown_active {
	display: inline-block !important;
	vertical-align: middle;
}
.mini_menu_section > ul > li a #updates_toggle {
	display: none;
}
.mini_menu_section > ul > li .sesadvheader_minimenu_count {
	position: absolute;
	top: -7px;
	color: #fff;
	background-color: #fa3e3e;
	padding: 2px 4px;
	border-radius: 2px;
	right: -7px;
	font-size: 11px;
	z-index: 1;
}
.mini_menu_section .p> ulldown_options {
	margin: 5px 0px 0px 0;
	text-align: center;
	padding: 5px 0px;
	border-top-width: 1px;
}
.mini_menu_section .p> ulldown_options a {
 color:$theme_link_color;
	opacity: 1;
}
.mini_menu_section .p> ulldown_options a:hover {
	opacity: 1;
	text-decoration: underline;
}
.mini_menu_section > ul > li.sesadvheader_minimenu_link {
	line-height: 1;
}
.mini_menu_section > ul > li.sesadvheader_minimenu_signup a, .mini_menu_section > ul > li.sesadvheader_minimenu_login a {
	font-size: 16px;
	background-color: transparent;
	padding: 8px 10px !important;
	display: block;
	width: auto;
	height: auto;
}
.header_middle {
	float: right;
	padding: 9px 0px;
}
.header_middle a.main_menu_toggle {
	font-size: 22px;
	color: rgba(0, 0, 0, 0.46);
	padding: 3px;
	display: block;
}
.header_main_menu {
	text-align: left;
	position: fixed;
	height: 100%;
	top: 0px;
	width: 220px;
	right: -220px;
	z-index: 99;
	box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.14);
	-webkit-transition: all 800ms ease-in-out 0s;
	-moz-transition: all 800ms ease-in-out 0s;
	transition: all 800ms ease-in-out 0s;
}
.header_main_menu.header_sidebar_panel {
	right: 0px;
}
.header_sidebar_panel .header_main_menu {
	right: 0px;
}
.header_main_menu > ul > li {
	display: block;
	position: relative;
}
.header_main_menu > ul > li a {
	display: block;
	padding: 10px 13px;
	text-decoration: none;
}
.header_main_menu > ul > li a i {
	margin-right: 5px;
	background-size: contain;
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: middle;
}
.header_main_menu > ul > li:hover > ul {
	display: block !important;
	position: absolute;
	left: -190px;
	width: 190px;
	top: 0px;
	box-shadow: -4px 0px 20px rgba(0, 0, 0, 0.1);
}
.close_sidebar_panel {
	text-align: right;
	display: block;
}
.header_fixed_scroll .header_top, .header_fix {
	display: none;
}
.header_fixed_scroll .header_fix {
	display: block;
	width: 90%;
	margin: 0px auto;
}
.header_fixed_only_banner .header_bottom, .header_transparency .header_bottom {
	padding: 0px;
}
.minimenu_transparent .mini_menu_section > ul > li a, .minimenu_transparent .mini_menu_section > ul > li a:hover {
	background-color: transparent;
}
.header_fixed_only_banner .header_searchbox, .header_transparency .header_searchbox, .header_fixed_scroll .header_searchbox {
	border-color: transparent;
}
.minimenu_transparent .mini_menu_section > ul > li a, .minimenu_transparent .mini_menu_section > ul > li span a {
	padding: 8px 3px;
	width: 22px;
}
.minimenu_transparent .mini_menu_section > ul > li.sesadvheader_minimenu_link a {
	width: auto;
	height: auto;
}
.header_fixed_scroll .header_main_menu {
	float: left;
}
.header_fixed_scroll .header_right {
	display: none;
}
.header_main_menu ul li {
  padding: 5px 10px;
}
@media (min-width: 980px) and (max-width:1050px) {
.header_main_menu .sesadvheader_main_menu,  .header_fixed_scroll .header_fix,  .header_fixed_scroll .header_background_opacity {
	display: none;
}
.header_main_menu .sesadvheader_mobile_nav_toggle,  .header_main_menu .sesadvheader_mobile_nav.sesadvheader_mobile_nav {
	display: block !important;
}
.sesadvheader_mobile_nav_toggle {
	top: 14px;
}
.header_bottom {
	position: relative;
}
.sesadvheader_mobile_nav_toggle {
	top: 10px !important;
	right: 10px !important;
}
.header_fixed_outside.header_fixed_scroll .advance_header_main {
	position: inherit !important;
}
.header_searchbox {
	min-width: 300px;
}
}
@media (min-width: 768px) and (max-width:979px) {
.header_main_menu .sesadvheader_main_menu,  .header_fixed_scroll .header_fix,  .header_fixed_scroll .header_background_opacity {
	display: none;
}
.header_main_menu .sesadvheader_mobile_nav_toggle,  .header_main_menu .sesadvheader_mobile_nav.sesadvheader_mobile_nav {
	display: block !important;
}
.sesadvheader_mobile_nav_toggle {
	top: 14px !important;
}
.mobile_search .header_searchbox {
	top: 51px !important;
}
.sesadvheader_mobile_nav_toggle {
	top: 10px !important;
	right: 10px !important;
}
.header_fixed_outside.header_fixed_scroll .advance_header_main {
	position: inherit !important;
}
.header_searchbox {
	min-width: 260px;
	width: 260px;
}
.mini_menu_section > ul > li + li {
	margin-left: 5px;
}
.header_right {
	margin: 10px 5px 10px 0px;
}
}
@media (max-width:767px) {
.header_fixed_scroll .header_background_opacity {
	display: none;
}
.layout_sesadvancedheader_header .mini_menu_section > ul > li.mobile_search {
	display: inline-block !important;
}
.mobile_search .header_searchbox {
	top: 51px !important;
}
.sesadvheader_mobile_nav_toggle {
	top: 15px !important;
}
.sesadvheader_mobile_nav_toggle {
	top: 10px !important;
	right: 10px !important;
}
.header_fixed_outside.header_fixed_scroll .advance_header_main {
	position: inherit !important;
}
.mini_menu_section {
	margin-right: 0px;
}
.header_left .header_searchbox {
	display: none;
}
.header_logo a img {
	height: 46px !important;
	margin-top: 2px;
}
}
@media (max-width:599px) {
.header_logo a img {
	height: 44px !important;
	margin-top: 0px !important;
}
.mini_menu_section > ul > li a,  .mini_menu_section > ul > li span a {
	font-size: 16px;
	height: 32px;
	width: 32px;
}
.mini_menu_section {
	padding: 2px 0px;
}
.mini_menu_section > ul {
	padding: 0px;
}
}
@media (max-width:479px) {
.header_right {
	float: none;
	display: inline-block;
	width: 100%;
	margin: 0px 0px 10px;
}
.header_right .mini_menu_section {
	float: none;
	text-align: center;
}
}
}
