.layout_sesadvancedheader_header .header_top {
	width: 100%;
	margin: 0 auto;
}
.layout_sesadvancedheader_header .header_left {
	float: left;
	padding: 15px 0px;
}
.header_searchbox,.header_two .layout_advancedsearch_search{
	display: inline-block;
	vertical-align: middle;
	width: 320px;
	position: relative;
}
.layout_advancedsearch_search{
	margin:0;
}
.advancedsearch_box_wrapper{
	width:100%;
}
.header_searchbox input[type=text],.advancedsearch_box input[type=text]{
	width: 100%;
	max-width: 100%;
	background: transparent !important;
	border: none;
	padding: 0px;
	outline: none;
}
.header_searchbox .header_searchbox_button {
	float: right;
}
.header_searchbox button {
	background-image: none !important;
}
.header_searchbox button:hover {
	background-image: none !important;
}
.header_searchbox .header_searchbox_selectbox {
	float: right;
	border-left: 1px solid rgba(197, 197, 197, 0.76);
	margin: 0px;
}
.header_searchbox_button button, .header_searchbox_input input, .header_searchbox_selectbox .exp_select span,.advancedsearch_box input{
	height: 35px !important;
	line-height: 34px;
	padding: 0 15px !important;
	border: 0px !important;
	border-radius: 0;
	display: block;
}
.header_searchbox_selectbox .exp_select_option {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	z-index:99;
}
.header_searchbox_selectbox .exp_select span i {
	margin: 0 5px;
	float: right;
	line-height: 35px;
}
.header_searchbox_selectbox .exp_select .show-options {
	display: block;
}
.header_searchbox_selectbox .exp_select_option li {
	padding: 5px 10px;
	cursor: pointer;
}
.header_searchbox_selectbox .exp_select_option li img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	height: 16px;
	width: 16px;
	object-fit: contain;
}
.header_searchbox .header_searchbox_input {
	overflow: hidden;
}
.header_right {
	float: right;
	text-align: center;
	padding: 16px 0px;
}
.header_right > ul {
	text-align: right;
}
.header_right > ul > li {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.header_right > ul > li + li {
	margin-left: 10px;
}
.header_right > ul > li > a, .header_right > ul > li > span > a {
	font-size: 18px;
	border-radius: 100%;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	display: block;
	height: 34px;
	width: 34px;
}
.header_right > ul > li > a:before, .header_right > ul > li > span > a:before, .sesadvheader_minimenu_setting span a#show_settings_img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.header_right > ul > li > a:hover, .header_right > ul > li > span > a:hover {
	border-radius: 100%;
}
.header_right > ul > li > a#show_settings_img, .header_right > ul > li > span > a#show_settings_img {
	display: block;
	line-height: 0px;
}
.header_right > ul > li span.settings_pulldown, .header_right > ul > li span.settings_pulldown_active {
	display: inline-block !important;
	vertical-align: middle;
}
.header_right > ul > li a #updates_toggle {
	display: none;
}
.header_right > ul > li .sesadvheader_minimenu_count {
	position: absolute;
	top: -7px;
	color: #fff;
	background-color: #fa3e3e;
	padding: 2px 4px;
	border-radius: 2px;
	right: -7px;
	font-size: 11px;
	z-index: 1;
}
.header_right .pulldown_options {
	margin: 5px 0px 0px 0;
	text-align: center;
	padding: 5px 0px;
	border-top-width: 1px;
}
.header_right .pulldown_options a {
 color:$theme_link_color;
	opacity: 1;
}
.header_right .pulldown_options a:hover {
	opacity: 1;
	text-decoration: underline;
}
.header_right > ul > li.sesadvheader_minimenu_signup a, .header_right > ul > li.sesadvheader_minimenu_login a {
	opacity: 1;
	font-size: 13px;
	border-radius: 4px;
	height: auto;
	width: auto;
	padding: 5px 10px;
}
.header_middle {
	overflow: hidden;
	text-align: center;
}
.header_logo {
	display: inline-block;
	vertical-align: middle;
}
.header_logo a {
	font-size: 24px;
}
.header_bottom {
	width: 100%;
	float: left;
}
/*menu position left css*/
.sesadvheader_main_menu.menu_position_left > ul {
	text-align: left;
}
.sesadvheader_main_menu.menu_position_left > ul > li {
	float: none;
	display: inline-block;
}
/*menu position right css*/
.sesadvheader_main_menu.menu_position_right > ul {
	text-align: right;
}
.sesadvheader_main_menu.menu_position_right > ul > li {
	float: none;
	display: inline-block;
}
.sesadvheader_main_menu.menu_position_right ul li.more_tab ul {
	left: inherit;
	right: 68px;
}
.sesadvheader_main_menu.menu_position_right ul li.more_tab ul:before {
	left: inherit;
	right: 7px;
}
.sesadvheader_main_menu.menu_position_right ul li ul li {
	text-align: left;
}
/*menu position center css*/
.sesadvheader_main_menu.menu_position_center > ul {
	text-align: center;
}
.sesadvheader_main_menu.menu_position_center > ul > li {
	float: none;
	display: inline-block;
}
.sesadvheader_main_menu.menu_position_center ul li ul li {
	text-align: left;
}
/*menu position justified css*/
.sesadvheader_main_menu.menu_position_justified > ul {
	display: table;
	width: 100%;
}
.sesadvheader_main_menu.menu_position_justified > ul > li {
	float: none;
	display: table-cell;
}
.sesadvheader_main_menu > ul > li {
	float: left;
}
.sesadvheader_main_menu > ul > li + li {
	margin-left: 36px;
}
.sesadvheader_main_menu > ul > li > a {
	padding: 15px 0px;
	display: block;
	border-bottom: 1px solid transparent;
	text-decoration: none;
}
.sesadvheader_main_menu > ul > li > a > i {
	margin-right: 5px;
	background-size: cover;
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: middle;
}
.header_main_menu ul li ul {
	width: 180px;
	position: absolute;
	z-index: 9;
	display: none;
	box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.17);
}
.header_main_menu ul li ul:before {
	content: '';
	display: block;
	position: absolute;
	top: -10px;
	left: 7px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
.header_main_menu ul li:hover ul {
	display: block;
}
.header_main_menu ul li ul li {
	display: block;
	float: none;
	margin: 0px;
}
.header_main_menu ul li ul li a {
	padding: 10px 15px;
	border-bottom: 1px solid #f5f5f5;
	display: block;
	text-decoration: none;
}
.minimenu_transparent .header_right > ul > li > a, .minimenu_transparent .header_right > ul > li > span > a {
	height: 34px;
	width: 28px;
	background-color: transparent;
}
.minimenu_transparent .header_right > ul > li.sesadvheader_minimenu_link a {
	height: auto;
	width: auto;
}
.header_fix {
	width:100%;
	margin: 0 auto;
}
.header_bottom .header_bottom_inner {
	width:100%;
	margin: 0 auto;
}
.header_fixed_scroll .header_logo_bottom, .header_fixed_scroll .header_main_menu {
	float: left;
	width: auto;
	margin-right: 15px;
}
.header_fixed_scroll .header_logo_bottom a {
	font-size: 24px;
	text-decoration: none;
	display: block;
	padding: 4px 0px;
}
.header_fixed_scroll .header_scroll_serchbox {
	float: right;
	position: relative;
}
.header_fix .header_scroll_serchbox a {
	padding: 18px;
	display: block;
	text-decoration: none;
}
.header_scroll_serchbox .header_bottom_searchbox {
	position: absolute;
	right: 0px;
	display: none;
}
.header_scroll_serchbox .header_searchbox {
	min-width: 400px;
	border: 0px;
	box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.11);
}
.header_fixed_only_banner .advance_header_main, .header_fixed_only_banner .mini_menu_section:before, .header_transparency .mini_menu_section:before, .header_transparency .advance_header_main {
	background-color: transparent;
	border: none;
}
.header_two .sesadvheader_main_menu > ul > li:last-child > a:hover, .header_two .sesadvheader_main_menu > ul > li.active:last-child a {
  border-bottom: 0;
}
@media (min-width: 980px) and (max-width:1050px) {
.header_main_menu .sesadvheader_main_menu, .header_fixed_scroll .header_fix {
	display: none;
}
.header_main_menu .sesadvheader_mobile_nav_toggle, .header_main_menu .sesadvheader_mobile_nav.sesadvheader_mobile_nav {
	display: block !important;
}
.sesadvheader_mobile_nav_toggle {
	top: 14px;
}
.header_right {
	margin-right: 15px;
}
}
@media (min-width: 768px) and (max-width:979px) {
.header_main_menu .sesadvheader_main_menu, .layout_sesadvancedheader_header .header_left, .header_fixed_scroll .header_fix {
	display: none;
}
.header_main_menu .sesadvheader_mobile_nav_toggle, .header_main_menu .sesadvheader_mobile_nav.sesadvheader_mobile_nav {
	display: block !important;
}
.sesadvheader_mobile_nav_toggle {
	top: 14px !important;
}
.header_right {
	margin-right: 15px;
}
.layout_sesadvancedheader_header .header_right > ul > li.mobile_search {
	display: inline-block !important;
}
.header_middle {
	float: left;
}
.mobile_search .header_searchbox {
	top: 51px !important;
}
}
@media (max-width:767px) {
.header_main_menu .sesadvheader_main_menu, .layout_sesadvancedheader_header .header_left, .header_fixed_scroll .header_fix {
	display: none;
}
.header_main_menu .sesadvheader_mobile_nav_toggle, .header_main_menu .sesadvheader_mobile_nav.sesadvheader_mobile_nav {
	display: block !important;
}
.sesadvheader_mobile_nav_toggle {
	top: 14px;
}
.header_right {
	margin-right: 30px;
}
.layout_sesadvancedheader_header .header_right > ul > li.mobile_search {
	display: inline-block !important;
}
.header_middle {
	float: left;
}
.mobile_search .header_searchbox {
	top: 51px !important;
}
.sesadvheader_mobile_nav_toggle {
	top: 15px !important;
}
}
@media (max-width:599px) {
.header_logo a img {
	height: 48px !important;
}
.header_right {
	padding: 12px 0px;
}
.header_right > ul > li > a, .header_right > ul > li > span > a {
	font-size: 14px;
	height: 30px;
	width: 30px;
}
.sesadvheader_mobile_nav_toggle {
	top: 8px !important;
}
}
@media (max-width:479px) {
.header_right {
	float: left;
	margin: 0px;
}
.header_middle {
	float: none;
	width: 100%;
}
}

/* SESMENU OVERRIDES */
.header_two .sesmenu_main_menu{
	background:transparent;
}
.header_two .sesmenu_main_menu_inner{
	max-width:100% !important;
}
.header_two .sesmenu_main_menu_inner > ul > li > a {
  text-transform: inherit;
}
.header_two .sesmenu_main_menu_inner > ul > li > a:before{
	display:none;
}
.header_two .sesmenu_submenu{
	z-index:99;
}
