.header_top {
	width: 90%;
	margin: 0 auto;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header_top > div{
	flex-grow:1;
}
.header_left {
	float: left;
}
.header_logo {
	float: left;
	margin-right: 20px;
	margin-top:0 !important;
}
.header_bottom{
	padding:10px 0;
}
.header_logo a {
	font-size: 24px;
}
.header_middle {
	overflow: hidden;
}
.sesadvheader_main_menu > ul > li {
	display: inline-block;
	padding: 20px 0px;
}
.sesadvheader_main_menu > ul > li > a {
	padding: 8px 13px;
	text-decoration: none;
}
.sesadvheader_main_menu ul li a i {
	margin-right: 5px;
	background-size: contain;
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: middle;
}
.sesadvheader_main_menu ul li a span {
	vertical-align: middle;
	display: inline-block;
}
.sesadvheader_main_menu ul li ul {
	width: 180px;
	position: absolute;
	z-index: 9;
	display: none;
	box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.17);
	top: 55px;
}
.sesadvheader_main_menu ul li:hover ul {
	display: block;
}
.header_main_menu ul li ul:before {
	content: '';
	display: block;
	position: absolute;
	top: -10px;
	left: 7px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
.sesadvheader_main_menu ul li ul li {
	display: block;
	float: none;
	margin: 0px;
}
.sesadvheader_main_menu ul li ul li a {
	padding: 10px 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 0px;
	display: block;
	text-decoration: none;
}
.header_search_main {
	float: left;
	position: relative;
}
.header_right .header_search_main a {
	padding: 20px 0px;
	display: block;
}
.header_searchbox,.layout_advancedsearch_search{
	border-radius:3px;
	overflow:hidden;
	position: relative;
	margin:auto;
	width: 350px;
	z-index: 99;
	height:30px;
}
.layout_advancedsearch_search{
	float:none;
}
.advancedsearch_box_wrapper{
	width:100%;
}
.header_seven .header_searchbox:before,.layout_advancedsearch_search:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	opacity: .3;
}
.layout_advancedsearch_search:before{
	float:none;
}
.header_searchbox input[type=text],.advancedsearch_box input[type=text] {
	width: 100% !important;
	max-width: 100%;
	background: transparent !important;
	padding: 3px 5px;
	outline: none;
}
.header_searchbox_button {
	float: right;
}
.header_searchbox button {
	background-image: none !important
}
.header_searchbox button:hover {
	background-image: none !important;
}
.header_searchbox .header_searchbox_selectbox {
	float: right;
	margin: 0px;
}
.header_searchbox_button button, .header_searchbox_input input,.advancedsearch_input input,.advancedsearch_box button, .header_searchbox_selectbox .exp_select span {
	height: 30px !important;
	line-height: 30px;
	padding: 0 15px !important;
	border: 0px !important;
	border-radius: 0;
	display: block;
}
.header_searchbox_selectbox .exp_select_option {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	z-index: 3;
}
.header_searchbox_selectbox .exp_select span i {
	margin: 0 5px;
	float: right;
	line-height: 35px;
}
.header_searchbox_selectbox .exp_select .show-options {
	display: block;
}
.header_searchbox_selectbox .exp_select_option li {
	padding: 5px 10px;
	cursor: pointer;
}
.header_searchbox_selectbox .exp_select_option li img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	height: 16px;
	width: 16px;
	object-fit: contain;
}
.header_searchbox .header_searchbox_input {
	overflow: hidden;
}
.advance_menu .header_social_icons a:before,.advance_menu .header_social_icons a span{
	display:none;
}
.advance_header_main .header_bottom .header_bottom_inner {
	width: 90%;
	margin: 0 auto;
	display:flex;
	align-items:center;
	position:relative;
}
.header_bottom_inner > div {
  flex-grow: 1;
}
.header_right {
	float: right;
	text-align: center;
	margin-left: 15px;
}
.mini_menu_section {
	float: right;
	padding:5px 10px;
}
.mini_menu_section > ul {
	position: relative;
	padding-left: 15px;
}
.mini_menu_section > ul > li {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.mini_menu_section >  ul > li + li {
	margin-left: 10px;
}
.mini_menu_section > ul  > li.user_profile_link a {
	display: inline-block;
}
.mini_menu_section > ul > li.user_profile_link {
	line-height: 0px;
}
.mini_menu_section > ul > li.user_profile_link > a > img {
	width: 20px;
	height: 20px;
	object-fit: cover;
	border-radius: 100%;
}
.mini_menu_section > ul > li > a, .mini_menu_section > ul > li > span > a {
	font-size: 16px;
	display: block;
	border-radius: 100% !important;
	text-decoration: none;
	position: relative;
	height: 34px;
	width: 34px;
}
.mini_menu_section ul li a:before, .mini_menu_section ul li span a:before, .sesadvheader_minimenu_setting span a#show_settings_img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.sesadvheader_minimenu_link .sesprofilelock_mini_admin {
	padding: 8px 12px;
}
.mini_menu_section ul li a#show_settings_img, .mini_menu_section ul li span a#show_settings_img {
	display: block;
	line-height: 0px;
}
.mini_menu_section ul li span.settings_pulldown, .mini_menu_section ul li span.settings_pulldown_active {
	display: inline-block !important;
	vertical-align: middle;
}
.mini_menu_section ul li a #updates_toggle {
	display: none;
}
.mini_menu_section ul li .sesadvheader_minimenu_count {
	position: absolute;
	top: -7px;
	color: #fff;
	background-color: #fa3e3e;
	padding: 2px 4px;
	border-radius: 2px;
	right: -7px;
	font-size: 11px;
	z-index: 1;
}
.mini_menu_section .pulldown_options {
	margin: 5px 0px 0px 0;
	text-align: center;
	padding: 5px 0px;
	border-top-width: 1px;
}
.mini_menu_section .pulldown_options a {
 color:$theme_link_color;
	opacity: 1;
}
.mini_menu_section .pulldown_options a:hover {
	opacity: 1;
	text-decoration: underline;
}
.mini_menu_section ul li.sesadvheader_minimenu_link {
	line-height: 1;
}
.mini_menu_section ul li.sesadvheader_minimenu_signup a, .mini_menu_section ul li.sesadvheader_minimenu_login a {
	font-size: 16px;
	background-color: transparent;
	padding: 10px 8px;
	display: block;
	width: auto;
	height: auto;
	border-radius:0 !important;
}
.header_fixed_scroll .header_normal, .header_fix {
	display: none;
}
.header_fixed_scroll .header_fix {
	display: block;
	width: 90%;
	margin: 0 auto;
}
.header_fixed_only_banner .mini_menu_section:before, .header_fixed_only_banner .header_right:before, .header_transparency .mini_menu_section:before, .header_transparency .header_right:before, {
 background-color:transparent !important;
}
.header_fixed_only_banner .header_bottom, .header_transparency .header_bottom {
	padding: 0px;
}
.minimenu_transparent .mini_menu_section ul li a, .minimenu_transparent .mini_menu_section ul li a:hover {
	background-color: transparent;
}
.minimenu_transparent .mini_menu_section ul li a, .minimenu_transparent .mini_menu_section ul li span a {
	padding: 8px 3px;
	width: 22px;
}
.minimenu_transparent .mini_menu_section ul li.sesadvheader_minimenu_link a {
	padding: 10px 0px;
	width: auto;
	height: auto;
}
.header_fixed_scroll .header_main_menu, .header_logo_bottom {
	float: left;
}
.header_fixed_scroll .mini_menu_section {
	display: none;
}
.header_fixed_scroll .header_right {
	padding: 0px;
	margin: 0px;
}
.header_fixed_scroll .header_right .header_search_main a {
	padding: 18px 20px;
}
.header_fixed_scroll .header_search_main {
	float: right;
}
.header_fixed_scroll .header_scroll_serchbox {
	display: block;
	float: right;
	position: relative;
}
.header_fixed_scroll .header_scroll_serchbox a {
	display: block;
	padding: 20px 18px;
	text-decoration: none;
	font-size: 17px;
}
.header_fixed_scroll .header_searchbox {
	top: inherit;
}
.header_seven .header_cta_btn {
	flex-grow: 1;
	text-align: right;
}
.header_seven .header_cta_btn a{
	border-radius:50px;
	padding:15px 30px;
	text-transform:uppercase;
}
@media (min-width: 980px) and (max-width:1050px) {
.header_main_menu .sesadvheader_main_menu,  .header_fixed_scroll .header_fix,  .header_right .header_search_main,  .header_background_opacity {
	display: none;
}
.header_main_menu .sesadvheader_mobile_nav_toggle,  .header_main_menu .sesadvheader_mobile_nav.sesadvheader_mobile_nav {
	display: block !important;
}
.layout_sesadvancedheader_header .mini_menu_section ul li.mobile_search {
	display: inline-block !important;
}
.sesadvheader_mobile_nav_toggle {
	top: 14px;
}
.header_bottom {
	position: relative;
}
.sesadvheader_mobile_nav_toggle {
	top: 10px !important;
	right: 10px !important;
}
.header_fixed_outside.header_fixed_scroll .advance_header_main {
	position: inherit !important;
}
.mini_menu_section {
	margin-right: 50px;
}
}
@media (min-width: 768px) and (max-width:979px) {
.header_main_menu .sesadvheader_main_menu,  .header_fixed_scroll .header_fix,  .header_right .header_search_main,  .header_background_opacity {
	display: none;
}
.layout_sesadvancedheader_header .mini_menu_section ul li.mobile_search {
	display: inline-block !important;
}
.header_main_menu .sesadvheader_mobile_nav_toggle,  .header_main_menu .sesadvheader_mobile_nav.sesadvheader_mobile_nav {
	display: block !important;
}
.sesadvheader_mobile_nav_toggle {
	top: 14px !important;
}
.layout_sesadvancedheader_header .header_right ul li.mobile_search {
	display: inline-block !important;
}
.mobile_search .header_searchbox {
	top: 51px !important;
}
.header_bottom {
	position: relative;
}
.sesadvheader_mobile_nav_toggle {
	top: 10px !important;
	right: 10px !important;
}
.header_fixed_outside.header_fixed_scroll .advance_header_main {
	position: inherit !important;
}
.mini_menu_section {
	margin-right: 50px;
}
}
@media (max-width:767px) {
.header_main_menu .sesadvheader_main_menu,  .header_right .header_search_main,  .header_background_opacity {
	display: none;
}
.header_main_menu .sesadvheader_mobile_nav_toggle,  .header_main_menu .sesadvheader_mobile_nav.sesadvheader_mobile_nav {
	display: block !important;
}
.sesadvheader_mobile_nav_toggle {
	top: 14px;
}
.layout_sesadvancedheader_header .mini_menu_section ul li.mobile_search {
	display: inline-block !important;
}
.mobile_search .header_searchbox {
	top: 51px !important;
}
.sesadvheader_mobile_nav_toggle {
	top: 15px !important;
}
.header_bottom {
	position: relative;
}
.sesadvheader_mobile_nav_toggle {
	top: 10px !important;
	right: 10px !important;
}
.header_fixed_outside.header_fixed_scroll .advance_header_main {
	position: inherit !important;
}
.mini_menu_section {
	margin-right: 50px;
}
.header_searchbox {
	min-width: 300px;
}
.header_logo a img {
	height: 46px !important;
	margin-top: 2px;
}
}
@media (max-width:599px) {
.header_logo a img {
	height: 44px !important;
	margin-top: 0px !important;
}
.header_left .header_searchbox {
	min-width: 250px;
	width: 250px;
}
.mini_menu_section ul li a,  .mini_menu_section ul li span a {
	font-size: 16px;
	height: 32px;
	width: 32px;
}
.header_right {
	margin: 0px;
}
.mini_menu_section {
	margin-right: 60px;
	padding: 10px 0px;
}
.mini_menu_section ul {
	padding: 0px;
}
.mini_menu_section ul li + li {
	margin-left: 5px;
}
}
@media (max-width:479px) {
.header_left {
	float: none;
}
.header_logo {
	float: none;
	width: 100%;
	text-align: center;
}
.sesadvheader_mobile_nav_toggle {
	right: 20px !important;
	top: 60px !important;
	padding: 3px 6px !important;
}
.header_left .header_searchbox {
	display: none;
}
.layout_sesadvancedheader_header .mini_menu_section ul li.mobile_search {
	display: inline-block !important;
}
.header_right {
	float: left;
	width: auto;
}
.header_right .mini_menu_section ul {
	text-align: center;
}
div.sesadvheader_pulldown_contents_wrapper {
	margin-top: 42px !important
}
}

/* SESMENU OVERRIDES */
.header_seven .sesmenu_main_menu{
	background:transparent;
}
.header_seven .sesmenu_main_menu_inner > ul {
  display: block !important;
}
.header_bottom_inner > div{
	width:100%;
}
.header_seven .sesmenu_main_menu_inner{
	max-width:100% !important;
}
.header_seven .sesmenu_main_menu_inner > ul > li > a {
  text-transform: inherit;
}
.header_seven .sesmenu_main_menu_inner > ul > li > a:before{
	display:none;
}

