

.sescontentcoverphoto_cover_wrapper_full.sesusercover_cover_type1 .sescontentcoverphoto_cover_tabs{
	margin:0 auto;
	float:none !important;
	width:$theme_content_width;
}
.sescontentcoverphoto_cover_information_block{
	background-color:$theme_list_background_color;
}
/*Tabs*/
.sesusercover_cover_type3 .sescontentcoverphoto_cover_tabs .tabs_alt > ul > li > a:hover{
	border-width:0 !important;
	background:none !important;
	color:$theme_link_color_hover !important;
}
.sesusercover_cover_type3 .sescontentcoverphoto_cover_tabs .tabs_alt > ul > li.active > a{
	border-width:0 !important;
	border-bottom:2px solid $theme_link_color_hover !important;
	color:$theme_link_color_hover !important;
}
/*Options Pulldown*/
.sesuser_cover_options_pulldown{
	background-color:$theme_list_background_color;
	border:1px solid $theme_border_medium_color;
  position:absolute;
  display:none;
  width:200px;
}
.sesuser_cover_options_pulldown > .fa-caret-up{
	color:$theme_list_background_color;
	position: absolute;
	right: 15px;
	top: -13px;
	font-size: 20px;
	text-shadow:0px -1px 1px rgba(0, 0, 0, .3);
	line-height:0;
}
.sesuser_cover_options_pulldown #profile_options{
	border-width:0 !important;
}
.sesuser_cover_options_pulldown li + li{
	border-top:1px solid $theme_border_medium_color;
}
.sesuser_cover_options_pulldown li a{
	background-position: 10px center !important;
	display: block;
	white-space: nowrap;
	line-height: 30px;
	height: 30px;
	padding: 0 10px 0 35px !important;
}
.sesuser_cover_options_pulldown li a:hover{
	background-color:$theme_list_background_color;
	text-decoration:none;
}
/*Confirmation Popup*/
.sesusercover_confirm_popup{
	min-width:400px;
}
.sesusercover_confirm_popup > *{
	padding:10px;
}
.sesusercover_confirm_popup_btns{
	text-align:right;
	border-top-width:1px;
}
/*Update Photo Popup*/
.sescontentcoverphoto_photo_update_popup_container{
	background-color:$theme_list_background_color;
	border:5px solid #ccc;
	border-radius:5px;
}
.sescontentcoverphoto_photo_update_popup_header{
  background-image:url(~/application/modules/Sesbasic/externals/images/t-img-light.png);
  border-bottom:1px solid $theme_border_color;
  font-size:15px;
  font-weight:bold;
  line-height:40px;
  padding:0 10px;
}
.sescontentcoverphoto_photo_update_popup_header .fa{
  float:right;
	text-decoration:none !important;
	margin-top:11px;
}