
.notification_type_sesmemveroth_approve:before,
.notification_type_sesmemveroth_verified:before{
  content:"\\f058";
}
.notification_type_sesmemveroth_adminreject:before{
  content:"\\f057";
}
.sesmemveroth_verify_msg span{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
}
