


/*Verify Button Widget CSS Start Here*/
.sesmemveroth_button_block > div:nth-last-child(1){
	margin-bottom:0;
}
.sesmemveroth_button_block > div{
	text-align:center;
}
.sesmemveroth_verify_msg{
	border-radius:5px;
	border-width:1px;
	border-style:dashed;
	padding:10px;
	margin-bottom:10px;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:2px;
}
.sesmemveroth_verify_msg i{
	display:block;
	margin:0 auto 10px;
}
.sesmemveroth_verify_msg i img{
	max-width:90%;
	vertical-align:middle;
}
.sesmemveroth_verify_msg span{
	line-height:30px;
	display:block;
	border-radius:3px;
}
.sesmemveroth_verify_block_msg{
	margin-bottom:10px;
	font-size:90%;
}
.sesmemveroth_verify_block_msg a{
	text-decoration:underline !important;
}
.sesmemveroth_action_buttons{
	margin-bottom:10px;
	margin-top:-5px;
	font-size:12px;
}
.sesmemveroth_action_buttons a{
	margin-right:5px;
}
.sesmemveroth_verify_button{
	margin-bottom:10px;
}
.sesmemveroth_verify_button a{
	border-radius:3px;
	display:block;
	padding:10px;
}
/*Verify Button Widget CSS End Here*/
/*Verification Popup CSS Start Here*/
.sesmemveroth_verification_popup{
	margin:15px 0 0 15px;
}
.sesmemveroth_verification_popup #description-label{
	margin-bottom:10px;
}
.sesmemveroth_success{
	width:100%;
	color:#3c763d;
	background-color:#dff0d8;
	border-color:#d6e9c6;
	padding:15px;
	border-width:1px;
	border-radius:4px;
	font-weight:bold;
	font-size:14px;
}
.sesmemveroth_success:before{
	content:'\f058';
	font-size:14px;
	font-family:FontAwesome;
	display:inline-block;
	margin-right:10px;
}
/*Verification Popup CSS End Here*/
/*Popup CSS Start Here*/
.sesmemveroth_details_popup{
	width:600px;
}
.sesmemveroth_details_popup ._head{
	background-image:url(../images/transprant-bg.png);
	border-bottom-width:1px;
	padding:10px;
	font-weight:bold;
	font-size:17px;
}
.sesmemveroth_details_popup ._content{
	padding:10px;
	max-height:450px;
	overflow:auto;
}
.sesmemveroth_details_popup ._content li + li{
	padding-top:10px;
	margin-top:10px;
	border-top-width:1px;
}
.sesmemveroth_details_popup_item ._thumb{
	float:left;
	margin-right:10px;
	height:80px;
	width:80px;
}
.sesmemveroth_details_popup_item ._thumb img{
	height:100%;
	object-fit:cover;
	vertical-align:middle;
	width:100%;
}
.sesmemveroth_details_popup_item ._cont{
	display:block;
	overflow:hidden;
}
.sesmemveroth_details_popup_item ._name{
	font-weight:bold;
	margin-bottom:5px;
}
.sesmemveroth_details_popup_item ._des{
	font-size:90%;
}
/*Popup CSS End Here*/
