
/*--------------COVER PAGE-----------*/
.layout_sesusercovervideo_sesusercovervideo_cover{
	border-width:0 !important;
	box-shadow:none !important;
	background-color:transparent !important;
	padding:0  !important;
	margin:0 0 15px !important;
}
.sesusercover_cover_wrapper{
	height:450px;
}
.sesusercover_cover_container{
	height:450px;
	position:relative;
	width:100%;
}
.sesusercovervideo_cover_wrapper_full .sesusercover_cover_container{
	height:450px;
	position:absolute;
	left:0;
	right:0;
	width:100%;
}
.sesusercover_cover_wrapper .sesusercover_cover_img {
	background-color:#ccc;
	background-position:center center;
	background-size:cover;
	display:inline-block;
	height:100%;
	position:relative;
	width:100%;
	overflow:hidden;
}
.sesusercover_cover_wrapper .sesusercover_cover_img img{
	min-width:100%;
	min-height:100%;
	position:absolute;
	width:100%;
}
/*LABELS*/
.sesusercover_cover_labels{
	position:absolute;
	right:0;
	top:0;
	text-align:center;
}
.sesusercover_cover_labels p{
	color:#fff;
	padding:5px;
	font-size:12px;
}
.sesusercover_cover_labels .sesmember_vip_label{
	position:relative;
	margin:0 auto;
	left:inherit;
	right:5px;
	clear:both;
	display:inherit;
}
.sesusercover_cover_labels p + i.sesmember_vip_label{
	right:inherit;
}
/*Information Block Start Here*/
.sesusercovervideo_cover_information_block{
	position:relative;
	margin-top:-24px;
}
.sesusercovervideo_cover_information_block_inner{
	border-width:1px;
	padding:20px;
	min-height:120px;
}
.sesusercovervideo_cover_buttons{
	position:absolute;
	right:0px;
	top:-45px;
}
.sesusercovervideo_cover_buttons > div{
	border-radius:0;
	float:left;
	padding:0;
	margin:0 2px;
}
.sesusercovervideo_cover_buttons > div a.sesbasic_btn{
	height:35px;
	width:35px;
}
.sesusercovervideo_cover_buttons > div a.sesbasic_btn:before, 
.sesusercovervideo_cover_buttons > div a.sesbasic_btn > i{
	font-size:17px;
	line-height:23px;
}
.sesusercovervideo_cover_buttons > div a.sesbasic_btn span{
	margin-top:-60px;
}
.sesusercovervideo_cover_buttons > div a.sesbasic_btn span i{
	left:13px;
}
.sesusercovervideo_cover_information_block .sesusercovervideo_profile_title{
	position:absolute;
	top:-40px;
	left:210px;
}
.sesusercovervideo_cover_information_block .sesusercovervideo_profile_title p{
	font-size:25px;
	font-weight:bold;
}
@media (min-width:767px){
	.sesusercovervideo_cover_information_block .sesusercovervideo_profile_title p{
		color:#fff;
		text-shadow:0 0 5px rgba(0, 0, 0, .5);
	}
}
.sesusercovervideo_cover_information_block .sesusercovervideo_profile_title .sesmember_verified_sign:before{
	color:#93c33c;
	font-size:17px;
	margin-left:5px;
}
.sesusercovervideo_cover_buttons .sesbasic_button.sesusercover_option_btn{
	padding:7px 10px;
}
.sesusercovervideo_cover_buttons .sesbasic_button.sesusercover_option_btn:before{
	margin:0;
}
.sesusercovervideo_cover_information_block .sesusercovervideo_profile_img{
	width:170px;
	height:170px;
	position:absolute;
	top:-70px;
	background:#fff;
	padding:5px;
	border-width:1px;
}
.sesusercovervideo_cover_information_block .sesusercovervideo_profile_img img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.sesusercovervideo_cover_content .sesusercovervideo_cover_content_left{
	margin-left:190px;
	float:left;
	width:300px;
}
.sesusercovervideo_cover_content .sesusercovervideo_cover_content_left p{
	margin-bottom:5px;
	font-size:12px;
}
.sesusercovervideo_cover_content .sesusercovervideo_cover_content_left p.rating i{
	font-size:14px;
}
.sesusercovervideo_cover_content .sesusercovervideo_cover_content_left p i{
	margin-right:5px;
}

.sesusercovervideo_cover_content .sesusercovervideo_cover_rating > a{
	font-size:11px;
	margin:5px;
	float:left;
	border-left-width:1px;
	padding-left:5px;
}
.sesusercovervideo_cover_content .sesusercovervideo_cover_rating span.fa p{
	background-color:#000;
	position:absolute;
	color:#fff;
	margin:-55px 0 0;
	padding:5px 10px;
	border-radius:5px;
	z-index:1;
	font-size:12px;
	font-weight:bold;
	min-width:80px;
	text-align:center;
	transform:translate(-50%);
	margin-left:10px;
	display:none;
}
.sesusercovervideo_cover_content .sesusercovervideo_cover_rating span.fa:hover p{
	display:block;
}

.sesusercovervideo_cover_content .sesusercovervideo_cover_stats{
	display:block;
	overflow:hidden;
	text-align:right;
}
.sesusercovervideo_cover_content .sesusercovervideo_cover_stats ul{
	display:inline-block;
	width:100%;
}
.sesusercovervideo_cover_content .sesusercovervideo_cover_stats ul li{
	margin-right:5px;
	border-width:1px;
	border-radius:5px;
	padding:7px 7px 7px 0px;
	margin-bottom:10px;
	font-size:12px;
	display:inline-block;
}
.sesusercovervideo_cover_content .sesusercovervideo_cover_stats ul li span{
	background-image:url(../images/t-img-light.png);
	border-radius:5px 0px 0px 5px;
	padding:7px;
}
.sesusercovervideo_cover_content .sesusercovervideo_users span{
	margin:8px 14px;
}
.sesusercovervideo_cover_content .sesusercovervideo_users{
	text-align:right;
	margin-top:10px;
}
.sesusercovervideo_cover_content .sesusercovervideo_users a{
	display:inline-block;
	vertical-align:middle;
	margin:0 0 0 -13px;
}
.sesusercovervideo_cover_content .sesusercovervideo_users a img{
		border-width:0;
	border-radius:100%;
	border-width:2px;
	height:40px;
	width:40px;
}



/*Change Cover Buttons*/
.sesusercovervideo_cover_change_cover{
	position:absolute;
	left:20px;
	top:20px;
	z-index:2;
}
[dir="rtl"] .sesusercovervideo_cover_change_cover{
	left:inherit;
	right:20px;
}
.sesusercovervideo_cover_change_cover > a{
	border-radius:3px;
	display:block;
	overflow:hidden;
	padding:3px 5px;
}
.sesusercovervideo_cover_change_cover:hover > a,
.sesusercovervideo_cover_change_cover.active > a{
	background-color:rgba(0, 0, 0, 0.8);
	border:1px solid rgba(255, 255, 255, 0.8);
  -webkit-transition:all 300ms ease 0s;
  -moz-transition:all 300ms ease 0s;
  -o-transition:all 300ms ease 0s;
	transition:all 300ms ease 0s;
}
.sesusercovervideo_cover_change_cover > a i{
	float:left;
	height:25px;
	margin-right:5px;
	text-align:center;
	width:25px;
}
[dir="rtl"] .sesusercovervideo_cover_change_cover > a i{
	float:right;
	margin-left:5px;
	margin-right:0;
}
.sesusercovervideo_cover_change_cover > a i:before{
	color:#f1f1f1;
	display:block;
	font-size:22px;
	margin-top:2px;
	text-shadow:0 0 5px rgba(0, 0, 0, 0.8);
}
.sesusercovervideo_cover_change_cover.active > a i:before,
.sesusercovervideo_cover_change_cover:hover > a i:before{
	color:#f1f1f1;
	display:block;
	font-size:22px;
	margin-top:1px;
	-ms-transform:scale(.7); /* IE 9 */
	-webkit-transform:scale(.7); /* Safari */
	transform:scale(.7);
  -webkit-transition:all 300ms ease 0s;
  -moz-transition:all 300ms ease 0s;
  -o-transition:all 300ms ease 0s;
	transition:all 300ms ease 0s;
}
.sesusercovervideo_cover_change_cover > a span{
	color:#fff;
	display:none;
	font-size:12px;
	float:left;
	margin-top:3px;
}
[dir="rtl"] .sesusercovervideo_cover_change_cover > a span{
	float:right;
}
.sesusercovervideo_cover_change_cover:hover > a span,
.sesusercovervideo_cover_change_cover.active > a span{
	display:block;
}
.sesusercovervideo_change_cover_options_main_arrow{
	border-bottom:10px solid #fff;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	height:0;
	left:7px;
	position:absolute;
	top:-10px;
	width:0;
}
[dir="rtl"] .sesusercovervideo_change_cover_options_main_arrow{
	right:7px;
	left:inherit;
}
.sesusercovervideo_option_box{
  position:absolute;
  display:none;
  width:170px;
}
.sesusercovervideo_option_box a{
  font-size:11px;
  display:block;
  padding:5px 10px;
}
.sesusercovervideo_option_box a:hover{
  text-decoration:none;
}
.sesusercovervideo_option_box a.fa:before,
.sesusercovervideo_option_box a i{
	margin-right:5px;
	text-align:center;
	width:16px;
}
[dir="rtl"] .sesusercovervideo_option_box a.fa:before,
[dir="rtl"] .sesusercovervideo_option_box a i{
	margin-left:5px;
	margin-right:0;
}
.sesusercovervideo_option_box a.fa:before,
.sesusercovervideo_option_box a i:before{
	font-size:11px;
}
.sesusercovervideo_cover_change_cover.active .sesusercovervideo_change_cover_options{
	left:0;
	top:45px;
	display:block;
}
[dir="rtl"] .sesusercovervideo_cover_change_cover.active .sesusercovervideo_change_cover_options{
	left:inherit;
	right:0;
}
.sesusercovervideo_cover_reposition_btn{
	position:absolute;
	right:20px;
	bottom:30px;
}
.sesusercovervideo_cover_reposition_btn a{
	display:inline-block;	
}

/*Change Cover Buttons*/
.sesusercovervideo_cover_change_cover_main{
	position:absolute;
	left:5px;
	right:5px;
	top:5px;
	z-index:1;
}
.sesusercovervideo_cover_change_cover_main > a{
	display:block;
	overflow:hidden;
	padding:3px 5px;
}
.sesusercovervideo_cover_change_cover_main:hover > a,
.sesusercovervideo_cover_change_cover_main.active > a{
	background-color:rgba(0, 0, 0, 0.8);
	border:1px solid rgba(255, 255, 255, 0.8);
  -webkit-transition:all 300ms ease 0s;
  -moz-transition:all 300ms ease 0s;
  -o-transition:all 300ms ease 0s;
	transition:all 300ms ease 0s;
  text-decoration:none;
}
.sesusercovervideo_cover_change_cover_main > a i{
	float:left;
	height:25px;
	margin-right:5px;
	text-align:center;
	width:25px;
}
[dir="rtl"] .sesusercovervideo_cover_change_cover_main > a i{
	float:right;
	margin-left:5px;
	margin-right:0;
}
.sesusercovervideo_cover_change_cover_main > a i:before{
	color:#f1f1f1;
	display:block;
	font-size:22px;
	margin-top:2px;
	text-shadow:0 0 5px rgba(0, 0, 0, 0.8);
}
.sesusercovervideo_cover_change_cover_main.active > a i:before,
.sesusercovervideo_cover_change_cover_main:hover > a i:before{
	color:#f1f1f1;
	display:block;
	font-size:22px;
	margin-top:1px;
	-ms-transform:scale(.7); /* IE 9 */
	-webkit-transform:scale(.7); /* Safari */
	transform:scale(.7);
  -webkit-transition:all 300ms ease 0s;
  -moz-transition:all 300ms ease 0s;
  -o-transition:all 300ms ease 0s;
	transition:all 300ms ease 0s;
}
.sesusercovervideo_cover_change_cover_main > a span{
	color:#fff;
	display:none;
	font-size:11px;
	float:left;
	margin-top:3px;
}
[dir="rtl"] .sesusercovervideo_cover_change_cover_main > a span{
	float:right;
}
.sesusercovervideo_cover_change_cover_main:hover > a span,
.sesusercovervideo_cover_change_cover_main.active > a span{
	display:block;
}
.sesusercovervideo_change_cover_options_main_arrow{
	border-bottom:10px solid #fff;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	height:0;
	left:7px;
	position:absolute;
	top:-10px;
	width:0;
}
[dir="rtl"] .sesusercovervideo_change_cover_options_main_arrow{
	right:7px;
	left:inherit;
}
.sesusercovervideo_cover_change_cover_main.active .sesusercovervideo_change_cover_options_main{
	left:0;
	top:45px;
	display:block;
}
[dir="rtl"] .sesusercovervideo_cover_change_cover_main.active .sesusercovervideo_change_cover_options_main{
	left:inherit;
	right:0;
}




/*-------------------responsive code-----------*/
@media (min-width:768px) and (max-width:979px){
	.sesusercovervideo_cover_content .sesusercovervideo_cover_content_left{
		margin-right:20px;
		width:150px;
	}
	.sesusercovervideo_cover_content .sesusercovervideo_cover_stats ul li{
		margin-bottom:10px;
	}
	.sesusercovervideo_cover_content .sesusercovervideo_cover_stats ul li{
		padding:10px 4px 10px 0px;
	}
	.sesusercovervideo_cover_content .sesusercovervideo_cover_stats ul li span{
		padding:10px 6px;
	}	
	.sesusercovervideo_cover_content .sesusercovervideo_users a img{
		width:30px;
		height:30px;
	}
}
	
@media (max-width:767px){
	/*.sesusercovervideo_cover_change_cover, .sesusercovervideo_cover_change_cover_main{display:none;}*/
	.sesusercovervideo_cover_change_cover_main{
		right:inherit;
	}
	.sesusercover_cover_wrapper, .sesusercover_cover_container{
		height:250px !important;
	}
	.sesusercover_cover_wrapper .sesusercover_cover_img img{
		top:0 !important;
		min-height:100%;
	}
	.sesusercovervideo_cover_information_block_inner{padding:10px;}
	.sesusercovervideo_cover_information_block .sesusercovervideo_profile_img{
		left:50%;
		margin:0 auto 0 -85px;
		position:absolute;
		right:auto;
		top:-120px;
	}
	.sesusercovervideo_cover_information_block .sesusercovervideo_profile_title{
		margin-top:50px;
		position:inherit;
	}
	.sesusercovervideo_cover_information_block .sesusercovervideo_profile_title p{
		text-align:center;
		margin-bottom:8px;
		text-shadow:none;
	}
	.sesusercovervideo_cover_content .sesusercovervideo_cover_content_left{
		margin:0;
    text-align:center;
    width:100%;
	}
	.sesusercovervideo_cover_content .sesusercovervideo_users{
		float:none;
    margin:0;
    text-align:center;
    width:100%;
	}
	.sesusercovervideo_cover_content .sesusercovervideo_users span{display:block;}
	.sesusercovervideo_cover_content .sesusercovervideo_cover_rating {text-align:center;margin-bottom:10px;}
	.sesusercovervideo_cover_content .sesusercovervideo_cover_rating .sesbasic_rating_star{
		text-align:center;
		float:none;

	}
	.sesusercovervideo_cover_content .sesusercovervideo_cover_rating > a{
		border-width:0;
		float:none !important;
	}
	.sesbasic_rating_star > span.fa::before{
		font-size:14px;
	}
	.sesusercovervideo_cover_content .sesusercovervideo_cover_stats{
		clear:both;
		display:block;
		text-align:center;
	}
	.sesusercovervideo_cover_buttons{
		padding-top:10px;
		position:inherit;
		text-align:center;
		width:100%;
	}
	.sesusercovervideo_cover_buttons > div{
		display:inline-block;
		float:none !important;
	}
}
