
/*Icons*/
.item_icon_pagereview:before,
.notification_type_sespagereview_reviewpost:before,
.activity_icon_sespagereview_reviewpost:before{
	content:"\\f044";
}
/*Rating Star*/
.sespagereview_rating_star:before,
.sespagereview_rating_star_small:before,
.sespagereview_rating_star_small_half:before,
.sespagereview_rating_star_disable:before{
	font-family:fontawesome;
	display:inline-block;
	color:#FFC107;
}
.sespagereview_rating_star_small:before,
.sespagereview_rating_star:before{
	content:"\\f005";
}
.sespagereview_rating_star_small_half:before,
.sespagereview_rating_star_half:before{
	content:"\\f123";
}
.sespagereview_rating_star_disable:before{
	content:"\\f006";
}
.sespagereview_rating_star{
	font-size:22px;
	height:24px;
	width:24px;
	display:inline-block;
	line-height:24px;
	text-align:center;
}
.reviewofday_header{
	background-color: $theme_button_background_color;
}
.sespagereview_oftheday .sespagereview_review_grid_thumb span{
	background-color:  $theme_list_background_color;
}
.sespagereview_oftheday .sespagereview_review_grid_title a{
	color:$theme_font_color !important;
}
/*Rating & Review Tool Tip Css*/
/*Rating Info Tip*/
.sespagereview_list_rating{
	margin-bottom: 10px;
	position: relative;
}
.sespagereview_ratings{
	width: 55px;
	text-align: center;
	padding: 5px;
	margin-right: 5px;
	border-radius: 4px;
	position: relative;
	cursor: pointer;
}
.sespagereview_rating_info .review_top {
    text-align: center;
    font-size: 13px;
    margin-bottom: 5px;
}
.sespagereview_rating_info{
    z-index: 99;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 270px;
    height: auto;
    padding: 10px;
    top:0;
    left:0;
}
.sespagereview_rating_info .review_bottom .progress_bar{
	height: 20px;
	position: relative;
	display: flex;
	align-items: center;
}
.sespagereview_rating_info .review_bottom .progress_bar .numbering_review {
    display: flex;
    align-items: center;
    width: 55px;
    padding-left:10px;
    font-size: 12px;
}
.sespagereview_rating_info span.bar_bg{
	height: 10px;
	width: 100%;
	margin-right:5px;
}
.sespagereview_rating_info span.bar_width{
	height: 10px;
	float: left;
}
.sespagereview_rating_info span.bar_bg_value{
	width: 50px;
	font-size:12px;
}
.sespagereview_rating_info .review_bottom span.see_review{
	border:0;
	font-size:12px;
	margin-top: 5px;
	display: block;
	text-align: center;
}
.sespagereview_rating_info .review_bottom .progress_bar > span.bar_width .sespagereview_review{
	margin-left: 10px;
	align-items: center;
}
/*Rating Review Tooltip*/
.sespagereview_rating_info{
background:$theme_list_background_color;
}
.sespagereview_rating_info .bar_width{
 background: #FFC107;
}
.sespagereview_rating_info .bar_bg{
 background: $theme_list_background_color_hover;
}
.sespagereview_rating_info .review_bottom span.see_review{
	color: $theme_button_background_color;
}
.sespagereview_listing_share_popup{
	background-color: $theme_list_background_color;
}