
/*Generic Container*/
[class*='layout_sespagereview_'],
[id^='global_page_sespagereview-'] .layout_core_content{
  clear:both;
  margin-bottom:15px;
}
[class*='layout_sespagereview_']:after,
[id^='global_page_sespagereview-'] .layout_core_content:after{
  clear:both;
  content:'';
  display:block;
}
[id^='global_page_sespagereview-'] .layout_core_content + .layout_core_comments > h3{
  display:none;
}
[class*='tab_layout_sespagereview_']{
  margin:0;
  clear:none;
}
/*Review Rating Box*/
.sespagereview_review_show_rating{
	float:right;
	position:relative;
}
[dir="rtl"] .sespagereview_review_show_rating{
	float:left;
}
.sespagereview_verified_sign:before{color:#93c33c;font-size:17px;margin-left:5px;}
.sespagereview_review_show_rating_box{
	overflow:hidden;
	position:absolute;
	display:none;
	background:#fff;
	padding:10px;
	box-shadow:-1px 4px 19px -5px #ddd;
	right:6px;
	margin-top:10px;
	width:200px;
	border-radius:10px;
}
.review_rattings_listing_box > div{
	margin:5px 0;
}
.sespagereview_review_show_rating_label{
	float:left;
	margin-right:5px;
	font-size:11px;
	width:70px;
	line-height: 19px;
	font-weight:bold;
}
[dir="rtl"] .sespagereview_review_show_rating_label{
	float:right;
	text-align:right;
}
[dir="rtl"] .sespagereview_review_show_rating_box{
	left:0px;
}
.sespagereview_review_show_rating_parameters{
	overflow:hidden;	
  line-height: 16px;
}
.sespagereview_review_show_rating_box .sesbasic-rating-parameter-unit{
	margin:0 2px;
}
.sespagereview_review_show_rating:hover .sespagereview_review_show_rating_box{
	display:block;
}
/*Review Listing Footer*/
.sespagereview_review_listing_footer{
	clear:both;
	position: relative;
}
.sespagereview_review_listing_footer p{
	font-size:12px;
	margin-bottom:5px;
}
.sespagereview_review_listing_btn_left a{
	float:left;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right:5px;
}
[dir="rtl"] .sespagereview_review_listing_btn_left a{
	margin-right:0px;
	margin-left:5px;
}
.sespagereview_review_listing_btn_left a i{
	height:16px;
	width:16px;
	display:inline-block;
}
.sespagereview_review_useful i{
	background-image:url(../images/light-bulb.png);
	background-repeat:no-repeat;
}
.sespagereview_review_listing_btn_left a i + span + span{
	margin-left: 5px;
}
.sespagereview_review_useful.active{
	background:#F49A3B;
	color:#fff !important;
	box-shadow:0 5px 5px rgba(0, 0, 0, .2) inset;
	border-color:#C68642;
}
.sespagereview_review_useful.active:hover{
	background:#F49A3B;
}
.sespagereview_review_useful.active i{
	background-image:url(../images/light-bulb_white.png);
	background-repeat:no-repeat;
}
.sespagereview_review_funny i{
	background-image:url(../images/happy.png);
	background-repeat:no-repeat;
}
.sespagereview_review_funny.active{
	background:#9DAB52;
	color:#fff !important;
	box-shadow:0 5px 5px rgba(0, 0, 0, .2) inset;
	border-color:#94A14E;
}
.sespagereview_review_funny.active:hover{
	background:#9DAB52;
}
.sespagereview_review_funny.active i{
	background-image:url(../images/happy_white.png);
	background-repeat:no-repeat;
}
.sespagereview_review_cool i{
	background-image:url(../images/snowflake.png);
	background-repeat:no-repeat;
}
.sespagereview_review_cool.active{
	background:#789FD8;
	color:#fff !important;
	box-shadow:0 5px 5px rgba(0, 0, 0, .2) inset;
	border-color:#6C93CC;
}
.sespagereview_review_cool.active:hover{
	background:#789FD8;
}
.sespagereview_review_cool.active i{
	background-image:url(../images/snowflake_white.png);
	background-repeat:no-repeat;
}
.sespagereview_review_listing_btn_right a{
	float:left;
	margin-left:5px;
}
.sespagereview_review_listing_btn_right > div{
	display: inline-block;
}
.sespagereview_review_listing_footer a.sesbasic_button_icon:before{
	text-align:center;
	margin:0;
}
.sespagereview_review_listing_footer a.sesbasic_button_icon span{
	position:absolute;
	margin:-60px 0 0 -10px;
	background:#000;
	color:#fff;
	padding:5px 10px;
	line-height:14px;
	display:none;
}
.sespagereview_review_listing_footer a.sesbasic_button_icon span i{
	position:absolute;
	bottom:-10px;
	color:#000;
}
.sespagereview_review_listing_footer a.sesbasic_button_icon:hover span{
	display:block;
}

/*Share PopUp Css*/
.sespagereview_listing_share_popup{
	position:absolute;
	box-shadow:0 0 10px rgba(0, 0, 0, .2);
	padding:10px;
	text-align:center;
	border-radius:5px;
	bottom:-50px;
	opacity:0;
	right:0;
	white-space: nowrap;
	visibility:hidden;
	-webkit-transition:all 300ms ease 0s;
	-moz-transition:all 300ms ease 0s;
	-o-transition:all 300ms ease 0s;
	transition:all 300ms ease 0s;
}
.open + .sespagereview_listing_share_popup{
	opacity:1;
	visibility:visible;
	bottom:40px;
	z-index: 10;
}
.sespagereview_listing_share_popup > p{
	text-align:center;
	font-weight:bold;
	padding-bottom:10px;
	border-bottom-width:1px;
	margin-bottom:10px;
}
.sespagereview_listing_share_popup a{
	float:none;
	display:inline-block;
	margin:2px !important;
}
.sespagereview_listing_share_popup a > span{
	display: none;
}
/*Review Listing*/
.sespagereview_review_listing li{
  padding-left:10px;
  padding-right:10px;
}
.sespagereview_review_listing li + li{
	border-top-width:1px;
	margin-top:15px;
	padding-top:15px;
}
.sespagereview_review_listing_left{
	float:left;
	margin-right:15px;
	text-align:center;
}
[dir="rtl"] .sespagereview_review_listing_left{
	float:right;
	margin-left:15px;
	margin-right:0px;
}
.sespagereview_review_listing_left_photo{
	border-radius:50%;
	height:150px;
	width:150px;
	overflow:hidden;
}
.sespagereview_review_listing_left_photo img{
	height:100%;
	object-fit:cover;
	width:100%;
}
.sespagereview_review_listing_left p{
	margin-top:10px;
}
[dir="rtl"] .sespagereview_review_listing_left p{
	text-align:center;
}
.sespagereview_review_featured_block p{
	background-color:#47c8e3;
	padding:3px;
	text-align:center;
	color:#fff;
	position:relative;
	width:100%;
}
.sespagereview_review_featured_block p:after{
	background-position:right center;
	left:128px;
}
.sespagereview_review_verified_block p{
	background-color:#93c33c;
	padding:3px;
	text-align:center;
	color:#fff;
	position:relative;
	width:100%;
}
[dir="rtl"] .sespagereview_review_verified_block p, [dir="rtl"] .sespagereview_review_featured_block p{
	right:0px;
}
.sespagereview_review_verified_block p:after{
	background-position:right center;
	left:128px;
}
.sespagereview_review_listing_left_title{
	font-weight:bold;
}
.sespagereview_review_listing_right{
	overflow:hidden;
}
.sespagereview_review_listing_top{
	width:100%;
  border-bottom-width:1px;
	border-bottom-style:dashed;
	padding-bottom:5px;
	margin-bottom:10px;
}
.sespagereview_review_listing_title{
	font-size:17px;
	font-weight:bold;
	margin-bottom:7px;
}
.sespagereview_review_view_title{
	font-weight:bold;
	margin-bottom:10px;
	font-size:17px;
}
.sespagereview_review_featured_verified_block{
	position:absolute;
	top:0px;
	right:0px;
	width:auto;
}
.sespagereview_review_featured_verified_block p{
	float:left;
	margin-right:10px;
	padding:0px 8px;
	color:#fff;
}
.sespagereview_review_featured_verified_block .featured{
	background:#47C8E3;
}
.sespagereview_review_featured_verified_block p.featured:before{
	content:"";
	border-left:14px solid transparent;
	border-right:15px solid transparent;
	border-top:6px solid #47C8E3;
	position:absolute;
	bottom:-6px;
	left:0px;
}
.sespagereview_review_featured_verified_block p.verified{
	background:#93C33C;
}
.sespagereview_review_featured_verified_block p.verified:before{
	content:"";
	border-left:14px solid transparent;
	border-right:15px solid transparent;
	border-top:6px solid #93C33C;
	position:absolute;
	bottom:-6px;
	right:10px;
}
.sespagereview_review_listing_top_info{
	float:left;
	width:50%;
}
[dir="rtl"] .sespagereview_review_listing_top_info{
	float:right;
}
.sespagereview_review_listing_top_info_img{
	float:left;
	margin-right:15px;
}
[dir="rtl"] .sespagereview_review_listing_top_info_img{
	float:right;
	margin-left:15px;
	margin-right:0;
}
.sespagereview_review_listing_top_info_cont{
	display:block;
	overflow:hidden;
}
.sespagereview_review_listing_stats{
	font-size:12px;
	display:block;
	margin-top:3px;
}
.sespagereview_review_listing_stats span{
	margin-right:10px;
}
[dir="rtl"] .sespagereview_review_listing_stats span{
	margin-left:10px;
	margin-right:0;
}
.sespagereview_review_listing_stats span i{
	margin-right:5px;
}
[dir="rtl"] .sespagereview_review_listing_stats span i{
	margin-left:5px;
	margin-right:0px;
}
.sespagereview_review_listing_desc p{
	margin-bottom:10px;
}
.sespagereview_review_listing_desc > p > b{
	display:block;
}
.sespagereview_review_listing_recommended i{
	margin-left:10px;
	font-size:17px;
}
.sespagereview_review_listing_recommended i.fa-check{
	color:#93C33C;
}
.sespagereview_review_listing_recommended i.fa-times{
	color:#F00;
}
.sespagereview_review_listing_more{
	text-align:right;
	font-weight:bold;
	font-style:italic;
}
[dir="rtl"] .sespagereview_review_listing_more{
	float:left;
}
/*Review Stats Popup*/
.sespagereview_review_stats_popup{
	width:500px;
}
.sespagereview_review_stats_popup_header{
	background-image:url(../images/t-img-light.png);
	border-bottom-width:1px;
	font-size:15px;
	font-weight:bold;
	padding:10px 15px;
}
.sespagereview_review_stats_popup_cont{
	padding:15px;
}
/*Review Overall Stats*/
.sesmemeber_review_stats_row{
	margin:5px 0;
}
.sesmemeber_review_stat_label{
	border-radius:3px;
	float:left;
	padding:0 10px;
	line-height:24px;
	font-size:11px;
	font-weight:bold;
	margin-right:2px;
}
[dir="rtl"] .sesmemeber_review_stat_label{
	float:right;
}
.sesmemeber_review_stat_total{
	float:right;
	font-weight:bold;
	line-height:24px;
	padding:0 5px;
	width:50px;
}
[dir="rtl"] .sesmemeber_review_stat_total{
	float:left;
}
.sesmemeber_review_stat_gr{
	overflow:hidden;
}
.sesmemeber_review_stat_gr a{
	float:left;
	margin:0 0 0 2px;
}
.sesmemeber_review_stat_gr img,
.sesmemeber_review_stat_gr a span{
	display:block;
	height:24px;
	width:24px;
}
.sesmemeber_review_stat_gr a span{
	font-size:12px;
	font-weight:bold;
	letter-spacing:-1px;
	line-height:24px;
	text-align:center
}
.sesmemeber_review_stat_gr_line{
	background-color:#ddd;
	height:2px;
	overflow:hidden;
	margin-top:10px;
	display:block;
}
.sesmemeber_review_stat_gr_line span{height:2px;display:block;}
/*Review Sidebar Listing*/
.sespagereview_review_sidebar_block li + li{
	border-top-width:1px;
	border-top-style:dashed;
}
.sesbasic_rating_star .sesbasic_rating_star_small.fa:before {
	color:#ff4500;
	font-size:12px;
}
.sespagereview_review_sidebar_list{
	padding:10px 0px 10px 0px;
}
.sespagereview_review_sidebar_list > a{
	float:left;
	margin-right:10px;
}
[dir="rtl"] .sespagereview_review_sidebar_list > a{
	float:right;
	margin-right:0px;
	margin-left:10px;
}
.sespagereview_review_sidebar_list > a img{
	border-radius: 0;
}
.sespagereview_sidebar_image_rounded a img{
	border-radius:100%;
}
.sespagereview_review_sidebar_list_info{
	overflow:hidden;
	margin-bottom: 5px;
}
.sespagereview_review_sidebar_list_title{
	font-weight:bold;
}
.sespagereview_review_sidebar_list_stat{
	margin-top:6px;
	float:left;
	font-size:12px;
}
.sespagereview_review_sidebar_list_stat i{
	margin-right: 5px;
}
[dir="rtl"] .sespagereview_review_sidebar_list_stat{
	float:right;
}
.sespagereview_review_sidebar_list_body{
	font-style:italic;
}
.sespagereview_review_sidebar_list_body:before,
.sespagereview_review_sidebar_list_body:after{
	content:'"';
	font-size:17px;
}
.sespagereview_review_sidebar_featured_list{
	text-align:center;
	margin:10px 0px;
}
.sespagereview_review_sidebar_featured_list p{
	display:inline-block;
	margin-right:5px;
	color:#fff;
	font-size:12px;
	padding:2px 12px;
}
.sespagereview_review_sidebar_featured_list p.featured{
	background:#47C8E3;
}
.sespagereview_review_sidebar_featured_list p.verified{
	background:#93C33C;
}
/*Review Grid Listing*/
.sespagereview_review_grid{
	border-width:1px;
	float:left;
	position:relative;
	width:100% !important;
}
.sespagereview_review_grid_thumb{
	position:relative;
}
.sespagereview_review_grid_thumb,
.sespagereview_review_grid_thumb > a,
.sespagereview_review_grid_thumb > a > span{
	background-size:cover;
	background-position:center center;
	height:100%;
	display:block;
	width:100%;
}
.sespagereview_review_grid .sespagereview_labels{
	top:0px;
	position: absolute;
}
.sespagereview_review_grid_thumb_cont{
	padding:10px;
	position:absolute;
	bottom:0;
  background:rgba(0,0,0,0.6);
  background:-moz-linear-gradient(top, transparent 5%, rgba(0,0,0,0.5) 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(5%, transparent), color-stop(100%, rgba(0,0,0,0.5)));
  background:-webkit-linear-gradient(top, transparent 5%, rgba(0,0,0,0.5) 100%);
  background:-webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0,0,0,0.7)));
  background:linear-gradient(to bottom, transparent 5%,rgba(0,0,0,0.5) 100%);
	width:100%;
}
.sespagereview_review_grid_title{
	font-weight:bold;
}
.sespagereview_review_grid .sespagereview_grid_btns{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sespagereview_review_grid_title a{
	color:#fff !important;
}
.sespagereview_review_grid_info{
	padding:10px;
}
.sespagereview_review_grid_stat{
	margin-top:2px;
	font-size:12px;
	width:100%;
}
.sespagereview_review_grid_stat span i{
	margin-right:5px;
}
.sespagereview_review_grid_stat a.sespagereview_reviw_prof_img{
	margin-right:10px;
}
[dir="rtl"] .sespagereview_review_grid_stat a.sespagereview_reviw_prof_img{
	margin-right:0px;
	margin-left:10px;
}
.sespagereview_review_tittle_block{
	overflow:hidden;
	font-size:12px;
}
.sespagereview_review_tittle_block p{
	float:left;
	margin-right:2px;
} 
[dir="rtl"] .sespagereview_review_tittle_block p{
	float:right;
}
.sespagereview_review_grid .sespagereview_label_featured{
    display: inline-block;
    margin-right: 5px;
    color: #fff;
    font-size: 12px;
    padding: 3px 12px;
}
.sespagereview_review_grid p.sespagereview_label_featured{
	background-color: #47C8E3;
}
/*Browse Reviews Search*/
.sespagereview_browse_review_search_horizontal .form-wrapper{
	float:left;
	padding-right:15px;
	margin:0 !important;
}
.sespagereview_browse_review_search_horizontal .form-wrapper:nth-child(1){
	width:25%;
}
.sespagereview_browse_review_search_horizontal .form-wrapper:nth-child(2){
	width:20%;
}
.sespagereview_browse_review_search_horizontal .form-wrapper:nth-child(3){
	width:15%;
}
.sespagereview_browse_review_search_horizontal .form-wrapper:nth-child(4){
	width:25%;
}
.sespagereview_browse_review_search_horizontal .form-label{
	font-size:12px;
	margin-bottom:3px;
}
.sespagereview_browse_review_search_horizontal select,
.sespagereview_browse_review_search_horizontal input{
	padding:4px 5px;
	width:100%;
}
.sespagereview_browse_review_search_horizontal button{
	font-size:12px;
	padding:6px 15px 7px;
}
.sespagereview_browse_review_search_horizontal #loadingimgsespagereviewreview-wrapper,
.sespagereview_browse_review_search_vertical #loadingimgsespagereviewreview-wrapper{
	display:none !important;
}
.sespagereview_browse_review_search_vertical select,
.sespagereview_browse_review_search_vertical input,
.sespagereview_browse_review_search_vertical button{
	width:100%;
	max-width:inherit;
}
.sespagereview_browse_review_search_vertical #submit-label{display:none;}
/*Review View Page Css Start Here*/
.sespagereview_review_owner_photo{
	text-align:center;
}
[dir="rtl"] .sespagereview_review_owner_photo{
	text-align:center;
}
.sespagereview_review_owner_photo span{
	margin-top:10px;
	display:block;
}
.sespagereview_review_owner_photo span a{
	font-weight:bold;
}
.sespagereview_review_owner_photo a img{
	width:100%;
	height:100%;
}
.sespagereview_review_view{
	margin:5px 0;
}
.sespagereview_review_view_top{
	width:100%;
  border-bottom-width:1px;
	padding-bottom:5px;
	margin-bottom:10px;
}
.sespagereview_review_view_title{
	font-weight:bold;
	margin-bottom:10px;
	font-size:17px;
}
.sespagereview_review_view_item_info{
	float:left;
	width:50%;
}
[dir="rtl"] .sespagereview_review_view_item_info{
	float:right;
}
.sespagereview_review_view_info_img{
	float:left;
	margin-right:15px;
}
[dir="rtl"] .sespagereview_review_view_info_img{
	float:right;
	margin-left:15px;
	margin-right:0;
}
.sespagereview_review_view_info_cont{
	overflow:hidden;
}
.sespagereview_review_view_stats{
	font-size:12px;
	display:block;
	margin-top:3px;
}
.sespagereview_review_view_stats span{
	margin-right:10px;
}
[dir="rtl"] .sespagereview_review_view_stats span{
	margin-left:10px;
	margin-right:0;
}
.sespagereview_review_view_stats span i{
	margin-right:5px;
}
.sespagereview_review_view_cont_row{
	margin-bottom:10px;
}
.sespagereview_review_view_cont_row > b{
	display:block;
	margin-bottom:5px;
}
.sespagereview_review_view_recommended i {
	margin-left:10px;
	font-size:17px;
}
.sespagereview_review_view_recommended i.fa-check{
	color:#93C33C;
}
.sespagereview_review_view_recommended i.fa-times{
	color:#F00;
}
/*Review View Page Css End Here*/
/*Profile Reviews Css Start Here*/
.sespagereview_profile_reviews_filters {
	border-width:1px;
	background-image:url(../images/transprant-bg.png);
	padding:10px;
	margin-bottom:15px;
}
.sespagereview_profile_reviews_filters #filter_form,
.sespagereview_profile_reviews_filters #filter_form > div,
.sespagereview_profile_reviews_filters #filter_form > div > div,
.sespagereview_profile_reviews_filters #filter_form > div > div > div{
	border-width:0 !important;
	background:none !important;
	padding:0 !important;
	margin:0 !important;
	overflow:hidden;
}
.sespagereview_profile_reviews_filters .form-wrapper{
	float:left;
	padding-right:15px;
	margin:0 !important;
}
.sespagereview_profile_reviews_filters .form-wrapper:nth-child(1){
	width:25%;
}
.sespagereview_profile_reviews_filters .form-wrapper:nth-child(2){
	width:20%;
}
.sespagereview_profile_reviews_filters .form-wrapper:nth-child(3){
	width:35%;
}
.sespagereview_profile_reviews_filters .form-label{
	font-size:12px;
	margin-bottom:3px;
}
.sespagereview_profile_reviews_filters select{
	padding:4px 5px;
	width:100%;
}
.sespagereview_profile_reviews_filters button{
	font-size:12px;
	padding:6px 15px 7px;
}
.sespagereview_profile_reviews_filters #loadingimgsespagereviewreview-wrapper{
	display:none !important;
}
.sespagereview_review_form_block{
	border-top-width:1px;
	margin-top:15px;
	position:relative;
	background-image:url(../images/t-img-light.png);
	padding:10px;
}
.sespagereview_review_form_block .global_form,
.sespagereview_review_form_block .global_form > div,
.sespagereview_review_form_block .global_form > div > div,
.sespagereview_review_form_block .global_form > div > div > div{
	border-width:0 !important;
	background:none !important;
	padding:0 !important;
	margin:0 !important;
	overflow:hidden;
	float:none;
}
.sespagereview_review_form_block #description-element{
	float:none;
}
#global_content_simple #sespagereview_review_form #buttons-label{
	display:none;
}
/*Profile Reviews Css End Here*/
/*Rating Stats Start Here*/
.sespagereview_rating_disc_block > p, 
.sespagereview_review-vots > p, 
.sespagereview_compliments_block > p{
	margin-bottom:10px;
}
.sespagereview_rating_disc_block .sespagereview_rating_list_block{
	clear:both;
	overflow:hidden;
	margin-top:5px;
}
.sespagereview_rating_disc_block a.sessmoothbox{
	margin-top:5px;
	display:inline-block;
}
.sespagereview_rating_list_block .rating_list_left{
	background-image:url(../images/t-img-light.png);
	width:60px;
	padding:0px;
	border-radius:3px 0px 0px 3px;
	text-align:center;
	height:20px;
	line-height:20px;
}
[dir="rtl"] .sespagereview_rating_list_block .rating_list_left{
	border-radius:0px 3px 3px 0px;
}
.sespagereview_rating_list_block .rating_list_right{
	overflow:hidden;
	display:block;
	padding-right:25px;
}
[dir="rtl"] .sespagereview_rating_list_block .rating_list_right{
	padding-left:25px;
	padding-right:0px;
}
.sespagereview_rating_list_block .rating_list_right_inner{
	width:85%;
	float:left;
	margin-right:5px;
	height:20px;
	border-radius:0px 3px 3px 0px;
}
[dir="rtl"] .sespagereview_rating_list_block .rating_list_right_inner{
	border-radius:3px 0px 0px 3px;
	float:right;
	margin-right:0px;
	margin-left:5px;
}
.sespagereview_rating_list_block .rating_list_contant{
	position:absolute;
	line-height:20px;
	padding:0 5px;
}
/*Rating Stats End Here*/
/*Rating Votes Stats css start here*/
.sespagereview_review-vots{
	margin-bottom:15px;
}
.sespagereview_review-vots ul li{
	margin-bottom:11px;
	font-size:13px;
}
.sespagereview_review-vots ul li i.useful{
	background-image:url(../images/light-bulb.png);
	background-repeat:no-repeat;
	height:16px;
	width:16px;
	display:inline-block;
	float:left;
}
.sespagereview_review-vots ul li i.funny{
	background-image:url(../images/happy.png);
	background-repeat:no-repeat;
	height:16px;
	width:16px;
	display:inline-block;
	float:left;
}
.sespagereview_review-vots ul li i.cool{
	background-image:url(../images/snowflake.png);
	background-repeat:no-repeat;
	height:16px;
	width:16px;
	display:inline-block;
	float:left;
}
.sespagereview_review-vots ul li i{
	margin-right:5px
}
/*Rating Votes Stats css end here*/
/*Top Rated Members widget css start here*/
.sespagereview_review_rating_block .sespagereview_rating_list{
	border-bottom-width:1px;
	padding:10px;
}
.sespagereview_review_rating_block .sespagereview_rating_list:last-child{
	border-bottom:none;
}
.sespagereview_review_rating_block_img{
	border-width:1px;
	width:200px;
	height:200px;
	float:left;
	margin-right:15px;
	overflow:hidden;
	position:relative;
}
.sespagereview_review_rating_block_img img{
	height:100%;
	width:100%;
	object-fit:cover;
}
.sespagereview_review_rating_block_img:hover .sespagereview_labels{
	display:none;
}
.sespagereview_rating_list_info{
	overflow:hidden;
}
.sespagereview_rating_list_info_top{
	border-bottom-style:dashed;
	border-bottom-width:1px;
	padding-bottom:10px;
	margin-bottom:10px;
}
[dir="rtl"] .sespagereview_rating_list_info_top .sespagereview_rating_list_star{
	text-align:left;
}
.sespagereview_rating_list_title p{
	font-size:18px;
}
.sespagereview_rating_list_star{
	text-align:right;
}
.sespagereview_rating_list_btm{
	clear:both;
	overflow:hidden;
}
.sespagereview_rating_list_btm_left{
	width:52%;
}
.sespagereview_rating_list_btm_left .sespagereview_list_stats{
	clear:none;
	display:inline-block;
	float:none !important;
	margin-bottom:5px;
	padding-right:10px;
	vertical-align:top;
	width:48%;
}
.sespagereview_rating_list_btm_left .sespagereview_list_statics{
	clear:both;
	width:100%;
}
.sespagereview_rating_list_btm_left .sespagereview_list_stats > span > span span{
	margin-right:5px;
	display:inline-block;
}
.sespagereview_rating_list_btm_left .sespagereview_list_stats > span > span span:after{
	content:",";
}
.sespagereview_rating_list_btm_left .sespagereview_list_stats > span > span span:nth-last-child(1):after{
	display:none;
}
.sespagereview_profile_bottom_left_btns{
	margin-top:5px;
}
.sespagereview_rating_list_btm_right{
	border-left-style:dashed;
	border-left-width:1px;
	width:46%;
	padding-left:20px;
}
/*Top Rated Members widget css end here*/
/*Page Review Breadcrumb Css*/
.sespagereview_breadcrumb{
	border-width:1px;
	padding:10px;
	font-size: 90%;
}
.sespagereview_breadcrumb > a{
	font-weight: bold;
}
/*Edit Review Popup Css*/
.sespagereview_editreview_popup{
	width:550px !important;
	box-sizing: border-box;
}
.sespagereview_editreview_popup h3{
	padding-left: 15px;
}
.sespagereview_editreview_popup div.form-element{
	min-width: 100%;
	max-width: 100%;
}
.sespagereview_editreview_popup div.form-label{
	text-align: left;	
	width: 100px;
}
.sespagereview_editreview_popup .form-element input[type=text]{
	width: 100%;
}
/*Review Of the Day*/
.layout_right li.sespagereview_oftheday, .layout_left li.sespagereview_oftheday{
	width:100% !important;
}
.reviewofday_header{
	height:55px;
	width: 100%;
	margin-top:10px;
}
.sespagereview_oftheday{
	position:relative;
}
.sespagereview_oftheday .reviewofday_body{
	text-align: center;
	margin-top: -35px;
}
.sespagereview_oftheday .sespagereview_review_grid_thumb{
	width: 100%;
}
.sespagereview_oftheday .sespagereview_review_grid_thumb span{
	width: 60px !important;
	height: 60px !important;
	border-radius: 50%;
	display: block;
	margin:0 auto;
}
.sespagereview_oftheday .sespagereview_labels{
	margin: 7px 0;
	text-align: center;
}
.sespagereview_oftheday .sespagereview_labels p{
	display: inline-block;
    margin-right: 5px;
    color: #fff;
    font-size: 12px;
    padding: 2px 12px;
}
.sespagereview_oftheday .sespagereview_labels p.sespagereview_label_featured{
	background: #47C8E3;
}
.sespagereview_oftheday .sespagereview_review_grid_title{
	text-align: center;
	margin-bottom: 4px;
}
.sespagereview_oftheday .sespagereview_review_grid_stat{
	text-align: center;
}
.sespagereview_oftheday .sespagereview_review_tittle_block{
	text-align: center;
}
.sespagereview_oftheday .sespagereview_review_tittle_block p{
	float: none;
	display: inline-block;
	margin:2px 0;
}
.sespagereview_oftheday .sespagereview_review_grid_stat{
	margin-top: 3px;
}
.sespagereview_oftheday .sespagereview_review_sidebar_list_stat{
	float: none;
    display: block;
    text-align: center;
}
.sespagereview_oftheday .sespagereview_review_sidebar_list_body{
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	line-height: 145%;
}
.sespagereview_oftheday_btns{
	display: block;
	width: 100%;
	text-align: center;
	margin-top:10px;
}
.sespagereview_oftheday_btns > div{
	margin-left:3px;
	display: inline-block;
}
/*Responsive Css*/

@media only screen and (max-width:768px){
	.sespagereview_review_stats_popup{width:100%;}
	.sespagereview_editreview_popup{
		width: 100%;
	}
	.sespagereview_review_listing_btn_left{
		margin-bottom: 5px;
	}
	.sespagereview_review_view_item_info,
	.sespagereview_review_listing_top_info{
		width: 100%;
	}
	.sespagereview_review_listing_btn_left a{
		margin-bottom: 5px;
	}
	.sespagereview_profile_reviews_filters .form-wrapper{
		width: 100% !important;
	}
	.sespagereview_rating_star{
		font-size: 14px;
		width: 15px;
		height: 24px;
	}
}