/*Color Scheme Form*/
.sesbasic_admin_form .form-label{
	margin-bottom:5px;
}
.sesbasic_admin_form #header_settings-wrapper,
.sesbasic_admin_form #footer_settings-wrapper,
.sesbasic_admin_form #body_settings-wrapper{
	border-bottom-width:1px;
}
.sesbasic_admin_form #header_settings-wrapper .form-label,
.sesbasic_admin_form #footer_settings-wrapper .form-label,
.sesbasic_admin_form #body_settings-wrapper .form-label{
	font-size:15px;
	width:auto;
}
.sesbasic_admin_form #header_settings_group > fieldset > div,
.sesbasic_admin_form #footer_settings_group > fieldset > div,
.sesbasic_admin_form #body_settings_group > fieldset > div{
  margin-right:3%;
	display:inline-block;
	width:30%;
}
.sesbasic_admin_form #header_settings_group > fieldset > div > div,
.sesbasic_admin_form #footer_settings_group > fieldset > div > div,
.sesbasic_admin_form #body_settings_group > fieldset > div > div{
	width:100%;
}

