
.sescusdash_icon_back{background-image:url(~/application/modules/Sescusdash/externals/images/back.png);}
.sescusdash_icon_add{background-image:url(~/application/modules/Sescusdash/externals/images/add.png);}
.sescusdash_search_reasult{margin-bottom:10px;font-weight:bold;}
