/* $Id: constants.css 7306 2010-09-07 07:33:09Z john $ */

@constants
{

  /*
  NOTE TO SELVES ---------------------------------------------------------------
  Also add constants to application/settings/constants.xml
  END NOTE ---------------------------------------------------------------------
  */
  /*
  PAGE WIDTHS & BACKGROUND COLOR
  Specify the top bar wrapper width (which contains the mini menu, logo, and main menu
  by default), the footer width, and the width of left & right-side columns.
  */
  theme_main_width:1050px;
	theme_topbar_width: $theme_main_width;
  theme_topbar_minimenu_width: auto;
  theme_topbar_logo_width: auto;
  theme_topbar_menu_width:100%;
  theme_footer_width: $theme_main_width;
  theme_content_width: $theme_main_width;
  theme_content_columns_left_width: 288px;
  theme_content_columns_right_width: 290px;
  theme_body_background_color: $einstaclone_body_background_color;
  theme_color: $einstaclone_theme_color;
  /*
  HEADER AND FOOTER COLORS
  These values are only used to style the site-wide header and footer.
  */
  theme_topbar_background_color: $einstaclone_header_background_color;
	theme_topbar_border_color: $einstaclone_header_border_color;
	theme_tobar_search_background_color:$einstaclone_header_search_background_color;
	theme_tobar_search_border_color:$einstaclone_header_search_border_color;
	theme_topbar_search_button_background_color:$einstaclone_header_search_button_background_color;
	theme_topbar_search_button_font_color:$einstaclone_header_search_button_font_color;
	theme_topbar_font_color:$einstaclone_header_font_color;
	theme_topbar_menu_font_family:$einstaclone_mainmenu_fontfamily;
	theme_topbar_menu_link_size:$einstaclone_mainmenu_fontsize;
  theme_topbar_menu_link_hover_color:$einstaclone_mainmenu_links_hover_color;
	/*
	LANDING PAGE COLORS
	*/
	theme_lp_header_background_color:$einstaclone_lp_header_background_color;
	theme_lp_header_border_color:$einstaclone_lp_header_border_color;
	theme_lp_header_input_background_color:$einstaclone_lp_header_input_background_color;
	theme_lp_header_input_border_color:$einstaclone_lp_header_input_border_color;
	theme_lp_header_button_background_color:$einstaclone_lp_header_button_background_color;
	theme_lp_header_button_hover_color:$einstaclone_lp_header_button_hover_color;
	theme_lp_header_button_font_color:$einstaclone_lp_header_button_font_color;
	theme_lp_header_font_color:$einstaclone_lp_header_font_color;
	theme_lp_header_link_color:$einstaclone_lp_header_link_color;

	theme_lp_signup_button_color:$einstaclone_lp_signup_button_color;
	theme_lp_signup_button_border_color:$einstaclone_lp_signup_button_border_color;
	theme_lp_signup_button_font_color:$einstaclone_lp_signup_button_font_color;
	theme_lp_signup_button_hover_color:$einstaclone_lp_signup_button_hover_color;
	theme_lp_signup_button_hover_font_color:$einstaclone_lp_signup_button_hover_font_color;

	/*
	MAIN MENUeinstaclone_mainmenu_link_hover_color
		*/
	theme_topbar_menu_search_background_color:$einstaclone_mainmenu_search_background_color;
	theme_topbar_menu_search_font_color:#fff;
	theme_topbar_menu_background_color: $einstaclone_mainmenu_background_color;
  theme_topbar_menu_background_color_hover: transparent;
  theme_topbar_menu_link_color: $einstaclone_mainmenu_links_color;
  theme_topbar_menu_link_decoration: none;
  theme_topbar_menu_link_hover_color: $einstaclone_mainmenu_link_hover_color;
  theme_topbar_menu_link_active_color: $einstaclone_mainmenu_link_hover_color;
  theme_topbar_menu_link_hover_decoration: none;
  theme_topbar_menu_link_background_color: transparent;
  theme_topbar_menu_link_background_color_hover: transparent;
  theme_topbar_menu_border: none;
	theme_topbar_menu_footer_font_color:$einstaclone_mainmenu_footer_font_color;

	/*
	MINI MENU
	*/
	theme_topbar_minimenu_background_color: transparent;
  theme_topbar_minimenu_border: none;
  theme_topbar_minimenu_link_size: 100%;
  theme_topbar_minimenu_link_color:$einstaclone_minimenu_links_color;
  theme_topbar_minimenu_link_active_color: $einstaclone_minimenu_link_active_color;
  theme_topbar_minimenu_link_hover_decoration: none;
  theme_topbar_minimenu_link_hover_background_color: transparent;
  theme_topbar_border: 0px solid transparent;


	/*
  TEXT & LINKS
  These values affect the size and colors of your text and links throughout your layout.
  */
  theme_font_family:$einstaclone_body_fontfamily;
  theme_font_size: $einstaclone_body_fontsize;
  theme_font_color: $einstaclone_font_color;
  theme_font_color_light:$einstaclone_font_color_light;
  theme_text_align: left;
  theme_link_color: $einstaclone_links_color;
  theme_link_color_hover: $einstaclone_links_hover_color;
  theme_link_decoration: none;
  theme_link_decoration_hover: none;
	theme_headline_background_color: $einstaclone_headline_background_color;
  theme_headline_color: $einstaclone_headline_color;
  theme_headline_size_large: 165%;
  theme_headline_size_medium: 115%;

  /*
  BORDER COLORS
  These colors are mostly applied to borders that separate items in lists of content.
  */
  theme_border_color: $einstaclone_border_color;
  theme_border_medium_color: $einstaclone_border_color;
  theme_border_dark_color: $einstaclone_border_color;
  /*
  WIDGET BOX BORDER COLORS
  These colors are applied to borders around or within boxes that have a background color,
  like widgets.
  */
	theme_box_background_color:$einstaclone_box_background_color;
	theme_box_border_color:$einstaclone_border_color;
  theme_foreground_border_color: transparent;
  theme_foreground_border_color_light: transparent;
  theme_foreground_background_color: $einstaclone_box_background_color;
	theme_comments_background_color:$einstaclone_comments_background_color;
	theme_box_header_font_size:$einstaclone_heading_fontsize;
  theme_box_header_font_family:$einstaclone_heading_fontfamily;
  /*
  INPUT FIELDS AND BUTTONS
  These values style input fields and buttons that appear throughout the layout.
  */
  theme_input_background_color: $einstaclone_input_background_color;
  theme_input_font_color: $einstaclone_input_font_color;
  theme_input_border_colors: $einstaclone_input_border_color;
  theme_button_background_color: $einstaclone_button_background_color;
  theme_button_background_color_hover: $einstaclone_button_background_color_hover;
  theme_button_background_color_active: $einstaclone_button_background_color_hover;
  theme_button_font_color: $einstaclone_button_font_color;
  theme_button_border_color: $einstaclone_button_border_color;

  /*
  PHOTO BORDERS
  These colors are applied to the borders drawn around most images and thumbnails.
  */
  theme_photo_border_color: transprant;
  theme_photo_border_color_hover: transprant;

  /*
  FORMS
  These colors are applied to most forms throughout the layout.
  */
  theme_form_border_color: $einstaclone_border_color;
  theme_form_background_color: $einstaclone_box_background_color;
  theme_form_label_font_color: $einstaclone_form_label_color;

  /*
  TABS (BUTTON-STYLE)
  These colors are applied to the button-style tab menus which are often shown
  on browse pages.
  */
	theme_buttontabs_font_size:$einstaclone_tab_fontsize;
	theme_buttontabs_font_family:$einstaclone_tab_fontfamily;
	theme_buttontabs_font_color: $einstaclone_font_color;
	theme_buttontabs_font_color_hover: $einstaclone_button_font_color;
	theme_buttontabs_font_color_active: $einstaclone_button_font_color;
	theme_buttontabs_border_color: transparent;
	theme_buttontabs_border_color_hover: $einstaclone_theme_color;
	theme_buttontabs_border_color_active: $einstaclone_theme_color;
	theme_buttontabs_background_color: transparent;
	theme_buttontabs_background_color_hover: $einstaclone_button_background_color;
	theme_buttontabs_background_color_active: $einstaclone_button_background_color;

  /*
  TABS
  These colors are applied to tab menus (as seen on several pages, including
  the member profile page).
  */
  theme_tabs_background_color: $einstaclone_box_background_color;
  theme_tabs_border_color: $einstaclone_border_color;
  theme_tabs_border_color_active: $einstaclone_font_color;
  theme_tabs_font_color: $einstaclone_font_color_light;
  theme_tabs_font_color_active: $einstaclone_links_color;
  theme_tabs_font_color_hover: $einstaclone_links_color;
  theme_tabs_background_color_active: $einstaclone_theme_color;
  theme_tabs_background_color_hover: $einstaclone_theme_color;
  theme_tabs_font_size:$einstaclone_tab_fontsize;
	theme_tabs_font_family:$einstaclone_tab_fontfamily;
  /*
  LISTS
  These colors are applied to some lists, especially in pull-down menus.
  */
  theme_list_background_color: $einstaclone_box_background_color;
  theme_list_background_color_alt: rgba(0, 0, 0, .1);
  theme_list_background_color_hover: rgba(186, 186, 186, 0.05);

	 /*
  DASHBOARD
  */
	theme_dashboard_list_background_color_hover: $einstaclone_dashboard_list_background_color_hover;
	theme_dashboard_list_border_color: $einstaclone_dashboard_list_border_color;
	theme_dashboard_font_color:$einstaclone_dashboard_font_color;
	theme_dashboard_link_color:$einstaclone_dashboard_link_color;

  /*
  TAGS
  These colors are applied to tags, which appear on blogs, messages, etc.
  */
  theme_tag_background_color: rgba(0, 0, 0, .1);

  /*
  INLINE PULLDOWN MENUS
  These colors style the inline pulldown menus that appear throughout the layout.
  */
  theme_pulldown_background_color: $einstaclone_pulldown_background_color;
  theme_pulldown_background_color_hover: $einstaclone_theme_color;
  theme_pulldown_background_color_active: $einstaclone_pulldown_background_color_hover;
  theme_pulldown_font_color_active: $einstaclone_font_color;
  theme_pulldown_border_color: $einstaclone_border_color;
  theme_pulldown_contents_background_color: $einstaclone_box_background_color;
  theme_pulldown_contents_list_background_color_hover: rgba(0, 0, 0, .03);
  theme_pulldown_contents_list_background_color_active: rgba(0, 0, 0, .03);

  /*
  GRID VIEW LAYOUT
  These values set the width and height of grid layout.
  */
  theme_grid_width: 216px;
  theme_grid_height: 290px;

  /*
  SIGN IN BUTTON
  These colors style sign in button
  */
  theme_signin_color: #1bc1d6;
  theme_signin_color_hover: #10B9B0;

	/*FOOTER*/
	theme_footer_background_color:$einstaclone_footer_background_color;
	theme_footer_font_color:$einstaclone_footer_font_color;
  theme_footer_link_color:$einstaclone_footer_links_color;
	theme_footer_border_color:$einstaclone_footer_border_color;
	theme_header_fixed_layout: +header_fixed_layout($einstaclone_header_fixed_layout);
}
.layout_page_header{
	background-color:$theme_topbar_background_color;
	border-bottom:1px solid $theme_topbar_border_color;
	padding:0px;
	position:absolute;
	width:100%;
	z-index:9;
}
=header_fixed_layout($layout = 1){
	@if($layout == 1) {
		.layout_page_header{position:fixed;top:0;left:0;right:0;width:100%;z-index:10;}
		.st-menu-open-design1 .header {padding-right: 30px;}
	}
}
$theme_header_fixed_layout;
/* Global member photos and icons */
img.main{
  max-width: 720px;
  max-height: 720px;
}
img.thumb_normal{
  max-width: 140px;
  max-height: 160px;
}
img.thumb_profile{
  max-width: 200px;
  max-height: 400px;
}
img.thumb_icon{
	border-radius:50%;
  width: 48px;
  height: 48px;
}
img.main,
img.thumb_normal,
img.thumb_profile,
img.thumb_icon{
  border: 1px solid $theme_photo_border_color;
}


/*
	GLOBAL MIXINS
	These groups of styles called "mixins" are included in other
	classes throughout the stylesheet.
*/

/* Gives an element a background and/or border */
=foreground
{
  background-color: $theme_foreground_background_color !important;
  border: 0px solid $theme_foreground_border_color;
  border-radius: none;
}

/* Gives an element a drop shadow */
=shadow($offset_x = 0, $offset_y = 0, $blur_radius = 0, $spread_radius = 0, $shadow_color = "#aaa")
{
  -moz-box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
  -webkit-box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
  box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
}

/* Gives an element rounded corners. */
=rounded($radius = 3px, $hidecorner1 = false, $hidecorner2 = false, $hidecorner3 = false, $hidecorner4 = false)
{
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;

  @if($hidecorner1 == true)
  {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
  }
  @if($hidecorner2 == true)
  {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  @if($hidecorner3 == true)
  {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  @if($hidecorner4 == true)
  {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
/* Prevents users from selecting contents */
=noselect
{
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  user-select: none;
}







