/* ADD YOUR CUSTOM CSS HERE */
.layout_sesadvancedactivity_feed > h3{display:none;}
.emessages-container .msg-chat-container .msg-composer .composer-box-option > div:nth-last-child(3){
	display:none !important;
}
html .sesblog_grid .sesblog_grid_inner:hover .sesblog_grid_hover_block{
	top:100% !important;
	margin-top:-6px;
}
#core_menu_mini_menu>ul>.core_mini_messages:before {
    display: none;
}
html .core_settings_dropdown {
    top: 62px;
    margin-left: -8px;
}
html .core_mini_messages .pulldown_contents_wrapper {
    top: 22px;
}
html #core_menu_mini_menu > ul > li {
    font-size: inherit;
}