
/*LANDING PAGE CSS*/
#global_page_core-index-index #global_wrapper{
	padding:0 !important;
	margin:0 !important;
	height:100%;
	display: block;
}
#global_page_core-index-index #global_content {
  width: 100%;
	height:100%;
}
#global_page_core-index-index .layout_page_core_index_index,
#global_page_core-index-index .layout_main,
#global_page_core-index-index .layout_middle,
#global_page_core-index-index .layout_einstaclone_landing_page{
	height:100%;
}
#global_page_core-index-index .layout_page_header{
	border:0;
	height:auto;
}
#global_page_core-index-index .layout_einstaclone_header{
	display:none;
}
.layout_einstaclone_landing_page{
	background:none !important;
	border-width:0 !important;
	padding:0 !important;
	margin:0 !important;
}
.landing_page_main{
	height: 100%;
}
.landing_page_inner {
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-moz-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	height: 100%;
}
.landing_page_inner > div{
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
}
.landing_page_inner > .landing_page_left img{
	max-width: 400px;
	object-fit: cover;
	object-position: top center;
	margin-top: 20px;
}
.landing_page_main h2 {
	font-size: 130%;
	line-height: 160%;
	margin: 10px 0;
}
.landing_page_left{
	overflow:hidden;
	background-size: cover !important;
  background-position: top center;
}
.landing_page_left > ul{
	max-width:440px;
}
.landing_page_left > ul > li{
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	margin: 48px auto;
	position: relative;
	color:#fff;
}
.landing_page_left > ul > li > img{
	max-height: 30px;
	margin-right: 16px;
}
.landing_page_inner > .landing_page_right{
	display:flex;
	flex-wrap:wrap;
	padding:50px 0;
}
.landing_page_left .lp_text_overlay *{
	color:#fff;
}
.landing_page_left .lp_text_overlay {
	position: absolute;
	bottom: 5%;
	width: 90%;
	margin: auto;
	left: 0;
	right: 0;
	background:rgba(0, 0, 0, 0.8);
	padding: 20px;
	box-sizing: border-box;
}
.landing_page_right .lp_app_section{
	flex-basis:100%;
}
.landing_page_right .landing_page_right_inner{
	max-width: 320px;
	width: 100%;
	min-width: 320px;
	border-width:1px;
	padding: 30px;
  box-sizing: border-box;
	margin:auto;
}
.landing_page_right_inner fieldset > div {
  display: inline-block;
}
.landing_page_right_inner fieldset #forgot-wrapper{
	float: right;
}
[dir="rtl"] .landing_page_right_inner fieldset #forgot-wrapper{
  float:left;
}
.landing_page_right_inner .header_logo {
  text-align: center;
}
.landing_page_right_inner > h3 {
	text-align: center;
	margin:10px auto 15px;
	font-size: 16px;
}
.landing_page_right form>div>div {
	padding: 0;
	border: none;
	background-color: transparent;
}
.landing_page_right form div.form-label,
.landing_page_right form #showhide_password{
	display:none;
}
.landing_page_right form input[type=text], 
.landing_page_right form input[type=email],
.landing_page_right form input[type=password] {
  width:100% !important;
}
.landing_page_right form button{
	padding:9px 10px;
	display: block;
  width: 100%;
	margin: 5px 0 20px;
	font-family: inherit;
}
.landing_page_right form input::placeholder{
	font-family: inherit;
}
.landing_page_right form div.form-element {
  min-width: 100%;
}
.landing_page_right .no_acc {
  text-align: center;
}
.landing_page_right_inner > .lp_right_header {
	moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 16px auto;
}
.lp_right_header .lp_logo img {
  max-height:42px;
}
.landing_page_right_inner .lp_title{
	font-size: 26px;
	line-height: 32px;
	font-weight: bold;
}
.landing_page_right_inner .lp_subtitle{
	font-size: 17px;
	line-height: 23px;
	margin: 16px auto;
	margin-top:48px;
	font-weight: bold;
}
.landing_page_right_inner .lp_right_btm a{
	border-radius: 100px;
	box-shadow: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding: 6px 16px;
	position: relative;
	text-align: center;
	white-space: nowrap;
	display: block;
	margin-bottom: 16px;
	transition:all .5s ease;
}
#global_page_core-index-index .layout_page_footer{
	margin-top:0;
}
/* APP SECTION */
.lp_app_section * {
  text-align: center;
}
.lp_app_section > ._head {
	font-size: 115%;
	margin:20px 0 15px;
	text-align: center;
}
.lp_app_section ._links {
	display: flex;
	justify-content: center;
}
.lp_app_section ._links a {
  margin: 0 5px;
}
.lp_app_section ._links a img{
	height:40px;
}
@media(max-width:767px){
	.landing_page_left{
		display:none;
	}
}