/* RESPONSIVE DESIGN, using media-queries, starts here */
@media (max-width: $theme_main_width){
	div.layout_page_footer .layout_main,
	div#global_content{
		padding:0 10px !important;
	}
	.layout_page_header .layout_main{
		padding:0 !important;
	}
	.layout_page_header .header,
	.layout_page_header .header_guest_main,
	.layout_page_header .headline{
		width: 100%;
		padding:10px;
	}
	.stpage_cont_body{
		padding:0;
	}
	.layout_right,  .layout_left{
		width: 200px !important;
	}
	.menu_middle > ul > li a{
		font-size:0;
	}
	.header > .header_logo {
    flex-basis: 40%;
   }
	 .header > div {
    flex-basis: 30%;
   }
	.layout_left{
		padding-right: 20px;
	}
	.layout_right{
		padding-left: 20px;
	}
	html #global_wrapper .sesadvcmt_comments div._form_container .comment_form .jqueryHashtags .highlighter,
	html #global_wrapper .sesadvcmt_comments div._form_container div.comment_form textarea{
		padding-left:10px !important;
	}
	#global_wrapper{
		padding-top:40px !important;
	}
}
@media (max-width: 767px){
	.layout_left,
	.layout_right{
		width: 100%;
		float: left;
		padding-left: 0;
		padding-right : 0;
		margin-left: 0;
		margin-right: 0;
		display: none;
	}
	#global_page_user-profile-index .tabs_alt{
    margin: 20px 0;
  }
	select{
		margin-left:0 !important;
		margin-bottom:10px;
	}
	#event_create_form #starttime-element div.event_calendar_container button.event_calendar,
  #event_create_form #endtime-element div.event_calendar_container button.event_calendar{
	  margin-bottom:10px;
		margin-top:0;
  }
	.global_form input + label{
		font-size:90%;
	}
	#global_page_user-profile-index .tabs_alt > ul{
		border:0;
	}
	.layout_middle{
		width: 100%;
		float: left;
		margin:0 !important;
	}
	.global_form div.form-label{
		text-align: left;
	}
	/* Profile tabs */
	.layout_core_container_tabs{
		position: relative;
	}
	.layout_core_container_tabs > .generic_layout_container > h3{
		position: absolute;
		top: 0;
		padding-right: 30px;
		right: 0px;
		left: 0;
		display: block;
	}
	[dir="rtl"] .layout_core_container_tabs > .generic_layout_container > h3{
		padding-right: 0px;
		padding-left: 30px;
	}
	div.tabs_alt{
		text-align: right;
	 +rounded(3px, true, false, false, false);
	}
	[dir="rtl"] div.tabs_alt{
		text-align: left;
	}
	div.tabs_alt > ul{
	 background: $theme_pulldown_contents_background_color;
		overflow: hidden;
		padding: 2px;
		max-height: 1000px;
		-webkit-transition: max-height 500ms ease-in;
		-moz-transition: max-height 500ms ease-in;
		-o-transition: max-height 500ms ease-in;
		transition: max-height 500ms ease-in;
	}
	[dir="rtl"] div.tabs_alt > ul{
		padding: 2px;
	}
	div.tabs_alt.tab_collapsed > ul{
		max-height: 0;
		padding : 0;
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}
	div.tabs_alt > .tab_collapsed_action{
		cursor: pointer;
		height: 20px;
		text-align: center;
		width: 20px;
		text-align: right;
		position: relative;
		z-index: 2;
		display: inline;
	}
	div.tabs_alt > .tab_collapsed_action:before{
		content: "\\f0c9";
		font-family:"Font Awesome 5 Free";
	  font-weight:900;
		display: inline-block;
		font-size: 20px;
	}
	div.tabs_alt >ul > li, .tab_pulldown_contents > ul > li{
		display: block;
		padding: 5px;
		box-sizing: border-box;
	}
	div.tabs_alt > ul > li+li{
	 border-top: 1px solid $theme_tabs_border_color;
	}
	div.tabs_alt > ul > li > a{
		display: block;
	}
	div.tabs_alt > ul li:hover,
	div.tabs_alt > ul > li.tab_active,
	div.tabs_alt > ul > li.active{
	 background-color: $theme_pulldown_contents_list_background_color_active;
		cursor: pointer;
	}
	div.tabs_alt > ul > li.tab_active > a,
	div.tabs_alt > ul > li.active > a,
	div.tabs_alt > ul > li:hover > a,
	div.tabs_alt > ul > li.active:hover > a{
		border: none;
		top: 0;
		display: block;
		background: transparent;
	}
	div.tabs_alt li.more_tab{
		padding: 0;
	}
	div.tabs_alt li.more_tab > a,  div.tabs_alt li.more_tab:hover > a{
		display: none;
	}
	div.tabs_alt li.more_tab > .tab_pulldown_contents_wrapper ul > li{
		padding: 12px 14px;
	}
	/*header css*/
	.header{
		display:block !important;
	}
	.header > .header_logo{
		justify-content: center;
    display: flex;
	}
	.header_logo .header_logo a{
		font-size: 16px;
	}
	.header > .header_searchbox{
		display:none !important;
	}
	.header_menus{
		margin-top:10px;
	}
	.menu_middle{
		padding:0;
		flex:1;
		justify-content:center;
	}
	.header_searchbox .search_inner{
		margin:10px auto;
	}
	.menu_right > ul > li{
		margin: 0px 10px;
	}
	.layout_einstaclone_footer{
		width: 100%;
	}
	div.layout_page_footer .layout_main,
	div#global_content{
		padding-left: 10px;
		padding-right: 10px;
	}
	div.layout_page_header .layout_main{
		padding:0;
	}
	.st-menu-open{
		-webkit-transform: translate3d(0px, 0, 0) !important;
		transform: translate3d(0px, 0, 0) !important;
	}
	.st-menu-open .st-effect-4.st-menu{
		-webkit-transform: translate3d(0%, 0, 0) !important;
		transform: translate3d(0%, 0, 0) !important;
	}
	.layout_page_header .headline{
    white-space: nowrap;
		overflow:auto;
		padding:0 10px;
	}
	.layout_page_header .headline div.tabs{
		width:auto;
	}
	.layout_page_header .headline div.tabs > ul{
		overflow:inherit;
		padding:0;
	}
	.menus_searh_close > div:first-child {
	  display: inline-block;
  }
	.einstaclone_footer_links {
    display: block;
	}
	.layout_page_footer .footer_column > div {
    margin: 0;
    margin-right: 10px;
	}
	.layout_page_footer .footer_copyright {
    margin: 8px 0;
  }
	.footer_lang select {
    margin-left: 0;
    margin-top: 4px;
  }
	.layout_page_user_auth_login #user_form_login #forgot-wrapper .form-element, 
	.layout_page_core_error_requireuser #user_form_login #forgot-wrapper .form-element {
    text-align: right;
    float: right;
    margin-top: -25px;
    display: inline-block;
    width: 150px !important;
  }
	#global_page_user-auth-login .global_form > div > div, 
	#global_page_core-error-requireuser .global_form > div > div,       
	#global_page_user-signup-index .global_form > div > div {
    padding: 20px 25px 25px;
	}
  .core_mini_profile > img.thumb_icon {
    width: 28px;
    height: 28px;
    vertical-align: middle;
		margin-top: -8px;
  }
	.core_mini_update:before, .core_mini_messages:before, .core_mini_settings:before, .einstaclone_mini_explore:before, .core_mini_admin:before {
    background-size: 20px;
	}
	.core_mini_update:before, .core_mini_messages:before, .core_mini_settings:before, .einstaclone_mini_explore:before, .core_mini_admin:before{
		font-size:14px;
	}
	#core_menu_mini_menu > ul > li > span > .core_mini_update, #core_menu_mini_menu > ul > li > .core_mini_messages, #core_menu_mini_menu > ul > li > .core_mini_settings, #core_menu_mini_menu > ul > li > .einstaclone_mini_explore, #core_menu_mini_menu > ul > li > .core_mini_admin {
    width: 30px;
    height: 30px;
	}
	#core_menu_mini_menu > ul > li {
    margin-right: 5px;
}
}
@media (max-width: 600px){
	.global_form > div,
	input[type=text],
	input[type=email],
	input[type=password],
	input.text,  textarea,
	select,
	.global_form div.form-element,
	.global_form div > p,
	.search_result,
	.comments{
		width: 100%!important;
	}
	.global_left_panel.panel-collapsed .layout_core_menu_mini > div > ul > li{
		margin-left: 0;
		display: inline-table;
	}
	[dir="rtl"] .global_left_panel.panel-collapsed .layout_core_menu_mini > div > ul > li{
		float: right;
	}
	.layout_core_menu_mini #core_menu_mini_menu > ul > li a.core_mini_profile{
		margin-top: 4px;
		margin-bottom: 4px;
		margin-left: 3px;
		margin-right: 3px;
	}
	.global_left_panel.panel-collapsed .layout_core_menu_mini #core_menu_mini_menu > ul > li > a.core_mini_profile{
		padding-left: 0;
		padding-right: 0;
	}
	.global_left_panel.panel-collapsed .layout_core_menu_mini #core_menu_mini_menu > ul > li a.core_mini_signup{
		padding-left: 7px;
		padding-right: 7px;
	}
	.global_left_panel.panel-collapsed .layout_core_menu_mini #core_menu_mini_menu > ul > li > a{
		padding-left: 4px;
		padding-right: 4px;
	}
	body.global_left_panel .layout_core_menu_main .menu_core_main{
		border-radius: 0;
	}
	.minimenu_update_count_bubble,  .minimenu_message_count_bubble{
		margin-left: 25px;
	}
	[dir="rtl"] .minimenu_update_count_bubble,  [dir="rtl"] .minimenu_message_count_bubble{
		margin-right: 25px;
		margin-left: 0;
	}
	#global_wrapper {
    padding-top: 10px !important;
	}
	.footer_right{
		width: 100%;
		margin-top: 20px;
	}
	.footer_left .footer_social_icon{
		margin-top: 10px;
	}
	.footer_right .footer_logo,  .footer_about_us{
		text-align: left;
	}
	/*Message View Page*/
	ul.message_view .message_view_leftwrapper, ul.message_view .message_view_info{clear:both;width:100%;}
	.message_view_leftwrapper{margin-bottom:10px;}
	ul.message_view .message_view_from{text-align:left;}
	.message_quick_entry .message_view_leftwrapper{display:none;}
}
@media (max-width:479px){
	#core_menu_mini_menu > ul > li{
		margin:0 1px;
	}
	.menu_right > ul > li{
		margin:0 5px;
	}
}
@media (min-width: 768px) and (max-width: 1024px){
	.layout_right,  .layout_left{
		float: left;
		clear: both;
	}
	[dir="rtl"] .layout_right,  [dir="rtl"] .layout_left{
		float: right;
	}
	.layout_right{
		padding-left: 0;
		padding: 0px 30px 0px 0px;
		margin-right: 5px;
		margin-left: 0;
		padding-left: 0;
		padding-right: 10px;
	}
	[dir="rtl"] .layout_right{
		padding-left: 30px;
		padding: 0px 0px 0px 30px;
		margin-right: 0px;
		margin-left: 5px;
	}
	.header_logo{
  	flex:1;
  }
	.header_searchbox {
  	display:none !important;
  }
	.einstaclone_member_item{
		display:block !important;
	}
	.einstaclone_member_item ._img {
    float: left !important;
  }
	.einstaclone_member_item ._btn {
    text-align: left !important;
  }
	.einstaclone_member_item ._cont span {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
	.einstaclone_member_item ._cont {
    overflow: hidden;
	}
	#global_page_user-settings-network .overTxtLabel {
    display: none !important;
  }
	.sesalbum_list_thumbnail_view {
    width: 49% !important;
  }
	.sesvideo_listing_grid {
    width: 48% !important;
	}
	html .sesvideo_grid_thumb {
    height: 180px !important;
	}
}
@media (min-width: 768px){
	.tabs_alt{
		margin: 15px 0px 15px 0px;
	}
	.tabs_alt > ul > li{
		display: inline-block;
		padding: 0px;
		*display: inline; /* fix for IE7 */
	}
	.tab_pulldown_contents_wrapper{
		display: none;
		position: absolute;
		padding: 2px;
		margin-top: 26px;
		background-color: $theme_pulldown_border_color;
		z-index: 99;
	}
	.tab_pulldown_contents{
		max-height: 500px;
		overflow-y: auto;
	}
	.tab_pulldown_contents > ul > li{
		padding: 5px;
		font-size: 90%;
		min-width: 100px;
		max-width: 250px;
		-moz-user-select: none;
		-webkit-user-select: none;
	}
	.layout_core_menu_logo a{
		padding-top: 5px;
	}
	#global_page_user-profile-index .tabs_alt > ul {
		background: none;
		padding: 15px;
		text-align: center;
		font-weight: 500;
  }
  #global_page_user-profile-index .tabs_alt > ul > li.tab_active > a, 
  #global_page_user-profile-index .tabs_alt > ul > li.active > a{
	  padding: 15px 10px 15px 10px;
  }
	/*SE Forum Plugin*/
	#global_page_forum-index-index #global_search_form button{margin-top:10px;}
	ul.forum_categories .forum_lastpost,
	ul.forum_topics .forum_topics_lastpost{display:none;}
	ul.forum_categories .forum_topics,
	ul.forum_categories .forum_posts,
	ul.forum_topics .forum_topics_replies,
	ul.forum_topics .forum_topics_views{width:40px !important;}
	ul.forum_topic_posts .forum_topic_posts_author{width:90px;}
	ul.forum_topic_posts .forum_topic_posts_info_top_options{clear:both;text-align:left;}
	[dir="rtl"] ul.forum_topic_posts .forum_topic_posts_info_top_options{text-align:right;}
	ul.forum_topic_posts .forum_topic_posts_info_top_options a{margin:0 10px 0 0;}
	[dir="rtl"] ul.forum_topic_posts .forum_topic_posts_info_top_options a{margin:0 0 0 10px;}
	.forum_topic_posts_info_body img{max-width:100%;}
	div.forum_topic_title{clear:both;margin-top:10px;float:left;width:100%;}
}
@media(max-width:768px){
	.global_form div.form-label{
		text-align:left !important;
	}
}
@media(min-width:1100px){
.layout_page_header{
		height:62px;
	}
}