/*ADMIN CSS*/
h4.tab_main_heading{
	margin-top: 20px;
	color:#333;
	font-weight: bold;
	font-size: 20px;
}
ul.popupbuilder_create_tabs{
	margin-top: 20px;
}
ul.popupbuilder_create_tabs li {
  display: inline-block;
  width: 20%;
  margin: 10px;
  position: relative;
  background: #ddf5ff;
  border:1px solid #ddf5ff;
}
ul.popupbuilder_create_tabs li a{
	text-align: center;
	display: block;	
  padding: 20px 5px;
}
ul.popupbuilder_create_tabs li a:hover{
	text-decoration: none;
}
ul.popupbuilder_create_tabs li p{
	color:#106488;
	font-size: 14px;
	/*text-transform: capitalize;*/
	white-space: nowrap;
}
ul.popupbuilder_create_tabs li .icon{
	margin-bottom: 10px;
}
ul.popupbuilder_create_tabs li .icon img{
	width: 60px;
	height: 60px;
	display: block;
	margin:0 auto;
}
span.christmas_img img, span._santa_img img{
	width: 100px;
	height: 100px;
	object-fit: contain;
}
#christmas_image1_select-element ul li,
#christmas_image2_select-element ul li{
	display: inline-block;
	position: relative;
	border:1px solid #eee;
	margin:2px;
	cursor: pointer;
	padding:2px;
}

h2.admin_heading_sm{
	font-size: 16px !important;
  text-transform: uppercase;
  font-weight: bold !important;
  color:#222 !important;
}
.popup_setting div#dummy-label, .popup_setting div#dummy4-label,
.popup_setting div#dummy5-label{
	font-size: 0;
}
#christmas_image1_select-element ul li input[type=radio],
#christmas_image2_select-element ul li input[type=radio]{
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
}