.sesserverwp_add_icon{
	background-image:url(~/application/modules/Sesserverwp/externals/images/add.png);
}
/*Add Popup*/
.sesserverwp_popup_form{
	margin:15px 0 0 15px;
}
.sesserverwp_popup_form form > div > div{
	width:600px;
}
.sesserverwp_popup_form form > div > div .form-element input[type="text"],
.sesserverwp_popup_form form > div > div .form-element textarea{
	min-width:0;
	max-width:100%;
	width:100%;
	box-sizing:border-box;
}