

/*Entry Form*/
.sesmembersubscription_entry_form{
	margin:10px 10px 0;
}
.sesmembersubscription_entry_form .form-wrapper{
	padding:0 0 10px !important;
}
.sesmembersubscription_entry_form .form-label,
.sesmembersubscription_entry_form .form-element{
	float:left;
	width:100% !important;
}
.sesmembersubscription_entry_form .form-element{
	margin:10px 0 0;
}
.sesmembersubscription_entry_form .form-element input[type=text] {
	width:90% !important;
}
html .sesmembersubscription_entry_form div.form-element ul li{display:inline-block;margin-right:20px;}

.sesmembersubscription_nav_btns{
	float:right;
	margin-top:-40px;
}
.sesmembersubscription_nav_btns a{
	background-color:#f36a33;
	color:#fff;
	float:left;
	font-weight:bold;
	padding:8px 15px;
	margin-left:10px;
	text-decoration:none !important;
}