
.dating_banner_btns a{
	background-color:$theme_button_background_color;
	border:1px solid $theme_button_border_color;
  color:$theme_button_font_color !important;
}
.dating_banner_btns a:hover{
	background-color:$theme_button_background_color_hover;
  cursor:pointer;
	color:$theme_button_font_hover_color !important;
	text-decoration:none;
}
.sesdating_landing_page .sedating_content_wrapper,
.sesdating_landing_page .sesdating_content_carousel_wrapper{
	background-color:$sesdating_content_background_color;
}
.sesdating_landing_page .sesdating_content_carousel .slick-list{
	max-width:$theme_content_width;
}
.sedating_highlights_item a{
	background-color:$sesdating_content_background_color;
}
.sedating_highlights_item:hover a,
.sedating_content_item:hover .sedating_content_item_title{
	background-color:$theme_button_background_color_hover;
	color:#fff;
}
.sesdating_feature_item_icon i.icon_feature{
	border-color:$theme_link_color_hover;
}
.sesdating_feature_item:hover .sesdating_feature_item_icon i.icon_feature{
	+animation;
	border-color:$theme_base_color;
}
.sesdating_feature_item:hover .sesdating_feature_item_cont h3 a{
	+animation;
	color:$theme_link_color_hover;
}
.sesdating_feature_item:nth-child(4):before,
.sesdating_feature_item:nth-child(4):after,
.sesdating_feature_item:nth-child(5):before,
.sesdating_feature_item:nth-child(5):after{
	border:1px solid $theme_border_color;
}
.sesdating_feature_item:hover .sesdating_feature_item_cont h3{
	+animation;
	color:$theme_button_background_color_hover;
}
.sesdating_home_slider_cont_inner #typed-cursor{
	background-color:$theme_link_color;
	color:$theme_link_color;
}
@media only screen and (max-width:$theme_content_width){
	.sesdating_landing_page .sedating_highlights_cont,
	.sesdating_landing_page .sedating_content_inner{
		width:100%;
	}
	.sesdating_landing_page .sesdating_content_carousel .slick-list{
		max-width:100%;
	}	
	.sedating_highlights_cont{
		padding:0 10px;
		width:100%
	}
}
/*Login - Signup Popup*/
.sesdating_quick_popup{
	background-color:$theme_box_background_color;
}
.sesdating_popup_header{
	background-color:$sesdating_login_popup_header_background_color;
}
.sesdating_popup_header_btns a{
	color:$sesdating_login_popup_header_font_color !important;
}
.sesdating_popup_header_btns a.active{
	border-bottom:1px solid $sesdating_login_popup_header_font_color;
}
.sesdating_popup_login .form-elements > .form-wrapper:nth-child(1) .form-element:before,
.sesdating_popup_login .form-elements > .form-wrapper:nth-child(2) .form-element:before{
	border:1px solid $sesdating_login_popup_header_background_color;
	color:$sesdating_login_popup_header_background_color;
}
.sesdating_popup_content_sep{
	background-color:$theme_border_color;
}
.sesdating_popup_content_sep span{
	background-color:$theme_border_color;
}
/*Landing page */
.sesdating_lp .sesdating_lp_form .sesdating_lp_form_inner:after,.sesdating_lp .sesdating_lp_form .global_form button[type=submit]{
	background-color:$theme_button_background_color;
}
.sesdating_lp .sesdating_lp_form h4{
	font-family:$theme_font_family;
}
.sesdating_lp .sesdating_lp_form .sesdating_lp_form_inner:before{
  background: $theme_base_color;
}
/* Other */
.sesdating_side_options,.sesdating_side_options .side_item,.footer_main_links ul li a:before{
	background:$theme_box_background_color;
}
.sesdating_side_options .side_item_hover,.sesdating_photos_side_widget .del_icon i,.sesdating_videos_side_widget a .del_icon i{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
}
.sesdating_members_carousel .owl-item{
	box-shadow: 0 0 0 1px inset $theme_border_color;;
}
.menu_right > ul > li > a,.sesdating_create_Ad .adv_create a,.footer_main_links ul li:first-child a:before,.sesdating_videos_side_widget .vid_options > a > i{
	color:$theme_button_font_color !important;
}
.sesdating_members_image_carousel .sesdating_member_pic:before,.sesdating_create_Ad .adv_create a,.footer_main_links ul li:first-child a:before,.sesdating_videos_side_widget .vid_options{
	background-color:$theme_button_background_color;
}
.footer_main_links ul li a:before{
	color:$theme_footer_link_hover_color;
}
.footer_help_links ul li a:before{
	background:$theme_footer_border_color;
}
.sesdating_landing_page .footer_help_links{
	background:$theme_footer_background_color;
}
.sesdatinglp_login_signup > a {
	color:$theme_button_background_color !important;
	background-color:$theme_button_font_color;
}
/* Landing Page Two */
.sesdating_counters_inner,.sesdating_lp_stories_inner,.sesdating_lp_members_inner,.sesdating_lp_groups_inner,.sesdating_lp_main{
	max-width:$theme_content_width;
}
.sesdating_counters_inner > .counters_top > a,.sesdating_lp_two_header_inner .sesdating_minimenu_signup a{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
}
.sesdating_counters_inner > .counters_top > a:last-child{
	background-color:$theme_base_color;
	color:$theme_button_font_hover_color;
}
.story_item > .story_desc h4:after,.story_item > .story_desc h4:before,.sesdating_lp_members > .members_tab button.active:before,.sesdating_lp_main_inner:before,.sesdating_lp_two_header_inner .sesdating_minimenu_login a{
	background:$theme_base_color;
}
.story_item > .story_view{
	background:$theme_box_background_color;
}
.story_item > .story_view a,.left_col .circular_item span{
	color:$theme_base_color;
}
.sesdating_lp_members > .members_tab button{
	color:$theme_font_color;
}
.sesdating_lp_members > .members_tab button.active:after{
	border-top:6px solid $theme_base_color;
}
.left_col .circular_item{
	box-shadow:0 0 0 3px $theme_box_background_color;
}
.sesdating_lp_main .sesdating_lp_two_form {
	background:$theme_base_color;
}
.members_carousel .item{
	border:3px solid $theme_box_background_color;
}
.sesdating_lp_main .sesdating_login:before{
	border-top:10px solid $theme_base_color;
}