.ecoupon_coupon_inner  .ecoupon_img span,
.ecoupon_coupon_profile ._coupon_right ._off{
	background:$theme_button_background_color;
	color:$theme_button_font_color;
}
.ecoupon_coupon_inner ._date span + span:before,
.ecoupon_coupon_profile ._date span + span:before{
	background:$theme_border_color;
}
.ecoupon_coupon_inner ._coupon_footer ._coupon,
.ecoupon_coupon_profile ._coupon_right ._coupon{
	color:$theme_button_background_color;
}
.ecoupon_coupon_inner{
	background:$theme_list_background_color;
}
