.socialtube_mobile_menu{display:none;}
@media only screen and (max-width:$socialtube_main_width){
	.layout_page_header .layout_main{width:100%;}
	.header_top{padding:0 10px;width:100%;}
	.header_searchbox_selectbox{display:none;}
	/*Header :1*/
	.socialtube_header_1 .socialtube_main_navigation > ul > li > a{padding:0 10px;}
	.socialtube_header_1 .header_search{width:200px;}
	.socialtube_header_1 .header_searchbox_selectbox{display:none;}
  /*Header :2*/
  .socialtube_header_2 .socialtube_header_main_menu .socialtube_main_navigation{width:100%;}
  .socialtube_header_2 .header_search{margin:0 15px;width:400px;}
  /*Header :3*/
  .socialtube_header_3 .header_search{margin:0 0 0 10px;width:300px;}
  .socialtube_header_3 .socialtube_minimenu_links > li{padding:0 5px;}
  .socialtube_header_3 .socialtube_minimenu_links > li + li{border-width:0;}
  .socialtube_header_3 .socialtube_minimenu_setting .socialtube_pulldown_contents_wrapper{right:0;margin-right:0;margin-left:0;}
  [dir="rtl"] .socialtube_header_3 .socialtube_minimenu_setting .socialtube_pulldown_contents_wrapper{left:0;right:auto;}
  .socialtube_header_3 .socialtube_minimenu_setting .dropdown_caret{left:auto;right:10px;}
  [dir="rtl"] .socialtube_header_3 .socialtube_minimenu_setting .dropdown_caret{left:10px;right:auto;}
  /*Header :4*/
  .socialtube_header_4 .socialtube_header_main_menu .socialtube_main_navigation{width:100%;}
  .socialtube_header_4 .header_search{margin:0 15px;width:400px;}
  /*Header :5*/
  .socialtube_header_5 .socialtube_header_main_menu .socialtube_main_navigation{width:100%;}
  .socialtube_header_5 .header_search{margin:0 15px;width:400px;}
  
  /*Header :6*/
  .socialtube_browse_nav .headline{width:100%;}
  .socialtube_main_navigation > ul > li{padding:15px 10px;}
  
  /*Footer*/
  .layout_page_footer .layout_main,
  .socialtube_footer_main,
  .socialtube_footer_btm > div{width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
  .socialtube_footer_main,
  .socialtube_footer_btm > div{padding:20px 10px;}
  /*Layout*/
  #global_content{box-sizing:border-box;padding:0 10px;width:100%;}
	.layout_left, .layout_right{width:25%;}
	[dir="rtl"] .layout_left, [dir="rtl"] .layout_right{float:right;padding:0 0 0 10px;}
	[dir="rtl"] .layout_middle{padding:0 10px 0 0;}
  
  /*Landing Page With Video Setup*/
  #global_page_core-index-index #global_content{padding:0 !important;}
  #global_page_core-index-index #global_content .layout_main{width:100%;}
  #global_page_core-index-index .layout_sesvideo_video_category > div,
  #global_page_core-index-index .layout_sessocialtube_popularity_videos .socialtube_videos_content,
  #global_page_core-index-index .socialtube_intro_container,
  #global_page_core-index-index .socialtube_lp_members_block {width:100%;}
}
@media only screen and (min-width:768px) and (max-width:950px) {
  /*Header :1*/
	.socialtube_header_1 .socialtube_header_main_menu{clear:both;}
  .socialtube_header_1 .socialtube_main_navigation > ul{display:table;border-top:1px solid $theme_topbar_menu_border_color;width:100%;}
  .socialtube_header_1 .socialtube_main_navigation > ul > li{display:table-cell;float:none !important;}
  .socialtube_header_1 .socialtube_main_navigation > ul > li > a{text-align:center;line-height:40px;}
  .socialtube_header_1 .socialtube_main_navigation > ul > li .socialtube_main_nav_submenu{min-width:100px;width:100%;}
  /*Header :2*/
  .socialtube_header_2 .header_search{width:300px;}
  /*Header :3*/
  .socialtube_header_3 .socialtube_header_main_menu{margin:0 10px;}
  .socialtube_header_3 .header_search{margin:0 0 0 10px;width:210px;}
  [dir="rtl"] .socialtube_header_3 .header_search{margin:0 10px 0 0;}
  /*Header :4*/
  .socialtube_header_4 .header_search{margin:0 15px;width:300px;}
  /*Header :5*/
  .socialtube_header_5 .header_search{margin:0 15px;width:300px;}
  /*Header :6*/
  .socialtube_main_navigation > ul > li{padding:15px 5px;}
}
@media only screen and (max-width:900px){	
  /*Layouts*/
	.layout_left, .layout_right{width:200px;float:left;clear:both;margin:0 10px 0 0;}
	html[dir="rtl"] .layout_left, html[dir="rtl"] .layout_right{float:right;margin:0 0 0 10px;}
	.layout_middle{padding:0;}
  
  
	ul.feed .feed_item_body .feed_item_attachments .music_player.playlist_short_player{display:none !important;}
	ul.feed .feed_item_body .feed_item_attachments .music_player{display:block !important;width:auto;}
	ul.feed .feed_item_body .feed_item_attachments .video_object object{width:100%;height:auto;}
	/*Notification Page*/
	div.notifications_layout > div.notifications_leftside{width:30%;}

	/*Album View Page*/
	div.albums_viewmedia{max-width:100%;min-width:inherit;}
	div.albums_viewmedia_info{border:0;padding:0;}
	div.album_viewmedia_container{display:block;}
	div.albums_viewmedia #media_photo{max-width:100%;}
	/*Smoothbox Form*/
	#global_content_simple .global_form div.form-label{float:left;}
}
@media only screen and (max-width:767px){
	/*HEADER*/
  .layout_page_header{position:inherit;}
  .layout_page_header .layout_main .socialtube_header_5{height:auto !important;}
  .socialtube_mobile_menu{display:block;float:right;margin-left:10px;}
  [dir="rtl"] .socialtube_mobile_menu{float:leftt;margin-left:0;margin-right:10px;}
  .socialtube_header_main_menu, .header_search{display:none;}
  .socialtube_mobile_menu_toggle{background-color:$theme_button_background_color;display:block;height:30px;margin:15px 0;width:30px;}
  .socialtube_mobile_menu_toggle:active{background-color:$theme_button_background_color_active;}
  .socialtube_mobile_menu_toggle i:before{color:$theme_button_font_color;float:left;font-size:21px;margin:5px 6px;}
  .socialtube_mobile_menu_container{background-color:#2D2D2D;position:absolute;display:none;left:0;right:0;z-index:9;}
  .socialtube_mobile_menu_container.show-menu{display:block;}
  .socialtube_mobile_menu_search{padding:10px;}
  .socialtube_mobile_menu_search .header_searchbox{background-color:#fff;margin-top:0;}
  .socialtube_mobile_menu_search .header_searchbox input{color:#111 !important;}
  .socialtube_mobile_menu_links li{border-top:1px solid rgba(255, 255, 255, .2);display:block;}
  .socialtube_mobile_menu_links li a{color:#ddd;font-weight:bold;display:block;padding:10px;}
  .socialtube_mobile_menu_links li a:hover{color:#fff;text-decoration:none;}
  /*Header :6*/
  .socialtube_header_6 .header_logo{float:left;}
  [dir="rtl"] .socialtube_header_6 .header_logo{float:right;}
  .socialtube_header_6 .header_logo > div{position: relative;left: 5px;margin-right:10px;}
  [dir="rtl"] .socialtube_header_6 .header_logo > div{right: 5px;left:inherit;margin-left:10px;margin-right:0;}
  /*Footer*/
  .socialtube_footer_top_section img{max-width:95%;}
  .socialtube_footer_main{display:block;}
  .socialtube_footer_main > div{padding:0;display:block;margin-bottom:20px;overflow:hidden;width:100%;}
  .socialtube_footer_main > div + div{border-width:0;}
  .socialtube_footer_social_icons > a{margin:3px;}
  .layout_page_footer select{width:auto;padding:5px;max-width:90%;}
  .socialtube_footer_btm_links, .socialtube_footer_copy{margin:5px 0;text-align:center;width:100%;}
  [dir="rtl"] .socialtube_footer_btm_links, [dir="rtl"] .socialtube_footer_copy{text-align:center;}
  .socialtube_footer_head,
  .socialtube_footer_btm .socialtube_footer_social_icons{padding:0 !important;}
  .socialtube_footer_mini > div{padding:5px 10px;text-align:center;width:100%;}
  .socialtube_footer_mini_links > span, .socialtube_footer_mini_links > a{margin:5px;}
  .socialtube_footer_mini_links form{clear:both;display:block;margin:10px 0;}
	
	/*Layouts*/
	#global_wrapper{clear:both;padding-top:0;margin-top:0 !important;}
	#global_content{padding:5px;}
	.layout_left, .layout_right{width:35%;float:left;clear:both;}
	[dir="rtl"] .layout_left, [dir="rtl"] .layout_right{float:right;}
	ul.feed .feed_item_body .feed_item_attachments .music_player.playlist_short_player{display:none !important;}
	ul.feed .feed_item_body .feed_item_attachments .music_player{display:block !important;width:auto;}
	ul.feed .feed_item_body .feed_item_attachments .video_object object{width:100%;height:auto;}
   
	/*Tabs*/
	.tabs{display:block;}
	.tabs_alt > ul, .tabs > ul{overflow:auto;white-space:nowrap;padding-bottom:10px;width:100%;}
	.tabs_alt > ul > li, .tabs > ul > li{float:none !important;display:inline-block;}
  .tabs > ul .sesbasic_browse_nav_tab_open .tab_pulldown_contents_wrapper{right:0;}
  [dir="rtl"] .tabs > ul .sesbasic_browse_nav_tab_open .tab_pulldown_contents_wrapper{right:inherit;left:0;}
  .tabs > ul .sesbasic_browse_nav_pulldown ul li a{white-space:normal;}
   
   /*Form*/
   input[type="text"], input[type="email"], input[type="password"], select,textarea{max-width:100%;width:100%;}
   .global_form > div > div{padding:10px;}
   .global_form div.form-label{text-align:left;}
   [dir="rtl"] .global_form div.form-label{text-align:right;}
   .global_form div.form-label,
   .global_form div.form-element{width:100%;}
   .global_form div.form-element input[type="text"],
   .global_form div.form-element input[type="email"],
   .global_form div.form-element input[type="password"],
   .global_form div.form-element select,
   .global_form div.form-element textarea{max-width:100%;width:100%;}
   .event_calendar_container + select,
   .event_calendar_container + select + select,
   .event_calendar_container + select + select + select{width:auto !important;}
   
   /*Pages*/
   .networks_left, .networks_right{clear:both;float:none;}
   ul.networks{width:100%;}
   /*Login / Signup Popup*/
   .mfp-content{width:98% !important;}
   .socialtube_quick_popup{width:100% !important;}
   .socialtube_quick_popup_left_column{display: none;}
   
   /*Landing Page*/
   .socialtube_lp_text_block > div > h2 + p,
   .socialtube_lp_parallax_content > h2 + p,
   .socialtube_lp_parallax_foreground_content{padding:0 10px !important;}
   .socialtube_lp_text_block > div ul li,
   .socialtube_lp_parallax_content > ul li{margin:20px 0;width:100% !important;}
   .socialtube_lp_parallax_block_wraper{height:auto !important;}
   .socialtube_lp_parallax_block{position:relative !important;}
   .socialtube_lp_parallax_foreground_container{height:auto !important;padding:30px 0;}
   
   
   /*SE Forum Plugin*/
   #global_page_forum-index-index #global_search_form button{margin-top:10px;}
   ul.forum_categories .forum_lastpost,
   ul.forum_topics .forum_topics_lastpost{display:none;}
   ul.forum_categories .forum_topics, ul.forum_categories .forum_posts, ul.forum_topics .forum_topics_replies, ul.forum_topics .forum_topics_views{width:40px !important;}
   ul.forum_topic_posts .forum_topic_posts_author{width:90px;}
   ul.forum_topic_posts .forum_topic_posts_info_top_options{clear:both;text-align:left;}
   [dir="rtl"] ul.forum_topic_posts .forum_topic_posts_info_top_options{text-align:right;}
   ul.forum_topic_posts .forum_topic_posts_info_top_options a{margin:0 10px 0 0;}
   [dir="rtl"] ul.forum_topic_posts .forum_topic_posts_info_top_options a{margin:0 0 0 10px;}
   .forum_topic_posts_info_body img{max-width:100%;}
   div.forum_topic_title{clear:both;margin-top:10px;float:left;width:100%;}
   
   /*Landing Page With Video Setup*/
   #global_page_core-index-index #global_content .generic_layout_container h3,
   #global_page_core-index-index #global_content .layout_sessocialtube_members h2{font-size:20px;}
   #global_page_core-index-index .layout_sesvideo_video_category,
   #global_page_core-index-index .layout_sesvideo_featured_sponsored_carosel,
   #global_page_core-index-index .socialtube_intro_wrapper,
   #global_page_core-index-index .layout_sessocialtube_members{padding:30px 0 !important;}
}
@media only screen and (max-width:540px){
  /*Header*/
  .socialtube_header_6 .header_mini_menu{clear:both;}
  .open_search.header_search{ border-bottom-width: 1px;clear: both;position: inherit;}
  /*Activity Feed*/
  .sesvideo_attachment_thumb{height:100px;width:150px;}
  /*Layout*/
  .layout_left, .layout_right{clear:both;float:none;width:auto !important;margin-bottom: 10px;display:none;}
}
@media only screen and (max-width:480px){
  /*Header*/
  .header_logo{margin-right:0;}
  .header_logo img{max-height:24px;margin-top:14px;}
  .header_mini_menu{}
  .socialtube_minimenu_links{position:inherit;}
  .socialtube_minimenu_links > li > a{padding:0 5px;position:inherit;}
  .socialtube_pulldown_contents_wrapper{left:0;margin-left:0;margin-right:0;width:100% !important;}
  .dropdown_caret{display:none;}
	.layout_core_menu_logo img{max-width:100%;}
  .socialtube_header_6 .header_logo img{max-height:40px;margin-top:0;}
  /*Layout*/
	.layout_middle{padding:0 0 0 0;}
	.layout_left, .layout_right{clear:both;float:none;width:auto !important;}
	/*Form*/
	#filter_form .form-wrapper{float:none !important;width:100% !important}
	/*Notification Page*/
	div.notifications_layout > div.notifications_leftside{width:100%;}
	div.notifications_layout > div.notifications_rightside{clear:both;padding:10px 0 0 0;}
	/*Smoothbox Form*/
	#global_content_simple .global_form div.form-label{float:none;}
  
  /*Activity Feed*/
  .sesvideo_attachment_thumb{height:150px;margin-bottom:10px;width:100%;}
  .feed_attachment_event > div > div,
  .sesvideo_attachment_info{clear:both;}
  .feed .music_player_art{display:none;}
  
  /*SE Forum Plugin*/
   ul.forum_categories .forum_icon,
   ul.forum_topics .forum_topics_icon{display:none;}
  ul.forum_topic_posts .forum_topic_posts_author {width:100%;float:none;}
  .forum_topic_posts_author_photo{display:none;}
  
}