
.sesdemouser_user_block {
	background-color:$theme_list_background_color;
	border:1px solid $theme_button_background_color;
}
.sesdemouser_pointer { 
	border:1px solid $theme_button_background_color;
}
.sesdemouser_user_block h3,
.sesdemouser_pointer{
	background-color:$theme_button_background_color; 
	color:$theme_button_font_color !important; 
}