
.sespageteam_icon_team:before{
  content:"\\f0c0";
  font-family: fontawesome;
}
/*Global css*/
.sespageteam_label{
  color: #fff;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin:1px;
  padding: 3px 6px;
  text-align: center;
}
.sespageteam_label_featured{background-color:#47c8e3;}
.sespageteam_label_sponsored{background-color:#53dc10;}

/*WIGETS*/
[class*='layout_sespageteam_']{
  clear:both;
  margin-bottom:15px;
}
[class*='tab_layout_sespageteam_']{
  margin:0;
  clear:none;
}
/*Team Page:- Template 1 css start here*/
.sespageteam_temp1_list .team_member_thumbnail{
  border:1px solid $theme_border_medium_color;
}
.sespageteam_temp1_list .team_box_bottom{
  background-color:$theme_foreground_background_color;
}
.sespageteam_temp1_list .team_box:hover .team_box_inner{
  background-color:$theme_body_background_color;
}
.sespageteam_temp1_list .sespageteam-social-icon a{
  background: $theme_button_background_color;
}
.sespageteam_temp1_list .sespageteam-social-icon a i,
.sespageteam_temp1_list .sespageteam-social-icon a:hover i.fa-envelope:before,
.sespageteam_temp1_list .sespageteam-social-icon a:hover i.fa-globe:before{
  color:$theme_list_background_color;
}
.sespageteam_temp1_list .sespageteam-social-icon a i,
.sespageteam_temp1_list .sespageteam-social-icon a:hover i.fa-envelope:before,
.sespageteam_temp1_list .sespageteam-social-icon a:hover i.fa-globe:before,
.sespageteam_temp1_list .sespageteam-social-icon a:hover i.fa-facebook:before,
.sespageteam_temp1_list .sespageteam-social-icon a:hover i.fa-twitter:before,
.sespageteam_temp1_list .sespageteam-social-icon a:hover i.fa-linkedin:before,
.sespageteam_temp1_list .sespageteam-social-icon a:hover i.fa-google-plus:before{
  color:$theme_list_background_color;
};
/*PageTeam:- Template 1 css end here*/

/*PageTeam:- Template 2 css start here*/
.sespageteam_temp2_list .team_member_thumbnail{
  border:1px solid $theme_border_medium_color;
}
.sespageteam_temp2_list .team_box:hover .team_member_thumbnail{
  border:1px solid $theme_border_dark_color;
}
.sespageteam_temp2_list .team_member_name a{
  color:$theme_font_color;
}
.sespageteam_temp2_list .team_member_info .team_member_info_label{
  color:$theme_button_background_color;
}
.sespageteam_temp2_list .team_member_info{
  border-top:1px dashed $theme_border_medium_color;
}
/*PageTeam:- Template 2 css end here*/

/*PageTeam:- Template 3 css start here*/
.sespageteam_temp3_list .team_member_thumbnail_inner{
  border:1px solid $theme_border_medium_color;
}
.sespageteam_temp3_list .team_member_stats{
  border-top:1px dashed $theme_border_medium_color;
}
.sespageteam_temp3_list .sespageteam-social-icon a{
  background: $theme_button_background_color;
}
.sespageteam_temp3_list .sespageteam-social-icon a i,
.sespageteam_temp3_list .sespageteam-social-icon a:hover i.fa-envelope:before,
.sespageteam_temp3_list .sespageteam-social-icon a:hover i.fa-globe:before{
  color:$theme_list_background_color;
}
.sespageteam_temp3_list .sespageteam-social-icon a i,
.sespageteam_temp3_list .sespageteam-social-icon a:hover i.fa-envelope:before,
.sespageteam_temp3_list .sespageteam-social-icon a:hover i.fa-globe:before,
.sespageteam_temp3_list .sespageteam-social-icon a:hover i.fa-facebook:before,
.sespageteam_temp3_list .sespageteam-social-icon a:hover i.fa-twitter:before,
.sespageteam_temp3_list .sespageteam-social-icon a:hover i.fa-linkedin:before,
.sespageteam_temp3_list .sespageteam-social-icon a:hover i.fa-google-plus:before{
  color:$theme_list_background_color;
};
/*PageTeam:- Template 3 css end here*/

/*PageTeam:- Template 4 css start here*/
.sespageteam_temp4_list .team_member_thumbnail{
  border:1px solid $theme_border_medium_color;
}
.sespageteam_temp4_list .team_box{
  box-shadow: 0 0 10px $theme_list_background_color_hover;
}
.sespageteam_temp4_list .sespageteam-social-icon a{
  background: $theme_button_background_color_hover;
}
.sespageteam_temp4_list .sespageteam-social-icon a i,
.sespageteam_temp4_list .sespageteam-social-icon a:hover i.fa-envelope:before,
.sespageteam_temp4_list .sespageteam-social-icon a:hover i.fa-globe:before,
.sespageteam_temp4_list .sespageteam-social-icon a:hover i.fa-facebook:before,
.sespageteam_temp4_list .sespageteam-social-icon a:hover i.fa-twitter:before,
.sespageteam_temp4_list .sespageteam-social-icon a:hover i.fa-linkedin:before,
.sespageteam_temp4_list .sespageteam-social-icon a:hover i.fa-google-plus:before{
  color:$theme_list_background_color;
};
/*PageTeam:- Template 4 css end here*/
/*PageTeam:- Template 6 Css Start Here*/
.sespageteam_temp6_list .team_member_more_link{
  color:$theme_button_background_color;
}
/*PageTeam:- Template 6 Css Ends Here*/
/*PageTeam View Page*/
.sespageteam_member_profile_title{
  color:$theme_button_background_color;
}
.sespageteam_member_profile_social_icon a{
  background: $theme_button_background_color;
}
.sespageteam_member_profile_social_icon a i,
.sespageteam_member_profile_social_icon a:hover i.fa-envelope:before,
.sespageteam_member_profile_social_icon a:hover i.fa-globe:before,
.sespageteam_member_profile_social_icon a:hover i.fa-facebook:before,
.sespageteam_member_profile_social_icon a:hover i.fa-twitter:before,
.sespageteam_member_profile_social_icon a:hover i.fa-linkedin:before,
.sespageteam_member_profile_social_icon a:hover i.fa-google-plus:before{  
  color:$theme_list_background_color !important;
}