/*TEMPLATE 3 CSS START HERE */
.sespageteam_temp3_wrap{
  clear:both;
}
.sespageteam_temp3_wrap *{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.sespageteam_temp3_wrap .iscenter,
[dir="rtl"] .sespageteam_temp3_wrap .iscenter{
  text-align:center;
}
.sespageteam_temp3_wrap .team_page_heading{
  border-bottom-width:1px;
  font-size:20px;
  margin-bottom:15px;
  padding:10px 0;
}
.sespageteam_temp3_wrap .team_page_description{
  font-size:15px;
  margin-bottom:30px;
}
.sespageteam_temp3_wrap .sespageteam_temp3_list{
  clear:both;
  display: flex;
  flex-wrap: wrap;
}
.sespageteam_temp3_list .team_box{
  margin:10px 1%;
  position:relative;
  vertical-align:top;
  width:47%;
}
.sespageteam_temp3_list .team_member_thumbnail{
  float:left;
  margin:0 20px 0 0;
  position:relative;
  width:150px;
}
[dir='rtl'] .sespageteam_temp3_list .team_member_thumbnail{
  float:right;
  margin:0 0 0 20px;
}
.sespageteam_temp3_list .team_member_thumbnail_inner{
  border-radius:50%;
  height:150px;
  overflow:hidden;
  width:100%;
}
.sespageteam_temp3_list .team_member_thumbnail_inner a{
  display:block !important;
  height:100%;
  width:100%;
}
.sespageteam_temp3_list .team_member_thumbnail_inner img{
  border-width:0;
  min-height:100%;
  max-height:none;
  max-width:none;
  width:100%;
  object-fit: cover;
}
.sespageteam_temp3_list .sespageteam_labels_container{
  margin-top:-45px;
  position:absolute;
  text-align:center;
  width:100%;
}
.sespageteam_temp3_list .team_member_details{
  overflow:hidden;
}
.sespageteam_temp3_list .team_member_name{
  font-size:16px;
  font-weight:bold;
  padding:10px 0;
}
.sespageteam_temp3_list .team_member_stats{
  font-style:italic;
  padding:5px 0;
  font-size: 90%;
  overflow:hidden;
}
.sespageteam_temp3_list .team_member_contact_info > span{
  display:block;
  margin-bottom:5px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.sespageteam_temp3_list .team_member_contact_info > span:last-child{
  margin-bottom:0px;
}
.sespageteam_temp3_list .team_member_contact_info > span i{
  margin-right:5px;
  text-align:center;
  width:15px;
}
.sespageteam_temp3_list .sespageteam-social-icon{
  margin-top:5px;
  overflow:hidden;
}
.sespageteam_temp3_list .team_member_more_link{
  font-weight:bold;
  text-align:right;
  font-style:italic;
  margin-top:10px;
}
[dir='rtl'] .sespageteam_temp3_list .team_member_more_link{
  text-align:right;
  display: block;
}
.layout_left + .layout_right + .layout_middle .sespageteam_temp3_list .team_box{
	margin:10px 0%;
	width:100%;
}
/*Responsive CSS*/
@media only screen and (max-width:768px){
  .sespageteam_temp3_list .team_box{
    width:90%;
  }
  .sespageteam_temp3_list .team_member_thumbnail{
    float: none;
  }
  .sespageteam_temp3_list .team_member_thumbnail_inner{
    width: 100px !important;
    height:100px !important;
  }
}
/*TEMPLATE 3 CSS END HERE */