
/*TEMPLATE 2 CSS START HERE */
.sespageteam_temp2_wrap{
  clear:both;
}
.sespageteam_temp2_wrap *{
  box-sizing:border-box;
}
.sespageteam_temp2_list{
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.sespageteam_temp2_wrap .iscenter,
[dir="rtl"] .sespageteam_temp2_wrap .iscenter{
  text-align:center;
}
.sespageteam_temp2_wrap .team_page_heading{
  border-bottom-width:1px;
  font-size:20px;
  margin-bottom:15px;
  padding:10px 0;
}
.sespageteam_temp2_wrap .team_page_description{
  font-size:15px;
  margin-bottom:30px;
}
.sespageteam_temp2_list .team_box{
  display:inline-block;
  margin:0 10px 30px;
  vertical-align:top;
  position:relative;
  width:220px;;
}
.sespageteam_temp2_list .team_box_inner{
  width:100%;
  height: 100%;
}
.sespageteam_temp2_list .team_member_thumbnail{
  margin-top:10px;
  padding:5px;
  overflow:hidden;
  position:relative;
  width:100%;
}
.sespageteam_temp2_list .team_member_thumbnail_inner{
  height:130px;
  overflow:hidden;
  position:relative;
}
.sespageteam_temp2_list .team_member_thumbnail a{
  display:block !important;
  height:100%;
  width:100%;
}
.sespageteam_temp2_list .team_member_thumbnail img{
  border-width:0;
  min-height:100%;
  max-height:none;
  object-fit: cover;
  max-width:none;
  width:100%;
  position:relative;
  transform:scale(1);
  transition:all 800ms ease 0s;
}
.sespageteam_temp2_list .team_member_thumbnail:hover img{
  transform:scale(1.2);
}
.sespageteam_temp2_list .sespageteam_labels_container{
  position:absolute;
  text-align:center;
  width:100%;
  bottom:10px;
}
.sespageteam_temp2_list .team_member_name{
  font-size:16px;
  font-weight:bold;
  padding:10px 0;
}
.sespageteam_temp2_list .team_member_info{
  padding:10px 0;
  overflow:hidden;
  display: flex;
  font-size: 85%;
  flex-wrap:wrap;
}
.sespageteam_temp2_list .team_member_info .team_member_info_label{
  margin-right:5px;
  width:75px;
  font-weight: bold;
}
[dir='rtl'] .sespageteam_temp2_list .team_member_info .team_member_info_label{
  float:right;
  margin-left:10px;
  margin-right:0;
}
.sespageteam_temp2_list .team_member_info .team_member_info_des{
  overflow:hidden;
  word-break:break-all;
  flex:1;
}
.sespageteam_temp2_list .sespageteam-social-icon a{
  margin:0 2px;
}
.sespageteam_temp2_list .sespageteam-social-icon + div{
  margin-top:10px;
}
.sespageteam_temp2_list .team_member_more_link{
  clear:both;
  font-style:italic;
  text-align:right;
  white-space: nowrap;
}
[dir='rtl'] .sespageteam_temp2_list .team_member_more_link{
  text-align:left;
}
/*Responsive CSS*/
@media only screen and (max-width:768px){
  .sespageteam_temp2_list .team_box{
    margin:0 1% 30px;
    width:45%;
  }
}
@media only screen and (max-width:480px){
  .sespageteam_temp2_list .team_box{
    margin:0 4% 30px;
    width:90%;
  }
}
/*TEMPLATE 2 CSS END HERE */
