
/*Show Details*/
.sespage_view_stats_popup {
	padding: 20px;
	width:600px;
}
.sespage_view_popup_con .sespage_popup_img_page{
	overflow: hidden;
	display: block;
	margin-bottom:10px;
	border-bottom-width: 1px;
	padding-bottom: 10px;
}
.sespage_view_popup_con .sespage_popup_img_page p.popup_img img{
	margin-right: 15px;
	float: left;
	width: 130px;
}
.sespage_view_popup_con .sespage_popup_img_page p.popup_title{
	font-size: 15px;
	font-weight: bold;
	margin-bottom:8px;
}
.sespage_view_popup_con .sespage_popup_img_page p.owner_title{
		margin-bottom:8px;
}
.sespage_view_popup_con .sespage_popup_img_page p.owner_title b{
	font-weight:bold;
	min-width:100px;
	display:inline-block;
}
.sespage_view_popup_con .sespage_popup_owner_page p.owner_title{
	margin-bottom:8px;;
}
.sespage_view_popup_con .sespage_popup_owner_page p.owner_title b{
	font-weight:bold;
}
.sespage_view_popup_con .sespage_popup_owner_page p.owner_des{
	text-align:justify;
}
/*Clain Request Status Form*/
.sespage_claim_approve_form{
	padding:15px;
}
.sespage_claim_approve_form #approve_decline-wrapper{
	margin:10px 0;
}
.sespage_claim_approve_form #approve_decline-label{
	margin-bottom:5px;
}

/*Import FAQs*/
.sespage_import_buttons{
	text-align:center;
}
.sespage_import_buttons a{
	border:2px solid #0DC7F1;
	padding:10px;
	display:inline-block;
	width:230px;
	text-decoration:none !important;
	font-size:15px;
	line-height:16px;
	margin:0 3px;
}
.sespage_import_buttons a:before{
	display:inline-block;
	height:16px;
	width:16px;
	content:"";
	margin-right:5px;
	vertical-align:middle;
}
.sespage_import_buttons a:hover{
	opacity:.8;
}
.sespage_download:before{background-image:url(~/application/modules/Sesfaq/externals/images/download.png);}
.sespage_import:before{background-image:url(~/application/modules/Sesfaq/externals/images/import.png);}
.sespage_admin_manage_table tbody tr{
	cursor:move;
}

