/*List view*/
.sestestimonial_list_item,
.sestestimonial_manage_list_item{
	background-color: $theme_list_background_color;
	border-color:$theme_list_background_color_hover;
}
.sestestimonial_listing .testimonial_list_footer{
	background-color:$theme_list_background_color_hover;
}
.testimonial_advlist_body .list_body_desc span._designation{
	color:$theme_font_color_light;
}
.layout_right .sestestimonial_listing .testimonial_list_footer,
.layout_left .sestestimonial_listing .testimonial_list_footer{
	background-color:$theme_list_background_color;
}
/*Advance List View*/
.testimonial_quote_right{
	background-color: $theme_list_background_color;
	color:$theme_button_background_color;
}
.sestestimonial_advlisting .testimonial_advlist_title span._title{
	color:$theme_button_background_color;
}
.sestestimonial_advlist_item,
.sestestimonial_slidelist_item{
	border-color:$theme_list_background_color_hover;
	border-top-color:$theme_button_background_color;
}
/*Grid View*/
.sestestimonial_grid_inner,.sestestimonial_advgrid_inner,.sestestimonial_advlist_item{
	background-color:  $theme_list_background_color;
}
.sestestimonial_grid_basic .testimonial_gridbasic_title span._title{
	color:$theme_button_background_color;
}
.testimonial_grid_body .grid_body_img img{
	border-color:$theme_background_color_hover;
}
.sestestimonial_grid_basic .grid_body_desc p{
	color:$theme_font_color;
}
.sestestimonial_grid_basic .testimonial_grid_header{
	color:$theme_list_background_color;
}
.testimonial_grid_footer,.testimonial_grid_header{
	background-color: $theme_font_color;
}
.testimonial_grid_footer span{
	color: $theme_list_background_color;
}
/*Advance Grid*/
.testimonial_advgrid_header .ribbon{
	border-color:$theme_button_background_color;
}
.testimonial_advgrid_header .ribbon span{
	color:$theme_list_background_color;
}
.sestestimonial_advgrid .testimonial_advgrid_title span._title{
	background-color:$theme_button_background_color;
	color:$theme_list_background_color;
}
.sestestimonial_list_slideshow .owl-nav > div{
	background-color: $theme_button_background_color;
	color:$theme_list_background_color;
}
/*Pinboard View*/
.sestestimonial_pinboard_inner{
	background-color:$theme_list_background_color;
}
.sestestimonial_pinboard_item .pin_body_desc:after,
.sestestimonial_pinboard_item .pin_body_desc:before{
	color: $theme_button_background_color;
}
.sestestimonial_pinboard .testimonial_pin_title{
	background-color:$theme_font_color;
}
.sestestimonial_pinboard .testimonial_pin_title span._title{
	color:$theme_list_background_color;
}
/*Manage List*/
.sestestimonial_manage_list_item .testimonial_list_footer a.testimonial_edit{
	background:  $theme_button_background_color;
	color: $theme_list_background_color;
}
.sestestimonial_manage_list_item .testimonial_list_footer a.testimonial_delete{
	background:  $theme_button_background_color_hover;
	color: $theme_list_background_color;
}
.sestestimonial_manage_list_item .testimonial_user_title h4{
	color:$theme_button_background_color;
}
/*Testimonial View page*/
.sestestimonial_view_page .testimonial_user_title h4{
	color:$theme_button_background_color;
}
.sestestimonial_view_page .testimonial_view_body:before{
	color:$theme_button_background_color;
}
.sestestimonial_view_page .testimonial_view_button a.testimonial_button{
	background: $theme_button_background_color;
	color:$theme_list_background_color;
}
.sestestimonial_view_helpful_section_btns p a {
	color:$theme_list_background_color;
}
/*Slide List*/
.sestestimonial_list_slideshow .testimonial_slidelist_title span._title{
	color:$theme_button_background_color;
}
/*Sidebar List View*/