

.sesbrowserpush_button{
	border:1px solid $theme_button_background_color;
}
.sesbrowserpush_button_main{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color !important;
}
.sesbrowserpush_button_alt{
	background-color:$theme_list_background_color;
	color:$theme_button_background_color !important;
}
.sesbrowserpush_notification_button > a{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color !important;
}
.sesbrowserpush_notification_bubble{
	background-color:$theme_button_background_color;
}
.sesbrowserpush_notification_bubble *{
	color:$theme_button_font_color !important;
}
.sesbrowserpush_notification_bubble:before{
	border-right-color:$theme_button_background_color;
}