
.emessages-container{
	background-color:$theme_list_background_color;
}
.emessages-container .msg-users-panel .msg-users-list li.unread_message{
	background-color:$theme_list_background_color;
}
.emessages-container .msg-users-panel .msg-users-list li.unread_message .messages-body:after{
	border-color:$theme_button_background_color;
}
.emessages-container	.msg-users-panel .msg-search .msg-search-input{
	background-color:$theme_list_background_color;
	color:$theme_font_color;
}
.emessages-container	.msg-users-panel .msg-search .msg-search-input .input-text input{
	color:$theme_font_color;
}
.emessages-container	.msg-users-panel .msg-users-list li.selected{
	background-color:$theme_button_background_color;
}
.emessages-container	.msg-users-panel .msg-users-list li.selected *{
	color:$theme_button_font_color;
}
.emessages-container .msg-chat-container .msg-composer{
	background-color:$theme_list_background_color;
}
.emessages-container .msg-chat-container .composer-box-option-item-btn i svg{
	fill:$theme_font_color_light;
}
.emessages-container .msg-chat-container header .option-btn i svg,
.emessages-container .msg-userinfo-panel .msg-userinfo-panel-header-option i svg,
.emessages-container .msg-users-panel header .new-btn a svg,
.emessages-container .msg-chat-container .composer-box-option-item-btn:hover i svg{
	fill:$theme_button_background_color;
}
.emessages-container .msg-chat-container .composer-box-option-item-btn:before{
	color:$theme_font_color_light !important;
}
.emessages-container .msg-chat-container .composer-box-option-item-btn:hover:before{
	color:$theme_button_background_color !important;
}
.emessages_emoji_container{
	background-color:$theme_list_background_color;
}
.emessages_emoji_container .arrowd{
  border-top:8px solid $theme_list_background_color;
}
.emessages-container .msg-composer #compose-tray .compose-menu-close{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color !important;
}
@media (max-width: 950px){
	.emessages-container .msg-userinfo-panel{
		background-color:$theme_list_background_color;
	}
}