/*TEMPLATE 6 CSS START HERE */
.sesgroupteam_temp6_wrap{
  clear:both;
}
.sesgroupteam_temp6_wrap *{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.sesgroupteam_temp6_wrap .iscenter,
[dir="rtl"] .sesgroupteam_temp6_wrap .iscenter{
  text-align:center;
}
.sesgroupteam_temp6_wrap .team_group_heading{
  border-bottom-width:1px;
  font-size:20px;
  margin-bottom:15px;
  padding:10px 0;
}
.sesgroupteam_temp6_wrap .team_group_description{
  font-size:15px;
  margin-bottom:30px;
}
.sesgroupteam_temp6_list{
  clear:both;
}
.sesgroupteam_temp6_list table{
  width:100%;
  display: block;
  overflow-x: scroll !important;
}
.sesgroupteam_temp6_list table tr:nth-child(odd){
  background-image:url(../images/transprant-bg1.png);
}
.sesgroupteam_temp6_list table td{
  padding:8px;
  border-width:1px;
  font-size:90%;
  white-space: nowrap;
}
.sesgroupteam_temp6_list table td.sesgroupteam-social-icon a{
  float: none;
  width: auto;
  margin:3px;
}
.sesgroupteam_temp6_list .team_member_thumbnail img{
  border-width:0;
  height:35px;
  display: block;
  margin:0 auto;
  border-radius: 50%;
  object-fit: cover;
  width:35px;
}
.sesgroupteam_temp6_list .team_member_name{
  font-weight:bold;
}
.sesgroupteam_temp6_list table td.team_member_contact_info {
  padding:5px;
  white-space:nowrap;
  max-width:130px;
  text-overflow:ellipsis;
  overflow:hidden;
}
.sesgroupteam_temp6_list table td > i{
  text-align:center;
  width:20px;
}
.sesgroupteam_temp6_list .team_member_more_link {
  font-style:italic;
  font-size:11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}
/*TEMPLATE 6 CSS END HERE */
