/*TEMPLATE 4 CSS START HERE */
.sesgroupteam_temp4_wrap{
	clear:both;
}
.sesgroupteam_temp4_wrap *{
	box-sizing:border-box;
}
.sesgroupteam_temp4_list{
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.sesgroupteam_temp4_wrap .iscenter,
[dir="rtl"] .sesgroupteam_temp3_wrap .iscenter{
  text-align:center;
}
.sesgroupteam_temp4_wrap .team_group_heading{
	border-bottom-width:1px;
	font-size:20px;
	margin-bottom:15px;
	padding:10px 0;
}
.sesgroupteam_temp4_wrap .team_group_description{
	font-size:15px;
	margin-bottom:30px;
}
.sesgroupteam_temp4_list .team_box{
    margin: 0 15px 20px 0;
    border-radius: 10px;
    vertical-align: top;
    position: relative;
    border-width:1px;
    background-image:url(../images/transprant-bg.png);
    width: 200px;
    padding: 10px;
    overflow: hidden;
}
.sesgroupteam_temp4_list .team_box_inner{
	width:100%;
	overflow: hidden;
	height: 100%;
}
.sesgroupteam_temp4_list .team_member_thumbnail{
	height:200px;
	margin:0 auto 15px;
	overflow:hidden;
	border:0;
	position:relative;
	width:200px;
}
.sesgroupteam_temp4_list .team_member_thumbnail a{
	display:block !important;
	height:100%;
	width:100%;
}
.sesgroupteam_temp4_list .team_member_thumbnail img{
	border-width:0;
	min-height:100%;
	max-height:inherit;
	object-fit: cover;
	max-width:inherit;
	width:100%;
}
.sesgroupteam_temp4_list .sesgroupteam_labels_container{
	bottom:10px;
	position:absolute;
	text-align:center;
	width:100%;
}
.sesgroupteam_temp4_list .team_member_name{
	font-size:16px;
	font-weight:bold;
	margin-bottom:5px;
	text-align:center;
}
.sesgroupteam_temp4_list .team_member_role{
	margin-bottom:10px;
	text-align:center;
	font-size:12px;
}
.sesgroupteam_temp4_list .team_member_contact_info {
    margin-bottom: 5px;
    font-size: 90%;
    text-align: center;
}
.sesgroupteam_temp4_list .team_member_contact_info > span{
  display:block;
  margin-bottom:5px;
  word-break:break-all;
}
.sesgroupteam_temp4_list .team_member_contact_info > span:last-child{
  margin-bottom:0px;
}
.sesgroupteam_temp4_list .team_member_contact_info > span i{
  margin-right:3px;
  text-align:center;
  width:15px;
}
.sesgroupteam_temp4_list .team_member_des{
    font-size: 12px;
    line-height: 18px;
    font-style: italic;
    margin-top: 10px;
    text-align: center;
}
.sesgroupteam_temp4_list .sesgroupteam-social-icon{
 	 margin-top:10px;
 	 text-align: center;
}
.sesgroupteam_temp4_list .sesgroupteam-social-icon a, [dir="rtl"] .sesgroupteam_temp4_list .sesgroupteam-social-icon a{
	float:none;
}
.sesgroupteam_temp4_list .sesgroupteam-social-icon a i{
	font-size:12px;
}
.sesgroupteam_temp4_list .sesgroupteam-social-icon a + a{
	margin:2px 2px 2px -2px;
}
.sesgroupteam_temp4_list .team_member_more_link{
	font-weight:bold;
}
/*Hover Effect*/
.sesgroupteam_temp4_list .team_box:hover .team_box_inner{
	z-index:1;
}
.sesgroupteam_temp4_list .team_box:hover .team_box_bottom{
	display:block;
}
/*CSS for RTL*/
[dir="rtl"] .sesgroupteam_temp4_list .team_box,
[dir="rtl"] .sesgroupteam_temp4_list .team_member_name,
[dir="rtl"] .sesgroupteam_temp4_list .team_member_role,
[dir="rtl"] .sesgroupteam_temp4_list .team_member_contact_info,
[dir="rtl"] .sesgroupteam_temp4_list .team_member_des,
[dir="rtl"] .sesgroupteam_temp4_list .sesgroupteam-social-icon{
  text-align:center;
}
[dir="rtl"] .sesgroupteam_temp4_list .sesgroupteam-social-icon a + a{
	margin:2px -2px 2px 2px;
}
[dir="rtl"] .sesgroupteam_temp4_list .team_member_more_link{
	display: block;
	text-align: center;
}
/*Responsive CSS*/
@media only screen and (max-width:900px){
  .sesgroupteam_temp4_list .team_box{
    width:32%;
  }
  .sesgroupteam_temp4_list .team_box:hover .team_box_inner{
    z-index:1;
    -webkit-transform:translateY(0);
    -moz-transform:translateY(0);
    -ms-transform:translateY(0);
    -o-transform:translateY(0);
  }
}
@media only screen and (max-width:768px){
  .sesgroupteam_temp4_list .team_box{
    width:45%;
  }
}
@media only screen and (max-width:480px){
  .sesgroupteam_temp4_list .team_box{
    width:95%;
  }
}
/*TEMPLATE 4 CSS END HERE */
