/*TEMPLATE 1 CSS START HERE */
.sesgroupteam_temp1_wrap{
	clear:both;
  padding-bottom:250px;
}
.sesgroupteam_temp1_wrap *{
	box-sizing:border-box;
}
.sesgroupteam_temp1_list{
	text-align: left;
	display: flex;
	flex-wrap: wrap;
}
.sesgroupteam_temp1_wrap .iscenter,
[dir="rtl"] .sesgroupteam_temp1_wrap .iscenter{
  text-align:center;
}
.sesgroupteam_temp1_wrap .team_group_heading{
	border-bottom-width:1px;
	font-size:20px;
	margin-bottom:15px;
	padding:10px 0;
}
.sesgroupteam_temp1_wrap .team_group_description{
	font-size:15px;
	margin-bottom:30px;
}
.sesgroupteam_temp1_list .team_box{
  background-color:#fff;
	display:inline-block;
	height:220px;
	margin:0 10px 20px;
	text-align:center;
	vertical-align:top;
	position:relative;
	width:240px;
}
.sesgroupteam_temp1_list .team_box_inner{
	position:absolute;
	width:100%;
}
.sesgroupteam_temp1_list .team_member_thumbnail{
	border-radius:50%;
	height:130px;
	margin:10px auto 5px auto;
	overflow:hidden;
	width:130px;
}
.sesgroupteam_temp1_list .team_member_thumbnail a{
	display:block !important;
	height:100%;
	width:100%;
}
.sesgroupteam_temp1_list .team_member_thumbnail img{
	border-width:0;
	min-height:100%;
	max-height:inherit;
	max-width:inherit;
	width:100%;
	object-fit: cover;
}
.sesgroupteam_temp1_list .sesgroupteam_labels_container{
	margin-top:-40px;
	position:absolute;
	text-align:center;
	width:100%;
}
.sesgroupteam_temp1_list .team_member_name{
	font-size:16px;
	font-weight:bold;
	margin-bottom:5px;
	text-align:center;
}
.sesgroupteam_temp1_list .team_member_role{
	margin-bottom:10px;
	text-align:center;
	font-size:12px;
}
.sesgroupteam_temp1_list .team_member_contact_info{
  margin-bottom:5px;
  font-size:90%;
}
.sesgroupteam_temp1_list .team_member_contact_info > span{
  display:block;
  margin-bottom:5px;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
.sesgroupteam_temp1_list .team_member_contact_info > span:last-child{
  margin-bottom:0px;
}
.sesgroupteam_temp1_list .team_member_contact_info > span i{
  margin-right:5px;
  text-align:center;
  width:15px;
}
.sesgroupteam_temp1_list .team_box_bottom{
  border-top:solid 1px rgba(0, 0, 0, 0.07);
  padding:10px;
  display:none;
}
.sesgroupteam_temp1_list .team_box_bottom > div + div{
  margin-top:5px;
}
.sesgroupteam_temp1_list .team_member_des{
	font-size:12px;
  	line-height:18px;
}
.sesgroupteam_temp1_list .team_member_more_link{
	font-style:italic;
	text-align:center;
}
.sesgroupteam_temp1_list .sesgroupteam-social-icon{
	text-align: center;
}

.sesgroupteam_temp1_list .sesgroupteam-social-icon a, [dir="rtl"] .sesgroupteam_temp1_list .sesgroupteam-social-icon a{
	float:none;
}
.sesgroupteam_temp1_list .sesgroupteam-social-icon a{
	border-radius: 10px;
    width: 30px;
    line-height: 29px;
    height: 30px;
}
.sesgroupteam_temp1_list .sesgroupteam-social-icon a + a{
	margin:2px 2px 2px -2px;
}
/*Hover Effect*/
.sesgroupteam_temp1_list .team_box:hover .team_box_inner{
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.18), 0 0 0 1px rgba(0, 0, 0, 0.07);
	z-index:1;
	-webkit-transform:translateY(-10px);
	-moz-transform:translateY(-10px);
	-ms-transform:translateY(-10px);
	-o-transform:translateY(-10px);
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.18), 0 0 0 1px rgba(0, 0, 0, 0.07);
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.18), 0 0 0 1px rgba(0, 0, 0, 0.07);
  -webkit-transition:transform 200ms ease-out 0s;
  -moz-transition:transform 200ms ease-out 0s;
  -o-transition:transform 200ms ease-out 0s;
  transition:transform 200ms ease-out 0s;
}
.sesgroupteam_temp1_list .team_box:hover .team_box_bottom{
	display:block;
}
/*CSS for RTL*/
[dir="rtl"] .sesgroupteam_temp1_list .team_box,
[dir="rtl"] .sesgroupteam_temp1_list .team_member_name,
[dir="rtl"] .sesgroupteam_temp1_list .team_member_role,
[dir="rtl"] .sesgroupteam_temp4_list .team_member_contact_info,
[dir="rtl"] .sesgroupteam_temp1_list .team_member_des,
[dir="rtl"] .sesgroupteam_temp1_list .sesgroupteam-social-icon{
  text-align:center;
}
[dir="rtl"] .sesgroupteam_temp1_list .team_member_more_link{
	display: block;
	text-align: center;
}
[dir="rtl"] .sesgroupteam_temp1_list .team_box:hover .team_box_bottom{
	text-align: center;
}
[dir="rtl"] .sesgroupteam_temp1_list .sesgroupteam-social-icon a + a{
	margin:2px -2px 2px 2px;
}
/*Responsive CSS*/
@media only screen and (max-width:768px){
  .sesgroupteam_temp1_wrap{
    padding-bottom:0;
  }
  .sesgroupteam_temp1_list .team_box{
    height:auto;
    width:49%;
  }
  .sesgroupteam_temp1_list .team_box_bottom{
    border-width:0;
    display:block;
  }
  .sesgroupteam_temp1_list .team_box .team_box_inner,
  .sesgroupteam_temp1_list .team_box:hover .team_box_inner{
    background-color:transparent;
    box-shadow:none;
    position:inherit;
    -webkit-transform:translateY(0px);
    -moz-transform:translateY(0);
    -ms-transform:translateY(0);
    -o-transform:translateY(0);
  }
}
@media only screen and (max-width:480px){
  .sesgroupteam_temp1_list .team_box{
    width:95%;
  }
}
/*TEMPLATE 1 CSS END HERE */
