/*TEMPLATE 5 CSS START HERE */
.sesgroupteam_temp5_wrap{
  clear:both;
}
.sesgroupteam_temp5_wrap *{
  box-sizing:border-box;
}
.sesgroupteam_temp5_wrap .iscenter,
[dir="rtl"] .sesgroupteam_temp5_wrap .iscenter{
  text-align:center;
}
.sesgroupteam_temp5_wrap .team_group_heading{
  border-bottom-width:1px;
  font-size:20px;
  margin-bottom:15px;
  padding:10px 0;
}
.sesgroupteam_temp5_wrap .team_group_description{
  font-size:15px;
  margin-bottom:30px;
}
.sesgroupteam_temp5_list{
  clear:both;
}
.sesgroupteam_temp5_list .team_box{
  display:inline-block;
  margin:0 10px 10px 0;
  text-align:center;
  vertical-align:top;
  position:relative;
}
.sesgroupteam_temp5_list .team_box_inner{
  border-radius:5px;
  position:relative;
  overflow:hidden;
  width:100%;
}
.sesgroupteam_temp5_list .team_member_thumbnail{
  border-radius:5px;
  height:200px;
  margin:0 auto;
  overflow:hidden;
  width:200px;
}
.sesgroupteam_temp5_list .team_member_thumbnail a{
  display:block !important;
  height:100%;
  width:100%;
}
.sesgroupteam_temp5_list .team_member_thumbnail img{
  border-width:0;
  min-height:100%;
  max-height:inherit;
  max-width:inherit;
  width:100%;
  object-fit: cover;
}
.sesgroupteam_temp5_list .sesgroupteam_labels_container{
  bottom:10px;
  position:absolute;
  text-align:center;
  width:100%;
}
.sesgroupteam_temp5_list .team_member_overlay{
  background-color:rgba(0, 0, 0, .8);
  bottom:0;
  display:none;
  left:0;
  position:absolute;
  top:0;
  right:0;
}
.sesgroupteam_temp5_list .team_member_info{
  position: absolute;
  left:50%;
  top:50%;
  width: 100%;
  transform: translate(-50%,-50%);
}
.sesgroupteam_temp5_list .team_box:hover .team_member_overlay{
  display:block;
  transition: all 0.5s ease;
}
.sesgroupteam_temp5_list .team_member_info *{
  color:#fff;
  text-align:center;
}
[dir="rtl"] .sesgroupteam_temp5_list .team_member_info *{
  text-align:center;
}
.sesgroupteam_temp5_list .team_member_name{
  font-size:16px;
  font-weight:bold;
  margin: 0 0 5px 0;
  text-align:center;
}
.sesgroupteam_temp5_list .team_member_role{
  margin-bottom:5px;
  font-size:14px;
}
.sesgroupteam_temp5_list .team_member_contact_info{
  display:block;
  margin:0 5px 5px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}
.sesgroupteam_temp5_list .sesgroupteam-social-icon{
  margin-top:10px;
}
.sesgroupteam_temp5_list .sesgroupteam-social-icon a, [dir="rtl"] .sesgroupteam_temp5_list .sesgroupteam-social-icon a{
  float:none;
}
.sesgroupteam_temp5_list .sesgroupteam-social-icon a + a{
  margin:2px 2px 2px -2px;
}

/*TEMPLATE 5 CSS END HERE */
