

.core_admin_main_plugins_sesytube{
	border-radius: 3px 3px 0 0;
	background-color: #e8288d;
	color: #fff !important;
}
.ytube_manangemenu_table{
	width:40%;
}
.ytube_manangemenu_icon{
	background-color:#bbb;
	max-width:30px;
	padding:10px;
}
/*Manage Slideshow*/
.ytube_manage_slides{
	width:60%;
}
.ytube_manage_slides_head > div{
	background-color:#f5f5f5;
	padding:10px;
	border-bottom:1px solid #aaa;
	float:left;
	font-weight:bold;
	padding-top:7px;
	padding-bottom:7px;
	white-space:nowrap;
}
.ytube_manage_slides_list{
	margin-bottom:10px;
}
.ytube_manage_slides_list li{
	border-bottom:1px solid #eee;
	cursor:move;
	clear:both;
	overflow:hidden;
}
.ytube_manage_slides_list li:nth-child(odd){
	background-color:#fff;
}
.ytube_manage_slides_list li:nth-child(even){
	background-color:#f8f8f8;
}
.ytube_manage_slides_list li > div{
	padding:10px;
	font-size:.9em;
	float:left;
	padding-top:7px;
	padding-bottom:7px;
	vertical-align:top;
	white-space:normal;
}
.ytube_manangeslides_slide{
	width:100px;
}
#global_page_sesytube-admin-settings-index #popup_settings-wrapper{
	border-top-width:1px;
	margin-top:10px;
}
#global_page_sesytube-admin-settings-index #popup_settings-wrapper .form-label{
	font-size: 15px;
	width: auto;
}
#global_page_sesytube-admin-manage-mini-menu-icons #minimenu_icons-wrapper .form-label,
#global_page_sesytube-admin-manage-mini-menu-icons #minimenu_message_icons-wrapper .form-label,
#global_page_sesytube-admin-manage-mini-menu-icons #minimenu_frrequest_icons-wrapper .form-label{
	text-decoration:underline;
}
/*Color Scheme Form*/
.sesytube_themes_form #theme_color-wrapper .form-element li:nth-child(13n+8){
  position:relative;
	padding-top:14px;
}
.sesytube_themes_form #theme_color-wrapper .form-element li:nth-child(13n+7),
.sesytube_themes_form #theme_color-wrapper .form-element li:nth-child(13n+9){
	padding-top:33px;
}
.sesytube_themes_form #theme_color-wrapper .form-element li:nth-child(13n+8):before{
	content:"Dark Color Schemes";
	font-size:16px;
	text-align:center;
	width:100%;
	display:inline-block;
	font-weight:bold;
	position:relative;
	top:-12px;
}
.sesytube_themes_form .form-label{
	margin-bottom:5px;
}
.sesytube_themes_form #theme_color-label{
	border-bottom-width:1px;
	font-size:15px;
	padding-bottom:15px;
	text-align:center;
	width:100%;
}
.sesytube_themes_form #theme_color-wrapper .form-element{
	clear:both;
	text-align:center;
}
.sesytube_themes_form #theme_color-wrapper .form-element li{
	box-sizing:border-box;
	float:left;
	margin:10px 10px 0 0;
	padding-bottom:30px;
	position:relative;
	width:275px;
}
.sesytube_themes_form #theme_color-wrapper .form-element li input{
	bottom:0;
	float:none;
	left:50%;
	margin-bottom:10px;
	position:absolute;
}
.sesytube_themes_form #theme_color-wrapper .form-element li label{
	cursor:pointer;
}
.sesytube_themes_form #theme_color-wrapper .form-element li img{
	width:100%;
}
.sesytube_themes_form #theme_color-wrapper .form-element li:last-child{
	clear:both;
	display:block;
	float:none;
	margin:0 auto;
	padding-top:20px;
	width:400px;
}
.sesytube_themes_form #theme_color-wrapper .form-element li:last-child:before{
  content:"Make You Own Theme (make sure the site is in Development Mode, before you make any changes)";
	font-size:15px;
	font-weight:bold;
	margin-bottom:10px;
}
.sesytube_themes_form #theme_color-wrapper .form-element li:last-child img{
	margin-top:10px;
}
.sesytube_themes_form #header_settings-wrapper,
.sesytube_themes_form #footer_settings-wrapper,
.sesytube_themes_form #body_settings-wrapper{
	border-bottom-width:1px;
}
.sesytube_themes_form #header_settings-wrapper .form-label,
.sesytube_themes_form #footer_settings-wrapper .form-label,
.sesytube_themes_form #body_settings-wrapper .form-label{
	font-size:15px;
	width:auto;
}
.sesytube_themes_form #header_settings_group > fieldset > div,
.sesytube_themes_form #footer_settings_group > fieldset > div,
.sesytube_themes_form #body_settings_group > fieldset > div{
  margin-right:3%;
	display:inline-block;
	width:30%;
}
.sesytube_themes_form #header_settings_group > fieldset > div > div,
.sesytube_themes_form #footer_settings_group > fieldset > div > div,
.sesytube_themes_form #body_settings_group > fieldset > div > div{
	width:100%;
}
.sesytube_themes_form #sesytube_footer_heading_color-wrapper{
	display:none !important;
}
.sesytube_themes_form #custom_theme_color-label{
	width:140px;
}
.sesytube_styling_buttons{
	float:right;
	margin-top:-35px;
}
.sesytube_button{
	float:left;
	margin-right:15px;
	text-decoration:none !important;
}
.sesytube_button:before{margin-right:5px;}
.sesytube_button.disabled{color:#999;}
/*Landing Page Settings*/
.sesytube_lp_settings_wrapper{
	background-color:#ececec !important;
	display:table;
	padding:15px;
	width:100% !important;
}
.sesytube_lp_settings_wrapper,
.sesytube_lp_settings_wrapper *{
	box-sizing:border-box;
}
.sesytube_lp_settings_tabs{
	background-color:#e4e4e4;
	display:table-cell;
	vertical-align:top;
	width:200px;
}
.sesytube_lp_settings_tabs li{
	display:block;
}
.sesytube_lp_settings_tabs li + li{
	border-top: 1px solid #ececec;
}
.sesytube_lp_settings_tabs li a{
	color:#666 !important;
	display:block;
	font-size:17px;
	padding:15px;
	transition:all 500ms ease 0s;
}
.sesytube_lp_settings_tabs a:hover,
.sesytube_lp_settings_tabs li.active a{
	background-color:#fff;
	text-decoration:none;
}
.sesytube_lp_settings_content{
	background-color: #fff;
	display: table-cell;
	vertical-align: top;
	padding: 20px;
}
.sesytube_lp_settings_content .form-element .item_label + .item_label{
	margin-top:10px;
}
.sesytube_lp_settings_content .form-element .fa-trash{
	font-size:15px;
	text-decoration:none !important;
}
.sesytube_lp_settings_content .form-sub-heading{
	border-top-width:1px;
	font-size:17px;
	font-weight:bold;
	padding:15px 0;
}
.sesytube_lp_settings_content .item_label_feature + .item_label_feature{
	border-top-width:1px;
}

/*Header Setting Form*/
.ytube_header_settings_form #minimenu_icons-wrapper .form-label,
.ytube_header_settings_form #minimenu_message_icons-wrapper .form-label,
.ytube_header_settings_form #minimenu_frrequest_icons-wrapper .form-label{
	width:auto;
}
.ytube_header_settings_form #minimenu_notification_normal_preview-element input,
.ytube_header_settings_form #minimenu_notification_mouseover_preview-element input,
.ytube_header_settings_form #minimenu_message_normal_preview-element input,
.ytube_header_settings_form #minimenu_message_mouseover_preview-element input,
.ytube_header_settings_form #minimenu_frrequest_normal_preview-element input,
.ytube_header_settings_form #minimenu_frrequest_mouseover_preview-element input{
	background-color: #ddd;
	padding: 10px;
}
