/* $Id:main.css 2016-03-18 00:00:000 SocialEngineSolutions $ */

#likevideos > fieldset > div {
  margin-left: 3%;
  width: 45%;
  display: inline-block;
}
#likevideos > fieldset > div > div {
	width: 100%;
}
/*Popup Form*/
.sescrowdfundingvideo_create_gallery_popup{width:400px;}
.sescrowdfundingvideo_create_gallery_popup #gallery_name-label{margin-bottom:5px;}
.sescrowdfundingvideo_create_gallery_popup label{font-weight:bold;}
.sescrowdfundingvideo_create_gallery_popup input{width:100%;}


/*Add Item of the day Popup*/
.sescrowdfundingvideo_add_itemoftheday_popup .form-label{
	float:none !important;
}
.sescrowdfundingvideo_add_itemoftheday_popup .event_calendar_container{
	float:none;
}
#global_page_sescrowdfundingvideo-admin-settings-level #upload-wrapper{display:none;}
