
.sessocialshare_stats_search_form .search form > div{
	margin:0 10px 0 0;
}
.sessocialshare_stats_search_form .search form > div:nth-child(1){
	position:absolute;
	margin-top:-17px;
}
.sessocialshare_stats_search_form .search form > div:nth-child(1) a{
	font-weight: bold;
	font-size:8pt;
}
.sessocialshare_stats_search_form .search form #pageurl-wrapper,
.sessocialshare_stats_search_form .search form #pageurl1-wrapper{
	margin-top:-2px;
}
.sessocialshare_stats_search_form .search div input,
.sessocialshare_stats_search_form div.search div select {
	width:310px;
	margin-top:3px;
	height:33px;
	padding:0 10px;
	box-sizing:border-box;
}
.sessocialshare_stats_search_form #date-wrapper{
	margin-right:0;
}
.sessocialshare_stats_search_form #date-wrapper .form-wrapper{
	float:left;
}
.sessocialshare_stats_search_form #date-wrapper input{
	width:150px;
	margin-right:10px;
}
.sessocialshare_stats_container{
	border-width:1px;
	overflow:hidden;
}
.sessocialshare_stats_table{
	border-bottom-width:1px;
	overflow:hidden;
	padding:0 10px 10px;
}
.sessocialshare_stats_table > div{
	width:25%;
	float:left;
	padding:3px 10px;
	border-left-width:3px;
	box-sizing:border-box;
	margin-bottom:5px;
}
.sessocialshare_stats_table > div span + span{
	float:right;
	font-weight:bold;
}
.sessocialshare_stats_table > div.sessocialshare_stats_total{
	background-color:#fdfdfd;
	padding:10px;
	border-width:0 0 1px 0;
	font-size:15px;
	margin:0 -10px 10px;
	float:none;
	width:inherit;
}
.sessocialshare_stats_chart{
	overflow:hidden;
	display:block;
	height:500px;
}