

.sesadvancedbanner_banner_btns a{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
}
.sesadvancedbanner_banner_btns a:hover{
	background-color:$theme_button_background_color_hover;
	text-decoration:none;
}
.sesadvancedbanner_banner_btns .sesadvancedbanner_button_transparent:hover{
	transition:all .5s ease;
}