
/*Subscription Button*/
.sesmembersubscription_subscribe_option{
	padding:5px;
}
.sesmembersubscription_subscribe_option > span{
	display:block;
	margin-bottom:10px;
}
.sesmembersubscription_subscribe_payment_info{
	overflow:hidden;
}
.sesmembersubscription_subscribe_payment_info > span:nth-child(1){
	color:$theme_font_color_light;
	margin-bottom:5px;
}
.sesmembersubscription_subscribe_payment_info > span{
	display:block;
}
.sesmembersubscription_subscribe_payment_txt{
	display:block;
	margin-bottom:10px;
	font-size:17px;
	text-align:center;
}
.sesmembersubscription_subscribe_payment_txt b{
	color:$theme_button_background_color;
}
.sesmembersubscription_subscribe_button a{
  display:block;
	padding:10px 20px;
}
.sesmembersubscription_button{
	border-radius:5px;
	background-color:$theme_button_background_color;
	color:$theme_button_font_color !important;
	text-align:center;
	font-weight:bold;
}
.sesmembersubscription_button:hover{
	background-color:$theme_button_background_color_hover;
	color:$theme_button_font_color;
	text-decoration:none;
}
.layout_middle .sesmembersubscription_subscribe_button > span,
.layout_middle .sesmembersubscription_subscribe_button > a{
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
	margin-bottom:0;
}

.sesmembersubscription_intro_wrapper .editbtn i{
	color:$theme_font_color_light;
}
.sesmembersubscription_intro_wrapper .editbtn a:hover i,
.sesmembersubscription_intro_wrapper .member_intro .adminmsg article ._head{
	color:$theme_button_background_color;
}
.sesmembersubscription_subscribebtn > a{
	border-color:$theme_button_background_color;
}
.sesmembersubscription_subscribebtn > a i{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color !important;
}
.sesmembersubscription_subscribebtn > a span{
	color:$theme_button_background_color !important;
}