

/*Profile Introduction CSS Start Here*/
.sesmembersubscription_intro_wrapper{
	padding:15px;
}
.sesmembersubscription_intro_wrapper .editbtn{
	float:left;
	margin-right:10px;
	opacity:.5;
	position:relative;
	margin-top:5px;
}
.sesmembersubscription_intro_wrapper .sesmembersubscription_subscribebtn .editbtn{
	margin-top:15px;
}
.sesmembersubscription_intro_wrapper ._ptofiletitle:hover .editbtn,
.sesmembersubscription_intro_wrapper ._profiletagline:hover .editbtn,
.sesmembersubscription_intro_wrapper .sesmembersubscription_subscribebtn:hover .editbtn,
.sesmembersubscription_intro_benifits ._label:hover .editbtn{
	opacity:1;
}
.sesmembersubscription_intro_wrapper .editbtn i{
	font-size:20px;
}
.sesmembersubscription_intro_wrapper .editbtn span{
	border-radius:5px;
	background-color:#ea2f49;
	box-shadow:inset 0 1px 0 0 #ef7b8c;
	position:absolute;
	top:-2px;
	left:23px;
	z-index:1;
	border:1px solid #cd233b;
	padding:5px 10px;
	text-align:center;
	text-shadow:-1px -1px 0 #c3384c;
	color:#fff;
	font-size:12px;
	display:none;
}
.sesmembersubscription_intro_wrapper .editbtn:hover span{
	display:block;
}
.sesmembersubscription_intro_wrapper ._header ._left{
	width:70%;
}
.sesmembersubscription_intro_wrapper ._header ._ptofiletitle{
	margin-bottom:20px;
}
.sesmembersubscription_intro_wrapper ._header ._ptofiletitle h2{
	font-size:30px;
}
.sesmembersubscription_intro_wrapper ._header ._profiletagline .editbtn,
.sesmembersubscription_intro_benifits ._label .editbtn{
	margin-top:0;
}
.sesmembersubscription_subscribebtn > a{
	border-width:1px;
	border-radius:5px;
	overflow:hidden;
	float:right;
	position:relative;
	text-decoration:none !important;
}
.sesmembersubscription_subscribebtn > a > span{
	overflow:hidden;
	display:block;
	width:200px;
	text-align:center;
	font-weight:bold;
	height:45px;
	line-height:45px;
}
.sesmembersubscription_subscribebtn > a > span b{
	font-size:25px;
}
.sesmembersubscription_subscribebtn > a > span._sh{
	position:absolute;
	text-align:center;
	background-color:#8dc63f;
	color:#fff !important;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
	text-transform:uppercase;
	font-size:17px;
}
.sesmembersubscription_subscribebtn > a:hover{
	border-color:#8dc63f;
}
.sesmembersubscription_subscribebtn a:hover > span._sh{
	display:block;
}
.sesmembersubscription_addvideo_btn a{
	display:block;
	padding:10px 10px;
	margin-top:10px;
	border-radius:5px;
	width:187px;
	float:right;
}

.sesmembersubscription_intro_benifits ._label{
	font-size:17px;
	padding:10px 0;	
	margin:15px 0;
	border-bottom-width:1px;
}
.sesmembersubscription_intro_benifits ._body{
	line-height:150%;
}
.sesmembersubscription_intro_wrapper .member_intro{
	border-top-width:1px;
	margin-top:40px;
	padding-top:40px;
}
.sesmembersubscription_intro_wrapper .member_intro .adminmsg{
	width:40%;
	float:left;
	padding-right:20px;
}
.sesmembersubscription_intro_wrapper .member_intro .adminmsg article{
	padding:20px;
	background-color:rgba(0, 0, 0, .05);
}
.sesmembersubscription_intro_wrapper .member_intro .adminmsg article ._head{
	font-weight:bold;
	font-size:17px;
	margin-bottom:15px;
}
.sesmembersubscription_intro_wrapper .member_intro ._videosection{
	width:60%;
	float:right;
	text-align:center;
}
.sesmembersubscription_intro_wrapper .member_intro ._videosection iframe{
	width:100%;
}
.sesmembersubscription_intro_wrapper .member_intro ._btn ._mt{display:none;}
.sesmembersubscription_intro_wrapper .member_intro .sesmembersubscription_button{
	padding:10px 20px;
	display:block;
	margin-top:15px;
	font-size:20px;
}
.sesmembersubscription_intro_wrapper .member_intro .sesmembersubscription_button:hover{
	background-color:#8dc63f;
}
@media (max-width: 767px){
	.sesmembersubscription_intro_wrapper ._header ._ptofiletitle,
	.sesmembersubscription_intro_wrapper ._header ._profiletagline{
		text-align:center;
		margin:0;
	}
	.sesmembersubscription_intro_wrapper .member_intro{
		padding-top:20px;
		margin-top:20px;
	}
	.sesmembersubscription_intro_wrapper .member_intro ._videosection,
	.sesmembersubscription_intro_wrapper .member_intro .adminmsg,
	.sesmembersubscription_intro_wrapper ._header ._left{
		width:100%;
		margin-bottom:10px;
		padding:0;
	}
	.sesmembersubscription_intro_benifits ._label{
		text-align: center;
		background-color: rgba(0, 0, 0, .05);
	}
	.sesmembersubscription_intro_wrapper ._header ._right{display:none;}
	.sesmembersubscription_intro_wrapper .member_intro ._btn ._mt{
		display:block;
		text-align:center;
		font-weight:bold;
		font-size:17px;
		margin-top:10px;
	}
}
/*Profile Introduction CSS End Here*/
/*Popup CSS Start Here*/
.sesmembersubscription_video_form{
	margin:15px 0 0 15px;
	min-width:300px;
}
.sesmembersubscription_video_form #video_url-label,
.sesmembersubscription_video_form #designation-label{display:none;}
.sesmembersubscription_benifits_form{
	margin:15px 0 0 15px;
}
.sesmembersubscription_benifits_form #subscriber_benifit-label{display:none;}
/*Popup CSS End Here*/
