/* $Id:print.css 2019-02-12 00:00:00 SocialEngineSolutions $*/

body{
	font-family: 'Open Sans', sans-serif;
	color:#000;
}
a{
	text-decoration:none;
	color:#000;
}
.sesbasic_bxs{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#global_content_simple{
	display:block;
}
.floatL {
  float: left;
}
.floatR {
  float: right;
}
/*Order & Invoice Css Starts Here*/
.estore_ticket_order_view_page{
	padding:8px;
}
.estore_order_view_top{
	margin-bottom:15px;
}
.estore_invoice_header{
	margin-bottom:15px;
}
.estore_invoice_header  h3,
.estore_invoice_order_table h3{
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
	color:#000;
}
.estore_invoice_header ul{
	padding-left: 0 !important;
	margin-left: 0;
}
.estore_invoice_header ul._shippingdetails li,
.estore_invoice_header ul._billingdetails li{
	margin-bottom: 5px;
	font-size: 90%;
	display: inline-block;
}
.estore_invoice_header div{
	width:48%;
}
.estore_invoice_content_wrap{
	border-style:solid;
	border:1px solid #ddd;
	display:table;
	margin-bottom:5px;
	width:100%;
}
.estore_invoice_content_left,
.estore_invoice_content_right{
	display:table-cell;
	width:50%;
}
.estore_invoice_content_left{
	border-right-style:solid;
	border:1px solid #ddd;
}
.estore_invoice_content_box{
	padding:10px;
}
.estore_invoice_content_box + .estore_invoice_content_box{
	border:1px solid #ddd;
}
.estore_invoice_content_box b.bold{
	display:block;
	margin-bottom:5px;
	color: #000;
  font-size: 95%;
}
.estore_invoice_content_detail span{
	display: block;
  margin-bottom: 5px;
  font-size: 90%;
}
.estore_invoice_content_detail .fa-caret-right{
  margin:0 5px;
}
.estore_invoice_content_qr{
	margin:5px;
	text-align:center;
}
/*Order Table*/
.estore_table table{
	margin-bottom: 15px;
  width: 100%;
  float: left;
  margin-bottom:10px;
}
.estore_table table th,
.estore_table table td{
	border:1px solid #ddd;
	padding:5px;
	font-size: 90%;
	vertical-align:top;
}
.estore_table table th{
	background-image:url(../images/transprant-bg.png);
	color:#000;
}
.estore_invoice_total_price_box{
  float: right;
  max-width: 100%;
  width: 100%;
  background: #f6f6f6;
}
.estore_invoice_total_price_box div{
	clear:both;
	overflow:hidden;
}
.estore_invoice_total_price_box div span{
	float:left;
	padding:5px;
	text-align:left;
	display: inline-block;
	width:70%;
}
.estore_invoice_total_price_box div span + span{
	text-align:right;
	width:30%;
}
[dir="rtl"] .estore_invoice_total_price_box div span + span{
	text-align:left;
}
.estore_invoice_total_price_box_total span{
	font-weight:bold;
	color:#000;
}
/*Popup*/
#global_page_estore-order-view #global_content_simple{display:block;margin:10px 0 0 10px;width:800px;}
#global_page_estore-order-view #global_content_simple .layout_core_content{margin:0;}
#global_page_estore-order-view #global_content_simple .layout_middle{padding:0;}

.estore_orderview_popup_close{display:none;}
#global_content_simple .estore_orderview_popup_close{
  position:absolute;
  right:10px;
  top:10px;
  display:block;
  text-decoration:none !important;
}
[dir="rtl"] #global_content_simple .estore_orderview_popup_close{
  left:10px;
  right:auto;
}
#global_content_simple .estore_orderview_popup_close:before{
  font-size:20px;
}
#global_content_simple .estore_invoice_header div{
  float:left; 
  margin-right:15px;
}
[dir="rtl"] #global_content_simple .estore_invoice_header div{
  float:left;
  margin-left:15px;
  margin-right:0;
}
