
.notification_type_sesgroupveroth_approve:before,
.notification_type_sesgroupveroth_verified:before{
  content:"\\f058";
}
.notification_type_sesgroupveroth_adminreject:before{
  content:"\\f057";
}
.sesgroupveroth_verify_msg span{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
}
