

.notification_type_sesdocveri_verified:before,
.notification_type_sesdocveri_superadmin:before{
	content:"\\f00c";
}
.notification_type_sesdocveri_reject:before{
	content:"\\f00d";
}
#SignupFormDocumentVerification .form-label{display:none;}
#SignupFormDocumentVerification .form-element{margin-bottom:15px;}

.sesuserdocverification_manage_documents div._type i{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
}

/*Profile Verified Label*/
.layout_sesuserdocverification_verify_label{
	background:none !important;
	padding:0 !important;
	border-width:0 !important;
	box-shadow:none !important;
}
.sesuserdocverification_verify_label{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
	line-height:36px;
	border-radius:20px;
	text-align:center;
	position:relative;
	font-size:15px;
	text-transform:uppercase;
	letter-spacing:2px;
	padding:0 0 0 15px;
	margin:10px 0;
}
.sesuserdocverification_verify_label i{
	background-color:$theme_button_background_color;
	border:2px solid $theme_button_font_color;
	border-radius:50%;
	height:50px;
	width:50px;
	position:absolute;
	left:10px;
	padding:7px;
	top:-7px;
	box-shadow:0 0 10px rgba(0,0,0,.2);
}
.sesuserdocverification_verify_label i svg{
	height:100%;
	width:100%;
}