
.sesuserdocverification_settings .sesuserdocverification_upload_btn{
	margin-bottom:15px;
}
.sesuserdocverification_settings .sesuserdocverification_upload_btn a{
	display:inline-block;
}
/*Upload Form Popup*/
.sesuserdocverification_add_popup{
	margin:15px 0 0 15px;
}
.sesuserdocverification_add_popup .form-label{
	display:none;
}
.sesuserdocverification_add_popup #buttons-wrapper{
	margin-top:15px;
}
/*Manage Documents*/
[class*="sesuserdocverification_icon_"]:before,
[class*="sesuserdocverification_icon_"]:after{
	font-family:FontAwesome;
	font-style:normal;
}
.sesuserdocverification_icon_view:before{
	content:"\f06e";
}
.sesuserdocverification_icon_submit:before{
	content:"\f00c";
}
.sesuserdocverification_settings_header{
	margin-bottom:20px;
}
.sesuserdocverification_settings_header ._title{
	font-weight:bold;
	font-size:20px;
	margin-bottom:10px;
}
.sesuserdocverification_settings_header ._des{

}
.sesuserdocverification_manage_documents ._header,
.sesuserdocverification_manage_documents ul li{
	display:flex;
	flex-wrap:wrap;
}
.sesuserdocverification_manage_documents ._header{
	background-image:url(../images/transprant-bg.png);
}
.sesuserdocverification_manage_documents{
	border-radius:5px;
	border-width:1px;
	padding:10px;
}
.sesuserdocverification_manage_documents ._header,
.sesuserdocverification_manage_documents ul li{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
.sesuserdocverification_manage_documents ul li + li{
	border-top-width:1px;
}
.sesuserdocverification_manage_documents ._header > div,
.sesuserdocverification_manage_documents ul li > div{
	padding:10px;
}
.sesuserdocverification_manage_documents div._type{
	font-weight:bold;
	position:relative;
	width:30%;
}
.sesuserdocverification_manage_documents div._type i{
	height:35px;
	width:35px;
	line-height:35px;
	display:inline-block;
	border-radius:50%;
	text-align:center;
	margin-right:15px;
	font-style:normal;
	font-size:17px;
}
.sesuserdocverification_manage_documents div._status{
	width:20%;
	text-align:center;
}
.sesuserdocverification_manage_documents ._status span{
	display: inline-block;
	color: #fff;
	border-radius: 3px;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: bold;
	min-width: 150px;
}
.sesuserdocverification_manage_documents .status_pending{
	background-color:#f5ca00;
}
.sesuserdocverification_manage_documents .status_verified{
	background-color:#599e14;
}
.sesuserdocverification_manage_documents .status_rejected{
	background-color:#c8514a;
}
.sesuserdocverification_manage_documents div._preview{
	width:20%;
}
.sesuserdocverification_manage_documents div._option{
	width:30%;
}
.sesuserdocverification_manage_documents ._header > div{
	font-weight:bold;
}
.sesuserdocverification_manage_documents div._option span + span:before{
	content:"|";
	margin:0 10px;
}
.sesuserdocverification_manage_documents div._option .sesbasic_icon_delete:before{
	color:#f00;
}
.sesuserdocverification_manage_documents div._option .sesuserdocverification_icon_submit:before{
	color:#39F;
}