.sesloginpopup_loginbg{
   background-size: 100% 157.5px;
   height: 200px;
}
.sesloginpopup_loginpage{
   width:900px;
   margin: 0 auto;
   box-shadow:rgba(136, 136, 136, 0.5) 0 0 20px 0;
   -moz-box-shadow:rgba(136, 136, 136, 0.5) 0 0 20px 0;
   -webkit-box-shadowrgba(136, 136, 136, 0.5) 0 0 20px 0;
   -o-box-shadow:rgba(136, 136, 136, 0.5) 0 0 20px 0;
   overflow:hidden;
   margin-top: -100px;
   margin-bottom: 50px;
}
.layout_sesloginpopup_login_or_signup_page {
   padding:0 !important;
   background:transparent !important;
   border-color:transparent !important;
   box-shadow:none !important;
}
.loginbox_form .global_form > div > div {
    background:transparent !important;
    border-color:transparent !important;
	padding:0;
}
.loginbox_form .sesloginpopup_popup_content_left{
	position:relative;
}
.loginbox_form .sesloginpopup_loginpage_content{
	width:350px;
	margin:0 auto;
	position:relative;
	padding:15px;
	box-shadow:rgba(136, 136, 136, 0.2) 0 0 20px 0;
}
.loginbox_form .sesloginpopup_loginpage_content:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .9;
	border-radius: 5px;
}
.loginbox_form .form-wrapper label {
    display:none;
}
.loginbox_form #remember-wrapper label {
    display:block;
}
.loginbox_form input {
    padding:10px;
}
.loginbox_form input[type="email"], .loginbox_form input[type="password"],.loginbox_form input[type="text"]{
	width:100% !important;
	border-radius:1px;
	padding: 10px 9px;
}
.loginbox_form .form-element{
	width:100% !important;
}
.loginbox_form #fieldset-buttons{
	position:relative;
	margin-top:10px;
}
.loginbox_form .sesloginpage_top h2 {
    text-align: center;
    font-size: 30px;
}
.loginbox_form #fieldset-buttons div#remember-wrapper .form-label, .loginbox_form #fieldset-buttons div#forgot-wrapper .form-label,.loginbox_form #submit-wrapper .form-label{
	display:none;
}
.loginbox_form #fieldset-buttons div#remember-wrapper {
    width:50%;
    float:left;
}
.loginbox_form #fieldset-buttons div#forgot-wrapper {
    width:50%;
    position:absolute;
    right:0;
	top:0;
}
.loginbox_form #fieldset-buttons div#forgot-wrapper .form-element{
	text-align:right;
}
.showhide_password {
    float:right;
    margin-top:-47px;
    position:relative;
    font-size:16px;
    width:30px;
    text-align:center;
		background-image:none !important;
}
.loginbox_form{
	padding:45px 25px;
	border-top:10px solid;
	background-size:cover !important;
	background-position:center center !important;
	background-repeat:no-repeat !important;
	position: relative;
}
.loginbox_form form{
	padding:0 15px;
}
.loginbox_form p.frome_signup a{
	margin: 20px 10px;
    display: block;
    text-align: center;
}
.loginbox_form .global_form button[type=submit] {
    width:50%;
    border-radius:1px !important;
	margin:10px auto;
	display:block;
	padding: 12px;
}
.sesloginpopup_page_two #global_content{
	width:100%;
}
.loginbox_form:before {
    content: "";
    position: absolute;
    background: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .1;
}
input{
	outline-color:transparent !important;
}
.sesloginpopup_loginpage .layout_sesloginpopup_login_or_signup #password-wrapper{
	width:100%;
}
/* Signup Page */
.signup_page_two .form-wrapper label{
	display:block;
}