.layout_sesloginpopup_login_or_signup_page {
   padding:0 !important;
   background:transparent !important;
   border-color:transparent !important;
   box-shadow:none !important;
}
.sesloginpopup_loginpage{
   width:900px;
   margin:40px auto;
   box-shadow:0 0 50px 8px rgba(222, 221, 221, 0.6);
   -moz-box-shadow:0 0 50px 8px rgba(222, 221, 221, 0.6);
   -webkit-box-shadow:0 0 50px 8px rgba(222, 221, 221, 0.6);
   -o-box-shadow:0 0 50px 8px rgba(222, 221, 221, 0.6);
   border-radius:5px;
   overflow:hidden;
}
.sesloginpopup_loginpage > .sesloginpopup_loginbox {
   display:flex;
   flex-wrap:nowrap;
   height:100%;
}
.sesloginpopup_loginpage .loginbox_img{
   width:70%;
   background-size:cover;
   background-repeat:no-repeat;
   background-position:center center;
   position:relative;
}
.sesloginpopup_loginpage .loginbox_img:before {
	content:"";
	position:absolute;
	background:black;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:.5;
}
.loginbox_img .loginbox_img_content {
    position:absolute;
    left:0;
    right:0;
    bottom:30px;
    padding:20px;
}
.loginbox_img .loginbox_img_content h4 {
    font-size:25px;
    font-weight:bold;
		border-bottom:0;
}
.loginbox_img .loginbox_img_content p {
    font-size:16px;
    letter-spacing:.5px;
}
.loginbox_form .global_form > div > div {
    background:transparent !important;
    border-color:transparent !important;
	padding:0;
}
.loginbox_form .form-wrapper label {
    display:none;
}
.loginbox_form #remember-wrapper label {
    display:block;
}
.loginbox_form input {
    padding:10px;
}
.loginbox_form input[type="email"], .loginbox_form input[type="password"],.loginbox_form input[type="text"]{
	width:100% !important;
	border-radius:4px;
	padding:10px;
}
.loginbox_form .form-element{
	width:100% !important;
}
.loginbox_form #fieldset-buttons{
	position:relative;
	margin-top:10px;
}
.loginbox_form #fieldset-buttons div#remember-wrapper .form-label, .loginbox_form #fieldset-buttons div#forgot-wrapper .form-label,.loginbox_form #submit-wrapper .form-label{
	display:none;
}
.loginbox_form #fieldset-buttons div#remember-wrapper {
    width:50%;
    float:left;
}
.loginbox_form #fieldset-buttons div#forgot-wrapper {
    width:50%;
    position:absolute;
    right:0;
	top:0;
}
.loginbox_form #fieldset-buttons div#forgot-wrapper .form-element{
	text-align:right;
}
.showhide_password {
    float:right;
    margin-top:-47px;
    position:relative;
    font-size:16px;
    width:30px;
    text-align:center;
		background-image:none !important;
}
.loginbox_form{
	padding:40px 30px;
}
.loginbox_form .global_form button[type=submit] {
    width:100%;
    border-radius:4px !important;
	margin:10px 0;
}
.loginbox_form .sesloginpage_top > img {
    width:50px;
    margin-bottom:20px;
}
.loginbox_form p.frome_signup a {
    text-align:center;
    display:block;
    margin-top:14px;
    padding:10px 10px;
    box-shadow:0px 5px 10px -2px rgba(0, 0, 0, 0.15);
    font-weight:bold;
    text-decoration:none;
    font-size:14px;
}
input{
	outline-color:transparent !important;
}
.sesloginpopup_loginpage .layout_sesloginpopup_login_or_signup #password-wrapper{
	width:100%;
}
/* Signup Page */
.signup_page_one .form-wrapper label{
	display:block;
}