
/*LOGIN & SIGNUP CSS*/
.sesloginpopup_minimenu_links > li {
  margin-left: 10px;
}
.sesloginpopup_minimenu_links {
	float: right;
	display: none;
	margin: 10px 0;
	padding-right: 30px;
}
.sesloginpopup_minimenu_links > li > a{
	padding:6px 10px;
	display:block;
	border-radius:4px;
}
.popup_header_heading h4{
	border-bottom:0;
}
.sesloginpopup_minimenu_links > .sesloginpopup_minimenu_login > a{
	border:2px solid $theme_button_background_color;
}
.sesloginpopup_quick_popup,.loginbox_form,.loginbox_form .sesloginpopup_loginpage_content:before,.sesloginpopup_page_four .loginbox_form > .sesloginpopup_loginpage_content:before{
	background-color:$theme_list_background_color;
}
.popup_one a{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color !important;
}
.popup_one a.active{
	color:$theme_link_color !important;
}
.loginbox_img .loginbox_img_content h4,.loginbox_img .loginbox_img_content p,.loginbox_head h2,.sesloginpopup_page_four .loginbox_form .sesloginpage_top h2,.sesloginpopup_page_four .loginbox_form #remember-wrapper label,.sesloginpopup_page_four .loginbox_form #fieldset-buttons div#forgot-wrapper a{
	color:$theme_button_font_color;
}
.loginbox_form p.frome_signup a{
	color:$theme_button_background_color;
}
.sesloginpopup_loginbg{
	background: -webkit-linear-gradient(to left, $theme_button_background_color, #eef2f3);
	background: linear-gradient(to left, $theme_button_background_color, #eef2f3);
}
.loginbox_form{
  border-top-color:$theme_button_background_color !important;
}
