

.usersubscription_badge_block{
	padding:10px;
}
.usersubscription_badge_block ._badgeimg{
	text-align:center;
}
.usersubscription_badge_block ._badgeimg img{
	max-width:150px;
}
.usersubscription_badge_block .badge_expdate{
	margin-top:10px;
	text-align:center;
	font-weight:bold;
}
.usersubscription_badge_block .upgrade_button{
	margin-top:10px;
}
.usersubscription_badge_block .upgrade_button a{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
	text-align:center;
	display:block;
	padding:10px;
	border-radius:5px;
	font-weight:bold;
}
.usersubscription_badge_block .upgrade_button a:hover{
	opacity:.8;
}