.core_admin_main_plugins_sesexpose{
	border-radius: 3px 3px 0 0;
	background-color: #0EC6EF;
	color: #fff !important;
}

/*Global Form*/
.sesexpose_admin_form #sesexpose_block_1-wrapper{
	border-top:1px solid #ddd;
}

.expose_manangemenu_table{
	width:40%;
}
.expose_manangemenu_icon{
	background-color:#bbb;
	max-width:30px;
	padding:10px;
}
/*Advanced HTML Widget Editor*/
#global_page_core-admin-content-widget .mce-tinymce.mce-container{
	margin-top:15px;
	width:800px;
}
/*Manage Slideshow*/
.expose_manage_slides{
	width:60%;
}
.expose_manage_slides_head > div{
	background-color:#f5f5f5;
	padding:10px;
	border-bottom:1px solid #aaa;
	float:left;
	font-weight:bold;
	padding-top:7px;
	padding-bottom:7px;
	white-space:nowrap;
}
.expose_manage_slides_list{
	margin-bottom:10px;
}
.expose_manage_slides_list li{
	border-bottom:1px solid #eee;
	cursor:move;
	clear:both;
	overflow:hidden;
}
.expose_manage_slides_list li:nth-child(odd){
	background-color:#fff;
}
.expose_manage_slides_list li:nth-child(even) {
	background-color:#f8f8f8;
}
.expose_manage_slides_list li > div{
	padding:10px;
	font-size:.9em;
	float:left;
	padding-top:7px;
	padding-bottom:7px;
	vertical-align:top;
	white-space:normal;
}
.expose_manangeslides_slide{
	width:100px;
}
/*Global Form*/
div .sesexpose_admin_form .form-description {
	max-width:inherit;
}
div .sesexpose_admin_form .form-element .description {
	max-width:650px;
}
.sesexpose-form{
 +foreground;
	padding:10px;
	overflow:hidden;
}
.sesexpose-form > div{
	background:#fff;
	border:1px solid #ccc;
	overflow:hidden;
	padding:0px;
}
.sesexpose-form-cont{
	padding:0 15px 15px;
}
.sesexpose-form-cont:after{
  clear:both;
  content:'';
  display:block;
}
.sesexpose-form .settings form, 
.sesexpose-form .settings form > div{
	border-width:0;
	background-color:transparent;
	padding:0;
}

/*Contact SocialEngineSolution Form*/
.sesexpose_site_view {
	border:5px solid #f5f5f5;
	margin-top:15px;
}

/*Color Scheme Form*/
.sesexpose_themes_form .form-label{
	margin-bottom:5px;
}
.sesexpose_themes_form #theme_color-label{
	border-bottom-width:1px;
	font-size:15px;
	padding-bottom:15px;
	text-align:center;
	width:100%;
}
.sesexpose_themes_form #theme_color-wrapper .form-element{
	clear:both;
	text-align:center;
}
.sesexpose_themes_form #theme_color-wrapper .form-element li{
	box-sizing:border-box;
	float:left;
	margin:10px 10px 0 0;
	padding-bottom:30px;
	position:relative;
	width:275px;
}
.sesexpose_themes_form #theme_color-wrapper .form-element li input{
	bottom:0;
	float:none;
	left:50%;
	margin-bottom:10px;
	position:absolute;
}
.sesexpose_themes_form #theme_color-wrapper .form-element li label{
	cursor:pointer;
}
.sesexpose_themes_form #theme_color-wrapper .form-element li img{
	width:100%;
}
.sesexpose_themes_form #theme_color-wrapper .form-element li:last-child{
	clear:both;
	display:block;
	float:none;
	margin:0 auto;
	padding-top:20px;
	width:400px;
}
.sesexpose_themes_form #theme_color-wrapper .form-element li:last-child:before{
	content:"Make your Own Theme";
	font-size:15px;
	font-weight:bold;
	margin-bottom:10px;
}
.sesexpose_themes_form #theme_color-wrapper .form-element li:last-child img{
	margin-top:10px;
}
.sesexpose_themes_form #header_settings-wrapper,
.sesexpose_themes_form #footer_settings-wrapper,
.sesexpose_themes_form #body_settings-wrapper{
	border-bottom-width:1px;
}
.sesexpose_themes_form #header_settings-wrapper .form-label,
.sesexpose_themes_form #footer_settings-wrapper .form-label,
.sesexpose_themes_form #body_settings-wrapper .form-label{
	font-size:15px;
	width:auto;
}
.sesexpose_themes_form #header_settings_group > fieldset > div,
.sesexpose_themes_form #footer_settings_group > fieldset > div,
.sesexpose_themes_form #body_settings_group > fieldset > div{
  margin-right:3%;
	display:inline-block;
	width:30%;
}
.sesexpose_themes_form #header_settings_group > fieldset > div > div,
.sesexpose_themes_form #footer_settings_group > fieldset > div > div,
.sesexpose_themes_form #body_settings_group > fieldset > div > div{
	width:100%;
}

.exp_header_settings_form #exp_header_type-element{
	clear:both;
}
.exp_header_settings_form #exp_header_type-element .form-options-wrapper li{
	margin:10px 0px;
	display:inline-block;
}
.exp_header_settings_form #exp_header_type-element .form-options-wrapper label{
	display:block;
}
.exp_header_settings_form #exp_header_type-element .form-options-wrapper label img{
	width:100%;
}
.exp_header_settings_form #exp_header_type-element .form-options-wrapper label img.header-3-1{
	width: 50%;
	padding-right: 5px;
	box-sizing: border-box;
	float: left;
}
.exp_header_settings_form #exp_header_type-element .form-options-wrapper label img.header-3-2{
	width: 50%;
	padding-left: 5px;
	box-sizing: border-box;
	overflow:hidden;
}
#global_page_sesexpose-admin-settings-index #popup_settings-wrapper{
	border-top-width: 1px;
	margin-top: 10px;
}
#global_page_sesexpose-admin-settings-index #popup_settings-wrapper .form-label {
    font-size: 15px;
    width: auto;
}