.sesemailverification_tip{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
	text-align:center;
	padding:10px 40px 10px 20px;
	position:fixed;
	max-width:100% !important;
	z-index:99;
	bottom:30px;
	left:20%;
	right:20%;
	box-sizing:border-box;
	box-shadow:0 0 10px rgba(0, 0, 0, .2);
	display:none;
	border-radius:10px;
	line-height:200%;
}
.sesemailverification_tip a{
	text-decoration:underline !important;
	color:$theme_button_font_color !important;
}
.sesemailverification_tip_close{
	right:10px;
	height:25px;
	width:25px;
	border-radius:50%;
	background-color:rgba(255, 255, 255, .4);
	text-align:center;
	position:absolute;
	top:12px;
}
.sesemailverification_tip_close:before{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	margin-top:-1px;
}