
/*Manage*/
.sesvideosell_manage_tabs{
	border-bottom-width:1px;
}
.sesvideosell_manage_tabs li{
	float:left;
}
.sesvideosell_manage_tabs li a{
	bottom:-1px;
	border-width:1px 1px 0;
	font-weight:bold;
	display:block;
	padding:8px 15px;
	text-decoration:none !important;
	position:relative;
}
.sesvideosell_manage_tabs li + li a{
	border-left-width:0;
}
.sesvideosell_manage_tabs_content{
	border-width:0 1px 1px;
	padding:15px;
}
/*Order Page*/
.sesvideosell_orders{
	margin-top:15px;
}
.sesvideosell_order_item{
	border-width:1px;
	margin-bottom:15px;
}
.sesvideosell_order_item_header{
	background-image:url(../images/transprant-bg.png);
	border-bottom-width:1px;
	padding:10px;
	font-size:15px;
}
.sesvideosell_order_item_header .sesbasic_link_btn{
	padding:5px 15px;
}
.sesvideosell_order_item_cont{
	padding:10px;
}
.sesvideosell_order_item_img{
	float: left;
	height: 100px;
	width: 150px;
}
.sesvideosell_order_item_img span{
	background-size:cover;
	background-position:center;
	display:block;
	height:100%;
	width:100%;
}
.sesvideosell_order_item_details{
	display:block;
	overflow:hidden;
	padding:0 10px;
	min-height:100px;
	position:relative;
}
.sesvideosell_order_item_title{
	font-weight:bold;
	margin-bottom:5px;
}

.sesvideosell_order_item_btm{
	border-top-width:1px;
	bottom:0;
	position:absolute;
	padding:7px 0 4px;
	left:10px;
	right:10px;
}
.sesvideosell_order_item_btm .floatL{
	font-weight:bold;
}
.sesvideosell_download_link a{
	text-decoration:none !important;
}
.sesvideosell_download_link a:before{
	margin-right:5px;
}
