/* $Id:main.css 2015-7-1 00:00:00 SocialEngineSolutions $*/

/*Feature Request Button*/
.sespoke_admin_plugin_title h2{
  overflow:hidden;
}
.sespoke_nav_btns{
  float:right;
  margin-top:-45px;
}
.sespoke_admin_plugin_title .sespoke_nav_btns{
  margin:0 0 0 20px;
}
.sespoke_nav_btns a{
	background-color:#f36a33;
	color:#fff;
	float:left;
	font-weight:bold;
	padding:8px 15px;
	margin-left:10px;
}
.sespoke_nav_btns a:hover{
  text-decoration:none;
}
.sespoke_search_reasult{
  font-weight:bold;
  margin-bottom:10px;
}
.sespoke_icon_add{
  background-image:url(~/application/modules/Sespoke/externals/images/add.png);
}
.sespoke_icon_back{
  background-image:url(~/application/modules/Sespoke/externals/images/back.png);
}