
.otpsms_icon_back:before{
	content:"\\f177";
}
.otpsms_login_verify > div > div .form-description{
	display:block !important;
	padding:0;
}
.otpsms_login_verify > div > div .form-description .otpsms_timer_class{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
	padding:3px 10px;
	display:inline-block;
}
/*Sidebar Login Widget*/
html #user_form_login:not(.otpsms_login_form){
	padding:0;
}
html #user_form_login:not(.otpsms_login_form) .form-elements{
	overflow:hidden;
}
html #user_form_login:not(.otpsms_login_form) #otp-element{
	text-align:right;
	font-size:90%;
	margin-top:10px;
}
html #user_form_login:not(.otpsms_login_form) #otp-element ._loadingimg{
	float:left;
}
html #user_form_login:not(.otpsms_login_form) input[type="text"],
html #user_form_login:not(.otpsms_login_form) input[type="email"],
html #user_form_login:not(.otpsms_login_form) input[type="password"]{
	width:100%;
	box-sizing:border-box;
}
html .layout_user_login_or_signup #remember-wrapper input{
	margin-top:8px !important;
}
html .layout_user_login_or_signup #remember-wrapper label{
	margin-top:5px !important;
}
html .layout_user_login_or_signup .otpsms_login_verify h3{
	padding:0;
	margin:10px 0;
	font-size:14px;
	border: 0;
	font-weight: bold;
	background: transparent;
	color:$theme_font_color;
}
html .layout_user_login_or_signup .otpsms_login_verify .form-elements{
	padding:0;
	margin:0;
}
html .layout_user_login_or_signup .otpsms_login_verify .form-label,
html .layout_user_login_or_signup .otpsms_login_verify .form-element{
	text-align:left;
	width:100%;
	max-width:100%;
	min-width:inherit;
}
html .layout_user_login_or_signup .otpsms_login_verify .form-element input[type="text"],
.signup_login_popup_wrapper .otpsms_login_verify .form-element input[type="text"]{
	width:100%;
}
html .layout_user_login_or_signup .otpsms_login_verify #buttons-label{
	display:none;
}
/*SE Login Popup*/
.signup_login_popup_wrapper .otpsms_login_verify > div{
	float:none;
}
.signup_login_popup_wrapper .otpsms_login_verify .form-elements{
	padding:0;
}
.signup_login_popup_wrapper .otpsms_login_verify .form-label,
.signup_login_popup_wrapper .otpsms_login_verify .form-element{
	text-align:left;
	width:100%;
	max-width:100%;
	min-width:inherit;
}
.signup_login_popup_wrapper .otpsms_login_verify .form-element input[type="text"]{
	width:100%;
}
.signup_login_popup_wrapper .otpsms_login_verify #buttons-label{
	display:none;
}
/*Login Page*/
.global_form_box .showhide_password,
.otpsms_login_form .showhide_password{
	display:none;
}
.otpsms_login_form input[type="text"],
.otpsms_login_form input[type="password"],
.otpsms_login_form input[type="email"]{
	width:100% !important;
	max-width:100% !important;
}
html .otpsms_login_form div.form-element{
	float:none;
	overflow:hidden;
}
html .otpsms_login_form #otp-element{
	text-align:right;
	font-size:90%;
}
html .otpsms_login_form #otp-element ._loadingimg{
	float:left;
}
html #user_form_login.otpsms_login_form .form-wrapper{
	padding-left:0 !important;
}
html #user_form_login.otpsms_login_form #submit-wrapper{
	clear:both;
	width:100%;
}
html #user_form_login.otpsms_login_form #buttons-wrapper{
	margin-top:10px;
	clear:both;
	float:left;
	width:100%;
}
html #user_form_login.otpsms_login_form #remember-wrapper{
	float:left;
	padding-top:0;
}
html #user_form_login.otpsms_login_form .form-wrapper #remember-label{
	display:block;
}
html #user_form_login.otpsms_login_form #remember-wrapper input[type="checkbox"]{
	margin-top:4px;
}
html #user_form_login.otpsms_login_form #forgot-wrapper{
	float:right;
}
html #user_form_login.otpsms_login_form #forgot-label{
	display:none;
}
html #user_form_login.otpsms_login_form #forgot-element{
	min-width:inherit;
	margin-top:0;
}

/*Signup Form*/
#signup_account_form #otp_phone_number .form-wrapper{
	clear:none;
	float:left;
	margin-right:5px;
	width:inherit !important;
}
#signup_account_form #otp_phone_number .form-wrapper .form-label{
	display:none;
}
#signup_account_form #otp_phone_number .form-wrapper .form-element{
	min-width:inherit;
}
#signup_account_form #otp_phone_number .form-wrapper .form-element input[type="text"]{
	width:180px;
}