/* $Id:main.css 2016-07-23 00:00:00 SocialEngineSolutions $*/

/*Review Add Parameter Popup*/
.eblog_review_parameter_popup{
  width:450px;
}
.eblog_review_parameter_popup .settings .form-wrapper{
  padding: 0;
}
.eblog_review_parameter_popup .form-label{
  display:none;
}
.eblog_review_parameter_popup .reviewparameter{
  margin:0 10px 10px 0;
}
.eblog_review_parameter_popup .sesmember_added_parameter{
  margin-right: 10px;
}
.eblog_review_parameter_popup .fa:before{
  margin-right:5px;
}
.eblog_review_parameter_popup a.fa:hover{
  text-decoration:none;
}
.eblog_view_stats_popup {
	padding: 20px;
	width:600px;
}
.eblog_view_popup_con .eblog_popup_img_blog{
	overflow: hidden;
	display: block;
	margin-bottom:10px;
	border-bottom-width: 1px;
	padding-bottom: 10px;
}
.eblog_view_popup_con .eblog_popup_img_blog p.popup_img img{
	margin-right: 15px;
	float: left;
	width: 130px;
}
.eblog_view_popup_con .eblog_popup_img_blog p.popup_title{
	font-size: 15px;
	font-weight: bold;
	margin-bottom:8px;
}
.eblog_view_popup_con .eblog_popup_img_blog p.owner_title{
		margin-bottom:8px;
}
.eblog_view_popup_con .eblog_popup_img_blog p.owner_title b{
	font-weight:bold;
	min-width:100px;
	display:inline-block;
}
.eblog_view_popup_con .eblog_popup_owner_blog p.owner_title{
	margin-bottom:8px;
}
.eblog_view_popup_con .eblog_popup_owner_blog p.owner_title b{
	font-weight:bold;
}
.eblog_view_popup_con .eblog_popup_owner_blog p.owner_des{
	text-align:justify;
}
/*Clain Request Status Form*/
.eblog_claim_approve_form{
	padding:15px;
}
.eblog_claim_approve_form  #admin_comment-wrapper #admin_comment-label{
	margin-bottom:5px;
}
.eblog_claim_approve_form  #approve-wrapper #approve-label{
	display:none;
}
.eblog_claim_approve_form  #approve-wrapper #approve-element{
	margin-top:5px;
}
/*Import Music*/
button.eblog_import_button{
  background-color: #83b64e;
  background-image: url(~/application/modules/Eblog/externals/images/admin/import.png);
  background-position: 5px center;
  background-repeat: no-repeat;
  border: medium none;
  border-radius: 0;
  font-size: 17px;
  font-weight: normal;
  padding: 10px 10px 10px 35px;
  text-shadow: inherit;
}
button.eblog_import_button:hover{
  background-color: #78a946;
}
.eblog_import_msg span{
  background-position: 5px center;
  background-repeat: no-repeat;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-size: 17px;
  padding: 10px 10px 10px 35px;
}
.eblog_import_loading span{
  background-color: #6fbbde;
  background-image: url(~/application/modules/Eblog/externals/images/admin/loading.GIF);
}
.eblog_import_success span{
  background-color: #83b64e;
  background-image: url(~/application/modules/Eblog/externals/images/admin/success.png);
}
.eblog_import_error span{
  background-color: #c12e2a;
  background-image: url(~/application/modules/Eblog/externals/images/admin/error.png);
}

/*Import Blogs*/
.eblog_import_buttons{
  text-align:center;
}
.eblog_import_buttons a{
  border:2px solid #0DC7F1;
  padding:10px;
  display:inline-block;
  width:230px;
  text-decoration:none !important;
  font-size:15px;
  line-height:16px;
  margin:0 3px;
}
.eblog_import_buttons a:before{
  display:inline-block;
  height:16px;
  width:16px;
  content:"";
  margin-right:5px;
  vertical-align:middle;
}
.eblog_import_buttons a:hover{
  opacity:.8;
}
.eblog_download:before{background-image:url(~/application/modules/Eblog/externals/images/download.png);}
.eblog_import:before{background-image:url(~/application/modules/Eblogs/externals/images/import.png);}
.eblog_admin_manage_table tbody tr{
  cursor:move;
}
