.layout_quicksignup_login_or_signup_popup{
    display: none;
}
.birthday-cnt .form-element {
    display: flex;
}
#TB_ajaxContent #signup_account_form .form-wrapper-heading > span{
	position: relative !important;
}
