
.sesgroupveroth_manage_requests td{
	white-space:normal;
}
.sesgroupveroth_ml_settings #veryothermember-wrapper .form-label,
.sesgroupveroth_ml_settings #gettingberified-wrapper .form-label{
	width:100%;
	font-size:15px;
}
.sesgroupveroth_manage_members ._member img,
.sesgroupveroth_manage_members ._member span{
	display:inline-block;
	vertical-align:middle;
}
.sesgroupveroth_manage_members ._member img{
	height:35px;
	width:35px;
	margin-right:5px;
}
/*Popup CSS Start Here*/
.sesgroupveroth_details_popup{
	width:600px;
	margin:10px 0 0 10px;
}
.sesgroupveroth_details_popup ._head{
	background-image:url(~/application/modules/Sesgroupveroth/externals/images/transprant-bg.png);
	border-bottom-width:1px;
	padding:10px;
	font-weight:bold;
	font-size:17px;
}
.sesgroupveroth_details_popup ._content{
	padding:10px;
	max-height:450px;
	overflow:auto;
}
.sesgroupveroth_details_popup ._content li{
	overflow:hidden;
}
.sesgroupveroth_details_popup ._content li + li{
	padding-top:10px;
	margin-top:10px;
	border-top-width:1px;
}
.sesgroupveroth_details_popup_item ._thumb{
	float:left;
	margin-right:10px;
	height:80px;
	width:80px;
}
.sesgroupveroth_details_popup_item ._thumb img{
	height:100%;
	object-fit:cover;
	vertical-align:middle;
	width:100%;
}
.sesgroupveroth_details_popup_item ._cont{
	display:block;
	overflow:hidden;
}
.sesgroupveroth_details_popup_item ._name{
	margin-bottom:5px;
}
.sesgroupveroth_details_popup_item ._name a{
	font-weight:bold;
}
.sesgroupveroth_details_popup_item ._des{
	font-size:12px;
}
.sesgroupveroth_details_popup ._footer{
	margin-top:10px;
}
/*Popup CSS End Here*/

