.layout_courses_course_certificate{
	background:none !important;
	box-shadow:none !important;
	border:0 !important;
	padding:0 !important;
}
.certificate{
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 2rem;
    background-image: url(../images/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
		border-width: 1px;
}
.certificate  .certificate-inner{
    background: #e8e8e8;
    padding: 1.5rem .5rem;
    padding-bottom: 0;
    position: relative;
}
.certificate  .top-badge{
    position: relative;
}
.certificate  .top-badge h1{
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    font-size: 1.7em;
    letter-spacing: 2px;
    margin: 0;
}
.certificate  .main-content a{
    text-decoration: none;
    display: block;
    color: #9a9a9a;
    margin-bottom: .8rem;
}
.certificate  .main-content p{
    max-width: 55%;
    margin: auto;
    font-size: 20px;
    color: #6f6f6f;
}
.certificate .main-content img {
    max-width: 200px;
}
.certificate .main-content {
    text-align: center;
}
.certificate  .main-content h3{
    font-family: 'Roboto',sans-serif;
    letter-spacing: 1px;
}
.certificate  .main-content p  span.name{
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
    font-size: 1.5em;
    line-height: 2;
    color: #d42127;
}
.certificate  .main-content  .jury  ul {
    list-style-type: none;
    padding-left: 0;
    width: 75%;
    margin: 1rem auto;
}
.certificate  .main-content  .signature-footer  ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 2rem;
		text-align: center;
 }
 .certificate .main-content .signature-footer ul li .signature {
    font-style: italic;
    font-size: 18px;
}
 .certificate  .main-content  .signature-footer  ul  li{
    display: inline-block;
    width: 25%;
    position: relative;
 }
 .certificate  .main-content  .signature-footer  ul  li  span {
    line-height: 0.5;
    color: #4f4f4f;
    display: block;
}
.certificate  .main-content  .signature-footer  ul  li  .color-line{
    width: 80%;
    border-bottom: 2px solid #b82025;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
		top:15px;
}
.certificate  .main-content  .jury  ul  li{
    display: inline-block;
    width: 19%;
    color: #6f6f6f;
}
.certificate  .main-content  .jury  ul  li{
    text-transform: uppercase;
    font-size: .9em;
}
.certificate  .main-content  .jury  ul  li  strong{
    text-transform: capitalize;
    line-height: 1.5;
}
.certificate  .main-content  .number-link  a{
    display: inline-block;
    margin-bottom: .4rem;
    font-size: .9em;
    font-family: 'Roboto',sans-serif;   
}
.certificate  .main-content  .number-link{
    text-align: left;
}
.certificate  .main-content  .number-link  .link{
    float: right;
    line-height: 4;
}
.certificate .main-content h2 {
    font-weight: bold;
    font-size: 42px;
    letter-spacing: .5px;
    margin: 10px 0;
}