
/*NOTIFICATIONS & ACTIVITY FEED ICONS*/
/*Business*/
.item_icon_businesses:before,
.notification_type_sesbusiness_business_wtapr:before,
.notification_type_sesbusiness_waitingadminapproval:before,
.notification_type_sesbusiness_business_adminaapr:before,
.notification_type_sesbusiness_business_bsfollwlike:before,
.notification_type_sesbusiness_business_follow:before,
.notification_type_sesbusiness_business_bsjoinlike:before,
.notification_type_sesbusiness_business_like:before,
.notification_type_sesbusiness_business_favourite:before,
.notification_type_sesbusiness_invite:before,
.notification_type_sesbusiness_businessjoinednamechange:before,
.notification_type_sesbusiness_businessfavouritednamechange:before,
.notification_type_sesbusiness_businessroll_ctbs:before,
.notification_type_sesbusiness_crosspost_ctbs:before,
.notification_type_sesbusiness_crosspost_apbs:before,
.notification_type_sesuser_claimadmin_business:before,
.notification_type_sesuser_claim_business:before,
.notification_type_sesbusiness_business_admindisapr:before{
	content:"\\f15b";
}
.notification_type_sesbusiness_business_newanc:before{
	content:"\\f0f6";
}
/*Album*/
.item_icon_sesbusiness_album:before,
.item_icon_sesbusiness_photo:before,
.notification_type_sesbusiness_business_bsjoinalbum:before,
.notification_type_sesbusiness_business_bsjoinphoto:before{
	content:"\\f03e";
}
/*Check*/
.notification_type_sesbusiness_claim_approve:before,
.notification_type_sesbusiness_owner_informed:before{
	content:"\\f058";
}
/*Member Join*/
.notification_type_sesbusiness_approve:before {
	content:"\\f234";
}
.sesbusiness_icon_business_accept:before{
 content:"\\f234";
}
.sesbusiness_icon_business_reject:before{
  content:"\\f235";
}
.sesbusiness_icon_business_cancel:before{
  content:"\\f235";
}
.sesbusiness_icon_business_leave:before{
	content:"\\f00d";
}
.sesbusiness_icon_business_join,
.activity_icon_sesbusiness_join:before,
.notification_type_sesbusiness_accepted:before{
	content:"\\f234";
}
#compose-sesbusiness_photo-activator:before,
#compose-sesbusiness_photo-menu span:before {
	content: "\\f03e";
	font-family: fontawesome;
	margin-right: 6px;
	color: #4CAF50;
}
#messages_compose #compose-sesbusiness-activator,
#messages_form_reply #compose-sesbusiness-activator{
  display:none !important;
}

/*Generic Container*/
[class*='layout_sesbusiness_'], [id^='global_business_sesbusiness-'] .layout_core_content{
  clear:both;
  margin-bottom:15px;
}
[class*='layout_sesbusiness_']:after, [id^='global_business_sesbusiness-'] .layout_core_content:after{
  clear:both;
  content:'';
  display:block;
}
[id^='global_business_sesbusiness-'] .layout_core_content + .layout_core_comments{
  border-top:1px solid $theme_border_medium_color;
  padding-top:10px;
}
[id^='global_business_sesbusiness-'] .layout_core_content + .layout_core_comments > h3{
  display:none;
}
[class*='tab_layout_sesbusiness_']{
  margin:0;
  clear:none;
}
/*FEED ITEMS*/
.feed_attachment_businesses > div{
  border-width:1px;
  margin-bottom:5px;
  overflow:hidden;
}
.feed_attachment_businesses > div > a{
  display:block;
}
.feed_attachment_businesses > div > a > img{
  height:250px;
  margin:0;
  width:100%;
  max-height:inherit !important;
  max-width:inherit !important;
  object-fit:cover;
}
.feed_attachment_businesses > div > div{
  clear:both;
  padding:10px 15px;
}
.feed_attachment_businesses .feed_item_link_title{
  font-size:14px !important;
}
.feed_attachment_businesses .feed_item_link_desc{
  font-size:13px !important;
}
.feed_item_attachments .feed_attachment_sesbusiness_album > div > a img{
	max-width: 100% !important;
	max-height: 400px !important;
	width: auto;
}
.feed_item_attachments .feed_attachment_sesbusiness_album > div > a + div{
	display:none;
}
.feed_attachment_sesbusiness_photo div{
	max-height:450px;
}
.feed_attachment_sesbusiness_photo div a img{
	max-width: 100% !important;
	max-height:450px !important;
	width: 100%;
  object-fit: cover;
}
/*Button*/
.sesbusiness_button{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color !important;
	text-align:center;
}
.sesbusiness_button:hover{
	background-color:$theme_button_background_color_hover;
	color:$theme_button_font_color !important;
	text-decoration:none;
}
.sesbusiness_button i{
	margin-right:5px;
}
/*Highlighted Border Color*/
.businesslocation_compose_photo_uploader:hover{
	border-color:$theme_button_background_color;
}
/*Highlighted Text Color*/
.sesbusiness_ht,
.sesbusiness_sidebar_info_block li > i{
	color:$theme_button_background_color !important;
}
.businesslocation_compose_photo_uploader:hover i,
.businesslocation_compose_photo_uploader:hover span,
.sesbusiness_businesses_slideshow .owl-nav > div,
.sesbusiness_dashboard_tabs > ul ul a i,
.sesbusiness_grid_item ._contactlinks a{
	color:$theme_button_background_color;
}

/*DASHBOARD CSS START HERE*/
.sesbusiness_fg_color,
.sesbusiness_dashboard_top_section,
.sesbusiness_dashboard_content,
.sesbusiness_dashboard_tabs > ul,
.sesbusiness_dashboard_business_info,
.sesbusiness_tags_cloud_business .sesbusiness_tags_cloud_list li a{
	background-color:$theme_list_background_color;
}
.sesbusiness_create_tips .create_tips_top_sec{
	background-color:$theme_button_background_color;	
}
.sesbusiness_create_tips .create_tips_top_sec:before{
	border-color:transparent $theme_button_background_color transparent transparent;
	opacity:0.5;
}
.sesbusiness_create_tips .create_tips_bottom_sec ol li{
	color:$theme_button_background_color;
}
.sesbusiness_dashboard_tabs > ul ul li.active a,
.sesbusiness_dashboard_tabs > ul ul li.active a i{
	color:$theme_font_color;
}
.sesbusiness_dashboard_tabs > ul > li > a{
	background-color:$theme_button_background_color !important;
	color:$theme_button_font_color !important;
}
/*DASHBOARD CSS END HERE*/
/*LISTING CSS START HERE*/
.sesbusiness_listing_share_popup,
.sesbusiness_grid_item article,
.sesbusiness_grid_cover_item article,
.ui-timepicker-standard,
.sesbusiness_banner_search_wrapper ._catsection > ._cont,
.sesbusiness_banner_search_wrapper ._searchform form,
.sesbusiness_hlist_item article{
	background-color:$theme_list_background_color;
}
.sesbusiness_cover_inner,
.sesbusiness_grid_cover_item ._cover,
.sesbusiness_cover_empty{
  background:$theme_button_background_color;
  background:-webkit-linear-gradient(to left, $theme_button_background_color, #eef2f3);
  background:linear-gradient(to left, $theme_button_background_color, #eef2f3);
}
.sesbusiness_businesses_slideshow .owl-dots div{
	background-color:$theme_button_background_color_hover;
}
.sesbusiness_advgrid_item ._cont ._listbuttons > div  > a:hover,
.sesbusiness_banner_categories .owl-nav > div{
	color:$theme_button_cont_color;
	border-color:$theme_button_background_color;
	background-color:$theme_button_background_color;
}
.sesbusiness_banner_search_wrapper ._maincontent,
.sesbusiness_banner_search_wrapper ._catsection{
	max-width:$theme_content_width;
	margin:0 auto;
}
/*LISTING CSS END HERE*/
/*BUSINESS PROFILE CSS START HERE*/
.sesbusiness_more_link a{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
}
.sesbusiness_cover_container_full ._cnw{
	max-width:$theme_content_width;
	margin:0 auto;
}
.sesbusiness_cover_d1 ._footer .sesbasic_icon_btn:hover{
	background-color:$theme_button_background_color;
}
.sescover_footer_des2_footer ._leftbtns > div > a > i,
.sesbusiness_banner_search_wrapper ._searchform form .form-wrapper:before{
	color:$theme_font_color_light;
}
/*.sescover_footer_des2_footer ._leftbtns > div > a.button_active > i{
	color:$theme_button_background_color;
}*/
.sesbusiness_mainphoto_block ._vtabs .tabs_alt > ul > li.active > a,
.sesbusiness_mainphoto_block ._vtabs .tabs_alt > ul > li > a:hover,
.sesbusiness_businesses_slideshow .owl-nav > div,
.sesbusiness_options_dropdown_links li a:hover{
	background-color:$theme_button_background_color !important;
	color:$theme_button_font_color !important;
}
.sesbusiness_options_dropdown_arrow{
	border-bottom:5px solid $theme_border_color;
}
.sesbusiness_options_dropdown_links{
	border:1px solid $theme_border_color;
	background-color:$theme_list_background_color;
}
.sesbusiness_profile_tips,
.sesbusiness_profile_button_action_popup .step2_ops ._icon,
.sesbusiness_profile_button_action_link_popup_cont,
.sesbusiness_profile_action_button ._tip,
.sescover_footer_des2_footer{
	background-color:$theme_list_background_color;
}
.sesbusiness_profile_tips_header{
	background-color:$theme_button_background_color;
}
.sesbusiness_profile_tips_header *,
.sesbusiness_profile_tips_header ._remove,
.sesbusiness_businesses_slideshow .owl-nav > div i:before{
	color:$theme_button_font_color;
}
.sesbusiness_profile_action_button ._tip:before{
	border-bottom:8px solid $theme_list_background_color;
}
.sesbusiness_profile_mainphoto_change_btn .sesbasic_option_box > i,
.sesbusinesscover_option_box_arrow{
	border-bottom:10px solid $theme_list_background_color;
}
/*BUSINESS PROFILE CSS END HERE*/
/*WELCOME BUSINESS CSS START HERE*/
.sesbusiness_welcome_business{
	background-color:$theme_list_background_color;
}
.sesbusiness_welcome_business #global_content .layout_middle .generic_layout_container,
.sesbusiness_welcome_business #global_content .sesbusiness_howitworks_wrapper{
	max-width:$theme_content_width;
}
@media (min-width:768px){
	.sesbusiness_welcome_business #global_content .layout_main .layout_sesbusiness_browse_menu .tabs > ul > li > a{
		border:1px solid $theme_button_background_color;
		color:$theme_button_background_color;
	}
}
.sesbusiness_welcome_business #global_content .generic_layout_container > h3:after{
	content:"";
	border-bottom:3px solid $theme_button_background_color;
	width:80px;
	position:absolute;
	left:50%;
	margin-left:-40px;
	bottom:-20px;
}
@media (max-width:767px){
	.sesbusiness_banner_search_wrapper ._searchform .form-elements > .form-wrapper{
		border-bottom:1px solid $theme_border_color;
	}
}
/*WELCOME BUSINESS CSS END HERE*/