.seslinkedin_member_other_info:before{
	background:$theme_border_color;
}
.seslinkedin_member_photo{
  border:2px solid $theme_box_background_color;
}
.seslinkedin_member_other_info > a ._count{
	color:$theme_link_color_hover;
}
.seslinkedin_member_other_info > div ._count{
	color:$theme_link_color_hover;
}
.seslinkedin_quick_popup{
	background: $theme_box_background_color;
}
.seslinkedin_quick_popup .mfp-close{
	color:$theme_button_background_color;
}