/* HOME PHOTO WIDGET */
.layout_seslinkedin_home_photo{
	overflow:hidden;
}
.seslinkedin_member_cover {
	background-image:url('../images/member-cover-bg.png');
	background-size: cover;
	background-position: top center;
	height: 54px;
	display: block;
	margin: -12px -12px 0;
}
.seslinkedin_member_photo{
  box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
  margin: -38px auto 12px;
  width:72px;
	height:72px;
	border-radius:50%;
	overflow:hidden;
}
.seslinkedin_member_photo > a > img{
	width:100%;
	height:100%;
	object-fit:cover;
	object-position:center center;
}
.seslinkedin_member_info {
  text-align:center;
}
.seslinkedin_member_info h3 {
	font-size: 16px;
	font-weight: 600;
	padding: 0;
}
.seslinkedin_member_info p{
  margin-top:5px;
}
.seslinkedin_member_other_info {
	padding-top: 5px;
	margin-top: 16px;
	position: relative;
}
.seslinkedin_member_other_info:before {
	content: "";
	position: absolute;
	top: 0;
	left: -14px;
	right: 0;
	height: 1px;
	width: 115%;
}
.seslinkedin_member_other_info > div{
	display: flex;
	justify-content: space-between;
	margin-top: 8px;
}
.seslinkedin_member_other_info > div span {
  font-weight: 600;
}
