[id^='global_page_sesqa-admin-'] .tabs ul li a {
  padding: 16px 14px;
}
[id^='global_page_sesqa-admin-'] .tabs ul li:last-child a{
	border:0;
} 
/*Loading Message*/
.sesqa_waiting_msg_box{
	background-color:rgba(255, 255, 255, 0.8);
	height:100%;
	left:0;
	position:fixed;
	top:0;
	width:100%;
}
.sesqa_waiting_msg_box_cont{
	background-color:rgba(255, 255, 255, 0.8);
	border:5px solid #43bbef;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
	font-size:20px;
	font-weight:bold;
	height:100px;
	left:50%;
	margin:-50px 0 0 -300px;
	padding:20px;
	position:fixed;
	text-align:center;
	top:50%;
	width:600px;
	z-index:24;
}
.sesqa_waiting_msg_box_cont i{
	background-image:url(~/application/modules/Sesqa/externals/images/loading.gif);
	background-position:center center;
	background-repeat:no-repeat;
	display:block;
	height:30px;
	margin-top:20px;
	width:100%;
}
/* NAV BTNS */
.sesqa_nav_btns {
	float: right;
	margin-top: -40px;
}
.sesqa_nav_btns a.request-btn {
  background-image: url(~/application/modules/Sesqa/externals/images/request.png);
}
.sesqa_nav_btns a {
	background-color: #f36a33;
	border-radius: 3px;
	background-position: 10px center;
	background-repeat: no-repeat;
	color: #fff;
	float: left;
	font-weight: bold;
	padding: 7px 15px 7px 30px;
	margin-left: 10px;
	position: relative;
}
.sesqa_search_result{
	font-weight: bold;
	margin-bottom: 10px;
}
.sesqa_search_form form {
  padding: 10px !important;
}
.sesqa_search_form form > div {
	display: inline-block;
	float: none !important;
	margin: 5px 10px 5px 0 !important;
}
.sesqa_search_form form > div label {
  font-weight: normal;
}
.sesqa_search_form form > div input[type="text"], 
.sesqa_search_form form > div select {
	min-width: 100px !important;
	padding: 5px !important;
	max-width: 200px !important;
}
/*Category Form*/
.sesqa-categories-form *{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.sesqa-categories-add-form{
  float:left;
  padding-right:20px;
  position:relative;
  width:35%;
}
.sesqa-categories-add-form h4{
  font-size:15px;
}
.sesqa-categories-add-form .sesqa-form-field{
  margin-top:15px;
}
.sesqa-categories-add-form .sesqa-form-field-label{
  margin-bottom:5px;
}
.sesqa-categories-add-form .sesqa-form-field label{
  font-weight:bold;
}
.sesqa-categories-add-form .sesqa-form-field-element p{
  margin-top:5px;
  font-size:11px;
}
.sesqa-categories-add-form input[type="text"], .sesqa-categories-add-form textarea{width:100%;}
.sesqa-categories-add-form textarea{min-height:100px;}
.sesqa-categories-add-form select{max-width:100%;}
.sesqa-categories-add-form-overlay{
  background:url(~/application/modules/Sesbasic/externals/images/loading.gif) no-repeat center rgba(255, 255, 255, .5);
  position:absolute;
  bottom:0;
  top:0;
  left:0;
  right:0;
}
.sesqa-categories-listing{
  background-color:#f5f5f5;
  float:right;
	position:relative;
  width:65%
}
.sesqa-categories-listing .sesqa-category-icon{
  max-width:20px;
}
.sesqa-categories-listing span.buttons{
  margin:5px;
  float:left;
}
/*Tabs*/
html .sesqa_tabs ul li a{
	padding:5px 4px;
}
/*Sub Tabs*/
.sesqa-admin-sub-tabs{
	background-color:#fcfcfc;
	border-bottom:1px solid #e9e9e9;
	margin-bottom:15px;
	padding:10px 15px 0;
}
.sesqa-admin-sub-tabs:after{
  clear:both;
  content:'';
  display:block;
}
.sesqa-admin-sub-tabs li{
	float:left;
	margin-right:10px;
}
.sesqa-admin-sub-tabs a{
	border:1px solid #e9e9e9;
	border-bottom-width:0;
	border-radius:3px 3px 0 0;
	box-shadow:0px 1px 3px #fff inset;
	color:#555;
	display:block;
	font-weight:bold;
	margin:0 5px 0 0;
	outline:none;
	padding:8px 10px;
	text-shadow:1px 1px 1px #fff;
  background:#f5f5f5;
  background:-moz-linear-gradient(top, #fafafa 0%, #f5f5f5 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #f5f5f5));
  background:-webkit-linear-gradient(top, #fafafa 0%, #f5f5f5 100%);
  background:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f5f5f5));
  background:linear-gradient(to bottom, #fafafa 0%,#f5f5f5 100%);
}
.sesqa-admin-sub-tabs a:hover{
	text-decoration:none;
  background:#fafafa;
}
.sesqa-admin-sub-tabs li.active a{
  background:#fff;
  margin-bottom:-1px;
  padding-top:9px;
  position:relative;
}
.sesqa-admin-sub-inner-tabs{
  background-color:transparent;
  margin:0 15px 20px;
  padding:0;
}





/* Help setting tab in admin panel */
.sesqa_support_links
{
	display: flex;
	flex-wrap: wrap;
}

.sesqa_support_links a
{
	padding: 40px 10px;
	width: 30%;
	margin: 5px;
	text-align: center;
	text-decoration: none !important;
	font-family: monospace;
	transition: all .5s ease;
}

.sesqa_support_links a h4
{
	font-size: 20px;
	font-weight: bold;
	color: #706e6e;
}

.sesqa_support_links a p
{
	font-size: 15px;
	padding: 0 20px;
	margin-top: 10px;
	color: #818181;
}

.sesqa_support_links a:nth-child(4n+1)
{
	background: #e1f9ed;
}

.sesqa_support_links a:nth-child(4n+2)
{
	background: #daf5ce;
}

.sesqa_support_links a:nth-child(4n+3)
{
	background: #fbf9d6;
}

.sesqa_support_links a:nth-child(4n+4)
{
	background: #ffe4ed;
}

.sesqa_support_links a:nth-child(4n+5)
{
	background: #ebe0ff;
}

.sesqa_support_links a:nth-child(4n+6)
{
	background: #e3e7ff;
}

.sesqa_support_links a:hover
{
	box-shadow: 0 20px 20px -15px #cacaca;
	transform: scale(1.01);
	transition: all .5s ease;
}

.sesqa_support_links a img
{
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
	filter: invert(60%);
}

.sesqa_support_links b
{
	font-weight: bold;
}
