/* $Id:main.css 2018-05-07 00:00:00 SocialEngineSolutions $*/

/*Review Add Parameter Popup*/
.sesrecipe_review_parameter_popup{
  width:450px;
}
.sesrecipe_review_parameter_popup .settings .form-wrapper{
  padding: 0;
}
.sesrecipe_review_parameter_popup .form-label{
  display:none;
}
.sesrecipe_review_parameter_popup .reviewparameter{
  margin:0 10px 10px 0;
}
.sesrecipe_review_parameter_popup .sesmember_added_parameter{
  margin-right: 10px;
}
.sesrecipe_review_parameter_popup .fa:before{
  margin-right:5px;
}
.sesrecipe_review_parameter_popup a.fa:hover{
  text-decoration:none;
}
.sesrecipe_view_stats_popup {
	padding: 20px;
	width:600px;
}
.sesrecipe_view_popup_con .sesrecipe_popup_img_recipe{
	overflow: hidden;
	display: block;
	margin-bottom:10px;
	border-bottom-width: 1px;
	padding-bottom: 10px;
}
.sesrecipe_view_popup_con .sesrecipe_popup_img_recipe p.popup_img img{
	margin-right: 15px;
	float: left;
	width: 130px;
}
.sesrecipe_view_popup_con .sesrecipe_popup_img_recipe p.popup_title{
	font-size: 15px;
	font-weight: bold;
	margin-bottom:8px;
}
.sesrecipe_view_popup_con .sesrecipe_popup_img_recipe p.owner_title{
		margin-bottom:8px;
}
.sesrecipe_view_popup_con .sesrecipe_popup_img_recipe p.owner_title b{
	font-weight:bold;
	min-width:100px;
	display:inline-block;
}
.sesrecipe_view_popup_con .sesrecipe_popup_owner_recipe p.owner_title{
	margin-bottom:8px;;
}
.sesrecipe_view_popup_con .sesrecipe_popup_owner_recipe p.owner_title b{
	font-weight:bold;
}
.sesrecipe_view_popup_con .sesrecipe_popup_owner_recipe p.owner_des{
	text-align:justify;
}
/*Clain Request Status Form*/
.sesrecipe_claim_approve_form{
	padding:15px;
}
.sesrecipe_claim_approve_form  #admin_comment-wrapper #admin_comment-label{
	margin-bottom:5px;
}
.sesrecipe_claim_approve_form  #approve-wrapper #approve-label{
	display:none;
}
.sesrecipe_claim_approve_form  #approve-wrapper #approve-element{
	margin-top:5px;
}
/*Import Music*/
button.sesrecipe_import_button{
  background-color: #83b64e;
  background-image: url(~/application/modules/Sesrecipe/externals/images/admin/import.png);
  background-position: 5px center;
  background-repeat: no-repeat;
  border: medium none;
  border-radius: 0;
  font-size: 17px;
  font-weight: normal;
  padding: 10px 10px 10px 35px;
  text-shadow: inherit;
}
button.sesrecipe_import_button:hover{
  background-color: #78a946;
}
.sesrecipe_import_msg span{
  background-position: 5px center;
  background-repeat: no-repeat;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-size: 17px;
  padding: 10px 10px 10px 35px;
}
.sesrecipe_import_loading span{
  background-color: #6fbbde;
  background-image: url(~/application/modules/Sesrecipe/externals/images/admin/loading.GIF);
}
.sesrecipe_import_success span{
  background-color: #83b64e;
  background-image: url(~/application/modules/Sesrecipe/externals/images/admin/success.png);
}
.sesrecipe_import_error span{
  background-color: #c12e2a;
  background-image: url(~/application/modules/Sesrecipe/externals/images/admin/error.png);
}