
.sesimp_listing_item_add_btn{
	background-color:$theme_button_background_color;
}
.sesimp_listing_item_add_btn i:before{
	color:$theme_button_font_color;
}
.sesimp_search .form-elements{
  background-color:$theme_list_background_color;
  border:1px solid $theme_border_dark_color;
}
.sesimp_search #submit-element button:before{
	color:$theme_font_color;
}