

/*Global Form*/
.seselegant_admin_form #seselegant_block_1-wrapper{
	border-top:1px solid #ddd;
}

.elegant_manangemenu_table{
	width:40%;
}
.elegant_manangemenu_icon{
	background-color:#bbb;
	max-width:30px;
	padding:10px;
}
/*Advanced HTML Widget Editor*/
#global_page_core-admin-content-widget .mce-tinymce.mce-container{
	margin-top:15px;
	width:800px;
}
/*Manage Slideshow*/
.elegant_manage_slides{
	width:60%;
}
.elegant_manage_slides_head > div{
	background-color:#f5f5f5;
	padding:10px;
	border-bottom:1px solid #aaa;
	float:left;
	font-weight:bold;
	padding-top:7px;
	padding-bottom:7px;
	white-space:nowrap;
}
.elegant_manage_slides_list{
	margin-bottom:10px;
}
.elegant_manage_slides_list li{
	border-bottom:1px solid #eee;
	cursor:move;
	clear:both;
	overflow:hidden;
}
.elegant_manage_slides_list li:nth-child(odd){
	background-color:#fff;
}
.elegant_manage_slides_list li:nth-child(even) {
	background-color:#f8f8f8;
}
.elegant_manage_slides_list li > div{
	padding:10px;
	font-size:.9em;
	float:left;
	padding-top:7px;
	padding-bottom:7px;
	vertical-align:top;
	white-space:normal;
}
.elegant_manangeslides_slide{
	width:100px;
}
/*Global Form*/
div .seselegant_admin_form .form-description {
	max-width:inherit;
}
div .seselegant_admin_form .form-element .description {
	max-width:650px;
}
.seselegant-form{
 +foreground;
	padding:10px;
	overflow:hidden;
}
.seselegant-form > div{
	background:#fff;
	border:1px solid #ccc;
	overflow:hidden;
	padding:0px;
}
.seselegant-form-cont{
	padding:0 15px 15px;
}
.seselegant-form-cont:after{
  clear:both;
  content:'';
  display:block;
}
.seselegant-form .settings form, 
.seselegant-form .settings form > div{
	border-width:0;
	background-color:transparent;
	padding:0;
}

/*Contact SocialEngineSolution Form*/
.seselegant_site_view {
	border:5px solid #f5f5f5;
	margin-top:15px;
}