
.core_admin_main_seslinkedin{
	border-radius:3px 3px 0 0;
	background-color:#f36a33;
	color:#fff !important;
}
.core_admin_main_seslinkedin:hover {
	background-color:#444;
}
/*Color Scheme Form*/
.seslinkedin_themes_form .form-label{
  margin-bottom:5px;
}
.seslinkedin_themes_form #theme_color-label{
  border-bottom-width:1px;
  font-size:15px;
  padding-bottom:15px;
  text-align:center;
  width:100%;
}
.seslinkedin_themes_form #theme_color-wrapper .form-element{
  clear:both;
  text-align:center;
}
.seslinkedin_themes_form #theme_color-wrapper ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.seslinkedin_themes_form #theme_color-wrapper .form-element li{
  box-sizing:border-box;
  margin:10px 10px 0 0;
  padding-bottom:30px;
  position:relative;
  width:275px;
}
.seslinkedin_themes_form #theme_color-wrapper .form-element li input{
  bottom:0;
  float:none;
  left:50%;
  margin-bottom:10px;
  position:absolute;
}
.seslinkedin_themes_form #theme_color-wrapper .form-element li label{
  cursor:pointer;
}
.seslinkedin_themes_form #theme_color-wrapper .form-element li img{
  width:100%;
}
.seslinkedin_themes_form #theme_color-wrapper .form-element li:last-child{
  clear:both;
  display:block;
  float:none;
  margin:0 auto;
  padding-top:20px;
  width:400px;
}
.seslinkedin_themes_form #theme_color-wrapper .form-element li:last-child:before{
  content:"Make You Own Theme (make sure the site is in Development Mode, before you make any changes)";
  font-size:15px;
  font-weight:bold;
  margin-bottom:10px;
}
.seslinkedin_themes_form #theme_color-wrapper .form-element li:last-child img{
  margin-top:10px;
}
.seslinkedin_themes_form #header_settings-wrapper,
.seslinkedin_themes_form #footer_settings-wrapper,
.seslinkedin_themes_form #body_settings-wrapper,
.seslinkedin_themes_form #lp_settings-wrapper{
  border-bottom-width:1px;
}
.seslinkedin_themes_form #header_settings-wrapper .form-label,
.seslinkedin_themes_form #footer_settings-wrapper .form-label,
.seslinkedin_themes_form #body_settings-wrapper .form-label,
.seslinkedin_themes_form #lp_settings-wrapper .form-label{
  font-size:15px;
  width:auto;
}
.seslinkedin_themes_form #header_settings_group > fieldset > div,
.seslinkedin_themes_form #footer_settings_group > fieldset > div,
.seslinkedin_themes_form #body_settings_group > fieldset > div,
.seslinkedin_themes_form #lp_settings_group > fieldset > div{
  margin-right:3%;
  display:inline-block;
  width:30%;
}
.seslinkedin_themes_form #header_settings_group > fieldset > div > div,
.seslinkedin_themes_form #footer_settings_group > fieldset > div > div,
.seslinkedin_themes_form #body_settings_group > fieldset > div > div,
.seslinkedin_themes_form #lp_settings_group > fieldset > div > div{
  width:100%;
}
.seslinkedin_themes_form #seslinkedin_footer_heading_color-wrapper{
  display:none !important;
}
.seslinkedin_themes_form #custom_theme_color-label{
  width:140px;
}
.seslinkedin_styling_buttons{
  float:right;
  margin-top:-35px;
}
.seslinkedin_button{
  float:left;
  margin-right:15px;
  text-decoration:none !important;
}
.seslinkedin_button:before{margin-right:5px;}
.seslinkedin_button.disabled{color:#999;}
