

.sespawsnclaws_section_container{
	max-width:$theme_content_width;
	margin:0 auto;
}
.sespawsnclaws_intro_section .item:hover .item_icon_bg_holder{
	border: 20px solid $theme_button_background_color;
	opacity:.5;
}
.sespawsnclaws_intro_section .item:hover .item_icon_bg_holder .item_icon_circle{
	background-color: $theme_button_background_color;
}
.sespawsnclaws_mobileapp_section_wrapper{
	background-color:$theme_button_background_color;
}
.sespawsnclaws_mobileapp_section_wrapper *{
	color:#000;
}
.sespawsnclaws_feature_section_wrapper,
.sespawsnclaws_gallery_section_wrapper{
	background-color:$theme_list_background_color;
}
.sespawsnclaws_intro_section ._left .playbtn a{
	background-color:$theme_button_background_color;
}
