
/*Payment Request Page*/
.sespaymentapi_dashboard_threshold_amt{
	margin-bottom:10px;
}
.sespaymentapi_sale_stats_container{
	margin:0 -10px;
	display: flex;
	flex-wrap: wrap
}
.sespaymentapi_sale_stats{
  width:25%;
  padding:10px;
}
.sespaymentapi_sale_stats > div{
  border-width:1px;
  background-image:url(../images/t-img-light.png);
  height:100px;
  text-align:center;
	padding:25px 10px;
}
.sespaymentapi_sale_stats span:first-child{
  display:block;
  font-weight:bold;
}
.sespaymentapi_sale_stats span:nth-child(2){
  display:block;
  font-size:17px;
  margin-top:10px;
}
.sespaymentapi_request_payment_link{
  margin:10px 0 15px;
}
.sespaymentapi_request_payment_link{
  display:inline-block;
}
/*Payment Request View Popup*/
.sespaymentapi_view_detail_popup{
  margin:10px 0 0 10px;
  width:600px;
}
.sespaymentapi_view_detail_popup h3{
  margin-bottom:10px;
}
.sespaymentapi_view_detail_popup table{
  border-style:solid;
  border-width:1px;
  width:100%;
}
.sespaymentapi_view_detail_popup table tr:nth-child(2n) {
  background-image:url(../images/t-img-light.png);
}
.sespaymentapi_view_detail_popup table td{
  font-weight:bold;
  padding:5px;
  width:30%;
  vertical-align:top;
}
.sespaymentapi_view_detail_popup table td + td{
  font-weight:normal;
  width:70%;
}
@media only screen and (max-width: 767px){
	.sespaymentapi_sale_stats{
		width:50%;
	}
}