

.sesautoaction_add_bot{
	width:450px;
	margin:10px 0 0 10px;
}
.sesautoaction_add_bot div.form-label,
.sesautoaction_add_bot div.form-element{
	clear:both;
	width:100% !important;
}
.sesautoaction_add_bot div.form-label label{
	font-weight:normal !important;
	margin-bottom:10px;
	display:block;
}
.sesautoaction_add_bot div.form-element input[type="text"]{
	width:100% !important;
	box-sizing:border-box;
}
.sesautoaction_botmanageaction_create #users-element .form-options-wrapper{
	max-height:201px;
	overflow:auto;
}