.sescusdash_bxs *{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.layout_sescusdash_deshboard_links{
	background-color:transparent !important;
	border:none !important;
	box-shadow:none !important;
	padding:0px !important;
	margin:0 !important;
}
.sescusdash_links{
	clear:both;
	margin-bottom:15px;
}
.sescusdash_links > p{
	background-image:url(~/application/modules/Sescusdash/externals/images/transprant-bg.png);
	padding:10px;
	font-weight:bold;
	overflow:hidden;
	border-bottom-width:1px;
	margin-bottom:5px;
}
.sescusdash_links > p > span{
	float:right;
}
[dir="rtl"] .sescusdash_links > p > span{
	float:left;
}
.sescusdash_links ul li a i{
	color:$theme_button_background_color;
	float:left;
	width:20px;
	height:20px;
	margin-right:7px;
	text-align:center;
	font-size:17px;
	position:relative;	
}
[dir="rtl"] .sescusdash_links ul li a i{
	float: right;
	margin-left: 7px;
	margin-right: 0;
}
.sescusdash_links ul li a i:before,
.sescusdash_links ul li a ._icon img{
	max-height:20px;
	max-width:20px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);	
}
.sescusdash_links ul li a span{
	line-height:20px;
}
.sescusdash_links_v > ul > li{
	position:relative;
}
.sescusdash_links_v > ul > li > a{
	padding:5px 25px 5px 10px;
	display:block;
	border:1px solid transparent !important;
	font-weight:normal;
}
[dir="rtl"] .sescusdash_links_v > ul > li > a{
	padding:5px 10px 5px 25px;
}
.sescusdash_links_v > ul > li > a:hover,
.sescusdash_links_v > ul > li.active > a{
	background-color:$theme_list_background_color_hover;
	border-radius:2px;
}
.sescusdash_links_v ul li a span{
	display:block;
	overflow:hidden;
	line-height:20px;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.sescusdash_links_v ._profile img{
	border-radius:50%;
}
.sescusdash_links_v ._profile > span,
.sescusdash_links_v ._op > span{
	position:absolute;
	right:0;
	top:0;
	height:30px;
	width:30px;
	display:block;
	text-align:center;
}
[dir="rtl"] .sescusdash_links_v ._profile > span,
[dir="rtl"] .sescusdash_links_v ._op > span{
	text-align: center;
	left: 0;
	right: auto;
}
.sescusdash_links_v ._profile > span > a:before,
.sescusdash_links_v ._op > span > a:before{
	font-size:20px;
	top:6px;
	position:relative;
}
.sescusdash_links_v ._op > span > a{
	display:none;
}
.sescusdash_links_v ._op > span > a.showoption,
.sescusdash_links_v > ul > ._op:hover > span > a{
	display:block;
}
.sescusdash_links_v .edit_profile_dropdown{
	box-shadow:0 0 20px rgba(0, 0, 0, .1);
	position:absolute;
	right:0px;
	top:30px;
	padding:5px 0px;
	border-radius:3px;
	z-index:2;
}
[dir="rtl"] .sescusdash_links_v .edit_profile_dropdown{
	right:inherit;
	left:0px;
}
.sescusdash_links_v .edit_profile_dropdown li a{
	padding:7px 20px;
	font-size:12px;
	width:100%;
	display:block;
}
.sescusdash_links_h{
	margin-bottom:20px;
}
.sescusdash_links_h > ul{
	padding:0 6px;
}
.sescusdash_links_h li{
	display:inline-block;
	margin:5px 5px 5px 0;
}
.sescusdash_links_h li a{
	display:inline-block;
}
