/* CREATE NOTE */
#notes_create div.form-label {
	float: none;
	text-align: left;
	margin: 0px;
	padding: 0px 0px 5px 0px;
}
#notes_create input[type="text"], #notes_create textarea, #notes_create select{
	border-radius: 0;
	height: 35px;
	max-width: inherit;
	padding: 7px;
	width: 60%;
}
#notes_create div.form-label, #notes_create div.form-element {
	clear: both;
	max-width: inherit;
	padding: 0;
	text-align: left;
	padding: 0 15px 0 0;
	margin: 0;
	width: 100%;
}
#notes_create div.form-label {
	margin-bottom: 10px;
	font-weight: bold;
}
#notes_create div.form-wrapper {
  margin-bottom: 15px;
}
#notes_create .mce-tinymce {
	max-width: 60%;
	padding-right: 1px;
}
#notes_create div.form-element {
  float: none;
}
.item_icon_pagenote:before,.notification_type_sespagenote_favourite:before,.notification_type_sespagenote_like:before{
	content: "\\f24a";
	font-family: "FontAwesome";
}
.feed_attachment_pagenote > div {
	border-width: 1px;
	margin-bottom: 5px;
	overflow: hidden;
}
.feed_attachment_pagenote > div > a {
  display: block;
}
.feed_attachment_pagenote > div > a > img {
	height: 250px;
	margin: 0;
	width: 100%;
	max-height: inherit !important;
	max-width: inherit !important;
	object-fit: cover;
}
.feed_attachment_pagenote > div > div {
	clear: both;
	padding: 10px 15px;
}
.feed_attachment_pagenote .feed_item_link_title {
  font-size: 14px !important;
}
.feed_attachment_pagenote .feed_item_link_desc {
  font-size: 13px !important;
}
.sespagenote_profile_body > ._owner a,.sespagenote_view_stats span a{
	color:$theme_font_color_light;
}
.sespagenote_grid_item:before,.sespagenote_profile_listings > li:before{
	background:$theme_border_color;
}
.sespagenote_view_stats > span:before{
	color:$theme_button_background_color;
}
.sespagenote_tags > span,.sespagenote_list_tag > span > a,.sespagenote_tags_cloud_list > li > a{
	color:$theme_font_color;
}
.sespagenote_tags > span:before,.sespagenote_list_tag > span > a:before,.sespagenote_tags_cloud_list > li > a:before{
	background:$theme_button_background_color;
}
.layout_sespagenote_browse_note_button a,.sespagenote_slideshow .owl-nav > div {
	background:$theme_button_background_color;
	color:$theme_button_font_color !important;
}
