

.layout_sessocialshare_sociallinks,
.layout_sessocialshare_social_share{
	margin-bottom:15px;
}
.ses_sociallinks_2 .ses_sociallinks li a div.social_desc{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
}
.ses_sociallinks_2 .ses_sociallinks li a div.social_desc:before{
	border-bottom:5px solid $theme_button_background_color;
}
#global_page_sessocialshare-index-share,
.socialshare_bottom_popup{
	background-color:$theme_list_background_color;
	overflow:auto;
}
/*Colored Buttons*/
.social_share_widget_icons .sessocial_icon_googleplus_btn,
.sessocialshare_smoothbox_icons_list .sessocial_icon_googleplus_btn .smoothbox_social_img,
.sidebar_social_share_widget .sessocial_icon_googleplus_btn,
.sessocialshare_feed_icon_google{
	background-color:#DC4E41;
}
.social_share_widget_icons .sessocial_icon_pintrest_btn,
.sessocialshare_smoothbox_icons_list .sessocial_icon_pintrest_btn .smoothbox_social_img,
.sidebar_social_share_widget .sessocial_icon_pintrest_btn,
.sessocialshare_feed_icon_pintrest{
	background-color:#cb2027;
}
.social_share_widget_icons .sessocial_icon_twitter_btn,
.sessocialshare_smoothbox_icons_list .sessocial_icon_twitter_btn .smoothbox_social_img,
.sidebar_social_share_widget .sessocial_icon_twitter_btn,
.sessocialshare_feed_icon_twitter{
	background-color:#4099FF;
}
.social_share_widget_icons .sessocial_icon_facebookmessager_btn,
.sessocialshare_smoothbox_icons_list .sessocial_icon_facebookmessager_btn .smoothbox_social_img,
.sidebar_social_share_widget .sessocial_icon_facebookmessager_btn,
.sessocialshare_feed_icon_facebook_messenger{
	background-color:#0084FF;
}
.social_share_widget_icons .sessocial_icon_linkedin_btn,
.sessocialshare_smoothbox_icons_list .sessocial_icon_linkedin_btn .smoothbox_social_img,
.sidebar_social_share_widget .sessocial_icon_linkedin_btn,
.sessocialshare_feed_icon_linkedin{
	background-color:#0077b5;
}
.social_share_widget_icons .sessocial_icon_bookmark_btn,
.sessocialshare_smoothbox_icons_list .sessocial_icon_bookmark_btn .smoothbox_social_img,
.sidebar_social_share_widget .sessocial_icon_bookmark_btn,
.sessocialshare_feed_icon_bookmark{
	background-color:#FFA500;
}
.social_share_widget_icons .sessocial_icon_rediff_btn,
.sessocialshare_smoothbox_icons_list .sessocial_icon_rediff_btn .smoothbox_social_img,
.sidebar_social_share_widget .sessocial_icon_rediff_btn,
.sessocialshare_feed_icon_rediff{
	background-color:#EC2127;
}
.social_share_widget_icons .sessocial_icon_facebook_btn,
.sessocialshare_smoothbox_icons_list .sessocial_icon_facebook_btn .smoothbox_social_img,
.sidebar_social_share_widget .sessocial_icon_facebook_btn,
.sessocialshare_feed_icon_facebook{
	background-color:#3B5998;
}
.social_share_widget_icons .sessocial_icon_digg_btn,
.sessocialshare_smoothbox_icons_list .sessocial_icon_digg_btn .smoothbox_social_img,
.sidebar_social_share_widget .sessocial_icon_digg_btn,
.sessocialshare_feed_icon_digg{
	background-color:#000;
}
.social_share_widget_icons .sessocial_icon_myspace_btn,
.sessocialshare_smoothbox_icons_list .sessocial_icon_myspace_btn .smoothbox_social_img,
.sidebar_social_share_widget .sessocial_icon_myspace_btn,
.sessocialshare_feed_icon_myspace{
	background-color:#003399;
}
.social_share_widget_icons .sessocial_icon_stumbleupon_btn,
.sessocialshare_smoothbox_icons_list .sessocial_icon_stumbleupon_btn .smoothbox_social_img,
.sidebar_social_share_widget .sessocial_icon_stumbleupon_btn,
.sessocialshare_feed_icon_stumbleupon{
	background-color:#EE4813;
}
.social_share_widget_icons .sessocial_icon_tumblr_btn,
.sessocialshare_smoothbox_icons_list .sessocial_icon_tumblr_btn .smoothbox_social_img,
.sidebar_social_share_widget .sessocial_icon_tumblr_btn,
.sessocialshare_feed_icon_tumblr{
	background-color:#2E4F6E;
}
.social_share_widget_icons .sessocial_icon_gmail_btn,
.sessocialshare_smoothbox_icons_list .sessocial_icon_gmail_btn .smoothbox_social_img,
.sidebar_social_share_widget .sessocial_icon_gmail_btn,
.sessocialshare_feed_icon_gmail{
	background-color:#db4437;
}
.social_share_widget_icons .sessocial_icon_flipboard_btn,
.sessocialshare_smoothbox_icons_list .sessocial_icon_flipboard_btn .smoothbox_social_img,
.sidebar_social_share_widget .sessocial_icon_flipboard_btn,
.sessocialshare_feed_icon_flipboard{
	background-color:#e02828;
}
.social_share_widget_icons .sessocial_icon_skype_btn,
.sessocialshare_smoothbox_icons_list .sessocial_icon_skype_btn .smoothbox_social_img,
.sidebar_social_share_widget .sessocial_icon_skype_btn,
.sessocialshare_feed_icon_skype{
	background-color:#00AFF0;
}
.social_share_widget_icons .sessocial_icon_print_btn,
.sessocialshare_smoothbox_icons_list .sessocial_icon_print_btn .smoothbox_social_img,
.sidebar_social_share_widget .sessocial_icon_print_btn,
.sessocialshare_feed_icon_print{
	background-color:#738A8D;
}
.social_share_widget_icons .sessocial_icon_whatsapp_btn,
.sessocialshare_smoothbox_icons_list .sessocial_icon_whatsapp_btn .smoothbox_social_img,
.sidebar_social_share_widget .sessocial_icon_whatsapp_btn,
.sessocialshare_feed_icon_whatsapp{
	background-color:#25D366;
}
.social_share_widget_icons .sessocial_icon_email_btn,
.sessocialshare_smoothbox_icons_list .sessocial_icon_email_btn .smoothbox_social_img,
.sidebar_social_share_widget .sessocial_icon_email_btn,
.sessocialshare_feed_icon_email{
	background-color:#787878;
}
.social_share_widget_icons .sessocial_icon_yahoo_btn,
.sessocialshare_smoothbox_icons_list .sessocial_icon_yahoo_btn .smoothbox_social_img,
.sidebar_social_share_widget .sessocial_icon_yahoo_btn,
.sessocialshare_feed_icon_email{
	background-color:#7f40bd;
}
.social_share_widget_icons .sessocial_icon_vk_btn,
.sessocialshare_smoothbox_icons_list .sessocial_icon_vk_btn .smoothbox_social_img,
.sidebar_social_share_widget .sessocial_icon_vk_btn,
.sessocialshare_feed_icon_vk{
	background-color:#436eab;
}
.sidebar_social_share_widget .sessocial_icon_more_btn,
.social_share_widget_icons .sessocial_icon_more_btn,
.sessocialshare_feed_icon_plus{
	background-color:#FF4C4C;
}
/*Smoothbox CSS Start Here*/
.sessocialshare_smoothbox_main:after{
	content:"";
	width:100%;
	height:150px;
	position:fixed;
	bottom:0;
	left:0;
	pointer-events:none;
	background:-webkit-linear-gradient(top,transparent 0%,rgba(0,0,0,.65) 100%);
	background:linear-gradient(to bottom,transparent 0%,#000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#a6000000',GradientType=0);
}
.sessocialshare_smoothbox_main > div{
	background-color:rgba(0,0,0,.8) !important;
	position:fixed;
	width:100% !important;
	top:0px !important;
	left:0px !important;
	height:100%;
	overflow:auto;
}
.sessocialshare_smoothbox_main .sessmoothbox_close_btn,
.sessocialshare_email_page_wrapper .sessmoothbox_close_btn{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
	top:20px;
	right:20px;
}
.sessocialshare_smoothbox_overlay{
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
}
.sessocialshare_smoothbox_cont{
	width:600px;
	clear:both;
	overflow:hidden;
	box-sizing:border-box;
	margin:0 auto;
	top:30px;
	position:absolute;
	left:50%;
	transform:translate(-50%, 0%);
	z-index:102;
}
.sessocialshare_smoothbox_header{
	text-align:center;
}
.sessocialshare_smoothbox_header > h3{
	background:none !important;
	border-width:0 !important;
	padding:0px 5px;
	text-align:center;
	font-size:35px;
	color:#fff;
	margin:0 0 10px;
}
.sessocialshare_smoothbox_info{
	margin:0 0px 15px;
}
.sessocialshare_smoothbox_info b{
	color:#fff;
	display:block;
	font-size:13px;
}
.sessocialshare_smoothbox_info span{
	font-size:12px;
	color:#eeecec;
	opacity:.6;
	border-bottom:1px solid;
	padding-bottom:3px;
	margin-top:10px;
	display:inline-block;
}
.sessocialshare_smoothbox_search{
	margin-bottom:20px;
	position:relative;
}
.sessocialshare_smoothbox_search input[type=text]{
	border-radius:0px;
	border:none;
	padding:9px 0;
	background-color:transparent;
	border-bottom:1px solid #fafafa;
	color:#fff;
	padding-left:35px;
	font-size:16px;
	outline:none;
	width:100%;
}
.sessocialshare_smoothbox_search input[type=text]::-webkit-input-placeholder{
  color:#fff;
}
.sessocialshare_smoothbox_search input[type=text]::-moz-placeholder{
  color:#fff;
}
.sessocialshare_smoothbox_search input[type=text]::-ms-input-placeholder{
  color:#fff;
}
.sessocialshare_smoothbox_search input[type=text]::-moz-placeholder{
  color:#fff;
}
.sessocialshare_smoothbox_search .search_icon{
	position:absolute;
	left:7px;
	top:8px;
	color:#fff;
	font-size:16px;
}
.sessocialshare_smoothbox_icons_list{
	text-align:center;
}
.sessocialshare_smoothbox_icons_list a{
	width:95px;
	display:inline-block;
	margin:10px;
	position:relative;
	vertical-align:top;
	text-decoration:none !important;
}
.sessocialshare_smoothbox_icons_list .smoothbox_social_icon{
	padding:10px 0;
	text-align:center;
	color:#fff;
}
.sessocialshare_smoothbox_icons_list .smoothbox_social_img{
	padding:20px;
	border-radius:100%;
	display:block;
	margin:0 auto 8px;
	position:relative;
	height:70px;
	width:70px;
	-webkit-transition:all 200ms ease 0s;
	-moz-transition:all 200ms ease 0s;
	-o-transition:all 200ms ease 0s;
	transition:all 200ms ease 0s;
}
.sessocialshare_smoothbox_icons_list a:hover .smoothbox_social_img{
	transform:scale(1.1);
}
.sessocialshare_smoothbox_icons_list span img{
	width:32px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}
.sessocialshare_smoothbox_icons_list .smoothbox_social_icon span{
	font-size:14px;
	color:#eeecec;
}

.sessocialshare_share_popup_tabs ul li.active{
	border-bottom-color:$theme_link_color_hover;
}
.sessocialshare_share_popup_tabs ul li.active a{
	color:$theme_link_color_hover;
}
/*Smoothbox CSS End Here*/
/*SocialShare Listing Icons Start*/
.sesbasic_icon_btn img{
	width:16px;
}
.sesbasic_icon_btn .social_icon_title{display:none;}
.ses_media_lightbox_share_btns .sesbasic_icon_facebook_btn,
.sesbasic_icon_btn.sesbasic_icon_facebook_btn:hover{background-color:#3b5998;}
.ses_media_lightbox_share_btns .sesbasic_icon_twitter_btn,
.sesbasic_icon_btn.sesbasic_icon_twitter_btn:hover{background-color:#00aced;}
.ses_media_lightbox_share_btns .sesbasic_icon_pintrest_btn,
.sesbasic_icon_btn.sesbasic_icon_pintrest_btn:hover{background-color:#cc2127;}
.ses_media_lightbox_share_btns .sesbasic_icon_flipboard_btn,
.sesbasic_icon_btn.sesbasic_icon_flipboard_btn:hover{background-color:#e02828;}
.ses_media_lightbox_share_btns .sesbasic_icon_googleplus_btn,
.sesbasic_icon_btn.sesbasic_icon_googleplus_btn:hover{background-color:#DC4E41;}
.ses_media_lightbox_share_btns .sesbasic_icon_gmail_btn,
.sesbasic_icon_btn.sesbasic_icon_gmail_btn:hover{background-color:#db4437;}
.ses_media_lightbox_share_btns .sesbasic_icon_linkedin_btn,
.sesbasic_icon_btn.sesbasic_icon_linkedin_btn:hover{background-color:#0077b5;}
.ses_media_lightbox_share_btns .sesbasic_icon_bookmarks_btn,
.sesbasic_icon_btn.sesbasic_icon_bookmarks_btn:hover{background-color:#FFA500;}
.ses_media_lightbox_share_btns .sesbasic_icon_rediff_btn,
.sesbasic_icon_btn.sesbasic_icon_rediff_btn:hover{background-color:#EC2127;}
.ses_media_lightbox_share_btns .sesbasic_icon_myspace_btn,
.sesbasic_icon_btn.sesbasic_icon_myspace_btn:hover{background-color:#003399;}
.ses_media_lightbox_share_btns .sesbasic_icon_stumbleupon_btn,
.sesbasic_icon_btn.sesbasic_icon_stumbleupon_btn:hover{background-color:#EE4813;}
.ses_media_lightbox_share_btns .sesbasic_icon_digg_btn,
.sesbasic_icon_btn.sesbasic_icon_digg_btn:hover{background-color:#000;}
.ses_media_lightbox_share_btns .sesbasic_icon_tumblr_btn,
.sesbasic_icon_btn.sesbasic_icon_tumblr_btn:hover{background-color:#2E4F6E;}
.ses_media_lightbox_share_btns .sesbasic_icon_whatsapp_btn,
.sesbasic_icon_btn.sesbasic_icon_whatsapp_btn:hover{background-color:#25D366;}
.ses_media_lightbox_share_btns .sesbasic_icon_skype_btn,
.sesbasic_icon_btn.sesbasic_icon_skype_btn:hover{background-color:#00AFF0;}
.ses_media_lightbox_share_btns .sesbasic_icon_print_btn,
.sesbasic_icon_btn.sesbasic_icon_print_btn:hover{background-color:#738A8D;}
.ses_media_lightbox_share_btns .sesbasic_icon_email_btn,
.sesbasic_icon_btn.sesbasic_icon_email_btn:hover{background-color:#787878;}
.ses_media_lightbox_share_btns .sesbasic_icon_yahoo_btn,
.sesbasic_icon_btn.sesbasic_icon_yahoo_btn:hover{background-color:#7f40bd;}
.ses_media_lightbox_share_btns .sesbasic_icon_more,
.sesbasic_icon_btn.sesbasic_icon_more:hover{background-color:#FF4C4C;}
.ses_media_lightbox_share_btns .sesbasic_icon_vk_btn,
.sesbasic_icon_btn.sesbasic_icon_vk_btn:hover{background-color:#436eab;}
.sesbasic_icon_btn.sesbasic_icon_whatsapp_btn{display:none !important;}
.sessocial_icon_btn.sessocial_icon_whatsapp_btn,
.ses_sociallinks_2 .ses_sociallinks_whatsapp,
.ses_sociallinks_1 .ses_sociallinks_whatsapp{
	display:none !important;
}
@media (max-width:767px){
	.sessocialshare_smoothbox_main .sessmoothbox_close_btn, .sessocialshare_email_page_wrapper .sessmoothbox_close_btn{
		top:10px;
		right:10px;
	}
	.sessocialshare_smoothbox_cont{
    width:100%;
    padding:0 10px;
		top:40px;
	}
	.sessocialshare_smoothbox_header > h3{
		font-size:25px;
	}
	.sesbasic_icon_btn.sesbasic_icon_whatsapp_btn,
	.ses_sociallinks_2 .ses_sociallinks li.ses_sociallinks_whatsapp,
	.ses_sociallinks_1 .ses_sociallinks_whatsapp{
		display:inline-block !important;
	}
}
@media (max-width:479px){
	.sessocialshare_smoothbox_icons_list a{
		width:25%;
		margin:8px;
		padding:0;
	}
	.sessocial_icon_btn.sessocial_icon_whatsapp_btn{
		display:inline-block !important;
	}	
}
/*SocialShare Listing Icons Start*/
/*Social Share Buttons on Feed CSS Start Here*/
.sesadvcmt_hoverbox_btn_icon i.sessocialshare_feed_icon {
	border-radius:50%;
	background-size:28px !IMPORTANT;
	background-position:center;
}
/*Social Share Buttons on Feed CSS End Here*/


