
/*SOCIAL SHARE COUNTER WIDGETS CSS START HERE*/
/*Flat View*/
.ses_sociallinks_1 .ses_sociallinks li{
  float:left;
  padding:2px;
  width:50%;
}
.ses_sociallinks_1 .ses_sociallinks li a{
	text-decoration:none !important;
}
.ses_sociallinks_1 .ses_sociallinks li a div{
	border-bottom-width:3px;
	display:block;
	overflow:hidden;
	text-align:center;
	text-decoration:none !important;
	position:relative;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-ms-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}
.ses_sociallinks_1 li:hover a div:before{
	content:'';
	height:32px;
	width:32px;
	display:block;
	position:absolute;
	background-size:cover;
	margin:10px 0 0 -16px;
	left:50%;
}
.ses_sociallinks_1 .ses_sociallinks li a div img{
	width:32px;
	height:32px;
  margin:10px 0 0;
}
.ses_sociallinks_1 .ses_sociallinks li:hover a div img{
	visibility:hidden;
}
.ses_sociallinks_1 .ses_sociallinks li a span{
  text-transform:uppercase;
  display:block;
  line-height:normal;
}
.ses_sociallinks_1 .ses_sociallinks_count{
  font-size:17px;
  padding-top:0;
  min-width:10px;
  margin-bottom:0;
	min-height:22px;
}
.ses_sociallinks_1 .ses_sociallinks_text{
  font-size:11px;
  margin-bottom:7px;
}
.ses_sociallinks_1 .ses_sociallinks_googleplus a div{border-color:#DC4E41;}
.ses_sociallinks_1 .ses_sociallinks_googleplus:hover a div{background-color:#DC4E41;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_googleplus:hover a div:before{
	background-image:url(../images/social/google-plus.png);
}
.ses_sociallinks_1 .ses_sociallinks_gmail a div{border-color:#F32C25;}
.ses_sociallinks_1 .ses_sociallinks_gmail:hover a div{background-color:#F32C25;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_gmail:hover a div:before{
	background-image:url(../images/social/gmail.png);
}
.ses_sociallinks_1 .ses_sociallinks_googlebookmark a div{border-color:#FFA500;}
.ses_sociallinks_1 .ses_sociallinks_googlebookmark:hover a div{background-color:#FFA500;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_googlebookmark:hover a div:before{
	background-image:url(../images/social/bookmark.png);
}
.ses_sociallinks_1 .ses_sociallinks_facebookmessager a div{border-color:#0084FF;}
.ses_sociallinks_1 .ses_sociallinks_facebookmessager:hover a div{background-color:#0084FF;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_facebookmessager:hover a div:before{
	background-image:url(../images/social/facebook_messenger.png);
}
.ses_sociallinks_1 .ses_sociallinks_flipboard a div{border-color:#e02828;}
.ses_sociallinks_1 .ses_sociallinks_flipboard:hover a div{background-color:#e02828;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_flipboard:hover a div:before{
	background-image:url(../images/social/flipboard.png);
}
.ses_sociallinks_1 .ses_sociallinks_rediff a div{border-color:#EC2127;}
.ses_sociallinks_1 .ses_sociallinks_rediff:hover a div{background-color:#EC2127;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_rediff:hover a div:before{
	background-image:url(../images/social/rediff.png);
}
.ses_sociallinks_1 .ses_sociallinks_myspace a div{border-color:#003399;}
.ses_sociallinks_1 .ses_sociallinks_myspace:hover a div{background-color:#003399;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_myspace:hover a div:before{
	background-image:url(../images/social/myspace.png);
}
.ses_sociallinks_1 .ses_sociallinks_stumbleupon a div{border-color:#EE4813;}
.ses_sociallinks_1 .ses_sociallinks_stumbleupon:hover a div{background-color:#EE4813;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_stumbleupon:hover a div:before{
	background-image:url(../images/social/stumbleupon.png);
}
.ses_sociallinks_1 .ses_sociallinks_digg a div{border-color:#000;}
.ses_sociallinks_1 .ses_sociallinks_digg:hover a div{background-color:#000;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_digg:hover a div:before{
	background-image:url(../images/social/digg.png);
}
.ses_sociallinks_1 .ses_sociallinks_tumblr a div{border-color:#2E4F6E;}
.ses_sociallinks_1 .ses_sociallinks_tumblr:hover a div{background-color:#2E4F6E;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_tumblr:hover a div:before{
	background-image:url(../images/social/tumblr.png);
}
.ses_sociallinks_1 .ses_sociallinks_print a div{border-color:#738A8D;}
.ses_sociallinks_1 .ses_sociallinks_print a div img{
	margin-bottom:10px;
}
.ses_sociallinks_1 .ses_sociallinks_print:hover a div{background-color:#738A8D;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_print:hover a div:before{
	background-image:url(../images/social/print.png);
}
.ses_sociallinks_1 .ses_sociallinks_skype a div{border-color:#00AFF0;}
.ses_sociallinks_1 .ses_sociallinks_skype:hover a div{background-color:#00AFF0;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_skype:hover a div:before{
	background-image:url(../images/social/skype.png);
}
.ses_sociallinks_1 .ses_sociallinks_facebook a div{border-color:#3B5998;}
.ses_sociallinks_1 .ses_sociallinks_facebook:hover a div{background-color:#3B5998;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_facebook:hover a div:before{
	background-image:url(../images/social/facebook.png);
}
.ses_sociallinks_1 .ses_sociallinks_whatsapp a div{border-color:#25D366;}
.ses_sociallinks_1 .ses_sociallinks_whatsapp:hover a div{background-color:#25D366;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_whatsapp:hover a div:before{
	background-image:url(../images/social/whatsapp.png);
}
.ses_sociallinks_1 .ses_sociallinks_twitter a div{border-color:#4099FF;}
.ses_sociallinks_1 .ses_sociallinks_twitter:hover  a div{background-color:#4099FF;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_twitter:hover a div:before{
	background-image:url(../images/social/twitter.png);
}
.ses_sociallinks_1 .ses_sociallinks_pinterest a div{border-color:#cb2027;}
.ses_sociallinks_1 .ses_sociallinks_pinterest:hover a div{background-color:#cb2027;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_pinterest:hover a div:before{
	background-image:url(../images/social/pinterest.png);
}
.ses_sociallinks_1 .ses_sociallinks_gplus a div{border-color:#dd4b39;}
.ses_sociallinks_1 .ses_sociallinks_gplus:hover a div{background-color:#dd4b39;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_gplus:hover a div:before{
	background-image:url(../images/social/google-plus.png);
}
.ses_sociallinks_1 .ses_sociallinks_linkedin a div{border-color:#0077b5;}
.ses_sociallinks_1 .ses_sociallinks_linkedin:hover a div{background-color:#0077b5;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_linkedin:hover a div:before{
	background-image:url(../images/social/linkedin.png);
}
.ses_sociallinks_1 .ses_sociallinks_email a div{border-color:#787878;}
.ses_sociallinks_1 .ses_sociallinks_email:hover a div{background-color:#787878;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_email:hover a div:before{
	background-image:url(../images/social/email.png);
}
.ses_sociallinks_1 .ses_sociallinks_yahoo a div{border-color:#787878;}
.ses_sociallinks_1 .ses_sociallinks_yahoo:hover a div{background-color:#787878;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_yahoo:hover a div:before{
	background-image:url(../images/social/yahoo.png);
}
.ses_sociallinks_1 .ses_sociallinks_vk a div{border-color:#436eab;}
.ses_sociallinks_1 .ses_sociallinks_vk:hover a div{background-color:#436eab;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_vk:hover a div:before{
	background-image:url(../images/social/vk.png);
}
.ses_sociallinks_1 .ses_sociallinks_more a div{border-color:#FF4C4C;}
.ses_sociallinks_1 .ses_sociallinks_more:hover a div{background-color:#FF4C4C;color:#fff;}
.ses_sociallinks_1 .ses_sociallinks_more:hover a div:before{
	background-image:url(../images/social/more.png);
}
/*Square View*/
.ses_sociallinks_2 .ses_sociallinks li{
  float:left;
  line-height:1.5;
  padding:5px;
  width:50%;
}
.ses_sociallinks_2 .ses_sociallinks li a{text-decoration:none !important;}
.ses_sociallinks_2 .ses_sociallinks li a div{
	background-image:url(../images/transprant-bg.png);
  text-align:center;
  text-decoration:none !important; 
  -webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -ms-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
}
.ses_sociallinks_2 .ses_sociallinks_img{
	padding:15px 0px;
	display:block;	
}
.ses_sociallinks_2 .ses_sociallinks_img img{
	width:20px;
}
.ses_sociallinks_2 .ses_sociallinks li a div.social_desc{
	padding:0px 0px 5px;
	position:relative;
}
.ses_sociallinks_2 .ses_sociallinks li a div.social_desc:before{
	content:'';
	display:block;
	width:0;
	height:0;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	position:absolute;
	left:50%;
	transform:translate(-50%);
	top:-5px;
  -webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -ms-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
}
.ses_sociallinks_2 div.social_desc span{
	display:block;
}
.ses_sociallinks_2 div.social_desc span.ses_sociallinks_count{
	font-size:22px;
	min-height:32px;
}
.ses_sociallinks_2 .ses_sociallinks_flipboard a:hover .social_desc{
	background-color:#e02828;
}
.ses_sociallinks_2 .ses_sociallinks_flipboard a:hover .social_desc:before{
	border-bottom:5px solid #e02828;
}
.ses_sociallinks_2 .ses_sociallinks_googleplus a:hover .social_desc{
	background-color:#DC4E41;
}
.ses_sociallinks_2 .ses_sociallinks_googleplus a:hover .social_desc:before{
	border-bottom:5px solid #DC4E41;
}
.ses_sociallinks_2 .ses_sociallinks_pinterest a:hover .social_desc{
	background-color:#CB2027;
}
.ses_sociallinks_2 .ses_sociallinks_pinterest a:hover .social_desc:before{
	border-bottom:5px solid #CB2027;
}
.ses_sociallinks_2 .ses_sociallinks_twitter a:hover .social_desc{
	background-color:#4099FF;
}
.ses_sociallinks_2 .ses_sociallinks_twitter a:hover .social_desc:before{
	border-bottom:5px solid #4099FF;
}
.ses_sociallinks_2 .ses_sociallinks_gmail a:hover .social_desc{
	background-color:#F32C25;
}
.ses_sociallinks_2 .ses_sociallinks_gmail a:hover .social_desc:before{
	border-bottom:5px solid #F32C25;
}
.ses_sociallinks_2 .ses_sociallinks_linkedin a:hover .social_desc{
	background-color:#0077B5;
}
.ses_sociallinks_2 .ses_sociallinks_linkedin a:hover .social_desc:before{
	border-bottom:5px solid #0077B5;
}
.ses_sociallinks_2 .ses_sociallinks_googlebookmark a:hover .social_desc{
	background-color:#FFA500;
}
.ses_sociallinks_2 .ses_sociallinks_googlebookmark a:hover .social_desc:before{
	border-bottom:5px solid #FFA500;
}
.ses_sociallinks_2 .ses_sociallinks_rediff a:hover .social_desc{
	background-color:#EC2127;
}
.ses_sociallinks_2 .ses_sociallinks_rediff a:hover .social_desc:before{
	border-bottom:5px solid #EC2127;
}
.ses_sociallinks_2 .ses_sociallinks_facebookmessager a:hover .social_desc{
	background-color:#0084FF;
}
.ses_sociallinks_2 .ses_sociallinks_facebookmessager a:hover .social_desc:before{
	border-bottom:5px solid #0084FF;
}
.ses_sociallinks_2 .ses_sociallinks_myspace a:hover .social_desc{
	background-color:#003399;
}
.ses_sociallinks_2 .ses_sociallinks_myspace a:hover .social_desc:before{
	border-bottom:5px solid #003399;
}
.ses_sociallinks_2 .ses_sociallinks_stumbleupon a:hover .social_desc{
	background-color:#EE4813;
}
.ses_sociallinks_2 .ses_sociallinks_stumbleupon a:hover .social_desc:before{
	border-bottom:5px solid #EE4813;
}
.ses_sociallinks_2 .ses_sociallinks_digg a:hover .social_desc{
	background-color:#000;
}
.ses_sociallinks_2 .ses_sociallinks_digg a:hover .social_desc:before{
	border-bottom:5px solid #000;
}
.ses_sociallinks_2 .ses_sociallinks_tumblr a:hover .social_desc{
	background-color:#2E4F6E;
}
.ses_sociallinks_2 .ses_sociallinks_tumblr a:hover .social_desc:before{
	border-bottom:5px solid #2E4F6E;
}
.ses_sociallinks_2 .ses_sociallinks_facebook a:hover .social_desc{
	background-color:#3B5998;
}
.ses_sociallinks_2 .ses_sociallinks_facebook a:hover .social_desc:before{
	border-bottom:5px solid #3B5998;
}
.ses_sociallinks_2 .ses_sociallinks_skype a:hover .social_desc{
	background-color:#00AFF0;
}
.ses_sociallinks_2 .ses_sociallinks_skype a:hover .social_desc:before{
	border-bottom:5px solid #00AFF0;
}
.ses_sociallinks_2 .ses_sociallinks_print a:hover .social_desc{
	background-color:#738A8D;
}
.ses_sociallinks_2 .ses_sociallinks_print a:hover .social_desc:before{
	border-bottom:5px solid #738A8D;
}
.ses_sociallinks_2 .ses_sociallinks_whatsapp a:hover .social_desc{
	background-color:#25D366;
}
.ses_sociallinks_2 .ses_sociallinks_whatsapp a:hover .social_desc:before{
	border-bottom:5px solid #25D366;
}
.ses_sociallinks_2 .ses_sociallinks_email a:hover .social_desc{
	background-color:#787878;
}
.ses_sociallinks_2 .ses_sociallinks_email a:hover .social_desc:before{
	border-bottom:5px solid #787878;
}
.ses_sociallinks_2 .ses_sociallinks_yahoo a:hover .social_desc{
	background-color:#7f40bd;
}
.ses_sociallinks_2 .ses_sociallinks_yahoo a:hover .social_desc:before{
	border-bottom:5px solid #7f40bd;
}
.ses_sociallinks_2 .ses_sociallinks_vk a:hover .social_desc{
	background-color:#436eab;
}
.ses_sociallinks_2 .ses_sociallinks_vk a:hover .social_desc:before{
	border-bottom:5px solid #436eab;
}
.ses_sociallinks_2 .ses_sociallinks_more a:hover .social_desc{
	background-color:#FF4C4C;
}
.ses_sociallinks_2 .ses_sociallinks_more a:hover .social_desc:before{
	border-bottom:5px solid #FF4C4C;
}
/*SOCIAL SHARE COUNTER WIDGETS CSS END HERE*/

/*SOCIAL SHARE ICONS WIDGET CSS START HERE*/
.social_share_widget_icons{
	clear:both;
	overflow:hidden;
}
.social_share_widget_icons a{
	display:block;
	text-align:center;
	float:left;
	margin:4px;
	position:relative;
	color:#fff;
	text-decoration:none;
	padding:10px;
}
.social_share_widget_icons a .social_wedgit_icons{
	position:absolute;
	text-align:center;
	color:#fff;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}
.social_share_widget_icons a span{
	clear:both;
	overflow:hidden;
	display:block;
}
.social_share_widget_icons a span img{
	height:22px;
	width:22px;
}
.social_share_widget_icons a span.social_share_count,
.social_share_widget_icons a span.social_share_name{
	font-size:14px;
	display:block;
}
.social_share_widget_icons .sessocial_icon_btn:hover{
	opacity:0.8;
}
/*SOCIAL SHARE ICONS WIDGET CSS END HERE*/
/*ADVANCED SHARE POPUP CSS START HERE*/
#global_page_sessocialshare-index-share #global_content_simple{
	width:100%;
	max-width:550px;
}
.sessocialshare_share_popup {
	width:100%;
}
.sessocialshare_share_popup_close{
	position:absolute;
	top:10px;
	right:10px;
}
.sessocialshare_share_popup_close a{
	background-image:url(../images/transprant-bg.png);
	border-radius:100%;
	color:#5c5c5c;
	display:block;
	height:25px;
	line-height:23px;
	text-align:center;
	width:25px;
}
.sessocialshare_share_popup_tabs{
	padding:0px;
	border-bottom-width:1px;
}
.sessocialshare_share_popup_tabs ul{
	clear:both;
	overflow:hidden;
}
.sessocialshare_share_popup_tabs ul li{
	float:left;
	text-align:center;
}
.sessocialshare_share_popup_tabs ul li.active {
	border-bottom-width:1px;
	background-image:url(../images/transprant-bg.png);
}
.sessocialshare_share_popup_tabs ul li a{
	font-size:16px;
	text-decoration:none;
	line-height:40px;
	padding:0 30px;
	width:100%;
	display:block;
}
.sessocialshare_share_popup .global_form_popup{
	padding:10px;
}
.sessocialshare_share_popup .form-elements{
	padding:0;
}
.sessocialshare_share_popup .form-wrapper{
	margin-bottom:10px;
}
.sessocialshare_share_popup .form-wrapper:after{
	content:"";
	display:block;
	clear:both;
}
.sessocialshare_share_popup .form-elements #share_type-label{
	margin-bottom:6px;
}
.sessocialshare_share_popup .form-wrapper .tag{
	margin:10px 5px 0 0;
}
.sessocialshare_share_popup .form-elements input[type=text],
.sessocialshare_share_popup .form-elements select{
	padding:0 5px;
	height:32px;
	width:100%;
	max-width:100%;
}
.sessocialshare_share_popup .form-elements textarea{
	padding:5px;
	height:100px;
	width:100%;
}
.sessocialshare_share_popup #body-label,
.sessocialshare_share_popup #content_title-label{
	display:none;
}
.sessocialshare_share_popup .sharebox{
	margin:10px;
	padding:0px;
	border:none;
	background:transparent;
}
.sessocialshare_share_popup .sharebox .sharebox_photo{
	width:100%;
	height:180px;
	margin-bottom:10px;
}
.sessocialshare_share_popup .sharebox .sharebox_photo img{
	width:100%;
	height:100%;
	object-fit:cover;
	max-width:initial;
	max-height:initial;
}
.sessocialshare_share_popup .sharebox .sharebox_title{
	font-size:110%;
}
.sessocialshare_share_popup .sharebox .sharebox_description{
	font-size:100%;
}
.socialshare_popup_buttons{
	padding:8px;
}
.socialshare_popup_buttons .sessocial_icon_btn{
	border-radius:2px;
	display:block;
	padding:2px;
	float:left;
	margin:2px;
	text-decoration:none !important;
	width:calc(33.33% - 4px);
}
.socialshare_popup_buttons .sessocial_icon_btn:hover{
	opacity:.8;
}
.socialshare_popup_buttons .sessocial_icon_btn i{
	float:left;
	position:relative;
	height:36px;
	width:36px;
}
.socialshare_popup_buttons .sessocial_icon_btn i img{
	height:16px;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}
.socialshare_popup_buttons .sessocial_icon_btn span{
	padding:0 10px;
	line-height:36px;
	font-size:12px;
	overflow:hidden;
	display:block;
	white-space:nowrap;
	background-color:#fff;
}
.socialshare_popup_buttons .sessocial_icon_googleplus_btn{background-color:#DC4E41;}
.socialshare_popup_buttons .sessocial_icon_googleplus_btn span{color:#DC4E41;}
.socialshare_popup_buttons .sessocial_icon_pintrest_btn{background-color:#cb2027;}
.socialshare_popup_buttons .sessocial_icon_pintrest_btn span{color:#cb2027;}
.socialshare_popup_buttons .sessocial_icon_twitter_btn{background-color:#4099FF;}
.socialshare_popup_buttons .sessocial_icon_twitter_btn span{color:#4099FF;}
.socialshare_popup_buttons .sessocial_icon_facebookmessager_btn{background-color:#0084FF;}
.socialshare_popup_buttons .sessocial_icon_facebookmessager_btn span{color:#0084FF;}
.socialshare_popup_buttons .sessocial_icon_linkedin_btn{background-color:#0077b5;}
.socialshare_popup_buttons .sessocial_icon_linkedin_btn span{color:#0077b5;}
.socialshare_popup_buttons .sessocial_icon_bookmark_btn{background-color:#FFA500;}
.socialshare_popup_buttons .sessocial_icon_bookmark_btn span{color:#FFA500;}
.socialshare_popup_buttons .sessocial_icon_rediff_btn{background-color:#EC2127;}
.socialshare_popup_buttons .sessocial_icon_rediff_btn span{color:#EC2127;}
.socialshare_popup_buttons .sessocial_icon_facebook_btn{background-color:#3B5998;}
.socialshare_popup_buttons .sessocial_icon_facebook_btn span{color:#3B5998;}
.socialshare_popup_buttons .sessocial_icon_digg_btn{background-color:#000;}
.socialshare_popup_buttons .sessocial_icon_digg_btn span{color:#000;}
.socialshare_popup_buttons .sessocial_icon_myspace_btn{background-color:#003399;}
.socialshare_popup_buttons .sessocial_icon_myspace_btn span{color:#003399;}
.socialshare_popup_buttons .sessocial_icon_stumbleupon_btn{background-color:#EE4813;}
.socialshare_popup_buttons .sessocial_icon_stumbleupon_btn span{color:#EE4813;}
.socialshare_popup_buttons .sessocial_icon_tumblr_btn{background-color:#2E4F6E;}
.socialshare_popup_buttons .sessocial_icon_tumblr_btn span{color:#2E4F6E;}
.socialshare_popup_buttons .sessocial_icon_gmail_btn{background-color:#db4437;}
.socialshare_popup_buttons .sessocial_icon_gmail_btn span{color:#db4437;}
.socialshare_popup_buttons .sessocial_icon_flipboard_btn{background-color:#e02828;}
.socialshare_popup_buttons .sessocial_icon_flipboard_btn span{color:#e02828;}
.socialshare_popup_buttons .sessocial_icon_skype_btn{background-color:#00AFF0;}
.socialshare_popup_buttons .sessocial_icon_skype_btn span{color:#00AFF0;}
.socialshare_popup_buttons .sessocial_icon_print_btn{background-color:#738A8D;}
.socialshare_popup_buttons .sessocial_icon_print_btn span{color:#738A8D;}
.socialshare_popup_buttons .sessocial_icon_whatsapp_btn{background-color:#25D366;}
.socialshare_popup_buttons .sessocial_icon_whatsapp_btn span{color:#00E676;}
.socialshare_popup_buttons .sessocial_icon_email_btn{background-color:#787878;}
.socialshare_popup_buttons .sessocial_icon_email_btn span{color:#787878;}
.socialshare_popup_buttons .sessocial_icon_yahoo_btn{background-color:#7f40bd;}
.socialshare_popup_buttons .sessocial_icon_yahoo_btn span{color:#7f40bd;}
.socialshare_popup_buttons .sessocial_icon_vk_btn{background-color:#436eab;}
.socialshare_popup_buttons .sessocial_icon_vk_btn span{color:#436eab;}
.socialshare_popup_buttons .sessocial_icon_more_btn{background-color:#FF4C4C;}
.socialshare_popup_buttons .sessocial_icon_more_btn span{color:#FF4C4C;}
@media (max-width:479px){
	.socialshare_popup_buttons > a{
		width:calc(50.33% - 4px);
	}
}
@media (max-width:350px){
	.socialshare_popup_buttons > a{
		width:100%;
	}
}
/*ADVANCED SHARE POPUP CSS END HERE*/

/*EMAIL FORM CSS START HERE*/
body#global_page_sessocialshare-index-email{
	background-color:#191919;
}
body#global_page_sessocialshare-index-email #global_content_simple{
	display:block;
}
.sessocialshare_email_form{
	width:575px;
	margin:0 auto;
}
.sessocialshare_email_cont{
	text-align:center;
	margin-top:30px;
}
.sessocialshare_email_cont > h2{
	background:none !important;
	border-width:0 !important;
	padding:0px 5px;
	text-align:center;
	font-size:35px;
	color:#fff;
	margin:0 0 10px;
}
.sessocialshare_email_cont > p{
	margin:0 0px 15px;
}
.sessocialshare_email_cont > p b{
	color:#fff;
	display:block;
	font-size:13px;
}
.sessocialshare_email_cont > p span{
	font-size:12px;
	color:#eeecec;
	opacity:.6;
}
.sessocialshare_email_form .global_form_box,
.sessocialshare_email_form .global_form_box > div,
.sessocialshare_email_form .global_form_box > div > div{
	background:none !important;
	border-width:0;
	padding:0;
	width:100%;
}
.sessocialshare_email_form .global_form_box .form-wrapper{
	margin-bottom:15px;
}
.sessocialshare_email_form .global_form_box .form-label{
	color:#d5d4d2;
	font-size:13px;
	margin-bottom:5px;
}
.sessocialshare_email_form .global_form_box .form-element input[type="email"],
.sessocialshare_email_form .global_form_box .form-element input[type="text"],
.sessocialshare_email_form .global_form_box .form-element textarea{
	background-color:#fff;
	border-radius:3px;
	border-width:0;
	color:#000;
	height:40px;
	padding:0 10px;
	width:100%;
}
.sessocialshare_email_form .global_form_box .form-element textarea{
	height:150px;
	padding:8px 10px;
}
.sessocialshare_email_form .global_form_box #submit-label{
	display:none;
}
.sessocialshare_email_form .global_form_box #submit-element{
	text-align:center;
}
.sessocialshare_email_form .global_form_box #submit-element button{
	padding:15px 40px;
}
.sessocialshare_email_success_message{
	color:#fff;
	font-size:25px;
	position:absolute;
	top:50%;
	width:100%;
	text-align:center;
	transform:translateY(50%);
	padding:0 10px;
}
.sessocialshare_email_success_message i{
	background-color:rgba(28, 201, 69, 0.91);
	display:inline-block;
	border-radius:50%;
	height:40px;
	width:40px;
	text-align:center;
	margin-right:10px;
}
.sessocialshare_email_success_message i:before{
	color:#fff;
	line-height:40px;
}
@media (max-width:600px){
	.sessocialshare_email_form{
		padding:0 10px;
		width:100%;
	}
	.sessocialshare_email_cont > h2{
		font-size:25px;
	}
	.sessocialshare_email_form .global_form_box .form-element input[type="email"],
	.sessocialshare_email_form .global_form_box .form-element input[type="text"],
	.sessocialshare_email_form .global_form_box .form-element textarea{
		max-width:100% !important;
		width:100% !important;
	}
}
/*EMAIL FORM CSS END HERE*/
/*Floating SocialIcons Widget Start Here*/
.layout_sessocialshare_sidebar_social_share{
	background:none !important;
	padding:0px !important;
	border:0px !important;
	margin:0px !important;
}
@media (min-width:768px){
	.sidebar_social_share_widget{
		position:fixed;
		left:0px;
		top:110px;
		z-index:99;
	}
	.sidebar_social_share_widget .sessocial_icon_btn{
		color:#fff;
		display:block;
		font-size:18px;
		text-align:center;
		position:relative;
		width:40px;
		left:0;
		-webkit-transition:all 500ms ease 0s;
		-moz-transition:all 500ms ease 0s;
		-o-transition:all 500ms ease 0s;
		transition:all 500ms ease 0s;	
		text-decoration:none;
	}
	.sidebar_social_share_widget._ishidden .sessocial_icon_btn{
		left:-40px;
	}
	.sidebar_social_share_widget .sessocial_icon_btn:after{
		content:"";
		display:block;
		clear:both;
	}
	.sidebar_social_share_widget .sessocial_icon_btn i{
		background-repeat:no-repeat;
		background-size:20px;
		background-position:center;
		width:100%;
		height:20px;
		margin:10px 0;
		float:left;
		-webkit-transition:all 200ms ease 0s;
		-moz-transition:all 200ms ease 0s;
		-o-transition:all 200ms ease 0s;
		transition:all 200ms ease 0s;	
	}
	.sidebar_social_share_widget .sessocial_icon_btn span.sidebar_social_content{
		color:#fff;
		display:block;
		font-size:11px;
		clear:both;
		float:left;
		width:100%;
		margin:-8px 0 5px;
	}
	.sidebar_social_share_widget .sessocial_icon_btn span.sidebar_social_title{
		color:#fff !important;
		position:absolute;
		left:55px;
		background:#222;
		padding:5px 10px;
		display:none;
		top:50%;
		transform:translate(0%, -50%);
		border-radius:3px;
		font-size:12px;
		white-space:nowrap;
	}
	.sidebar_social_share_widget .sessocial_icon_btn span.sidebar_social_title:before{
		content:'';
		display:block;
		width:0;
		height:0;
		border-top:5px solid transparent;
		border-bottom:5px solid transparent;
		border-right:5px solid #222;
		position:absolute;
		left:-5px;
		top:7px;
	}
	.sidebar_social_share_widget .sessocial_icon_btn:hover span.sidebar_social_title{
		display:block;
	}
	.sidebar_social_share_widget .sessocial_icon_btn:hover{
		width:50px;
	}
	.sidebar_social_share_toggle{
		position:relative;
		left:-40px;
		background-color:#ccc;
		display:block;
		width:40px;
		padding:2px 0;
		text-align:center;
		height:25px;
    -webkit-transition:all 500ms ease 0s;
    -moz-transition:all 500ms ease 0s;
    -o-transition:all 500ms ease 0s;
    transition:all 500ms ease 0s;
		text-decoration:none !important;
	}
	.sidebar_social_share_toggle i{
		color:#fff;
		font-size:20px;
	}
	.sidebar_social_share_widget:hover .sidebar_social_share_toggle,
	.sidebar_social_share_widget._ishidden .sidebar_social_share_toggle{left:0;}
	.sidebar_social_share_toggle i._right{display:none;}
	.sidebar_social_share_widget._ishidden i._right{display:block;}
	.sidebar_social_share_widget._ishidden i._left{display:none;}
	
	/*Placed on Right Side*/
	.sidebar_social_share_right{
		right:0px;
		left:inherit;
	}
	.sidebar_social_share_right .sessocial_icon_btn{
		float:right;
		clear:both;
		right:0;
		left:inherit;
	}
	.sidebar_social_share_right .sessocial_icon_btn span.sidebar_social_title{
		right:55px;
		left:inherit;
	}
	.sidebar_social_share_right .sessocial_icon_btn span.sidebar_social_title:before{
		border-left:5px solid #222;
		right:-5px;
		left:inherit;
		border-right:0px;
	}
	.sidebar_social_share_right .sidebar_social_share_toggle{
		float:right;
		left:inherit;
		right:-40px;
	}
	.sidebar_social_share_right._ishidden .sessocial_icon_btn{
		right:-40px;
		left:inherit;
	}
	.sidebar_social_share_right:hover .sidebar_social_share_toggle,
	.sidebar_social_share_right._ishidden .sidebar_social_share_toggle{
		right:0;
		left:inherit;
	}
}
@media (max-width:767px){
	.sidebar_social_share_widget {
		bottom:0;
		top:inherit !important;
		min-height:50px;
		position:fixed;
		padding-left:50px;
		left:0;
		display:table;
		width:100%;
		overflow:auto;
		white-space:nowrap;
		z-index:1;
	}
	.sidebar_social_title, .sidebar_social_content{display:none;}
	.sidebar_social_share_toggle{
		background-color:#ccc;
		height:50px;
		line-height:50px;
		text-align:center;
		width:50px;
		position:absolute;
		left:0;
	}
	.sidebar_social_share_toggle i{
		display:block;
		color:#000 !important;
		line-height:50px;
		font-size:20px;
	}
	.sidebar_social_share_toggle i._right{
		display:none;
	}
	.sidebar_social_share_widget._ishidden .sidebar_social_share_toggle i._left{
		display:none;
	}
	.sidebar_social_share_widget._ishidden .sidebar_social_share_toggle i._right{
		display:block;
	}
	.sidebar_social_share_widget .sessocial_icon_btn{
		color:#fff;
		display:table-cell;
		font-size:18px;
		text-align:center;
		position:relative;
		min-width:40px;
		text-decoration:none;
	}
	.sidebar_social_share_widget .sessocial_icon_btn:after{
		content:"";
		display:block;
		clear:both;
	}
	.sidebar_social_share_widget .sessocial_icon_btn i{
		background-repeat:no-repeat;
		background-size:20px;
		background-position:center;
		width:100%;
		height:20px;
		margin:15px 0;
		float:left;
	}
	.sidebar_social_share_widget._ishidden .sessocial_icon_btn{
		display:none;
	}
}
@media (max-width:540px){
	.sidebar_social_share_widget{
		display:block;
	}
	.sidebar_social_share_widget .sessocial_icon_btn{
		display:inline-block;
		margin-bottom:-3px;
		width:20%;
	}
	.sidebar_social_share_widget .sessocial_icon_btn + a{
		margin-left:-4px;
	}
}
/*Floating SocialIcons Widget End Here*/

/*Bottom Popup Widget Start Here*/
@-webkit-keyframes socialshare_popup_fadeInTop {
	0% {
	opacity:0;
	-webkit-transform:translateY(30%);
	}
	100% {
	opacity:1;
	-webkit-transform:translateY(0);
	}
}
@-moz-keyframes socialshare_popup_fadeInTop {
	0% {
	opacity:0;
	-moz-transform:translateY(30%);
	}
	100% {
	opacity:1;
	-moz-transform:translateY(0);
	}
}
@-o-keyframes socialshare_popup_fadeInTop {
	0% {
	opacity:0;
	-o-transform:translateY(30%);
	}
	100% {
	opacity:1;
	-o-transform:translateY(0);
	}
}
@keyframes socialshare_popup_fadeInTop {
	0% {
	opacity:0;
	transform:translateY(30%);
	}
	100% {
	opacity:1;
	transform:translateY(0);
	}
}
.layout_sessocialshare_bottom_share_popup{
	background:none;
	padding:0 !important;
	margin:0 !important;
	box-shadow:none !important;
	border-width:0 !important;
}
.socialshare_bottom_popup{
	box-shadow:0 0 15px rgba(0, 0, 0, .2);
	width:400px;
	position:fixed;
	bottom:0;
	padding:20px;
	z-index:10;
	opacity:0;
	filter:alpha(opacity=0);
	visibility:hidden;
}
.socialshare_bottom_popup._isvisible{
	opacity:1;
	filter:alpha(opacity=100);
	visibility:visible;
	-webkit-animation:socialshare_popup_fadeInTop 1s 1 cubic-bezier(0.77,0,.175,1);
	-moz-animation:socialshare_popup_fadeInTop 1s 1 cubic-bezier(0.77,0,.175,1);
	-o-animation:socialshare_popup_fadeInTop 1s 1 cubic-bezier(0.77,0,.175,1);
	animation:socialshare_popup_fadeInTop 1s 1 cubic-bezier(0.77,0,.175,1);
}
.socialshare_bottom_popup._ishidden{
	display:none;
	opacity:0;
	filter:alpha(opacity=0);
	visibility:hidden;
}
.socialshare_bottom_popup._posright{
	right:0;
}
.socialshare_bottom_popup._posleft{
	left:0;
}
.socialshare_bottom_popup._poscenter{
	left:50%;
	transform:translateX(-50%);
}
.socialshare_bottom_popup ._closebtn{
	position:absolute;
	text-decoration:none !important;
	right:10px;
	top:20px;
	font-size:17px;
}
.socialshare_bottom_popup_title{
	font-size:20px;
}
.socialshare_bottom_popup_desc{
	font-size:13px;
	margin:10px 0 15px;
}
.socialshare_bottom_popup_count b{
	font-weight:bold;
	font-size:17px;
}
.socialshare_bottom_popup .socialshare_popup_buttons {
	padding:0;
	overflow:hidden;
	margin:6px -4px 0;
}
.socialshare_bottom_popup .socialshare_popup_buttons > div{
	width:calc(50% - 8px);
	margin:4px;
	float:left;
}
.socialshare_bottom_popup .socialshare_popup_buttons > div a{
	display:block;
	width:100%;
}
.socialshare_bottom_popup ._whatsappW{
	display:none;
}
@media (max-width:768px){
	.socialshare_bottom_popup{
		left:0;
		right:0;
		transform:none;
		width:100%;
	}
	.socialshare_bottom_popup ._whatsappW{
		display:block;
	}
}
@media (max-width:400px){
	.socialshare_popup_buttons > div{
		width:100%;
	}
}
/*Bottom Popup Widget End Here*/
