

.sesuserdocverification_icon_verify:before{
	content:"\\f00c";
}
.sesuserdocverification_icon_reject:before{
	content:"\\f00d";
}
.sesuserdocverification_icon_approve:before{
	content:"\\f058";
}
.sesuserdocverification_icon_view:before{
	content:"\\f06e";
}
.sesuserdocverification_icon_delete:before{
	content:"\\f1f8";
}
.sesuserdocverification_icon_note:before{
	content:"\\f0f6 ";
}

.sesuserdocverification_label_pending,
.sesuserdocverification_label_verified,
.sesuserdocverification_label_rejected{
	display: inline-block;
	color: #fff;
	border-radius: 3px;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: bold;
	min-width: 100px;
}
.sesuserdocverification_label_pending{
	background-color:#f5ca00;
}
.sesuserdocverification_label_verified{
	background-color:#599e14;
}
.sesuserdocverification_label_rejected{
	background-color:#c8514a;
}
.sesuserdocverification_manage_options a{
	border-width: 1px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	height: 30px;
	width: 30px;
	background-color: #fff;
	color: #000;
}
.sesuserdocverification_manage_options a:hover{
	background-color:#f2f2f2;
}
.sesuserdocverification_manage_options a:before{
	font-size:15px;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}