
/*LANDING PAGE CSS*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
html #global_page_core-index-index #global_content{
	padding: 0;
	margin: 0;
	width: 100%;
	max-width: 100% !important;
}
#global_page_core-index-index #global_wrapper .layout_middle .generic_layout_container {
	padding: 0;
	margin: 0;
	border: 0px;
	box-shadow: none;
}
#global_page_core-index-index .layout_page_footer{
	margin-top:0 !important;
}
.layout_seslinkedin_landing_page {
	background:none !important;
	border-width:0 !important;
	padding:0 !important;
	margin:0 !important;
}
.lp_container,#global_page_core-index-index .layout_sesjob_browse_jobs{
	margin:0 auto !important;
	width:100%;
}
/* LP INTRO SECTION */
.lp_intro_section {
	padding:20px 0 100px;
	position:relative;
}
.lp_intro_inner {
	display:flex;
	flex-wrap:nowrap;
	justify-content:space-between;
}
.lp_intro_inner > .lp_intro_cont {
	max-width:55%;
	width:100%;
}
.lp_intro_cont > h1 {
	font-size:60px;
	font-weight:300;
	margin-bottom:50px;
	line-height:80px;
}
.lp_intro_cont .header_searchbox {
	max-width: 400px;
    width: 100%;
    height: 56px;
    line-height: 56px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 6px 9px rgba(0,0,0,0.2);
    background: none !important;
    justify-content: space-around;
    padding: 0 !important;
}
.lp_intro_cont .header_searchbox input[type="text"] {
	padding:0;
	height:40px;
	border:0;
	outline:none;
	background:none;
	width:100%;
	font-size:15px;
	padding-left: 35px;
	padding-right:10px;
}
.lp_intro_cont  .header_searchbox_input{
	width:70%;
}
.lp_intro_cont .header_searchbox button {
	background:none;
	font-size:18px;
	padding-left:0;
	padding-right:6px;
	line-height: 45px;
  left: 8px;
}
/*.lp_intro_img{
	max-height:360px;
}*/
.lp_intro_img img {
	width:100%;
	height:100%;
	object-fit:cover;
}
/* LP FEATURES SECTION */
.lp_features_section {
	padding:70px 0;
}
.lp_features_inner > .lp_features_cont > ul {
	display:flex;
	flex-wrap:nowrap;
}
.lp_features_cont .process-img {
	width:70px;
	height:70px;
	margin:15px auto 0;
	position:relative;
	display:inline-block;
}
.lp_features_cont .process-img img {
	z-index:1;
	width:100%;
	height:100%;
	position:relative;
}
.lp_features_cont .process-num {
	position:absolute;
	font-size:60px;
	font-weight:600;
	opacity:0.1;
	left:-48px;
	top:-33px;
}
.lp_features_cont > ul > li:nth-child(3n+1) .process-num {
  left:-35px;
}
.lp_features_cont .working-process h4 {
	margin:10px 0 0;
	font-size:16px;
	border:0;
}
.lp_features_cont .working-process p {
	line-height:1.9;
	font-size:14px;
}
/* LP BROWSE JOBS */
#global_page_core-index-index .layout_sesjob_browse_jobs{
	padding:70px 0 !important;
}
#global_page_core-index-index .layout_sesjob_browse_jobs > h3{
	margin: 0 0 30px !important;
  padding: 0 !important;
}
#global_page_core-index-index  .sesjob_list_job_view .sesjob_list_info_title {
  font-weight: 600 !important;
}
/* LP JOB SECTION */
.lp_job_section {
	padding:100px 0;
}
.lp_job_inner {
	display:flex;
	flex-wrap:nowrap;
}
.lp_job_inner >.lp_job_head {
	width:40%;
}
.lp_job_head > h2, 
.lp_features_head > h2,
#global_page_core-index-index .layout_sesjob_browse_jobs > h3,
.lp_members_jobs_inner > div > h2,
.lp_bottom_banner_section h2{
	font-size:44px;
	font-weight:300;
	line-height:60px;
}
.lp_job_section .lp_job_head {
    margin-right: 20px;
}
.lp_job_inner > .lp_intro_cont {
	flex:1;
}
.lp_intro_cont > h2 {
	font-size:16px;
}
.lp_intro_cont > ul > li {
	display:inline-block;
}
.lp_intro_cont > ul > li > a {
	font-size:18px;
	font-weight:600;
	border-radius:50px;
	padding:12px 40px;
	margin-top:10px;
	margin-right:5px;
	display:block;
}
.lp_intro_cont .show_more, .lp_intro_cont .show_less {
	font-size:16px;
	font-weight:600;
	margin-top:25px;
}
.lp_intro_cont .show_more, .lp_job_inner .show .show_less {
	display:block;
}
.lp_intro_cont .show_more i,
.lp_job_inner .show .show_less i{
	margin-left:5px;
}
.lp_intro_cont .sesbasic-autosuggest > li {
	display: flex;
	align-items: center;
}
.lp_intro_cont .sesbasic-autosuggest .autocompleter-choice{
  margin-left: 10px;
}
.lp_intro_cont .show_less, .lp_job_inner .show .show_more {
	display:none;
}
.lp_intro_cont > ul {
	max-height:180px;
	overflow:hidden;
}
.lp_job_inner .show ul {
	max-height:300px;
}
.lp_job_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lp_job_img {
    max-width: 500px;
    max-height: 500px;
}
/* LP MEMBERS JOBS SECTION */
.lp_members_jobs_section {
   padding:100px 0;
}
.lp_members_jobs_inner {
	display: flex;
	flex-wrap: nowrap;
}
.lp_members_jobs_inner > div:first-child {
  width:70%;
}
.lp_members_jobs_inner > div > h2 {
  max-width: 70%;
}
.lp_members_jobs_inner > div > img {
	max-height:300px;
	margin-bottom: 30px;
}
.lp_members_jobs_inner > div > a,.lp_bottom_banner_section a{
	padding: 15px 20px;
	border-radius: 50px;
	font-size: 16px;
	font-weight: 600;
	display: inline-block;
	margin-top: 15px;
}
/* LP POST JOB SECTION */
.lp_post_job_section {
	padding:70px 0;
}
.lp_post_job_section .lp_job_inner {
	align-items:center;
}
.lp_post_job_section h2 {
	max-width:90%;
	color:#B24020;
	font-weight:400;
	font-size:40px;
}
.lp_post_job_section a {
	font-size:18px;
	font-weight:600;
	border-radius:50px;
	padding:12px 25px;
}
.lp_features_head > h2 {
	text-align:center;
}
.lp_features_inner > .lp_features_cont > ul > li > div {
	text-align:center;
	padding:20px;
	margin-top:15px;
}
/* LP BOTTOM BANNER SECTION */
.lp_bottom_banner_section {
  padding:80px 0 0;
}
.lp_bottom_banner_section > div{
	text-align:center;
}
.lp_bottom_banner_section img{
	width:100%;
	height: 100%;
	object-fit: contain;
	box-sizing: border-box;
}
.lp_bottom_banner_section ._img {
	max-height: 400px;
	overflow: hidden;
	padding: 20px;
}
.lp_bottom_banner_section h2 {
    max-width: 90%;
    margin: 0 auto 10px;
}
/* lp video */
.layout_seslinkedin_landing_page_video > h3{
	display:none;
}
.lp_video_section {
  padding:80px 0;
	background-size: 40% 60%;
	background-repeat: no-repeat;
	background-position: right bottom;
}
.lp_video_inner {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.lp_video_inner > .lp_video iframe {
	width: 100%;
	height: 350px;
}
.lp_video_inner > .lp_video {
  width: 50%;
	border-radius: 10px;
	box-shadow: 0 0 10px #989898;
	overflow: hidden;
}
.lp_video_inner > .lp_intro_cont{
	flex:1;
	margin-left:50px;
}
.lp_video_inner > .lp_intro_cont h2 {
	font-size:38px;
	color: #B24020;
	font-weight: 500;
}
.lp_video_inner > .lp_intro_cont h3{
  font-size: 36px;
  font-weight: 100;
	padding-top: 0;
}
@media(max-width:767px){
	.lp_intro_inner {
    display: block;
	}
	.lp_intro_inner > .lp_intro_cont,
	.lp_members_jobs_inner > div > h2{
    max-width: 100%;
	}
	#global_page_core-index-index #global_wrapper {
    padding-top: 0;
	}
	.lp_intro_cont > h1 {
    font-size: 35px;
    margin-bottom: 15px;
    line-height: 50px;
  }
	.lp_intro_search > input[type="text"] {
    width: 90% !IMPORTANT;
  }
	 .lp_intro_cont > .lp_intro_search {
    height: auto;
		max-width: 90%;
    margin-left: 5px;
	}
	.lp_intro_section,
	#global_page_core-index-index .layout_sesjob_browse_jobs,
	.lp_features_section,.lp_job_section,.lp_post_job_section,.lp_bottom_banner_section,.lp_members_jobs_section,
	.seslinkedin_footer_links{
    padding: 20px !important;
	}
	.lp_intro_img {
    width: 100% !important;
    position: relative !important;
    right: 0 !important;
    left: 0;
    top: 0 !important;
   }
	.lp_features_inner > .lp_features_cont > ul,
	.lp_job_inner,.lp_members_jobs_inner{
    display: block;
	}
	.lp_job_head > h2, .lp_features_head > h2, #global_page_core-index-index .layout_sesjob_browse_jobs > h3, .lp_members_jobs_inner > div > h2, .lp_bottom_banner_section h2 {
    font-size: 32px;
    line-height:40px;
    margin-top: 20px !important;
  }
  .lp_job_inner >.lp_job_head{
	  width: 100%;
  }
	.lp_post_job_section a {
    display: inline-block;
  }
	.lp_members_jobs_inner > div:first-child {
    width: 100%;
    margin-bottom: 20px;
  }
  .sesjob_list_job_view .sesjob_list_thumb{
	  margin-bottom:10px !important;
  }
	.header_guest ._logo {
    margin-top: 5px;
  }
	.lp_video_inner {
    display: block;
	}
	.lp_video_inner > .lp_video iframe {
    height: 200px;
  }
	.lp_video_inner > .lp_video {
    width: 90%;
    margin: 20px auto;
	}
	.lp_video_inner > .lp_intro_cont {
    margin-left: 0;
    padding: 0 20px;
  }
	.lp_video_inner > .lp_intro_cont h2 {
    font-size:25px;
	}
	.lp_video_inner > .lp_intro_cont h3 {
    font-size: 20px;
	}
	.lp_video_section {
    padding: 50px 0;
  }
  .lp_members_jobs_inner > div > img {
    width: 100%;
   }
}
@media(min-width:768px) and (max-width:900px){
	#global_page_core-index-index #global_wrapper {
    padding-top: 0;
	}
	div#global_content{
		padding:0 !important;
	}
	.lp_intro_section,
	#global_page_core-index-index .layout_sesjob_browse_jobs,
	.lp_features_section,.lp_job_section,.lp_post_job_section,.lp_bottom_banner_section,.lp_members_jobs_section,
	.layout_page_footer{
    padding:40px 20px!important;
	}
	.lp_intro_cont > h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 60px;
		text-align:center;
  }
	.lp_job_head > h2, .lp_features_head > h2, #global_page_core-index-index .layout_sesjob_browse_jobs > h3, .lp_members_jobs_inner > div > h2, .lp_bottom_banner_section h2 {
    font-size: 40px;
    line-height:50px;
    margin-top: 20px !important;
  }
	html .sesjob_list_job_view .sesjob_list_thumb {
    width: 130px !important;
  }
}