/*Post Status*/
.sesact_post_box .jqueryHashtags .highlighter {
	color:inherit !important;
}
/*.sesact_post_box #compose-container textarea {
	-webkit-text-fill-color:transparent !important;
}
.sesact_post_box #compose-container textarea::-webkit-input-placeholder{
 text-shadow:none;
 -webkit-text-fill-color:initial !important;
}*/
.sesact_post_box .sesfeelact_status_icon_small,
.sesact_comments .sesfeelact_status_icon_small{
  width: 16px;
  height: 16px;
  background-position: 50%;
  color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}
.sesact_post_box .sesfeelact_status_icon_big{
	margin-top:3px;
	position:relative;
	z-index:1;
	margin-left:-1.5px;
}

/*Comment*/
.sesadvcmt_comments .comment_form .jqueryHashtags .highlighter,
.sesadvcmt_comments div._form_container div.comment_form textarea{
	font-size:14px !important;
}
/*.sesadvcmt_comments .jqueryHashtags .highlighter {
	color:inherit !important;
}*/
.sesadvcmt_comments .typehead textarea {
	-webkit-text-fill-color:transparent !important;
}
.sesadvcmt_comments .typehead textarea::-webkit-input-placeholder{
 text-shadow:none;
 -webkit-text-fill-color:initial !important;
}

/*Feed*/
.sesact_feed_item_bodytext .emojione,
.comments_body .emojione,
.comments_reply_body .emojione{ 
  width: 16px;
  height: 16px;
  background-position: 50%;
  /*color: transparent;*/
  background-repeat: no-repeat;
  background-size: contain;
  margin-right:1px;
  font-style:normal;
}
.feed_background_image .sesact_feed_item_bodytext .emojione{
	max-height:28px;
	max-width:28px;
	position:relative;
	top:-3px;
}