.ses_page_not_found_three_row p.home_link a,.ses_page_not_found_two_row .ses_not_found_form button,.ses_page_not_found_two_row .home_link a:hover{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
}
.ses_page_not_found_one_row .ses_not_found_main_content_inner{
	background-color:$theme_list_background_color;
}
.ses_page_not_found_two_row .home_link a{
	color:$theme_button_background_color;
	background:$theme_button_font_color;
}