@charset "utf-8";
/* CSS Document */

#global_page_seserror-error-view #global_wrapper{
	padding:0 !important;
}
#global_page_seserror-error-view #global_content{
	width:100%;
	font-family: 'Open Sans', sans-serif;
}
#global_page_seserror-error-view .layout_seserror_pagenotfound{
	border: 0 !important;
	padding: 0 !important;
	box-shadow: none !important;
	margin: 0 !important;
}
.ses_page_not_found_main {
	text-align:center;
}
/*Error page tameplate one*/
.ses_page_not_found_one_row .ses_not_found_main_tittle h2{
	font-size:90px;
	font-weight:bold;
	line-height:normal;
	text-align:center;
}
.ses_page_not_found_one_row .ses_not_found_mini_tittle{
	font-size:58px;
	text-align:center;
	margin:30px 0px;
}
.ses_page_not_found_one_row .ses_not_found_img{
	text-align:center;
	margin-top:50px;
}
.ses_page_not_found_one_row .ses_not_found_img img{
	width:400px;
}
.ses_page_not_found_one_row .ses_not_found_main_content_inner{
	padding: 50px 0px;
	text-align:center;
	margin-top:40px;
	background-color:#dfdfdf;
}
.ses_page_not_found_one_row p.small_tittle{
	font-size:25px;
	margin-bottom:20px;
}
.ses_page_not_found_one_row .ses_not_found_form{
	text-align:center;
}
.ses_page_not_found_one_row .ses_not_found_form input[type=search]{
	display: inline-block;
	padding: 12px;
	width: 320px;
	border-radius: 3px 0px 0px 3px;
}
.ses_page_not_found_one_row .ses_not_found_form button{
	padding: 11px 36px;
	margin-left: -4px;
	border: none;
	border-radius: 0px 3px 3px 0px;
	background-image:none;
	font-family: 'Open Sans', sans-serif;
	vertical-align:top;
	font-size:15px;
	background-color:#79b4d4;
	color:#fff;
}
.ses_page_not_found_one_row 	p.home_link{
	padding:20px 0px;
	display: inline-block;
	width: 100%;
	margin-top:20px;
}
.ses_page_not_found_one_row 	p.home_link a{
	font-size:20px;
	background-color:#79b4d4;
	color:#fff;
	padding:10px 60px;
	border-radius:3px;
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	font-weight:600;
}
.ses_page_not_found_one_row 	p.home_link a:hover{
	opacity:0.8;
}
/*Error page tameplate two*/
.ses_page_not_found_two_row{
	position:relative;
	margin:0 auto;
	clear: both;
	overflow: hidden;
	padding: 150px 0;
	text-align:center;
	background-image:url(../images/pagenotfound/7.png);
	background-repeat: no-repeat;
	background-size:cover;
}
.ses_page_not_found_two_row:before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#000;
	opacity:.6;
}
.ses_page_not_found_two_row p {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
.ses_page_not_found_two_row .ses_not_found_main_tittle p{
	font-size:100px;
	font-weight:bold;
	text-align:center;
}
.ses_page_not_found_two_row .ses_not_found_main_tittle p span{
	font-size:58px;
	display:block;
}
.ses_page_not_found_two_row .ses_page_not_found_center{
	position:relative;
	overflow:hidden;
}
.ses_page_not_found_two_row .ses_page_not_found_center > div {
  text-align: center;
}
.ses_page_not_found_two_row .ses_not_found_mini_tittle{
	font-size:35px;
	margin:15px 0 25px;
}
.ses_page_not_found_two_row .ses_not_found_discrtiption{
	font-size:20px;
	margin-bottom:30px;
}
.ses_page_not_found_two_row .ses_not_found_form input[type=search]{
	display: inline-block;
	padding: 0 20px;
	width: 320px;
	border-radius: 50px 0 0 50px;
	height: 45px;
}
.ses_page_not_found_two_row .ses_not_found_form button{
	padding:0 36px;
	margin-left: -4px;
	border: none;
	border-radius: 0 50px 50px 0;
	background-image: none;
	height: 45px;
	vertical-align: top;
}
.ses_page_not_found_two_row .home_link{
	margin-top:30px;
	text-align:center;
}
.ses_page_not_found_two_row .ses_not_found_form{
	text-align:center;
}
.ses_page_not_found_two_row .home_link a{
	font-size: 18px;
	text-decoration: none;
	padding: 8px 30px;
	border-radius: 50px;
	display: inline-block;
	transition:all .5s ease;
}
.ses_page_not_found_two_row .home_link a img{
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
}
/*Error page tameplate three*/
.ses_page_not_found_three_row{
	background-image:url(../images/pagenotfound/6.png);
	background-repeat: no-repeat;
	background-size:100%;
	margin:0 auto;
	clear:both;
	overflow:hidden;
	padding:80px;
	padding-bottom:200px;
}
.ses_page_not_found_three_row .ses_not_found_main_tittle{
	font-size: 150px;
  font-weight: bold;
}
.ses_page_not_found_three_row .ses_not_found_discrtiption{
	font-size:35px;
	margin:10px 0px;
}
.ses_page_not_found_three_row .ses_not_found_form{
	margin-top:50px;
}
.ses_page_not_found_three_row .ses_not_found_form p{
	font-size:20px;
	margin-bottom:10px;
}
.ses_page_not_found_three_row p,.ses_page_not_found_three_row button{
	font-family: "Open Sans", sans-serif;
}
.ses_page_not_found_three_row .ses_not_found_form input[type=search]{
	display: inline-block;
	padding: 0px 10px;
	width: 250px;
	height:40px;
	border-width:1px;
}
.ses_page_not_found_three_row .ses_not_found_form button{
	padding: 0px 36px;
	margin-left: -4px;
	border: none;
	border-radius: 0px 3px 3px 0px;
	background-image:none;
	height:40px;
	background-color:#2196F3;
	color:#fff;
}
.ses_page_not_found_three_row p.home_link{
	margin-top:30px;
}
.ses_page_not_found_three_row p.home_link a{
	font-size: 18px;
	color:#fff;
	padding: 10px 15px;
	display: inline-block;
	border-radius: 3px;
	text-decoration:none;
}
.ses_page_not_found_three_row p.home_link a:hover{
	opacity:0.8;
}
/*Error page tameplate four*/
.ses_page_not_found_four_row{
	background-image:url(../images/pagenotfound/8.png);
	background-repeat: no-repeat;
	background-size:100%;
	margin:0 auto;
	clear: both;
	overflow: hidden;
	padding: 120px 0px;
}
.ses_page_not_found_four_row .ses_not_found_main_tittle h2{
	font-size:90px;
	line-height:normal;
	text-align:center;
	font-weight:bold;
	font-family: 'Oswald', sans-serif;
}
.ses_page_not_found_four_row .ses_not_found_mini_tittle{
	font-size:30px;
	text-align:center;
	margin:15px 0;
	font-family: 'Oswald', sans-serif;
}
.ses_page_not_found_four_row .ses_not_found_mini_tittle p span{
	color:#5b5e5f;
}
.ses_page_not_found_four_row .ses_not_found_main_content_inner{
	padding:0px;
	text-align: center;
	margin-bottom: 30px;
}
.ses_page_not_found_four_row p.small_tittle{
	font-size: 20px;
	letter-spacing: .5px;
	margin-bottom: 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
.ses_page_not_found_four_row .ses_not_found_form{
	text-align:center;
	margin-top:30px;
}
.ses_page_not_found_four_row .ses_not_found_form input[type=search]{
	display: inline-block;
	padding: 12px;
	width: 320px;
	border-radius: 0px;
	border-width:1px;
	font-family: 'Oswald', sans-serif;
}
.ses_page_not_found_four_row .ses_not_found_form button{
	padding: 12px 36px;
	margin-left: -4px;
	border: none;
	border-radius:0px;
	background-image:none;
	font-family: 'Oswald', sans-serif;
	vertical-align:top;
}
.ses_page_not_found_four_row p.home_link{
	margin-top: 20px !important;
	margin: 0 auto;
}
.ses_page_not_found_four_row p.home_link a{
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	border-radius: 50px;
	border: 1px solid;
	padding: 7px 30px;
	display: inline-block;
	margin-top: 15px;
}
.ses_page_not_found_four_row p.home_link a img{
	display:inline-block;
	vertical-align:middle;
	
}
/*Error page tameplate five*/
.ses_page_not_found_five_row{
	margin:0 auto;
	clear: both;
	overflow: hidden;
	padding: 120px 0px;
	background-color:#4670f6;
}
.ses_page_not_found_five_row .ses_not_found_main_tittle h2{
	text-align:center;
}
.ses_page_not_found_five_row .ses_not_found_main_tittle h2 img{
	width:500px;
}
.ses_page_not_found_five_row .ses_not_found_mini_tittle{
	font-size:48px;
	text-align:center;
	color:#fff;
	margin:40px 0px 15px 0px;
	font-weight:600;
}
.ses_page_not_found_five_row .ses_not_found_main_content_inner{
	padding:0px;
	text-align: center;
	margin-bottom: 30px;
}
.ses_page_not_found_five_row p.small_tittle{
	font-size:26px;
	margin-bottom:20px;
	color:#fff;
	font-weight:600;
}
.ses_page_not_found_five_row .ses_not_found_form{
	text-align:center;
	margin-top:60px;
}
.ses_page_not_found_five_row .ses_not_found_form input[type=search]{
	display: inline-block;
	padding: 10px;
	width: 320px;
	border-radius: 3px;
	border-width:1px;
	height:41px;
}
.ses_page_not_found_five_row p.home_link{
	display: inline-block;
	margin-right: 18px;
}
.ses_page_not_found_five_row .searchform{
	display:inline-block;
}
.ses_page_not_found_five_row p.home_link a{
	font-size: 20px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	background-color: #46f4f6;
	border-radius: 3px;
	padding: 0px 26px;
	height: 38px;
	display: block;
	line-height: 38px;
	border-bottom: 3px solid #2ccfd1;
	text-decoration:none;
}
.ses_page_not_found_five_row p.home_link a:hover{
	background-color:#2ccfd1;
}
/*Error page tameplate six*/
.ses_page_not_found_six_row{
	margin:0 auto;
	clear: both;
	overflow: hidden;
	padding: 120px 0px 270px 0px;
	background-color:#79b3d4;
	background-image:url(../images/pagenotfound/2.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size:100%;
}
.ses_page_not_found_six_row .ses_not_found_main_tittle h2{
	font-size: 122px;
	line-height: 124px;
	color: #fff;
	text-align: center;
	font-family: 'Conv_segoescb';
}
.ses_page_not_found_six_row .ses_not_found_mini_tittle{
	font-size:48px;
	text-align:center;
	color:#fff;
	margin:0px 0px 15px 0px;
	font-weight:600;
}
.ses_page_not_found_six_row .ses_not_found_mini_tittle p{
	font-family: 'Conv_segoescb';
}
.ses_page_not_found_six_row .ses_not_found_main_content_inner{
	padding:0px;
	text-align: center;
	margin-bottom: 30px;
}
.ses_page_not_found_six_row p.small_tittle{
	font-size:26px;
	margin-bottom:20px;
	color:#fff;
	font-weight:600;
	font-family: 'Conv_segoescb';
}
.ses_page_not_found_six_row .ses_not_found_form{
	text-align:center;
	margin-top:60px;
}
.ses_page_not_found_six_row .ses_not_found_form input[type=search]{
	display: inline-block;
	padding: 10px;
	width: 320px;
	border-radius: 30px;
	border:4px solid #fff;
	height:48px;
	font-family: 'Conv_segoescb';
	background-color:#79b3d4;
	color:#fff;
}
.ses_page_not_found_six_row .ses_not_found_form input::-webkit-input-placeholder {
   color: #fff;
}
.ses_page_not_found_six_row p.home_link{
	display: inline-block;
	margin-right: 18px;
}
.ses_page_not_found_six_row .searchform{
	display:inline-block;
}
.ses_page_not_found_six_row p.home_link a{
	font-size: 20px;
	color: #79b3d4;
	font-family: 'Conv_segoescb';
	font-weight: 600;
	background-color: #fff;
	border-radius: 30px;
	padding: 0px 30px;
	height: 48px;
	display: block;
	line-height: 48px;
	text-decoration:none;
}
/*Error page tameplate seven*/
.ses_page_not_found_seven_row{
	margin:0 auto;
	clear: both;
	overflow: hidden;
	padding: 60px 0px 270px 0px;
	background-image:url(../images/pagenotfound/3.png);
	background-repeat: no-repeat;
	background-size: cover;
	height:510px;
	position:relative;
	font-family: 'OpenSans';
}
.ses_page_not_found_seven_row .ses_not_found_top_content{
	background-image:url(../images/pagenotfound/sky_bg.png);
	background-repeat:no-repeat;
	min-height: 300px;
	text-align: center;
	width: 570px;
	padding: 40px 10px;
	margin: 0 auto;
}
.ses_page_not_found_seven_row .ses_not_found_main_tittle h2{
	font-size: 50px;
	font-weight:bold;
	line-height: 124px;
	color: #8fd7f0;
	text-align: center;
}
.ses_page_not_found_seven_row .ses_not_found_mini_tittle{
	font-size:24px;
	text-align:center;
	color:#8fd7f0;
	margin:0px 0px 15px 0px;
	font-weight:600;
	text-align:center;
}
.ses_page_not_found_seven_row p.small_tittle{
	font-size:18px;
	margin-bottom:20px;
	color:#8fd7f0;
	font-weight:600;
}
.ses_page_not_found_seven_row p.home_link{
	position: absolute;
	bottom: 320px;
	left: 208px;
}
.ses_page_not_found_seven_row p.home_link a{
	font-size: 20px;
	color: #79b3d4;
	font-weight: 600;
	text-decoration:none;
}
/*Error page tameplate four*/
.ses_page_not_found_eight_row{
	margin:0 auto;
	clear: both;
	overflow: hidden;
	padding: 120px 0px;
}
.ses_page_not_found_eight_row .ses_not_found_img{
	float:left;
	position:relative;
	left:70px;
}
.ses_page_not_found_eight_row .ses_not_found_img img{
	width:320px;
	object-fit:cover;
}
.ses_page_not_found_eight_row .ses_not_found_main_tittle,
.ses_page_not_found_eight_row .ses_not_found_mini_tittle,
.ses_page_not_found_eight_row .ses_not_found_main_content{
	overflow:hidden;
	display:block;
}
.ses_page_not_found_eight_row .ses_not_found_main_tittle h2{
	font-size:70px;
	line-height:normal;
	text-align:center;
	font-weight:bold;
}
.ses_page_not_found_eight_row .ses_not_found_mini_tittle{
	font-size:38px;
	text-align:center;
	margin:15px 0px;
	font-weight:600;
}
.ses_page_not_found_eight_row .ses_not_found_mini_tittle p span{
	color:#5b5e5f;
}
.ses_page_not_found_eight_row .ses_not_found_main_content_inner{
	padding:0px;
	text-align: center;
	margin-bottom: 30px;
}
.ses_page_not_found_eight_row p.small_tittle{
	font-size:22px;
	margin-bottom:20px;
	font-weight:600;
}
.ses_page_not_found_eight_row .ses_not_found_form{
	text-align:center;
	margin-top:40px;
}
.ses_page_not_found_eight_row .ses_not_found_form input[type=search]{
	display: inline-block;
	padding: 12px;
	width: 320px;
	border-radius: 30px;
	border-width:1px;
	margin-right:30px;
}
.ses_page_not_found_eight_row .ses_not_found_form button{
	padding: 12px 36px;
	margin-left: -4px;
	border: none;
	border-radius:30px;
	background-image:none;
	font-family: 'Open Sans', sans-serif;
	vertical-align:top;
	background-color:#79b4d4;
	color:#fff;
}
.ses_page_not_found_eight_row p.home_link{
	margin-top: 20px !important;
	margin: 0 auto;
}
.ses_page_not_found_eight_row p.home_link a{
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	text-decoration: none;
}
.ses_page_not_found_eight_row p.home_link a img{
	display:inline-block;
	vertical-align:middle;
}
/*responsive css*/
@media (min-width: 980px) and (max-width:1050px){
			/*Error page tameplate seven*/
		.ses_page_not_found_seven_row p.home_link{
			bottom: 320px;
			left: 209px;
		}
			/*Error page tameplate eight*/
		.ses_page_not_found_eight_row .ses_not_found_main_tittle, 
		.ses_page_not_found_eight_row .ses_not_found_mini_tittle, 
		.ses_page_not_found_eight_row .ses_not_found_main_content{
			float:none;
			width:100%;
		}
		.ses_page_not_found_eight_row .ses_not_found_img{
			position:inherit;
			float:none;
			text-align:center;
		}
		.ses_page_not_found_eight_row .ses_not_found_img img{
			width:40%;
		}
		.ses_page_not_found_eight_row p.home_link{
			bottom: 320px;
			left: 209px;
		}
		.ses_page_not_found_eight_row{
			padding:0px;
		}
	.ses_page_not_found_eight_row .ses_not_found_top_content{
		background-size: contain;
		width:350px;
		min-height:auto;
		padding:38px 10px;
	}
	.ses_page_not_found_eight_row .ses_not_found_main_tittle h2{
		font-size:40px;
		line-height:normal;
    margin-top: 30px;
	}
	.ses_page_not_found_eight_row .ses_not_found_mini_tittle{
		font-size:18px;
		margin:0px 0px 6px 0px;
	}
	.ses_page_not_found_eight_row p.small_tittle{
		font-size:16px;
	}
	.ses_page_not_found_eight_row p.home_link{
		bottom: 190px;
		left: 128px;
	}
	.ses_page_not_found_eight_row p.home_link a{
		font-size:16px;
	}
	}
@media (min-width: 768px) and (max-width:979px){
	/*Error page tameplate two*/
	.ses_page_not_found_two_row .ses_not_found_form input[type="search"]{
		width:250px;
	}
	.ses_page_not_found_two_row .ses_not_found_form button{
		padding:0 16px;
	}
	/*Error page tameplate three*/
	.ses_page_not_found_three_row{
		width:100%;
		padding-left:70px;
	}
	.ses_page_not_found_three_row .ses_not_found_main_tittle{
		font-size:52px;
	}
	/*Error page tameplate seven*/
		.ses_page_not_found_seven_row p.home_link{
			bottom: 320px;
			left: 209px;
		}
		.ses_page_not_found_seven_row{
			padding:0px;
		}
	.ses_page_not_found_seven_row .ses_not_found_top_content{
		background-size: contain;
		width:350px;
		min-height:auto;
		padding:38px 10px;
	}
	.ses_page_not_found_seven_row .ses_not_found_main_tittle h2{
		font-size:40px;
		line-height:normal;
    margin-top: 30px;
	}
	.ses_page_not_found_seven_row .ses_not_found_mini_tittle{
		font-size:18px;
		margin:0px 0px 6px 0px;
	}
	.ses_page_not_found_seven_row p.small_tittle{
		font-size:12px;
	}
	.ses_page_not_found_seven_row p.home_link{
		bottom: 190px;
		left: 128px;
	}
	.ses_page_not_found_seven_row p.home_link a{
		font-size:12px;
	}
		/*Error page tameplate eight*/
		.ses_page_not_found_eight_row .ses_not_found_main_tittle, 
		.ses_page_not_found_eight_row .ses_not_found_mini_tittle, 
		.ses_page_not_found_eight_row .ses_not_found_main_content{
			float:none;
			width:100%;
		}
		.ses_page_not_found_eight_row .ses_not_found_img{
			position:inherit;
			float:none;
			text-align:center;
		}
		.ses_page_not_found_eight_row .ses_not_found_img img{
			width:40%;
		}
		.ses_page_not_found_eight_row p.home_link{
			bottom: 320px;
			left: 209px;
		}
		.ses_page_not_found_eight_row{
			padding:0px;
		}
	.ses_page_not_found_eight_row .ses_not_found_top_content{
		background-size: contain;
		width:350px;
		min-height:auto;
		padding:38px 10px;
	}
	.ses_page_not_found_eight_row .ses_not_found_main_tittle h2{
		font-size:40px;
		line-height:normal;
    margin-top: 30px;
	}
	.ses_page_not_found_eight_row .ses_not_found_mini_tittle{
		font-size:18px;
		margin:0px 0px 6px 0px;
	}
	.ses_page_not_found_eight_row p.small_tittle{
		font-size:16px;
	}
	.ses_page_not_found_eight_row p.home_link{
		bottom: 190px;
		left: 128px;
	}
	.ses_page_not_found_eight_row p.home_link a{
		font-size:16px;
	}
}
@media (max-width:767px){
	/*Error page tameplate one*/
	.ses_page_not_found_one_row .ses_not_found_main_tittle h2{
		font-size:90px;
	}
	.ses_page_not_found_one_row .ses_not_found_mini_tittle{
		font-size:38px;
	}
	/*Error page tameplate two*/
	.ses_page_not_found_two_row .ses_page_not_found_left{
		width:30%;
	}
	.ses_page_not_found_two_row .ses_not_found_main_tittle p{
		font-size:88px;
	}
	.ses_page_not_found_two_row .ses_not_found_mini_tittle{
		font-size:32px;
	}
	.ses_page_not_found_two_row .ses_not_found_discrtiption{
		font-size:16px;
	}
	.ses_page_not_found_two_row .ses_not_found_form input[type="search"]{
		width:200px;
	}
	.ses_page_not_found_two_row .ses_not_found_form button{
		padding:0 16px;
	}
	/*Error page tameplate three*/
	.ses_page_not_found_three_row{
		width:100%;
		padding-left:40px;
	}
	.ses_page_not_found_three_row .ses_not_found_main_tittle{
		font-size:42px;
	}
	/*Error page tameplate six*/
	.ses_page_not_found_six_row{
		padding:70px 0 160px;
	}
	.ses_page_not_found_six_row .ses_not_found_main_tittle h2{
		font-size:92px;
	}
	.ses_page_not_found_six_row .ses_not_found_mini_tittle{
		font-size:32px;
	}
	.ses_page_not_found_six_row p.small_tittle{
		font-size:20px;
	}
	/*Error page tameplate five*/
	.ses_page_not_found_five_row .ses_not_found_main_tittle h2 img{
		width:80%;
	}
	.ses_page_not_found_five_row .ses_not_found_mini_tittle{
		font-size:34px;
	}
	.ses_page_not_found_five_row p.small_tittle{
		font-size:22px;
	}
	/*Error page tameplate seven*/
		.ses_page_not_found_seven_row p.home_link{
			bottom: 320px;
			left: 209px;
		}
		.ses_page_not_found_seven_row{
			padding:0px;
		}
	.ses_page_not_found_seven_row .ses_not_found_top_content{
		background-size: contain;
		width:350px;
		min-height:auto;
		padding:38px 10px;
	}
	.ses_page_not_found_seven_row .ses_not_found_main_tittle h2{
		font-size:40px;
		line-height:normal;
    margin-top: 30px;
	}
	.ses_page_not_found_seven_row .ses_not_found_mini_tittle{
		font-size:18px;
		margin:0px 0px 6px 0px;
	}
	.ses_page_not_found_seven_row p.small_tittle{
		font-size:12px;
	}
	.ses_page_not_found_seven_row p.home_link{
		bottom: 190px;
		left: 128px;
	}
	.ses_page_not_found_seven_row p.home_link a{
		font-size:12px;
	}
	/*Error page tameplate eight*/
		.ses_page_not_found_eight_row .ses_not_found_main_tittle, 
		.ses_page_not_found_eight_row .ses_not_found_mini_tittle, 
		.ses_page_not_found_eight_row .ses_not_found_main_content{
			float:none;
			width:100%;
		}
		.ses_page_not_found_eight_row .ses_not_found_img{
			position:inherit;
			float:none;
			text-align:center;
		}
		.ses_page_not_found_eight_row .ses_not_found_img img{
			width:40%;
		}
		.ses_page_not_found_eight_row p.home_link{
			bottom: 320px;
			left: 209px;
		}
		.ses_page_not_found_eight_row{
			padding:0px;
		}
	.ses_page_not_found_eight_row .ses_not_found_top_content{
		background-size: contain;
		width:350px;
		min-height:auto;
		padding:38px 10px;
	}
	.ses_page_not_found_eight_row .ses_not_found_main_tittle h2{
		font-size:40px;
		line-height:normal;
    margin-top: 30px;
	}
	.ses_page_not_found_eight_row .ses_not_found_mini_tittle{
		font-size:18px;
		margin:0px 0px 6px 0px;
	}
	.ses_page_not_found_eight_row p.small_tittle{
		font-size:16px;
	}
	.ses_page_not_found_eight_row p.home_link{
		bottom: 190px;
		left: 128px;
	}
	.ses_page_not_found_eight_row p.home_link a{
		font-size:16px;
	}
}
@media (max-width:599px){
	/*Error page tameplate two*/
	.ses_page_not_found_two_row .ses_page_not_found_left{
		width:auto;
	}
	.ses_page_not_found_two_row .ses_not_found_main_tittle p{
		font-size:44px;
	}
	.ses_page_not_found_two_row .ses_not_found_main_tittle p span{
		font-size:48px;
	}
	.ses_page_not_found_two_row .ses_page_not_found_left{
		margin-right: 20px;
		padding-right: 20px;
	}
	.ses_page_not_found_two_row .ses_not_found_mini_tittle{
		font-size:24px;
	}
	.ses_page_not_found_two_row .ses_not_found_discrtiption {
    font-size: 14px;
		margin-bottom: 12px;
	}
	.ses_page_not_found_two_row .home_link a{
		font-size:16px;
	}
	.ses_page_not_found_two_row .home_link a img{
		width:16px;
		margin-top:2px;
	}
		/*Error page tameplate three*/
	.ses_page_not_found_three_row{
		padding-left:20px;
	}
	.ses_page_not_found_three_row .ses_not_found_discrtiption{
		font-size:18px;
	}
	.ses_page_not_found_three_row .ses_not_found_main_tittle{
		font-size:34px;
	}	
		/*Error page tameplate four*/
	.ses_page_not_found_four_row .ses_not_found_main_tittle h2{
		font-size:62px;
	}
	.ses_page_not_found_four_row .ses_not_found_mini_tittle{
		font-size:28px;
	}
	.ses_page_not_found_four_row p.small_tittle{
		font-size:14px;
	}
	/*Error page tameplate eight*/
	.ses_page_not_found_eight_row .ses_not_found_form input[type=search]{
		width:280px;
		margin-right:10px;
	}
}
@media (max-width:479px){
	/*Error page tameplate one*/
	.ses_page_not_found_one_row .ses_not_found_main_tittle h2{
		font-size:60px;
	}
	.ses_page_not_found_one_row .ses_not_found_mini_tittle{
		font-size:24px;
	}
	.ses_page_not_found_one_row p.small_tittle{
		font-size:18px;
	}
	.ses_page_not_found_one_row .ses_not_found_form input[type="search"]{
		width:176px;
		height:38px;
	}
	.ses_page_not_found_one_row .ses_not_found_form button{
		height:38px;
		padding:10px 20px;
	}
	.ses_page_not_found_one_row p.home_link a{
		padding:8px 46px;
		font-size:18px;
	}
	.ses_page_not_found_one_row .ses_not_found_img img{
		width:100%;
	}
	.ses_page_not_found_one_row .ses_not_found_form button{
		padding:10px;
	}
	/*Error page tameplate two*/
	.ses_page_not_found_two_row .ses_not_found_main_tittle p {
    font-size: 52px;
	}
	.ses_page_not_found_two_row .ses_not_found_main_tittle p span {
    font-size: 27px;
	}
	.ses_page_not_found_two_row .ses_not_found_mini_tittle{
		font-size:18px;
	}
	.ses_page_not_found_two_row .ses_not_found_discrtiption{
		font-size:12px;
	}
	.ses_page_not_found_two_row .ses_not_found_form input[type="search"] {
    width: 115px;
	}
	.ses_page_not_found_two_row .ses_not_found_form button {
    padding: 0 7px;
	}
	.ses_page_not_found_two_row .ses_page_not_found_left{
		float:none;
		border-bottom: 1px solid #8a8a8a;
		border-right:none;
		margin-right:0px;
		padding-right:0px;
		padding-top:0px;
		padding-bottom:70px;
		text-align:left;
	}
	.ses_page_not_found_two_row .ses_not_found_main_tittle{
		float:left;
	}
		
	/*Error page tameplate three*/
	.ses_page_not_found_three_row .ses_not_found_main_tittle{
		font-size:22px;
	}
	.ses_page_not_found_three_row .ses_not_found_discrtiption{
		font-size:14px;
	}
	.ses_page_not_found_three_row .ses_not_found_form p{
		font-size:14px;
	}
	.ses_page_not_found_three_row .ses_not_found_form input[type="search"]{
		width:200px;
	}
	.ses_page_not_found_three_row .ses_not_found_form button{
		padding:0px 12px;
	}
	.ses_page_not_found_three_row p.home_link a{
		font-size:14px;
		padding:8px 12px;
	}
	.ses_page_not_found_three_row p.home_link a img{
		width:14px;
		margin-top:3px;
	}
	/*Error page tameplate four*/
	.ses_page_not_found_four_row .ses_not_found_main_tittle h2{
		font-size:50px;
	}
	.ses_page_not_found_four_row .ses_not_found_mini_tittle{
		font-size:22px;
	}
	.ses_page_not_found_four_row .ses_not_found_form input[type="search"]{
		width:70%;
	}
	.ses_page_not_found_four_row .ses_not_found_form button{
		padding:12px 16px;
	}
	/*Error page tameplate six*/
	.ses_page_not_found_six_row{
		padding:70px 0 120px;
	}
	.ses_page_not_found_six_row .ses_not_found_main_tittle h2{
		font-size:72px;
	}
	.ses_page_not_found_six_row .ses_not_found_mini_tittle{
		font-size:18px;
	}
	.ses_page_not_found_six_row p.small_tittle{
		font-size:14px;
	}
	.ses_page_not_found_six_row p.home_link{
		margin-right:8px;
	}
	.ses_page_not_found_six_row p.home_link a{
		 height: 43px;
    line-height: 43px;
    padding: 0 23px;
		font-size:15px;
	}
	.ses_page_not_found_six_row .ses_not_found_form input[type="search"]{
		width:180px;
		height:43px;
	}
	/*Error page tameplate five*/
	.ses_page_not_found_five_row .ses_not_found_mini_tittle{
		font-size:22px;
	}
	.ses_page_not_found_five_row p.small_tittle{
		font-size:14px;
	}
	.ses_page_not_found_five_row p.home_link{
		margin-right:10px;
	}
	.ses_page_not_found_five_row p.home_link a{
		padding:0px 12px;
	}
	.ses_page_not_found_five_row .ses_not_found_form input[type="search"]{
		width:196px;
	}
	/*Error page tameplate seven*/
	.ses_page_not_found_seven_row .ses_not_found_top_content{
		width:270px;
		padding:33px 10px;
	}
	.ses_page_not_found_seven_row .ses_not_found_main_tittle h2{
		font-size:30px;
		margin-top:15px;
	}
	.ses_page_not_found_seven_row .ses_not_found_mini_tittle{
		font-size:16px;
	}
	.ses_page_not_found_seven_row p.small_tittle{
		font-size:10px;
	}
		/*Error page tameplate eight*/
	.ses_page_not_found_eight_row .ses_not_found_top_content{
		width:270px;
		padding:33px 10px;
	}
	.ses_page_not_found_eight_row .ses_not_found_main_tittle h2{
		font-size:30px;
		margin-top:15px;
	}
	.ses_page_not_found_eight_row .ses_not_found_mini_tittle{
		font-size:16px;
	}
	.ses_page_not_found_eight_row p.small_tittle{
		font-size:10px;
	}
	.ses_page_not_found_eight_row .ses_not_found_form input[type=search] {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 15px;
	}
}
