
/*Review Add Parameter Popup*/
.sespagereview_parameter_popup{
  width:450px;
}
.sespagereview_parameter_popup .form-wrapper{
  padding:0 !important;
}
.sespagereview_parameter_popup .form-label{
  display:none;
}
.sespagereview_parameter_popup .reviewparameter,
.sespagereview_parameter_popup .sespagereview_added_parameter{
  margin:0 10px 10px 0;
	width:250px !important;
}
.sespagereview_parameter_popup .sespagereview_added_parameter{
  margin-right: 10px;
}
.sespagereview_parameter_popup .fa:before{
  margin-right:5px;
}
.sespagereview_parameter_popup a.fa:hover{
  text-decoration:none;
}

