.cd-mini-menu > ul > li .user_auth_link,.cd-mini-menu .core_mini_signup{
    border: 1px solid $theme_button_background_color;
}
.cd-primary-nav-dropdown,.cd-signupform-container .form_bg:before{
	background-color:$theme_list_background_color;
}
.cd-primary-nav-dropdown:before{
	border-bottom-color:$theme_list_background_color !important;
}
.cd-primary-nav-dropdown li a:hover{
	background-color:$theme_list_background_color_hover;
}
.cd-mini-menu .core_mini_signup,
.cd-mini-menu .sm_minimenu_links > li > a.signup-link,
.temp_4_header .temp_mini_menu > ul > li > a.user_signup_link{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
}
.cd-hero-slider .cut_rectangle .seshtmlbackground_form #submit-element,.cut_rectangle .cd-signupform-tabs a.active,.cd-hero-slider .form_tp_tabs a.active,.cd-hero-slider .form_tp_custom #submit-element button,.form_bg #submit-wrapper button,.form_full #submit-wrapper button{
	background-color:$theme_button_background_color;
}
.cd-mini-menu .core_mini_signup:hover,
.cd-mini-menu .sm_minimenu_links > li > a.signup-link:hover,
.temp_4_header .temp_mini_menu > ul > li > a:hover{
	background-color:$theme_button_background_color_hover;
}
.cd-slider-searchbox .slideshow_searchbox_input:before{
	border-right-color:$theme_button_background_color !important;
	border-left-color:$theme_button_background_color !important;
}
.cd-signupform-tabs a.active{
  border-bottom:4px solid $theme_button_background_color;
  color:#fff;
}
.banner_border:before{
 border-left: 5px solid $theme_list_background_color;
 border-right: 5px solid $theme_list_background_color;
 border-bottom: 5px solid $theme_list_background_color;
}
.banner_border_inner:before,.banner_border_inner:after,.banner_transparent_bg:before,.cd-hero-slider .cut_rectangle:before,.cd-hero-slider .cut_rectangle .seshtmlbackground_form:before,.cd-hero-slider .form_tp_custom:before,.cd-hero-slider .form_tp_tabs a,.cut_rectangle .cd-signupform-tabs a{
 background:$theme_list_background_color;
}
.cd-signupform-tabs .form_tp_tabs a,.form_full .cd-signupform-tabs a,.cd-hero-slider .form_tp_tabs a,.cut_rectangle .cd-signupform-tabs a{
	color:$theme_button_background_color !important;
}
.cd-hero-slider .banner_features .banner_feature:hover i{
	background:$theme_button_background_color;
}
.cd-loginbox .global_form_box input + label{
	color:$theme_button_font_color !important;
}
.form_full .cd-signupform-tabs {
  border-bottom: 1px solid $theme_border_color;
}
.cd-slider-nav li.selected a{
	border-color:$theme_button_background_color;
}
.cd_bg_box{
	border-color: $theme_list_background_color;
}
/*Bullet Navigation Css*/
.cd-slider-nav li#bullets{
	background: $theme_list_background_color;
}
.cd-slider-nav li#bullets.selected a{
	background: $theme_button_background_color;
}
/*Lines Navigation Css*/
.cd-slider-nav nav li#lines.selected a{
	background: $theme_button_background_color;
}