.pie_progress_container{
	text-align:center;
}
.pie_progress {
  margin: 10px 20px;
	display:inline-block;
	text-align: center;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.pie_progress svg {
  margin: 0 auto;
}
.pie_progress__number,
.sespagebuilder_pptp_c .pie_progress__label{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.pie_progress__number {
  font-size: 42px;
}
.pie_progress__label{
  font-size: 14px;
	font-weight:bold;
}
.pie_progress__svg {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}
.pie_progress__svg svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
/*Label Position Middle*/
.sespagebuilder_pptp_c .pie_progress__number + .pie_progress__label {
  margin-top: 32px;
}
/*Label Position Top*/
.sespagebuilder_pptp_t{
	margin-top:40px;
}
.sespagebuilder_pptp_t .pie_progress__label {
	margin-top: -30px;
	position: absolute;
	top: 0;
	width: 100%;
}
/*Label Position Bottom*/
.sespagebuilder_pptp_b{
	margin-bottom:40px;
}
.sespagebuilder_pptp_b .pie_progress__label {
	margin-bottom: -30px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
