

/*Member Block Start Here*/
.ariana_member_block{
	background-color:#000;
	height:160px;
	text-align:center;
	position:relative;
	overflow:hidden;
	width:100%;
}
.ariana_member_block_members{
	position:absolute;
	display:flex;
	flex-wrap:wrap;
	overflow-wrap:break-word;
}
.ariana_member_block_members > a,
.ariana_member_block_members > img{
	flex-grow:1;
	opacity:.4;
	transition:150ms all ease-in-out;
}
.ariana_member_block_members > a:hover,
.ariana_member_block_members > img:hover {
	box-shadow:0 0 15px rgba(0, 0, 0, 0.5);
	opacity:1;
	object-fit:cover;
	transform:scale(1.1);
	z-index:2;
}
.ariana_member_block_members > a > img{
	height:100%;
	object-fit:cover;
	width:100%;
}
.ariana_member_block_heading{
	letter-spacing:2px;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	width:100%;
}
.ariana_member_block_heading h2{
	color:#fff;
	font-size:32px;
	font-weight:bold;
	text-shadow:2px 2px 2px rgba(0, 0, 0, 0.5);
}
.ariana_member_block_heading p{
	color:#fff;
	font-size:17px;
	text-shadow:2px 2px 2px rgba(0, 0, 0, 0.5);
}
.ariana_member_block_heading h2,
.ariana_member_block_heading p{
	text-align:center !important;
}
/*Member Block End Here*/
/*Home Slider Widget Start Here*/
.sesariana_home_slider{
	height:450px;
	position:relative;
	width:100%;
	z-index:10;
}
.sesariana_home_slider_img,
.sesariana_home_slider_cont{
	background-position:center center;
	background-size:cover;
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
}
.sesariana_home_slider_cont{
	background-color:rgba(0, 0, 0, 0.4);
	z-index:1;
}
.sesariana_home_slider_cont_inner{
	position:absolute;
	left:50%;
	top:50%;
	display:table;
	max-width:90%;
	text-align:center !important;
	width:100%;
	transform:translate(-50%, -50%);
}
.sesariana_home_slider_cont_inner > div{
	display:table-cell;
	vertical-align:middle;
}
.sesariana_home_slider_cont_inner_img{
	width:300px;
}
.sesariana_home_slider_cont_inner_img img{
	max-width:100%;
	max-height:300px;
}
.sesariana_home_slider_cont_inner_cont{
	overflow:hidden;
	padding-left:50px;
}
.sesariana_home_slider_cont_inner_cont h1{
	line-height:35px;
	font-weight:normal;
	margin-bottom:10px;
}
.sesariana_home_slider_cont_inner_cont h1,
.sesariana_home_slider_cont_inner_cont .sesariana_slider_caption{
	color:#fff;
	display:block;
	font-size:40px;
	text-shadow:0px 0px 4px rgba(0, 0, 0, 0.3);
}
.sesariana_home_slider_cont_inner_cont .caption_holder{
	display:none;
}
.sesariana_home_slider_cont_inner_cont .sesariana_slider_caption{
	font-size:25px;
	min-height:41px;
	display:inline-block;
	vertical-align:middle;
}
.sesariana_home_slider_cont_inner_cont #typed-cursor{
	display:inline-block;
	vertical-align:middle;
	margin-left:5px;
	opacity:1;
	font-weight:100;
	-webkit-animation:blink 0.7s infinite;
	-moz-animation:blink 0.7s infinite;
	-ms-animation:blink 0.7s infinite;
	-o-animation:blink 0.7s infinite;
	animation:blink 0.7s infinite;
}
@-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-ms-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@media only screen and (max-width:1024px){
	.sesariana_home_slider{
		height:350px;
	}
	.sesariana_home_slider_cont_inner{
		max-width:95%;
	}
	.sesariana_home_slider_cont_inner_img{
		max-width:200px;
	}
	.sesariana_home_slider_cont_inner h1{
		font-size:30px;
	}
	.sesariana_home_slider_cont_inner_cont .sesariana_slider_caption{
		font-size:24px;
	}
}
@media only screen and (max-width:768px){
	.sesariana_home_slider{
		height:280px;
	}
	.sesariana_home_slider_cont{
		position:relative;
		padding:10px 0;
	}
	.sesariana_home_slider_cont_inner{
		position: relative;
		transform: inherit;
		left: 0;
		top: 0;
		margin:0 auto;
	}
	.sesariana_home_slider_cont_inner > div{
		display:block;
		max-width:100%;
		width:100%;
		text-align:center;
	}
	.sesariana_home_slider_cont_inner_img img{
		max-height:150px;
		max-width:150px;
	}
	.sesariana_home_slider_cont_inner_cont{
		padding:0;
	}
	.sesariana_home_slider_cont_inner h1{
		font-size:25px;
	}
	.sesariana_home_slider_cont_inner_cont .sesariana_slider_caption{
		font-size:20px;
	}
}
/*Home Slider Widget End Here*/
/*Banner Widget CSS Start Here*/
.layout_sesariana_banner_slideshow{
	background-color:transparent !important;
	border-width:0  !important;
	padding:0 !important;
	margin:0 0 15px !important;
}
.layout_sesspectromedia_banner + .generic_layout_container{
	margin-top:15px !important;
}
.ariana_banner_container{
	position:relative;
}
.ariana_banner_container_wrapper.isfull .ariana_banner_container{
	position:absolute;
	left:0;
	right:0;
}
.ariana_banner_img_container{
	height:100%;
	overflow:hidden;
	position:relative;
	width:100%;
}
.ariana_banner_img_container img{
	height:100%;
	position:absolute;
	object-fit:cover;
	width:100%;
	z-index:1;
}
.ariana_banner_content{
	background-color:rgba(0, 0, 0, .5);
	display:table;
	margin:0 auto;
	height:100%;
	padding:0 200px;
	width:100%;
	top:0;
	position:absolute;
	z-index:2;
}
.ariana_banner_content_inner{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
[dir="rtl"] .ariana_banner_content_inner{
	text-align:center;
}
.ariana_banner_title, .ariana_banner_des{
	margin:10px 0;
	clear:both;
	text-shadow:0 1px 3px rgba(255, 255, 255, 0.3);
}
.ariana_banner_title{
	font-size:40px;
}
.ariana_banner_des{font-size:17px;}
.ariana_banner_btns{margin:30px 0;text-align:center;}
.ariana_banner_btns a{
	border-radius:5px;
	font-weight:bold;
	font-size:15px;
	letter-spacing:1px;
	display:inline-block;
	margin:0 5px;
	padding:10px 20px;
  -webkit-transition:all 200ms ease 0s;
	-moz-transition:all 200ms ease 0s;
	-o-transition:all 200ms ease 0s;
	transition:all 200ms ease 0s;
}
.ariana_banner_btns a:hover{text-decoration:none;}
@media only screen and (max-width:950px){
	.ariana_banner_content{padding:0 50px;}
}
@media only screen and (max-width:768px){
	.ariana_banner_content{padding:0 20px;}
	.ariana_banner_title{font-size:20px;}
	.ariana_banner_des{font-size:15px;}
}
/*Banner Widget CSS End Here*/
/*Highlights Block CSS Start Here*/
.layout_sesariana_highlight > h3{
	display:none;
} 
/*Design 1*/
.seariana_highlights_wrapper{
	background-image:url(../images/highlight-bg.png);
	background-position:ccenter center;
	background-size:cover;
	padding:50px 0 0;
	margin:0;
	width:100%;
}
.sesariana_landing_page .seariana_highlights_wrapper{
	padding-bottom:50px;
}
.seariana_highlights_cont{
	padding:17px 5px 5px;
}
.sesariana_landing_page .seariana_highlights_cont{
	padding:17px 25px 0;
} 
.sesariana_landing_page .seariana_highlights_cont_row{
	margin:0;
}
.seariana_highlights_item{
	float:left;
	padding:3px;
	width:33.33%;
}
[dir="rtl"] .seariana_highlights_item{
	float:right;
}
.seariana_highlights_item_inner{
	border-bottom-width:1px;
}
.seariana_highlights_item_photo{
	height:315px;
	position:relative;
	overflow:hidden;
}
.seariana_highlights_item_photo a,
.seariana_highlights_item_photo a img{
	display:block;
	height:100%;
	object-fit:cover;
	width:100%;
}
.seariana_highlights_item_cont a{
	display:block;
	font-weight:600;
	line-height:40px;
	overflow:hidden;
	padding:0 10px;
	text-align:center;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.seariana_highlights_item:hover .seariana_highlights_item_photo img{
	transform:scale(1.05);
}
.seariana_highlights_item_photo a:after{
	content:"";
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.seariana_highlights_item:hover .seariana_highlights_item_photo a:after{
	background-color:rgba(0, 0, 0, .2);
}
.seariana_highlights_item_photo a:after,
.seariana_highlights_item_photo a img{
	-webkit-transition:all 500ms ease 0s;
	-moz-transition:all 500ms ease 0s;
	-o-transition:all 500ms ease 0s;
	transition:all 500ms ease 0s;
}
@media only screen and (max-width:768px){
	.seariana_highlights_wrapper{
		padding:30px 0;
	}
	.sesariana_landing_page .seariana_highlights_wrapper{
		padding-bottom:10px;
	}
	.sesariana_landing_page .seariana_highlights_cont{
		padding:17px 0 0;
	}
	.sesariana_landing_page .seariana_highlights_cont_row{
		padding:0;
	}
	.seariana_highlights_item{
		width:50%;
	}
}
@media only screen and (max-width:480px){
	.seariana_highlights_cont_row{
		margin:0;
	}
	.sesariana_landing_page .seariana_highlights_cont_row{
		margin-top:10px;
		padding:0 5px;
	}
	.seariana_highlights_item{
		padding:5px !important;
	}
	.seariana_highlights_item_photo{
		height:130px;
	}
}
/*Design 2*/
.seariana_content_wrapper{
	padding:50px 0 0;
	width:100%;
}
.sesariana_landing_page .seariana_content_wrapper{
	padding-bottom:50px;
}
.seariana_content_inner{
	margin:20px auto 0;
}
.sesariana_landing_page .seariana_content_inner{
	max-width:1000px;
}
.seariana_content_item_big{
	height:350px;
	margin-bottom:1px;
	position:relative;
	width:100%;
}
.seariana_content_item_big_img,
.seariana_content_item_big_img img{
	object-fit:cover;
	height:100%;
	width:100%;
}
.seariana_content_item_big_cont{
	bottom:0;
	left:0;
	margin:0 auto;
	padding:30px;
	position:absolute;
	right:0;
	width:75%;
}
.seariana_content_item_big_cont:before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	opacity:.8;
	z-index:0;
}
.seariana_content_item_big_cont_inner{
	position:relative;
	z-index:1;
}
.seariana_content_item_big_cont_inner_info{
	padding-right:70px;
}
[dir="rtl"] .seariana_content_item_big_cont_inner_info{
	padding-left:70px;
	padding-right:0;
}
.seariana_content_item_big_cont_inner_title{
	color:#fff;
	font-size:28px;
	font-weight:bold;
}
.seariana_content_item_big_cont_inner_des{
	color:#fff;
	display:block;
	font-size:17px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.seariana_content_item_big_cont_inner_stat{
	color:rgba(255, 255, 255, .9);
	margin-top:5px;
	font-size:12px;
}
.seariana_content_item_big_cont_inner_arrow {
	background-color:rgba(0, 0, 0, .14);
	bottom:0;
	height:100%;
	position:absolute;
	right:0;
	width:70px;
	z-index:2;
}
[dir="rtl"] .seariana_content_item_big_cont_inner_arrow {
	left:0;
	right:auto;
}
.seariana_content_item_big_cont_inner_arrow i{
	color:#fff;
	left:50%;
	position:absolute;
	top:50%;
	font-size:20px;
	transform:translate(-50%);
}
[dir="rtl"] .seariana_content_item_big_cont_inner_arrow i:before{
	content:"\f060" !important;
}
.seariana_content_item_big_cont_inner_btn{
	border:3px solid #fff;
	border-radius:3px;
	color:#fff;
	display:inline-block;
	font-size:18px;
	font-weight:bold;
	padding:10px 40px;
	position:relative;
	text-transform:uppercase;
	margin-top:20px;
}
.seariana_content_item{
	float:left;
	width:25%;
}
[dir="rtl"] .seariana_content_item{
	float:right;
}
.seariana_content_item + .seariana_content_item a{
	margin-left:1px;
}
[dir="rtl"] .seariana_content_item + .seariana_content_item a{
	margin-left:0;
	margin-right:1px;
}
.seariana_content_item a{
	display:block;
}
.seariana_content_item_img,
.seariana_content_item_img img{
	position:relative;
	overflow:hidden;
	height:200px;
	object-fit:cover;
	width:100%;
}
.seariana_content_item_img:after{
	content:"";
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.seariana_content_item:hover .seariana_content_item_img:after{
	background-color:rgba(0, 0, 0, .2);
}
.seariana_content_item:hover .seariana_content_item_img img{
	transform:scale(1.05);
}
.seariana_content_item_title{
	border-width:0 1px 1px;
	display:block;
	overflow:hidden;
	padding:10px;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.seariana_content_item_img img,
.seariana_content_item_img:after,
.seariana_content_item_big_cont_inner_arrow,
.seariana_content_item_big_cont_inner_btn,
.seariana_content_item_big_cont_inner_title{
	-webkit-transition:all 500ms ease 0s;
	-moz-transition:all 500ms ease 0s;
	-o-transition:all 500ms ease 0s;
	transition:all 500ms ease 0s;
}
@media only screen and (max-width:768px){
	.seariana_content_wrapper{
		padding:30px 0;
	}
	.seariana_content_item_big{
		height:250px;
	}
	.seariana_content_item_big_cont{
		padding:10px;
	}
	.seariana_content_item_big_cont_inner{
		padding:0;
	}
	.seariana_content_item_big_cont_inner_title{font-size:20px;}
	.seariana_content_item_big_cont_inner_btn{padding:8px 15px;font-size:12px;border-width:1px;}
	.seariana_content_item_img, .seariana_content_item_img img{height:100px;}
}
@media only screen and (max-width:480px){
	.seariana_content_item_big_cont{width:100%;}
	.seariana_content_item{width:50%;}
}
/*Highlights Block CSS End Here*/
/*Content Carousel Start Here Here*/
.sesariana_content_carousel_wrapper{
	padding:50px 0;
}
.sesariana_content_carousel{
	position:relative;
}
.sesariana_content_carousel .slick-list{
	overflow:hidden;
	margin:0 auto;
	padding:50px 0;
	max-width:1200px;
}
.sesariana_content_carousel_item{
	float:left;
	position:relative;
}
.sesariana_content_carousel_item > a{
	border-width:1px;
	border-radius:5px;
	overflow:hidden;
	height:250px;
	position:relative;
	display:block;
}
.sesariana_content_carousel_item_photo:before {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	content:"";
	display:inline-block;
	background-image:-webkit-linear-gradient(top, transparent 60%, #000 110%);
	background-image:-o-linear-gradient(top, transparent 60%, #000 110%);
	background-image:linear-gradient(to bottom, transparent 60%, #000 110%);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FF000000', GradientType=0);
}
.sesariana_content_carousel_item.slick-center{
	transform:scale(1.2);
	z-index:1;
}
/*.sesariana_content_carousel_item.slick-center > a{
	box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
}*/
.sesariana_content_carousel_item_photo{
	height:100%;
	width:100%;
}
.sesariana_content_carousel_item_photo img{
	height:100%;
	width:100%;
	object-fit:cover;
}
.sesariana_content_carousel_item_cont{
	position:absolute;
	padding:20px;
	bottom:0;
	width:100%;
	left:0;
	color:#fff;
	font-size:17px;
	font-weight:bold;
}
.sesariana_content_carousel .slick-arrow{
	font-family:FontAwesome;
	font-size:0;
	height:60px;
	width:60px;
	position:absolute;
	padding:0;
	top:50%;
	transform:translateY(-50%);
	z-index:10;
}
.sesariana_content_carousel .slick-arrow:before{
	font-size:22px;
}
.sesariana_content_carousel .slick-prev{
	border-radius:0 50% 50% 0;
	left:0;
}
.sesariana_content_carousel .slick-next{
	border-radius:50% 0 0 50%;
	right:0;
}
.sesariana_content_carousel .slick-prev:before{
	content:"\f053";
}
.sesariana_content_carousel .slick-next:before{
	content:"\f054";
}
@media only screen and (max-width:768px){
	.sesariana_content_carousel_wrapper{padding:30px 0 0;}
	.sesariana_content_carousel .slick-list{padding:0;}
	.sesariana_content_carousel_item a{margin:0 5px;}
}
@media only screen and (max-width:480px){
	.sesariana_content_carousel_item a{margin:0;}
}
/*Content Carousel End Here*/
/*Features Block CSS End Here*/
.sesariana_features_wrapper{
	padding:50px 0;
	width:100%;
}
.sesariana_features_wrapper > h3 + div,
.sesariana_features_wrapper > h3 + p + div{
	margin-top:40px;
}
.sesariana_features_block .sesariana_feature_inner{
	clear:both;
	overflow:hidden;
	position:relative;
	min-height:450px;
	margin:0 auto;
	padding:0 130px;
	max-width:100%;
}
.sesariana_features_block .sesariana_feature_bg{
	text-align:center;
	margin:0 auto;
	position:absolute;
	left:0;
	right:0;
	margin-top:34px;
}
.sesariana_features_block .sesariana_feature_bg img{
	border-radius:100%;
	height:400px;
	object-fit:cover;
	width:400px;
}
.sesariana_feature_item{
	width:50%;
	float:left;
	padding:0px 30px;
	position:relative;
}
[dir="rtl"] .sesariana_feature_item{
	float:right;
}
.sesariana_feature_item_icon{
	float:right;
}
[dir="rtl"] .sesariana_feature_item_icon{
	float:left;
}
.sesariana_feature_item_icon i.icon_feature{
	background-position:center center;
	background-repeat:no-repeat;
	background-color:#ebebeb;
	border-width:7px;
	border-radius:50%;
	color:#666;
	float:left;
	height:120px;
	position:relative;
	text-align:center;
	width:120px;
}
[dir="rtl"] .sesariana_feature_item_icon i.icon_feature{
	float:right;
}
.sesariana_feature_item_cont{
	overflow:hidden;
	display:block;
	padding:20px 20px 0;
	text-align:right;
}
[dir="rtl"] .sesariana_feature_item_cont{
	text-align:left;
}
.sesariana_feature_item_cont h3{
	font-size:20px;
	margin-bottom:10px;
	font-weight:bold;
}
.sesariana_feature_item_cont p{
	font-size:12px;
}
@media only screen and (max-width:1100px){
	.sesariana_features_block .sesariana_feature_inner{
		padding:0 10px;
	}
}
@media only screen and (min-width:769px){
	.sesariana_feature_item:nth-child(odd){
		float:right;
	}
	[dir="rtl"] .sesariana_feature_item:nth-child(odd){
		float:left;
	} 
	.sesariana_feature_item:nth-child(odd) .sesariana_feature_item_icon{
		float:left;
	}
	[dir="rtl"] .sesariana_feature_item:nth-child(odd) .sesariana_feature_item_icon{
		float:right;
	}
	.sesariana_feature_item:nth-child(odd) .sesariana_feature_item_cont{
		text-align:left;
	}
	[dir="rtl"] .sesariana_feature_item:nth-child(odd) .sesariana_feature_item_cont{
		text-align:right;
	}
	.sesariana_feature_item:nth-child(4){
		right:90px;
		margin:43px 0px;
	}
	[dir="rtl"] .sesariana_feature_item:nth-child(4){
		right:auto;
		left:90px;
	}
	.sesariana_feature_item:nth-child(5){
		left:90px;
		margin:43px 0px;
	}
	[dir="rtl"] .sesariana_feature_item:nth-child(5){
		left:auto;
		right:90px;
	}
	.sesariana_feature_item:nth-child(4):before,
	.sesariana_feature_item:nth-child(4):after,
	.sesariana_feature_item:nth-child(5):before,
	.sesariana_feature_item:nth-child(5):after{
		border-style:solid;
		content:"";
		height:1px;
		position:absolute;
		width:60%;
	}
	.sesariana_feature_item:nth-child(4):before{
		border-width:1px 0 0;
		right:130px;
		top:-30px;
	}
	.sesariana_feature_item:nth-child(4):after{
		border-width:0 0 1px;
		right:130px;
		bottom:-30px;
	}
	[dir="rtl"] .sesariana_feature_item:nth-child(4):before,
	[dir="rtl"] .sesariana_feature_item:nth-child(4):after{
		left:130px;
		right:inherit;
	}
	.sesariana_feature_item:nth-child(5):before{
		border-width:1px 0 0;
		left:130px;
		top:-30px;
	}
	.sesariana_feature_item:nth-child(5):after{
		border-width:0 0 1px;
		left:130px;
		bottom:-30px;
	}
	[dir="rtl"] .sesariana_feature_item:nth-child(5):before,
	[dir="rtl"] .sesariana_feature_item:nth-child(5):after{
		left:inherit;
		right:130px;
	}
}
@media only screen and (max-width:768px){
	.sesariana_features_wrapper {
    padding:30px 0;
	}
	.sesariana_features_wrapper > h3 + div, .sesariana_features_wrapper > h3 + p + div {
			margin-top:20px;
	}
	.sesariana_features_block .sesariana_feature_bg{
		display:none;
	}
	.sesariana_features_block .sesariana_feature_inner{
		max-width:100%;
		padding:0 10px;
	}
	.sesariana_feature_item{
		padding:10px;
		width:100%;
	}
	.sesariana_feature_item_icon{
		float:left;
		text-align:center;
		width:100%;
	}
	[dir="rtl"] .sesariana_feature_item_icon{
		float:right;
	}
	.sesariana_feature_item_icon i.icon_feature{
		display:block;
		margin:0 auto 10px;
		float:none;
		background-size:50%;
		height:80px;
		width:80px;
	}
	.sesariana_feature_item_cont{
		text-align:center;
	}
	[dir="rtl"] .sesariana_feature_item_cont{
		text-align:center;
	}
	.ariana_member_block_heading{
		width:100%;
	}
}
@media only screen and (max-width:480px){
	.sesariana_feature_item_cont{
		padding:0 10px;
	}
}
/*Features Block CSS End Here*/

/*Html Block CSS Start Here*/
.sesariana_text_block_wrapper{

}
.sesariana_text_block{
	background-color:#f8f8f8;
	text-align:center;
	padding:20px 0;
}
.sesariana_text_block h2, 
.sesariana_text_block p{
	display:block;
	margin:15px 0;
}
.sesariana_text_block_maintxt{
	font-size:25px;
	font-weight:normal;
  letter-spacing:2px;
}
.sesariana_text_block_subtxt{
	font-size:20px;
	color:#ffffff;
	margin-top:41px !important;
	font-weight:bold;
	background:#ff4c4c;
	padding:20px;
}
.sesariana_text_block_buttons{
	text-align:center;
	margin:30px 0;
}
.sesariana_text_block_buttons a{
	border-width:0;
	display:inline-block;
	font-size:16px;
	margin:0 30px;
	padding:15px 30px;
	border-radius:3px;
	font-weight:normal;
	letter-spacing:2px;
  position:relative;
  overflow:hidden;
}
.sesariana_text_block_buttons a:nth-child(1):before{
	content:'\f002';
}
.sesariana_text_block_buttons a:nth-child(2):before{
	content:'\f044';
}
.sesariana_text_block_buttons a:nth-child(3):before{
	content:'\f0ca';
}
.sesariana_text_block_buttons a:before{
	font-family:FontAwesome;
	margin-right:12px;
	content:'';
}
.sesariana_text_block_buttons a:after{
  content:"";
  position:absolute;
  top:-110%;
  left:-210%;
  width:200%;
  height:20px;
  opacity:0;
  transform:rotate(30deg);
  background:rgba(255, 255, 255, 0.13);
  background:linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100% );
}
.sesariana_text_block_buttons a:hover:after{
  opacity:1;
  top:4%;
  left:-0%;
  transition-property:left, top, opacity;
  transition-duration:0.7s, 0.7s, 0.50s;
  transition-timing-function:ease;
}
@media only screen and (max-width:768px){
	.sesariana_text_block_buttons a{
		margin:5px 0;
		padding:10px 5px;
		width:90%;
	}
}
/*Html Block CSS End Here*/
/*Menu Banner Widget CSS Start Here*/
.sesariana_menubanner #global_wrapper{
	padding-top:0;
}
.layout_sesariana_custom_navigation_menu{
	padding:0 !important;
	margin:0 0 15px;
}
.sesariana_banner{
	width:100%;
}
.sesariana_banner_inner{
	background-size:cover;
	background-color:#222;
	position:absolute;
	left:0;
	right:0;
}
.sesariana_banner_inner > div{
	height: 100%;
	margin: 0 auto;
	width: 1100px;
}
.sesariana_banner_inner > div h2{
	font-size: 30px !important;
	color: #fff !important;
	text-transform: uppercase;
	margin-bottom: 0px !important;
	position:relative;
	top: 50%;
	transform: translateY(-50%);
	letter-spacing: 2px;
}
.sesariana_banner_inner > div._txtcenter h2{
	text-align:center !important;
}
@media only screen and (max-width:1100px){
	.sesariana_banner_inner > div{
		margin:0 auto;
		padding:0 10px;
		width:100%;
	}
}
/*Menu Banner Widget CSS Start Here*/