

.layout_sesweather_location_detect{
	margin:0 !important;
	padding:0 !important;
	border-width:0 !important;
	box-shadow:none !important;
}
.layout_sesweather_weather_sidebar,
.sesweather_sidebar_block .sesweather_bottom_table,
.sesweather_sidebar_block{
	background-color:$theme_list_background_color;
}
.sesweather_sidebar_block .sesweather_bottom_table .day_wise_list,
.sesweather_middle_block .sesweather_bottom_table .day_wise_list,
.sesweather_sidebar_block .sesweather_top_bar{
	background-color:$theme_list_background_color_hover;
}