/*SESPOPUP BUILDER MAIN CSS*/
/*HTML TYPE POPUP*/
.sespopupbuilder_popup_html, .sespopupbuilder_popup_countdown{
	background-color: $theme_list_background_color;
}
/*AGE VERIFICATION POPUP*/
.sespopupbuilder_age_footer .age_btns a, 
.sespopupbuilder_sticky_notification_bar a{
	background: $theme_button_background_color;
	color: $theme_button_font_color !important;
}
/*NOTIFICATION POPUP*/
.sespopupbuilder_notification_header h4{
	background: $theme_list_background_color_hover;
}

/*CONTACT FORM POPUP*/
._contact_group input{
	background: $theme_list_background_color;
	border-color:$theme_list_background_color_hover;
}

/*NEWSLETTER POPUP CSS*/
.sespopupbuilder_newsletter_body input{
	background: $theme_list_background_color_hover;
}

/*COUNTDOWN CSS*/
.sespopupbuilder_countdown_body p#countdown{
	color:$theme_button_background_color;
	background: $theme_list_background_color_hover;
}

/*View Popup*/
ul.view_multiplepopup li{
	background: $theme_list_background_color;
}
ul.view_multiplepopup p{
	color: $theme_button_font_color;
	background: $theme_button_background_color;
}
ul.view_multiplepopup li:hover p{
    background: $theme_button_background_color_hover;
}
ul.view_multiplepopup li input[type="radio"] {
	&:disabled ~ label {
    color: $theme_button_background_color;
    border-color: $theme_button_background_color;
  }
}
ul.view_multiplepopup li label{
	border-color: $theme_button_background_color;
	background-color: $theme_list_background_color;
}
ul.view_multiplepopup li input[type="radio"]:checked + label{	
  background: $theme_button_background_color;
  color: $theme_body_background_color;
}