/*SESPOPUP BUILDER CSS*/
html.sespopupbuilder_remove_overflow {
  overflow: auto !important;
}
.sespopupbuilder_outermain::-webkit-scrollbar{
  width: 7px;
}
/* Track */
.sespopupbuilder_outermain::-webkit-scrollbar-track{
  background: #f1f1f1; 
}
/* Handle */
.sespopupbuilder_outermain::-webkit-scrollbar-thumb{
  background: #888; 
  border-radius: 10px;
}
/* Handle on hover */
.sespopupbuilder_outermain::-webkit-scrollbar-thumb:hover{
  background: #222; 
}
.layout_sespagebuilder_pages,
.layout_sespopupbuilder_popup{
  padding: 0 !important;
  margin: 0 !important;
  background: none !important;
  border-width: 0 !important;
  box-shadow: none !important;
}
.sespopupbuilder_popup{
	display: flex;
	margin: 0 auto;
}
.sespopupbuilder_outermain{
  overflow: auto;
  position: relative;
  width: 100%;
}
.sespopupbuilder_popup a.button{
	display: inline-block;
	border-radius: 0;
}
/*IMAGE TYPE POPUP*/
.sespopupbuilder_popup_image{
  margin: 5px auto;
	position:relative;
}
.sespopupbuilder_popup_image img{
  max-width: 100%;
  height: 100%;
  display: block;
  width: 100%;
  margin: 0 auto;
}
/*HTML TYPE POPUP*/
.sespopupbuilder_popup_html{
  margin: 5px auto;
  padding:10px;
}
/*.sespopupbuilder_popup_html .html_inner_iframe{
	overflow: auto;
}*/
.sespopupbuilder_popup_html .html_inner_iframe img,
.sespopupbuilder_popup_html .html_inner_iframe iframe{
	max-width: 100%;
}
/*Iframe Popup*/
.sespopupbuilder_popup_iframe iframe{
  max-width: 100%;/*
  overflow: auto;*/
  display: block;
  margin: 0 auto;
}
/*FACEBOOK POPUP*/
.sespopupbuilder_popup_facebook iframe{
  max-width: 100% !important;
  display: block;
  margin:0 auto;
}
/*PDF POPUP*/
.sespopupbuilder_popup_pdf iframe{
  max-width: 100% !important;
  display: block;
  margin:0 auto;
}
/*NOTIFICATION POPUP*/
.sespopupbuilder_remove_overflow .mfp-wrap{
	height: auto;
	position: inherit;
}
.sespopupbuilder_remove_overflow .mfp-move-from-top .mfp-with-anim {
	transform: none !important;
}
.sespopupbuilder_sticky_notification_bar{
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  position: relative;
  z-index: 99;	
  position: fixed;
  left:0;
  right:0;
  bottom:0;
  align-items: center;
}
.sespopupbuilder_sticky_notification_bar .tip_content_section {
 	width:75%;
 	padding:0 15px;
}
[dir="rtl"] .sespopupbuilder_sticky_notification_bar .tip_content_section p{
	text-align: right;
}
.sespopupbuilder_sticky_notification_bar .tip_content_section p{
	line-height: 22px;
	font-size: 14px;
	text-align: left;
}
.sespopupbuilder_sticky_notification_bar .tip-announce-icon {
  width: 25%;
}
.sespopupbuilder_sticky_notification_bar a.submit-btn{
	position: static;
	font-size: 14px;
}

/*COOKIES CONSENT POPUP*/
.sespopupbuilder_popup_cookie{
	box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.4);
	position: fixed;
	left: 20px;
	bottom:20px;
	padding: 10px 15px;
	line-height: 24px;
}
/*CONTACT FORM POPUP*/
.sespopupbuilder_contact_header h4{
	font-size: 130%;
	font-weight:bold;
}
.sespopupbuilder_popup_contact ._contact_group{
	margin-bottom: 15px;
}
.sespopupbuilder_popup_contact ._contact_group label{
	width: 100%;
	margin-bottom: 7px;
	display: block;
}
.sespopupbuilder_popup_contact ._contact_group input,
.sespopupbuilder_popup_contact ._contact_group textarea{
	width: 70%;
	display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 100%;
  line-height: normal;
  vertical-align: middle;
  background-image: none;
  border-width:1px;
  border-radius: 0px;
}
.sespopupbuilder_popup_contact ._contact_group textarea{
	height:100px;
}
.sespopupbuilder_popup_contact .contact_submit .close-btn{
	float: right;
	border-radius: 0;
}
/*NEWSLETTER POPUP CSS*/
.sespopupbuilder_newsletter_body .icon{
	margin-bottom: 15px;
	display: block;
	text-align: center;
}
.sespopupbuilder_newsletter_body .icon img{
	width: 70px;
	height: 70px;
}
.sespopupbuilder_newsletter_body{
	margin-bottom: 15px;
}
.sespopupbuilder_newsletter_body h3{
	font-size: 130%;
	font-weight:bold;
	margin-bottom: 10px;
	text-align: center;
}
.sespopupbuilder_newsletter_body p{
	text-align: center;
	margin-bottom: 15px;
}
.sespopupbuilder_newsletter_body input{
	display: block;
	height: 45px;
	border-width: 1px;
	border-radius:0;
	width: 100%;
}
.sespopupbuilder_newsletter_footer .newsletter_btns a{
	display: inline-block;
	float: left;
	border-radius: 0;
}
.sespopupbuilder_newsletter_footer .newsletter_btns a.close-btn{
	float: right;
	border-radius: 0;
}
/*COUNTDOWN POPUP*/
.sespopupbuilder_popup_countdown{
	padding: 10px;
}
.sespopupbuilder_countdown_body p#countdown{
	font-size: 60px;
	font-weight:bold;
	text-align: center;
	padding-top: 10px;
	border-width: 1px;
	margin-bottom: 15px;
}

/*Christmas CSS*/
.sespopupbuilder_popup_christmas{
	position:relative;
	min-height:400px;
}
.sespopupbuilder_popup_christmas .image_christmas, 
.sespopupbuilder_popup_christmas .image_newyear,
.sespopupbuilder_popup_christmas .christmas_image1,
.sespopupbuilder_popup_christmas .christmas_image2{
	width:250px;
	height:auto;
	position:absolute;
}
.sespopupbuilder_popup_christmas .image_christmas,
.sespopupbuilder_popup_christmas .christmas_image1{
	right:0;
	top:0;
}
.sespopupbuilder_popup_christmas .image_newyear,
.sespopupbuilder_popup_christmas .christmas_image2{
	left:0;
	bottom:0;
}
/*Age Popup*/
.sespopupbuilder_age_body h3{
	text-align: center;
	font-weight:bold;
}
.sespopupbuilder_age_footer .age_btns {
	text-align: center;
}
.sespopupbuilder_age_footer .age_btns a,
.sespopupbuilder_sticky_notification_bar a{
	padding: 8px 15px !important;
	border-radius: 0;
	font-size: 14px;
	position: static;
  margin: 5px 5px 0 0 !important;
}
/*View Popup*/
.sespopupbuilder_viewpopup ul.view_multiplepopup li {
  list-style: none;
  display: inline-block;
  border-width: 1px;
  text-align: center;
  float: left;
  box-shadow: 8px 5px 16px 3px rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 8px 5px 16px 3px rgba(0, 0, 0, 0.01);
  position: relative;
  background-image: url(../images/popup-type.png);
  background-position: bottom;
  background-repeat: no-repeat;
  margin: 5px;
  transition: all 0.5s ease;
  width: calc(24% - 10px);
}
.sespopupbuilder_viewpopup ul.view_multiplepopup li a {
  float: left;
  width: 100%;
  padding: 15px;
}
.sespopupbuilder_viewpopup ul.view_multiplepopup p {
  padding: 10px;
  letter-spacing: 0px;
  border-radius: 50px;
  text-transform: capitalize;
  font-size: 14px;
  line-height: normal;
  max-width: 200px;
  margin: 10px auto;
  transition: all 0.5s ease;
}
.sespopupbuilder_viewpopup ul.view_multiplepopup li.animate_type h3{
	font-size: 150%;
	width: 100%;
	font-weight:bold;
	border:0;
	margin:0 0 15px 0;
}
.sespopupbuilder_viewpopup ul li.animate_type{
	width: 100%;
	background: none;
	border:0;
	margin:0;
	box-shadow:none;
}
.sespopupbuilder_viewpopup ul li .animate_align {
  margin: 10px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.sespopupbuilder_viewpopup ul li .animate_align > div{
	margin:0 5px;
}
.sespopupbuilder_viewpopup ul.view_multiplepopup li input[type="radio"] {
  display: none;
}
.sespopupbuilder_viewpopup input[type="radio"]:not(:disabled) ~ label {
  cursor: pointer;
}
.sespopupbuilder_viewpopup input[type="radio"]:disabled ~ label{
  box-shadow: none;
}
.sespopupbuilder_viewpopup ul.view_multiplepopup li label {
  border-width: 1px;
  padding: 8px 20px;
  text-align: center;
  position: relative;
}
@media(min-width:767px) and (max-width:1024px){
	.sespopupbuilder_viewpopup ul.view_multiplepopup li{
		width: calc(50% - 10px);
	}
	.sespopupbuilder_viewpopup ul li.animate_type{
		width: 100%;
	}
	.sespopupbuilder_sticky_notification_bar .tip_content_section {
		width:60%;
		padding: 0;
	}
	.sespopupbuilder_sticky_notification_bar .tip-announce-icon {
  	width: 40%;
	}
}
@media(max-width:767px){
	.sespopupbuilder_viewpopup ul.view_multiplepopup li{
		background-repeat: repeat-x;
		width: 100%;
	}
	.sespopupbuilder_popup_christmas .image_christmas, 
	.sespopupbuilder_popup_christmas .image_newyear,
	.sespopupbuilder_popup_christmas .christmas_image1,
	.sespopupbuilder_popup_christmas .christmas_image2{
		width:100px;
		height:auto;
		position:absolute;
	}
	.sespopupbuilder_viewpopup ul li .animate_align > div{
		margin:5px;
	}
	.sespopupbuilder_viewpopup ul.view_multiplepopup li label{
		padding: 8px 15px;
	}
	.sespopupbuilder_sticky_notification_bar{
		display: block !important;
	}
	.sespopupbuilder_sticky_notification_bar .tip_content_section,
	.sespopupbuilder_sticky_notification_bar .tip-announce-icon{
		width: 100%;
		margin:5px 0;
		padding: 0;
		text-align: center;
	}
	.sespopupbuilder_popup_cookie{
		position: fixed;
		left: 0;
		right: 0;
		bottom: 10px;
		top: auto;
	}
}