.sesseo_admin_form .form-label {
	float: none !important;
	margin-bottom:5px;
}
.sesseo_admin_form h3 {
  margin-bottom: 5px;
}
.sesseo_admin_form  .form-description {
  margin-bottom: 0 !important;
}
.sesseo_sitemap_admin_options > a {
	background: #619dbe;
	color: #fff;
	padding: 10px;
	border: 1px solid #50809b;
	border-radius: 4px;
	font-weight: bold;
	margin-right: 10px;
	display: inline-block;
}