fv
/*Icon*/
.user_home_interest:before,
.sesinterest_interests:before{
	font-family:fontawesome;
	content:"\\f004";
}

/*Profile Interest*/
.sesinterest_profile_list li{
	padding:10px 0;
}
.sesinterest_profile_list li + li{
	border-top-width:1px;
	border-top-style:dashed;
}
.sesinterest_profile_list li i{
	margin-right:10px;
	font-size:20px;
	float:left;
}
.sesinterest_profile_list li span{
	display:block;
	overflow:hidden;
}

/*Choose Interest*/
.sesinterest_name .form-elements {
	margin-top: 0;
	padding-top: 0;
	max-width:500px;
}
.sesinterest_name .global_form div.form-element{
	max-width:100%;
}
.sesinterest_name ul li{
	margin-right: 10px;
  float: left;
	position:relative;
}
.sesinterest_name ul li label {
  position: relative;
	display: inline-block;
  padding: 0 3px;
  line-height: 20px;
}
.sesinterest_name .form-label{
	display:none;
}
.sesinterest_name ul li input[type="checkbox"] {
	position: absolute;
	visibility: hidden;
}
.sesinterest_name ul li input[type="checkbox"]+label {
	border-width: 1px;
	border-radius:4px;
	float: left;
	display: block;
	margin: 0 0 10px;
	line-height: 30px;
	padding: 0 20px;
}
.sesinterest_name li input[type="checkbox"]:checked+label {
	background-color:$theme_button_background_color;
	border-color:$theme_button_background_color;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
	color:$theme_button_font_color;
}
#global_page_user-signup-index .sesinterest_name #custom_interests {
	margin:15px 0 0;
}
#global_page_user-signup-index .sesinterest_name button[type=submit]{
	margin-top:15px;
}
.sesinterest_name #custom_interests {
	margin:5px 0 0;
	width:100%;
	max-width:500px;
	padding:8px;
}
.sesinterest_name .tag-autosuggest > li.autocompleter-choices{
	float:none;
	margin-right:0;
}
/* INTEREST PROFILE INFO */
.sesinterest_profile_info_interest ul{
	text-align: left;
}
.sesinterest_profile_info_interest ul li {
	position:relative;
	display: inline-block;
	margin: 5px 5px 10px 0px;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	padding: 3px 7px;
	border-radius: 4px;
}
.sesinterest_profile_info_interest ul li .del_int {
	position: absolute;
	top: -4px;
	right: -4px;
	width: 14px;
	height: 14px;
	line-height: 13px;
	background: #000;
	font-size: 10px;
	border-radius: 50px;
	text-align: center;
	opacity:0;
	cursor:pointer;
}
.sesinterest_profile_info_interest ul li .del_int a{
	color:#fff;
}
.sesinterest_profile_info_interest ul li:hover .del_int{
	opacity:1;
}
.sesinterest_profile_info_interest ul li:nth-child(10n+1){
	background:#F17074;
}
.sesinterest_profile_info_interest ul li:nth-child(10n+2){
	background:#8377B7;
}
.sesinterest_profile_info_interest ul li:nth-child(10n+3){
	background:#51A2CF;
}
.sesinterest_profile_info_interest ul li:nth-child(10n+4){
	background:#49CCC4;
}
.sesinterest_profile_info_interest ul li:nth-child(10n+5){
	background:#FFBF05;
}
.sesinterest_profile_info_interest ul li:nth-child(10n+6){
	background:#9C28B1;
}
.sesinterest_profile_info_interest ul li:nth-child(10n+7){
	background:#247ECA;
}
.sesinterest_profile_info_interest ul li:nth-child(10n+8){
	background:#03A9F5;
}
.sesinterest_profile_info_interest ul li:nth-child(10n+9){
	background:#F23B37;
}
.sesinterest_profile_info_interest ul li:nth-child(10n+10){
	background:#B7DC7C;
}
