/* $Id:main.css 2015-4-1 00:00:00 SocialEngineSolutions $*/

.sesbusinessteam_icon_user{
  background-image:url(~/application/modules/Sesbusinessteam/externals/images/user.png);
}
.sesbusinessteam_desination_popup .form-label{
	margin-bottom:5px;
}
/*Manage Desinations*/
.sesbusinessteam_manage_designations{
	width:100%;
}
.sesbusinessteam_manage_designations *{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.sesbusinessteam_manage_designations_head > div{
	background-color: #f5f5f5;
	padding: 10px;
	border-bottom: 1px solid #aaa;
	float:left;
	font-weight: bold;
	padding-top: 7px;
	padding-bottom: 7px;
	white-space: nowrap;
}
.sesbusinessteam_manage_designations_list{
	margin-bottom:10px;
	width:100% !important;
}
.sesbusinessteam_manage_designations_list li{
	border-bottom: 1px solid #eee;
	clear:both;
	overflow:hidden;
}
.sesbusinessteam_manage_designations_list li:nth-child(odd){
	background-color:#fff;
}
.sesbusinessteam_manage_designations_list li:nth-child(even) {
	background-color: #f8f8f8;
}
.sesbusinessteam_manage_designations_list li > div{
	padding: 10px;
	font-size: .9em;
	float:left;
	padding-top: 7px;
	padding-bottom: 7px;
	vertical-align: top;
	white-space: normal;
}
