
/*Show Details*/
.sesbusiness_view_stats_popup {
	padding: 20px;
	width:600px;
}
.sesbusiness_view_popup_con .sesbusiness_popup_img_business{
	overflow: hidden;
	display: block;
	margin-bottom:10px;
	border-bottom-width: 1px;
	padding-bottom: 10px;
}
.sesbusiness_view_popup_con .sesbusiness_popup_img_business p.popup_img img{
	margin-right: 15px;
	float: left;
	width: 130px;
}
.sesbusiness_view_popup_con .sesbusiness_popup_img_business p.popup_title{
	font-size: 15px;
	font-weight: bold;
	margin-bottom:8px;
}
.sesbusiness_view_popup_con .sesbusiness_popup_img_business p.owner_title{
		margin-bottom:8px;
}
.sesbusiness_view_popup_con .sesbusiness_popup_img_business p.owner_title b{
	font-weight:bold;
	min-width:100px;
	display:inline-block;
}
.sesbusiness_view_popup_con .sesbusiness_popup_owner_business p.owner_title{
	margin-bottom:8px;;
}
.sesbusiness_view_popup_con .sesbusiness_popup_owner_business p.owner_title b{
	font-weight:bold;
}
.sesbusiness_view_popup_con .sesbusiness_popup_owner_business p.owner_des{
	text-align:justify;
}
/*Clain Request Status Form*/
.sesbusiness_claim_approve_form{
	padding:15px;
}
.sesbusiness_claim_approve_form #approve_decline-wrapper{
	margin:10px 0;
}
.sesbusiness_claim_approve_form #approve_decline-label{
	margin-bottom:5px;
}
/* Poll */
#global_page_sesbusinesspoll-admin-settings-index form > div > div,#global_page_sesbusinesspoll-admin-manage-index form > div > div,#global_page_sesbusinesspoll-admin-settings-level form > div > div{
  padding: 15px;
}
#global_page_sesbusinesspoll-admin-manage-index .sesbasic-form div p,#global_page_sesbusinesspoll-admin-manage-index .sesbasic-form div .tip{
	padding:0 15px;
}

/*Import FAQs*/
.sesbusiness_import_buttons{
	text-align:center;
}
.sesbusiness_import_buttons a{
	border:2px solid #0DC7F1;
	padding:10px;
	display:inline-block;
	width:230px;
	text-decoration:none !important;
	font-size:15px;
	line-height:16px;
	margin:0 3px;
}
.sesbusiness_import_buttons a:before{
	display:inline-block;
	height:16px;
	width:16px;
	content:"";
	margin-right:5px;
	vertical-align:middle;
}
.sesbusiness_import_buttons a:hover{
	opacity:.8;
}
.sesbusiness_download:before{background-image:url(~/application/modules/Sesfaq/externals/images/download.png);}
.sesbusiness_import:before{background-image:url(~/application/modules/Sesfaq/externals/images/import.png);}
.sesbusiness_admin_manage_table tbody tr{
	cursor:move;
}
