/* $Id:constants.css 2015-3-1 00:00:00 SocialEngineSolutions $*/

/*
DEFAULT STYLES FOR THIS THEME
*/
@constants
{



  /*
  NOTE TO SELVES ---------------------------------------------------------------
  Also add constants to application/settings/constants.xml
  END NOTE ---------------------------------------------------------------------
  */

  /*
  PAGE WIDTHS & BACKGROUND COLOR
  Specify the top bar wrapper width (which contains the mini menu, logo, and main menu
  by default), the footer width, and the width of left & right-side columns.
  */
  theme_topbar_width:$sespagethm_main_width;
  theme_topbar_minimenu_width:100%;
  theme_topbar_logo_width:100%;
  theme_topbar_menu_width:auto;
  theme_footer_width:$sespagethm_main_width;
  theme_content_width:$sespagethm_main_width;
  theme_content_columns_left_width:$sespagethm_left_columns_width;
  theme_content_columns_right_width:$sespagethm_right_columns_width;
  theme_body_background_color:$sespagethm_body_background_color;
	theme_body_background_image:url(../../../$sespagethm_body_background_image);
	theme_footer_background_image:url(../../../$sespagethm_footer_background_image);

  /*
  HEADER AND FOOTER COLORS
  These values are only used to style the site-wide header and footer.
  */
  theme_topbar_background_color:$sespagethm_header_background_color;
	theme_topbar_border:$sespagethm_header_border_color;
	theme_menu_logo_top_margin:$sespagethm_menu_logo_top_space;
  theme_topbar_menu_background_color:$sespagethm_mainmenu_background_color;
  theme_topbar_menu_background_color_hover:$sespagethm_mainmenu_background_color_hover;
  theme_topbar_menu_link_color:$sespagethm_mainmenu_link_color;
  theme_topbar_menu_link_decoration:none;
  theme_topbar_menu_link_hover_color:$sespagethm_mainmenu_link_color_hover;
  theme_topbar_menu_link_hover_decoration:none;
  theme_topbar_menu_font_family:$sespagethm_mainmenu_fontfamily;
	theme_topbar_menu_link_size:$sespagethm_mainmenu_fontsize;
  theme_topbar_menu_link_background_color:transparent;
  theme_topbar_menu_link_background_color_hover:transparent;
  theme_topbar_menu_border:none;
	theme_topbar_menu_border_color:$sespagethm_mainmenu_border_color;
	theme_topbar_submenu_background_color:$sespagethm_content_background_color;
  theme_topbar_submenu_background_color_hover:rgba(0, 0, 0, .1);
  theme_topbar_minimenu_background_color:transparent;
  theme_topbar_minimenu_border:$sespagethm_minimenu_border_color;
  theme_topbar_minimenu_link_size:14px;
  theme_topbar_minimenu_link_color:$sespagethm_minimenu_link_color;
  theme_topbar_minimenu_link_hover_color:$sespagethm_minimenu_link_color_hover;
  theme_topbar_minimenu_link_hover_decoration:none;
  theme_topbar_minimenu_link_hover_background_color:transparent;
	theme_minimenu_icon:$sespagethm_minimenu_icon;
	theme_topbar_searchbox_background_color:$sespagethm_header_searchbox_background_color;
	theme_topbar_searchbox_text_color:$sespagethm_header_searchbox_text_color;
	theme_topbar_searchbox_border_color:$sespagethm_header_searchbox_border_color;
	theme_footer_background_color:$sespagethm_footer_background_color;
	theme_footer_border_color:$sespagethm_footer_border_color;
	theme_footer_text_color:$sespagethm_footer_text_color;
	theme_footer_link_color:$sespagethm_footer_link_color;
	theme_footer_link_hover_color:$sespagethm_footer_link_hover_color;

  /*
  TEXT & LINKS
  These values affect the size and colors of your text and links throughout your layout.
  */
  theme_font_family:$sespagethm_body_fontfamily;
  theme_font_size:$sespagethm_body_fontsize;
	theme_font_size_small:11px;
  theme_font_color:$sespagethm_font_color;
  theme_font_color_light:$sespagethm_font_color_light;
  theme_text_align:left;
  theme_link_color:$sespagethm_link_color;
  theme_link_color_hover:$sespagethm_link_color_hover;
  theme_link_decoration:none;
  theme_link_decoration_hover:underline;
  theme_headline_color:$sespagethm_heading_color;
	theme_headline_font_family:$sespagethm_heading_fontfamily;
  theme_headline_size_large:140%;
  theme_headline_size_medium:$sespagethm_heading_fontsize;

  /*
  BORDER COLORS
  These colors are mostly applied to borders that separate items in lists of content.
  */
  theme_border_color:$sespagethm_content_border_color;
  theme_border_medium_color:$sespagethm_content_border_color;
  theme_border_dark_color:$sespagethm_content_border_color_dark;
	theme_heading_border_color:$sespagethm_content_border_color;

  /*
  WIDGET BOX BORDER COLORS
  These colors are applied to borders around or within boxes that have a background color,
  like widgets.
  */
	theme_box_heading_background_color:$sespagethm_content_heading_background_color;
	theme_box_background_color:$sespagethm_content_background_color;
	theme_box_shadow_color:rgba(0, 0, 0, .05);
	theme_comment_background_color:rgba(0, 0, 0, .1);
  theme_foreground_border_color:transparent;
  theme_foreground_border_color_light:transparent;
  theme_foreground_background_color:transparent;

  /*
  INPUT FIELDS AND BUTTONS
  These values style input fields and buttons that appear throughout the layout.
  */
  theme_input_background_color:$sespagethm_input_background_color;
  theme_input_font_color:$sespagethm_input_font_color;
  theme_input_border_colors:$sespagethm_input_border_color;
  theme_button_background_color:$sespagethm_button_background_color;
  theme_button_background_color_hover:$sespagethm_button_background_color_hover;
  theme_button_background_color_active:$sespagethm_button_background_color_active;
  theme_button_font_color:$sespagethm_button_font_color;
  theme_button_border_color:transprant;

  /*
  PHOTO BORDERS
  These colors are applied to the borders drawn around most images and thumbnails.
  */
  theme_photo_border_color:$sespagethm_content_border_color;
  theme_photo_border_color_hover:$sespagethm_content_border_color;

  /*
  FORMS
  These colors are applied to most forms throughout the layout.
  */
  theme_form_border_color:$sespagethm_content_border_color_dark;
  theme_form_background_color:$theme_box_background_color;
  theme_form_label_font_color:$theme_font_color;
  /*
  TABS (BUTTON-STYLE)
  These colors are applied to the button-style tab menus which are often shown
  on browse pages.
  */
  theme_buttontabs_font_color:$sespagethm_theme_secondary_color;
  theme_buttontabs_font_color_hover:$sespagethm_theme_color;
  theme_buttontabs_font_color_active:$sespagethm_theme_color;
  theme_buttontabs_background_color:transparent;
  theme_buttontabs_background_color_hover:transparent;
  theme_buttontabs_background_color_active:transparent;
	theme_buttontabs_border_color:transparent;
	theme_buttontabs_border_color_active:$sespagethm_theme_color;
	theme_buttontabs_font_family:$sespagethm_tab_fontfamily;
	theme_buttontabs_font_size:$sespagethm_tab_fontsize;

  /*
  TABS
  These colors are applied to tab menus (as seen on several pages, including
  the member profile page).
  */
  theme_tabs_background_color:transprant;
  theme_tabs_border_color:$sespagethm_content_border_color;
  theme_tabs_border_color_hover:$sespagethm_theme_color;
  theme_tabs_font_color:$sespagethm_theme_secondary_color;
  theme_tabs_font_color_active:$sespagethm_theme_color;
  theme_tabs_background_color_active:transprant;
  theme_tabs_background_color_hover:transprant;
	theme_tabs_font_family:$sespagethm_tab_fontfamily;
	theme_tabs_font_size:$sespagethm_tab_fontsize;

  /*
  LISTS
  These colors are applied to some lists, especially in pull-down menus.
  */
  theme_list_background_color:$theme_box_background_color;
  theme_list_background_color_alt:rgba(0, 0, 0, .05);
  theme_list_background_color_hover:rgba(0, 0, 0, .05);

  /*
  TAGS
  These colors are applied to tags, which appear on blogs, messages, etc.
  */
  theme_tag_background_color:rgba(0, 0, 0, .1);

  /*
  INLINE PULLDOWN MENUS
  These colors style the inline pulldown menus that appear throughout the layout.
  */
  theme_pulldown_background_color:$theme_box_background_color;
  theme_pulldown_background_color_hover:rgba(0, 0, 0, .1);
  theme_pulldown_background_color_active:$sespagethm_theme_color;
  theme_pulldown_font_color_active:#fff;
  theme_pulldown_border_color:$sespagethm_theme_color;
  theme_pulldown_contents_background_color:$theme_box_background_color;
  theme_pulldown_contents_list_background_color_hover:rgba(0, 0, 0, .1);
  theme_pulldown_contents_list_background_color_active:rgba(0, 0, 0, .1);
	theme_pulldown_contents_list_color:$theme_font_color;
	theme_pulldown_contents_list_color_hover:$sespagethm_theme_color;
	theme_pulldown_contents_list_color_active:$sespagethm_theme_color;
  /*
  GRID VIEW LAYOUT
  These values set the width and height of grid layout.
  */
  theme_grid_width: 215px;
  theme_grid_height: 290px;
  /*
  SIGN IN BUTTON
  These colors style sign in button
  */
  theme_signin_color: #1bc1d6;
  theme_signin_color_hover: #10B9B0;

	/*Theme Variable*/
	theme_header_design: +header_design($sespagethm_header_design);
	theme_popup_design: +popup_design($sespagethm_popup_design);
	theme_header_fixed_layout: +header_fixed_layout($sespagethm_header_fixed_layout);
	theme_responsive_layout:+responsive_layout($sespagethm_responsive_layout);
	theme_user_photo_rounded:+user_photo_rounded($sespagethm_user_photo_round);
	theme_footer_design:+footer_design($sespagethm_footer_design);
}
/* Global member photos and icons */
img.main{max-width:720px;max-height:720px;}
img.thumb_normal{max-width:140px;max-height:160px;}
img.thumb_profile{max-width:200px;max-height:400px;}
img.thumb_icon{width:48px;height:48px;border-radius:100%;}
img.main,
img.thumb_normal,
img.thumb_profile,
img.thumb_icon{border:none;}
$theme_user_photo_rounded;
/*
GLOBAL MIXINS
These groups of styles called "mixins" are included in other
classes throughout the stylesheet.
*/

/* Gives an element a background and/or border */
=foreground{
  background-color:$theme_foreground_background_color;
  border:0px solid $theme_foreground_border_color;
  border-radius:none;
}
/* Gives an element a background and/or border */
=box {
 border-radius: 6px;
 background-color: $theme_box_background_color;
 box-shadow:0px 0px 4px 0px $theme_box_shadow_color;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 margin:1px 1px 15px;
 padding:15px;
}
/* Gives an element a drop shadow */
=shadow($offset_x = 0, $offset_y = 0, $blur_radius = 0, $spread_radius = 0, $shadow_color = "#aaa"){
  -moz-box-shadow:$offset_x $offset_y $blur_radius $spread_radius $shadow_color;
  -webkit-box-shadow:$offset_x $offset_y $blur_radius $spread_radius $shadow_color;
  box-shadow:$offset_x $offset_y $blur_radius $spread_radius $shadow_color;
}

/* Gives an element rounded corners. */
=rounded($radius = 0, $hidecorner1 = false, $hidecorner2 = false, $hidecorner3 = false, $hidecorner4 = false){
  -moz-border-radius:$radius;
  -webkit-border-radius:$radius;
  border-radius:$radius;
  @if($hidecorner1 == true)  {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
  }
  @if($hidecorner2 == true)  {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
  }
  @if($hidecorner3 == true)  {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
  }
  @if($hidecorner4 == true)  {
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
  }
}
/* Prevents users from selecting contents */
=noselect{
  -moz-user-select:none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -ms-user-select:none;
  user-select:none;
}
=header_fixed_layout($layout = 1){
	@if($layout == 1) {
		.layout_page_header{position:fixed !important;top:0;width:100%;z-index:10;}
	}
}
=responsive_layout($layout = 1){
	@if($layout == 1) {
		@include "media-queries.css";
	}
	@if($layout == 2) {
		html{overflow-x:auto;}
		body{overflow-x:visible;min-width:$sespagethm_main_width;}
		.sespagethm_mobile_menu{display:none;}
	}
}
=user_photo_rounded($layout = 1){
	@if($layout == 1) {
		.thumb_icon{border-radius:50%;}
	}
}



/* pop up */

		.sespagethm_quick_popup{border-radius:5px;background-color:$theme_box_background_color;margin:0 auto;padding:20px 40px;overflow:hidden;width:400px;}
		.sespagethm_quick_popup .mfp-close{font-weight:normal;color:$theme_link_color;}
		.sespagethm_popup_header{padding:10px;width:100%;}
		.sespagethm_popup_header > h3{font-size:20px;position:relative;display:inline-block;padding-bottom:8px;}
		.sespagethm_popup_header > h3:before{content:"";position:absolute;height:2px;width:50%;bottom:0px;background:$theme_button_background_color;}
		.sespagethm_quick_popup_social_btns{text-align:center;}
		.sespagethm_quick_popup_social_btns a{margin:5px;float:none;display:inline-block;width:auto;padding:7px 15px;}
		.sespagethm_quick_popup_content .or-sep{border-top-width:1px;margin-bottom:10px;}
		.sespagethm_quick_popup_content{padding:10px;}
		.sespagethm_quick_popup_content .global_form > div > div{border-width:0;padding:0;}
		.sespagethm_quick_popup_content .global_form > div > div > h3 + div{margin:0;}
		.sespagethm_quick_popup_content .global_form > div > div > h3{display:none;}
		.sespagethm_quick_popup_content .global_form div.form-label,
		.sespagethm_quick_popup_content .global_form div.form-element{margin-bottom:5px;width:100%;}
		.sespagethm_quick_popup_content .global_form div.form-label{text-align:left;font-weight:bold;display:none;}
		[dir="rtl"] .sespagethm_quick_popup_content .global_form div.form-label{text-align:right;}
		.sespagethm_quick_popup_content .global_form div.form-element p{margin-bottom:0;}
		.sespagethm_quick_popup_content #submit-label,
		.sespagethm_quick_popup_content #remember-label,
		.sespagethm_quick_popup_content #forgot-label,
		.sespagethm_quick_popup_content #terms-label{display:none;}
		.sespagethm_quick_popup_content .global_form button{position:absolute;bottom:35px;}
		.sespagethm_quick_popup_content #remember-element{margin-top:10px;}
		.sespagethm_quick_popup_content #forgot-wrapper{float:right;margin-top:-20px;position:relative;z-index:1;}
		[dir="rtl"] .sespagethm_quick_popup_content #forgot-wrapper{float:left;}
		.sespagethm_quick_popup_content #forgot-wrapper .form-element{min-width:inherit;}
		.sespagethm_quick_signup_popup .sespagethm_quick_popup_content .global_form input + label,
		[dir="rtl"] .sespagethm_quick_signup_popup .sespagethm_quick_popup_content .global_form input + label{overflow:hidden;float:none;}
		.sespagethm_quick_popup_footer{padding:10px;height:60px;border-top-width:1px;}
		.sespagethm_quick_popup_footer a{color:$theme_button_background_color !important;float:right;border:1px solid $theme_button_background_color;}
		[dir="rtl"] .sespagethm_quick_popup_footer a{float:left;}
		.sespagethm_quick_popup_footer a:hover{background-color:$theme_button_background_color;color:$theme_button_font_color !important;text-decoration:none;box-shadow:0px 3px 12px 0px $theme_button_background_color;}
		.sespagethm_quick_popup_content .global_form button,
		.sespagethm_quick_popup_footer a{border-radius:3px;padding:8px 20px;text-transform:uppercase;font-weight:bold;font-size:15px;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;transition:all 0.2s;}
		.sespagethm_quick_popup_content .recaptchatable #recaptcha_response_field{height:20px !important;}
		.sespagethm_quick_popup_form div#submit-element{border-top: 0 !important;}
		.sespagethm_quick_popup_content #forgot-wrapper .form-element span a{color:$theme_button_background_color;}





