.sespagethm_mobile_menu{display:none;}

@media only screen and (max-width:$sespagethm_main_width){

	div.layout_page_header .layout_main,

	div.layout_page_footer .layout_main{

		padding-left:0;

		padding-right:0;

	}

	.layout_page_header .layout_main{width:100%;}

	.header_top{padding:0 10px;width:100%;}

	/*Header :1*/

	.sespagethm_header_1 .sespagethm_main_navigation > ul > li > a{padding:0 10px;}

	.sespagethm_header_1 .header_search{width:200px;}

  /*Header :2*/

  .sespagethm_header_2 .sespagethm_header_main_menu .sespagethm_main_navigation{width:100%;}

  .sespagethm_header_2 .header_search{margin:0 15px;width:400px;}

  /*Header :3*/

  .sespagethm_header_3 .header_search{margin:0 0 0 10px;width:300px;}

  .sespagethm_header_3 .sespagethm_minimenu_links > li{padding:0 5px;}

  .sespagethm_header_3 .sespagethm_minimenu_links > li + li{border-width:0;}

  .sespagethm_header_3 .sespagethm_minimenu_setting .sespagethm_pulldown_contents_wrapper{right:0;margin-right:0;margin-left:0;}

  [dir="rtl"] .sespagethm_header_3 .sespagethm_minimenu_setting .sespagethm_pulldown_contents_wrapper{left:0;right:auto;}

  .sespagethm_header_3 .sespagethm_minimenu_setting .dropdown_caret{left:auto;right:10px;}

  [dir="rtl"] .sespagethm_header_3 .sespagethm_minimenu_setting .dropdown_caret{left:10px;right:auto;}

  /*Header :4*/

  .sespagethm_header_4 .sespagethm_header_main_menu .sespagethm_main_navigation{width:100%;}

  .sespagethm_header_4 .header_search{margin:0 15px;width:400px;}

  /*Header :5*/

  .sespagethm_header_5 .sespagethm_header_main_menu .sespagethm_main_navigation{width:100%;}

  .sespagethm_header_5 .header_search{margin:0 15px;width:400px;}

  /*Footer*/

  .layout_page_footer .layout_main,

  .sespagethm_footer_main,

  .sespagethm_footer_btm > div{width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

  .sespagethm_footer_main,

  .sespagethm_footer_btm > div{padding:20px 10px;}

  /*Layout*/

  div#global_content{box-sizing:border-box;padding:0 10px;width:100%;}

  .layout_left{padding:0px 10px 0px 0px;}

  [dir="rtl"] .layout_left{padding:0px 0px 0px 10px;}

  .layout_right{padding:0px 0px 0px 10px;}

  [dir="rtl"] .layout_left{padding:0px 10px 0px 0;}



  /*Landing Page*/

  #global_page_core-index-index #global_content{padding:0 !important;}

  #global_page_core-index-index #global_content .layout_main{width:100%;}

}

@media only screen and (min-width:768px) and (max-width:950px) {

  /*Header */

  .sespagethm_header_4 .header_search{margin:0 15px;width:300px;}

  .sespagethm_main_navigation > ul > li > a {padding: 0 8px;}

}

@media only screen and (max-width:900px){

  /*Layouts*/

	.layout_left, .layout_right{width:200px;padding:0 10px 0 0;float:left;clear:both;}

	html[dir="rtl"] .layout_left, html[dir="rtl"] .layout_right{padding:0 0 0 10px;	float:right;}

	.layout_middle{padding:0;}





	ul.feed .feed_item_body .feed_item_attachments .music_player.playlist_short_player{display:none !important;}

	ul.feed .feed_item_body .feed_item_attachments .music_player{display:block !important;width:auto;}

	ul.feed .feed_item_body .feed_item_attachments .video_object object{width:100%;height:auto;}

	/*Notification Page*/

	div.notifications_layout > div.notifications_leftside{width:30%;}



	/*Album View Page*/

	div.albums_viewmedia{max-width:100%;min-width:inherit;}

	div.albums_viewmedia_info{border:0;padding:0;}

	div.album_viewmedia_container{display:block;}

	div.albums_viewmedia #media_photo{max-width:100%;}

	/*Smoothbox Form*/

	#global_content_simple .global_form div.form-label{float:left;}

}

@media only screen and (max-width:767px){
	 body{margin-bottom:0 !important;}

	/*HEADER*/

  .layout_page_header{position:inherit;}

  .layout_page_header .layout_main .sespagethm_header_5{height:auto !important;}

  .sespagethm_mobile_menu{display:inline-block;}

  [dir="rtl"] .sespagethm_mobile_menu{float:leftt;margin-left:0;margin-right:10px;}

  .sespagethm_header_main_menu, .header_search{display:none;}

  .sespagethm_mobile_menu_toggle{display:inline-block;height:30px;margin:15px 0;width:30px;cursor:pointer;}

  .sespagethm_mobile_menu_toggle:active{background-color:$theme_button_background_color_active;}

  .sespagethm_mobile_menu_toggle i:before{color:$theme_font_color;float:left;font-size:21px;margin:5px 6px;}

  .sespagethm_mobile_menu_container{background-color:#fff;position:absolute;transform: translateX(-100%);

    transition: all 300ms linear;;left:0;right:0;z-index:999;border-top: 1px solid #d4d4d4;}

  .sespagethm_mobile_menu_container.show-menu{transform: translateX(0);transition: all 300ms linear;}

  .sespagethm_mobile_menu_search{padding:0 20px;display:inline-block;}

  .sespagethm_mobile_menu_search .header_searchbox{background-color:#fff;margin-top:10px;display:none;position: absolute;left: 0;right: 0;height: 40px;padding: 5px 0;border-radius: 0;z-index:9;}

  .sespagethm_mobile_menu_search .header_searchbox input{color:#111 !important;}

  .sespagethm_mobile_menu_links li{border-bottom: 1px solid rgba(148, 148, 148, 0.2);display: block;margin: 0 10px;font-size: 16px;}
   .sespagethm_minimenu_links .sespagethm_minimenu_icon > a, .sespagethm_minimenu_links .sespagethm_minimenu_icon > span > a{color:white !important;}
  .sespagethm_mobile_menu_links li a{color:$theme_button_background_color;display:block;padding:10px;cursor:pointer;}

  .sespagethm_mobile_menu_links li a:hover{opacity:.9;}

  .fixed_toggle_nav{display:none !important;}
	.sespagethm_minimenu_links .sespagethm_minimenu_icon > a:hover, .sespagethm_minimenu_links .sespagethm_minimenu_icon > span > a:hover, .updates_pulldown_active > a, .messages_pulldown_active > a, .friends_pulldown_active > a, .settings_pulldown_active > a{color:white !important;}

  .sesadvminimenu_minimenu_setting {position: relative !important;top: -6px;}
  .guest-user #header_social{display:none;}
  .header_top{background:$theme_topbar_menu_background_color;}
  .header_top i:before, .sesadvminimenu_minimenu_links .sesadvminimenu_minimenu_icon > a, .sesadvminimenu_minimenu_links
  .sesadvminimenu_minimenu_icon > span > a, .sesadvminimenu_minimenu_links .sesadvminimenu_minimenu_link_signup > a{color: white !important;}
	.sespagethm_minimenu_links > li.sespagethm_minimenu_link_login > a,.sespagethm_minimenu_links >      li.sespagethm_minimenu_link_login > a:hover{color: #ffffff !important;}
	.sespagethm_minimenu_links .sespagethm_minimenu_link > a {border: 1px solid !important;}
	/*Footer*/

  .sespagethm_footer_top_section img{max-width:95%;}

  .sespagethm_footer_main{display:block;}

  .sespagethm_footer_main > div{padding:0;display:block;margin-bottom:20px;overflow:hidden;width:100%;}

  .sespagethm_footer_main > div + div{border-width:0;}

  .sespagethm_footer_social_icons > a{margin:3px;}

  .layout_page_footer select{width:auto;padding:5px;max-width:90%;margin-bottom:0;}

  .sespagethm_footer_btm_links, .sespagethm_footer_copy{margin:5px 0;text-align:center;width:100%;}

  [dir="rtl"] .sespagethm_footer_btm_links, [dir="rtl"] .sespagethm_footer_copy{text-align:center;}

  .sespagethm_footer_head,

  .sespagethm_footer_btm .sespagethm_footer_social_icons{padding:0 !important;}

  .sespagethm_footer_mini > div{padding:5px 0;width:100%;text-align: center;}

  .sespagethm_footer_mini_links form{clear:both;display:block;margin:10px 0 5px;}



	/*Layouts*/

  div#global_content{padding:0;}

  .layout_left, .layout_right{width:100%;padding:0;float:none;clear:both;}

  html[dir="rtl"] .layout_left,	html[dir="rtl"] .layout_right{padding:0;float:none;}

  .layout_middle{padding:0;}
   #global_page_user-profile-index .layout_left, #global_page_user-profile-index .layout_right, #global_page_user-index-home .layout_left, #global_page_user-index-home .layout_right{
      display: none;
   }
#global_wrapper .layout_left > div, #global_wrapper .layout_right > div, #global_wrapper .layout_middle > div, .browsemembers_criteria, .notifications_layout, .sesact_feed_filters, .sesact_post_container, .sesact_tabs_wrapper, div.sesact_tip_box, .sesadvactivity_peopleyoumayknow, .sesadv_tabs_content .layout_page_sesadvancedactivity_index_welcome, .sesact_feed ul.feed > li, .layout_activity_feed ul.feed{
      border-radius:0;
      margin: 0px 0px 15px;
      box-shadow: none;
      border:0 !important;
}
.sessmoothbox_container .sespage_create_container, .sespage_upload_dragdrop_content{
    width: 100% !important;
}
/* activity feed */
.sesact_post_head_option a {
    padding: 0 7px !important;
    border: 0 !important;
}
.sesact_post_head_option a span{
    display: none;
}
.feed_item_body.feed_background_image {
    min-height: 200px;
}
.sesact_feed ul.feed .feed_item_icon {
    margin: 5px 10px !important;
    padding: 5px 0 !important;
}
.sesadvcmt_comments form.advcomment_form > div._form_container > button {
    display: none !important;
}
.sesact_feed ul.feed .comments > form{
    padding-bottom: 0 !important;
}
.sesact_post_head_option a:before{
    margin:5px;
}
.sesact_post_head_option_more_dropbox_wrapper{
    right:-4px;
}
.sesact_post_head_option_more_dropbox:after{
    right:15px;
}
/* members browse */
.browsemembers_results > ul > li:before{
    display:none;
}
.browsemembers_results > ul > li {
    width: 100% !important;
    margin-bottom: 15px;
}
.browsemembers_results > ul{
    margin:0;
}

  /*Tabs*/

	.tabs{display:block;}

	.tabs_alt > ul, .tabs > ul{overflow:auto;white-space:nowrap;padding:0 !important;text-align:center;width:100%;}

	.tabs_alt > ul > li, .tabs > ul > li{float:none !important;display:inline-block;}

  .tab_pulldown_contents_wrapper{right:0;}

  .tabs > ul .sesbasic_browse_nav_pulldown ul li a{white-space:normal;}

  .tabs_alt > ul > li.tab_active > a, .tabs_alt > ul > li.active > a{border-bottom-width:0;}

   body#global_page_user-profile-index div.tabs_alt{background: $theme_box_background_color;}

   /*Form*/

   input[type="text"], input[type="email"], input[type="password"], select,textarea{max-width:100%;width:100%;}

   .global_form > div > div{padding:10px;}

   .global_form div.form-label{text-align:left;}

   [dir="rtl"] .global_form div.form-label{text-align:right;}

   .global_form div.form-label,

   .global_form div.form-element{width:100%;}

   .global_form div.form-element input[type="text"],

   .global_form div.form-element input[type="email"],

   .global_form div.form-element input[type="password"],

   .global_form div.form-element select,

   .global_form div.form-element textarea{max-width:100%;width:100%;}

   .event_calendar_container + select,

   .event_calendar_container + select + select,

   .event_calendar_container + select + select + select{width:auto !important;}



   /*Pages*/

   .networks_left, .networks_right{clear:both;float:none;}

   ul.networks{width:100%;}

   /*Login / Signup Popup*/

   .mfp-content{width:98% !important;}

   .sespagethm_quick_popup{width:100% !important;}

   /*Landing Page*/

   .sespagethm_lp_text_block > div > h2 + p,

   .sespagethm_lp_parallax_content > h2 + p,

   .sespagethm_lp_parallax_foreground_content{padding:0 10px !important;}

   .sespagethm_lp_text_block > div ul li,

   .sespagethm_lp_parallax_content > ul li{margin:20px 0;width:100% !important;}

   .sespagethm_lp_parallax_block_wraper{height:auto !important;}

   .sespagethm_lp_parallax_block{position:relative !important;}

   .sespagethm_lp_parallax_foreground_container{height:auto !important;padding:30px 0;}

   #global_page_core-index-index .sesmusic_item_grid .sesmusic_item_artwork{height:210px !important;}



   /*SE Forum Plugin*/

   #global_page_forum-index-index #global_search_form button{margin-top:10px;}

   ul.forum_categories .forum_lastpost,

   ul.forum_topics .forum_topics_lastpost{display:none;}

   ul.forum_categories .forum_topics, ul.forum_categories .forum_posts, ul.forum_topics .forum_topics_replies, ul.forum_topics .forum_topics_views{width:40px !important;}

   ul.forum_topic_posts .forum_topic_posts_author{width:90px;}

   ul.forum_topic_posts .forum_topic_posts_info_top_options{clear:both;text-align:left;}

   [dir="rtl"] ul.forum_topic_posts .forum_topic_posts_info_top_options{text-align:right;}

   ul.forum_topic_posts .forum_topic_posts_info_top_options a{margin:0 10px 0 0;}

   [dir="rtl"] ul.forum_topic_posts .forum_topic_posts_info_top_options a{margin:0 0 0 10px;}

   .forum_topic_posts_info_body img{max-width:100%;}

   div.forum_topic_title{clear:both;margin-top:10px;float:left;width:100%;}



	 .sespagethm_footer_social_icons > a{

			width:25px;

			height:25px;

		}

		.sespagethm_footer_mini_socialicons a i {

			line-height: 25px;

    }

		.header_mini_menu {

			position: absolute;

      top: 6px;

      right: 0;
			display:block;

    }

    .header_mini_menu > div {

			width: 100%;

    }

		#sespagethm_custom_menu .headline {

			width: auto;

			overflow: visible;

			border-radius: 0;

		}

		.sesadvminimenu_minimenu_links > li {

			float: none;

			margin: 10px;

			display: inline-flex;

			align-items: center;

			justify-content: center;

			position: static;

    }

		.sesadvminimenu_pulldown_contents_wrapper{

			display: none;

			right: 0;


		}

		    .updates_pulldown_active .sesadvminimenu_pulldown_contents_wrapper, .messages_pulldown_active   .sesadvminimenu_pulldown_contents_wrapper, .friends_pulldown_active .sesadvminimenu_pulldown_contents_wrapper, .settings_pulldown_active .sesadvminimenu_pulldown_contents_wrapper{

			display:block;

		}

		#sespagethm_custom_menu .headline h2, .header_logo {

			display: none;

		}

		div#sespagethm_custom_menu_tab_container {

      height: auto !important;

    }

		.sespagethm_mobile_menu_container .header_logo{

			display:block;
      width: 100%;
			border-bottom: 1px solid #ddd;
      margin-bottom: 15px;

		}

		.sespagethm_mobile_menu_search > i {

			position: relative;

			top: -10px;

			font-size: 18px;

    }

		#core_menu_mini_menu #request_count_new.sesadvminimenu_minimenu_count, #core_menu_mini_menu   #notification_count_new.sesadvminimenu_minimenu_count, #core_menu_mini_menu #message_count_new.sesadvminimenu_minimenu_count {

			margin: -5px 0 0 10px;

			z-index: 1;

    }

}

@media only screen and (max-width:540px){

  /*Activity Feed*/

  .sesvideo_attachment_thumb{height:100px;width:150px;}

}



@media only screen and (max-width:480px){

  /*Header*/

  .header_logo{margin-right:0;}

  .header_logo img{max-height:24px;margin-top:14px;}

  .header_mini_menu{}

  .sespagethm_minimenu_links, .sespagethm_minimenu_links > li{position:inherit;}

  .sespagethm_minimenu_links > li > a{padding:0 5px;color:white;}

  .sespagethm_pulldown_contents_wrapper{left:0;margin-left:0;margin-right:0;width:100% !important;}

  .dropdown_caret{display:none;}

	.layout_core_menu_logo img{max-width:100%;}


  /*Layout*/

	.layout_middle{padding:0 0 0 0;}

	.layout_left, .layout_right{clear:both;float:none;width:auto !important;}

	/*Form*/

	#filter_form .form-wrapper{float:none !important;width:100% !important}



	/*Smoothbox Form*/

	#global_content_simple .global_form div.form-label{float:none;}



  /*Activity Feed*/

  .sesvideo_attachment_thumb{height:150px;margin-bottom:10px;width:100%;}

  .feed_attachment_event > div > div,

  .sesvideo_attachment_info{clear:both;}

  .feed .music_player_art{display:none;}



}

@media only screen and (max-width:320px){

	.sesadvminimenu_minimenu_links > li {

    margin: 10px 2px;

	}

}
@media (min-width:600px){
	ul.grid_wrapper > li {margin-bottom:24px;}
}
@media only screen and (min-width:767px){
	#invite_form .global_form textarea{
		width:90%;
	}
}
