
.sespaymentapi_profile_payment:before{
	font-family:fontawesome;
	content:"\\f0d6";
}

/*Payment Approve Popup*/
.sespaymentapi_approve_payment_popup{
	margin:15px 5px 5px 15px;
}
.sespaymentapi_approve_payment_popup form{
  width: 650px;
}
.sespaymentapi_approve_payment_popup form textarea{
  min-height: 50px;
  min-width: inherit;
  width: 350px;
}
