
.notification_type_sesbusinessveroth_approve:before,
.notification_type_sesbusinessveroth_verified:before{
  content:"\\f058";
}
.notification_type_sesbusinessveroth_adminreject:before{
  content:"\\f057";
}
.sesbusinessveroth_verify_msg span{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color;
}
