/* $Id:slideshow.css 2016-07-23 00:00:00 SocialEngineSolutions $*/

.layout_sesproduct_featured_sponsored_verified_category_slideshow {
  padding: 0px !important;
  border: 0px !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.sesproduct_slideshow_product_wrapper.isbulletnav {
  margin-bottom: 35px;
}
.sesproduct_slideshow_product {
  height: 100%;
}
.sesproduct_slideshow_product .sesproduct_slideshow_thumb .sesproduct_slideshow_thumb_img a.slide_thumb {
  width: 100%;
  height: 300px;
  display: block;
  padding: 10px;
}
.sesproduct_slideshow_price {
  font-weight: bold;
  font-size: 150%;
}
.sesproduct_slideshow_product .sesproduct_slideshow_thumb_img span {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  height: 100%;
  width: auto;
}
.sesproduct_slideshow_product .sesproduct_slideshow_thumb_img span.sesproduct_label_featured,
.sesproduct_slideshow_product .sesproduct_slideshow_thumb_img span.sesproduct_label_sponsored {
  width: 20px;
  display: inline-block;
}
.sesproduct_slideshow_product .sesproduct_slideshow_thumb .sesproduct_verified_label {
  position: absolute;
  top: 35px;
  right: 0;
}
.sesproduct_slideshow_inner_view .sesproduct_thumb{
  border-right-width: 1px;
}
.sesproduct_slideshow_product .sesproduct_slideshow_thumb.sesproduct_thumb:hover .sesproduct_list_labels,
.sesproduct_slideshow_product .sesproduct_slideshow_thumb.sesproduct_thumb:hover .sesproduct_verified_label {
  display: none;
}
.sesproduct_slideshow_product .sesproduct_slideshow_thumb .sesproduct_list_grid_thumb_btns,
.sesproduct_slideshow_product .sesproduct_slideshow_thumb .sesproduct_quick_view a {
  opacity: 0;
  transition: all 0.5s ease;
}
.sesproduct_slideshow_product .sesproduct_slideshow_thumb.sesproduct_thumb:hover .sesproduct_list_grid_thumb_btns,
.sesproduct_slideshow_product .sesproduct_slideshow_thumb.sesproduct_thumb:hover .sesproduct_quick_view a {
  opacity: 1;
}
.sesproduct_slideshow_product .sesproduct_rating_value{
	font-size: 90%;
	margin-left:10px;
	float: left;
  line-height: 28px;
}	
.sesproduct_slideshow_product .sesproduct_slideshow_inner_view .sesproduct_slideshow_inside {
  width: 45%;
  float: left;
}
.sesproduct_slideshow_product .sesproduct_slideshow_info .sesproduct_slideshow_info_title {
  font-size: 120%;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
}
.sesproduct_slideshow_product .sesproduct_slideshow_info .sesproduct_verify{
	width: 4%;
	display: inline-block;
}
.sesproduct_slideshow_product .sesproduct_slideshow_info .sesproduct_list_rating {
  margin-top: 5px;
}
.sesproduct_slideshow_product .sesproduct_slideshow_info .sesproduct_list_stats:last-child {
  border: none;
}
.sesproduct_slideshow_info .sesproduct_list_stats span i {
  margin-right: 5px;
}
.sesproduct_slideshow_product .bjqs-controls li a {
  font-size: 170%;
  padding: 5px 13px;
}
.sesproduct_slideshow_product .bjqs-controls li a:before {
  content: '';
  font-family: 'FontAwesome';
  float: right;
}
.sesproduct_slideshow_product .bjqs-controls li.bjqs-next a:before {
  content: '\f105';
}
.sesproduct_slideshow_product .bjqs-controls li.bjqs-prev a:before {
  content: '\f104';
}
.sesproduct_slideshow_product .layout_sesproduct_featured_sponsored_verified_category_slideshow {
  padding: 15px 15px 30px 15px !important;
}
.sesproduct_slideshow_product .bjqs-markers li {
  margin-right: 5px;
}
.sesproduct_slideshow_product .bjqs-markers li a {
  font-size: 0px;
  border-width: 1px;
  border-color: #ccc;
  padding: 7px;
  border-radius: 50%;
}
.sesproduct_slideshow_inside_contant .admin_teg a img {
  display: none;
}
.sesproduct_slideshow_inside_contant {
  overflow: auto;
  width: 55%;
  padding: 25px 20px;
}
.sesproduct_slideshow_inside_contant::-webkit-scrollbar{
  width: 3px;
  height: 5px;
}
.sesproduct_slideshow_inside_contant::-webkit-scrollbar-track{
  background: #f1f1f1; 
}
.sesproduct_slideshow_inside_contant::-webkit-scrollbar-thumb{
  background: #999; 
  border-radius: 10px;
}
.sesproduct_slideshow_inside_contant::-webkit-scrollbar-thumb:hover{
  background: #666; 
}
.sesproduct_slideshow-des {
  font-size: 90%;
  line-height: 160%;
  margin-bottom: 10px;
}
.sesproduct_product_slideshow {
  border-width: 1px;
}
.sesproduct_slideshow_product .sesproduct_price{
	width: 100%;
}
.sesproduct_slideshow_product .sesproduct_slideshow_des{
	clear:both;
	font-size:90%;
	margin-bottom:10px;
	width:100%;
}
/*layout right slideshow css*/
.layout_right .sesproduct_slideshow_product .sesproduct_slideshow_inner_view .sesproduct_slideshow_info,
.layout_left .sesproduct_slideshow_product .sesproduct_slideshow_inner_view .sesproduct_slideshow_info {
  padding: 10px;
}
.layout_right .sesproduct_slideshow_product .sesproduct_slideshow_info .sesproduct_slideshow_info_title,
.layout_left .sesproduct_slideshow_product .sesproduct_slideshow_info .sesproduct_slideshow_info_title {
  font-size: 14px;
}
.layout_right .sesproduct_slideshow_product .sesproduct_slideshow_info .sesproduct_list_stats,
.layout_left .sesproduct_slideshow_product .sesproduct_slideshow_info .sesproduct_list_stats {
  font-size: 10px;
}
/*Full Width Slideshow*/
.sesproduct_slideshow_product_wrapper.isfull_width .sesproduct_slideshow_product_container {
  background: #444;
  left: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
}
.sesproduct_slideshow_product_wrapper.isfull_width .sesproduct_slideshow_product {
  position: inherit !important;
}
ul.bjqs {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: none;
}
li.bjqs-slide {
  position: absolute;
  display: none;
}
ul.bjqs-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;
  bottom: 15%;
  position: absolute;
  left: -20px;
}
ul.bjqs-controls.v-centered li a {
  position: absolute;
}
ul.bjqs-controls.v-centered li.bjqs-next a {
  left: 75px;
  -webkit-transition: all 800ms ease 0s;
  -moz-transition: all 800ms ease 0s;
  -o-transition: all 800ms ease 0s;
  transition: all 800ms ease 0s;
}
.sesproduct_slideshow_product_container:hover ul.bjqs-controls.v-centered li.bjqs-next a {
  left: 75px;
}
.sesproduct_slideshow_product_container:hover ul.bjqs-controls.v-centered li.bjqs-prev a {
  left: 35px;
}
ul.bjqs-controls.v-centered li.bjqs-prev a {
  left: 35px;
  -webkit-transition: all 800ms ease 0s;
  -moz-transition: all 800ms ease 0s;
  -o-transition: all 800ms ease 0s;
  transition: all 800ms ease 0s;
}
ol.bjqs-markers {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  top:-40px;
  z-index: 10;
  position: relative;
}
ol.bjqs-markers.h-centered {
  text-align: center;
}
ol.bjqs-markers li {
  display: inline;
}
ol.bjqs-markers li a {
  display: inline-block;
}
p.bjqs-caption {
  display: block;
  width: 96%;
  margin: 0;
  padding: 2%;
  position: absolute;
  bottom: 0;
}
@media (max-width:600px){
	.sesproduct_slideshow_product_wrapper, 
	.sesproduct_slideshow_product_container,
  .sesproduct_slideshow_product,
  .sesproduct_slideshow_product li.bjqs-slide,
  .sesproduct_slideshow_product ul.bjqs,
  .sesproduct_slideshow_product .bjqs-wrapper{
    height:450px !important;
  }
  .sesproduct_slideshow_product .sesproduct_slideshow_inner_view .sesproduct_slideshow_inside,
  .sesproduct_slideshow_inside_contant {
    width:100%;
  }
  .sesproduct_slideshow_product .sesproduct_slideshow_inner_view .sesproduct_thumb,
	.sesproduct_slideshow_product .sesproduct_slideshow_thumb .sesproduct_slideshow_thumb_img a.slide_thumb{
    height:200px !important;
  }
  .sesproduct_slideshow_inside_contant {
    border-left:0px;
		padding:0;
  }
	.sesproduct_slideshow_product .sesproduct_slideshow_des{
		display:none;
	}
  .sesproduct_slideshow_product .sesproduct_slideshow_inner_view .sesproduct_slideshow_info {
    margin:10px;
  }	
  .sesproduct_slideshow_product .sesproduct_slideshow-des {
    display:none;
  }
	html ul.bjqs-controls{
		left:auto;
		right:130px;
	}
}
