.landing_page_left{
	background:$theme_color;
	color:#fff;
}
.landing_page_right,
.sestwitterclone_quick_popup{
	background:$theme_box_background_color;
}
.landing_page_right_inner .lp_right_btm .lp_signup{
	background:$theme_button_background_color;
	color:$theme_button_font_color;
}
.landing_page_right_inner .lp_right_btm a{
	border:1px solid $theme_button_border_color;
	color:$theme_button_background_color;
}
.landing_page_right_inner .lp_right_btm a:hover{
	background:$theme_button_background_color_hover;
	color:$theme_button_background_color;
}
.landing_page_right .sesbasic_login_form button,
.sestwitterclone_member_other_info div > ._count,
.sestwitterclone_popup_header_title,
.sestwitterclone_quick_popup button.mfp-close{
	color:$theme_button_background_color;
}
.sestwitterclone_member_cover{
	background:$theme_button_background_color;
}
.sestwitterclone_member_photo img {
	border:2px solid $theme_box_background_color;
}
.landing_page_right .sesbasic_login_form #forgot-wrapper a{
	color:$theme_font_color_light;
}

