/* $Id:main.css 2018-07-05 00:00:00 SocialEngineSolutions $ */

.sesslider_navigation a:hover{
	background-color:$theme_button_background_color;
}
.sesslider_navigation a:hover i:before{
	color:$theme_font_background_color;
}

.sesdbslide_slider_nav_dropdown{
	background-color:$theme_list_background_color;
}
.sesdbslide_slider_nav_dropdown:before{
	border-bottom-color:$theme_list_background_color !important;
}
.sesdbslide_slider_nav_dropdown li a:hover{
	background-color:$theme_list_background_color_hover;
}