/*Manage Table*/
.courses_manage_table{
	width:100%;
}
.courses_manage_table *{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.courses_manage_table_head{
	background-color:#f5f5f5;
	border-bottom:1px solid #aaa;
	display:block;
	overflow:hidden;
}
.courses_manage_table_head > div{
	padding:10px;
	float:left;
	font-weight:bold;
	padding-top:7px;
	padding-bottom:7px;
	white-space:nowrap;
}
.courses_manage_table_list{
	margin-bottom:10px;
	width:100% !important;
}
.courses_manage_table_list li{
	border-bottom:1px solid #eee;
	cursor:move;
	clear:both;
	overflow:hidden;
}
.courses_manage_table_list li:nth-child(odd){
	background-color:#fff;
}
.courses_manage_table_list li:nth-child(even) {
	background-color:#f8f8f8;
}
.courses_manage_table_list li > div{
	padding:10px;
	font-size:.9em;
	float:left;
	padding-top:7px;
	padding-bottom:7px;
	vertical-align:top;
	white-space:normal;
}
.courses_wishlist_search_form .search .form-wrapper {
	display:inline-block !important;
	margin-right:10px;
}
.courses_wishlist_search_form .search {
  float: none !important;
}
[id^='global_page_courses-'] .admin_search #date_to-wrapper .form-label,
[id^='global_page_courses-'] .admin_search #date_from-wrapper .form-label
[id^='global_page_courses-'] .admin_search #order_min-wrapper .form-label
[id^='global_page_courses-'] .admin_search #order_max-wrapper .form-label{
	display:none;
}
[id^='global_page_eclassroom-'] .admin_search #date_to-wrapper .form-label,
[id^='global_page_eclassroom-'] .admin_search #date_from-wrapper .form-label
[id^='global_page_eclassroom-'] .admin_search #order_min-wrapper .form-label
[id^='global_page_eclassroom-'] .admin_search #order_max-wrapper .form-label{
	display:none;
}
.admin_search #date_to-wrapper,
.admin_search #order_min-wrapper{
	margin-right:15px;
}
.admin_search #date_to-wrapper,
.admin_search #date_from-wrapper,
.admin_search #order_min-wrapper,
.admin_search #order_max-wrapper{
	float:left;
}
.courses_wishlist_search_form  #integer-wrapper {
	position: relative;
	top: -24px;
}
/* ORDER INVOICE CSS STARTS HERE */
.layout_courses_order_invoice{
	max-width:650px;
	border:0 !important;
	box-shadow:none !important;
	padding:0 !important;
	margin:auto !important;
	width:100%;
}
.courses_invoice_page{
	border-width:1px;
	border-radius:2px;
	border-bottom-width:2px;
}
.courses_invoice_header{
	padding:20px;
	border-bottom-width:1px;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.courses_invoice_header a > img{
	max-height:38px;
}
.courses_invoice_header span > span{
  display:block;
}
.courses_invoice_header span ._num{
	font-size:18px;
	font-weight:600;
}
.courses_invoice_header span ._date{
  font-size:13px;
}
.courses_invoice_body {
  padding:20px;
}
.courses_invoice_details {
	display:flex;
	justify-content:space-between;
}
.courses_invoice_details > div {
  flex:1;
}
.courses_invoice_details > div ._head {
	font-weight:bold;
	margin-bottom:10px;
	font-size:100%;
}
.courses_invoice_details > div ._name{
	margin-bottom:5px;
	font-weight:bold;
	font-size:18px;
}
.courses_invoice_details > div > div {
	font-size:13px;
	line-height:24px;
}
.courses_invoice_table td, 
.courses_invoice_table th,
.courses_invoice_total_table td,
.courses_invoice_total_table th{
  padding:10px;
  vertical-align:middle;
  border-top-width:1px;
  font-weight:normal;
	font-size:95%;
	text-align:center;
}
.courses_invoice_table thead th {
	vertical-align:bottom;
	border-bottom-width:2px;
	font-weight:bold;
}
.courses_invoice_table tbody tr:nth-of-type(odd) {
  background:url(../images/transprant-bg.png);
}
.courses_invoice_table table {
	width:100%;
	max-width:100%;
	margin-top:25px;
}
.courses_invoice_total_table td,
.courses_invoice_total_table th{
	font-size:90%;
}
.courses_invoice_total_table {
  float:right;
	margin-top:10px;
}
.courses_invoice_footer {
	font-size:13px;
	text-align:center;
	font-weight:500;
	padding:15px;
	border-top-width:1px;
}
@media(max-width:767px){
	.courses_invoice_details{
		 display:block;
	}
	.courses_invoice_table{
		overflow-x:auto;
	}
}
/* ORDER INVOICE CSS ENDS HERE */