#coupon_code-element button {
    display: block;
    margin-top: 12px;
    padding: 8px 20px;
}
.coupon_check_availability_btn {
  display: flex;
}
.coupon_check_availability_btn img{
	margin-right:5px;
}
#coupon_code-element i {
	position: absolute;
	margin-top: 22px;
	margin-left: 7px;
	color: #fff;
}